<div class="bg">
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    <div class="loadingDiv">
    </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 mb-3">
				<h2 class="font-weight-bold heading">
					<!-- Click on the blanks and then click on the correct Plural endings from the help box, to form Plural Nouns.  -->
					Click on the blanks and then click on the correct Plural endings from the help box, to form Plural Nouns of the given Singular Nouns.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="helpbox-container">
				<div class="helpbox"><span>es</span></div>
				<div class="helpbox"><span>ves</span></div>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<div class="heading-container">
					<div class="singular"><span>Singular</span></div>
					<div class="plural"><span>Plural</span></div>
				</div>
				<div class="heading-container heading-2">
					<div class="singular"><span>Singular</span></div>
					<div class="plural"><span>Plural</span></div>
				</div>
				<!-- 1 -->
				<div class="question-container">
					<div class="number"><span>1)</span></div>
					<div class="text-container"><span>mosquito</span></div>
					<div class="input-container">
						<input type="text" data-text="mosquito">
						<div class="correct-answer"><span>mosquitoes</span></div>
					</div>
					<div class="img-container">
						<img src="assets/std01-singular-plural-nouns-worksheet3/img/q1.png" alt="" class="img-fluid">
					</div>
				</div>
				<!-- 2 -->
				<div class="question-container">
					<div class="number"><span>2)</span></div>
					<div class="text-container"><span>wife</span></div>
					<div class="input-container">
						<input type="text" data-text="wife">
						<div class="correct-answer"><span>wives</span></div>
					</div>
					<div class="img-container">
						<img src="assets/std01-singular-plural-nouns-worksheet3/img/q2.png" alt="" class="img-fluid">
					</div>
				</div>
				<!-- 3 -->
				<div class="question-container">
					<div class="number"><span>3)</span></div>
					<div class="text-container"><span>shelf</span></div>
					<div class="input-container">
						<input type="text" data-text="shelf">
						<div class="correct-answer"><span>shelves</span></div>
					</div>
					<div class="img-container">
						<img src="assets/std01-singular-plural-nouns-worksheet3/img/q3.png" alt="" class="img-fluid">
					</div>
				</div>
				<!-- 4 -->
				<div class="question-container">
					<div class="number"><span>4)</span></div>
					<div class="text-container"><span>thief</span></div>
					<div class="input-container">
						<input type="text" data-text="thief">
						<div class="correct-answer"><span>thieves</span></div>
					</div>
					<div class="img-container">
						<img src="assets/std01-singular-plural-nouns-worksheet3/img/q4.png" alt="" class="img-fluid">
					</div>
				</div>
				<!-- 5 -->
				<div class="question-container">
					<div class="number"><span>5)</span></div>
					<div class="text-container"><span>calf</span></div>
					<div class="input-container">
						<input type="text" data-text="calf">
						<div class="correct-answer"><span>calves</span></div>
					</div>
					<div class="img-container">
						<img src="assets/std01-singular-plural-nouns-worksheet3/img/q5.png" alt="" class="img-fluid">
					</div>
				</div>
				<!-- 6 -->
				<div class="question-container">
					<div class="number"><span>6)</span></div>
					<div class="text-container"><span>domino</span></div>
					<div class="input-container">
						<input type="text" data-text="domino">
						<div class="correct-answer"><span>dominoes</span></div>
					</div>
					<div class="img-container">
						<img src="assets/std01-singular-plural-nouns-worksheet3/img/q6.png" alt="" class="img-fluid">
					</div>
				</div>
				<!-- 7 -->
				<div class="question-container">
					<div class="number"><span>7)</span></div>
					<div class="text-container"><span>zero</span></div>
					<div class="input-container">
						<input type="text" data-text="zero">
						<div class="correct-answer"><span>zeroes</span></div>
					</div>
					<div class="img-container">
						<img src="assets/std01-singular-plural-nouns-worksheet3/img/q7.png" alt="" class="img-fluid">
					</div>
				</div>
				<!-- 8 -->
				<div class="question-container">
					<div class="number"><span>8)</span></div>
					<div class="text-container"><span>potato</span></div>
					<div class="input-container">
						<input type="text" data-text="potato">
						<div class="correct-answer"><span>potatoes</span></div>
					</div>
					<div class="img-container">
						<img src="assets/std01-singular-plural-nouns-worksheet3/img/q8.png" alt="" class="img-fluid">
					</div>
				</div>
				<!-- end -->
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>
   