<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row m-0">
            <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
                <h2 class="font-weight-bold heading">
                    Click on the blanks and then click on the correct Collective
                    Nouns from the help box, to complete the sentences.

                </h2>
            </div>
        </div>

        <div class="row mb-2">
            <div class="helpbox-container">
                <div class="helpbox-ans" data-text="one">
                    <span>album</span>
                </div>
                <div class="helpbox-ans" data-text="two">
                    <span>pack</span>
                </div>
                <div class="helpbox-ans" data-text="three">
                    <span>crowd</span>
                </div>
                <div class="helpbox-ans" data-text="fourt">
                    <span>string</span>
                </div>
                <div class="helpbox-ans" data-text="fifth">
                    <span>choir</span>
                </div>
                <div class="helpbox-ans" data-text="sixth">
                    <span>team</span>
                </div>
                <div class="helpbox-ans" data-text="seventh">
                    <span>pile</span>
                </div>
                <div class="helpbox-ans" data-text="eight">
                    <span>bunch</span>
                </div>
            </div>
        </div>


        <div class="main-question-container">

            <!-- 1 -->
                <div class="question">
                    <div class="number">
                        <span>1) </span>
                    </div>
                    <div class="text-container">
                        <span>Amy saw a</span>
                        <div class="input-container">
                            <input type="text">
                            <div class="correct-answer">
                                <span>crowd</span>
                            </div>
                        </div>
                        <span>of  people at the beach.</span>
                    </div>
                    <div class="img-container">
                        <img src="assets/std01-collective-noun-worksheet10/img/p1.png" class="img-fluid">
                    </div>

                </div>
                <!-- 2 -->
                <div class="question">
                    <div class="number">
                        <span>2)</span>
                    </div>
                    <div class="text-container">
                        <span>My mother wore a </span>
                        <div class="input-container input-container2">
                            <input type="text">
                            <div class="correct-answer correct-answer2">
                                <span>string</span>
                            </div>
                        </div>
                        <span>of pearls around her neck for the party.</span>
                    </div>
                    <div class="img-container">
                        <img src="assets/std01-collective-noun-worksheet10/img/p2.png" class="img-fluid">
                    </div>

                </div>
                    <!-- 3 -->
                    <div class="question">
                        <div class="number">
                            <span>3)</span>
                        </div>
                        <div class="text-container">
                            <span>My friends and I played with a</span>
                            <div class="input-container input-container3">
                                <input type="text">
                                <div class="correct-answer correct-answer3">
                                    <span>pack</span>
                                </div>
                            </div>
                            <span>of cards on a rainy afternoon.</span>
                        </div>
                        <div class="img-container">
                            <img src="assets/std01-collective-noun-worksheet10/img/p3.png" class="img-fluid">
                        </div>
    
                    </div>
                      <!-- 4 -->
                      <div class="question">
                        <div class="number">
                            <span>4)</span>
                        </div>
                        <div class="text-container">
                            <span>The</span>
                            <div class="input-container">
                                <input type="text">
                                <div class="correct-answer">
                                    <span>team</span>
                                </div>
                            </div>
                            <span>of football players ran excitedly onto the field.</span>
                        </div>
                        <div class="img-container">
                            <img src="assets/std01-collective-noun-worksheet10/img/p4.png" class="img-fluid">
                        </div>
    
                    </div>
                     <!-- 5 -->
                     <div class="question">
                        <div class="number">
                            <span>5)</span>
                        </div>
                        <div class="text-container">
                            <span>My father was looking for his</span>
                            <div class="input-container input-container5">
                                <input type="text">
                                <div class="correct-answer correct-answer5">
                                    <span>bunch</span>
                                </div>
                            </div>
                            <span>of keys everywhere.</span>
                        </div>
                        <div class="img-container">
                            <img src="assets/std01-collective-noun-worksheet10/img/p5.png" class="img-fluid">
                        </div>
    
                    </div>
                     <!-- 6 -->
                     <div class="question">
                        <div class="number">
                            <span>6)</span>
                        </div>
                        <div class="text-container">
                            <span>There was a</span>
                            <div class="input-container">
                                <input type="text">
                                <div class="correct-answer">
                                    <span>pile</span>
                                </div>
                            </div>
                            <span>of books lying on the floor.</span>
                        </div>
                        <div class="img-container">
                            <img src="assets/std01-collective-noun-worksheet10/img/p6.png" class="img-fluid">
                        </div>
    
                    </div>
                     <!-- 7 -->
                     <div class="question">
                        <div class="number">
                            <span>7)</span>
                        </div>
                        <div class="text-container">
                            <span>Peter showed his</span>
                            <div class="input-container input-container7">
                                <input type="text">
                                <div class="correct-answer correct-answer7">
                                    <span>album</span>
                                </div>
                            </div>
                            <span>of stamps to his cousins.</span>
                        </div>
                        <div class="img-container">
                            <img src="assets/std01-collective-noun-worksheet10/img/p7.png" class="img-fluid">
                        </div>
                    </div>
                     <!-- 8 -->
                     <div class="question">
                        <div class="number">
                            <span>8)</span>
                        </div>
                        <div class="text-container">
                            <span>A</span>
                            <div class="input-container">
                                <input type="text">
                                <div class="correct-answer">
                                    <span>choir</span>
                                </div>
                            </div>
                            <span>of singers sang on the stage during the Annual Day celebrations.</span>
                        </div>
                        <div class="img-container">
                            <img src="assets/std01-collective-noun-worksheet10/img/p8.png" class="img-fluid">
                        </div>
                    </div>
                   
        </div>
    </div>
    <div class="btn-row">
        <div class="col-12 text-center">
            <button class="button myButton">Submit</button>
        </div>
    </div>
</div>