<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
				<h2 class="font-weight-bold heading">
					Click on the blanks and then click on the correct Articles from the boxes, to complete the sentences.
				</h2>
				
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<div class="middle">
					<div class="question-container">
						<!-- 1 -->
						<div class="question">
							<div class="number">
								<span>1)</span>
							</div>
							<div class="text-container">
								<span>Robert can play</span>
								<div class="input-container">
									<input type="text">
									<div class="correct-answer">
										<span>the</span>
									</div>
								</div>
								<span>violin.</span>
								<div class="helpbox-main-container">
									<div class="helpbox-container">
										<div class="helpbox">
											<span>a</span>
										</div>
										<div class="helpbox">
											<span>an</span>
										</div>
										<div class="helpbox">
											<span>the</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 2 -->
						<div class="question">
							<div class="number">
								<span>2)</span>
							</div>
							<div class="text-container">
								<span>There is</span>
								<div class="input-container ">
									<input type="text" >
									<div class="correct-answer">
										<span>an</span>
									</div>
								</div>
								<span>orange painting next to the window.</span>
								<div class="helpbox-main-container">
									<div class="helpbox-container">
										<div class="helpbox">
											<span>a</span>
										</div>
										<div class="helpbox">
											<span>an</span>
										</div>
										<div class="helpbox">
											<span>the</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 3 -->
						<div class="question">
							<div class="number">
								<span>3)</span>
							</div>
							<div class="text-container">
								<span>Sam is</span>
								<div class="input-container">
									<input type="text">
									<div class="correct-answer">
										<span>the</span>
									</div>
								</div>
								<span>tallest boy in the class.</span>
								<div class="helpbox-main-container">
									<div class="helpbox-container">
										<div class="helpbox">
											<span>a</span>
										</div>
										<div class="helpbox">
											<span>an</span>
										</div>
										<div class="helpbox">
											<span>the</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 4 -->
						<div class="question">
							<div class="number">
								<span>4)</span>
							</div>
							<div class="text-container">
								<div class="input-container">
									<input type="text" class="captalize">
									<div class="correct-answer">
										<span>A</span>
									</div>
								</div>
								<span>dog was running down the street.</span>
								<div class="helpbox-main-container">
									<div class="helpbox-container">
										<div class="helpbox">
											<span>a</span>
										</div>
										<div class="helpbox">
											<span>an</span>
										</div>
										<div class="helpbox">
											<span>the</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 5 -->
						<div class="question">
							<div class="number">
								<span>5)</span>
							</div>
							<div class="text-container">
								<div class="input-container">
									<input type="text" class="captalize">
									<div class="correct-answer">
										<span>The</span>
									</div>
								</div>
								<span>Nile is the longest river in the world.</span>
								<div class="helpbox-main-container">
									<div class="helpbox-container">
										<div class="helpbox">
											<span>a</span>
										</div>
										<div class="helpbox">
											<span>an</span>
										</div>
										<div class="helpbox">
											<span>the</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 6 -->
						<div class="question">
							<div class="number">
								<span>6)</span>
							</div>
							<div class="text-container">
								<span>My brother and I are going to fly</span>
								<div class="input-container">
									<input type="text">
									<div class="correct-answer">
										<span>a</span>
									</div>
								</div>
								<span>kite.</span>
								<div class="helpbox-main-container">
									<div class="helpbox-container">
										<div class="helpbox">
											<span>a</span>
										</div>
										<div class="helpbox">
											<span>an</span>
										</div>
										<div class="helpbox">
											<span>the</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 7 -->
						<div class="question">
							<div class="number">
								<span>7)</span>
							</div>
							<div class="text-container">
								<span> I use</span>
								<div class="input-container">
									<input type="text">
									<div class="correct-answer">
										<span>an</span>
									</div>
								</div>
								<span>umbrella on a rainy day.</span>
								<div class="helpbox-main-container">
									<div class="helpbox-container">
										<div class="helpbox">
											<span>a</span>
										</div>
										<div class="helpbox">
											<span>an</span>
										</div>
										<div class="helpbox">
											<span>the</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 8 -->
						<div class="question ql">
							<div class="number">
								<span>8)</span>
							</div>
							<div class="text-container">
								<div class="input-container">
									<input type="text" class="captalize">
									<div class="correct-answer">
										<span>A</span>
									</div>
								</div>
								<span>colourful rainbow appeared in the sky.</span>
								<div class="helpbox-main-container">
									<div class="helpbox-container">
										<div class="helpbox">
											<span>a</span>
										</div>
										<div class="helpbox">
											<span>an</span>
										</div>
										<div class="helpbox">
											<span>the</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end -->
					</div>
				</div>
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>