<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>

  <div class="container">
      <div class="row">
          <div class="heading mt-3">
              <h1>
                  <!-- Underline the adjective in each of the following sentences and write 
                  the noun that it describes in the blanks provided. -->
                  <!-- Click on the Adjective in each sentence. Then click on the blank given below the umbrella and click
                  on the Noun in the sentence that the Adjective describes. -->
                  Click on the blanks given below the umbrellas and then click on the underlined words, to classify them correctly as Adjectives and Nouns.
              </h1>
          </div>
      </div>
      <div class="row">
          <div class="col-12  Main_Container">
              <div class="Question_RoW">
                  <div class="Question ">
                      <div class="number">1)</div>
                      <div class="content">
                          <span>The</span> <span>boys</span> <span>in</span> <span>the</span> <span>hostel</span>
                          <span>told</span> <span class="underlined">scary</span> <span class="underlined">stories</span> <span>to</span>
                          <span>one</span> <span>another</span>.
                      </div>
                  </div>
                  <div class="Answer_Container">
                      <div class="Answer Adjective">
                          <input type="text">
                          <div class="correct_answer"><span>scary</span></div>
                          <img src="assets/std03-mixed-adjectives-worksheet4/img/adjective_umbrella.png" alt="" class="img-fluid umbrella">
                      </div>
                      <div class="Answer Noun">
                          <input type="text">
                          <div class="correct_answer"><span>stories</span></div>
                          <img src="assets/std03-mixed-adjectives-worksheet4/img/noun_umbrella.png" alt="" class="img-fluid umbrella">
                      </div>
                  </div>
              </div>
              <div class="Question_RoW">
                  <div class="Question">
                      <div class="number">2)</div>
                      <div class="content">
                          <span>The</span> <span>weatherman</span> <span>predicts</span> <span>a</span> <span class="underlined">rainy</span> <span class="underlined">day</span> <span>today</span>.
                      </div>
                  </div>
                  <div class="Answer_Container">
                      <div class="Answer Adjective">
                          <input type="text">
                          <div class="correct_answer"><span>rainy</span></div>
                      </div>
                      <div class="Answer Noun">
                          <input type="text">
                          <div class="correct_answer"><span>day</span></div>
                      </div>
                  </div>
              </div>
              <div class="Question_RoW">
                  <div class="Question">
                      <div class="number">3)</div>
                      <div class="content">
                          <span>Mary</span> <span>wore</span> <span>a</span> <span class="underlined">straw</span>
                          <span class="underlined">hat</span> <span>when</span> <span>she</span> <span>went</span> <span>on</span>
                          <span>a</span> <span>picnic</span>.
                      </div>
                  </div>
                  <div class="Answer_Container">
                      <div class="Answer Adjective">
                          <input type="text">
                          <div class="correct_answer"><span>straw</span></div>
                      </div>
                      <div class="Answer Noun">
                          <input type="text">
                          <div class="correct_answer"><span>hat</span></div>
                      </div>
                  </div>
              </div>
              <div class="Question_RoW">
                  <div class="Question">
                      <div class="number">4)</div>
                      <div class="content">
                          <span>Mom</span> <span>made</span> <span>a</span> <span>glass</span> <span>of</span> <span class="underlined">thick</span> <span class="underlined">milkshake</span> <span>for</span> <span>me</span>.
                      </div>
                  </div>
                  <div class="Answer_Container">
                      <div class="Answer Adjective">
                          <input type="text">
                          <div class="correct_answer"><span>thick</span></div>
                      </div>
                      <div class="Answer Noun">
                          <input type="text">
                          <div class="correct_answer"><span>milkshake</span></div>
                      </div>
                  </div>
              </div>
              <div class="Question_RoW">
                  <div class="Question">
                      <div class="number">5)</div>
                      <div class="content">
                          <span>Tony</span> <span>bought</span> <span>a</span> <span class="underlined">red</span>
                          <span>and</span> <span>blue</span> <span class="underlined">bicycle</span>.
                      </div>
                  </div>
                  <div class="Answer_Container">
                      <div class="Answer Adjective">
                          <input type="text">
                          <div class="correct_answer"><span>red</span></div>
                      </div>
                      <div class="Answer Noun">
                          <input type="text">
                          <div class="correct_answer"><span>bicycle</span></div>
                      </div>
                  </div>
              </div>
              <div class="Question_RoW">
                  <div class="Question">
                      <div class="number">6)</div>
                      <div class="content">
                          <span>Sarah</span> <span>packed</span> <span>the</span> <span>gift</span> <span>in</span>
                          <span>a</span> <span class="underlined">rectangular</span> <span class="underlined">box</span>.
                      </div>
                  </div>
                  <div class="Answer_Container">
                      <div class="Answer Adjective">
                          <input type="text">
                          <div class="correct_answer"><span>rectangular</span></div>
                      </div>
                      <div class="Answer Noun">
                          <input type="text">
                          <div class="correct_answer"><span>box</span></div>
                      </div>
                  </div>
              </div>
              <div class="Question_RoW">
                  <div class="Question">
                      <div class="number">7)</div>
                      <div class="content">
                          <span>There</span> <span>is</span> <span class="underlined">enough</span> <span class="underlined">juice</span>
                          <span>in</span> <span>the</span> <span>refrigerator</span>.
                      </div>
                  </div>
                  <div class="Answer_Container">
                      <div class="Answer Adjective">
                          <input type="text">
                          <div class="correct_answer"><span>enough</span></div>
                      </div>
                      <div class="Answer Noun">
                          <input type="text">
                          <div class="correct_answer"><span>juice</span></div>
                      </div>
                  </div>
              </div>
              <div class="Question_RoW">
                  <div class="Question">
                      <div class="number">8)</div>
                      <div class="content">
                          <span>The</span> <span>textbook</span> <span>had</span> <span class="underlined">simple</span> <span class="underlined">language</span> <span>for</span> <span>children</span> <span>to</span> <span>understand</span>.
                      </div>
                  </div>
                  <div class="Answer_Container">
                      <div class="Answer Adjective">
                          <input type="text">
                          <div class="correct_answer"><span>simple</span></div>
                      </div>
                      <div class="Answer Noun">
                          <input type="text">
                          <div class="correct_answer"><span>language</span></div>
                      </div>
                  </div>
              </div>
              <div class="Question_RoW">
                  <div class="Question">
                      <div class="number">9)</div>
                      <div class="content">
                          <span>Gold</span> <span>is</span> <span>a</span> <span class="underlined">valuable</span>
                          <span class="underlined">metal</span>.
                      </div>
                  </div>
                  <div class="Answer_Container">
                      <div class="Answer Adjective">
                          <input type="text">
                          <div class="correct_answer"><span>valuable</span></div>
                      </div>
                      <div class="Answer Noun">
                          <input type="text">
                          <div class="correct_answer"><span>metal</span></div>
                      </div>
                  </div>
              </div>
              <div class="Question_RoW">
                  <div class="Question">
                      <div class="number">10)</div>
                      <div class="content">
                          <span>Jim</span> <span>has</span> <span>a</span> <span class="underlined">playful</span>
                          <span class="underlined">puppy</span> <span>as</span> <span>a</span> <span>pet</span>.
                      </div>
                  </div>
                  <div class="Answer_Container">
                      <div class="Answer Adjective">
                          <input type="text">
                          <div class="correct_answer"><span>playful</span></div>
                      </div>
                      <div class="Answer Noun">
                          <input type="text">
                          <div class="correct_answer"><span>puppy</span></div>
                      </div>
                  </div>
                  <img src="assets/std03-mixed-adjectives-worksheet4/img/man.png" alt="" class="img-fluid man">
              </div>
              <a class="submit myButton button">Submit</a>

          </div>
      </div>
  </div>
</div>