<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
              <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide">
              <!-- <img src="" alt="" class="Text fabulous hide"> -->
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
          <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
      <div class="row m-0">
          <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
              <h2 class="font-weight-bold heading">
                  Click on the blanks and then click on the correct Compound 
                  Words from the help box, to complete the sentences.

              </h2>
          </div>
      </div>
    
          <div class="helpbox-container">
              <div class="helpbox-ans">
                  <span>redwood</span>
              </div>
              <div class="helpbox-ans">
                  <span>bagpipe</span>
              </div>
              <div class="helpbox-ans">
                  <span>bulldozer</span>
              </div>
              <div class="helpbox-ans">
                  <span>railway</span>
              </div>
              <div class="helpbox-ans">
                  <span>suitcase</span>
              </div>
              <div class="helpbox-ans">
                  <span>neighbourhood</span>
              </div>
              <div class="helpbox-ans">
                  <span>outgrow</span>
              </div>
              <div class="helpbox-ans">
                  <span>cardboard</span>
              </div>
              
          </div>

          <div class="main-question-container">

              <!-- 1 -->
              <div class="question">
                  <div class="number">
                      <span>1)</span>
                  </div>
                  <div class="text-container">
                      <span>Children </span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>outgrow</span>
                          </div>
                      </div>
                      <span>their clothes very fast.</span>
                  </div>
              </div>
              <!-- 2 -->
              <div class="question">
                  <div class="number">
                      <span>2)</span>
                  </div>
                  <div class="text-container">
                      <span>A porter carried my </span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>suitcase</span>
                          </div>
                      </div>
                      <span>to my room.</span>
                  </div>
              </div>
              <!-- 3 -->
              <div class="question">
                  <div class="number">
                      <span>3)</span>
                  </div>
                  <div class="text-container">
                      <span>The </span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>railway</span>
                          </div>
                      </div>
                      <span>station is very close to Peter’s house.</span>
                  </div>
              </div>
              <!-- 4 -->
              <div class="question">
                  <div class="number">
                      <span>4)</span>
                  </div>
                  <div class="text-container">
                      <span>A </span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>redwood</span>
                          </div>
                      </div>
                      <span>tree can grow upto 300 feet or more.</span>
                  </div>
              </div>
              <!-- 5 -->
              <div class="question">
                  <div class="number">
                      <span>5)</span>
                  </div>
                  <div class="text-container">
                      <span>Daniel used a lot of </span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>cardboard</span>
                          </div>
                      </div>
                      <span>to make his school project.</span>
                  </div>
              </div>
              <!-- 6 -->
              <div class="question">
                  <div class="number">
                      <span>6)</span>
                  </div>
                  <div class="text-container">
                      <span>A </span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>bagpipe</span>
                          </div>
                      </div>
                      <span>is a musical instument which is similar to a flute.</span>
                  </div>
              </div>
              <!-- 7 -->
              <div class="question">
                  <div class="number">
                      <span>7)</span>
                  </div>
                  <div class="text-container">
                      <span>Our </span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>neighbourhood</span>
                          </div>
                      </div>
                      <span>is full of very tall buildings.</span>
                  </div>
              </div>
              <!-- 8 -->
              <div class="question">
                  <div class="number">
                      <span>8)</span>
                  </div>
                  <div class="text-container">
                      <span>Bob the Builder used a </span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>bulldozer </span>
                          </div>
                      </div>
                      <span>to level the ground.</span>
                  </div>
              </div>
              <!-- end -->
          </div>
      
  </div>
  <div class="row btn-row">
      <div class="col-12 text-center">
          <button class="button myButton">Submit</button>
      </div>
  </div>
</div>