<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
              <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide">
              <!-- <img src="" alt="" class="Text fabulous hide"> -->
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
    <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
      <div class="row m-0">
          <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
              <h2 class="font-weight-bold heading">
                  Click on the blanks and then click on the correct Synonyms from
                  the help box, of the underlined words.
              </h2>
          </div>
      </div>

     
          <div class="helpbox-container">
              <div class="helpbox-ans " data-text="one">
                  <span>couch</span>
              </div>
              <div class="helpbox-ans" data-text="two">
                  <span>uncommon</span>
              </div>
              <div class="helpbox-ans" data-text="three">
                  <span>accomplish</span>
              </div>
              <div class="helpbox-ans" data-text="fourt">
                  <span>amusing</span>
              </div>
              <div class="helpbox-ans" data-text="fifth">
                  <span>bunny</span>
              </div>
              
              <div class="helpbox-ans" data-text="sixth">
                  <span>noisy</span>
              </div>
              <div class="helpbox-ans" data-text="seventh">
                  <span>under</span>
              </div>
              <div class="helpbox-ans" data-text="eight">
                  <span>tardy</span>
              </div>
              <div class="helpbox-ans" data-text="eight">
                  <span>cruel</span>
              </div>
              <div class="helpbox-ans" data-text="eight">
                  <span>live</span>
              </div>

          </div>
     


      <div class="main-question-container">

          <!-- 1 -->
              <div class="question">
                  <div class="number">
                      <span>1)</span>
                  </div>
                  <div class="text-container">
                      <span>Jane asked, “What was so <u>funny</u>?”</span>
                      <div class="input-container">
                          <input type="text">
                          <div class="correct-answer">
                              <span>amusing</span>
                          </div>
                      </div>
                     
                  </div>
              </div>
              <!-- 2 -->
              <div class="question">
                  <div class="number">
                      <span>2)</span>
                  </div>
                  <div class="text-container">
                      <span>The music at the concert was too <u>loud</u>.</span>
                      <div class="input-container">
                          <input type="text">
                          <div class="correct-answer">
                              <span>noisy</span>
                          </div>
                      </div>
                  </div>
              </div>
                  <!-- 3 -->
                  <div class="question">
                      <div class="number">
                          <span>3)</span>
                      </div>
                      <div class="text-container">
                          <span>The construction workers vowed to <u>achieve</u> the completion of the bridge by tonight.</span>
                          <div class="input-container">
                              <input type="text">
                              <div class="correct-answer">
                                  <span>accomplish</span>
                              </div>
                          </div>
                      </div>
                  </div>
                    <!-- 4 -->
                    <div class="question">
                      <div class="number">
                          <span>4)</span>
                      </div>
                      <div class="text-container">
                          <span>That was such a comfortable <u>sofa</u>!</span>
                          <div class="input-container">
                              <input type="text">
                              <div class="correct-answer">
                                  <span>couch</span>
                              </div>
                          </div>
                      </div>
                  </div>
                   <!-- 5 -->
                   <div class="question">
                      <div class="number">
                          <span>5)</span>
                      </div>
                      <div class="text-container">
                          <span>Have you looked <u>below</u> the bed?</span>
                          <div class="input-container">
                              <input type="text">
                              <div class="correct-answer">
                                  <span>under</span>
                              </div>
                          </div>
                      </div>
                  </div>
                   <!-- 6 -->
                   <div class="question">
                      <div class="number">
                          <span>6)</span>
                      </div>
                      <div class="text-container">
                          <span> Derek decided not to <u>dwell</u> in the past and to begin all over again.</span>
                          <div class="input-container">
                              <input type="text">
                              <div class="correct-answer">
                                  <span>live</span>
                              </div>
                          </div>
                      </div>
                  </div>
                   <!-- 7 -->
                   <div class="question">
                      <div class="number">
                          <span>7)</span>
                      </div>
                      <div class="text-container">
                          <span>Julia ordered a <u>rabbit</u>-shaped cake for her birthday.</span>
                          <div class="input-container">
                              <input type="text">
                              <div class="correct-answer">
                                  <span>bunny</span>
                              </div>
                          </div>
                      </div>
                  </div>
                   <!-- 8 -->
                   <div class="question">
                      <div class="number">
                          <span>8)</span>
                      </div>
                      <div class="text-container">
                          <span>Hurry up! You are going to be <u>late</u>.</span>
                          <div class="input-container">
                              <input type="text">
                              <div class="correct-answer">
                                  <span>tardy</span>
                              </div>
                          </div>
                      </div>
                  </div>
                   <!-- 9 -->
                   <div class="question">
                      <div class="number">
                          <span>9)</span>
                      </div>
                      <div class="text-container">
                          <span>The <u>wicked</u> man was punished by the king.</span>
                          <div class="input-container">
                              <input type="text">
                              <div class="correct-answer">
                                  <span>cruel</span>
                              </div>
                          </div>
                      </div>
                  </div>
                   <!-- 10 -->
                   <div class="question">
                      <div class="number">
                          <span>10)</span>
                      </div>
                      <div class="text-container">
                          <span>It is <u>rare</u> for Jason to be absent in school.</span>
                          <div class="input-container">
                              <input type="text">
                              <div class="correct-answer">
                                  <span>uncommon</span>
                              </div>
                          </div>
                      </div>
                  </div>
      </div>
  </div>
  <div class="row btn-row">
      <div class="col-12 text-center">
          <button class="button myButton">Submit</button>
      </div>
  </div>
</div>