<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <!-- <img src="" alt="" class="Text keep-practicing hide"> -->
        <!-- <img src="" alt="" class="Text outstanding hide"> -->
        <!-- <img src="" alt="" class="Text brilliant hide"> -->
        <!-- <img src="" alt="" class="Text good-work hide"> -->
        <img src="" alt="" class="Text fabulous hide">
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row m-0">
      <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
        <h2 class="font-weight-bold heading">
          Click on the Proper Nouns in the following sentences.

        </h2>
      </div>
    </div>
    <div class="main-question-container">
      <!-- 1 -->
      <div class="question">
        <div class="number">
          <span>1)</span>
        </div>
        <div class="text-container">
          <span>Yesterday</span>, <span class="right">Jane</span> <span>read</span> <span>a</span>
          <span>story</span> <span>book</span> <span>named</span> <span class="right">Gulliver’s Travels</span>.
        </div>
      </div>
      <!-- 2 -->
      <div class="question">
        <div class="number">
          <span>2)</span>
        </div>
        <div class="text-container">
          <span>My</span> <span>favourite</span> <span>subjects</span> <span>are</span> <span class="right">English</span>
          <span>and</span> <span class="right">Maths</span>.
        </div>
      </div>
      <!-- 3 -->
      <div class="question">
        <div class="number">
          <span>3)</span>
        </div>
        <div class="text-container">
          <span>The</span> <span>trip</span> <span>to</span> <span class="right">Legoland</span>
          <span>during</span> <span>last</span> <span>summer</span> <span>was</span> <span>superb</span>!
        </div>
      </div>
      <!-- 4 -->
      <div class="question">
        <div class="number">
          <span>4)</span>
        </div>
        <div class="text-container">
          <span class="right">Rohan</span> <span>bought</span> <span>a</span> <span>new</span> <span class="right">Lenovo</span>
          <span>laptop</span>.
        </div>
      </div>
      <!-- 5 -->
      <div class="question">
        <div class="number">
          <span>5)</span>
        </div>
        <div class="text-container">
          <span class="right">Amazon</span> <span>has</span> <span>a</span> <span>big</span> <span>sale</span>
          <span>in</span> <span class="right">March</span>.
        </div>
      </div>
      <!-- 6 -->
      <div class="question">
        <div class="number">
          <span>6)</span>
        </div>
        <div class="text-container">
          <span>Last</span> <span class="right">Friday</span>, <span>I</span> <span>invited</span> <span class="right">Charlie</span>
          <span>and</span> <span class="right">David</span> <span>for</span>
          <span>a</span> <span>sleepover</span> <span>party</span>.
        </div>
      </div>
      <!-- 7 -->
      <div class="question">
        <div class="number">
          <span>7)</span>
        </div>
        <div class="text-container">
          <span class="right">The Arctic Ocean</span> <span>is</span> <span>the</span> <span>smallest</span>
          <span>ocean</span> <span>in</span> <span>the</span> <span>world</span>.
        </div>
      </div>
      <!-- 8 -->
      <div class="question">
        <div class="number">
          <span>8)</span>
        </div>
        <div class="text-container">
          <span class="right">Mount Fuji</span> <span>is</span> <span>a</span> <span>tall</span>,
          <span>cone-shape</span>, <span>active</span> <span>volcano</span> <span>in</span> <span class="right">Japan</span>.
        </div>
      </div>
    </div>
  </div>
  <div class="row btn-row">
    <div class="col-12 text-center">
      <button class="button myButton">Submit</button>
    </div>
  </div>
</div>