<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="row">
      <div class="heading mt-3">
        <h1>Click in the circles before the sentences to colour them<span class="comma">,</span> that answers the
          questions with the correct use of
          Prepositions.
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 Question_Container">
        <div class="Questions">
          <div class="Question_Row">
            <div class="Question">
              <div class="number">1)</div>
              <div class="content">Where are Albert<span class="comma">’</span>s shoes?</div>
            </div>
            <div class="options">
              <div class="option">
                <div class="alpha right">a</div>
                <div class="content">Albert<span class="comma">’</span>s shoes are beside the door.</div>
              </div>
              <div class="option">
                <div class="alpha wrong">b</div>
                <div class="content">Albert<span class="comma">’</span>s shoes are at the door.</div>
              </div>
            </div>
          </div>
          <div class="Question_Row">
            <div class="Question">
              <div class="number">2)</div>
              <div class="content">When did Mr. Jason leave the office?</div>
            </div>
            <div class="options">
              <div class="option">
                <div class="alpha wrong">a</div>
                <div class="content">Mr. Jason left the office since he finished his work.</div>
              </div>
              <div class="option">
                <div class="alpha right">b</div>
                <div class="content">Mr. Jason left the office after he finished his work.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="Questions">
          <div class="Question_Row">
            <div class="Question">
              <div class="number">3)</div>
              <div class="content">Where did the horse gallop?</div>
            </div>
            <div class="options">
              <div class="option">
                <div class="alpha right">a</div>
                <div class="content">The horse galloped through the jungle.</div>
              </div>
              <div class="option">
                <div class="alpha wrong">b</div>
                <div class="content">The horse galloped along the jungle.</div>
              </div>
            </div>
          </div>
          <div class="Question_Row">
            <div class="Question">
              <div class="number">4)</div>
              <div class="content">Where did Janet put the flowers?</div>
            </div>
            <div class="options">
              <div class="option">
                <div class="alpha wrong">a</div>
                <div class="content">Janet put the flowers on the vase.</div>
              </div>
              <div class="option">
                <div class="alpha right">b</div>
                <div class="content">Janet put the flowers in the vase.</div>
              </div>
            </div>
          </div>

        </div>
        <div class="Questions">
          <div class="Question_Row">
            <div class="Question">
              <div class="number">5)</div>
              <div class="content">Where does Bob live?</div>
            </div>
            <div class="options">
              <div class="option">
                <div class="alpha wrong">a</div>
                <div class="content">Bob lives at New York.</div>
              </div>
              <div class="option">
                <div class="alpha right">b</div>
                <div class="content">Bob lives in New York.</div>
              </div>
            </div>
          </div>
          <div class="Question_Row">
            <div class="Question">
              <div class="number">6)</div>
              <div class="content">What is the mouse doing?</div>
            </div>
            <div class="options">
              <div class="option">
                <div class="alpha right">a</div>
                <div class="content">The mouse is running away from the cat.</div>
              </div>
              <div class="option">
                <div class="alpha wrong">b</div>
                <div class="content">The mouse is running at the cat.</div>
              </div>
            </div>
          </div>

        </div>

      </div>


    </div>
    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>
  </div>
</div>