<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 mb-3">
				<h2 class="font-weight-bold heading">
					Click on the hearts and then click on the correct words given in the help box, to form Compound Words.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="helpbox-container">
				<div class="helpbox">
					<div class="helpbox-img">
						<img src="assets/std01-compound-word-worksheet8/img/right-heart.png" alt="" class="img-fluid">
					</div>
					<div class="helpbox-text">
						<span>fish</span>
					</div>
				</div>
				<div class="helpbox">
					<div class="helpbox-img">
						<img src="assets/std01-compound-word-worksheet8/img/right-heart.png" alt="" class="img-fluid">
					</div>
					<div class="helpbox-text">
						<span>thing</span>
					</div>
				</div>
				<div class="helpbox">
					<div class="helpbox-img">
						<img src="assets/std01-compound-word-worksheet8/img/right-heart.png" alt="" class="img-fluid">
					</div>
					<div class="helpbox-text">
						<span>rise</span>
					</div>
				</div>
				<div class="helpbox">
					<div class="helpbox-img">
						<img src="assets/std01-compound-word-worksheet8/img/right-heart.png" alt="" class="img-fluid">
					</div>
					<div class="helpbox-text">
						<span>room</span>
					</div>
				</div>
				<div class="helpbox">
					<div class="helpbox-img">
						<img src="assets/std01-compound-word-worksheet8/img/right-heart.png" alt="" class="img-fluid">
					</div>
					<div class="helpbox-text">
						<span>boat</span>
					</div>
				</div>
				<div class="helpbox">
					<div class="helpbox-img">
						<img src="assets/std01-compound-word-worksheet8/img/right-heart.png" alt="" class="img-fluid">
					</div>
					<div class="helpbox-text">
						<span>side</span>
					</div>
				</div>
				<div class="helpbox">
					<div class="helpbox-img">
						<img src="assets/std01-compound-word-worksheet8/img/right-heart.png" alt="" class="img-fluid">
					</div>
					<div class="helpbox-text">
						<span>fast</span>
					</div>
				</div>
				<div class="helpbox">
					<div class="helpbox-img">
						<img src="assets/std01-compound-word-worksheet8/img/right-heart.png" alt="" class="img-fluid">
					</div>
					<div class="helpbox-text">
						<span>paste</span>
					</div>
				</div>
				<div class="helpbox">
					<div class="helpbox-img">
						<img src="assets/std01-compound-word-worksheet8/img/right-heart.png" alt="" class="img-fluid">
					</div>
					<div class="helpbox-text">
						<span>cake</span>
					</div>
				</div>
				<div class="helpbox">
					<div class="helpbox-img">
						<img src="assets/std01-compound-word-worksheet8/img/right-heart.png" alt="" class="img-fluid">
					</div>
					<div class="helpbox-text">
						<span>bowl</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<!-- 1 -->
				<div class="question-container">
					<div class="number"><span>1)</span></div>
					<div class="heart-container">
						<div class="gray-heart-container">
							<img src="assets/std01-compound-word-worksheet8/img/heart.png" alt="" class="img-fluid">
						</div>
						<div class="full-heart-container">
							<div class="left-heart">
								<img src="assets/std01-compound-word-worksheet8/img/left-heart.png" alt="" class="img-fluid">
							</div>
							<div class="right-heart">
								<img src="assets/std01-compound-word-worksheet8/img/right-heart.png" alt="" class="img-fluid">
							</div>
							<div class="text-container">
								<span data-text="break">break</span>
							</div>
						</div>
						<div class="bottom-img">
							<img src="assets/std01-compound-word-worksheet8/img/q1.png" alt="" class="img-fluid">
						</div>
						<div class="correct-answer">
							<span>breakfast</span>
						</div>
						<div class="heart-click">

						</div>
					</div>
				</div>
				<!-- 2 -->
				<div class="question-container">
					<div class="number"><span>2)</span></div>
					<div class="heart-container">
						<div class="gray-heart-container">
							<img src="assets/std01-compound-word-worksheet8/img/heart.png" alt="" class="img-fluid">
						</div>
						<div class="full-heart-container">
							<div class="left-heart">
								<img src="assets/std01-compound-word-worksheet8/img/left-heart.png" alt="" class="img-fluid">
							</div>
							<div class="right-heart">
								<img src="assets/std01-compound-word-worksheet8/img/right-heart.png" alt="" class="img-fluid">
							</div>
							<div class="text-container">
								<span data-text="bed">bed</span>
							</div>
						</div>
						<div class="bottom-img">
							<img src="assets/std01-compound-word-worksheet8/img/q2.png" alt="" class="img-fluid">
						</div>
						<div class="correct-answer">
							<span>bedroom</span>
						</div>
						<div class="heart-click">

						</div>
					</div>
				</div>
				<!-- 3 -->
				<div class="question-container">
					<div class="number"><span>3)</span></div>
					<div class="heart-container">
						<div class="gray-heart-container">
							<img src="assets/std01-compound-word-worksheet8/img/heart.png" alt="" class="img-fluid">
						</div>
						<div class="full-heart-container">
							<div class="left-heart">
								<img src="assets/std01-compound-word-worksheet8/img/left-heart.png" alt="" class="img-fluid">
							</div>
							<div class="right-heart">
								<img src="assets/std01-compound-word-worksheet8/img/right-heart.png" alt="" class="img-fluid">
							</div>
							<div class="text-container">
								<span data-text="in">in</span>
							</div>
						</div>
						<div class="bottom-img">
							<img src="assets/std01-compound-word-worksheet8/img/q3.png" alt="" class="img-fluid">
						</div>
						<div class="correct-answer">
							<span>inside</span>
						</div>
						<div class="heart-click">

						</div>
					</div>
				</div>
				<!-- 4 -->
				<div class="question-container">
					<div class="number"><span>4)</span></div>
					<div class="heart-container">
						<div class="gray-heart-container">
							<img src="assets/std01-compound-word-worksheet8/img/heart.png" alt="" class="img-fluid">
						</div>
						<div class="full-heart-container">
							<div class="left-heart">
								<img src="assets/std01-compound-word-worksheet8/img/left-heart.png" alt="" class="img-fluid">
							</div>
							<div class="right-heart">
								<img src="assets/std01-compound-word-worksheet8/img/right-heart.png" alt="" class="img-fluid">
							</div>
							<div class="text-container">
								<span data-text="sail">sail</span>
							</div>
						</div>
						<div class="bottom-img">
							<img src="assets/std01-compound-word-worksheet8/img/q4.png" alt="" class="img-fluid">
						</div>
						<div class="correct-answer">
							<span>sailboat</span>
						</div>
						<div class="heart-click">

						</div>
					</div>
				</div>
				<!-- 5 -->
				<div class="question-container">
					<div class="number"><span>5)</span></div>
					<div class="heart-container">
						<div class="gray-heart-container">
							<img src="assets/std01-compound-word-worksheet8/img/heart.png" alt="" class="img-fluid">
						</div>
						<div class="full-heart-container">
							<div class="left-heart">
								<img src="assets/std01-compound-word-worksheet8/img/left-heart.png" alt="" class="img-fluid">
							</div>
							<div class="right-heart">
								<img src="assets/std01-compound-word-worksheet8/img/right-heart.png" alt="" class="img-fluid">
							</div>
							<div class="text-container">
								<span data-text="pan">pan</span>
							</div>
						</div>
						<div class="bottom-img">
							<img src="assets/std01-compound-word-worksheet8/img/q5.png" alt="" class="img-fluid">
						</div>
						<div class="correct-answer">
							<span>pancake</span>
						</div>
						<div class="heart-click">

						</div>
					</div>
				</div>
				<!-- 6 -->
				<div class="question-container">
					<div class="number"><span>6)</span></div>
					<div class="heart-container">
						<div class="gray-heart-container">
							<img src="assets/std01-compound-word-worksheet8/img/heart.png" alt="" class="img-fluid">
						</div>
						<div class="full-heart-container">
							<div class="left-heart">
								<img src="assets/std01-compound-word-worksheet8/img/left-heart.png" alt="" class="img-fluid">
							</div>
							<div class="right-heart">
								<img src="assets/std01-compound-word-worksheet8/img/right-heart.png" alt="" class="img-fluid">
							</div>
							<div class="text-container">
								<span data-text="tooth">tooth</span>
							</div>
						</div>
						<div class="bottom-img">
							<img src="assets/std01-compound-word-worksheet8/img/q6.png" alt="" class="img-fluid">
						</div>
						<div class="correct-answer">
							<span>toothpaste</span>
						</div>
						<div class="heart-click">

						</div>
					</div>
				</div>
				<!-- 7 -->
				<div class="question-container">
					<div class="number"><span>7)</span></div>
					<div class="heart-container">
						<div class="gray-heart-container">
							<img src="assets/std01-compound-word-worksheet8/img/heart.png" alt="" class="img-fluid">
						</div>
						<div class="full-heart-container">
							<div class="left-heart">
								<img src="assets/std01-compound-word-worksheet8/img/left-heart.png" alt="" class="img-fluid">
							</div>
							<div class="right-heart">
								<img src="assets/std01-compound-word-worksheet8/img/right-heart.png" alt="" class="img-fluid">
							</div>
							<div class="text-container">
								<span data-text="fish">fish</span>
							</div>
						</div>
						<div class="bottom-img">
							<img src="assets/std01-compound-word-worksheet8/img/q7.png" alt="" class="img-fluid">
						</div>
						<div class="correct-answer">
							<span>fishbowl</span>
						</div>
						<div class="heart-click">

						</div>
					</div>
				</div>
				<!-- 8 -->
				<div class="question-container">
					<div class="number"><span>8)</span></div>
					<div class="heart-container">
						<div class="gray-heart-container">
							<img src="assets/std01-compound-word-worksheet8/img/heart.png" alt="" class="img-fluid">
						</div>
						<div class="full-heart-container">
							<div class="left-heart">
								<img src="assets/std01-compound-word-worksheet8/img/left-heart.png" alt="" class="img-fluid">
							</div>
							<div class="right-heart">
								<img src="assets/std01-compound-word-worksheet8/img/right-heart.png" alt="" class="img-fluid">
							</div>
							<div class="text-container">
								<span data-text="no">no</span>
							</div>
						</div>
						<div class="bottom-img">
							<img src="assets/std01-compound-word-worksheet8/img/q8.png" alt="" class="img-fluid">
						</div>
						<div class="correct-answer">
							<span>nothing</span>
						</div>
						<div class="heart-click">

						</div>
					</div>
				</div>
				<!-- 9 -->
				<div class="question-container">
					<div class="number"><span>9)</span></div>
					<div class="heart-container">
						<div class="gray-heart-container">
							<img src="assets/std01-compound-word-worksheet8/img/heart.png" alt="" class="img-fluid">
						</div>
						<div class="full-heart-container">
							<div class="left-heart">
								<img src="assets/std01-compound-word-worksheet8/img/left-heart.png" alt="" class="img-fluid">
							</div>
							<div class="right-heart">
								<img src="assets/std01-compound-word-worksheet8/img/right-heart.png" alt="" class="img-fluid">
							</div>
							<div class="text-container">
								<span data-text="gold">gold</span>
							</div>
						</div>
						<div class="bottom-img">
							<img src="assets/std01-compound-word-worksheet8/img/q9.png" alt="" class="img-fluid">
						</div>
						<div class="correct-answer">
							<span>goldfish</span>
						</div>
						<div class="heart-click">

						</div>
					</div>
				</div>
				<!-- 10 -->
				<div class="question-container">
					<div class="number"><span>10)</span></div>
					<div class="heart-container">
						<div class="gray-heart-container">
							<img src="assets/std01-compound-word-worksheet8/img/heart.png" alt="" class="img-fluid">
						</div>
						<div class="full-heart-container">
							<div class="left-heart">
								<img src="assets/std01-compound-word-worksheet8/img/left-heart.png" alt="" class="img-fluid">
							</div>
							<div class="right-heart">
								<img src="assets/std01-compound-word-worksheet8/img/right-heart.png" alt="" class="img-fluid">
							</div>
							<div class="text-container">
								<span data-text="sun">sun</span>
							</div>
						</div>
						<div class="bottom-img">
							<img src="assets/std01-compound-word-worksheet8/img/q10.png" alt="" class="img-fluid">
						</div>
						<div class="correct-answer">
							<span>sunrise</span>
						</div>
						<div class="heart-click">

						</div>
					</div>
				</div>
				<!--  -->
				<!-- end -->

			</div>
		</div>
		
		<div class="row btn-row">
				<div class="col-12 text-center">
						<button class="button myButton">Submit</button>
				</div>
			</div>
	</div>
</div>