<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 mb-2 mb-lg-3">
				<h2 class="font-weight-bold heading">
					<!-- Click on the blanks in the boxes and then click on the correct Past, Present and Future Tense Verbs from the help box, that identifies the underlined Verbs. -->
					Click on the blanks in the boxes and then click on the correct Past, Present and Future Tense Verbs from the help box; that identifies the underlined Verbs.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="helpbox-container">
				<div class="helpbox"><span>Past Tense</span></div>
				<div class="helpbox"><span>Present Tense</span></div>
				<div class="helpbox helpbox-3"><span>Future Tense</span></div>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<!-- 1 -->
				<div class="question-container">
					<div class="question">
						<div class="number"><span>1)</span></div>
						<div class="text-container"><span>Mr. Smith <u>goes</u> to office by bus.</span></div>
					</div>
					<div class="input-container">
						<input type="text" >
						<div class="correct-answer">
							<span>Present Tense</span>
						</div>
					</div>
				</div>
				<!-- 2 -->
				<div class="question-container">
					<div class="question">
						<div class="number"><span>2)</span></div>
						<div class="text-container"><span>Julie <u>rode</u> a horse at her uncle’s farm.</span></div>
					</div>
					<div class="input-container">
						<input type="text" >
						<div class="correct-answer">
							<span>Past Tense</span>
						</div>
					</div>
				</div>
				<!-- 3 -->
				<div class="question-container">
					<div class="question">
						<div class="number"><span>3)</span></div>
						<div class="text-container"><span>The children <u>built</u> a house of cards.</span></div>
					</div>
					<div class="input-container">
						<input type="text" >
						<div class="correct-answer">
							<span>Past Tense</span>
						</div>
					</div>
				</div>
				<!-- 4 -->
				<div class="question-container">
					<div class="question">
						<div class="number"><span>4)</span></div>
						<div class="text-container">
							<span>Mom and Dad <u>will go</u> for a party at 8 o’clock.</span>
						</div>
					</div>
					<div class="input-container">
						<input type="text" >
						<div class="correct-answer">
							<span>Future Tense</span>
						</div>
					</div>
				</div>
				<!-- 5 -->
				<div class="question-container">
					<div class="question">
						<div class="number"><span>5)</span></div>
						<div class="text-container">
							<span>The three ducks <u>swam</u> across the river.</span>
						</div>
					</div>
					<div class="input-container">
						<input type="text" >
						<div class="correct-answer">
							<span>Past Tense</span>
						</div>
					</div>
				</div>
				<!-- 6 -->
				<div class="question-container">
					<div class="question">
						<div class="number"><span>6)</span></div>
						<div class="text-container">
							<span>Tom <u>will bring</u> his pet dog on the picnic.</span>
						</div>
					</div>
					<div class="input-container">
						<input type="text" >
						<div class="correct-answer">
							<span>Future Tense</span>
						</div>
					</div>
				</div>
				<!-- 7 -->
				<div class="question-container">
					<div class="question">
						<div class="number"><span>7)</span></div>
						<div class="text-container">
							<span>I <u>sleep</u> at 9 o’clock everyday.</span>
						</div>
					</div>
					<div class="input-container">
						<input type="text" >
						<div class="correct-answer">
							<span>Present Tense</span>
						</div>
					</div>
				</div>
				<!-- 8 -->
				<div class="question-container">
					<div class="question">
						<div class="number"><span>8)</span></div>
						<div class="text-container">
							<span>Betty <u>practices</u> her violin daily.</span>
						</div>
					</div>
					<div class="input-container">
						<input type="text" >
						<div class="correct-answer">
							<span>Present Tense</span>
						</div>
					</div>
				</div>
				<!-- end -->
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>