<div class="bg">
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 mb-3">
				<h2 class="font-weight-bold heading">
					Click on the correct Articles from the box, to complete the sentences. 
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<!-- 1 -->
				<div class="question q1">
					<div class="number"><span>1</span></div>
					<div class="text-container">
						<span>My friend’s father is </span>
							 <div class="option">
								<span class="right">a</span>,
								<span>an</span>
							 </div> 
						<span> doctor.</span></div>
					<div class="img-container">
						<img src="assets/std01-articles-worksheet7/img/q1.png" alt="" class="img-fluid">
					</div>
				</div>
				<!-- 2 -->
				<div class="question q2">
					<div class="number"><span>2</span></div>
					<div class="text-container">
						<span>Is there </span>
								<div class="option">
									<span>a</span>,
									<span class="right">an</span> 
								</div> 
						<span> ant on my shirt?</span></div>
					<div class="img-container">
						<img src="assets/std01-articles-worksheet7/img/q2.png" alt="" class="img-fluid">
					</div>
				</div>
				<!-- 3 -->
				<div class="question q3">
					<div class="number"><span>3</span></div>
					<div class="text-container">
						<span>Tom saw </span>
								<div class="option">
									<span class="right">a</span>,
									<span>an</span> 
								</div> 
						<span> dolphin at the Goa beach.</span></div>
					<div class="img-container">
						<img src="assets/std01-articles-worksheet7/img/q3.png" alt="" class="img-fluid">
					</div>
				</div>
				<!-- 4 -->
				<div class="question q4">
					<div class="number"><span>4</span></div>
					<div class="text-container">
						<span>Betty wore </span>
								<div class="option">
									<span class="right">a</span>,
									<span>an</span> 
								</div> 
						<span> colourful hat to the church.</span></div>
					<div class="img-container">
						<img src="assets/std01-articles-worksheet7/img/q4.png" alt="" class="img-fluid">
					</div>
				</div>
				<!-- 5 -->
				<div class="question q5">
					<div class="number"><span>5</span></div>
					<div class="text-container">
						<span>My grandfather has </span>
								<div class="option">
									<span>a</span>,
									<span class="right">an</span> 
								</div> 
						<span> ink-pot on his shelf.</span></div>
					<div class="img-container">
						<img src="assets/std01-articles-worksheet7/img/q5.png" alt="" class="img-fluid">
					</div>
				</div>
				<!-- 6 -->
				<div class="question q6">
					<div class="number"><span>6</span></div>
					<div class="text-container">
						<span>The tired man sat under </span>
								<div class="option">
									<span class="right">a</span>,
									<span>an</span> 
								</div> 
						<span> shady tree.</span></div>
					<div class="img-container">
						<img src="assets/std01-articles-worksheet7/img/q6.png" alt="" class="img-fluid">
					</div>
				</div>
				<!-- 7 -->
				<div class="question q7">
					<div class="number"><span>7</span></div>
					<div class="text-container">
						<span>The woodcutter cut a huge tree with </span>
								<div class="option">
									<span>a</span>,
									<span class="right">an</span> 
								</div> 
						<span> axe.</span></div>
					<div class="img-container">
						<img src="assets/std01-articles-worksheet7/img/q7.png" alt="" class="img-fluid">
					</div>
				</div>
				<!-- 8 -->
				<div class="question q8">
					<div class="number"><span>8</span></div>
					<div class="text-container">
						<span>Jack saw </span>
								<div class="option">
									<span class="right">a</span>,
									<span>an</span> 
								</div> 
						<span> black dog on the street.</span></div>
					<div class="img-container">
						<img src="assets/std01-articles-worksheet7/img/q8.png" alt="" class="img-fluid">
					</div>
				</div>
				<!-- end -->
			</div>
		</div>
    <div class="row btn-row">
      <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>
</div>