<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 mb-2 mb-lg-3">
				<h2 class="font-weight-bold heading">
					Click on the Abstract Nouns in the following sentences.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<!-- 1 -->
				<div class="question">
					<div class="number"><span>1)</span></div>
					<div class="text-container"><span>Nobody</span> <span>is</span> <span>as</span> <span>good</span> <span>as</span> <span>David</span> <span>in</span> <span class="right">intelligence</span>. </div>
				</div>
				<!-- 2 -->
				<div class="question">
					<div class="number"><span>2)</span></div>
					<div class="text-container"><span>All</span> <span>of</span> <span>us</span> <span>looked</span> <span>at</span> <span>the</span> <span>alien</span> <span>in</span> <span class="right">amazement</span>. </div>
				</div>
				<!-- 3 -->
				<div class="question">
					<div class="number"><span>3)</span></div>
					<div class="text-container"><span>We</span> <span>laughed</span> <span>at</span> <span>the</span> <span>clown’s</span> <span class="right">silliness</span>. </div>
				</div>
				<!-- 4 -->
				<div class="question">
					<div class="number"><span>4)</span></div>
					<div class="text-container"><span>The</span> <span>parents</span> <span>were</span> <span>filled</span> <span>with</span> <span class="right">pride</span> <span>when</span> <span>their</span> <span>son</span> <span>won</span> <span>a</span> <span>gold</span> <span>medal</span>. </div>
				</div>
				<!-- 5 -->
				<div class="question">
					<div class="number"><span>5)</span></div>
					<div class="text-container"><span>Tom</span> <span>had</span> <span>the</span> <span class="right">confidence</span> <span>that</span> <span>he</span> <span>could</span> <span>complete</span> <span>the</span> <span>work</span> <span>on</span> <span>time</span>. </div>
				</div>
				<!-- 6 -->
				<div class="question">
					<div class="number"><span>6)</span></div>
					<div class="text-container"><span>The</span> <span class="right">enthusiasm</span> <span>of</span> <span>the</span> <span>students</span> <span>motivated</span> <span>the</span> <span>teacher</span>. </div>
				</div>
				<!-- 7 -->
				<div class="question">
					<div class="number"><span>7)</span></div>
					<div class="text-container"><span>She</span> <span>had</span> <span>a</span> <span>lot</span> <span>of</span> <span class="right">sympathy</span> <span>for</span> <span>poor</span> <span>people</span>. </div>
				</div>
				<!-- 8 -->
				<div class="question">
					<div class="number"><span>8)</span></div>
					<div class="text-container"><span>That</span> <span>soldier</span> <span>showed</span> <span class="right">bravery</span> <span>during</span> <span>the</span> <span>war</span>. </div>
				</div>
				<!-- 9 -->
				<div class="question">
					<div class="number"><span>9)</span></div>
					<div class="text-container"><span>With</span> <span>satisfaction,</span> <span>I</span> <span>completed</span> <span>writing</span> <span>my</span> <span>storybook</span>. </div>
				</div>
				<!-- 10 -->
				<div class="question">
					<div class="number"><span>10)</span></div>
					<div class="text-container"><span>I</span> <span>have</span> <span>a</span> <span class="right">faith</span> <span>in</span> <span>God</span>. </div>
				</div>
				<!-- end -->
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>