<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 px-2 mb-1">
        <!--  <div class="heading my-3 p-2">
                    <h2 class="font-weight-bold mb-0">Under the correct noun from the brackets to complete each sentence. </h2>
                </div> -->
        <h2 class="font-weight-bold">
          Click on the Future Tense Verbs in the following sentences.
        </h2>
      </div>
    </div>
    <div class="Main_Container mb-3">
      <div class="row">
        <div class="col-12 col-sm-11 Question_Container">
          <div class="">
            <div class="col-12 Question_Body">
              <div class="row">
                <div class="col-12 Question no-padding ">
                  <div class="row">
                    <div class="col-1">
                      <div class="list-item">
                        <span class="number-color tomato">1</span>
                      </div>
                    </div>
                    <div class="col-11 text-left box">
                      <span>The</span>
                      <span>meteorologist</span>
                      <span>predicts</span>
                      <span>that</span>
                      <span>it</span>
                      <span class="correct-ans">will rain</span>
                      <span>heavily</span>
                      <span>tomorrow</span>.
                    </div>
                  </div>
                </div>
                <div class="col-12 Question no-padding ">
                  <div class="row">
                    <div class="col-1">
                      <div class="list-item">
                        <span class="number-color tomato">2</span>
                      </div>
                    </div>
                    <div class="col-11 text-left box">
                      <span>I</span>
                      <span class="correct-ans">shall help</span>
                      <span>my</span>
                      <span>dad</span>
                      <span>to</span>
                      <span>clean</span>
                      <span>the</span>
                      <span>garage</span>
                      <span>in</span>
                      <span>the</span>
                      <span>evening</span>.
                    </div>
                  </div>
                </div>
                <div class="col-12 Question no-padding">
                  <div class="row">
                    <div class="col-1">
                      <div class="list-item">
                        <span class="number-color tomato">3</span>
                      </div>
                    </div>
                    <div class="col-11 text-left box">
                      <span>Manchester</span>
                      <span>United</span>
                      <span class="correct-ans">will play</span>
                      <span>against</span>
                      <span>Liverpool</span>
                      <span>on</span>
                      <span>Saturday</span>
                      <span>afternoon</span>.
                    </div>
                  </div>
                </div>
                <div class="col-12 Question no-padding fourth">
                  <div class="row">
                    <div class="col-1">
                      <div class="list-item">
                        <span class="number-color tomato">4</span>
                      </div>
                    </div>
                    <div class="col-11 text-left box">
                      <span class="correct-ans">Will</span>
                      <span>you</span>
                      <span class="correct-ans">plant</span>
                      <span>cherry</span>
                      <span>tomatoes</span>
                      <span>in</span>
                      <span>your</span>
                      <span>garden</span>?
                    </div>
                  </div>
                </div>
                <div class="col-12 Question no-padding">
                  <div class="row">
                    <div class="col-1">
                      <div class="list-item">
                        <span class="number-color tomato">5</span>
                      </div>
                    </div>
                    <div class="col-11 text-left box">
                      <span>Mr.</span>
                      <span>Moore</span>
                      <span class="correct-ans">will travel</span>
                      <span>to</span>
                      <span>Greece</span>
                      <span>for</span>
                      <span>business</span>.
                    </div>
                  </div>
                </div>
                <div class="col-12 Question no-padding">
                  <div class="row">
                    <div class="col-1">
                      <div class="list-item">
                        <span class="number-color tomato">6</span>
                      </div>
                    </div>
                    <div class="col-11 text-left box">
                      <span>Clara</span>
                      <span class="correct-ans">will dress</span>
                      <span>as</span>
                      <span>a</span>
                      <span>dragon</span>
                      <span>for</span>
                      <span>the</span>
                      <span>costume</span>
                      <span>party</span>.
                    </div>
                  </div>
                </div>
                <div class="col-12 Question no-padding">
                  <div class="row">
                    <div class="col-1">
                      <div class="list-item">
                        <span class="number-color tomato">7</span>
                      </div>
                    </div>
                    <div class="col-11 text-left box">
                      <span>I </span>
                      <span class="correct-ans">shall run</span>
                      <span>down</span>
                      <span>the</span>
                      <span>stairs</span>
                      <span>when</span>
                      <span>my</span>
                      <span>elder</span>
                      <span>brother</span>
                      <span>arrives</span>.
                    </div>
                  </div>
                </div>
                <div class="col-12 Question no-padding">
                  <div class="row">
                    <div class="col-1">
                      <div class="list-item">
                        <span class="number-color tomato">8</span>
                      </div>
                    </div>
                    <div class="col-11 text-left box">
                      <span>The</span>
                      <span>balloon</span>
                      <span class="correct-ans">will burst</span>
                      <span>if</span>
                      <span>you</span>
                      <span>fill</span>
                      <span>too</span>
                      <span>much</span>
                      <span>air</span>
                      <span>in</span>
                      <span>it</span>.
                    </div>
                  </div>
                </div>



              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3 btn-row">
      <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>
</div>