<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text fabulous hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>

	<div class="loadingDiv">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-12 px-2 mb-1 mb-sm-4 mt-3">

				<h2 class="font-weight-bold">
					Click on the words that should begin with Capital Letters. Click in the circles and then
					click on Full Stop from the help box, to complete the punctuation of the sentences.
				</h2>
			</div>
		</div>

		<div class="col-12 helpbox">
			<div class="row mb-2">
				<div class="col-3">
					<div class="helpbox-ans"><span class="font-weight-bold dot">.</span></div>
				</div>
				<div class="col-3">
					<div class="helpbox-ans"><span class="font-weight-bold">?</span></div>
				</div>
				<div class="col-3">
					<div class="helpbox-ans"><span class="font-weight-bold">!</span></div>
				</div>
				<div class="col-3">
					<div class="helpbox-ans"><span class="font-weight-bold comma">,</span></div>
				</div>
			</div>

		</div>

		<div class="Main_Container">

			<div class="row">
				<div class="col-12 form-contain">
					<span class="number-box">1</span>
					<div class="text-container ml-2">
						<span class="text-color">table mountain</span> <span>in</span> <span class="text-color">cape
							town</span> <span>in</span> <span class="text-color">south africa</span> <span>is</span>
						<span>one</span> <span>of</span> <span>the</span> <span>natural</span> <span>wonders</span>
						<span>of</span> <span>the</span> <span>world</span>

						<span class="input-span">
							<input type="text" maxlength="1"><span class="answer-span"><span
									class="answer">.</span></span>
						</span>
					</div>
				</div>

				<div class="col-12 form-contain">
					<span class="number-box">2</span>
					<div class="text-container ml-2">
						<span class="text-color">the</span> <span>saltiest</span> <span>water</span> <span>on</span>
						<span>earth</span> <span>is</span> <span>in</span> <span>the</span> <span
							class="text-color">dead sea</span> <span>in</span> <span class="text-color">asia</span>

						<span class="input-span">
							<input type="text" maxlength="1"><span class="answer-span"><span
									class="answer">.</span></span>
						</span>
					</div>
				</div>

				<div class="col-12 form-contain">
					<span class="number-box">3</span>
					<div class="text-container ml-2">
						<span class="text-color">the amazon rainforests</span> <span>are</span> <span>called</span> ‘
						<span>the</span> <span>lungs</span> <span>of</span> <span>the</span> <span>earth</span> ’

						<span class="input-span"><input type="text" maxlength="1"><span class="answer-span"><span
									class="answer">.</span></span></span>

					</div>
				</div>

				<div class="col-12 form-contain">
					<span class="number-box">4</span>
					<div class="text-container ml-2">
						<span class="text-color">david livingstone</span> <span>was</span> <span>the</span>
						<span>first</span> <span class="text-color">european</span> <span>to</span>
						<span>discover</span> <span class="text-color">victoria falls</span> <span>in</span> <span
							class="text-color">africa</span>

						<span class="input-span"><input type="text" maxlength="1"><span class="answer-span"><span
									class="answer">.</span></span></span>

					</div>
				</div>

				<div class="col-12 form-contain">
					<span class="number-box">5</span>
					<div class="text-container ml-2">
						<span class="text-color">the hanging gardens</span> <span>of</span> <span
							class="text-color">babylon</span> <span>are</span> <span>one</span> <span>of</span>
						<span>the</span> <span>ancient</span> <span>wonders</span> <span>of</span> <span>the</span>
						<span>world</span>

						<span class="input-span"><input type="text" maxlength="1"><span class="answer-span"><span
									class="answer">.</span></span></span>

					</div>
				</div>

				<div class="col-12 form-contain">
					<span class="number-box">6</span>
					<div class="text-container ml-2">
						<span class="text-color">a</span> <span>hippopotamus</span> <span>can</span> <span>run</span>
						<span>faster</span> <span>than</span> <span>a</span> <span>man</span>

						<span class="input-span"><input type="text" maxlength="1"><span class="answer-span"><span
									class="answer">.</span></span></span>

					</div>
				</div>

				<div class="col-12 form-contain">
					<span class="number-box">7</span>
					<div class="text-container ml-2">
						<span class="text-color">you</span> <span>cannot</span> <span>sneeze</span> <span>with</span>
						<span>your</span> <span>eyes</span> <span>open</span>

						<span class="input-span"><input type="text" maxlength="1"><span class="answer-span"><span
									class="answer">.</span></span></span>

					</div>
				</div>

				<div class="col-12 form-contain">
					<span class="number-box">8</span>
					<div class="text-container ml-2">
						<span class="text-color">india</span> <span>is</span> <span>the</span> <span>world’s</span>
						<span>largest</span> <span>producer</span> <span>of</span> <span>bananas</span>

						<span class="input-span"><input type="text" maxlength="1"><span class="answer-span"><span
									class="answer">.</span></span></span>

					</div>
				</div>

				<div class="col-12 form-contain">
					<span class="number-box">9</span>
					<div class="text-container ml-2">
						<span class="text-color">water</span> <span>covers</span> <span>around</span> <span>70%</span>
						<span>of</span> <span>the</span> <span>earth’s</span> <span>surface</span>

						<span class="input-span"><input type="text" maxlength="1"><span class="answer-span"><span
									class="answer">.</span></span></span>

					</div>
				</div>

				<div class="col-12 form-contain">
					<span class="number-box">10</span>
					<div class="text-container ml-2">
						<span class="text-color">the</span> <span>blue</span> <span>whale</span> <span>can</span>
						<span>produce</span> <span>the</span> <span>loudest</span> <span>sound</span> <span>of</span>
						<span>any</span> <span>animal</span>

						<span class="input-span"><input type="text" maxlength="1"><span class="answer-span"><span
									class="answer">.</span></span></span>

					</div>
				</div>

			</div>


			<div class="row pb-3 btn-row">
				<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>