<div class="bg" ngPreserveWhitespaces>
	<div class="loadingDiv">
	</div>
	<div class="container">
		<div class="row pt-3 mb-3 pt-xl-4">
			<div class="heading font-weight-bold">
				<span>Abstract Nouns Reference List</span>
			</div>
		</div>
		<div class="row  ">
			<div class="book-container">
				<!-- start -->
				<div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
					
					<!-- The slideshow -->
					<div class="carousel-inner">
					  <div class="carousel-item active">
						<img src="assets/std03-abstract-nouns-reference-list/img/abstract-noun.png" alt="" class="img-fluid compound-word-1">
					  </div>
					</div>
				  </div>
				<!-- end -->
			</div>
    </div>
  </div>	
</div>