<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 margin-auto">
        <div class="heading my-3 mx-2 mx-sm-0 px-sm-3">
          <span class="font-weight-bold h1-size">Sports can be of different types!</span>
        </div>
      </div>
    </div>
    <div class="row margin-auto margin-bottom-10">
      <div class="col-xs-12 margin-auto ">
        <h2 class="font-weight-bold h1-size text-shadow-blue"><span>
            Click on the blanks and then click on the correct words from the help box; to classify
            them into Indoor, Outdoor and Water Sports.
          </span></h2>
      </div>
    </div>
    <div class="row help-box">
      <div class="col-12 col-sm-6 padding-left-right-0">
        <div class="row margin-0">
          <div class="col-4 col-sm-4 padding-0">
            <div><span>hockey</span></div>
          </div>
          <div class="col-4 col-sm-4 padding-0">
            <div><span>surfing</span></div>
          </div>
          <div class="col-4 col-sm-4 padding-0">
            <div><span>swimming</span></div>
          </div>
        </div>
        <div class="row margin-0">
          <div class="col-4 col-sm-4 padding-0">
            <div><span>soccer</span></div>
          </div>
          <div class="col-4 col-sm-4 padding-0">
            <div><span>sailing</span></div>
          </div>
          <div class="col-4 col-sm-4 padding-0">
            <div><span> water polo</span></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 padding-left-right-0">
        <div class="row margin-0">
          <div class="col-4 col-sm-4 padding-0">
            <div><span>baseball</span></div>
          </div>
          <div class="col-4 col-sm-4 padding-0">
            <div><span>chess</span></div>
          </div>
          <div class="col-4 col-sm-4 padding-0">
            <div><span>badminton</span></div>
          </div>
        </div>
        <div class="row margin-0">
          <div class="col-4 col-sm-4 padding-0">
            <div><span>squash</span></div>
          </div>
          <div class="col-4 col-sm-4 padding-0">
            <div><span>cricket</span></div>
          </div>
          <div class="col-4 col-sm-4 padding-0">
            <div style="white-space: nowrap;"><span>table-tennis</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="Question_Container margin-auto">
        <div class="row head margin-0">
          <div class="col-4 col-sm-4"><span class="questions-heading">Indoor Sports</span></div>
          <div class="col-4 col-sm-4"><span class="questions-heading">Outdoor Sports</span></div>
          <div class="col-4 col-sm-4"><span class="questions-heading">Water Sports</span></div>
        </div>
        <div class="row margin-auto">
          <div class="questions margin-auto">
            <!--1-->
            <!--answer-->

            <div class="row margin-0">
              <div class="col-4 col-sm-4 padding-0">
                <div class="row margin-0 margin-left-5">
                  <div class="col-1 col-sm-1 padding-0"><span>1)</span></div>
                  <div class="col-11 col-sm-11 "><span class="span-input"><input type="text" class="indoor">
                      <div class="correct_answer"><span>table-tennis</span></div>
                    </span></div>
                </div>
              </div>
              <div class="col-4 col-sm-4 padding-0">
                <div class="row margin-0 margin-left-5">
                  <div class="col-1 col-sm-1 padding-0"><span>1)</span></div>
                  <div class="col-11 col-sm-11"><span class="span-input"><input type="text" class="outdoor">
                      <div class="correct_answer"><span>baseball</span></div>
                    </span></div>
                </div>
              </div>
              <div class="col-4 col-sm-4 padding-0">
                <div class="row margin-0 margin-left-5">
                  <div class="col-1 col-sm-1 padding-0"><span>1)</span></div>
                  <div class="col-11 col-sm-11 "><span class="span-input"><input type="text" class="water">
                      <div class="correct_answer"><span>surfing</span></div>
                    </span></div>
                </div>
              </div>
            </div>
            <!--2-->
            <!--answer-->
            <div class="row margin-0">
              <div class="col-4 col-sm-4 padding-0">
                <div class="row margin-0 margin-left-5">
                  <div class="col-1 col-sm-1 padding-0"><span>2)</span></div>
                  <div class="col-11 col-sm-11 "><span class="span-input"><input type="text" class="indoor">
                      <div class="correct_answer"><span>chess</span></div>
                    </span></div>
                </div>
              </div>
              <div class="col-4 col-sm-4 padding-0">
                <div class="row margin-0 margin-left-5">
                  <div class="col-1 col-sm-1 padding-0"><span>2)</span></div>
                  <div class="col-11 col-sm-11"><span class="span-input"><input type="text" class="outdoor">
                      <div class="correct_answer"><span>soccer</span></div>
                    </span></div>
                </div>
              </div>
              <div class="col-4 col-sm-4 padding-0">
                <div class="row margin-0 margin-left-5">
                  <div class="col-1 col-sm-1 padding-0"><span>2)</span></div>
                  <div class="col-11 col-sm-11 "><span class="span-input"><input type="text" class="water">
                      <div class="correct_answer"><span>water polo</span></div>
                    </span></div>
                </div>
              </div>
            </div>
            <!--3-->
            <!--answer-->
            <div class="row margin-0">
              <div class="col-4 col-sm-4 padding-0">
                <div class="row margin-0 margin-left-5">
                  <div class="col-1 col-sm-1 padding-0"><span>3)</span></div>
                  <div class="col-11 col-sm-11 "><span class="span-input"><input type="text" class="indoor">
                      <div class="correct_answer"><span>squash</span></div>
                    </span></div>
                </div>
              </div>
              <div class="col-4 col-sm-4 padding-0">
                <div class="row margin-0 margin-left-5">
                  <div class="col-1 col-sm-1 padding-0"><span>3)</span></div>
                  <div class="col-11 col-sm-11"><span class="span-input"><input type="text" class="outdoor">
                      <div class="correct_answer"><span>hockey</span></div>
                    </span></div>
                </div>
              </div>
              <div class="col-4 col-sm-4 padding-0">
                <div class="row margin-0 margin-left-5">
                  <div class="col-1 col-sm-1 padding-0"><span>3)</span></div>
                  <div class="col-11 col-sm-11 "><span class="span-input"><input type="text" class="water">
                      <div class="correct_answer"><span>swimming</span></div>
                    </span></div>
                </div>
              </div>
            </div>
            <!--4-->
            <!--answer-->
            <div class="row margin-0">
              <div class="col-4 col-sm-4 padding-0">
                <div class="row margin-0 margin-left-5">
                  <div class="col-1 col-sm-1 padding-0"><span>4)</span></div>
                  <div class="col-11 col-sm-11 "><span class="span-input"><input type="text" class="indoor">
                      <div class="correct_answer"><span>badminton</span></div>
                    </span></div>
                </div>
              </div>
              <div class="col-4 col-sm-4 padding-0">
                <div class="row margin-0 margin-left-5">
                  <div class="col-1 col-sm-1 padding-0"><span>4)</span></div>
                  <div class="col-11 col-sm-11"><span class="span-input"><input type="text" class="outdoor">
                      <div class="correct_answer"><span>cricket</span></div>
                    </span></div>
                </div>
              </div>
              <div class="col-4 col-sm-4 padding-0">
                <div class="row margin-0 margin-left-5">
                  <div class="col-1 col-sm-1 padding-0"><span>4)</span></div>
                  <div class="col-11 col-sm-11 "><span class="span-input"><input type="text" class="water">
                      <div class="correct_answer"><span>sailing</span></div>
                    </span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>
  </div>
</div>