<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
  <div class="Box">
    <div class="imgBox">
      <img src="" alt="" class="Text keep-practicing hide">
      <img src="" alt="" class="Text outstanding hide">
      <img src="" alt="" class="Text brilliant hide">
      <img src="" alt="" class="Text good-work hide">
      <!-- <img src="" alt="" class="Text fabulous hide"> -->
    </div>
    <div class="TextBox">
      <h1></h1>
    </div>
    <img src="assets/images/close.png" alt="" class="close">
  </div>
</div>
  <div class="loadingDiv">
  </div>
<div class="container">
  <div class="row">
    <div class="col-12 mt-3 mb-3">
      <h2 class="font-weight-bold heading">
        Click on the blanks and then click on the Action Verbs, from the words given in each row.
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="main-question-container">
      <!-- 1 -->
      <div class="question">
        <div class="number"><span>1)</span></div>
        <div class="main-text-container">
          <div class="option-container">
            <div class="option"><span>crawl</span></div>
            <div class="option"><span>before</span></div>
            <div class="option"><span>leaf</span></div>
            <div class="option"><span>desktop</span></div>
          </div>
        </div>
        <div class="main-input-container">
          <div class="input-container">
            <input type="text" >
            <div class="correct-answer">
              <span>crawl</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 2 -->
      <div class="question">
        <div class="number"><span>2)</span></div>
        <div class="main-text-container">
          <div class="option-container">
            <div class="option"><span>although</span></div>
            <div class="option"><span>newspaper</span></div>
            <div class="option"><span>medal</span></div>
            <div class="option"><span>skid</span></div>
          </div>
        </div>
        <div class="main-input-container">
          <div class="input-container">
            <input type="text" >
            <div class="correct-answer">
              <span>skid</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 3 -->
      <div class="question">
        <div class="number"><span>3)</span></div>
        <div class="main-text-container">
          <div class="option-container">
            <div class="option"><span>cotton</span></div>
            <div class="option"><span>bounce</span></div>
            <div class="option"><span>world</span></div>
            <div class="option"><span>after</span></div>
          </div>
        </div>
        <div class="main-input-container">
          <div class="input-container">
            <input type="text" >
            <div class="correct-answer">
              <span>bounce</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 4 -->
      <div class="question">
        <div class="number"><span>4)</span></div>
        <div class="main-text-container">
          <div class="option-container">
            <div class="option"><span>captain</span></div>
            <div class="option"><span>ribbon</span></div>
            <div class="option"><span>imagine</span></div>
            <div class="option"><span>name</span></div>
          </div>
        </div>
        <div class="main-input-container">
          <div class="input-container">
            <input type="text" >
            <div class="correct-answer">
              <span>imagine</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 5 -->
      <div class="question">
        <div class="number"><span>5)</span></div>
        <div class="main-text-container">
          <div class="option-container">
            <div class="option"><span>garbage</span></div>
            <div class="option"><span>scream</span></div>
            <div class="option"><span>plant</span></div>
            <div class="option"><span>ball</span></div>
          </div>
        </div>
        <div class="main-input-container">
          <div class="input-container">
            <input type="text" >
            <div class="correct-answer">
              <span>scream</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 6 -->
      <div class="question">
        <div class="number"><span>6)</span></div>
        <div class="main-text-container">
          <div class="option-container">
            <div class="option"><span>court</span></div>
            <div class="option"><span>money</span></div>
            <div class="option"><span>munch</span></div>
            <div class="option"><span>medicine</span></div>
          </div>
        </div>
        <div class="main-input-container">
          <div class="input-container">
            <input type="text" >
            <div class="correct-answer">
              <span>munch</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 7 -->
      <div class="question">
        <div class="number"><span>7)</span></div>
        <div class="main-text-container">
          <div class="option-container">
            <div class="option"><span>instruct</span></div>
            <div class="option"><span>doctor</span></div>
            <div class="option"><span>clock</span></div>
            <div class="option"><span>chopstick</span></div>
          </div>
        </div>
        <div class="main-input-container">
          <div class="input-container">
            <input type="text" >
            <div class="correct-answer">
              <span>instruct</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 8 -->
      <div class="question">
        <div class="number"><span>8)</span></div>
        <div class="main-text-container">
          <div class="option-container">
            <div class="option"><span>bison</span></div>
            <div class="option"><span>however</span></div>
            <div class="option"><span>butterfly</span></div>
            <div class="option"><span>graze</span></div>
          </div>
        </div>
        <div class="main-input-container">
          <div class="input-container">
            <input type="text" >
            <div class="correct-answer">
              <span>graze</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 9 -->
      <div class="question">
        <div class="number"><span>9)</span></div>
        <div class="main-text-container">
          <div class="option-container">
            <div class="option"><span>water</span></div>
            <div class="option"><span>squeeze</span></div>
            <div class="option"><span>statue</span></div>
            <div class="option"><span>because</span></div>
          </div>
        </div>
        <div class="main-input-container">
          <div class="input-container">
            <input type="text" >
            <div class="correct-answer">
              <span>squeeze</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 10 -->
      <div class="question">
        <div class="number"><span>10)</span></div>
        <div class="main-text-container">
          <div class="option-container">
            <div class="option"><span>desert</span></div>
            <div class="option"><span>fruit</span></div>
            <div class="option"><span>sprinkle</span></div>
            <div class="option"><span>green</span></div>
          </div>
        </div>
        <div class="main-input-container">
          <div class="input-container">
            <input type="text" >
            <div class="correct-answer">
              <span>sprinkle</span>
            </div>
          </div>
        </div>
      </div>
      <!-- end -->
    </div>
  </div>
  <div class="row btn-row">
    <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
    </div>
  </div>
</div>
</div>