<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3 mb-3">
        <h2 class="font-weight-bold heading">
          Click on the Prepositions in the following sentences.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="main-question-container">
        <!-- 1 -->
        <div class="question">
          <div class="number"><span>1</span></div>
          <div class="text-container"><span>The</span> <span>man</span> <span>sat</span> <span class="right">at</span>
            <span>the</span> <span>edge</span> <span class="right">of</span> <span>a</span> <span>cliff.</span> </div>
        </div>
        <!-- 2 -->
        <div class="question">
          <div class="number"><span>2</span></div>
          <div class="text-container"><span>Alice</span> <span>crossed</span> <span>the</span> <span>bridge</span>
            <span class="right">over</span> <span>the</span> <span>river.</span> </div>
        </div>
        <!-- 3 -->
        <div class="question">
          <div class="number"><span>3</span></div>
          <div class="text-container"><span>Hot</span> <span>water</span> <span>was</span> <span>running</span> <span
              class="right">through</span> <span>the</span> <span>tap.</span> </div>
        </div>
        <!-- 4 -->
        <div class="question">
          <div class="number"><span>4</span></div>
          <div class="text-container"><span>The</span> <span>children</span> <span>ran</span> <span class="right">down</span>
            <span>the</span> <span>stairs</span> <span>when</span> <span>the</span> <span>school</span> <span>bell</span>
            <span>rang.</span> </div>
        </div>
        <!-- 5 -->
        <div class="question">
          <div class="number"><span>5</span></div>
          <div class="text-container"><span>A</span> <span>new</span> <span>student</span> <span>came</span> <span>and</span>
            <span>sat</span> <span class="right">beside</span> <span>me.</span> </div>
        </div>
        <!-- 6 -->
        <div class="question">
          <div class="number"><span>6</span></div>
          <div class="text-container"><span>Let</span> <span>us</span> <span>hang</span> <span>the</span> <span>beautiful</span>
            <span>picture</span> <span class="right">above</span> <span>the</span> <span>fireplace.</span> </div>
        </div>
        <!-- 7 -->
        <div class="question">
          <div class="number"><span>7</span></div>
          <div class="text-container"><span>The</span> <span>ladder</span> <span>was</span> <span>placed</span> <span
              class="right">against</span> <span>the</span> <span>wall.</span> </div>
        </div>
        <!-- 8 -->
        <div class="question">
          <div class="number"><span>8</span></div>
          <div class="text-container"><span>The</span> <span>two</span> <span>thieves</span> <span>divided</span> <span>the</span>
            <span>money</span> <span class="right">between</span> <span>them.</span> </div>
        </div>
        <!-- end -->
      </div>
    </div>
    <div class="row btn-row">
      <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>

</div>