<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text fabulous hide">
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="main-container">
      <div class="row">
        <div class="heading-top px-2 p-2 mt-2 w-100">
          <div class="font-weight-bold">
            <h2 class="font-weight-bold heading">
              Let us enjoy some fun facts about cartoon characters.
            </h2>
          </div>
        </div>
      </div>
      <div class="row mt-sm-1">
        <div class="heading-container m-auto">
          <h2 class="font-weight-bold heading">
          Click on the words that should begin with Capital Letters. Click in the circles and then click on Full Stop from the help box, to complete the punctuation of the sentences.
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="Question-container">
          <div class="row m-0">
            <div class="col-12 col-sm-9 col-lg-10 p-0 position-2">
              <div class="question-body w-100">
                <div class="row m-0">
                  <div class="w-100 text-center book-title">
                  </div>
                </div>
                <!--  -->
                <div class="row m-0">
                  <div class="book-content pl-1">
                    <div class="question">
                      <div class="pr-sm-2">1)</div>
                      <div class="content">
                        <span class="correct-underline">minnie</span> <span class="correct-underline">mouse’s</span> <span>full</span> <span>name</span> <span>is</span> <span class="correct-underline">minerva</span> <span class="correct-underline">mouse</span>
                        <!-- <div class="answer-div"><span class="answer">.</span> </div> -->
                        <span class="input-span"><input type="text" maxlength="1" readonly="readonly">
                          <div class="answer-div"><span class="answer">.</span> </div>
                        </span>

                      </div>
                    </div>
                    <!-- 2 -->
                    <div class="question">
                      <div class="pr-sm-2">2)</div>
                      <div class="content"><span class="correct-underline">tweety</span> <span>is</span> <span>a</span> <span>young</span> <span>canary</span> <span>bird</span>
                        <!-- <div class="answer-div"><span class="answer">.</span> </div> -->
                        <span class="input-span"><input type="text" maxlength="1" readonly="readonly">
                          <div class="answer-div"><span class="answer">.</span> </div>
                        </span>
                      </div>


                    </div>
                    <!-- 3 -->
                    <div class="question">
                      <div class="pr-sm-2">3)</div>
                      <div class="content"><span class="correct-underline">donald</span> <span>is</span> <span>the</span> <span>uncle</span> <span>of</span> <span>the</span> <span>triplets</span> <span class="correct-underline">huey</span>, <span class="correct-underline">dewey</span> <span>and</span> <span class="correct-underline">louie</span>
                        <!-- <div class="answer-div"><span class="answer">.</span> </div> -->
                        <span class="input-span"><input type="text" maxlength="1" readonly="readonly">
                          <div class="answer-div"><span class="answer">.</span> </div>
                        </span>
                      </div>


                    </div>
                    <!-- 4 -->
                    <div class="question">
                      <div class="pr-sm-2">4)</div>
                      <div class="content"><span class="correct-underline">hello kitty</span> <span>was</span> <span>created</span> <span>by</span> <span class="correct-underline">sanrio</span> <span>of</span> <span class="correct-underline">japan</span>
                        <!-- <div class="answer-div"><span class="answer">.</span> </div> -->
                        <span class="input-span"><input type="text" maxlength="1" readonly="readonly">
                          <div class="answer-div"><span class="answer">.</span> </div>
                        </span>
                      </div>
                    </div>
                    <!-- 5 6 7 8 -->
                    <div class="question">
                      <div class="pr-sm-2">5)</div>
                      <div class="content">
                        <span class="correct-underline">winnie</span> <span>the</span> <span class="correct-underline">pooh</span> <span>was</span> <span>once</span> <span>referred</span> <span>to</span> <span>as</span>	<span class="correct-underline">edward bear</span>
                        <!-- <div class="answer-div"><span class="answer">.</span> </div> -->
                        <span class="input-span"><input type="text" maxlength="1" readonly="readonly">
                          <div class="answer-div"><span class="answer">.</span> </div>
                        </span>

                      </div>
                    </div>
                    <!-- 2 -->
                    <div class="question">
                      <div class="pr-sm-2">6)</div>
                      <div class="content"><span class="correct-underline">garfield</span> <span>is</span> <span>a</span> <span>tabby</span> <span>cat</span> 
                        <!-- <div class="answer-div"><span class="answer">.</span> </div> -->
                        <span class="input-span"><input type="text" maxlength="1" readonly="readonly">
                          <div class="answer-div"><span class="answer">.</span> </div>
                        </span>
                      </div>


                    </div>
                    <!-- 3 -->
                    <div class="question">
                      <div class="pr-sm-2">7)</div>
                      <div class="content"><span class="correct-underline">snoopy</span> <span>is</span> <span>a</span> <span>pet</span> <span>beagle</span> <span>of</span> <span class="correct-underline">charlie brown</span>
                        <!-- <div class="answer-div"><span class="answer">.</span> </div> -->
                        <span class="input-span"><input type="text" maxlength="1" readonly="readonly">
                          <div class="answer-div"><span class="answer">.</span> </div>
                        </span>
                      </div>
                    </div>

                    <div class="question">
                      <div class="pr-sm-2">8)</div>
                      <div class="content"><span class="correct-underline">daisy</span> <span class="correct-underline">duck</span> <span>and</span> <span class="correct-underline">minnie</span> <span class="correct-underline">mouse</span> <span>are</span> <span>close</span> <span>friends</span>
                        <!-- <div class="answer-div"><span class="answer">.</span> </div> -->
                        <span class="input-span"><input type="text" maxlength="1" readonly="readonly">
                          <div class="answer-div"><span class="answer">.</span> </div>
                        </span>
                      </div>
                    </div>
                    <!-- 4 -->
                    <div class="question">
                      <div class="row btn-row">
                        <div class="col-12 text-center">
                          <button class="button myButton">Submit</button>
                        </div>
                      </div>
                    </div>
                    <!--   5 6 7 8-->
                    <!-- button end -->
                  </div>
                </div>

                <!--  -->
              </div>
            </div>
            <div class="col-12 col-sm-3 col-lg-2 position-1">
              <div class="helpbox w-100 m-auto text-center">
                <div class="row m-0">
                  <div class="col-3 col-sm-6 p-0"><div><span>!</span></div></div>
                  <div class="col-3 col-sm-6 p-0"><div><span>?</span></div></div>
                  <div class="col-3 col-sm-6 p-0"><div><span>,</span></div></div>
                  <div class="col-3 col-sm-6 p-0"><div><span>.</span></div></div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>