<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
  <div class="Box">
          <div class="imgBox">
      <img src="" alt="" class="Text keep-practicing hide">
      <img src="" alt="" class="Text outstanding hide">
      <img src="" alt="" class="Text brilliant hide">
      <img src="" alt="" class="Text good-work hide">
      <!-- <img src="" alt="" class="Text fabulous hide"> -->
    </div>
    <div class="TextBox">
      <h1></h1>
    </div>
    <img src="assets/images/close.png" alt="" class="close">
  </div>
</div>
  
  <div class="loadingDiv">
</div>

  <div class="container">
  <div class="heading">
    <h1>Click on the blanks and then click on the correct boxes of Helping Verbs, to colour them and complete the sentences.</h1>
  </div>
      <div class="Main_Container">
          <div class="Question_Container">
              <img src="assets/std03-helping-verbs-worksheet2/img/top.jpg" alt="" class="top">
              <img src="assets/std03-helping-verbs-worksheet2/img/bottom.jpg" alt="" class="bottom">
              <div class="Question_Block">
                  <div class="Question_Row">
                      <div class="Question">
                          <div class="number">1)</div>
                          <div class="content">Peter <div class="input_div"><input type="text"><div class="correct_answer"><span>has</span></div></div> the tickets for the circus tonight.</div>
                      </div>
                      <div class="option_Block">
                          <div class="options">
                              <div class="option right">has</div>
                              <div class="option">have</div>
                          </div>
                      </div>
                  </div>
                  <div class="Question_Row">
                      <div class="Question">
                          <div class="number">2)</div>
                          <div class="content">Do the children <div class="input_div"><input type="text"><div class="correct_answer"><span>have</span></div></div> homework today?</div>
                      </div>
                      <div class="option_Block">
                          <div class="options">
                              <div class="option">has</div>
                              <div class="option right">have</div>
                          </div>
                      </div>
                  </div>
                  <div class="Question_Row">
                      <div class="Question">
                          <div class="number">3)</div>
                          <div class="content">That weird-looking insect <div class="input_div"><input type="text"><div class="correct_answer"><span>has</span></div></div> eight legs.</div>
                      </div>
                      <div class="option_Block">
                          <div class="options">
                              <div class="option right">has</div>
                              <div class="option">have</div>
                          </div>
                      </div>
                  </div>
                  <div class="Question_Row">
                      <div class="Question">
                          <div class="number">4)</div>
                          <div class="content">My cousins <div class="input_div"><input type="text"><div class="correct_answer"><span>have</span></div></div> decided to visit me during the holidays.</div>
                      </div>
                      <div class="option_Block">
                          <div class="options">
                              <div class="option">has</div>
                              <div class="option right">have</div>
                          </div>
                      </div>
                  </div>
                  <div class="Question_Row">
                      <div class="Question">
                          <div class="number">5)</div>
                          <div class="content"><div class="input_div"><input type="text" class="capitalize"><div class="correct_answer"><span>Have</span></div></div> you visited a zoo recently?</div>
                      </div>
                      <div class="option_Block">
                          <div class="options">
                              <div class="option">has</div>
                              <div class="option right">have</div>
                          </div>
                      </div>
                  </div>
                  <div class="Question_Row">
                      <div class="Question">
                          <div class="number">6)</div>
                          <div class="content">Why <div class="input_div"><input type="text"><div class="correct_answer"><span>was</span></div></div> the little girl crying?</div>
                      </div>
                      <div class="option_Block">
                          <div class="options">
                              <div class="option right">was</div>
                              <div class="option">were</div>
                          </div>
                      </div>
                  </div>
                  <div class="Question_Row">
                      <div class="Question">
                          <div class="number">7)</div>
                          <div class="content"><div class="input_div"><input type="text" class="capitalize"><div class="correct_answer"><span>Were</span></div></div> you absent in school today?</div>
                      </div>
                      <div class="option_Block">
                          <div class="options">
                              <div class="option">was</div>
                              <div class="option right">were</div>
                          </div>
                      </div>
                  </div>
                  <div class="Question_Row eighth">
                      <div class="Question">
                          <div class="number">8)</div>
                          <div class="content">Simone <div class="input_div"><input type="text"><div class="correct_answer"><span>was</span></div></div> learning to skate last year.</div>
                      </div>
                      <div class="option_Block">
                          <div class="options">
                              <div class="option right">was</div>
                              <div class="option">were</div>
                          </div>
                      </div>
                  </div>
                  <div class="Question_Row nineth">
                      <div class="Question">
                          <div class="number">9)</div>
                          <div class="content">Jack and Janet <div class="input_div"><input type="text"><div class="correct_answer"><span>were</span></div></div> painting the fence in the afternoon.</div>
                      </div>
                      <div class="option_Block">
                          <div class="options">
                              <div class="option">was</div>
                              <div class="option right">were</div>
                          </div>
                      </div>
                  </div>
                  <div class="Question_Row tenth">
                      <div class="Question">
                          <div class="number">10)</div>
                          <div class="content">What <div class="input_div"><input type="text"><div class="correct_answer"><span>was</span></div></div> the date yesterday?</div>
                      </div>
                      <div class="option_Block">
                          <div class="options">
                              <div class="option right">was</div>
                              <div class="option">were</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
  </div>
  <div class="btn-row">
    <button class="button myButton">Submit</button>
  </div>
     
  </div>
</div>