

<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
            <img src="" alt="" class="Text keep-practicing hide">
            <img src="" alt="" class="Text outstanding hide">
            <img src="" alt="" class="Text brilliant hide">
            <img src="" alt="" class="Text good-work hide">
            <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                    <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
            <div class="row">
                    <div class="col-12 mb-1 mb-sm-4 mt-3">
                            <h2 class="font-weight-bold">
                                    Click on the blanks and then click on the correct Possessive Pronouns from
                                    the boxes, to complete the sentences.
                            </h2>
                    </div>
            </div>

            <div class="Main_Container mb-3">
                    <div class="row">

                            <div class="col-12  p-0 d-flex">

                                    <div class="col-9">
                                            <div class="question">
                                                    <div class="number1"><span>1)</span></div>
                                                    <div class="text-container11 ml-2">

                                                            <span>This bag belong to me. The bag is </span>
                                                            <div class="correct-ans"><span>mine</span></div>
                                                            <span class="input-span"><input type="text" name=""
                                                                            id="" data-text="first">.</span>

                                                            <div class="helpbox-container first">
                                                                    <span>my</span>
                                                                    <span>mine</span>

                                                            </div>

                                                    </div>
                                            </div>
                                    </div>

                                    <div class="col-3">

                                            <div class="img-container1">
                                                    <img src="assets/std01-possessive-pronouns-worksheet2/img/p1.png" class="img-fluid p1-img">
                                            </div>
                                    </div>

                            </div>

                            <div class="col-12  p-0 d-flex">
                                    <div class="col-9">
                                            <div class="question">
                                                    <div class="number"><span>2)</span></div>
                                                    <div class="text-container22 ml-2">

                                                            <span>This bottle belongs to you. The bottle is </span>
                                                            <div class="correct-ans"><span>yours</span></div>
                                                            <span class="input-span"><input type="text" name=""
                                                                            id="" data-text="second">.</span>

                                                            <div class="helpbox-container second">
                                                                    <span>yours</span>
                                                                    <span>my</span>

                                                            </div>

                                                    </div>
                                            </div>
                                    </div>

                                    <div class="col-3">
                                            <div class="img-container2">
                                                    <img src="assets/std01-possessive-pronouns-worksheet2/img/p2.png" class="img-fluid p2-img">
                                            </div>
                                    </div>
                            </div>

                            <div class="col-12  p-0 d-flex">
                                    <div class="col-9">
                                            <div class="question">
                                                    <div class="number"><span>3)</span></div>
                                                    <div class="text-container22 ml-2">

                                                            <span>The shoes belongs to Jason. The shoes are </span>
                                                            <div class="correct-ans"><span>his</span></div>
                                                            <span class="input-span"><input type="text" name=""
                                                                            id="" data-text="third">.</span>

                                                            <div class="helpbox-container third">
                                                                    <span>mine</span>
                                                                    <span>his</span>

                                                            </div>

                                                    </div>
                                            </div>
                                    </div>

                                    <div class="col-3">
                                            <div class="img-container1">
                                                    <img src="assets/std01-possessive-pronouns-worksheet2/img/p33.png" class="img-fluid p3-img">
                                            </div>
                                    </div>
                            </div>

                            <div class="col-12  p-0 d-flex">
                                    <div class="col-9">
                                            <div class="question">
                                                    <div class="number"><span>4)</span></div>
                                                    <div class="text-container22 ml-2">

                                                            <span>The dolls belong to Lucy. The dolls are </span>
                                                            <div class="correct-ans"><span>hers</span></div>
                                                            <span class="input-span"><input type="text" name=""
                                                                            id="" data-text="fourth">.</span>
                                                            <div class="helpbox-container fourth">
                                                                    <span>my</span>
                                                                    <span>hers</span>

                                                            </div>

                                                    </div>
                                            </div>
                                    </div>

                                    <div class="col-3">
                                            <div class="img-container2">
                                                    <img src="assets/std01-possessive-pronouns-worksheet2/img/p4.png" class="img-fluid p4-img">
                                            </div>
                                    </div>
                            </div>

                            <div class="col-12  p-0 d-flex">
                                    <div class="col-9">
                                            <div class="question question5">
                                                    <div class="number"><span>5)</span></div>
                                                    <div class="text-container ml-2">

                                                            <span>The footballs belong to Ted and Tom. The
                                                                    footballs are </span>
                                                            <div class="correct-ans5"><span>theirs</span></div>
                                                            <span class="input-span"><input type="text" name=""
                                                                            id="" data-text="fifth">.</span>

                                                            <div class="helpbox-container fifth">
                                                                    <span>theirs</span>
                                                                    <span>his</span>

                                                            </div>

                                                    </div>
                                            </div>
                                    </div>

                                    <div class="col-3">
                                            <div class="img-container1">
                                                    <img src="assets/std01-possessive-pronouns-worksheet2/img/p5.png" class="img-fluid p5-img">
                                            </div>
                                    </div>
                            </div>

                            <div class="col-12  p-0 d-flex">
                                    <div class="col-9">
                                            <div class="question">
                                                    <div class="number"><span>6)</span></div>
                                                    <div class="text-container22 ml-2">

                                                            <span>These dogs belong to us. These dogs are </span>
                                                            <div class="correct-ans"><span>ours</span></div>
                                                            <span class="input-span"><input type="text" name=""
                                                                            id="" data-text="sixth">.</span>

                                                            <div class="helpbox-container sixth">
                                                                    <span>theirs</span>
                                                                    <span>ours</span>

                                                            </div>

                                                    </div>
                                            </div>
                                    </div>

                                    <div class="col-3">
                                            <div class="img-container2">
                                                    <img src="assets/std01-possessive-pronouns-worksheet2/img/p66.png" class="img-fluid p6-img">
                                            </div>
                                    </div>
                            </div>

                    </div>
            </div>

            <div class="row mb-3">
                    <div class="col-12 text-center">
                            <button class="button myButton">Submit</button>
                    </div>
            </div>

    </div>
</div>
       


      