<div class="bg"  ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">

            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-1 mt-3">

                <h2 class="font-weight-bold">
                    Click on the blanks and then click on the correct Possessive Pronouns from the help box, to complete the sentences.
                </h2>
            </div>
        </div>

        <div class="Main_Container1 mb-3">
            <div class="Option_Container">
                <div class="options">
                    <div class="option">yours</div>
                    <div class="option">mine</div>
                    <div class="option">his</div>
                    <div class="option">ours</div>
                    <div class="option">theirs</div>
                    <div class="option">hers</div>
                </div>
            </div>
            <div class="Question_Container">
                <div class="row m-0">
                    <div class="col-12  p-0 d-flex mb-5 mb-sm-3 Question_Row">
                        <div class="question1">
                            <div class="number1"><span>1)</span></div>
                            <div class="text-container11 ml-1 ml-sm-2">
                                <span>That is Amy’s lunch. It is </span>
                                <span class="input-span"><input type="text" name="" id="">.
                                    <div class="correct-ans correct-ans1"><span>hers</span></div></span>
                            </div>
                        </div>
                        <div class="img-container1">
                            <img src="assets/std01-possessive-pronouns-worksheet3/img/p1.png" class="img-fluid p1-img">
                        </div>
                    </div>

                    <div class="col-12  p-0 d-flex mb-5 mb-sm-3 Question_Row">
                        <div class="question1">
                            <div class="number1"><span>2)</span></div>
                            <div class="text-container11 ml-1 ml-sm-2">
                                <span> These are your workbooks. These are</span>
                                <span class="input-span"><input type="text" name="" id="">.
                                    <div class="correct-ans correct-ans2"><span>yours</span></div></span>
                            </div>
                        </div>

                        <div class="img-container1">
                            <img src="assets/std01-possessive-pronouns-worksheet3/img/p2.png" class="img-fluid p2-img">
                        </div>

                    </div>

                    <div class="col-12  p-0 d-flex mb-5 mb-sm-3 Question_Row">
                        <div class="question1">
                            <div class="number1"><span>3)</span></div>
                            <div class="text-container11 ml-1 ml-sm-2">
                                <span> They are Tom’s shorts. They are </span>
                                <span class="input-span"><input type="text" name="" id="">.
                                    <div class="correct-ans correct-ans3"><span>his</span></div></span>
                            </div>
                        </div>
                        <div class="img-container1">
                            <img src="assets/std01-possessive-pronouns-worksheet3/img/p3.png" class="img-fluid p3-img">
                        </div>
                    </div>

                    <div class="col-12  p-0 d-flex mb-5 mb-sm-3 Question_Row">
                        <div class="question1">
                            <div class="number1"><span>4)</span></div>
                            <div class="text-container11 ml-1 ml-sm-2">
                                <span> I have five chocolates. They are </span>
                                <span class="input-span"><input type="text" name="" id="">.
                                    <div class="correct-ans correct-ans4"><span>mine</span></div></span>
                            </div>
                        </div>
                        <div class="img-container1">
                            <img src="assets/std01-possessive-pronouns-worksheet3/img/p4.png" class="img-fluid p4-img">
                        </div>
                    </div>


                    <div class="col-12  p-0 d-flex mb-5 mb-sm-3 Question_Row">
                        <div class="question1">
                            <div class="number1"><span>5)</span></div>
                            <div class="text-container11 ml-1 ml-sm-2">
                                <span> This is our house. It is </span>
                                <span class="input-span"><input type="text" name="" id=""><div class="correct-ans correct-ans5"><span>ours</span></div>.</span>
                            </div>
                        </div>
                        <div class="img-container1">
                            <img src="assets/std01-possessive-pronouns-worksheet3/img/p5.png" class="img-fluid p5-img">
                        </div>
                    </div>

                    <div class="col-12  p-0 d-flex mb-5 mb-sm-3 Question_Row">
                        <div class="question1">
                            <div class="number1"><span>6)</span></div>
                            <div class="text-container11 ml-1 ml-sm-2">
                                <span> These skates are Sam’s and Peter’s. They are </span>
                                <span class="input-span"><input type="text" name="" id=""><div class="correct-ans correct-ans6"><span>theirs</span></div>.</span>
                            </div>
                        </div>
                        <div class="img-container1">
                            <img src="assets/std01-possessive-pronouns-worksheet3/img/p6.png" class="img-fluid p6-img">
                        </div>
                    </div>

                    <div class="row btn-row">
                        <div class="col-12 text-center">
                            <button class="button myButton">Submit</button>
                        </div>
                    </div>

                </div>
            </div>



        </div>


    </div>
</div> 