<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
	<div class="loadingDiv">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12 px-2 mb-1 mb-sm-4 mt-3">

				<h2 class="font-weight-bold">
					Click in the circles below the numbers and then click on the correct Predicates given in Column B, that 
					will form sentences with the Subjects given in Column A.
				</h2>
			</div>
		</div>
		<div class="Main_Container mb-3 mt-2 mt-sm-0">

			<div class="row">
				<div class="col-12 Question_Body">
					<div class="row">
						<div class="col-6 p-0 mb-2 text-center">
							<span class="font-weight-bold"><u>Column A</u></span>
						</div>
						<div class="col-6 p-0 mb-2 text-center">
							<span class="font-weight-bold"><u>Column B</u></span>
						</div>
						<div class="col-6 p-0  mb-2 d-flex">
							<span class="number">1</span>
							<span>India</span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">A</span>
							<span class="option">scratched the sofa.</span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">2</span>
							<span>The bird</span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">B</span>
							<span class="option">took a cab to go to the city center.</span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">3</span>
							<span>The nursery classroom</span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">C</span>
							<span class="option">are twins.</span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">4</span>
							<span>Mike’s favourite movie</span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">D</span>
							<span class="option"> smell wonderful.</span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">5</span>
							<span>Babies</span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">E</span>
							<span class="option">went on a field trip to the museum.</span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">6</span>
							<span>We</span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">F</span>
							<span class="option">flew back to its nest in the evening.</span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">7</span>
							<span>My class</span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">G</span>
							<span class="option">learn to crawl before walking.</span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">8</span>
							<span>Susie’s cat </span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">H</span>
							<span class="option">is a land of festivals.</span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">9</span>
							<span>The roses in the room</span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">I</span>
							<span class="option">is ‘The Jurassic Park’.</span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">10</span>
							<span>Jack and his sister </span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">J</span>
							<span class="option">had crayons all over the floor.</span>
						</div>
					</div>
				</div>
				<div class="col-12 Answer_Container">
					<div class="Answer_Block">
						<div class="left_side">
							<div class="Answer">
								<div class="number_Block"><span>1</span></div>
								<div class="input_div"><input type="text"></div>
								<div class="correct_answer"><span>H</span></div>
							</div>
							<div class="Answer">
								<div class="number_Block"><span>2</span></div>
								<div class="input_div"><input type="text"></div>
								<div class="correct_answer"><span>F</span></div>
							</div>
							<div class="Answer">
								<div class="number_Block"><span>3</span></div>
								<div class="input_div"><input type="text"></div>
								<div class="correct_answer"><span>J</span></div>
							</div>
							<div class="Answer">
								<div class="number_Block"><span>4</span></div>
								<div class="input_div"><input type="text"></div>
								<div class="correct_answer"><span>I</span></div>
							</div>
							<div class="Answer">
								<div class="number_Block"><span>5</span></div>
								<div class="input_div"><input type="text"></div>
								<div class="correct_answer"><span>G</span></div>
							</div>
						</div>
						<div class="right_side">
							<div class="Answer">
								<div class="number_Block"><span>6</span></div>
								<div class="input_div"><input type="text"></div>
								<div class="correct_answer"><span>B</span></div>
							</div>
							<div class="Answer">
								<div class="number_Block"><span>7</span></div>
								<div class="input_div"><input type="text"></div>
								<div class="correct_answer"><span>E</span></div>
							</div>
							<div class="Answer">
								<div class="number_Block"><span>8</span></div>
								<div class="input_div"><input type="text"></div>
								<div class="correct_answer"><span>A</span></div>
							</div>
							<div class="Answer">
								<div class="number_Block"><span>9</span></div>
								<div class="input_div"><input type="text"></div>
								<div class="correct_answer"><span>D</span></div>
							</div>
							<div class="Answer">
								<div class="number_Block"><span>10</span></div>
								<div class="input_div"><input type="text"></div>
								<div class="correct_answer"><span>C</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="row pb-3 btn-row">
			<div class="col-12 text-center">
				<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>