<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row m-0">
            <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 pb-lg-3">
                <h2 class="font-weight-bold heading">
                    Click in the correct boxes of Singular and Plural to colour them, that
                    identifies the underlined Nouns in the sentences.

                </h2>
            </div>
        </div>


        <div class="main-question-container">

            <!-- 1 -->
            <div class="question">
                <div class="number">
                    <span>1)</span>
                </div>
                <div class="text-container">
                    <span>At night, we saw many <span class="underlined">fireflies</span> in the woods.</span>
                </div>
                <div class="img-container">
                    <img src="assets/std02-singular-plural-nouns-worksheet3/img/p1.png" class="img-fluid p1">
                </div>
                <div class="option_div">
                    <div class="options">
                        <div class="helpbox-ans wrong"><span>Singular</span></div>
                        <div class="helpbox-ans right"><span>Plural</span></div>
                    </div>
                </div>
            </div>
            <!-- 2 -->
            <div class="question">
                <div class="number">
                    <span>2)</span>
                </div>
                <div class="text-container">
                    <span>Do you have the <span class="underlined">key</span> to this lock?</span>
                </div>
                <div class="img-container">
                    <img src="assets/std02-singular-plural-nouns-worksheet3/img/p2.png" class="img-fluid p2">
                </div>
                <div class="option_div">
                    <div class="options">
                        <div class="helpbox-ans right"><span>Singular</span></div>
                        <div class="helpbox-ans wrong"><span>Plural</span></div>
                    </div>
                </div>
            </div>
            <!-- 3 -->
            <div class="question">
                <div class="number">
                    <span>3)</span>
                </div>
                <div class="text-container">
                    <span>Tommy has ten <span class="underlined">fish</span> in a huge fishtank.</span>
                </div>
                <div class="img-container">
                    <img src="assets/std02-singular-plural-nouns-worksheet3/img/p3.png" class="img-fluid p3">
                </div>
                <div class="option_div">
                    <div class="options">
                        <div class="helpbox-ans wrong"><span>Singular</span></div>
                        <div class="helpbox-ans right"><span>Plural</span></div>
                    </div>
                </div>
            </div>
            <!-- 4 -->
            <div class="question">
                <div class="number">
                    <span>4)</span>
                </div>
                <div class="text-container">
                    <span>Her hair is full of <span class="underlined">lice</span>.</span>
                </div>
                <div class="img-container">
                    <img src="assets/std02-singular-plural-nouns-worksheet3/img/p4.png" class="img-fluid p4">
                </div>
                <div class="option_div">
                    <div class="options">
                        <div class="helpbox-ans wrong"><span>Singular</span></div>
                        <div class="helpbox-ans right"><span>Plural</span></div>
                    </div>
                </div>
            </div>
            <!-- 5 -->
            <div class="question">
                <div class="number">
                    <span>5)</span>
                </div>
                <div class="text-container">
                    <span>Jenny made a <span class="underlined">wish</span> when she saw a shooting star.</span>
                </div>
                <div class="img-container">
                    <img src="assets/std02-singular-plural-nouns-worksheet3/img/p5.png" class="img-fluid p5">
                </div>
                <div class="option_div">
                    <div class="options">
                        <div class="helpbox-ans right"><span>Singular</span></div>
                        <div class="helpbox-ans wrong"><span>Plural</span></div>
                    </div>
                </div>
            </div>
            <!-- 6 -->
            <div class="question">
                <div class="number">
                    <span>6)</span>
                </div>
                <div class="text-container">
                    <span>The sailor found <span class="underlined">pouches</span> of gold coins in the treasure chest.</span>
                </div>
                <div class="img-container">
                    <img src="assets/std02-singular-plural-nouns-worksheet3/img/p6.png" class="img-fluid p6">
                </div>
                <div class="option_div">
                    <div class="options">
                        <div class="helpbox-ans wrong"><span>Singular</span></div>
                        <div class="helpbox-ans right"><span>Plural</span></div>
                    </div>
                </div>
            </div>
            <!-- 7 -->
            <div class="question">
                <div class="number">
                    <span>7)</span>
                </div>
                <div class="text-container">
                    <span>There were many <span class="underlined">women</span> at the supermarket on Friday evening.</span>
                </div>
                <div class="img-container">
                    <img src="assets/std02-singular-plural-nouns-worksheet3/img/p7.png" class="img-fluid p7">
                </div>
                <div class="option_div">
                    <div class="options">
                        <div class="helpbox-ans wrong"><span>Singular</span></div>
                        <div class="helpbox-ans right"><span>Plural</span></div>
                    </div>
                </div>
            </div>
            <!-- 8 -->
            <div class="question">
                <div class="number">
                    <span>8)</span>
                </div>
                <div class="text-container">
                    <span>Jason is hosting a <span class="underlined">party</span> for his classmates.</span>
                </div>
                <div class="img-container">
                    <img src="assets/std02-singular-plural-nouns-worksheet3/img/p8.png" class="img-fluid p8">
                </div>
                <div class="option_div">
                    <div class="options">
                        <div class="helpbox-ans right"><span>Singular</span></div>
                        <div class="helpbox-ans wrong"><span>Plural</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row btn-row">
        <div class="col-12 text-center">
            <button class="button myButton">Submit</button>
        </div>
    </div>
</div>