<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
              <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide">
              <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>

    <div class="loadingDiv">
    </div>

    <div class="container">
        <div class="row">
            <div class="heading mt-3">
                <h1>Click on the blanks and then click on the correct Antonyms from the maze, of the given words
                    and help the butterfly to reach the sunflower.
                </h1>
            </div>
        </div>
        <div class="Main_Container">
            <div class="col-12 Question_Container">
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">1)</div>
                        <div class="content">thick</div>
                        <div class="answer">
                            <input type="text">
                            <div class="correct_answer"><span>thin</span></div>
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">2)</div>
                        <div class="content">poor</div>
                        <div class="answer">
                            <input type="text">
                            <div class="correct_answer"><span>rich</span></div>
                        </div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">3)</div>
                        <div class="content">early</div>
                        <div class="answer">
                            <input type="text">
                            <div class="correct_answer"><span>late</span></div>
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">4)</div>
                        <div class="content">long</div>
                        <div class="answer">
                            <input type="text">
                            <div class="correct_answer"><span>short</span></div>
                        </div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">5)</div>
                        <div class="content">happy</div>
                        <div class="answer">
                            <input type="text">
                            <div class="correct_answer"><span>sad</span></div>
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">6)</div>
                        <div class="content">all</div>
                        <div class="answer">
                            <input type="text">
                            <div class="correct_answer"><span>none</span></div>
                        </div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">7)</div>
                        <div class="content">walk</div>
                        <div class="answer">
                            <input type="text">
                            <div class="correct_answer"><span>run</span></div>
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">8)</div>
                        <div class="content">small</div>
                        <div class="answer">
                            <input type="text">
                            <div class="correct_answer"><span>large</span></div>
                        </div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">9)</div>
                        <div class="content">push</div>
                        <div class="answer">
                            <input type="text">
                            <div class="correct_answer"><span>pull</span></div>
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">10)</div>
                        <div class="content">dry</div>
                        <div class="answer">
                            <input type="text">
                            <div class="correct_answer"><span>wet</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 Option_Container">
                <div class="img_Box position-relative d-inline-block">
                    <img src="assets/std03-antonyms-worksheet5/img/butterfly.png" alt="" class="butterfly">
                    <img src="assets/std03-antonyms-worksheet5/img/flower.png" alt="" class="flower">
                    <img src="assets/std03-antonyms-worksheet5/img/puzzle_bg.png" alt="" class="img-fluid puzzle">
                    <img src="assets/std03-antonyms-worksheet5/img/puzzle_answer_bg.png" alt="" class="img-fluid puzzle_answer">
                    <span class="thin">thin</span>
                    <span class="rich">rich</span>
                    <span class="beautiful disabled">beautiful</span>
                    <span class="warm disabled">warm</span>
                    <span class="late">late</span>
                    <span class="none">none</span>
                    <span class="run">run</span>
                    <span class="many disabled">many</span>
                    <span class="short">short</span>
                    <span class="high disabled">high</span>
                    <span class="large">large</span>
                    <span class="sad">sad</span>
                    <span class="win disabled">win</span>
                    <span class="fat disabled">fat</span>
                    <span class="wet">wet</span>
                    <span class="white disabled">white</span>
                    <span class="pull">pull</span>
                    <span class="slow disabled">slow</span>
                    <span class="young disabled">young</span>
                    <span class="Close disabled">close</span>
                </div>

            </div>
        </div>
        <div class="btn-row">
            <button class="button myButton">Submit</button>
        </div>

    </div>
</div>