<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 mb-2 mb-md-3">
				<h2 class="font-weight-bold heading">
					<!-- Click in the shapes and then click on the correct Past, Present and Future Tense Verbs from the help box, of the given Verbs. -->
					Click in the shapes and then click on the correct Past, Present and Future Tense Verbs from the help box; of the given Verbs.
				</h2>
			</div>
		</div>
		<div class="row mb-2">
			<div class="helpbox-container">
				<div class="helpbox"><span>will need</span></div>
				<div class="helpbox"><span>try/tries</span></div>
				<div class="helpbox"><span>buy/buys</span></div>
				<div class="helpbox"><span>need/needs</span></div>
				<div class="helpbox"><span>will stop</span></div>
				<div class="helpbox"><span>will try</span></div>
				<div class="helpbox"><span>will give</span></div>
				<div class="helpbox"><span>put</span></div>
				<div class="helpbox"><span>needed</span></div>
				<div class="helpbox"><span>will buy</span></div>
				<div class="helpbox"><span>bought</span></div>
				<div class="helpbox"><span>put/puts</span></div>
				<div class="helpbox"><span>stopped</span></div>
				<div class="helpbox"><span>tried</span></div>
				<div class="helpbox"><span>gave</span></div>
				<div class="helpbox"><span>will put</span></div>
				<div class="helpbox"><span>give/gives</span></div>
				<div class="helpbox"><span>stop/stops</span></div>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<!-- heading -->
				<div class="question-container">
					<div class="verb">
						<div class="question">
							<div class="number"></div>
							<div class="text-container">
								<div class="question-heading Verb-heading">
									<span>Verb</span>
								</div>
							</div>
						</div>

						<!-- 1 -->
						<div class="question start">
							<div class="number"><span>1</span></div>
							<div class="text-container">
								<div class="div">
										<span>need</span>
								</div>
							</div>
						</div>
						<!-- 2 -->
						<div class="question start">
							<div class="number"><span>2</span></div>
							<div class="text-container">
								<div class="div">
										<span>try</span>
								</div>
							</div>
						</div>
						<!-- 3 -->
						<div class="question start">
							<div class="number"><span>3</span></div>
							<div class="text-container">
								<div class="div">
										<span>give</span>
								</div>
							</div>
						</div>
						<!-- 4 -->
						<div class="question start">
							<div class="number"><span>4</span></div>
							<div class="text-container">
								<div class="div">
										<span>stop</span>
								</div>
							</div>
						</div>
						<!-- 5 -->
						<div class="question start">
							<div class="number"><span>5</span></div>
							<div class="text-container">
								<div class="div">
										<span>put</span>
								</div>
							</div>
						</div>
						<!-- 6 -->
						<div class="question start">
							<div class="number"><span>6</span></div>
							<div class="text-container">
								<div class="div">
										<span>buy</span>
								</div>
							</div>
						</div>
						<!-- end -->
					</div>
					<div class="past-tense">
						<div class="question-heading">
							<span>Past Tense</span>
						</div>

						<!-- 1 -->
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>needed</span>
							</div>
						</div>
						<!-- 2 -->
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>tried</span>
							</div>
						</div>
						<!-- 3 -->
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>gave</span>
							</div>
						</div>
						<!-- 4 -->
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>stopped</span>
							</div>
						</div>
						<!-- 5 -->
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>put</span>
							</div>
						</div>
						<!-- 6 -->
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>bought</span>
							</div>
						</div>
						<!-- end -->

					</div>
					<div class="verb verb1">
						<div class="question">
							<div class="number"></div>
							<div class="text-container">
								<div class="question-heading Verb-heading">
									<span>Verb</span>
								</div>
							</div>
						</div>
						<!-- 1 -->
						<div class="question start">
							<div class="number"><span>1</span></div>
							<div class="text-container">
								<div class="div">
										<span>need</span>
								</div>
							</div>
						</div>
						<!-- 2 -->
						<div class="question start">
							<div class="number"><span>2</span></div>
							<div class="text-container">
								<div class="div">
										<span>try</span>
								</div>
							</div>
						</div>
						<!-- 3 -->
						<div class="question start">
							<div class="number"><span>3</span></div>
							<div class="text-container">
								<div class="div">
										<span>give</span>
								</div>
							</div>
						</div>
						<!-- 4 -->
						<div class="question start">
							<div class="number"><span>4</span></div>
							<div class="text-container">
								<div class="div">
										<span>stop</span>
								</div>
							</div>
						</div>
						<!-- 5 -->
						<div class="question start">
							<div class="number"><span>5</span></div>
							<div class="text-container">
								<div class="div">
										<span>put</span>
								</div>
							</div>
						</div>
						<!-- 6 -->
						<div class="question start">
							<div class="number"><span>6</span></div>
							<div class="text-container">
								<div class="div">
										<span>buy</span>
								</div>
							</div>
						</div>
						<!-- end -->
					</div>
					<div class="present-tense">
						<div class="question-heading">
							<span>Present Tense</span>
						</div>

						<!-- 1 -->
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>need/needs</span>
							</div>
						</div>
						<!-- 2 -->
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>try/tries</span>
							</div>
						</div>
						<!-- 3 -->
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>give/gives</span>
							</div>
						</div>
						<!-- 4 -->
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>stop/stops</span>
							</div>
						</div>
						<!-- 5 -->
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>put/puts</span>
							</div>
						</div>
						<!-- 6 -->
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>buy/buys</span>
							</div>
						</div>
						<!-- end -->
					</div>
					<div class="verb verb2">
						<div class="question">
							<div class="number"></div>
							<div class="text-container">
								<div class="question-heading Verb-heading">
									<span>Verb</span>
								</div>
							</div>
						</div>
						<!-- 1 -->
						<div class="question start">
							<div class="number"><span>1</span></div>
							<div class="text-container">
								<div class="div">
										<span>need</span>
								</div>
							</div>
						</div>
						<!-- 2 -->
						<div class="question start">
							<div class="number"><span>2</span></div>
							<div class="text-container">
								<div class="div">
										<span>try</span>
								</div>
							</div>
						</div>
						<!-- 3 -->
						<div class="question start">
							<div class="number"><span>3</span></div>
							<div class="text-container">
								<div class="div">
										<span>give</span>
								</div>
							</div>
						</div>
						<!-- 4 -->
						<div class="question start">
							<div class="number"><span>4</span></div>
							<div class="text-container">
								<div class="div">
										<span>stop</span>
								</div>
							</div>
						</div>
						<!-- 5 -->
						<div class="question start">
							<div class="number"><span>5</span></div>
							<div class="text-container">
								<div class="div">
										<span>put</span>
								</div>
							</div>
						</div>
						<!-- 6 -->
						<div class="question start">
							<div class="number"><span>6</span></div>
							<div class="text-container">
								<div class="div">
										<span>buy</span>
								</div>
							</div>
						</div>
						<!-- end -->
					</div>
					<div class="future-tense">
						<div class="question-heading">
							<span>Future Tense</span>
						</div>
						<!-- 1 -->
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>will need</span>
							</div>
						</div>
						<!-- 2 -->
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>will try</span>
							</div>
						</div>
						<!-- 3 -->
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>will give</span>
							</div>
						</div>
						<!-- 4 -->
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>will stop</span>
							</div>
						</div>
						<!-- 5 -->
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>will put</span>
							</div>
						</div>
						<!-- 6 -->
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>will buy</span>
							</div>
						</div>
						<!-- end -->
					</div>
				</div>
				<!-- 1 -->
				<!-- <div class="question-container start">
					<div class="verb">
						<div class="question">
							<div class="number"><span>1</span></div>
							<div class="text-container">
								<div class="div">
										<span>need</span>
								</div>
							</div>
						</div>
					</div>
					<div class="past-tense">
						<div class="input-container">
							<input type="text" value="neededd">
						</div>
					</div>
					<div class="verb verb1">
						<div class="question">
							<div class="number"></div>
							<div class="text-container">
								<div class="question-heading">
									<span>Verb</span>
								</div>
							</div>
						</div>
					</div>
					<div class="present-tense">
						<div class="input-container">
							<input type="text" value="nefed/needsdf">
						</div>
					</div>
					<div class="verb verb2">
						<div class="question">
							<div class="number"></div>
							<div class="text-container">
								<div class="question-heading">
									<span>Verb</span>
								</div>
							</div>
						</div>
					</div>
					<div class="future-tense">
						<div class="input-container">
							<input type="text" value="willl needd">
						</div>
					</div>
				</div> -->
				<!-- 2 -->
				<!-- 3 -->
				<!-- end -->
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>