<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
	<div class="loadingDiv">
	</div>

  <div class="container">
		<div class="row ">
			<div class="col-xs-12 ">
				<div class="heading mt-3">
					<h1>Click on the blanks and then click on the correct Feminine Gender from the help box, of the given 
						Masculine Gender.
					</h1>
				</div>
			</div>
		</div>
		
		<div class="row Main_Container">
			<div class="col-xs-7 Question_Container">
				<div class="row">
					<div class="col-xs-5 Column">
						<div class="header Masculine">Masculine Gender</div>
					</div>
					<div class="col-xs-7 text-center">
						<div class="header Feminine">Feminine Gender</div>
					</div>
				</div>
				
				<div class="row Main_Row">
					<div class="col-xs-5 Column">
						<div class="row Question_Row">
							<div class="col-xs-2">
								<div class="list-item"><span>1)</span></div>
							</div>
							<div class="col-xs-10">
								<div class="Question"><span>landlord</span></div>
							</div>
						 </div>
					</div>
					<div class="col-xs-7 Column">
						<div class="row Answer_Row">
							<div class="col-xs-12">
								<div class="Answer"><input type="text" name="first" /></div>
								<div class="Correct_Answer"><span>landlady</span></div>
							</div>
						 </div>
					</div>
				</div>
				<div class="row Main_Row">
					<div class="col-xs-5 Column">
						<div class="row Question_Row">
							<div class="col-xs-2">
								<div class="list-item"><span>2)</span></div>
							</div>
							<div class="col-xs-10">
								<div class="Question"><span>steward</span></div>
							</div>
						 </div>
					</div>
					<div class="col-xs-7 Column">
						<div class="row Answer_Row">
							<div class="col-xs-12">
								<div class="Answer"><input type="text" name="second" /></div>
								<div class="Correct_Answer"><span>stewardess</span></div>
							</div>
						 </div>
					</div>
				</div>
				<div class="row Main_Row">
					<div class="col-xs-5 Column">
						<div class="row Question_Row">
							<div class="col-xs-2">
								<div class="list-item"><span>3)</span></div>
							</div>
							<div class="col-xs-10">
								<div class="Question"><span>manager</span></div>
							</div>
						 </div>
					</div>
					<div class="col-xs-7 Column">
						<div class="row Answer_Row">
							<div class="col-xs-12">
								<div class="Answer"><input type="text" name="third" /></div>
								<div class="Correct_Answer"><span>manageress</span></div>
							</div>
						 </div>
					</div>
				</div>
				<div class="row Main_Row">
					<div class="col-xs-5 Column">
						<div class="row Question_Row">
							<div class="col-xs-2">
								<div class="list-item"><span>4)</span></div>
							</div>
							<div class="col-xs-10">
								<div class="Question"><span>host</span></div>
							</div>
						 </div>
					</div>
					<div class="col-xs-7 Column">
						<div class="row Answer_Row">
							<div class="col-xs-12">
								<div class="Answer"><input type="text" name="fourth" /></div>
								<div class="Correct_Answer"><span>hostess</span></div>
							</div>
						 </div>
					</div>
				</div>
				<div class="row Main_Row">
					<div class="col-xs-5 Column">
						<div class="row Question_Row">
							<div class="col-xs-2">
								<div class="list-item"><span>5)</span></div>
							</div>
							<div class="col-xs-10">
								<div class="Question"><span>baron</span></div>
							</div>
						 </div>
					</div>
					<div class="col-xs-7 Column">
						<div class="row Answer_Row">
							<div class="col-xs-12">
								<div class="Answer"><input type="text" name="fifth" /></div>
								<div class="Correct_Answer"><span>baroness</span></div>
							</div>
						 </div>
					</div>
				</div>
				<div class="row Main_Row">
					<div class="col-xs-5 Column">
						<div class="row Question_Row">
							<div class="col-xs-2">
								<div class="list-item"><span>6)</span></div>
							</div>
							<div class="col-xs-10">
								<div class="Question"><span>boy scout</span></div>
							</div>
						 </div>
					</div>
					<div class="col-xs-7 Column">
						<div class="row Answer_Row">
							<div class="col-xs-12">
								<div class="Answer"><input type="text" name="sixth" /></div>
								<div class="Correct_Answer"><span>girl guide</span></div>
							</div>
						 </div>
					</div>
				</div>
				<div class="row Main_Row">
					<div class="col-xs-5 Column">
						<div class="row Question_Row">
							<div class="col-xs-2">
								<div class="list-item"><span>7)</span></div>
							</div>
							<div class="col-xs-10">
								<div class="Question"><span>milkman</span></div>
							</div>
						 </div>
					</div>
					<div class="col-xs-7 Column">
						<div class="row Answer_Row">
							<div class="col-xs-12">
								<div class="Answer"><input type="text" name="seventh" /></div>
								<div class="Correct_Answer"><span>milkmaid</span></div>
							</div>
						 </div>
					</div>
				</div>
				<div class="row Main_Row">
					<div class="col-xs-5 Column">
						<div class="row Question_Row">
							<div class="col-xs-2">
								<div class="list-item"><span>8)</span></div>
							</div>
							<div class="col-xs-10">
								<div class="Question"><span>father-in-law</span></div>
							</div>
						 </div>
					</div>
					<div class="col-xs-7 Column">
						<div class="row Answer_Row">
							<div class="col-xs-12">
								<div class="Answer"><input type="text" name="eightth" /></div>
								<div class="Correct_Answer"><span>mother-in-law</span></div>
							</div>
						 </div>
					</div>
				</div>
				
				
			</div>
			<div class="col-xs-4 Option_Container no-padding">
				<div class="row">
					<div class="col-xs-6"><div class="Option first"><span>hostess</span></div></div>
					<div class="col-xs-6"><div class="Option second"><span>mother-in-law</span></div></div>
				</div>
				<div class="row">
					<div class="col-xs-6"><div class="Option third"><span>landlady</span></div></div>
					<div class="col-xs-6"><div class="Option fourth"><span>manageress</span></div></div>
				</div>
				<div class="row">
					<div class="col-xs-6"><div class="Option fifth"><span>stewardess</span></div></div>
					<div class="col-xs-6"><div class="Option sixth"><span>milkmaid</span></div></div>
				</div>
				<div class="row">
					<div class="col-xs-6"><div class="Option seventh"><span>girl guide</span></div></div>
					<div class="col-xs-6"><div class="Option eightth"><span>baroness</span></div></div>
				</div>
			</div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
	</div>

</div>