<div class="bg">
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-1 mt-2 mt-sm-4 heading">
                <h1 class="font-weight-bold">
                  Click on the blanks given in the shapes and then click on the correct Articles from the help box, that can be used before the given Nouns.
                </h1>
            </div>
        </div>
        <div class="Main_Container mb-3">
            <div class="Option_Container">
                <div class="helpboxes">
                    <div class="helpbox">a</div>
                    <div class="helpbox">an</div>
                </div>
            </div>
            <div class="Question_Container">
                <img src="assets/std01-articles-worksheet2/img/characters.png" class="characters">
                <img src="assets/std01-articles-worksheet2/img/characters_portrait.png" class="characters_portrait">

                <div class="input_Block eagle">
                    <div class="input_div"><input type="text"><div class="correct_answer"><span>an</span></div></div> eagle
                </div>
                <div class="input_Block giraffe">
                    <div class="input_div"><input type="text"><div class="correct_answer"><span>a</span></div></div> giraffe
                </div>
                <div class="input_Block owl">
                    <div class="input_div"><input type="text"><div class="correct_answer"><span>an</span></div></div> owl
                </div>
                <div class="input_Block tiger">
                    <div class="input_div"><input type="text"><div class="correct_answer"><span>a</span></div></div> tiger
                </div>
                <div class="input_Block turtle">
                    <div class="input_div"><input type="text"><div class="correct_answer"><span>a</span></div></div> turtle
                </div>
                <div class="input_Block iguana">
                    <div class="input_div"><input type="text"><div class="correct_answer"><span>an</span></div></div> iguana
                </div>
                <div class="input_Block ostrich">
                    <div class="input_div"><input type="text"><div class="correct_answer"><span>an</span></div></div> ostrich
                </div>
                <div class="input_Block alligator">
                    <div class="input_div"><input type="text"><div class="correct_answer"><span>an</span></div></div> alligator
                </div>
            </div>
            <div class="btn-row">
                <button class="button myButton">Submit</button>
            </div>
        </div>
    </div>
</div>