<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text fabulous hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
		<div class="heading">
			<h1>Click in the scoops of cones to colour them, if all the three words in them are Rhyming Words.</h1>
		</div>
        <div class="Main_Container">
            <div class="Question_Container">
                <div class="Question_Block">
                    <div class="Block">
                        <img src="assets/std02-rhyming-words-worksheet2/img/ice_cream.png" alt="">
                        <span class="first">jam</span>
                        <span class="second">dam</span>
                        <span class="third">ram</span>
                    </div>
                    <div class="Block wrong">
                        <img src="assets/std02-rhyming-words-worksheet2/img/ice_cream.png" alt="">
                        <span class="first">bug</span>
                        <span class="second">log</span>
                        <span class="third">mug</span>
                    </div>
                    <div class="Block">
                        <img src="assets/std02-rhyming-words-worksheet2/img/ice_cream.png" alt="">
                        <span class="first">sink</span>
                        <span class="second">wink</span>
                        <span class="third">mink</span>
                    </div>
                    <div class="Block">
                        <img src="assets/std02-rhyming-words-worksheet2/img/ice_cream.png" alt="">
                        <span class="first">cut</span>
                        <span class="second">hut</span>
                        <span class="third">nut</span>
                    </div>
                    <div class="Block">
                        <img src="assets/std02-rhyming-words-worksheet2/img/ice_cream.png" alt="">
                        <span class="first">band</span>
                        <span class="second">sand</span>
                        <span class="third">hand</span>
                    </div>
                    <div class="Block">
                        <img src="assets/std02-rhyming-words-worksheet2/img/ice_cream.png" alt="">
                        <span class="first">sock</span>
                        <span class="second">rock</span>
                        <span class="third">lock</span>
                    </div>
                    <div class="Block wrong">
                        <img src="assets/std02-rhyming-words-worksheet2/img/ice_cream.png" alt="">
                        <span class="first">call</span>
                        <span class="second">cell</span>
                        <span class="third">fell</span>
                    </div>
                    <div class="Block empty">
                    </div>
                    <div class="Block">
                        <img src="assets/std02-rhyming-words-worksheet2/img/ice_cream.png" alt="">
                        <span class="first">dew</span>
                        <span class="second">few</span>
                        <span class="third">new</span>
                    </div>
                    <div class="Block wrong">
                        <img src="assets/std02-rhyming-words-worksheet2/img/ice_cream.png" alt="">
                        <span class="first">jet</span>
                        <span class="second">wet</span>
                        <span class="third">sat</span>
                    </div>
                </div>
            </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
  </div>
</div>