<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row m-0">
      <div class="col-12 col-xs-12 margin-auto p-1 mt-2  mt-lg-3 ">
        <h2 class="font-weight-bold heading1">
          Common Nouns that are used for different jobs or occupations.
        </h2>
      </div>
      <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
        <h2 class="font-weight-bold heading">
          Click on the blanks and then click on the correct words from
          the help box, to complete the sentences.
        </h2>
      </div>
    </div>

    <div class="row mb-2">
      <div class="helpbox-container">
        <div class="helpbox-ans " data-text="one">
          <span>banker</span>
        </div>
        <div class="helpbox-ans" data-text="two">
          <span> waiter</span>
        </div>
        <div class="helpbox-ans" data-text="three">
          <span>gardener</span>
        </div>
        <div class="helpbox-ans" data-text="fourt">
          <span>sailor</span>
        </div>
        <div class="helpbox-ans" data-text="fifth">
          <span>tailor</span>
        </div>
        <div class="helpbox-ans" data-text="sixth">
          <span>veterinarian</span>
        </div>
        <div class="helpbox-ans" data-text="seventh">
          <span>postman</span>
        </div>
        <div class="helpbox-ans" data-text="eight">
          <span>butcher</span>
        </div>

      </div>
    </div>


    <div class="main-question-container">

      <!-- 1 -->
      <div class="question">
        <div class="number">
          <span>1</span>
        </div>
        <div class="text-container">
          <span>A doctor for the animals is a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>veterinarian</span>
            </div>
          </div>
          <span class="dot">.</span>
        </div>
      </div>
      <!-- 2 -->
      <div class="question">
        <div class="number">
          <span>2</span>
        </div>
        <div class="text-container">
          <span>A person who makes or fits clothes for other people is a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>tailor</span>
            </div>
          </div>
          <span class="dot">.</span>
        </div>
      </div>
      <!-- 3 -->
      <div class="question">
        <div class="number">
          <span>3</span>
        </div>
        <div class="text-container">
          <span>A person who serves food to people in a restaurant is a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>waiter</span>
            </div>
          </div>
          <span class="dot">.</span>
        </div>
      </div>
      <!-- 4 -->
      <div class="question">
        <div class="number">
          <span>4</span>
        </div>
        <div class="text-container">
          <span>A person who grows and looks after plants in a garden is a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>gardener</span>
            </div>
          </div>
          <span class="dot">.</span>
        </div>
      </div>
      <!-- 5 -->
      <div class="question">
        <div class="number">
          <span>5</span>
        </div>
        <div class="text-container">
          <span>A person who owns or manages a bank is a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>banker</span>
            </div>
          </div>
          <span class="dot">.</span>
        </div>
      </div>
      <!-- 6 -->
      <div class="question">
        <div class="number">
          <span>6</span>
        </div>
        <div class="text-container">
          <span>A person who delivers letters and parcels to people is a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>postman</span>
            </div>
          </div>
          <span class="dot">.</span>
        </div>
      </div>
      <!-- 7 -->
      <div class="question">
        <div class="number">
          <span>7</span>
        </div>
        <div class="text-container">
          <span>A person who cuts and sells meat in a shop is a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>butcher</span>
            </div>
          </div>
          <span class="dot">.</span>
        </div>
      </div>
      <!-- 8 -->
      <div class="question">
        <div class="number">
          <span>8</span>
        </div>
        <div class="text-container">
          <span>A person who works on a ship or a boat is a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>sailor</span>
            </div>
          </div>
          <span class="dot">.</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row btn-row">
    <div class="col-12 text-center">
      <button class="button myButton">Submit</button>
    </div>
  </div>
</div>