<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
              <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide">
              <!-- <img src="" alt="" class="Text fabulous hide"> -->
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
          <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
      <div class="row">
          <div class="heading mt-3">
              <h1>
                  Click on the blanks and then click on the correct Collective Nouns from the help box, that can be used for the given Common Nouns.
              </h1>
          </div>
      </div>
      <div class="row">
          <div class="col-10 col-sm-6 col-md-6 col-lg-6 col-xl-4 Option_Container">
              <div class="row my-1 my-sm-3">
                  <div class="col-4"><span>pack</span></div>
                  <div class="col-4"><span>bunch</span></div>
                  <div class="col-4"><span>string</span></div>
              </div>
              <div class="row mb-1 mb-sm-3">
                  <div class="col-4"><span>galaxy</span></div>
                  <div class="col-4"><span>herd</span></div>
                  <div class="col-4"><span>chest</span></div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12 col-sm-10 col-md-10 col-lg-8 Question_Container">
              <div class="row">
                  <div class="col-6">
                      <img src="assets/std01-collective-noun-worksheet4/img/pearls.png" alt="" class="img-fluid"> 
                      <div>a <input type="text" name="" id=""> <div class="correct_answer"><Span>string</Span></div> of pearls</div>
                  </div>
                  <div class="col-6">
                      <img src="assets/std01-collective-noun-worksheet4/img/cards.png" alt="" class="img-fluid"> 
                      <div>a <input type="text" name="" id=""><div class="correct_answer"><Span>pack</Span></div> of cards</div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-6">
                      <img src="assets/std01-collective-noun-worksheet4/img/stars.png" alt="" class="img-fluid"> 
                      <div>a <input type="text" name="" id=""><div class="correct_answer"><Span>galaxy</Span></div> of stars</div>
                  </div>
                  <div class="col-6">
                        <img src="assets/std01-collective-noun-worksheet4/img/elephants.png" alt="" class="img-fluid"> 
                        <div>a <input type="text" name="" id=""><div class="correct_answer"><Span>herd</Span></div> of elephants</div>
                    </div>
              </div>
              <div class="row">
                  <div class="col-6">
                      <img src="assets/std01-collective-noun-worksheet4/img/grapes.png" alt="" class="img-fluid"> 
                      <div>a <input type="text" name="" id=""><div class="correct_answer"><Span>bunch</Span></div> of grapes</div>
                  </div>
                  <div class="col-6">
                      <img src="assets/std01-collective-noun-worksheet4/img/drawers.png" alt="" class="img-fluid"> 
                      <div>a <input type="text" name="" id=""><div class="correct_answer"><Span>chest</Span></div> of drawers</div>
                  </div>
              </div>
          </div>
      </div>
        <div class="row m-0">
          <div class="btn-row w-100">
              <button class="button myButton">Submit</button>
          </div>
      </div>
  </div>
</div>