<div class="bg">
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
      <div class="container">
          <div class="row px-2 p-2 pt-2 pt-xl-3 mb-xl-3">
      <div class="heading">
        <h2 class="font-weight-bold">
          Click on the blanks and then click on the correct Antonyms from the help box, of the given words.
        </h2>
      </div>
    </div>
    <div class="row mb-3 mb-xl-4">
      <div class="helpbox-container">
        <div class="row m-0">
          <div class="col-12 col-sm-6 p-0">
            <div class="row m-0">
              <div class="col-3 p-0">
                <span>thin</span>
              </div>
              <div class="col-3 p-0">
                <span>pull</span>
              </div>
              <div class="col-3 p-0">
                <span>young</span>
              </div>
              <div class="col-3 p-0">
                <span>full</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 p-0">
            <div class="row m-0">
              <div class="col-3 p-0">
                <span>sunset</span>
              </div>
              <div class="col-3 p-0">
                <span>sad</span>
              </div>

              <div class="col-3 p-0">
                <span>straight</span>
              </div>
              <div class="col-3 p-0">
                <span>rainy</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
          <div class="Main_Container mb-1 mt-sm-4 mt-xl-5">
              <div class="row margin-top-main Question-container text-center font-weight-bold">
        <div class="col-12 col-sm-6 p-0 mb-3 mb-sm-4 ">
          <div class="row m-0">
            <div class="col-1 p-0">1)</div>
            <div class="col-2 p-0"><img src="assets/std01-antonyms-worksheet3/img/empty-glass.png" class="img-fluid"></div>
            <div class="col-3 p-0">empty</div>
            <div class="col-1 p-0">X</div>
            <div class="col-3 p-0"><span class="input-span"><input type="text"></span><div class="answer-div"><span>full</span></div></div>
            <div class="col-2 p-0"><img src="assets/std01-antonyms-worksheet3/img/full-glass.png" class="img-fluid"></div>
          </div>
        </div>
        <div class="col-12  col-sm-6 p-0  mb-3 mb-sm-4 ">
          <div class="row m-0">
            <div class="col-1 p-0">2)</div>
            <div class="col-2 p-0"><img src="assets/std01-antonyms-worksheet3/img/son.png" class="img-fluid"></div>
            <div class="col-3 p-0">sunny</div>
            <div class="col-1 p-0">X</div>
            <div class="col-3 p-0"><span class="input-span"><input type="text"></span><div class="answer-div"><span>rainy</span></div></div>
            <div class="col-2 p-0"><img src="assets/std01-antonyms-worksheet3/img/rain.png" class="img-fluid"></div>
          </div>
        </div>
        <!-- 3 4 -->
        <div class="col-12 col-sm-6 p-0 mb-3 mb-sm-4 ">
          <div class="row m-0">
            <div class="col-1 p-0">3)</div>
            <div class="col-2 p-0"><img src="assets/std01-antonyms-worksheet3/img/happy.png" class="img-fluid"></div>
            <div class="col-3 p-0">happy</div>
            <div class="col-1 p-0">X</div>
            <div class="col-3 p-0"><span class="input-span"><input type="text"></span><div class="answer-div"><span>sad</span></div></div>
            <div class="col-2 p-0"><img src="assets/std01-antonyms-worksheet3/img/sad.png" class="img-fluid"></div>
          </div>
        </div>
        <div class="col-12  col-sm-6 p-0  mb-3 mb-sm-4">
          <div class="row m-0">
            <div class="col-1 p-0">4)</div>
            <div class="col-2 p-0"><img src="assets/std01-antonyms-worksheet3/img/fat.png" class="img-fluid"></div>
            <div class="col-3 p-0">fat</div>
            <div class="col-1 p-0">X</div>
            <div class="col-3 p-0"><span class="input-span"><input type="text"></span><div class="answer-div"><span>thin</span></div></div>
            <div class="col-2 p-0"><img src="assets/std01-antonyms-worksheet3/img/thin.png" class="img-fluid"></div>
          </div>
        </div>
      <!-- 5-8 -->
      <div class="col-12 col-sm-6 p-0 mb-3 mb-sm-4">
        <div class="row m-0">
          <div class="col-1 p-0">5)</div>
          <div class="col-2 p-0"><img src="assets/std01-antonyms-worksheet3/img/sunrise.png" class="img-fluid"></div>
          <div class="col-3 p-0">sunrise</div>
          <div class="col-1 p-0">X</div>
          <div class="col-3 p-0"><span class="input-span"><input type="text"></span><div class="answer-div"><span>sunset</span></div></div>
          <div class="col-2 p-0"><img src="assets/std01-antonyms-worksheet3/img/sunset.png" class="img-fluid"></div>
        </div>
      </div>
      <div class="col-12  col-sm-6 p-0  mb-3 mb-sm-4 ">
        <div class="row m-0">
          <div class="col-1 p-0">6)</div>
          <div class="col-2 p-0"><img src="assets/std01-antonyms-worksheet3/img/old.png" class="img-fluid"></div>
          <div class="col-3 p-0">old</div>
          <div class="col-1 p-0">X</div>
          <div class="col-3 p-0"><span class="input-span"><input type="text"></span><div class="answer-div"><span>young</span></div></div>
          <div class="col-2 p-0"><img src="assets/std01-antonyms-worksheet3/img/young.png" class="img-fluid"></div>
        </div>
      </div>
      <!-- 3 4 -->
      <div class="col-12 col-sm-6 p-0 mb-3 mb-sm-4 ">
        <div class="row m-0">
          <div class="col-1 p-0">7)</div>
          <div class="col-2 p-0"><img src="assets/std01-antonyms-worksheet3/img/croocked.png" class="img-fluid"></div>
          <div class="col-3 p-0">crooked</div>
          <div class="col-1 p-0">X</div>
          <div class="col-3 p-0"><span class="input-span"><input type="text"></span><div class="answer-div"><span>straight</span></div></div>
          <div class="col-2 p-0"><img src="assets/std01-antonyms-worksheet3/img/straight.png" class="img-fluid"></div>
        </div>
      </div>
      <div class="col-12  col-sm-6 p-0  mb-3 mb-sm-4">
        <div class="row m-0">
          <div class="col-1 p-0">8)</div>
          <div class="col-2 p-0"><img src="assets/std01-antonyms-worksheet3/img/push.png" class="img-fluid"></div>
          <div class="col-3 p-0">push</div>
          <div class="col-1 p-0">X</div>
          <div class="col-3 p-0"><span class="input-span"><input type="text"></span><div class="answer-div"><span>pull</span></div></div>
          <div class="col-2 p-0"><img src="assets/std01-antonyms-worksheet3/img/pull.png" class="img-fluid"></div>
        </div>
      </div>
      <div class="col-12  p-0  mb-3 mb-sm-4">
        <div class="btn-row">
          <button class="button myButton">Submit</button>
        </div>
      </div>
      <!-- 5-8  -->
      </div>
          </div>
      </div>
</div>
	

