<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3 mb-3">
        <h2 class="font-weight-bold heading">
          Click in the correct boxes of Quality, Quantity and Number to colour them; that indentifies the underlined words.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="main-question-container">
        <img src="assets/std03-mixed-adjectives-worksheet1/img/Question_bg1.png" alt="" class="Question_bg">
        <img src="assets/std03-mixed-adjectives-worksheet1/img/Question_bg_portrait.png" alt="" class="Question_bg_portrait">
        <!-- 1 -->
        <div class="question">
          <div class="number"><span>1</span></div>
          <div class="main-text-container">
            <div class="text-container"><span>Thomas Edison was known to have made <u>countless</u> inventions.</span>
            </div>
            <div class="option-container">
              <div class="option"><span>Quality</span></div>
              <div class="option right"><span>Quantity</span></div>
              <div class="option"><span>Number</span></div>
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="question">
          <div class="number"><span>2</span></div>
          <div class="main-text-container">
            <div class="text-container"><span>The <u>first</u> prize to the winner is a trip to Australia.</span></div>
            <div class="option-container">
              <div class="option"><span>Quality</span></div>
              <div class="option"><span>Quantity</span></div>
              <div class="option right"><span>Number</span></div>
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="question">
          <div class="number"><span>3</span></div>
          <div class="main-text-container">
            <div class="text-container"><span>The sky was coverd with <u>grey</u> clouds.</span></div>
            <div class="option-container">
              <div class="option right"><span>Quality</span></div>
              <div class="option"><span>Quantity</span></div>
              <div class="option"><span>Number</span></div>
            </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="question">
          <div class="number"><span>4</span></div>
          <div class="main-text-container">
            <div class="text-container"><span>Mom made <u>two</u> sandwiches for me for lunch.</span></div>
            <div class="option-container">
              <div class="option"><span>Quality</span></div>
              <div class="option"><span>Quantity</span></div>
              <div class="option right"><span>Number</span></div>
            </div>
          </div>
        </div>
        <!-- 5 -->
        <div class="question">
          <div class="number"><span>5</span></div>
          <div class="main-text-container">
            <div class="text-container"><span>Julie got an <u>outstanding</u> result in her final exam.</span></div>
            <div class="option-container">
              <div class="option right"><span>Quality</span></div>
              <div class="option"><span>Quantity</span></div>
              <div class="option"><span>Number</span></div>
            </div>
          </div>
        </div>
        <!-- 6 -->
        <div class="question">
          <div class="number"><span>6</span></div>
          <div class="main-text-container">
            <div class="text-container"><span>Can you grate <u>some</u> cheese over the pasta?</span></div>
            <div class="option-container">
              <div class="option"><span>Quality</span></div>
              <div class="option right"><span>Quantity</span></div>
              <div class="option"><span>Number</span></div>
            </div>
          </div>
        </div>
        <!-- 7 -->
        <div class="question">
          <div class="number"><span>7</span></div>
          <div class="main-text-container">
            <div class="text-container"><span>Alex wore a <u>striped</u> shirt to the party.</span></div>
            <div class="option-container">
              <div class="option right"><span>Quality</span></div>
              <div class="option"><span>Quantity</span></div>
              <div class="option"><span>Number</span></div>
            </div>
          </div>
        </div>
        <!-- 8 -->
        <div class="question">
          <div class="number"><span>8</span></div>
          <div class="main-text-container">
            <div class="text-container"><span>It was a <u>tiresome</u> journey to the hill station.</span></div>
            <div class="option-container">
              <div class="option right"><span>Quality</span></div>
              <div class="option"><span>Quantity</span></div>
              <div class="option"><span>Number</span></div>
            </div>
          </div>
        </div>
        <!-- end -->
      </div>
    </div>
    <div class="row btn-row">
      <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>
</div>