<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text fabulous hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
		<div class="heading">
			<h1>Click on the blanks and then click on the correct Question Words from the speech bubbles. Also click in the circles and then click on Question Mark from the help box, to complete the questions.</h1>
		</div>
        <div class="row Main_Container">
            <div class="col-12 Option_Container">
                <div class="option_Block">
                    <div class="options symbol">
                        <div class="option"><span>?</span></div>
                        <div class="option"><span>!</span></div>
                        <div class="option"><span class="dot">.</span></div>
                        <div class="option"><span class="comma">,</span></div>
                    </div>
                    <div class="options text_block">
                        <div class="option"><img src="assets/std02-question-mark-worksheet3/img/oval.png" alt=""><span>Where</span></div>
                        <div class="option"><img src="assets/std02-question-mark-worksheet3/img/oval.png" alt=""><span>Whom</span></div>
                        <div class="option"><img src="assets/std02-question-mark-worksheet3/img/oval.png" alt=""><span>Why</span></div>
                        <div class="option"><img src="assets/std02-question-mark-worksheet3/img/oval.png" alt=""><span>Which</span></div>
                        <div class="option"><img src="assets/std02-question-mark-worksheet3/img/oval.png" alt=""><span>When</span></div>
                        <div class="option"><img src="assets/std02-question-mark-worksheet3/img/oval.png" alt=""><span>How</span></div>
                        <div class="option"><img src="assets/std02-question-mark-worksheet3/img/oval.png" alt=""><span>What</span></div>
                        <div class="option"><img src="assets/std02-question-mark-worksheet3/img/oval.png" alt=""><span>Who</span></div>
                    </div>
                </div>
            </div>
            <div class="col-12 Question_Container">
                <div class="Question_Block">
                    <img src="assets/std02-question-mark-worksheet3/img/Question_Container_bg.png" alt="" class="Question_bg">
                    <img src="assets/std02-question-mark-worksheet3/img/Question_Container_bg_portrait.png" alt="" class="Question_bg_portrait">
                    <div class="Question_Row">
                        <div class="number">1)</div>
                        <div class="content">
                            <div class="input_div rectangle"><input type="text"><div class="correct_answer"><span>Which</span></div></div> is your favourite movie<div class="input_div circle"><input type="text"><div class="correct_answer"><span>?</span></div></div>
                        </div>
                    </div>
                    <div class="Question_Row">
                        <div class="number">2)</div>
                        <div class="content">
                            <div class="input_div rectangle"><input type="text"><div class="correct_answer"><span>How</span></div></div> long can you stay awake<div class="input_div circle"><input type="text"><div class="correct_answer"><span>?</span></div></div>
                        </div>
                    </div>
                    <div class="Question_Row">
                        <div class="number">3)</div>
                        <div class="content">
                            <div class="input_div rectangle"><input type="text"><div class="correct_answer"><span>Where</span></div></div> are the car keys<div class="input_div circle"><input type="text"><div class="correct_answer"><span>?</span></div></div>
                        </div>
                    </div>
                    <div class="Question_Row fourth">
                        <div class="number">4)</div>
                        <div class="content">
                            <div class="input_div rectangle"><input type="text"><div class="correct_answer"><span>Who</span></div></div> knows the way to Ivan’s house<div class="input_div circle"><input type="text"><div class="correct_answer"><span>?</span></div></div>
                        </div>
                    </div>
                    <div class="Question_Row">
                        <div class="number">5)</div>
                        <div class="content">
                            <div class="input_div rectangle"><input type="text"><div class="correct_answer"><span>Why</span></div></div> is Carol’s dog barking<div class="input_div circle"><input type="text"><div class="correct_answer"><span>?</span></div></div>
                        </div>
                    </div>
                    <div class="Question_Row">
                        <div class="number">6)</div>
                        <div class="content">
                            <div class="input_div rectangle"><input type="text"><div class="correct_answer"><span>When</span></div></div> is Nicole’s birthday party<div class="input_div circle"><input type="text"><div class="correct_answer"><span>?</span></div></div>
                        </div>
                    </div>
                    <div class="Question_Row seventh">
                        <div class="number">7)</div>
                        <div class="content">
                            <div class="input_div rectangle"><input type="text"><div class="correct_answer"><span>What</span></div></div> are the thoughts in your mind<div class="input_div circle"><input type="text"><div class="correct_answer"><span>?</span></div></div>
                        </div>
                    </div>
                    <div class="Question_Row">
                        <div class="number">8)</div>
                        <div class="content">
                            By <div class="input_div rectangle"><input type="text" class="lowercase"><div class="correct_answer"><span>Whom</span></div></div> was the story written<div class="input_div circle"><input type="text"><div class="correct_answer"><span>?</span></div></div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
  </div>
</div>