	
 @font-face {
    font-family: mt-rounded-bold;
    src: url(/assets/font/ARLRDBD.ttf) format("truetype");
}

@font-face {
    font-family: "CustomFontBold";
    src: url(/assets/font/ntailub.ttf) format("truetype");
}
.bg{
    min-height:100vh;
	overflow-x:hidden;
    font-family: mt-rounded-bold,'Microsoft New Tai Lue';
    color:#000;
	font-size:23px;
    height: 100%;
	margin:0;
}
.uppercase{
    text-transform: capitalize;
}
.hide{
    display: none;
}
.btn-row{
    max-width:75%;
	position: relative;
	margin-top:20px;
	margin-bottom:10px;
	text-align:center;
}
.heading h1{
    font-weight:normal;
    font-size: 30px;
    margin:10px 0 15px;
}
input{
    background-color:transparent;
    border:0;
    outline:0;
    padding:0;
    text-align:center;
	width:100%;
	font-size:inherit;
	font-family: inherit;
	cursor:pointer;
    position:relative;
}
.input_div{
    width:120px;
    padding:3px 0px 5px;
    position:relative;
    display: inline-block;
}
.Question_Row:nth-child(2n) .input_div{
    background:url(/assets/std02-conjunctions-worksheet4/img/blue_inputBox.png) no-repeat 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}
.Question_Row:nth-child(2n+1) .input_div{
    background:url(/assets/std02-conjunctions-worksheet4/img/orange_inputBox.png) no-repeat 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}
.input_div::before {
    bottom: 10px;
    left: 15px;
    height: 1px;
    width: 95px;
    background-color: #000;
    position: absolute;
    content: '';
}
.input_div.bd{
    filter:drop-shadow(0px 0px 2px #20bb15) drop-shadow(0px 0px 2px #20bb15) drop-shadow(-0px -0px 2px #20bb15) drop-shadow(0px -0px 2px #20bb15);
    -webkit-filter:drop-shadow(0px 0px 2px #20bb15) drop-shadow(0px 0px 2px #20bb15) drop-shadow(-0px -0px 2px #20bb15) drop-shadow(0px -0px 2px #20bb15);
    -moz-filter:drop-shadow(0px 0px 2px #20bb15) drop-shadow(0px 0px 2px #20bb15) drop-shadow(-0px -0px 2px #20bb15) drop-shadow(0px -0px 2px #20bb15);
}
.correct_answer{
    top: -4px;
    margin-top:-25px;
    display: block;
    position:absolute;
    font-size:21px;
    width:100%;
    text-align:center;
    white-space: nowrap;
    font-family: 'CustomFontBold','Microsoft New Tai Lue','Arial';
    visibility: hidden;
}
.correct_answer span{
    display: inline-block;
    padding: 0 5px;
    border: 1px solid #000 !important;
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #20bb15 !important;
     -webkit-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	 -moz-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    // font-weight: bold;
    line-height: 1.4;
}
.Question_Row{
    grid-template-columns: 50px auto;
    margin-bottom:30px;
    display:grid;
}
.Question_Row:nth-child(8){
    margin-bottom: 0;
}
.Question_Container{
    max-width:75%;
    padding:15px;
    background-color:rgba(255,255,255,.7);
}
.Question_Container img{
    max-width:100%;
    filter:drop-shadow(0 20px 5px rgba(0,0,0,.7));
    -webkit-filter:drop-shadow(0 20px 5px rgba(0,0,0,.7));
    -moz-filter:drop-shadow(0 20px 5px rgba(0,0,0,.7));
    cursor:pointer;
}
.option{
    position:absolute;
    right:0;
    top:0;
    z-index:1;
}
.so{
    width:70px;
    margin-right: -35px;
}
.or {
    width: 60px;
    margin-top: 30%;
    margin-right: -12%;
}
.because {
    width: 130px;
    margin-right: -27%;
    margin-top: 8%;
}
.while {
    width: 80px;
    margin-top: 17%;
    margin-right: -1%;
}
.yet {
    width: 70px;
    margin-right: -25%;
    margin-top: 23%;
}
.since {
    width: 100px;
    margin-right: -13%;
    margin-top: 44%;
}
.when {
    width: 80px;
    margin-right: -27%;
    margin-top: 37%;
}
.until {
    width: 70px;
    margin-right: -20%;
    margin-top: 57%;
}
.Question_Container img.click{
    filter:drop-shadow(0 0px 10px #fb0197) drop-shadow(0 0px 15px #fb0197);
    -webkit-filter:drop-shadow(0 0px 10px #fb0197) drop-shadow(0 0px 15px #fb0197);
}
.number{
    padding-top:3px;
}
@media (min-width:100px) and (max-width:639px){
    .bg{
		font-size:15px;
    }
    .heading h1{
        font-size:20px;
        padding:0 10px;
    }
	.correct_answer{
        font-size:14px;
        margin-top: -15px;
    }
    .myButton{
        padding:5px 18px;
    }
    .Question_Container {
        max-width: 98%;
        margin:120px auto 0;
        padding:10px 9px;
    }
    .Question_Row {
        grid-template-columns: 25px auto;
        margin-bottom: 20px;
    }
    .input_div::before {
        bottom: 8px;
        left: 11px;
        width: 70px;
    }
    .input_div {
        width: 90px;
        padding: 3px 0 5px;
    }
    .btn-row{
        max-width:100%;
    }
    .Question_Container img{
        max-width:100%;
        filter:drop-shadow(0 10px 5px rgba(0,0,0,.7));
        -webkit-filter:drop-shadow(0 10px 5px rgba(0,0,0,.7));
        -moz-filter:drop-shadow(0 10px 5px rgba(0,0,0,.7));
    }
    .option {
        right: unset;
        left: 0;
        top: 40px;
    }
    .so {
        width: 40px;
        margin-right: -35px;
    }
    .because {
        width: 65px;
        margin-left: 7%;
        margin-top: 40px;
    }
    .while {
        width: 44px;
        margin-right: -5%;
        margin-left: 26%;
        margin-top: -6px;
    }
    .or {
        width: 40px;
        margin-top: 49px;
        margin-right: -12%;
        margin-left: 63%;
    }
    .yet {
        width: 42px;
        margin-right: -25%;
        margin-top: 0;
        margin-left: 77%;
    }
    .since {
        width: 60px;
        margin-right: -13%;
        margin-top: 50px;
        margin-left: 81%;
    }
    .when {
        width: 45px;
        margin-right: -27%;
        margin-top: -6px;
        margin-left: 53%;
    }
    .until {
        width: 45px;
        margin-right: -20%;
        margin-top: 43px;
        margin-left: 39%;
    }
    .option_container {
        max-width: 400px;
        top: 100px;
        width: 94%;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
    }
    .heading{
        height:121px;
    }
}
@media(min-width:100px) and (max-width:639px) and (orientation:landscape){
    .heading {
        height: 80px;
    }
    .option_container {
        top: 60px;
    }
    .Question_Container {
        margin: 110px auto 0;
    }
}
@media(min-width:100px) and (max-width:359px){
    .bg{
        font-size:14px;
    }
    .input_div {
        width: 78px;
        padding: 1px 0;
    }
    .input_div::before {
        bottom: 6px;
        left: 9px;
        width: 60px;
    }
    .Question_Container{
        padding: 10px 5px;
    }
    .Question_Row {
        grid-template-columns: 20px auto;
        margin-bottom: 20px;
    }
    .option_container {
        top: 125px;
    }
    .Question_Container {
        margin: 150px auto 0;
    }
    .number {
        padding-top: 0px;
    }
}

@media (min-width: 640px) and (max-width: 767px){
    .bg{
        font-size:16px;
    }
    .heading h1{
        font-size:20px;
        padding:0 15px;
    }
	.correct_answer{
        font-size:14px;
        margin-top: -18px;
    }
    .myButton{
        padding:5px 20px;
    }
    .so {
        width: 50px;
    }
    .because {
        width: 90px;
    }
    .while {
        width: 55px;
        margin-right: -5%;
    }
    .or {
        width: 45px;
        margin-top: 34%;
        margin-right: -12%;
    }
    .yet {
        width: 55px;
        margin-right: -25%;
        margin-top: 28%;
    }
    .since {
        width: 80px;
        margin-right: -13%;
        margin-top: 54%;
    }
    .when {
        width: 55px;
        margin-right: -27%;
        margin-top: 45%;
    }
    .until {
        width: 60px;
        margin-right: -20%;
        margin-top: 69%;
    }
    .input_div::before {
        bottom: 8px;
        left: 11px;
        width: 64px;
    }
    .input_div {
        width: 85px;
    }
    .Question_Container {
        margin-left: 10px;
        padding: 15px 15px 15px 10px;
    }
    .Question_Row {
        grid-template-columns: 25px auto;
        margin-bottom: 25px;
    }
    .Question_Row:nth-child(2) .content{
        width:90%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .bg{
        font-size:17px;
    }
    .heading h1{
        font-size:26px;
        padding:0 1.5rem;
    }
	.correct_answer{
        font-size:16px;
        margin-top: -18px;
    }
    .so {
        width: 55px;
    }
    .because {
        width: 110px;
    }
    .while {
        width: 60px;
        margin-right: -5%;
    }
    .or {
        width: 55px;
        margin-top: 34%;
        margin-right: -12%;
    }
    .yet {
        width: 60px;
        margin-right: -25%;
        margin-top: 28%;
    }
    .since {
        width: 90px;
        margin-right: -13%;
        margin-top: 54%;
    }
    .when {
        width: 60px;
        margin-right: -27%;
        margin-top: 45%;
    }
    .until {
        width: 70px;
        margin-right: -20%;
        margin-top: 69%;
    }
    .input_div::before {
        bottom: 8px;
        left: 11px;
        width: 77px;
    }
    .input_div {
        width: 100px;
        /* padding: 0px; */
    }
    .Question_Container {
        margin-left: 10px;
    }
    .Question_Row {
        grid-template-columns: 35px auto;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .bg{
        font-size:20px;
    }
    .heading h1{
        font-size:28px;
    }
	.correct_answer{
        font-size:18px;
        margin-top:-22px;
    }
    .container {
        max-width: 960px;
    }
    .input_div::before {
        bottom: 10px;
        left: 15px;
        height: 1px;
        width: 95px;
    }
}
@media(min-width:1200px){
    .container {
        max-width: 1140px;
    }
    .heading h1{
        font-size:32px;
        margin:15px 0 30px;
    }
}
@media (min-width: 1900px){
    /* .bg{
        font-size:30px;
    }
    .heading h1{
        font-size:38px;
    }
	.correct_answer{
        font-size:28px;
        margin-top: -42px;
    }
    .Question_Container {
        max-width: 88%;
    }
    .input_div::before {
        bottom: 14px;
        left: 20px;
        width: 119px;
    }
    .input_div {
        width: 150px;
        padding: 6px 0;
    }
    .btn-row{
        max-width:88%;
    }
    .number{
        padding-top: 4px;
    } */
    .container{
        transform: scale(1.3);
        margin-top: 100px;
    }
}

@media(min-width:100px) and (max-width:991px){
    .container{
        max-width:unset;
    }
    
}


@media only screen and (min-width: 768px) and (orientation: portrait) {
	.bg{
		font-size:30px;
    }
	.heading h1{
        font-size:35px;
    }
    .myButton{
        font-size:30px;
    }
    .correct_answer{
        font-size:26px;
        margin-top: -33px;
    }
    .correct_answer span {
        display: inline-block;
        padding: 0 15px;
        line-height:30px;
    }
    .Question_Container {
        max-width: 98%;
        margin:230px auto 0;
    }
    .Question_Row {
        grid-template-columns: 50px auto;
        margin-bottom: 30px;
    }
    .input_div::before {
        bottom: 15px;
        left: 20px;
        width: 135px;
        height: 2px;
    }
    .input_div {
        width: 175px;
        padding: 6px 0 10px;
    }
    .btn-row{
        max-width:100%;
    }
    .Question_Container img{
        max-width:100%;
        filter:drop-shadow(0 10px 5px rgba(0,0,0,.7));
        -webkit-filter:drop-shadow(0 10px 5px rgba(0,0,0,.7));
        -moz-filter:drop-shadow(0 10px 5px rgba(0,0,0,.7));
    }
    .option {
        right: unset;
        left: 0;
        top: 40px;
    }
    .so {
        width: 75px;
        margin-right: -35px;
    }
    .because {
        width: 110px;
        margin-left: 10%;
        margin-top: 85px;
    }
    .while {
        width: 80px;
        margin-right: -5%;
        margin-left: 26%;
        margin-top: -6px;
    }
    .or {
        width: 70px;
        margin-top: 78px;
        margin-right: -12%;
        margin-left: 68%;
    }
    .yet {
        width: 75px;
        margin-right: -25%;
        margin-top: 0;
        margin-left: 80%;
    }
    .since {
        width: 100px;
        margin-right: -13%;
        margin-top: 78px;
        margin-left: 90%;
    }
    .when {
        width: 80px;
        margin-right: -27%;
        margin-top: -6px;
        margin-left: 53%;
    }
    .until {
        width: 75px;
        margin-right: -20%;
        margin-top: 78px;
        margin-left: 41%;
    }
    .option_container {
        max-width: 600px;
        top: 24vw;
        width: 94%;
        position: fixed;
        left: 46%;
        transform: translateX(-50%);
    }
    .number {
        padding-top: 5px;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	.bg{
        font-size:35px;
    }
	
    .heading h1{
        font-size:40px;
    }
    .myButton{
        font-size:35px;
    }
    .option_container {
        max-width: 800px;
    }
    .so, .or {
        width: 100px;
    }
    .because,.since{
        width:140px;
    }
    .while,.when {
        width: 100px;
    }
    .until,.yet {
        width: 95px;
    }
    .because,.until,.or,.since {
        margin-top: 100px;
    }
    .Question_Container {
        margin: 290px auto 0;
    }
    .input_div {
        width: 190px;
    }
    .correct_answer {
        font-size: 32px;
        margin-top: -42px;
    }
    .correct_answer span {
        line-height: 38px;
    }
    .input_div::before {
        bottom: 18px;
        left: 20px;
        width: 150px;
        height: 2px;
    }
    .option_container {
        top: 17vw;
    }
}


	
// External CSS End

// Common CSS Start
.hide{
    display:none;
}
.loadingDiv {
    position: fixed;;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.4);
    background-image:url('/assets/images/loader.gif');
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    background-size: 85px;
  }

.result{
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:rgba(0,0,0,.8);
    z-index:2147483647;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor:pointer;
}
.result .Box{
    position: relative;
    padding:45px 55px 30px 20px
}
.result .imgBox{
    display:none;
}
.result img{
    max-width:100%;
}
.result .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor:pointer;
}
.result .TextBox h1 {
    font-size: 2.5rem;
    font-family: 'mt-rounded-bold','Microsoft New Tai Lue','Arial';
    margin-top: 0;
	font-weight: normal;
    text-align:center;
    color:#fff;
    -webkit-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	-moz-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	padding:10%;
	max-width:800px;
}
@media(min-width:100px) and (max-width:575px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
    .result .close {
        right: 15px;
    }
}
@media(min-width:576px) and (max-width:767px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
}
.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:inherit;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	line-height: 1;
	outline:0 !important;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}

.button.playAgain {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:inherit;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.button.playAgain:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.button.playAgain:active {
	position:relative;
	top:1px;
}


#toggle {
    display: block;
    right: 56px;
    top: 35px;
    background: #f3ecec;
    border-radius: 50%;
    border: 4px solid #3b7ee2;
    opacity: 0.7;
    text-align: center;
    padding: 10px;
    
  }

  #toggle:hover
  {
    opacity: 1;
    border: 4px solid #3b7ee2;
    
  }
  
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
  }
  #toggle span {
    position: relative;
    display: inline;
  }
  
  #toggle span
  {
    width: 50px;
    height: 50px;
    text-align: center;
    padding:0%;
  }

  #toggle span img
  {
    width:25px;
    height:25px;
    margin:0;
  }
  
  /* on activation */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
    -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  

  /* menu appearance*/
#menu {
    position: absolute;
    color: #000;
    width: 140px;
    padding: 10px;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0px 3px 11px 1px rgba(27, 24, 24, 0.24);
    font-size: 16px;
    left: -190%;
    z-index: 9;
    text-align: right;
    top: 145%;
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;  
}
.change{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1; 
}
.notchange{
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#menu:after {
    position: absolute;
    top: -20px;
    left: 107px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #ffffff;
}
ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-weight: normal;
}
li a {
    padding: 5px;
    color: #000;
    text-decoration: none;
    transition: all .2s;
}
li a:hover,
li a:focus {
    background: #1798dc;
    color: #fff;
    text-decoration: none;
}
.menu-block{
    position: fixed;
    right: 46px;
    top: 35px;
    z-index: 2147483646;
    height: 50px;
}
.up {
    transform: rotate(180deg) translateY(0%);
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
} 
@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
}
@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
} 

@media(min-width:100px) and (max-width:575px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 6px 5px;
        height: 43px;
        width: 43px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:576px) and (max-width:767px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 6px 5px 0;
        height: 43px;
        width: 43px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:768px) and (max-width:991px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
        height: 43px;
        width: 43px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .menu-block {
        right: 10px;
    }
    #menu:after {
        left: 140px;
    }
    #menu {
        font-size: 18px;
        left: -240%;
        top: 140%;
        width: 175px;
    }
    #toggle {
        height: 53px;
        width: 53px;
        /* line-height: 48px; */
        padding: 8px;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 26px;
    }
    #toggle {
        height: 60px;
        width: 60px;
        line-height: 1;
        padding: 11px 5px;
    }
    .menu-block {
        right: 20px;
    }
    #menu:after {
        left: 205px;
    }
    #toggle span img {
        width: 33px;
        height: 33px;
        margin: 0;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 30px;
    }
    #toggle{
        height: 60px;
        width: 60px;
        /* line-height: 55px; */
        padding: 10px;
    }
}
@media(min-width:1200px){
	#menu {
        top: 70px;
        left: -135px;
        width: 180px;
        font-size: 18px;
    }
    #menu:after {
        left: 145px;
    }
    #toggle{
        height: 55px;
        width: 55px;
        /* line-height: 50px; */
    }
}

@media(min-width:1900px){
    #toggle{
        padding: 6px;
    }
}

@media(min-width:1200px){
	#toggle {
		padding: 4px;
	}
}
@media (max-width: 991px) and (min-width: 768px){
	#toggle {
		padding: 3px;
	}
}
@media (max-width: 992px) and (min-width: 1199px){
	#toggle {
		padding: 3px;
	}
}
@media (orientation:landscape){
    .bg{
        background:url(/assets/std02-conjunctions-worksheet4/img/bg.jpg) no-repeat center bottom fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
@media (orientation:portrait){
    .bg{
        background:url(/assets/std02-conjunctions-worksheet4/img/bg_portrait.jpg) no-repeat center bottom fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}