<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
              <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide">
              <!-- <img src="" alt="" class="Text fabulous hide"> -->
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
    <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
      <div class="row">
          <div class="heading mt-3">
              <h1> Click on the blanks and then click on the correct Future Tense Verbs from the boxes, to complete the
                  sentences.</h1>
          </div>
      </div>
      <div class="row">
          <div class="col-12 Question_Container">
              <div class="Question">
                  <div class="number">1)</div>
                  <div class="content">
                      Emily <input type="text">
                      <div class="correct_answer"><span>will sing</span></div>
                      <div class="options">
                          <div class="option"><span>will sang</span></div>
                          <div class="option"><span>will sing</span></div>
                      </div>
                      for the Annual Day drama.
                  </div>
              </div>
              <div class="Question">
                  <div class="number">2)</div>
                  <div class="content">
                      I <input type="text">
                      <div class="correct_answer"><span>shall speak</span></div>
                      <div class="options">
                          <div class="option"><span>shall spoke</span></div>
                          <div class="option"><span>shall speak</span></div>
                      </div>
                      to my principal tomorrow.
                  </div>
              </div>
              <div class="Question">
                  <div class="number">3)</div>
                  <div class="content">
                      The children <input type="text">
                      <div class="correct_answer"><span>will jump</span></div>
                      <div class="options">
                          <div class="option"><span>jump</span></div>
                          <div class="option"><span>will jump</span></div>
                      </div>
                      on the trampoline at the park.
                  </div>
              </div>
              <div class="Question">
                  <div class="number">4)</div>
                  <div class="content">
                      The enemy soldiers <input type="text">
                      <div class="correct_answer"><span>will surround</span></div>
                      <div class="options">
                          <div class="option"><span>surround</span></div>
                          <div class="option"><span>will surround</span></div>
                      </div>
                      the fort before attacking it.
                  </div>
              </div>
              <div class="Question">
                  <div class="number">5)</div>
                  <div class="content">
                      That ship <input type="text">
                      <div class="correct_answer"><span>will sink</span></div>
                      <div class="options">
                          <div class="option"><span>will sink</span></div>
                          <div class="option"><span>sinks</span></div>
                      </div>
                      if it crashes against the rocks.
                  </div>
              </div>
              <div class="Question">
                  <div class="number">6)</div>
                  <div class="content">
                      The school bell <input type="text">
                      <div class="correct_answer"><span>will ring</span></div>
                      <div class="options">
                          <div class="option"><span>will ring</span></div>
                          <div class="option"><span>rings</span></div>
                      </div>
                      at three o’clock.
                  </div>
              </div>
              <div class="Question">
                  <div class="number">7)</div>
                  <div class="content">
                      Water in the lakes <input type="text">
                      <div class="correct_answer"><span>will freeze</span></div>
                      <div class="options">
                          <div class="option"><span>freezes</span></div>
                          <div class="option"><span>will freeze</span></div>
                      </div>
                      if the temperature falls below zero degrees.
                  </div>
              </div>
              <div class="Question">
                  <div class="number">8)</div>
                  <div class="content">
                      Grandpa <input type="text">
                      <div class="correct_answer"><span>will hang</span></div>
                      <div class="options">
                          <div class="option"><span>will hang</span></div>
                          <div class="option"><span>hangs</span></div>
                      </div>
                      a family portrait on the wall in his new house.
                  </div>
              </div>
              <div class="Question">
                  <div class="number">9)</div>
                  <div class="content">
                      We <input type="text">
                      <div class="correct_answer"><span>shall help</span></div>
                      <div class="options">
                          <div class="option"><span>helped</span></div>
                          <div class="option"><span>shall help</span></div>
                      </div>
                      Lori in her English project.
                  </div>
              </div>
              <div class="Question">
                  <div class="number">10)</div>
                  <div class="content">
                      Those mice <input type="text">
                      <div class="correct_answer"><span>will try</span></div>
                      <div class="options">
                          <div class="option"><span>will try</span></div>
                          <div class="option"><span>try</span></div>
                      </div>
                      to escape from the cat when they see it.
                  </div>
              </div>
          </div>
      </div>
      <div class="btn-row">
          <button class="button myButton">Submit</button>
      </div>
  </div>
</div>