<div class="bg" ngPreserveWhitespaces>
    <img src="assets/std03-rhyming-words-worksheet5/img/bg.jpg" alt="" class="bgImg">
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
			<img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>

    <div class="loadingDiv">
    </div>

    <div class="container">
        <div class="row mb-3">
            <div class="heading">
                <h1>Click on the blanks and then click on the correct Rhyming Words from the help box of books, of the given words. 
                    Then mark the Rhyming Words in the word search.
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 Main_Container">
                <div class="Question_Container">
                    <div class="Question">
                        <div class="number">1</div>
                        <div class="content">bike</div>
                        <div class="input-div"><input type="text">
                            <div class="correct_answer"><span>hike</span></div>
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">2</div>
                        <div class="content">greet</div>
                        <div class="input-div"><input type="text">
                            <div class="correct_answer"><span>street</span></div>
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">3</div>
                        <div class="content">quote</div>
                        <div class="input-div"><input type="text">
                            <div class="correct_answer"><span>throat</span></div>
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">4</div>
                        <div class="content">tried</div>
                        <div class="input-div"><input type="text">
                            <div class="correct_answer"><span>fried</span></div>
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">5</div>
                        <div class="content">dance</div>
                        <div class="input-div"><input type="text">
                            <div class="correct_answer"><span>chance</span></div>
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">6</div>
                        <div class="content">dawn</div>
                        <div class="input-div"><input type="text">
                            <div class="correct_answer"><span>yawn</span></div>
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">7</div>
                        <div class="content">store</div>
                        <div class="input-div"><input type="text">
                            <div class="correct_answer"><span>floor</span></div>
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">8</div>
                        <div class="content">grate</div>
                        <div class="input-div"><input type="text">
                            <div class="correct_answer"><span>crate</span></div>
                        </div>
                    </div>
                </div>
                <div class="img_container">
                    <img src="assets/std03-rhyming-words-worksheet5/img/boy.png" alt="" class="boy img-landscape">
                    <img src="assets/std03-rhyming-words-worksheet5/img/boy_portrait.png" alt="" class="boy img-portrait">
                    <span class="floor">floor</span>
                    <span class="throat">throat</span>
                    <span class="hike">hike</span>
                    <span class="crate">crate</span>
                    <span class="chance">chance</span>
                    <span class="yawn">yawn</span>
                    <span class="street">street</span>
                    <span class="fried">fried</span>
                </div>
                <div class="option_container">
                    <!-- <img src="assets/std03-rhyming-words-worksheet5/img/answer.png" alt="" class="answer"> -->
                    <div class="options">
                        <div class="option_row">
                            <div class="chance_line line"></div>
                            <div class="throat_line line"></div>
                            <div class="hike_line line"></div>
                            <div class="street_line line"></div>
                            <div class="crate_line line"></div>
                            <div class="yawn_line line"></div>
                            <div class="fried_line line"></div>
                            <div class="floor_line line"></div>
                            <div class="option disabled">Z</div>
                            <div class="option disabled">B</div>
                            <div class="option">C</div>
                            <div class="option">H</div>
                            <div class="option">A</div>
                            <div class="option">N</div>
                            <div class="option">C</div>
                            <div class="option">E</div>

                            <div class="option">T</div>
                            <div class="option">H</div>
                            <div class="option">R</div>
                            <div class="option">O</div>
                            <div class="option">A</div>
                            <div class="option">T</div>
                            <div class="option disabled">X</div>
                            <div class="option disabled">O</div>

                            <div class="option disabled">J</div>
                            <div class="option disabled">E</div>
                            <div class="option">A</div>
                            <div class="option">H</div>
                            <div class="option">I</div>
                            <div class="option">K</div>
                            <div class="option">E</div>
                            <div class="option">F</div>

                            <div class="option">Y</div>
                            <div class="option disabled">L</div>
                            <div class="option">T</div>
                            <div class="option disabled">M</div>
                            <div class="option">F</div>
                            <div class="option disabled">I</div>
                            <div class="option disabled">P</div>
                            <div class="option">L</div>

                            <div class="option">A</div>
                            <div class="option disabled">R</div>
                            <div class="option">E</div>
                            <div class="option disabled">I</div>
                            <div class="option">R</div>
                            <div class="option disabled">O</div>
                            <div class="option disabled">G</div>
                            <div class="option">O</div>

                            <div class="option">W</div>
                            <div class="option disabled">Y</div>
                            <div class="option disabled">A</div>
                            <div class="option disabled">U</div>
                            <div class="option">I</div>
                            <div class="option disabled">D</div>
                            <div class="option disabled">R</div>
                            <div class="option">O</div>

                            <div class="option">N</div>
                            <div class="option">S</div>
                            <div class="option">T</div>
                            <div class="option">R</div>
                            <div class="option">E</div>
                            <div class="option">E</div>
                            <div class="option">T</div>
                            <div class="option">R</div>

                            <div class="option disabled">W</div>
                            <div class="option disabled">U</div>
                            <div class="option disabled">K</div>
                            <div class="option disabled">S</div>
                            <div class="option">D</div>
                            <div class="option disabled">V</div>
                            <div class="option disabled">N</div>
                            <div class="option disabled">Q</div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-row col-12">
                <button class="button myButton">Submit</button>
                <button class="button playAgain hide">Play Again</button>
            </div>
        </div>
    </div>
</div>