<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
	<div class="loadingDiv">
	</div>

	<div class="container">
		<div class="row heading-container">
			<div class="col-xs-12 px-2 p-2 mt-3">
				<h2 class="font-weight-bold heading">
					Click on the blanks and then click on the underlined words from the sentences to classify them correctly as Proper and Common Nouns.
				</h2>
			</div>
		</div>
		<div class="row">
		 <div class="Question-container mt-2">
			<div class="main-question-container">
				<div class=" p-0 Questions">
					<div class="question">
						<div class="number"><span >1)</span></div>
						<div class="text-container">
							<span><u><span>Aladin</span></u> flew on the magic <u><span>carpet</span></u>.</span>
						</div>
					</div>
					<div class="question">
						<div class="number"><span >2)</span></div>
						<div class="text-container">
							<span>He won a first <u><span>prize</span></u> in the <u><span>game</span></u> of <u><span>chess</span></u>.</span>
						</div>
					</div>
					<div class="question">
						<div class="number"><span>3)</span></div>
						<div class="text-container">
							<span><u><span>Wendy</span></u> went to see a <u><span>movie</span></u> with her <u><span>friends</span></u>.</span>
						</div>
					</div>
					<div class="question">
						<div class="number"><span>4)</span></div>
						<div class="text-container">
							<span><u><span>Japan</span></u> is called the <u><span>land</span></u> of the rising <u><span>sun</span></u>.</span>
						</div>
					</div>
					<div class="question">
						<div class="number"><span>5)</span></div>
						<div class="text-container">
							<u><span>The Great Wall</span></u><span> of</span> <u><span>China</span></u><span> is</span> <span>really</span> <span>long</span>.
						</div>
					</div>
					<div class="question">
						<div class="number"><span>6)</span></div>
						<div class="text-container">
							<span>Farmer <u><span>Frankie</span></u> grows <u><span>apples</span></u> on his <u><span>farm</span></u>.</span>
						</div>
					</div>
					<div class="bottomimage-container">
						<img src="assets/std01-mixed-noun-worksheet5/img/homes.png" alt="" class="img-fluid ">
					</div>
					<!-- shift-left -->
				</div>	
				<div class="p-0 hide-iphone">
					<img src="assets/std01-mixed-noun-worksheet5/img/aladin.png" alt="" class="img-fluid">
					<img src="assets/std01-mixed-noun-worksheet5/img/boy.png" alt="" class="img-fluid pt-2">
				</div>
				<div class=" p-0 text-center Answer_Container">
					<!-- proper noun -->
						<div class="row m-0 mb-1">
							<div class="m-auto">
								<img src="assets/std01-mixed-noun-worksheet5/img/proper-nouns.png" alt="" class="img-fluid nouns-heading proper">
							</div>
						</div>
					<div class="question-container-right w-100 proper_noun">	
						<div class="row m-0">
							<div class="col-6 p-0">
								<span class="input-span">
									<input type="text">
								</span>
								<span class="answer">aladin</span>
							</div>
							<div class="col-6 p-0">
								<span class="input-span">
										<input type="text">
								</span>
								<span class="answer">Wendy</span>
							</div>
							<div class="col-6 p-0">
								<span class="input-span">
										<input type="text">
								</span>
								<span class="answer">Japan</span>
							</div>
							<div class="col-6 p-0">
								<span class="input-span">
										<input type="text">
								</span>
								<span class="answer">The Great Wall</span>
							</div>
							<div class="col-6 p-0">
								<span class="input-span">
										<input type="text">
								</span>
								<span class="answer">china</span>
							</div>
							<div class="col-6 p-0">
								<span class="input-span">
										<input type="text">
								</span>
								<span class="answer">frankie</span>
							</div>
						</div>
					</div>
					<!-- end proper noun -->
					<!-- common noun -->
					<div class="row m-0 mb-1 mt-1">
							<div class="m-auto">
								<img src="assets/std01-mixed-noun-worksheet5/img/common-noun.png" alt="" class="img-fluid nouns-heading common">
							</div>
						</div>
					<div class="question-container-right w-100 common_noun">	
						<div class="row m-0">
							<div class="col-6 p-0">
								<span class="input-span">
									<input type="text">
								</span>
								<span class="answer">carpet</span>

							</div>
							<div class="col-6 p-0">
								<span class="input-span">
										<input type="text">
								</span>
								<span class="answer">prize</span>
							</div>
							<div class="col-6 p-0">
								<span class="input-span">
										<input type="text">
								</span>
								<span class="answer">game</span>
							</div>
							<div class="col-6 p-0">
								<span class="input-span">
										<input type="text">
								</span>
								<span class="answer">chess</span>
							</div>
							<div class="col-6 p-0">
								<span class="input-span">
										<input type="text">
								</span>
								<span class="answer">movie</span>
							</div>
							<div class="col-6 p-0">
								<span class="input-span">
									<input type="text">
								</span>
								<span class="answer">friends</span>

							</div>
							<div class="col-6 p-0">
								<span class="input-span">
										<input type="text">
								</span>
								<span class="answer">land</span>
							</div>
							<div class="col-6 p-0">
								<span class="input-span">
										<input type="text">
								</span>
								<span class="answer">Sun</span>
							</div>
							<div class="col-6 p-0">
								<span class="input-span">
										<input type="text">
								</span>
								<span class="answer">Farmer</span>
							</div>
							<div class="col-6 p-0">
								<span class="input-span">
										<input type="text">
								</span>
								<span class="answer">apple</span>
							</div>
							<!-- <div class="col-6 p-0">
								<span class="input-span">
										<input type="text">
								</span>
								<span class="answer">farm</span>
							</div> -->
							
						</div>
					</div>
					<!-- common noun end -->
						<div class="portrait-bottom">
							<img src="assets/std01-mixed-noun-worksheet5/img/bottom-images.png" alt="" class="img-fluid hide-landscap">
						</div>
				</div>
			</div>
			<div class="btn-row">
				<button class="button myButton">Submit</button>
			</div>
		 </div>
		</div>	
	</div>
</div>