<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
    <div class="heading">
            <!-- <h1>Click on the blanks and then click on the underlined words in the sentences, to classify them correctly as Masculine, Feminine and Common Gender.</h1> -->
            <h1>Click on the blanks and then click on the underlined words in the sentences; to classify them correctly as Masculine, Feminine and Common Gender.</h1>
		</div>
        <div class="row Main_Container">
            <div class="col-12 Question_Container">
                <div class="Question">
                    <div class="number">1)</div>
                    <div class="content">The <u>postman</u> delivered the mail at noon.</div>
                </div>
                <div class="Question">
                    <div class="number">2)</div>
                    <div class="content">Both my <u>uncle</u> and my <u>aunt</u> are <u>teachers</u> in a school.</div>
                </div>
                <div class="Question">
                    <div class="number">3)</div>
                    <div class="content">The <u>children</u> were playing volleyball on the beach.</div>
                </div>
                <div class="Question">
                    <div class="number">4)</div>
                    <div class="content">Sam’s <u>grandmother</u> is 90 years old.</div>
                </div>
                <div class="Question">
                    <div class="number">5)</div>
                    <div class="content">The <u>host</u> and <u>hostess</u> welcomed their <u>guests</u>.</div>
                </div>
                <div class="Question">
                    <div class="number">6)</div>
                    <div class="content">The <u>servant</u> was cleaning the attic.</div>
                </div>
                <div class="Question">
                    <div class="number">7)</div>
                    <div class="content">Tom’s <u>dog</u> needs a lot of exercise everyday.</div>
                </div>
                <div class="Question">
                    <div class="number">8)</div>
                    <div class="content">The <u>witch</u> enchanted the <u>princess</u> with magic.</div>
                </div>
                <div class="Question">
                    <div class="number">9)</div>
                    <div class="content">Matt was the <u>hero</u> in the school drama.</div>
                </div>
                <div class="Question">
                    <div class="number">10)</div>
                    <div class="content"><u>People</u> who live in glass houses should not throw stones.</div>
                </div>
            </div>
            <div class="col-12 Answer_Container">
                <div class="Answers">
                    <div class="Answer_Block Masculine">
                        <img src="assets/std02-gender-nouns-worksheet5/img/net.png" alt="">
                        <div class="header">Masculine Gender</div>
                        <div class="Input_Container">
                            <div class="input_row">
                                <div class="number">1)</div>
                                <div class="input_div">
                                    <input type="text">
                                    <div class="correct_answer"><span>postman</span></div>
                                </div>
                            </div>
                            <div class="input_row">
                                <div class="number">2)</div>
                                <div class="input_div">
                                    <input type="text">
                                    <div class="correct_answer"><span>uncle</span></div>
                                </div>
                            </div>
                            <div class="input_row">
                                <div class="number">3)</div>
                                <div class="input_div">
                                    <input type="text">
                                    <div class="correct_answer"><span>host</span></div>
                                </div>
                            </div>
                            <div class="input_row">
                                <div class="number">4)</div>
                                <div class="input_div">
                                    <input type="text">
                                    <div class="correct_answer"><span>dog</span></div>
                                </div>
                            </div>
                            <div class="input_row">
                                <div class="number">5)</div>
                                <div class="input_div">
                                    <input type="text">
                                    <div class="correct_answer"><span>hero</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Answer_Block Feminine">
                        <img src="assets/std02-gender-nouns-worksheet5/img/net.png" alt="">
                        <div class="header">Feminine Gender</div>
                        <div class="Input_Container">
                            <div class="input_row">
                                <div class="number">1)</div>
                                <div class="input_div">
                                    <input type="text">
                                    <div class="correct_answer"><span>aunt</span></div>
                                </div>
                            </div>
                            <div class="input_row">
                                <div class="number">2)</div>
                                <div class="input_div">
                                    <input type="text">
                                    <div class="correct_answer"><span>grandmother</span></div>
                                </div>
                            </div>
                            <div class="input_row">
                                <div class="number">3)</div>
                                <div class="input_div">
                                    <input type="text">
                                    <div class="correct_answer"><span>hostess</span></div>
                                </div>
                            </div>
                            <div class="input_row">
                                <div class="number">4)</div>
                                <div class="input_div">
                                    <input type="text">
                                    <div class="correct_answer"><span>witch</span></div>
                                </div>
                            </div>
                            <div class="input_row">
                                <div class="number">5)</div>
                                <div class="input_div">
                                    <input type="text">
                                    <div class="correct_answer"><span>princess</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Answer_Block Common">
                        <img src="assets/std02-gender-nouns-worksheet5/img/net.png" alt="">
                        <div class="header">Common Gender</div>
                        <div class="Input_Container">
                            <div class="input_row">
                                <div class="number">1)</div>
                                <div class="input_div">
                                    <input type="text">
                                    <div class="correct_answer"><span>teachers</span></div>
                                </div>
                            </div>
                            <div class="input_row">
                                <div class="number">2)</div>
                                <div class="input_div">
                                    <input type="text">
                                    <div class="correct_answer"><span>children</span></div>
                                </div>
                            </div>
                            <div class="input_row">
                                <div class="number">3)</div>
                                <div class="input_div">
                                    <input type="text">
                                    <div class="correct_answer"><span>guests</span></div>
                                </div>
                            </div>
                            <div class="input_row">
                                <div class="number">4)</div>
                                <div class="input_div">
                                    <input type="text">
                                    <div class="correct_answer"><span>servant</span></div>
                                </div>
                            </div>
                            <div class="input_row">
                                <div class="number">5)</div>
                                <div class="input_div">
                                    <input type="text">
                                    <div class="correct_answer"><span>people</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
  </div>

</div>