<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="heading">
          <h1>Click on the blanks and then click on the correct Synonyms from the help box, of the given
            words.</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 Main_Container">
        <div class="row m-0">
          <div class="col-12 col-sm-5 offset-sm-6 offset-lg-7 font-weight-bold mt-1 mb-sm-0">
            <div class="help-box text-center">
              <div class="row m-0">
                <div class="col-3 p-1 ">
                  <span>hurt</span>
                </div>
                <div class="col-3 p-1">
                  <span>blend</span>
                </div>
                <div class="col-3 p-1">
                  <span>laugh</span>
                </div>
                <div class="col-3 p-1">
                  <span>frighten</span>
                </div>
                <div class="col-3 p-1">
                  <span>dirty</span>
                </div>
                <div class="col-3 p-1">
                  <span>yell</span>
                </div>
                <div class="col-3 p-1">
                  <span>starving</span>
                </div>
                <div class="col-3 p-1">
                  <span>mistake</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-12 col-sm-5 question-body">
            <div class="row m-0 mb-1">
              <div class="col-12   font-weight-bold">Across</div>
            </div>
            <div class="Question_Container Across">
              <div class="row m-0 mb-1">
                <div class="col-1">
                  <span class="number">1)</span>
                </div>
                <div class="col-4 p-0">
                  <span>error</span>
                </div>
                <div class="col-4 p-0">
                  <div class="input-div"><input type="text" /></div>
                  <div class="correct-answer">
                    <span>mistake</span>
                  </div>
                </div>
              </div>
              <div class="row m-0 mb-1">
                <div class="col-1">
                  <span class="number">2)</span>
                </div>
                <div class="col-4 p-0">
                  <span>filthy</span>
                </div>
                <div class="col-4 p-0">
                  <div class="input-div"><input type="text" /></div>
                  <div class="correct-answer">
                    <span>dirty</span>
                  </div>
                </div>
              </div>
              <div class="row m-0 mb-1">
                <div class="col-1">
                  <span class="number">3)</span>
                </div>
                <div class="col-4 p-0">
                  <span>giggle</span>
                </div>
                <div class="col-4 p-0">
                  <div class="input-div"><input type="text" /></div>
                  <div class="correct-answer">
                    <span>laugh</span>
                  </div>
                </div>
              </div>
              <div class="row m-0 mb-1">
                <div class="col-1">
                  <span class="number">4)</span>
                </div>
                <div class="col-4 p-0">
                  <span>hungry</span>
                </div>
                <div class="col-4 p-0">
                  <div class="input-div"><input type="text" /></div>
                  <div class="correct-answer">
                    <span>starving</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row m-0 mb-1">
              <div class="col-12  font-weight-bold">Down</div>
            </div>
            <div class="Question_Container Down">
              <div class="row m-0 mb-1">
                <div class="col-1">
                  <span class="number">1)</span>
                </div>
                <div class="col-4 p-0">
                  <span>mix</span>
                </div>
                <div class="col-4 p-0">
                  <div class="input-div"><input type="text" /></div>
                  <div class="correct-answer">
                    <span>blend</span>
                  </div>
                </div>
              </div>
              <div class="row m-0 mb-1">
                <div class="col-1">
                  <span class="number">2)</span>
                </div>
                <div class="col-4 p-0">
                  <span>shout</span>
                </div>
                <div class="col-4 p-0">
                  <div class="input-div"><input type="text" /></div>
                  <div class="correct-answer">
                    <span>yell</span>
                  </div>
                </div>
                <!-- <div class="col-3 p-0">
								
								</div> -->
              </div>
              <div class="row m-0 mb-1">
                <div class="col-1">
                  <span class="number">3)</span>
                </div>
                <div class="col-4 p-0">
                  <span>injured</span>
                </div>
                <div class="col-4 p-0">
                  <div class="input-div"><input type="text" /></div>
                  <div class="correct-answer">
                    <span>hurt</span>
                  </div>
                </div>
                <!-- <div class="col-3 p-0">
									
								</div> -->
              </div>
              <div class="row m-0 mb-1">
                <div class="col-1">
                  <span class="number">4)</span>
                </div>
                <div class="col-4 p-0">
                  <span>scare</span>
                </div>
                <div class="col-4 p-0">
                  <div class="input-div"><input type="text" /></div>
                  <div class="correct-answer">
                    <span>frighten</span>
                  </div>
                </div>
                <!-- <div class="col-3 p-0">
									
								</div> -->
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-7   Answer_Container ">
            <div class="row m-0">
              <img src="assets/std02-synonyms-worksheet5/img/puzzle.png" class="img-fluid puzzle" />
            </div>
          </div>
        </div>

        <!-- end -->
        <div class="row btn-row">
          <div class="col-12 text-center ">
            <button class="button myButton">Submit</button>
          </div>
        </div>
        <!--  -->

      </div>
    </div>
  </div>

</div>