<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
			<img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 px-2 my-3 p-2">
        <h2 class="font-weight-bold white-patch">
          Click on the blanks and then click on the words given in the help box, to classify them correctly as
          Singular and Plural Nouns.
        </h2>
      </div>
    </div>
    <div class="row mb-4">
      <div class="help-box margin-auto">
        <table style="width:100%">
          <tr>
            <td style="width:30%">
              <div>
                <img src="assets/std02-singular-plural-nouns-worksheet1\img\presents.png" class="img-fluid" data-text="presents" />
              </div>
            </td>
            <td style="width:20%">
              <div>
                <img src="assets/std02-singular-plural-nouns-worksheet1\img\dress.png" class="img-fluid" data-text="dress" />
              </div>
            </td>
            <td style="width:20%">
              <div>
                <img src="assets/std02-singular-plural-nouns-worksheet1\img\hand.png" class="img-fluid" data-text="hand" />
              </div>
            </td>
            <td style="width:30%">
              <div>
                <img src="assets/std02-singular-plural-nouns-worksheet1\img\dinosaur.png" class="img-fluid" data-text="dinosaur" />
              </div>
            </td>
          </tr>
        </table>
        <table style="width:95%">
          <tr>
            <td style="width:5%"></td>
            <td style="width:20%">
              <div>
                <img src="assets/std02-singular-plural-nouns-worksheet1\img\oxen.png" class="img-fluid" data-text="oxen" />
              </div>
            </td>
            <td style="width:23%">
              <div>
                <img src="assets/std02-singular-plural-nouns-worksheet1\img\moons.png" class="img-fluid" data-text="moons" />
              </div>
            </td>
            <td style="width:25%">
              <div>
                <img src="assets/std02-singular-plural-nouns-worksheet1\img\porches.png" class="img-fluid" data-text="porches" />
              </div>
            </td>
            <td style="width:20%">
              <div>
                <img src="assets/std02-singular-plural-nouns-worksheet1\img\bowl.png" class="img-fluid" data-text="bowl" />
              </div>
            </td>
          </tr>
        </table>
        <table style="width:97%">
          <tr>
            <td style="width:2%"></td>
            <td style="width:20%">
              <div>
                <img src="assets/std02-singular-plural-nouns-worksheet1\img\spoon.png" class="img-fluid" data-text="spoon" />
              </div>
            </td>
            <td style="width:18%">
              <div>
                <img src="assets/std02-singular-plural-nouns-worksheet1\img\song.png" class="img-fluid" data-text="song" />
              </div>
            </td>
            <td style="width:26%">
              <div>
                <img src="assets/std02-singular-plural-nouns-worksheet1\img\mangoes.png" class="img-fluid" data-text="mangoes" />
              </div>
            </td>
            <td style="width:15%">
              <div>
                <img src="assets/std02-singular-plural-nouns-worksheet1\img\toys.png" class="img-fluid" data-text="toys" />
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="Question_Body">
        <div class="row header mb-2 margin-bottom-5">
          <div class="col-6 Column text-center">
            <h2 class="font-weight-bold"><u>Singular Nouns</u></h2>
          </div>
          <div class="col-6 Column text-center">
            <h2 class="font-weight-bold"><u>Plural Nouns</u></h2>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-6 ">
            <div class="row m-0">
              <div class="col-1 p-0">
                <div class="list-item">
                  <span>1)</span>
                </div>
              </div>
              <div class="col-10 col-sm-7 col-md-6 col-lg-5 col-xl-4 text-left pr-0">
                <input type="text"><span class="correct_answer"><span>dress</span></span>
              </div>
              <div class="col-11 col-sm-4 pl-0 ">
              </div>
            </div>
          </div>
          <div class="col-6 ">
            <div class="row m-0">
              <div class="col-1 p-0">
                <div class="list-item">
                  <span>1)</span>
                </div>
              </div>
              <div class="col-10 col-sm-7 col-md-6 col-lg-5 col-xl-4 text-left pr-0">
                <div><input type="text"><span class="correct_answer"><span>presents</span></span></div>
              </div>
              <div class="col-11 col-sm-4 pl-0 ">
              </div>
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-6 ">
            <div class="row m-0">
              <div class="col-1 p-0">
                <div class="list-item">
                  <span>2)</span>
                </div>
              </div>
              <div class="col-10 col-sm-7 col-md-6 col-lg-5 col-xl-4 text-left pr-0">
                <span class="input-span"><input type="text"><span class="correct_answer"><span>hand</span></span></span>
              </div>
              <div class="col-11 col-sm-4 pl-0">

              </div>
            </div>
          </div>
          <div class="col-6 ">
            <div class="row m-0">
              <div class="col-1 p-0">
                <div class="list-item">
                  <span>2)</span>
                </div>
              </div>
              <div class="col-10 col-sm-7 col-md-6 col-lg-5 col-xl-4 text-left pr-0">
                <span class="input-span"><input type="text"><span class="correct_answer"><span>oxen</span></span></span>
              </div>
              <div class="col-11 col-sm-4 pl-0">

              </div>
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-6 ">
            <div class="row m-0">
              <div class="col-1 p-0">
                <div class="list-item">
                  <span>3)</span>
                </div>
              </div>
              <div class="col-10 col-sm-7 col-md-6 col-lg-5 col-xl-4 text-left pr-0">
                <span class="input-span"><input type="text"><span
                    class="correct_answer"><span>dinosaur</span></span></span>
              </div>
              <div class="col-11 col-sm-4 pl-0">

              </div>
            </div>
          </div>
          <div class="col-6 ">
            <div class="row m-0">
              <div class="col-1 p-0">
                <div class="list-item">
                  <span>3)</span>
                </div>
              </div>
              <div class="col-10 col-sm-7 col-md-6 col-lg-5 col-xl-4 text-left pr-0">
                <span class="input-span"><input type="text"><span
                    class="correct_answer"><span>moons</span></span></span>
              </div>
              <div class="col-11 col-sm-4 pl-0">

              </div>
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-6 ">
            <div class="row m-0">
              <div class="col-1 p-0">
                <div class="list-item">
                  <span>4)</span>
                </div>
              </div>
              <div class="col-10 col-sm-7 col-md-6 col-lg-5 col-xl-4 text-left pr-0">
                <span class="input-span"><input type="text"><span class="correct_answer"><span>bowl</span></span></span>
              </div>
              <div class="col-11 col-sm-4 pl-0">

              </div>
            </div>
          </div>
          <div class="col-6 ">
            <div class="row m-0">
              <div class="col-1 p-0">
                <div class="list-item">
                  <span>4)</span>
                </div>
              </div>
              <div class="col-10 col-sm-7 col-md-6 col-lg-5 col-xl-4 text-left pr-0">
                <span class="input-span"><input type="text"><span
                    class="correct_answer"><span>porches</span></span></span>
              </div>
              <div class="col-11 col-sm-4 pl-0">

              </div>
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-6 ">
            <div class="row m-0">
              <div class="col-1 p-0">
                <div class="list-item">
                  <span>5)</span>
                </div>
              </div>
              <div class="col-10 col-sm-7 col-md-6 col-lg-5 col-xl-4 text-left pr-0">
                <span class="input-span"><input type="text"><span
                    class="correct_answer"><span>spoon</span></span></span>
              </div>
              <div class="col-11 col-sm-4 pl-0">

              </div>
            </div>
          </div>
          <div class="col-6 ">
            <div class="row m-0">
              <div class="col-1 p-0">
                <div class="list-item">
                  <span>5)</span>
                </div>
              </div>
              <div class="col-10 col-sm-7 col-md-6 col-lg-5 col-xl-4 text-left pr-0">
                <span class="input-span"><input type="text"><span
                    class="correct_answer"><span>mangoes</span></span></span>
              </div>
              <div class="col-11 col-sm-4 pl-0">

              </div>
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-6 ">
            <div class="row m-0">
              <div class="col-1 p-0">
                <div class="list-item">
                  <span>6)</span>
                </div>
              </div>
              <div class="col-10 col-sm-7 col-md-6 col-lg-5 col-xl-4 text-left pr-0">
                <span class="input-span"><input type="text"><span class="correct_answer"><span>song</span></span></span>
              </div>
              <div class="col-11 col-sm-4 pl-0">

              </div>
            </div>
          </div>
          <div class="col-6 ">
            <div class="row m-0">
              <div class="col-1 p-0">
                <div class="list-item">
                  <span>6)</span>
                </div>
              </div>
              <div class="col-10 col-sm-7 col-md-6 col-lg-5 col-xl-4 text-left pr-0">
                <span class="input-span"><input type="text"><span class="correct_answer"><span>toys</span></span></span>
              </div>
              <div class="col-11 col-sm-4 pl-0">

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>

  </div>

</div>