<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
            <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
			<img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
	
	<div class="loadingDiv">
	</div>


	<div class="container">
			
			<div class="row pt-4" >
				<h1 class="heading">Click in correct boxes of Personal Pronouns to colour them, that 
					completes the sentences.</h1>
			</div>
			<div class="row">
				<div class="Information_Block"> 
					<div class="row m-0">
						<div class="col-12 p-0 mb-3 mb-sm-3 mb-md-4">
							<div class="question">
								<div><span>1)</span></div>
								<div><span class="ml-1">Carol gave [<span class="correct-answer option"> her </span><span class="comma">,</span> <span class="wrong-answer option"> she </span>] an apple.</span></div>
							</div>
						</div>
						<div class="col-12 p-0 mb-3 mb-sm-3 mb-md-4">
							<div class="question">
								<div><span>2)</span></div>
								<div><span class="ml-1">Alex bought a croissant for [<span class="wrong-answer option"> he </span><span class="comma">,</span> <span class="correct-answer option"> him </span>].</span></div>
							</div>	
						</div>
						<div class="col-12 p-0 mb-3 mb-sm-3 mb-md-4">
							<div class="question">
								<div><span>3)</span></div>
								<div><span class="ml-1">[<span class="correct-answer option"> They </span><span class="comma">,</span> <span class="wrong-answer option"> Them </span>] are enjoying the magic show.</span></div>
							</div>	
						</div>
						<div class="col-12 p-0 mb-3 mb-sm-3 mb-md-4">
							<div class="question">
								<div><span>4)</span></div>
								<div><span class="ml-1">The librarian told [<span class="wrong-answer option"> we </span><span class="comma">,</span> <span class="correct-answer option"> us </span>] to speak softly.</span></div>
							</div>	
						</div>
						<div class="col-12 p-0 mb-3 mb-sm-3 mb-md-4">
							<div class="question">
								<div><span>5)</span></div>
								<div><span class="ml-1">My dog jumps on [<span class="wrong-answer option">  I </span><span class="comma">,</span> <span class="correct-answer option"> me </span>] when I return from school.</span></div>
							</div>
						</div>
						<div class="col-12 p-0 mb-3 mb-sm-3 mb-md-4">
							<div class="question">
								<div><span>6)</span></div>
								<div><span class="ml-1">[<span class="correct-answer option"> It </span><span class="comma">,</span> <span class="wrong-answer option"> They </span>] was a very long movie.</span></div>
							</div>	
						</div>
						<div class="col-12 p-0 mb-3 mb-sm-3 mb-md-4">
							<div class="question">
								<div><span>7)</span></div>
								<div><span class="ml-1">Can [<span class="correct-answer option"> you </span><span class="comma">,</span> <span class="wrong-answer option"> me </span>] teach me the game?</span></div>
							</div>	
						</div>
						<div class="col-12 p-0 mb-3 mb-sm-3 mb-md-4">
							<div class="question">
								<div><span>8)</span></div>
								<div><span class="ml-1">Tim thinks [<span class="correct-answer option"> he </span><span class="comma">,</span> <span class="wrong-answer option"> him </span>] will be elected as a prefect.</span></div>
							</div>	
						</div>
					</div>

					<div class="btn-row">
						<button class="button myButton">Submit</button>
					</div>
				</div>					
			</div>
			<img src="assets/std02-personal-pronouns-worksheet3/img/joker.png" alt="" class="joker">
	</div>

</div>