<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 px-2 text-center">
        <div class="heading my-3 p-2">
          <h2 class="font-weight-bold mb-0">Let us learn about animals and their homes.</h2>
        </div>
        <h2 class="font-weight-bold">
          Click in the circles below the numbers and then click on the correct animal homes from Column B,
          of the animals given in Column A.
        </h2>
      </div>
    </div>
    <div class="Main_Container mb-3 mt-sm-1">
      <div class="row">
        <div class="col-12 col-sm-6 Question_Container">
          <div class="row header mb-2">
            <div class="col-6 Column text-center">
              <img src="assets/std02-vocabulary-worksheet1/img/ColumnA.png" alt="" />
            </div>
            <div class="col-6 Column text-center">
              <img src="assets/std02-vocabulary-worksheet1/img/ColumnB.png" alt="" />
            </div>
          </div>
          <div class="">
            <div class="col-12 Question_Body">
              <div class="row">
                <div class="col-6 Question">
                  <div class="row">
                    <div class="col-4">
                      <div class="list-item">
                        <span>1</span>
                      </div>
                    </div>
                    <div class="col-8 text-left">
                      <span>lion</span>
                    </div>
                  </div>
                </div>
                <div class="col-6 Question">
                  <div class="row">
                    <div class="col-4">
                      <div class="list-item alphabets">
                        <span>A</span>
                      </div>
                    </div>
                    <div class="col-8 text-left alphabets">
                      <span>hive</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 Question">
                  <div class="row">
                    <div class="col-4">
                      <div class="list-item">
                        <span>2</span>
                      </div>
                    </div>
                    <div class="col-8 text-left">
                      <span>bee</span>
                    </div>
                  </div>
                </div>
                <div class="col-6 Question">
                  <div class="row">
                    <div class="col-4">
                      <div class="list-item alphabets">
                        <span>B</span>
                      </div>
                    </div>
                    <div class="col-8 text-left alphabets">
                      <span>sty</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 Question">
                  <div class="row">
                    <div class="col-4">
                      <div class="list-item">
                        <span>3</span>
                      </div>
                    </div>
                    <div class="col-8 text-left">
                      <span>rabbit</span>
                    </div>
                  </div>
                </div>
                <div class="col-6 Question">
                  <div class="row">
                    <div class="col-4">
                      <div class="list-item alphabets">
                        <span>C</span>
                      </div>
                    </div>
                    <div class="col-8 text-left alphabets">
                      <span>kennel</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 Question">
                  <div class="row">
                    <div class="col-4">
                      <div class="list-item">
                        <span>4</span>
                      </div>
                    </div>
                    <div class="col-8 text-left">
                      <span>dog</span>
                    </div>
                  </div>
                </div>
                <div class="col-6 Question">
                  <div class="row">
                    <div class="col-4">
                      <div class="list-item alphabets">
                        <span>D</span>
                      </div>
                    </div>
                    <div class="col-8 text-left alphabets">
                      <span>web</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 Question">
                  <div class="row">
                    <div class="col-4">
                      <div class="list-item">
                        <span>5</span>
                      </div>
                    </div>
                    <div class="col-8 text-left">
                      <span>hen</span>
                    </div>
                  </div>
                </div>
                <div class="col-6 Question">
                  <div class="row">
                    <div class="col-4">
                      <div class="list-item alphabets">
                        <span>E</span>
                      </div>
                    </div>
                    <div class="col-8 text-left alphabets">
                      <span>stable</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 Question">
                  <div class="row">
                    <div class="col-4">
                      <div class="list-item">
                        <span>6</span>
                      </div>
                    </div>
                    <div class="col-8 text-left">
                      <span>spider</span>
                    </div>
                  </div>
                </div>
                <div class="col-6 Question">
                  <div class="row">
                    <div class="col-4">
                      <div class="list-item alphabets">
                        <span>F</span>
                      </div>
                    </div>
                    <div class="col-8 text-left alphabets">
                      <span>den</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 Question">
                  <div class="row">
                    <div class="col-4">
                      <div class="list-item">
                        <span>7</span>
                      </div>
                    </div>
                    <div class="col-8 text-left">
                      <span>pig</span>
                    </div>
                  </div>
                </div>
                <div class="col-6 Question">
                  <div class="row">
                    <div class="col-4">
                      <div class="list-item alphabets">
                        <span>G</span>
                      </div>
                    </div>
                    <div class="col-8 text-left alphabets">
                      <span>coop</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 Question">
                  <div class="row">
                    <div class="col-4">
                      <div class="list-item">
                        <span>8</span>
                      </div>
                    </div>
                    <div class="col-8 text-left">
                      <span>horse</span>
                    </div>
                  </div>
                </div>
                <div class="col-6 Question">
                  <div class="row">
                    <div class="col-4">
                      <div class="list-item alphabets">
                        <span>H</span>
                      </div>
                    </div>
                    <div class="col-8 text-left alphabets">
                      <span>burrow</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 Answer_Container">
          <div class="col-12 col-lg-10 Answer">
            <span><input type="text" name="" id="" maxlength="1" size="1">
              <div class="correct_answer first"><span>F</span></div>
            </span>
            <span><input type="text" name="" id="" maxlength="1" size="1">
              <div class="correct_answer second"><span>A</span></div>
            </span>
            <span><input type="text" name="" id="" maxlength="1" size="1">
              <div class="correct_answer third"><span>H</span></div>
            </span>
            <span><input type="text" name="" id="" maxlength="1" size="1">
              <div class="correct_answer fourth"><span>C</span></div>
            </span>
            <span><input type="text" name="" id="" maxlength="1" size="1">
              <div class="correct_answer fifth"><span>G</span></div>
            </span>
            <span><input type="text" name="" id="" maxlength="1" size="1">
              <div class="correct_answer sixth"><span>D</span></div>
            </span>
            <span><input type="text" name="" id="" maxlength="1" size="1">
              <div class="correct_answer seventh"><span>B</span></div>
            </span>
            <span><input type="text" name="" id="" maxlength="1" size="1">
              <div class="correct_answer eighth"><span>E</span></div>
            </span>
          </div>
        </div>
      </div>
      <div class="btn-row">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>
</div>