<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row m-0">
      <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
        <h2 class="font-weight-bold heading">
          Click on the blanks and then click on the correct Synonyms from the
          help box, of the words given in the brackets to complete the sentences.

        </h2>
      </div>
    </div>

    <div class="main-helpbox-container2">
      <div class="main-helpbox-container">
        <img src="assets/std03-synonyms-worksheet9/img/basketball.png" class="img-fluid basket_img">
        <div class="helpbox-cotainer">
          <!-- <div class="helpbox-top"> -->
          <div class="helpbox"><span>damage</span></div>
          <div class="helpbox"><span>talk</span></div>
          <!-- </div> -->
        </div>
        <div class="helpbox-cotainer">
          <!-- <div class="helpbox-top"> -->
          <div class="helpbox"><span>street</span></div>
          <div class="helpbox"><span>false</span></div>
          <!-- </div> -->
        </div>
        <div class="helpbox-cotainer">
          <!-- <div class="helpbox-top"> -->
          <div class="helpbox"><span>baby</span></div>
          <div class="helpbox"><span>injured</span></div>
          <!-- </div> -->
        </div>
        <div class="helpbox-cotainer">
          <!-- <div class="helpbox-top"> -->
          <div class="helpbox"><span>tired</span></div>
          <div class="helpbox"><span>chilly</span></div>
          <!-- </div> -->
        </div>
        <div class="helpbox-cotainer">
          <!-- <div class="helpbox-top"> -->
          <div class="helpbox"><span>jump</span></div>
          <div class="helpbox"><span>lost</span></div>
          <!-- </div> -->
        </div>
      </div>
    </div>

    <div class="main-question-container">

      <!-- 1 -->
      <div class="question">
        <div class="number">
          <span>1)</span>
        </div>
        <div class="text-container">
          <span>There was a (cool)</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer">
              <span>chilly</span>
            </div>
          </div>
          <span>breeze blowing through the windows.</span>
        </div>
      </div>
      <!-- 2 -->
      <div class="question">
        <div class="number">
          <span>2)</span>
        </div>
        <div class="text-container">
          <span>Your answer is (untrue) </span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer">
              <span>false</span>
            </div>
          </div><span>.</span>
        </div>
      </div>
      <!-- 3 -->
      <div class="question">
        <div class="number">
          <span>3)</span>
        </div>
        <div class="text-container">
          <span>The T.V. was carefully packed to prevent it from (harm)</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer correct-ans3">
              <span>damage</span>
            </div>
          </div><span>.</span>
        </div>
      </div>
      <!-- 4 -->
      <div class="question">
        <div class="number">
          <span>4)</span>
        </div>
        <div class="text-container">
          <span>The lifeguard saw the little boy (leap)</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer correct-ans4">
              <span>jump</span>
            </div>
          </div>
          <span>into the swimming pool.</span>
        </div>
      </div>
      <!-- 5 -->
      <div class="question">
        <div class="number">
          <span>5)</span>
        </div>
        <div class="text-container">
          <span>The newborn (infant)</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer">
              <span>baby</span>
            </div>
          </div>
          <span>was looked after by the nurses of the hospital.</span>
        </div>
      </div>
      <!-- 6 -->
      <div class="question">
        <div class="number">
          <span>6)</span>
        </div>
        <div class="text-container">
          <span>Peter’s dog was (missing)</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer">
              <span>lost</span>
            </div>
          </div>
          <span>two days ago.</span>
        </div>
      </div>
      <!-- 7 -->
      <div class="question">
        <div class="number">
          <span>7)</span>
        </div>
        <div class="text-container">
          <span>On which (road)</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer">
              <span>street</span>
            </div>
          </div>
          <span>does Mr. Brown live?</span>
        </div>
      </div>
      <!-- 8 -->
      <div class="question">
        <div class="number">
          <span>8)</span>
        </div>
        <div class="text-container">
          <span>Zach was extremely (sleepy)</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer correct-ans8">
              <span>tired</span>
            </div>
          </div>
          <span>after the basketball game.</span>
        </div>
      </div>
      <!-- 9 -->
      <div class="question">
        <div class="number">
          <span>9)</span>
        </div>
        <div class="text-container">
          <span>Nicole’s kid sister is learning to (speak)</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer correct-ans9">
              <span>talk</span>
            </div>
          </div><span>.</span>
        </div>
      </div>
      <!-- 10 -->
      <div class="question">
        <div class="number">
          <span>10)</span>
        </div>
        <div class="text-container">
          <span>The (hurt)</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer">
              <span>injured</span>
            </div>
          </div>
          <span>pigeon was taken to the animal care centre. </span>
        </div>
      </div>




    </div>

  </div>
  <div class="row btn-row">
    <div class="col-12 text-center">
      <button class="button myButton">Submit</button>
    </div>
  </div>
</div>