<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
	<div class="loadingDiv">
	</div>
	<div class="container">
			<div class="row" style="margin:0">
					<div class="row " >
						<h1 class="heading">Underline the correct conjuction 
						in the brackets to complete each sentence.</h1>
					</div>

			</div>
			<div class="row" style="display:flex;margin:0;">
				<div class="Information_Block"> 
					<div class="row">
						<div class="col-xs-1 text-center no-padding">1)</div>
						<div class="col-xs-11 no-padding margin-left-2 padding-left-15" id="question0"><span>Grandma</span> <span>has</span> <span>decided</span> <span>to</span> <span>go</span> <span>to</span> <span>New</span> <span>York</span> <span>or</span> <span>Washington</span> <span>for</span> <span>a</span> <span>holiday</span>.</div>
					</div>
					<div class="row">
						<div class="col-xs-1 text-center no-padding">2)</div>
						<div class="col-xs-11 no-padding margin-left-2 padding-left-15" id="question1"><span></span> <span>John</span> <span>is</span> <span>tall</span> <span>but</span> <span>Jerry</span> <span>is</span> <span>taller</span>.</div>
					</div>
					<div class="row">
						<div class="col-xs-1 text-center no-padding">3)</div>
						<div class="col-xs-11 no-padding margin-left-2 padding-left-15" id="question2"><span>Mary<span class="apostrophe">’</span>s</span> <span>pet</span> <span>dog</span> <span>has</span> <span>black</span> <span>and</span> <span>white</span> <span>fur</span>.</div>
					</div>
					<div class="row">
						<div class="col-xs-1 text-center no-padding">4)</div>
						<div class="col-xs-11 no-padding margin-left-2 padding-left-15" id="question3"><span></span> <span>If</span> <span>you</span> <span>don<span class="apostrophe">’</span>t</span> <span>understand</span> <span>anything,</span> <span>you</span> <span>can</span> <span>raise</span> <span>your</span> <span>hand</span>.</div>
					</div>
					<div class="row">
						<div class="col-xs-1 text-center no-padding">5)</div>
						<div class="col-xs-11 no-padding margin-left-2 padding-left-15" id="question4"><span></span> <span>Wash</span> <span>the</span> <span>apple</span> <span>before</span> <span>eating</span> <span>it</span>.</div>
					</div>
					<div class="row">
						<div class="col-xs-1 text-center no-padding">6)</div>
						<div class="col-xs-11 no-padding margin-left-2 padding-left-15" id="question5"><span>Exams</span> <span>are</span> <span>beginnng</span> <span>next</span> <span>week</span> <span>so</span> <span>don<span class="apostrophe">’</span>t</span> <span></span> <span></span> <span>waste</span> <span>your</span> <span>time</span>.<span></span> </div>
					</div>
					<div class="row">
						<div class="col-xs-1 text-center no-padding">7)</div>
						<div class="col-xs-11 no-padding margin-left-2 padding-left-15" id="question6"><span>Susie</span> <span>is</span> <span>extremely</span> <span>happy</span> <span>because</span> <span>she</span> <span>is</span> <span>going</span> <span>to</span> <span>her</span> <span>friend<span class="apostrophe">’</span>s</span> <span>house</span>.</div>
					</div>
					<div class="row">
						<div class="col-xs-1 text-center no-padding">8)</div>
						<div class="col-xs-11 no-padding margin-left-2 padding-left-15" id="question7"><span></span> <span>Mom</span> <span>cleaned</span> <span>the</span> <span>dishes</span> <span>after</span> <span>we</span> <span>all</span> <span>had</span> <span>eaten</span> <span>dinner</span>.</div>
					</div>
				</div>
						
			</div>
			<div class="row">
				<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
				</div>	
			</div>
	</div>
</div>