<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
      <img src="" alt="" class="Text keep-practicing hide">
      <img src="" alt="" class="Text outstanding hide">
      <img src="" alt="" class="Text brilliant hide">
      <img src="" alt="" class="Text good-work hide">
      <!-- <img src="" alt="" class="Text fabulous hide"> -->
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
    <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  
  <div class="loadingDiv">
  </div>
      
  <div class="container">
      <div class="row">
          <div class="heading mt-3">
              <h1>Click on the blanks and then click on the words from the help box, to classify them correctly into Present, Past and Future Continuous Tense.</h1>
          </div>
      </div>
      <div class="row Main_Container">
          <img src="assets/std03-mixed-tense-worksheet4/img/line.png" alt="" class="line">
          <div class="col-12 Option_Container">
              <div class="options">
                  <div class="option">was singing</div>
                  <div class="option">will be eating</div>
                  <div class="option">is flowing</div>
                  <div class="option">will be drawing</div>
                  <div class="option">was going</div>
                  <div class="option">are studying</div>
                  <div class="option">is running</div>
                  <div class="option">will be doing</div>
                  <div class="option">were smiling</div>
                  <div class="option">was carrying</div>
                  <div class="option">am giving</div>
                  <div class="option">will be walking</div>
                  <div class="option">will be making</div>
                  <div class="option">were flying</div>
                  <div class="option">are helping</div>
                  <div class="option">is talking</div>
                  <div class="option">will be growing</div>
                  <div class="option">were building</div>
              </div>
          </div>
          <div class="col-12 Answer_Container">
             <div class="Answers">
                 <div class="Answer_Block first Present_Tense">
                     <div class="header">Present Continuous Tense</div>
                     <div class="Block">
                         <div class="Answer_Row">
                              <div class="number">1.</div>
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>is flowing</span></div>
                              </div>
                         </div>
                         <div class="Answer_Row">
                              <div class="number">2.</div>
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>am giving</span></div>
                              </div>
                         </div>
                         <div class="Answer_Row">
                              <div class="number">3.</div>
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>are studying</span></div>
                              </div>
                         </div>
                         <div class="Answer_Row">
                              <div class="number">4.</div>
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>are helping</span></div>
                              </div>
                         </div>
                         <div class="Answer_Row">
                              <div class="number">5.</div>
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>is running</span></div>
                              </div>
                         </div>
                         <div class="Answer_Row">
                              <div class="number">6.</div>
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>is talking</span></div>
                              </div>
                         </div>
                     </div>
                 </div>
                 <div class="Answer_Block second Past_Tense">
                     <div class="header">Past Continuous Tense</div>
                     <div class="Block">
                         <div class="Answer_Row">
                              <div class="number">1.</div>
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>was going</span></div>
                              </div>
                         </div>
                         <div class="Answer_Row">
                              <div class="number">2.</div>
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>were flying</span></div>
                              </div>
                         </div>
                         <div class="Answer_Row">
                              <div class="number">3.</div>
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>were smiling</span></div>
                              </div>
                         </div>
                         <div class="Answer_Row">
                              <div class="number">4.</div>
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>were building</span></div>
                              </div>
                         </div>
                         <div class="Answer_Row">
                              <div class="number">5.</div>
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>was singing</span></div>
                              </div>
                         </div>
                         <div class="Answer_Row">
                              <div class="number">6.</div>
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>was carrying</span></div>
                              </div>
                         </div>
                     </div>
                 </div>
                 <div class="Answer_Block third Future_Tense">
                     <div class="header">Future Continuous Tense</div>
                     <div class="Block">
                         <div class="Answer_Row">
                              <div class="number">1.</div>
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>will be doing</span></div>
                              </div>
                         </div>
                         <div class="Answer_Row">
                              <div class="number">2.</div>
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>will be growing</span></div>
                              </div>
                         </div>
                         <div class="Answer_Row">
                              <div class="number">3.</div>
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>will be eating</span></div>
                              </div>
                         </div>
                         <div class="Answer_Row">
                              <div class="number">4.</div>
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>will be walking</span></div>
                              </div>
                         </div>
                         <div class="Answer_Row">
                              <div class="number">5.</div>
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>will be drawing</span></div>
                              </div>
                         </div>
                         <div class="Answer_Row">
                              <div class="number">6.</div>
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>will be making</span></div>
                              </div>
                         </div>
                     </div>
                 </div>
             </div>
          </div>
  </div>
      <div class="btn-row">
          <button class="button myButton">Submit</button>
      </div>
     
  </div>
</div>