<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
              <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide">
              <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>

    <div class="loadingDiv">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 px-2 mb-1 mt-4">

                <h2 class="font-weight-bold">
                    Click on the blanks and then click on the correct Collective Nouns from the help box, that answers the questions.
                </h2>
            </div>
        </div>

        <div class="col-12 p-0">
            <div class="main-helpbox-container ">
                <div class="helpbox-img-container">
                    <!-- <img src="../assets/std03-collective-noun-worksheet7\img/boys1.png" class="boys img-fluid"> -->
                </div>
                <div class="helpbox-container">
                    <div class="helpbox">
                        <div class="img-box">
                            <img src="assets/std03-collective-noun-worksheet7/img/p1.png" class="p1-img img-fluid">
                        </div>

                        <div class="helpbox-ans">
                            <span>fleet</span>
                        </div>
                    </div>

                    <div class="helpbox">
                        <div class="img-box">
                            <img src="assets/std03-collective-noun-worksheet7/img/p2.png" class="p2-img img-fluid">
                        </div>

                        <div class="helpbox-ans">
                            <span>pod</span>
                        </div>
                    </div>

                    <div class="helpbox">
                        <div class="img-box">
                            <img src="assets/std03-collective-noun-worksheet7/img/p3.png" class="p3-img img-fluid">
                        </div>
                        <div class="helpbox-ans">
                            <span>gaggle</span>
                        </div>
                    </div>

                    <div class="helpbox">
                        <div class="img-box">
                            <img src="assets/std03-collective-noun-worksheet7/img/p4.png" class="p4-img img-fluid">
                        </div>
                        <div class="helpbox-ans">
                            <span>bunch</span>
                        </div>
                    </div>

                    <div class="helpbox">
                        <div class="img-box">
                            <img src="assets/std03-collective-noun-worksheet7/img/p5.png" class="p5-img img-fluid">
                        </div>
                        <div class="helpbox-ans">
                            <span>herd</span>
                        </div>
                    </div>

                    <div class="helpbox">
                        <div class="img-box">
                            <img src="assets/std03-collective-noun-worksheet7/img/p6.png" class="p6-img img-fluid">
                        </div>
                        <div class="helpbox-ans">
                            <span>class</span>
                        </div>
                    </div>

                    <div class="helpbox">
                        <div class="img-box">
                            <img src="assets/std03-collective-noun-worksheet7/img/p7.png" class="p7-img img-fluid">
                        </div>
                        <div class="helpbox-ans">
                            <span>clump</span>
                        </div>
                    </div>

                    <div class="helpbox">
                        <div class="img-box">
                            <img src="assets/std03-collective-noun-worksheet7/img/p8.png" class="p8-img img-fluid">
                        </div>
                        <div class="helpbox-ans">
                            <span>bouquet</span>
                        </div>
                    </div>



                    <div class="nine helpbox">
                        <div class="img-box">
                            <img src="assets/std03-collective-noun-worksheet7/img/p9.png" class="p9-img img-fluid">
                        </div>
                        <div class="helpbox-ans">
                            <span>staff</span>
                        </div>
                    </div>

                    <div class="ten helpbox">
                        <div class="img-box">
                            <img src="assets/std03-collective-noun-worksheet7/img/p10.png" class="p10-img img-fluid">
                        </div>
                        <div class="helpbox-ans">
                            <span>patrol</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="Main_Container mb-3">

            <div class="row m-0">

                <div class="col-12 Question_Body ">

                    <div class="col-12 p-0 Question">

                        <span class="number">1)</span>
                        <div class="text-container">
                            <span>What is a group of whales called?</span>
                            <span class="input_div"><span class="input-span"><input type="text" name="" id=""></span>
                            <span class="correct-ans"><span>pod</span> </span></span>
                        </div>

                    </div>


                    <div class="col-12 p-0 Question">

                        <span class="number">2)</span>
                        <div class="text-container">
                            <span>What is a number of cars operating together called?</span>
                            <span class="input_div"><span class="input-span"><input type="text" name="" id=""></span>
                            <span class="correct-ans"><span>fleet</span></span></span>
                        </div>
                    </div>

                    <div class="col-12 p-0 Question">
                        <span class="number">3)</span>
                        <div class="text-container">
                            <span>What is a small group of grass growing together called?</span>
                            <span class="input_div"><span class="input-span"><input type="text" name="" id=""></span>
                            <span class="correct-ans"><span>clump</span></span></span>
                        </div>
                    </div>

                    <div class="col-12 p-0 Question">
                        <span class="number">4)</span>
                        <div class="text-container">
                            <span>What is a number of keys together called?</span>
                            <span class="input_div"><span class="input-span"><input type="text" name="" id=""></span>
                            <span class="correct-ans"><span>bunch</span></span></span>
                        </div>
                    </div>

                    <div class="col-12 p-0 Question">

                        <span class="number">5)</span>
                        <div class="text-container">
                            <span>What is a large group of oxen called?</span>

                            <span class="input_div"><span class="input-span"><input type="text" name="" id=""></span>
                            <span class="correct-ans"><span>herd</span></span></span>
                        </div>
                    </div>

                    <div class="col-12 p-0 Question">

                        <span class="number">6)</span>
                        <div class="text-container">
                            <span>What is a group of teachers working in a school called? </span>
                            <span class="input_div"><span class="input-span"><input type="text" name="" id=""></span>
                            <span class="correct-ans"><span>staff</span></span></span>
                        </div>
                    </div>

                    <div class="col-12 p-0 Question">

                        <span class="number">7)</span>
                        <div class="text-container">
                            <span>What is a group of policemen called?</span>
                            <span class="input_div"><span class="input-span"><input type="text" name="" id=""></span>
                            <span class="correct-ans"><span>patrol</span></span></span>
                        </div>

                    </div>

                    <div class="col-12 p-0 Question">
                        <span class="number">8)</span>
                        <div class="text-container">
                            <span>What is a group of geese called?</span>
                            <span class="input_div"><span class="input-span"><input type="text" name="" id=""></span>
                            <span class="correct-ans"><span>gaggle</span></span></span>
                        </div>
                    </div>

                    <div class="col-12 p-0 Question">
                        <span class="number">9)</span>
                        <div class="text-container">
                            <span>What is a number of flowers put together called?</span>
                            <span class="input_div"><span class="input-span"><input type="text" name="" id=""></span>
                            <span class="correct-ans"><span>bouquet</span></span></span>
                        </div>
                    </div>

                    <div class="col-12 p-0 Question">
                        <span class="number">10)</span>
                        <div class="text-container">
                            <span>What is a number of students sitting together in a place called?</span>
                            <span class="input_div"><span class="input-span"><input type="text" name="" id=""></span>
                            <span class="correct-ans"><span>class</span></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pb-3 btn-row">
            <div class="col-12 text-center">
                <button class="button myButton">Submit</button>
            </div>
        </div>

    </div>
</div>