<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>

    <div class="loadingDiv">
    </div>

    <div class="container">
        <div class="row">
            <div class="heading mt-3">
                <h1>Click on the blanks and then click on the words from the help box to classify them correctly into
                    Masculine, Feminine and Common Gender.</h1>
            </div>
        </div>
        <div class="row position-relative">
            <div class="col-12 Answer_Container">
                <div class="Answer_Block one">
                    <img src="assets/std03-gender-nouns-worksheet8/img/bg1.png" alt="" class="">
                    <div class="header">
                        <span>Masculine</span>
                        <span>Gender</span>
                    </div>
                    <div class="content">
                        <div class="answer">
                            <span>1)</span> <input type="text">
                            <div class="correct_answer"><span>dog</span></div>
                        </div>
                        <div class="answer">
                            <span>2)</span> <input type="text">
                            <div class="correct_answer"><span>poet</span></div>
                        </div>
                        <div class="answer">
                            <span>3)</span> <input type="text">
                            <div class="correct_answer"><span>lad</span></div>
                        </div>
                        <div class="answer">
                            <span>4)</span> <input type="text">
                            <div class="correct_answer"><span>bachelor</span></div>
                        </div>
                        <div class="answer">
                            <span>5)</span> <input type="text">
                            <div class="correct_answer"><span>waiter</span></div>
                        </div>
                        <div class="answer">
                            <span>6)</span> <input type="text">
                            <div class="correct_answer"><span>prince</span></div>
                        </div>
                    </div>

                </div>
                <div class="Answer_Block two">
                    <img src="assets/std03-gender-nouns-worksheet8/img/bg2.png" alt="" class="">
                    <div class="header">
                        <span>Feminine</span>
                        <span>Gender</span>
                    </div>
                    <div class="content">
                        <div class="answer">
                            <span>1)</span> <input type="text">
                            <div class="correct_answer"><span>bride</span></div>
                        </div>
                        <div class="answer">
                            <span>2)</span> <input type="text">
                            <div class="correct_answer"><span>queen</span></div>
                        </div>
                        <div class="answer">
                            <span>3)</span> <input type="text">
                            <div class="correct_answer"><span>cow</span></div>
                        </div>
                        <div class="answer">
                            <span>4)</span> <input type="text">
                            <div class="correct_answer"><span>niece</span></div>
                        </div>
                        <div class="answer">
                            <span>5)</span> <input type="text">
                            <div class="correct_answer"><span>milkmaid</span></div>
                        </div>
                        <div class="answer">
                            <span>6)</span> <input type="text">
                            <div class="correct_answer"><span>madam</span></div>
                        </div>
                    </div>
                </div>
                <div class="Answer_Block three">
                    <img src="assets/std03-gender-nouns-worksheet8/img/bg3.png" alt="" class="">
                    <div class="header">
                        <span>Common</span>
                        <span>Gender</span>
                    </div>
                    <div class="content">
                        <div class="answer">
                            <span>1)</span> <input type="text">
                            <div class="correct_answer"><span>minister</span></div>
                        </div>
                        <div class="answer">
                            <span>2)</span> <input type="text">
                            <div class="correct_answer"><span>cousin</span></div>
                        </div>
                        <div class="answer">
                            <span>3)</span> <input type="text">
                            <div class="correct_answer"><span>artist</span></div>
                        </div>
                        <div class="answer">
                            <span>4)</span> <input type="text">
                            <div class="correct_answer"><span>pupil</span></div>
                        </div>
                        <div class="answer">
                            <span>5)</span> <input type="text">
                            <div class="correct_answer"><span>friend</span></div>
                        </div>
                        <div class="answer">
                            <span>6)</span> <input type="text">
                            <div class="correct_answer"><span>neighbour</span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 Option_container">
                <div class="options">
                    <img src="assets/std03-gender-nouns-worksheet8/img/bg4.png" alt="">

                    <div class="w-100">
                        <div class="row-container Question">
                            <div class="row m-0">
                                <div class="col-3 p-0">
                                    <div class=""><span>bride</span></div>
                                </div>
                                <div class="col-3 p-0">

                                    <div class=""><span>minister</span></div>
                                </div>
                                <div class="col-3 p-0">

                                    <div class="dog"><span>dog</span></div>
                                </div>
                                <div class="col-3 p-0">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="row-container1 Question">
                            <div class="row m-0">
                                <div class="col-3 p-0">
                                    <div class=""><span>poet</span></div>
                                </div>
                                <div class="col-3 p-0">

                                    <div class="neighbour"><span>neighbour</span></div>
                                </div>
                                <div class="col-3 p-0">

                                    <div class="lad"><span>lad</span></div>
                                </div>
                                <div class="col-3 p-0">
                                    <div class=""><span>artist</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="row-container2 Question">
                            <div class="row m-0">
                                <div class="col-3 p-0">
                                    <div class=""><span>pupil</span></div>
                                </div>
                                <div class="col-3 p-0">

                                    <div class=""><span>bachelor</span></div>
                                </div>
                                <div class="col-3 p-0">

                                    <div class="cow"><span>cow</span></div>
                                </div>
                                <div class="col-3 p-0">
                                    <div class=""><span>niece</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="row-container3 Question">
                            <div class="row m-0">
                                <div class="col-3 p-0">
                                    <div class=""><span>waiter</span></div>
                                </div>
                                <div class="col-3 p-0">

                                    <div class="milkmaid"><span>milkmaid</span></div>
                                </div>
                                <div class="col-3 p-0">

                                    <div class="friend"><span>friend</span></div>
                                </div>
                                <div class="col-3 p-0">
                                    <div class="prince"><span>prince</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="row-container4 Question">
                            <div class="row m-0">
                                <div class="col-3 p-0">
                                    <div class=""><span>queen</span></div>
                                </div>
                                <div class="col-3 p-0">

                                    <div class="madam"><span>madam</span></div>
                                </div>
                                <div class="col-3 p-0">

                                    <div class="cousin"><span>cousin</span></div>
                                </div>
                                <div class="col-3 p-0">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="btn-row">
            <button class="button myButton">Submit</button>
        </div>

    </div>
</div>