<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
      <img src="" alt="" class="Text fabulous hide">
    </div>
          <div class="TextBox">
              <h1></h1>
          </div>
          <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  
  <div class="loadingDiv">
  </div>
            
  <div class="container">
      <div class="row">
          <div class="col-12 Main_Container">
                  <!-- start -->
                  <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
                          <!-- Indicators -->
                          <ul class="carousel-indicators">
                              <li data-target="#demo" data-slide-to="0" class="active" >1</li>
                              <li data-target="#demo" data-slide-to="1" >2</li>
                              <li data-target="#demo" data-slide-to="2" >3</li>
                          </ul>
                          <!-- The slideshow -->
                              <div class="carousel-inner">
                                  <div class="carousel-item active first">
                                      <div class="row px-2 p-2 mt-3 ">
                                          <div class="heading">
                                              <h2 class="font-weight-bold">
                                                  Read the story carefully. Then answer the questions that follow.
                                              </h2>
                                          </div>
                                      </div>
                                      <div class="row mb-1">
                                          <div class="title-top text-center m-auto ">
                                                <span>The Greedy Boy</span>
                                          </div>
                                      </div>
                                      <div class="row mt-sm-2 mt-lg-3">
                                          <div class="main-question-container">
                                              <div class="row m-0">
                                                  <p>
                                                      <span class="pl-5">Sam and Tom were identical twins. They were so identical that even their mother found it difficult to 
                                                          distinguish one from the other when they were babies.</span>
                                                  </p>
                                                  <p>
                                                      <span class="pl-5">However, they were very different from each other when it came to everything other than their appearance. 
                                                          Sam had no friends, while Tom was a great friendship maker. Sam loved sweets, but Tom loved spicy food and 
                                                          detested sweets. Sam was mommy’s pet and Tom was daddy’s pet. While Sam was generous and selfless, Tom 
                                                          was greedy and selfish! </span> 
                                                  </p>
                                                  <p><span class="pl-5">As</span>  Sam and Tom grew up, their father wanted to share his fortune equally between them. However, Tom 
                                                      did not agree and he argued that whoever proved to be more intelligent and strong would have to get a bigger 
                                                      share of the wealth. Sam agreed. 
                                                  </p>

                                                  <p>
                                                      <span class="pl-5">Their father decided to have a competition between the two. He asked the two sons to walk as far as
                                                          they could, and return home before sunset. The wealth would be divided in proportion to the distance covered. As
                                                          a rule of the competition, they were not permitted to carry a watch to keep track of the time.</span>
                                                  </p>
                                                  <p>
                                                      <span class="pl-5">The following day, Sam and Tom set out to walk. It was a rather sunny day. Sam walked slowly and steadily,
                                                          while Tom broke into a sprint as he was bent on winning the race and also winning a greater portion of his father’s 
                                                          wealth. Sam knew that it would be ideal to walk as far as possible till noon and start for home at noon as it would 
                                                          take the same amount of time to walk back home. Knowing this, Sam decided to turn back for home at noon so as 
                                                          to reach home on time. </span> 
                                                  </p>
                                                  <p><span class="pl-5">However,</span> Tom with his greed to earn more wealth, did not attempt to return home even after mid-noon. He 
                                                      walked twice as long as Sam, and thought he would still be able to return home before sunset. He hurried back 
                                                      when he saw the sun turn orange. Unfortunately, he could not even make it half way home as the sun started to 
                                                      set. Slowly darkness engulfed his path and he had to drag his tired feet back home. 
                                                  </p>
                                                  <p><span class="pl-5">He</span>  had lost the race because of his greed. Greed leads to loss.</p>
                                              </div>	
                                          </div>		
                                      </div>
                                  </div>
                                  <div class="carousel-item  second">
                                      <div class="row px-2 p-2 mt-3 pb-3">
                                          <div class="col-12 mb-1">
                                              <div class="title-top text-center m-auto ">
                                                    <span>The Greedy Boy</span>
                                              </div>
                                          </div>
                                          <div class="main-question-container Question_Block_One Question_Block">
                                              <div class="questions-container">
                                                  <div class="w-100">
                                                      <span class="input-span1"><span class="font-weight-bold instruction"><u>Answer the following questions:</u></span></span>
                                                  </div>
                                                  <!-- 1-->
                                                  <div class="question mt-2 one">
                                                          <div class="number pr-2 font-weight-bold">
                                                              1)
                                                          </div>
                                                          <div class="content">
                                                              <span class="font-weight-bold">
                                                                  Click in the circles below the numbers and then click on the correct meanings from 
                                                                  Column B, of the words given in Column A.
                                                              </span>
                                                          </div>
                                                  </div>
                                                  <div class="Column-Answer-Container">
                                                      <div class="column-container">
                                                          <div class="column-A">
                                                              <div class="column_header">Column A</div>
                                                              <div class="column">
                                                                  <div class="col-number">1)</div>
                                                                  <div class="col-text">distinguish</div>
                                                              </div>
                                                              <div class="column">
                                                                  <div class="col-number">2)</div>
                                                                  <div class="col-text">detested</div>
                                                              </div>
                                                              <div class="column">
                                                                  <div class="col-number">3)</div>
                                                                  <div class="col-text">fortune</div>
                                                              </div>
                                                              <div class="column">
                                                                  <div class="col-number">4)</div>
                                                                  <div class="col-text">permitted</div>
                                                              </div>
                                                              <div class="column">
                                                                  <div class="col-number">5)</div>
                                                                  <div class="col-text">sprint</div>
                                                              </div>
                                                              <div class="column">
                                                                  <div class="col-number">6)</div>
                                                                  <div class="col-text">engulfed</div>
                                                              </div>
                                                          </div>
                                                          <div class="column-B">
                                                              <div class="column_header">Column B</div>
                                                              <div class="column">
                                                                  <div class="col-number">A)</div>
                                                                  <div class="col-text">hated</div>
                                                              </div>
                                                              <div class="column">
                                                                  <div class="col-number">B)</div>
                                                                  <div class="col-text">to allow</div>
                                                              </div>
                                                              <div class="column">
                                                                  <div class="col-number">C)</div>
                                                                  <div class="col-text"> to surround or cover</div>
                                                              </div>
                                                              <div class="column">
                                                                  <div class="col-number">D)</div>
                                                                  <div class="col-text">money</div>
                                                              </div>
                                                              <div class="column">
                                                                  <div class="col-number">E)</div>
                                                                  <div class="col-text">to tell the difference</div>
                                                              </div>
                                                              <div class="column">
                                                                  <div class="col-number">F)</div>
                                                                  <div class="col-text">to run</div>
                                                              </div>
                                                          </div>   
                                                      </div>
                                                      <div class="answer-container">
                                                          <div class="top-number-container">
                                                              <div class="ans-no"><span>1</span></div>
                                                              <div class="ans-no"><span>2</span></div>
                                                              <div class="ans-no"><span>3</span></div>
                                                              <div class="ans-no"><span>4</span></div>
                                                              <div class="ans-no"><span>5</span></div>
                                                              <div class="ans-no"><span>6</span></div>
                                                          </div>
                                                          <div class="top-input-container">
                                                              <div class="input-container">
                                                                  <input type="text">
                                                                  <div class="correct-answer">
                                                                      <span>E</span>
                                                                  </div>
                                                              </div>
                                                              <div class="input-container">
                                                                  <input type="text">
                                                                  <div class="correct-answer">
                                                                      <span>A</span>
                                                                  </div>
                                                              </div>
                                                              <div class="input-container">
                                                                  <input type="text">
                                                                  <div class="correct-answer">
                                                                      <span>D</span>
                                                                  </div>
                                                              </div>
                                                              <div class="input-container">
                                                                  <input type="text">
                                                                  <div class="correct-answer">
                                                                      <span>B</span>
                                                                  </div>
                                                              </div>
                                                              <div class="input-container">
                                                                  <input type="text">
                                                                  <div class="correct-answer">
                                                                      <span>F</span>
                                                                  </div>
                                                              </div>
                                                              <div class="input-container">
                                                                  <input type="text">
                                                                  <div class="correct-answer">
                                                                      <span>C</span>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <!-- end -->
                                              </div>
                                          </div>	
                                      </div>
                                  </div>
                                  <div class="carousel-item   third">
                                      <div class="row px-2 p-2 mt-3 pb-3">
                                          <div class="col-12 mb-1">
                                              <div class="title-top text-center m-auto ">
                                                    <span>The Greedy Boy</span>
                                              </div>
                                          </div>
                                          <div class="main-question-container">
                                              <div class="questions-container">
                                                  <span class="sub-instruction">(Click on the blanks and then click in the correct boxes.)</span>
                                                  <!-- 2 -->
                                                  <div class="t-question margin-top-none Question_Block_Two Question_Block">
                                                      <div class="q-number">
                                                          2)
                                                      </div>
                                                      <div class="text-container">
                                                          <span>Sam and Tom were</span>
                                                          <div class="h-input">
                                                              <input type="text">.
                                                              <div class="correct-answer answer-right-side">
                                                                  <span>twins</span>
                                                              </div>
                                                          </div>
                                                          <div class="option-container">
                                                              <div class="options"><span>cousins</span></div>
                                                              <div class="options"><span>neighbours</span></div>
                                                              <div class="options"><span>twins</span></div>
                                                              <div class="options"><span>friends</span></div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <!-- 3 -->
                                                  <div class="t-question Question_Block_Three Question_Block">
                                                      <div class="q-number">
                                                          3)
                                                      </div>
                                                      <div class="text-container">
                                                          <span>Write two Adjectives each to describe Sam and Tom. </span>
                                                          <div class="option-with-hint">
                                                              <div class="option-question">
                                                                  <div class="t-question">
                                                                      <div class="q-number"><span>a)</span></div>
                                                                      <div class="text-container">
                                                                          <div class="third-text-container">
                                                                              <div><span>Sam</span></div>
                                                                              <div class="h-input">
                                                                                  <input type="text">,
                                                                                  <div class="correct-answer">
                                                                                      <span>generous</span>
                                                                                  </div>
                                                                              </div>
                                                                              <div class="h-input">
                                                                                  <input type="text">
                                                                                  <div class="correct-answer">
                                                                                      <span>selfless</span>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                                  <div class="t-question">
                                                                      <div class="q-number"><span>b)</span></div>
                                                                      <div class="text-container">
                                                                          <div class="third-text-container">
                                                                              <div><span>Tom</span></div>
                                                                              <div class="h-input">
                                                                                  <input type="text">,
                                                                                  <div class="correct-answer">
                                                                                      <span>greedy</span>
                                                                                  </div>
                                                                              </div>
                                                                              <div class="h-input">
                                                                                  <input type="text">
                                                                                  <div class="correct-answer">
                                                                                      <span>selfish</span>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                              <div class="option-hint">
                                                                  <div class="third-helpbox-container">
                                                                      <div class="helpbox"><div><span>greedy</span></div></div>
                                                                      <div class="helpbox"><div><span>selfless</span></div></div>
                                                                      <div class="helpbox"><div><span>selfish</span></div></div>
                                                                      <div class="helpbox"><div><span>generous</span></div></div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <!-- 4 -->
                                                  <div class="t-question Question_Block_Four Question_Block">
                                                      <div class="q-number">
                                                          4)
                                                      </div>
                                                      <div class="text-container">
                                                          <span>Sam walked till</span>
                                                          <div class="h-input">
                                                              <input type="text">
                                                              <div class="correct-answer">
                                                                  <span>noon</span>
                                                              </div>
                                                          </div><span>, after that he turned back and returned home.</span>
                                                          <div class="option-container">
                                                              <div class="options"><span>noon</span></div>
                                                              <div class="options"><span>evening</span></div>
                                                              <div class="options"><span>morning</span></div>
                                                              <div class="options"><span>night</span></div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <!-- 5 -->
                                                  <div class="t-question Question_Block_Five Question_Block">
                                                      <div class="q-number">
                                                          5)
                                                      </div>
                                                      <div class="text-container">
                                                          <span>Tom hurried back home when he saw the sun turn </span>
                                                          <div class="h-input">
                                                              <input type="text">.
                                                              <div class="correct-answer answer-right-side">
                                                                  <span>orange</span>
                                                              </div>
                                                          </div>
                                                          
                                                          <div class="option-container">
                                                              <div class="options"><span>red</span></div>
                                                              <div class="options"><span>orange</span></div>
                                                              <div class="options"><span>yellow</span></div>
                                                              <div class="options"><span>bright</span></div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <!-- end -->
                                              </div>
                                          </div>
                                          <div class="btn-row col-12">
                                              <button class="button myButton">Submit</button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          <!-- Left and right controls -->
                              <a class="carousel-control-prev" data-target="#demo" data-slide="prev">
                                  <span class="carousel-control-prev-icon arrow-size"></span>
                              </a>
                              <a class="carousel-control-next" data-target="#demo" data-slide="next">
                                  <span class="carousel-control-next-icon arrow-size"></span>
                              </a>
                  </div>
      <!-- end -->
          </div>
  </div>
      
  </div>

</div>