<div class="bg">
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
  <div class="heading">
    <h1>Click in the shapes given beside the numbers and then click on the correct Rhyming Words from Column B<span class="comma">,</span> of the words given in Column A.</h1>
  </div>
      <div class="row Main_Container">
          <div class="col-12 Question_Container">
              <div class="header_row">
                  <div class="input_header"></div>
                  <div class="header">Column A</div>
                  <div class="header">Column B</div>
              </div>
              <div class="Main_Row">
                  <div class="input_block">
                      <div class="input_div"><div class="correct_answer"><span>C</span></div> <input type="text"></div>
                  </div>
                  <div class="Question_Row">
                      <div class="Question">
                          <div class="number">1)</div>
                          <div class="content">mouse</div>
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet6/img/mouse.png" alt="">
                      </div>
                  </div>
                  <div class="Option_Row">
                      <div class="option">
                          <div class="alpha">A)</div>
                          <div class="content">night</div>
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet6/img/night.png" alt="">
                      </div>
                  </div>
              </div>
              <div class="Main_Row">
                  <div class="input_block">
                      <div class="input_div"><div class="correct_answer"><span>F</span></div> <input type="text"></div>
                  </div>
                  <div class="Question_Row">
                      <div class="Question">
                          <div class="number">2)</div>
                          <div class="content">igloo</div>
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet6/img/igloo.png" alt="">
                      </div>
                  </div>
                  <div class="Option_Row">
                      <div class="option">
                          <div class="alpha">B)</div>
                          <div class="content">plate</div>
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet6/img/plate.png" alt="">
                      </div>
                  </div>
              </div>
              <div class="Main_Row">
                  <div class="input_block">
                      <div class="input_div"><div class="correct_answer"><span>E</span></div> <input type="text"></div>
                  </div>
                  <div class="Question_Row">
                      <div class="Question">
                          <div class="number">3)</div>
                          <div class="content">boat</div>
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet6/img/boat.png" alt="">
                      </div>
                  </div>
                  <div class="Option_Row">
                      <div class="option">
                          <div class="alpha">C)</div>
                          <div class="content">house</div>
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet6/img/house.png" alt="">
                      </div>
                  </div>
              </div>
              <div class="Main_Row">
                  <div class="input_block">
                      <div class="input_div"><div class="correct_answer"><span>A</span></div> <input type="text"></div>
                  </div>
                  <div class="Question_Row">
                      <div class="Question">
                          <div class="number">4)</div>
                          <div class="content">fight</div>
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet6/img/boys.png" alt="">
                      </div>
                  </div>
                  <div class="Option_Row">
                      <div class="option">
                          <div class="alpha">D)</div>
                          <div class="content">wife</div>
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet6/img/wife.png" alt="">
                      </div>
                  </div>
              </div>
              <div class="Main_Row">
                  <div class="input_block">
                      <div class="input_div"><div class="correct_answer"><span>D</span></div> <input type="text"></div>
                  </div>
                  <div class="Question_Row">
                      <div class="Question">
                          <div class="number">5)</div>
                          <div class="content">knife</div>
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet6/img/knife.png" alt="">
                      </div>
                  </div>
                  <div class="Option_Row">
                      <div class="option">
                          <div class="alpha">E)</div>
                          <div class="content">coat</div>
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet6/img/coat.png" alt="">
                      </div>
                  </div>
              </div>
              <div class="Main_Row">
                  <div class="input_block">
                      <div class="input_div"><div class="correct_answer"><span>B</span></div> <input type="text"></div>
                  </div>
                  <div class="Question_Row">
                      <div class="Question">
                          <div class="number">6)</div>
                          <div class="content">gate</div>
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet6/img/gate.png" alt="">
                      </div>
                  </div>
                  <div class="Option_Row">
                      <div class="option">
                          <div class="alpha">F)</div>
                          <div class="content">zoo</div>
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet6/img/zoo.png" alt="">
                      </div>
                  </div>
              </div>
          </div>
  </div>
  <div class="btn-row">
    <button class="button myButton">Submit</button>
  </div>
      
  </div>
</div>