<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
	
</head>
<body>

    <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
    <div class="loadingDiv">
	</div>
	
    <div class="container">
        <div class="row">
            <div class="heading mt-3">
                <!-- <h1>Click in two boxes to colour Antonym words in each line.</h1> -->
                <h1>Click in two boxes to colour Antonyms in each line.</h1>
            </div>
        </div>
        <div class="row Main_Container">
            <div class="col-12 Question_Container">
               <div class="Question_Row">
                   <div class="Question_Block">
                       <div class="img_Block"><img src="assets/std01-antonyms-worksheet2/img/true_false.png" alt=""></div>
                       <div class="Question">
                           <div class="number">1)</div>
                           <div class="options">
                               <div class="option wrong">kind</div>
                               <div class="option right">true</div>
                               <div class="option right">false</div>
                               <div class="option wrong">cute</div>
                           </div>
                       </div>
                   </div>
                   <div class="Question_Block">
                       <div class="img_Block"><img src="assets/std01-antonyms-worksheet2/img/laugh_cry.png" alt=""></div>
                       <div class="Question">
                           <div class="number">2)</div>
                           <div class="options">
                               <div class="option right">laugh</div>
                               <div class="option right">cry</div>
                               <div class="option wrong">sob</div>
                               <div class="option wrong">smile</div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="Question_Row">
                   <div class="Question_Block">
                       <div class="img_Block"><img src="assets/std01-antonyms-worksheet2/img/walk_run.png" alt=""></div>
                       <div class="Question">
                           <div class="number">3)</div>
                           <div class="options">
                               <div class="option right">walk</div>
                               <div class="option wrong">hop</div>
                               <div class="option right">run</div>
                               <div class="option wrong">skip</div>
                           </div>
                       </div>
                   </div>
                   <div class="Question_Block">
                       <div class="img_Block"><img src="assets/std01-antonyms-worksheet2/img/near_far.png" alt=""></div>
                       <div class="Question">
                           <div class="number">4)</div>
                           <div class="options">
                               <div class="option wrong">outside</div>
                               <div class="option right">near</div>
                               <div class="option wrong">towards</div>
                               <div class="option right">far</div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="Question_Row">
                   <div class="Question_Block">
                       <div class="img_Block"><img src="assets/std01-antonyms-worksheet2/img/closed_open.png" alt=""></div>
                       <div class="Question">
                           <div class="number">5)</div>
                           <div class="options">
                               <div class="option wrong">stop</div>
                               <div class="option right">closed</div>
                               <div class="option wrong">shut</div>
                               <div class="option right">open</div>
                           </div>
                       </div>
                   </div>
                   <div class="Question_Block">
                       <div class="img_Block"><img src="assets/std01-antonyms-worksheet2/img/teach_learn.png" alt=""></div>
                       <div class="Question">
                           <div class="number">6)</div>
                           <div class="options">
                               <div class="option wrong">write</div>
                               <div class="option right">teach</div>
                               <div class="option right">learn</div>
                               <div class="option wrong">draw</div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="Question_Row">
                   <div class="Question_Block">
                       <div class="img_Block"><img src="assets/std01-antonyms-worksheet2/img/above_below.png" alt=""></div>
                       <div class="Question">
                           <div class="number">7)</div>
                           <div class="options">
                               <div class="option wrong">across</div>
                               <div class="option right">above</div>
                               <div class="option right">below</div>
                               <div class="option wrong">through</div>
                           </div>
                       </div>
                   </div>
                   <div class="Question_Block">
                       <div class="img_Block"><img src="assets/std01-antonyms-worksheet2/img/east_west.png" alt=""></div>
                       <div class="Question">
                           <div class="number">8)</div>
                           <div class="options">
                               <div class="option right">east</div>
                               <div class="option wrong">side</div>
                               <div class="option wrong">up</div>
                               <div class="option right">west</div>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
		</div>
        <div class="btn-row">
            <button class="button myButton">Submit</button>
        </div>
       
    </div>
	
</body>
</html>