<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>

	<div class="loadingDiv">
	</div>

	<div class="container">
		<div class="row">
			<div class="heading text-center w-100 mt-3 p-2 mb-2">
				<span class="font-weight-bold red_border">
					Let’s play Tic-Tac-Toe of Comparison of Adjectives.
				</span>
			</div>
		</div>
		<div class="row font-weight-bold heading">
			<span class="">
				<!-- Mark adjectives in positive, comparative and superlative degrees in the following grids. -->
				Click the Positive, Comparative, Superlative Degrees, of the given Adjectives.
			</span>
		</div>
		<div class="row mt-3">
			<div class="main-question-container">
				<div class="row m-0">
					<!-- 1 -->
					<div class="col-12 col-sm-4 p-0 pr-1 Block">
						<div class="question-container ">
							<div class="row m-0 ">
								<div class="question d-flex font-weight-bold">
									<div class="number ">
										<span>1)</span>
									</div>
									<div class="text-container">
										<span>big</span>
									</div>
								</div>
							</div>
							<div class="row m-0">
								<!-- 1 -->
								<div class="col-4 p-0">
									<div>
										<span>
											broadest
										</span>
									</div>
								</div>
								<div class="col-4 p-0">
									<div>
										<span>
											braver
										</span>
									</div>
								</div>
								<div class="col-4 p-0">
									<div>
										<span>
											bluer
										</span>
									</div>
								</div>
								<!-- 2 -->
								<div class="col-4 p-0">
									<div>
										<span class="answer">big</span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span class="answer">bigger</span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span class="answer">biggest</span>
									</div>

								</div>
								<!-- 3 -->
								<div class="col-4 p-0">
									<div>
										<span>bravest</span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span>bluest </span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span>broader</span>
									</div>

								</div>
								<!-- answer img -->
								<div class="answer-image question-1">
									<img src="assets/std03-degress-of-comparison-worksheet6/img/answer-1.png" alt="" class="img-fluid hr_line">
								</div>
								<!-- end -->
							</div>
						</div>
					</div>
					<!-- 2 -->
					<div class="col-12 col-sm-4 p-0 pr-1 Block">
						<div class="question-container ">
							<div class="row m-0">
								<div class="question d-flex font-weight-bold">
									<div class="number ">
										<span>2)</span>
									</div>
									<div class="text-container">
										<span>low</span>
									</div>
								</div>
							</div>
							<div class="row m-0">
								<!-- 1 -->
								<div class="col-4 p-0">
									<div>
										<span>
											lightest
										</span>
									</div>
								</div>
								<div class="col-4 p-0">
									<div>
										<span class="answer">
											low
										</span>
									</div>
								</div>
								<div class="col-4 p-0">
									<div>
										<span>
											later
										</span>
									</div>
								</div>
								<!-- 2 -->
								<div class="col-4 p-0">
									<div>
										<span>late</span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span class="answer">lower</span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span>lighter</span>
									</div>

								</div>
								<!-- 3 -->
								<div class="col-4 p-0">
									<div>
										<span>longer</span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span class="answer">lowest </span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span>longest</span>
									</div>

								</div>
								<!-- answer img -->
								<div class="answer-image question-2">
									<img src="assets/std03-degress-of-comparison-worksheet6/img/answer-2.png" alt="" class="img-fluid vr_line">
								</div>
								<!-- end -->
							</div>
						</div>
					</div>
					<!-- 3 -->
					<div class="col-12 col-sm-4 p-0 pr-1 Block">
						<div class="question-container ">
							<div class="row m-0">
								<div class="question d-flex font-weight-bold">
									<div class="number ">
										<span>3)</span>
									</div>
									<div class="text-container">
										<span>neat</span>
									</div>
								</div>
							</div>
							<div class="row m-0">
								<!-- 1 -->
								<div class="col-4 p-0">
									<div>
										<span class="answer">
											neat

										</span>
									</div>
								</div>
								<div class="col-4 p-0">
									<div>
										<span>
											newest
										</span>
									</div>
								</div>
								<div class="col-4 p-0">
									<div>
										<span>
											nicer
										</span>
									</div>
								</div>
								<!-- 2 -->
								<div class="col-4 p-0">
									<div>
										<span>newer</span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span class="answer">neater</span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span>nearest</span>
									</div>

								</div>
								<!-- 3 -->
								<div class="col-4 p-0">
									<div>
										<span>nearer</span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span>nicest</span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span class="answer">neatest</span>
									</div>

								</div>
								<!-- answer img -->
								<div class="answer-image question-3">
									<img src="assets/std03-degress-of-comparison-worksheet6/img/answer-3.png" alt="" class="img-fluid cr_line">
								</div>
								<!-- end -->
							</div>
						</div>
					</div>
					<!-- 4 -->
					<div class="col-12 col-sm-4 p-0 pr-1 Block">
						<div class="question-container ">
							<div class="row m-0">
								<div class="question d-flex font-weight-bold">
									<div class="number ">
										<span>4)</span>
									</div>
									<div class="text-container">
										<span>curly</span>
									</div>
								</div>
							</div>
							<div class="row m-0">
								<!-- 1 -->
								<div class="col-4 p-0">
									<div>
										<span>
											cooler

										</span>
									</div>
								</div>
								<div class="col-4 p-0">
									<div>
										<span>
											craziest
										</span>
									</div>
								</div>
								<div class="col-4 p-0">
									<div>
										<span class="answer">
											curly
										</span>
									</div>
								</div>
								<!-- 2 -->
								<div class="col-4 p-0">
									<div>
										<span>cutest </span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span class="answer"> curlier </span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span>coolest</span>
									</div>

								</div>
								<!-- 3 -->
								<div class="col-4 p-0">
									<div>
										<span class="answer">curliest</span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span> crazier </span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span>cuter</span>
									</div>

								</div>
								<!-- answer img -->
								<div class="answer-image question-3 question-4">
									<img src="assets/std03-degress-of-comparison-worksheet6/img/answer-3.png" alt="" class="img-fluid cr_line">
								</div>
								<!-- end -->
							</div>
						</div>
					</div>
					<!-- 5 -->
					<div class="col-12 col-sm-4 p-0 pr-1 Block">
						<div class="question-container ">
							<div class="row m-0">
								<div class="question d-flex font-weight-bold">
									<div class="number ">
										<span>5)</span>
									</div>
									<div class="text-container">
										<span>shallow</span>
									</div>
								</div>
							</div>
							<div class="row m-0">
								<!-- 1 -->
								<div class="col-4 p-0">
									<div>
										<span>
											slower
										</span>
									</div>
								</div>
								<div class="col-4 p-0">
									<div>
										<span>
											sharper
										</span>
									</div>
								</div>
								<div class="col-4 p-0">
									<div>
										<span>
											saddest
										</span>
									</div>
								</div>
								<!-- 2 -->
								<div class="col-4 p-0">
									<div>
										<span>sadder </span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span>slowest </span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span>sharpest</span>
									</div>

								</div>
								<!-- 3 -->
								<div class="col-4 p-0">
									<div>
										<span class="answer">shallow </span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span class="answer">shallower </span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span class="answer">shallowest</span>
									</div>

								</div>
								<!-- answer img -->
								<div class="answer-image question-1 question-5">
									<img src="assets/std03-degress-of-comparison-worksheet6/img/answer-1.png" alt="" class="img-fluid hr_line">
								</div>
								<!-- end -->
							</div>
						</div>
					</div>
					<!-- 6 -->
					<div class="col-12 col-sm-4 p-0 pr-1 Block">
						<div class="question-container ">
							<div class="row m-0">
								<div class="question d-flex font-weight-bold">
									<div class="number ">
										<span>6)</span>
									</div>
									<div class="text-container">
										<span>wide</span>
									</div>
								</div>
							</div>
							<div class="row m-0">
								<!-- 1 -->
								<div class="col-4 p-0">
									<div>
										<span>
											weakest
										</span>
									</div>
								</div>
								<div class="col-4 p-0">
									<div>
										<span>
											warmest
										</span>
									</div>
								</div>
								<div class="col-4 p-0">
									<div>
										<span class="answer">
											wide
										</span>
									</div>
								</div>
								<!-- 2 -->
								<div class="col-4 p-0">
									<div>
										<span>warmer </span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span>wetter </span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span class="answer">wider</span>
									</div>

								</div>
								<!-- 3 -->
								<div class="col-4 p-0">
									<div>
										<span>wettest</span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span>weaker</span>
									</div>

								</div>
								<div class="col-4 p-0">
									<div>
										<span class="answer">widest</span>
									</div>

								</div>
								<!-- answer img -->
								<div class="answer-image question-2 question-6">
									<img src="assets/std03-degress-of-comparison-worksheet6/img/answer-2.png" alt="" class="img-fluid vr_line">
								</div>
								<!-- end -->
							</div>
						</div>
					</div>
					<!-- end -->
				</div>
			</div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
	</div>
</div>