<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row m-0">
      <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
        <h2 class="font-weight-bold heading">
          Click on the blanks and then click on the correct Action
          Verbs from the help box, to complete the sentences.
        </h2>
      </div>
    </div>
    <div class="helpbox-container">
      <div class="helpbox-ans">
        <span>glued</span>
      </div>
      <div class="helpbox-ans">
        <span>drank</span>
      </div>
      <div class="helpbox-ans">
        <span>mix</span>
      </div>
      <div class="helpbox-ans">
        <span>behave</span>
      </div>
      <div class="helpbox-ans">
        <span>found</span>
      </div>
      <div class="helpbox-ans">
        <span>laughed</span>
      </div>
      <div class="helpbox-ans">
        <span>carried</span>
      </div>
      <div class="helpbox-ans">
        <span>fly</span>
      </div>

    </div>

    <div class="main-question-container">

      <!-- 1 -->
      <div class="question">
        <div class="number">
          <span>1</span>
        </div>
        <div class="text-container">
          <span>The children</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer">
              <span>behave</span>
            </div>
          </div>
          <span>themselves when the principal is in the classroom.</span>
        </div>
      </div>
      <!-- 2 -->
      <div class="question">
        <div class="number">
          <span>2</span>
        </div>
        <div class="text-container">
          <span>The thirsty crow</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer">
              <span>drank</span>
            </div>
          </div>
          <span>lots of water from the pot.</span>
        </div>
      </div>
      <!-- 3 -->
      <div class="question">
        <div class="number">
          <span>3</span>
        </div>
        <div class="text-container">
          <span>Jack</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer">
              <span>found</span>
            </div>
          </div>
          <span>a gold coin during the camping trip.</span>
        </div>
      </div>
      <!-- 4 -->
      <div class="question">
        <div class="number">
          <span>4</span>
        </div>
        <div class="text-container">
          <span>The donkey</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer">
              <span>carried</span>
            </div>
          </div>
          <span>a heavy load on its back.</span>
        </div>
      </div>
      <!-- 5 -->
      <div class="question">
        <div class="number">
          <span>5</span>
        </div>
        <div class="text-container">
          <span>Susan and Mary</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer">
              <span>glued</span>
            </div>
          </div>
          <span>pictures on the chart.</span>
        </div>
      </div>
      <!-- 6 -->
      <div class="question">
        <div class="number">
          <span>6</span>
        </div>
        <div class="text-container">
          <span>Birds</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer">
              <span>fly</span>
            </div>
          </div>
          <span>south during winter.</span>
        </div>
      </div>
      <!-- 7 -->
      <div class="question">
        <div class="number">
          <span>7</span>
        </div>
        <div class="text-container">
          <span>I</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer">
              <span>laughed</span>
            </div>
          </div>
          <span>at the joke.</span>
        </div>
      </div>
      <!-- 8 -->
      <div class="question">
        <div class="number">
          <span>8</span>
        </div>
        <div class="text-container">
          <div class="input-container">
            <span class="input-span"><input type="text" class="uppercase"></span>
            <div class="correct-answer">
              <span>Mix</span>
            </div>
          </div>
          <span>flour and sugar in a bowl.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row btn-row">
    <div class="col-12 text-center">
      <button class="button myButton">Submit</button>
    </div>
  </div>
</div>