<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <img src="" alt="" class="Text fabulous hide">
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row m-0">
            <div class="col-12 p-1 pt-2 mb-2 pt-lg-3 mb-lg-3">
                <h2 class="font-weight-bold heading">
                        Click on the blanks and then click on the Proper Nouns from the
                        help box to classify them correctly as people, places and things.
                </h2>
            </div>
        </div>

       
        <div class="options">
                <div class="option">Disneyland</div>
                <div class="option second">Ano Neuvo State Park</div>
                <div class="option">July</div>
                <div class="option">Mrs. Jones</div>
                <div class="option">The Indian Ocean</div>
                <div class="option">Kelly</div>
                <div class="option option-seventh">France</div>
                <div class="option">John</div>
                <div class="option">River Amazon</div>
                <div class="option">Mount Everest</div>
                <div class="option">Sunday</div>
                <div class="option">Megan</div>
                <div class="option">Kerala</div>
                <div class="option">Uncle William</div>
                <div class="option">Global Mall</div>
            </div>




        <div class="main-question-container">

            <div class="one">
                <div class="main-heading text-center mt-2">
                    <div class="headings">
                        <span><u>People</u></span>
                    </div>
                </div>
            <div class="people">
                <!-- 1 -->
                <div class="question">
                    <div class="number">
                        <span>1)</span>
                    </div>
                    <div class="text-container">
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>Mrs. Jones</span>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <!-- 2 -->
                <div class="question">
                    <div class="number">
                        <span>2)</span>
                    </div>
                    <div class="text-container">
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>Kelly</span>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- 3 -->
                <div class="question">
                    <div class="number">
                        <span>3)</span>
                    </div>
                    <div class="text-container">
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>John</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 4 -->
                <div class="question">
                    <div class="number">
                        <span>4)</span>
                    </div>
                    <div class="text-container">
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>Uncle William</span>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- 5 -->
                <div class="question">
                    <div class="number">
                        <span>5)</span>
                    </div>
                    <div class="text-container">
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>Megan</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>

             <!-- end -->


            <div class="two">
                <div class="main-heading text-center mt-2">
                    <div class="headings">
                        <span><u>Place</u></span>
                    </div>
                </div>
            <div class="place">
                <!-- 1 -->
                <div class="question">
                    <div class="number">
                        <span>1)</span>
                    </div>
                    <div class="text-container">
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>Global Mall</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 2 -->
                <div class="question">
                    <div class="number">
                        <span>2)</span>
                    </div>
                    <div class="text-container">
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>France</span>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- 3 -->
                <div class="question">
                    <div class="number">
                        <span>3)</span>
                    </div>
                    <div class="text-container">
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>Kerala</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 4 -->
                <div class="question">
                    <div class="number">
                        <span>4)</span>
                    </div>
                    <div class="text-container">
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>Disneyland</span>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- 5 -->
                <div class="question">
                    <div class="number">
                        <span>5)</span>
                    </div>
                    <div class="text-container">
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>Ano Neuvo State Park</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>
             <!-- end -->

            <div class="three">
                    <div class="main-heading text-center mt-2">
                            <div class="headings">
                                <span><u>Things</u></span>
                            </div>
                        </div>
            <div class="things">
                <!-- 1 -->
                <div class="question">
                    <div class="number">
                        <span>1)</span>
                    </div>
                    <div class="text-container">
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>River Amazon</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 2 -->
                <div class="question">
                    <div class="number">
                        <span>2)</span>
                    </div>
                    <div class="text-container">
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>Sunday</span>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- 3 -->
                <div class="question">
                    <div class="number">
                        <span>3)</span>
                    </div>
                    <div class="text-container">
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>The Indian Ocean</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 4 -->
                <div class="question">
                    <div class="number">
                        <span>4)</span>
                    </div>
                    <div class="text-container">
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>Mount Everest</span>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- 5 -->
                <div class="question">
                    <div class="number">
                        <span>5)</span>
                    </div>
                    <div class="text-container">
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>July</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>
            <!-- end -->

        </div>



        <div class="btn-row">
            <div class="col-12 text-center">
                <button class="button myButton">Submit</button>
            </div>
        </div>

    </div>
</div>