<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
		<div class="heading">
			<h1>Click in the correct apples to colour them, if all the three words are Rhyming Words.</h1>
		</div>
    <div class="Main_Container">
      <div class="Question_Container">
          <div class="Question_Row">
              <div class="Question_Block">
                  <div class="Question">
                      <div class="number_div"><div class="number">1</div></div>
                      <div class="Question_div">
                          <div class="content_block">
                              <div class="content_div">
                                  <div class="content">glow</div>
                                  <div class="content">blow</div>
                                  <div class="content">flow</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="option_div">
                      <div class="options">
                          <div class="option right"><span>yes</span></div>
                          <div class="option"><span>no</span></div>
                      </div>
                  </div>
              </div>
              <div class="Question_Block">
                  <div class="Question">
                      <div class="number_div"><div class="number">2</div></div>
                      <div class="Question_div">
                          <div class="content_block">
                              <div class="content_div">
                                  <div class="content">night</div>
                                  <div class="content">right</div>
                                  <div class="content">sight</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="option_div">
                      <div class="options">
                          <div class="option right"><span>yes</span></div>
                          <div class="option"><span>no</span></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="Question_Row">
              <div class="Question_Block">
                  <div class="Question">
                      <div class="number_div"><div class="number">3</div></div>
                      <div class="Question_div">
                          <div class="content_block">
                              <div class="content_div">
                                  <div class="content">date</div>
                                  <div class="content">shine</div>
                                  <div class="content">hate</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="option_div">
                      <div class="options">
                          <div class="option"><span>yes</span></div>
                          <div class="option right"><span>no</span></div>
                      </div>
                  </div>
              </div>
              <div class="Question_Block">
                  <div class="Question">
                      <div class="number_div"><div class="number">4</div></div>
                      <div class="Question_div">
                          <div class="content_block">
                              <div class="content_div">
                                  <div class="content">mop</div>
                                  <div class="content">dog</div>
                                  <div class="content">drop</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="option_div">
                      <div class="options">
                          <div class="option"><span>yes</span></div>
                          <div class="option right"><span>no</span></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="Question_Row">
              <div class="Question_Block">
                  <div class="Question">
                      <div class="number_div"><div class="number">5</div></div>
                      <div class="Question_div">
                          <div class="content_block">
                              <div class="content_div">
                                  <div class="content">slug</div>
                                  <div class="content">plug</div>
                                  <div class="content">hug</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="option_div">
                      <div class="options">
                          <div class="option right"><span>yes</span></div>
                          <div class="option"><span>no</span></div>
                      </div>
                  </div>
              </div>
              <div class="Question_Block">
                  <div class="Question">
                      <div class="number_div"><div class="number">6</div></div>
                      <div class="Question_div">
                          <div class="content_block">
                              <div class="content_div">
                                  <div class="content">slight</div>
                                  <div class="content">flight</div>
                                  <div class="content">van</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="option_div">
                      <div class="options">
                          <div class="option"><span>yes</span></div>
                          <div class="option right"><span>no</span></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="Question_Row">
              <div class="Question_Block">
                  <div class="Question">
                      <div class="number_div"><div class="number">7</div></div>
                      <div class="Question_div">
                          <div class="content_block">
                              <div class="content_div">
                                  <div class="content">blew</div>
                                  <div class="content">chew</div>
                                  <div class="content">sun</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="option_div">
                      <div class="options">
                          <div class="option"><span>yes</span></div>
                          <div class="option right"><span>no</span></div>
                      </div>
                  </div>
              </div>
              <div class="Question_Block">
                  <div class="Question">
                      <div class="number_div"><div class="number">8</div></div>
                      <div class="Question_div">
                          <div class="content_block">
                              <div class="content_div">
                                  <div class="content">role</div>
                                  <div class="content">pole</div>
                                  <div class="content">mole</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="option_div">
                      <div class="options">
                          <div class="option right"><span>yes</span></div>
                          <div class="option"><span>no</span></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
  </div>

</div>