<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <img src="" alt="" class="Text fabulous hide">
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row m-0">
            <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
                <h2 class="font-weight-bold heading">
                    Click on the blanks and then click on the correct Collective Nouns
                    from the help box, that can be used for the given Common Nouns.
                </h2>
            </div>
        </div>
        <div class="help-img-container">
            <div class="img-main-container">
                <div class="img-container">
                    <img src="assets/std01-collective-noun-worksheet7/img/without-ans-img.png" class="img-fluid without-ans-img">
                </div>
            </div>
            <div class="helpbox_Div">
                <div class="helpbox-container">
                    <div class="picture">
                        <img src="assets/std01-collective-noun-worksheet7/img/p1.png" alt="" class="img-fluid">
                        <div>litter</div>
                    </div>
                    <div class="picture">
                        <img src="assets/std01-collective-noun-worksheet7/img/p2.png" alt="" class="img-fluid">
                        <div>pile</div>
                    </div>
                    <div class="picture">
                        <img src="assets/std01-collective-noun-worksheet7/img/p3.png" alt="" class="img-fluid">
                        <div>gang</div>
                    </div>
                    <div class="picture">
                        <img src="assets/std01-collective-noun-worksheet7/img/p4.png" alt="" class="img-fluid">
                        <div>bunch</div>
                    </div>
                    <div class="picture">
                        <img src="assets/std01-collective-noun-worksheet7/img/p5.png" alt="" class="img-fluid">
                        <div>forest</div>
                    </div>
                    <div class="picture">
                        <img src="assets/std01-collective-noun-worksheet7/img/p6.png" alt="" class="img-fluid">
                        <div>band</div>
                    </div>
                    <div class="picture">
                        <img src="assets/std01-collective-noun-worksheet7/img/p7.png" alt="" class="img-fluid">
                        <div>pride</div>
                    </div>
                    <div class="picture">
                        <img src="assets/std01-collective-noun-worksheet7/img/p8.png" alt="" class="img-fluid">
                        <div>pack</div>
                    </div>
                    <div class="picture">
                        <img src="assets/std01-collective-noun-worksheet7/img/p9.png" alt="" class="img-fluid">
                        <div>staff</div>
                    </div>
                    <div class="picture">
                        <img src="assets/std01-collective-noun-worksheet7/img/p10.png" alt="" class="img-fluid">
                        <div>gaggle</div>
                    </div>
                    
                </div>
            </div>
        </div>
        <img src="assets/std01-collective-noun-worksheet7/img/character-img1.png" alt="" class="img-fluid character-img1">
        <div class="main-question-container">

            <div class="across">
                <span class="font-weight-bold"><u>Across</u></span>

                <!-- 1 -->
                <div class="question">
                    <div class="number">
                        <span>1)</span>
                    </div>
                    <div class="text-container">
                        <span>a</span>
                        <div class="input-container">
                            <input type="text" data-text="first">
                            <div class="correct-answer">
                                <span>gaggle</span>
                            </div>
                        </div>
                        <span>of geese</span>
                    </div>
                </div>
                <!-- 2 -->
                <div class="question">
                    <div class="number">
                        <span>2)</span>
                    </div>
                    <div class="text-container">
                        <span>a</span>
                        <div class="input-container">
                            <input type="text" data-text="first">
                            <div class="correct-answer">
                                <span>band</span>
                            </div>
                        </div>
                        <span>of musicians</span>
                    </div>
                </div>

                <!-- 3 -->
                <div class="question">
                    <div class="number">
                        <span>3)</span>
                    </div>
                    <div class="text-container">
                        <span>a</span>
                        <div class="input-container">
                            <input type="text" data-text="first">
                            <div class="correct-answer">
                                <span>staff</span>
                            </div>
                        </div>
                        <span>of servants</span>
                    </div>
                </div>

                <!-- 4 -->
                <div class="question">
                    <div class="number">
                        <span>4)</span>
                    </div>
                    <div class="text-container">
                        <span>a</span>
                        <div class="input-container">
                            <input type="text" data-text="first">
                            <div class="correct-answer">
                                <span>pride</span>
                            </div>
                        </div>
                        <span>of lions</span>
                    </div>
                </div>
                <!-- 5 -->
                <div class="question">
                    <div class="number">
                        <span>5)</span>
                    </div>
                    <div class="text-container">
                        <span>a</span>
                        <div class="input-container">
                            <input type="text" data-text="first">
                            <div class="correct-answer">
                                <span>pack</span>
                            </div>
                        </div>
                        <span>of wolves</span>
                    </div>
                </div>

            </div>

            <div class="main-image-container">
                <img src="assets/std01-collective-noun-worksheet7/img/character-img2.png" class="img-fluid">
                <img src="assets/std01-collective-noun-worksheet7/img/character-img3.png" class="img-fluid">
            </div>

            <div class="down">
                <span class="font-weight-bold"><u>Down</u></span>
                <!-- 1 -->
                <div class="question">
                    <div class="number">
                        <span>1)</span>
                    </div>
                    <div class="text-container">
                        <span>a</span>
                        <div class="input-container">
                            <input type="text" data-text="first">
                            <div class="correct-answer">
                                <span>gang</span>
                            </div>
                        </div>
                        <span>of thieves</span>
                    </div>
                </div>
                <!-- 2 -->
                <div class="question">
                    <div class="number">
                        <span>2)</span>
                    </div>
                    <div class="text-container">
                        <span>a</span>
                        <div class="input-container">
                            <input type="text" data-text="first">
                            <div class="correct-answer">
                                <span>litter</span>
                            </div>
                        </div>
                        <span>of kittens</span>
                    </div>
                </div>
                <!-- 3 -->
                <div class="question">
                    <div class="number">
                        <span>3)</span>
                    </div>
                    <div class="text-container">
                        <span>a</span>
                        <div class="input-container">
                            <input type="text" data-text="first">
                            <div class="correct-answer">
                                <span>forest</span>
                            </div>
                        </div>
                        <span>of trees</span>
                    </div>
                </div>
                <!-- 4 -->
                <div class="question">
                    <div class="number">
                        <span>4)</span>
                    </div>
                    <div class="text-container">
                        <span>a</span>
                        <div class="input-container">
                            <input type="text" data-text="first">
                            <div class="correct-answer">
                                <span>bunch</span>
                            </div>
                        </div>
                        <span>of bananas</span>
                    </div>
                </div>
                <!-- 5 -->
                <div class="question">
                    <div class="number">
                        <span>5)</span>
                    </div>
                    <div class="text-container">
                        <span>a</span>
                        <div class="input-container">
                            <input type="text" data-text="first">
                            <div class="correct-answer">
                                <span>pile</span>
                            </div>
                        </div>
                        <span>of books</span>
                    </div>
                </div>
            </div>

            <div class="portrait-img">
            <img src="assets/std01-collective-noun-worksheet7/img/portrait1.png" class="img-fluid portrait1">
            <img src="assets/std01-collective-noun-worksheet7/img/character-img2.png" class="img-fluid portrait2">
            <img src="assets/std01-collective-noun-worksheet7/img/character-img3.png" class="img-fluid portrait3">
            </div>



        </div>
        <div class="row btn-row">
            <div class="col-12 text-center">
                <button class="button myButton">Submit</button>
            </div>
        </div>
    </div>

</div>