<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>

	<div class="loadingDiv">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12 px-2 mb-1 mb-sm-4 mt-3">
				<h2 class="font-weight-bold">
					Click in the boxes and then click on correct Punctuation Marks from the help box, to complete the sentences.
				</h2>
			</div>
		</div>

		<div class="col-12 helpbox">
			<div class="row mb-2">
				<div class="col-4">
					<div class="helpbox-ans"><span class="font-weight-bold">.</span></div>
				</div>
				<div class="col-4">
					<div class="helpbox-ans"><span class="font-weight-bold">?</span></div>
				</div>
				<div class="col-4">
					<div class="helpbox-ans"><span class="font-weight-bold">!</span></div>
				</div>
			</div>

		</div>

		<div class="Main_Container">

			<div class="row">

				<div class="col-12 col-sm-6 p-2 p-sm-3 form-contain">
					<span class="number-box">1)</span>
					<div class="text-container ml-2">
						<span>What day is it today</span>
						<input type="text" maxlength="1">
						<!-- <span class="input-span"><input type="text" maxlength="1"></span> -->
						<span class="answer-span"><span>?</span></span>
					</div>
				</div>

				<div class="col-12 col-sm-6 p-2 p-sm-3 form-contain">
					<span class="number-box">2)</span>
					<div class="text-container ml-2">
						<span>His pet dog is named Mischief</span>
						<input type="text" maxlength="1">
						<!-- <span class="input-span"><input type="text" maxlength="1"></span> -->
						<span class="answer-span"><span>.</span></span>
					</div>
				</div>

				<div class="col-12 col-sm-6 p-2 p-sm-3 form-contain">
					<span class="number-box">3)</span>
					<div class="text-container ml-2">
						<span>Peter loves chocolate ice-cream</span>
						<input type="text" maxlength="1">
						<!-- <span class="input-span"><input type="text" maxlength="1"></span> -->
						<span class="answer-span"><span>!</span></span>
					</div>
				</div>

				<div class="col-12 col-sm-6 p-2 p-sm-3 form-contain">
					<span class="number-box">4)</span>
					<div class="text-container ml-2">
						<span>How far can a frog jump </span>
						<input type="text" maxlength="1">
						<!-- <span class="input-span"><input type="text" maxlength="1"></span> -->
						<span class="answer-span"><span>?</span></span>
					</div>
				</div>

				<div class="col-12 col-sm-6 p-2 p-sm-3 form-contain">
					<span class="number-box">5)</span>
					<div class="text-container ml-2">
						<span>They are going McDonalds</span>
						<input type="text" maxlength="1">
						<!-- <span class="input-span"><input type="text" maxlength="1"></span> -->
						<span class="answer-span"><span>.</span></span>
					</div>
				</div>

				<div class="col-12 col-sm-6 p-2 p-sm-3 form-contain">
					<span class="number-box">6)</span>
					<div class="text-container ml-2">
						<span>It was so scary</span>
						<input type="text" maxlength="1">
						<!-- <span class="input-span"><input type="text" maxlength="1"></span> -->
						<span class="answer-span"><span>!</span></span>
					</div>
				</div>

				<div class="col-12 col-sm-6 p-2 p-sm-3 form-contain">
					<span class="number-box">7)</span>
					<div class="text-container ml-2">
						<span>Can you open the jar for me</span>
						<input type="text" maxlength="1">
						<!-- <span class="input-span"><input type="text" maxlength="1"></span> -->
						<span class="answer-span"><span>?</span></span>
					</div>
				</div>

				<div class="col-12 col-sm-6 p-2 p-sm-3 form-contain">
					<span class="number-box">8)</span>
					<div class="text-container ml-2">
						<span>Jack’s father bought a new car</span>
						<input type="text" maxlength="1">
						<!-- <span class="input-span"><input type="text" maxlength="1"></span>	 -->
						<span class="answer-span"><span>.</span></span>
					</div>
				</div>
			</div>

			<!-- <div class="row mb-3 btn-row">
				<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
				</div>
			</div> -->

		</div>
		<div class="row mb-3 btn-row">
			<div class="col-12 text-center">
				<button class="button myButton">Submit</button>
			</div>
		</div>

	</div>
</div>


	