<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 pt-3 mb-2 mb-lg-3">
        <h2 class="font-weight-bold heading">
          Click on the correct Homophones from the brackets, to
          complete the sentences.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="main-question-container">
        <!-- 1 -->
        <div class="question">
          <div class="number"><span>1</span></div>
          <div class="text-container">
            <span>The wind</span>
            <div class="options">
              <div class="option">[<span>blue</span>, </div>
              <div class="option"><span class="right">blew</span>]</div>
            </div>
            <span>her hair away from the face.</span>
          </div>
        </div>
        <!-- 2 -->
        <div class="question">
          <div class="number"><span>2</span></div>
          <div class="text-container">
            <div class="options">
              <div class="option">[<span class="right">None</span>, </div>
              <div class="option"><span>Nun</span>]</div>
            </div>
            <span>of us saw the accident.</span>
          </div>
        </div>
        <!-- 3 -->
        <div class="question">
          <div class="number"><span>3</span></div>
          <div class="text-container">
            <span>The</span>
            <div class="options">
              <div class="option">[<span class="right">sole</span>, </div>
              <div class="option"><span>soul</span>]</div>
            </div>
            <span>of my left shoe has worn out.</span>
          </div>
        </div>
        <!-- 4 -->
        <div class="question">
          <div class="number"><span>4</span></div>
          <div class="text-container">
            <div class="options">
              <div class="option">[<span>Wear</span>, </div>
              <div class="option"><span class="right">Where</span>]</div>
            </div>
            <span>is Jason’s house?</span>
          </div>
        </div>
        <!-- 5 -->
        <div class="question">
          <div class="number"><span>5</span></div>
          <div class="text-container">
            <span>The sand at the beach feels</span>
            <div class="options">
              <div class="option">[<span class="right">coarse</span>, </div>
              <div class="option"><span>course</span>]</div>
            </div>
            <span></span>
          </div>
        </div>
        <!-- 6 -->
        <div class="question">
          <div class="number"><span>6</span></div>
          <div class="text-container">
            <span>Did the maid</span>
            <div class="options">
              <div class="option">[<span class="right">break</span>, </div>
              <div class="option"><span>brake</span>]</div>
            </div>
            <span>the new jug?</span>
          </div>
        </div>
        <!-- 7 -->
        <div class="question">
          <div class="number"><span>7</span></div>
          <div class="text-container">
            <span>The ugly looking</span>
            <div class="options">
              <div class="option">[<span>which</span>, </div>
              <div class="option"><span class="right">witch</span>]</div>
            </div>
            <span>flew around on her broom.</span>
          </div>
        </div>
        <!-- 8 -->
        <div class="question">
          <div class="number"><span>8</span></div>
          <div class="text-container">
            <span>Dan played the</span>
            <div class="options">
              <div class="option">[<span class="right">role</span>, </div>
              <div class="option"><span>roll</span>]</div>
            </div>
            <span>of a dwarf in the school play.</span>
          </div>
        </div>
        <!-- end -->
      </div>
    </div>
    <div class="row btn-row">
      <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>
</div>