*{
    box-sizing: border-box;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto,
.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2,
.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10,
.col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto,
.col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, 
.col-xl-9, .col-xl-auto{
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
}
.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}


@font-face {
    font-family: "CustomFontArial";
    src: url(/assets/font/ARLRDBD.ttf) format("truetype");
}
.bg{
    min-height:100vh;
    font-family: 'CustomFontArial','Microsoft New Tai Lue','Arial';
    color:#000;
	font-size:24px;
    height: 100%;
    margin:0;
    background-color: #faf7de;
    padding-top: 20px !important;
    line-height: 1.18;
}
.heading h1{
    font-weight:normal;
    font-size: 34px;
    margin: 0;
}
.heading{
    padding:5px 15px;
    background-color: rgba(255,255,255,.2);
}
input{
    background-color:transparent;
    border:0;
    border-bottom:1px solid #000;
    outline:0;
    padding:0;
    text-align:center;
	width:100%;
	font-size:inherit;
	font-family: inherit;
	cursor:pointer;
    font-weight:inherit;
}
.correct_answer{
    font-size:20px;
    margin-top:-22px;
    margin-left:-100%;
    width:100%;
    display: inline-block;
    position:absolute;
    text-align:center;
    white-space: nowrap;
    visibility: hidden;
}
.correct_answer span{
    width: 80%;
    line-height: 22px;
    padding-bottom: 2px;
    display: inline-block;
    border: 1px solid #000 !important;
    background-color: #e1ad01;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #20bb15 !important;
     -webkit-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	 -moz-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.bd{
	border-bottom:2px solid #20bb15;
}
.btn-row{
	position: relative;
	margin-top:20px;
    padding-bottom:15px;
	text-align:center;
}
.Question_Container{
    margin-top: 30px;
    padding: 15px 5px;
    background-color: rgba(255,255,255,.2);
    position: relative;
}
.Question_Row,.Question,.options,.Question_Block{
    display: grid;
}
.Question_Row {
    margin-bottom: 30px;
    grid-template-columns: 100%;
}
.Question {
    margin-bottom: 10px;
    grid-template-columns: 7% auto;
    grid-gap: 10px;
}
.number{
    text-align:right;
}
.input_div{
    width: 18%;
    display: inline-block;
    position: relative;
    line-height: 1;
}
.options{
    grid-gap: 5%;
    grid-template-columns: repeat(3,20%);
    justify-content: left;
    padding-left: 15%;
}
.option{
    border-radius: 3px;
    padding: 0 0 2px;
    border: 2px solid #000;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}
.Question_Block{
    grid-template-columns: 48% 48%;
    justify-content: space-between;
}
.Question_Row.nineth,.Question_Row.tenth{
    margin-bottom: 10px;
}
input.capitalize{
    text-transform: capitalize;
}
.click,.correct{
    background-color: #1ca212;
}
.wrong{
    background-color: #c0151c;
}
.click{
    color: #fff;
}
.option_Block{
    align-items:end;
    display:grid;
}
@media (min-width:100px) and (max-width:639px){
    .bg{
		font-size:16px;
    }
    .heading h1{
        font-size:20px;
    }
	.correct_answer{
        font-size:15px;
		margin-top: -20px;
    }
	.correct_answer span {
        line-height: 16px;
        width:90%;
	}
    .myButton{
        padding:5px 18px;
    }
    .container{
        padding: 0 5px;
    }
    .Question_Row{
        margin-bottom: 25px;
    }
    .Question_Container {
        padding: 10px 5px;
        max-width:420px;
        margin-left:auto;
        margin-right:auto;
    }
    .Question {
        margin-bottom: 5px;
        grid-template-columns: 22px auto;
    }
    .options {
        grid-gap: 15px;
        grid-template-columns: repeat(3,65px);
        justify-content: center;
        margin-right: 0%;
        padding-left: 0%;
    }
    .input_div {
        width: 20%;
    }
    .Question_Block {
        grid-template-columns: 100%;
        justify-content: space-between;
    }
    .Question_Row.nineth{
        margin-bottom: 25px;
    }
}
@media (min-width:100px) and (max-width:359px){
    .bg{
        font-size: 15px;
    }
    .options {
        grid-gap: 15px;
        grid-template-columns: repeat(3,60px);
        margin-right: 3%;
    }
}

@media (min-width: 640px) and (max-width: 767px){
    .bg{
        font-size:16px;
    }
    .heading h1{
        font-size:20px;
    }
    .myButton{
        padding:5px 20px;
    }
	.correct_answer{
        font-size:14px;
		margin-top: -18px;
    }
	.correct_answer span {
		line-height: 16px;
    }
    .options {
        grid-template-columns: repeat(3,25%);
    }
    .Question_Row{
        margin-bottom: 20px;
        justify-content: space-between;
    }
    .Question_Container {
        padding: 9px;
    }
    .input_div{
        width:20%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .bg{
        font-size:18px;
    }
    .heading h1{
        font-size:26px;
        padding:0;
    }
	.correct_answer{
        font-size:16px;
		margin-top: -20px;
    }
	.correct_answer span {
        width:100%;
		line-height: 18px;
    }
    .input_div {
        width: 18%;
    }
    .options {
        grid-template-columns: repeat(3,25%);
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .bg{
        font-size:21px;
    }
    .heading h1{
        font-size:28px;
    }
	.correct_answer{
        font-size:18px;
		margin-top: -22px;
    }
	.correct_answer span {
		line-height: 22px;
	}
    .container {
        max-width: 960px;
    }
    .input_div{
        width:17%;
    }
}

@media(min-width:1200px){
    .container {
        max-width: 1140px;
    }
}
@media(min-width:100px) and (max-width:991px){
    .container{
        max-width:unset;
    }
    
}


@media only screen and (min-width: 768px) and (orientation: portrait) {
	.bg{
		font-size:30px;
    }
	.heading h1{
        font-size:40px;
    }
    .myButton{
        font-size:30px;
    }
	.correct_answer {
        font-size: 30px;
        margin-top: -35px;
    }
    .correct_answer span {
        width:80%;
        line-height: 35px;
    }
    .Question_Row{
        margin-bottom: 45px;
        grid-template-columns:100%;
        justify-content: space-between;
    }
    .Question_Container {
        padding: 30px 20px 30px 0;
    }
    .Question {
        margin-bottom: 10px;
        grid-template-columns: 8% auto;
        grid-gap: 20px;
    }
    .options {
        grid-gap: 25px;
        grid-template-columns: repeat(3,125px);
        padding-left:0;
        justify-content: center;
    }
    .input_div {
        width: 20%;
    }
    .option{
        padding: 3px 0 6px;
    }
    .Question_Block {
        grid-template-columns: 100%;
        justify-content: space-between;
    }
    .Question_Row.nineth{
        margin-bottom: 45px;
    }
    input{
        border-width:2px;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	.bg{
        font-size:35px;
    }
    .heading h1{
        font-size:45px;
    }
    .myButton{
        font-size:35px;
    }
	.correct_answer {
        font-size: 35px;
        margin-top: -38px;
    }
    .correct_answer span {
        line-height: 38px;
    }
    .options {
        grid-gap: 25px;
        grid-template-columns: repeat(3,155px);
    }
    .Question_Row.nineth,.Question_Row{
        margin-bottom: 55px;
    }
}

@media (min-width: 1900px){
    .bg{
        font-size:30px;
    }
    .heading h1{
        font-size:45px;
    }
    .container {
        max-width: 1500px;
    }
	.correct_answer {
        font-size: 28px;
        margin-top: -37px;
    }
    .correct_answer span {
        line-height: 35px;
    }
    .option{
        padding: 3px 0 6px;
    }
    .Question_Row {
        margin-bottom: 50px;
    }
    input{
        border-width:2px;
    }
}

@media (orientation:landscape){

}
@media (orientation:portrait){

}
@media (orientation:landscape){
    .bg{
        background:url(/assets/std03-helping-verbs-worksheet1/img/bg.jpg) no-repeat right center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
@media (orientation:portrait){
    .bg{
        background:url(/assets/std03-helping-verbs-worksheet1/img/bg_portrait.jpg) no-repeat center bottom fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.result .TextBox h1 {
    font-size: 2.5rem;
    font-family: 'CustomFontArial','Microsoft New Tai Lue','Arial';
    margin-top: 0;
	font-weight: normal;
}
.loadingDiv {
    position: fixed;;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.4);
    background-image:url('/assets/images/loader.gif');
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    background-size: 85px;
  }

.result{
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:rgba(0,0,0,.8);
    z-index:2147483647;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor:pointer;
}
.result .Box{
    position: relative;
    padding:45px 55px 30px 20px
}
.result .imgBox{
    display:none;
}
.result img{
    max-width:100%;
}
.result .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor:pointer;
}
.result .TextBox h1 {
    text-align:center;
    color:#fff;
    -webkit-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	-moz-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	padding:10%;
	max-width:800px;
}
.hide{
	display:none;
}
@media(min-width:100px) and (max-width:575px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
    .result .close {
        right: 15px;
    }
}
@media(min-width:576px) and (max-width:767px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
}
.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:inherit;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	line-height: 1;
	outline:0 !important;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}

.button.playAgain {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:inherit;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.button.playAgain:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.button.playAgain:active {
	position:relative;
	top:1px;
}


#toggle {
    display: block;
    right: 56px;
    top: 35px;
    background: #f3ecec;
    border-radius: 50%;
    border: 4px solid #3b7ee2;
    opacity: 0.7;
    text-align: center;
    padding: 10px;
    
  }

  #toggle:hover
  {
    opacity: 1;
    border: 4px solid #3b7ee2;
    
  }
  
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
  }
  #toggle span {
    position: relative;
    display: inline;
  }
  
  #toggle span
  {
    width: 50px;
    height: 50px;
    text-align: center;
    padding:0%;
  }

  #toggle span img
  {
    width:25px;
    height:25px;
    margin:0;
  }
  
  /* on activation */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
    -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  

  /* menu appearance*/
#menu {
    position: absolute;
    color: #000;
    width: 140px;
    padding: 10px;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0px 3px 11px 1px rgba(27, 24, 24, 0.24);
    font-size: 16px;
    left: -190%;
    z-index: 9;
    text-align: right;
    top: 145%;
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;  
}
.change{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1; 
}
.notchange{
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#menu:after {
    position: absolute;
    top: -20px;
    left: 107px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #ffffff;
}
ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-weight: normal;
}
li a {
    padding: 5px;
    color: #000;
    text-decoration: none;
    transition: all .2s;
}
li a:hover,
li a:focus {
    background: #1798dc;
    color: #fff;
    text-decoration: none;
}
.menu-block{
    position: fixed;
    right: 46px;
    top: 35px;
    z-index: 2147483646;
    height: 50px;
}
.up {
    transform: rotate(180deg) translateY(0%);
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
} 
@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
}
@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
} 

@media(min-width:100px) and (max-width:575px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 6px 5px;
        height: 43px;
        width: 43px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:576px) and (max-width:767px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 6px 5px 0;
        height: 43px;
        width: 43px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:768px) and (max-width:991px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
        height: 43px;
        width: 43px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .menu-block {
        right: 10px;
    }
    #menu:after {
        left: 140px;
    }
    #menu {
        font-size: 18px;
        left: -240%;
        top: 140%;
        width: 175px;
    }
    #toggle {
        height: 53px;
        width: 53px;
        /* line-height: 48px; */
        padding: 8px;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 26px;
    }
    #toggle {
        height: 60px;
        width: 60px;
        line-height: 1;
        padding: 11px 5px;
    }
    .menu-block {
        right: 20px;
    }
    #menu:after {
        left: 205px;
    }
    #toggle span img {
        width: 33px;
        height: 33px;
        margin: 0;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 30px;
    }
    #toggle{
        height: 60px;
        width: 60px;
        /* line-height: 55px; */
        padding: 10px;
    }
}
@media(min-width:1200px){
	#menu {
        top: 70px;
        left: -135px;
        width: 180px;
        font-size: 18px;
    }
    #menu:after {
        left: 145px;
    }
    #toggle{
        height: 55px;
        width: 55px;
        /* line-height: 50px; */
    }
}

h1 {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}