<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 mb-3">
				<h2 class="font-weight-bold heading">
					Click on the blanks and then click on the correct Compound Words from the help box, that is shown by the pictures.  
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="helpbox-container">
				<div class="helpbox"><span>toothbrush</span></div>
				<div class="helpbox"><span>pineapple</span></div>
				<div class="helpbox"><span>lighthouse</span></div>
				<div class="helpbox"><span>cowboy</span></div>
				<div class="helpbox"><span>peacock</span></div>
				<div class="helpbox"><span>starfish</span></div>
				<div class="helpbox"><span>spaceship</span></div>
				<div class="helpbox"><span>windmill</span></div>
				<div class="helpbox landscape-portrait"><span></span></div>
				<div class="helpbox"><span>handbag</span></div>
				<div class="helpbox"><span>grasshopper</span></div>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<!-- 1 -->
				<div class="question">
					<div class="img-container">
						<img src="assets/std01-compound-word-worksheet2/img/q1.png" alt="" class="img-fluid">
					</div>
					<div class="number"><span>1)</span></div>
					<div class="input-container">
						<input type="text">
						<div class="correct-answer">
							<span>peacock</span>						
						</div>
					</div>
				</div>
				<!-- 2 -->
				<div class="question">
					<div class="img-container">
						<img src="assets/std01-compound-word-worksheet2/img/q2.png" alt="" class="img-fluid">
					</div>
					<div class="number"><span>2)</span></div>
					<div class="input-container">
						<input type="text">
						<div class="correct-answer">
							<span>cowboy</span>						
						</div>
					</div>
				</div>
				<!-- 3 -->
				<div class="question">
					<div class="img-container">
						<img src="assets/std01-compound-word-worksheet2/img/q3.png" alt="" class="img-fluid">
					</div>
					<div class="number"><span>3)</span></div>
					<div class="input-container">
						<input type="text">
						<div class="correct-answer">
							<span>starfish</span>						
						</div>
					</div>
				</div>
				<!-- 4 -->
				<div class="question">
					<div class="img-container">
						<img src="assets/std01-compound-word-worksheet2/img/q4.png" alt="" class="img-fluid">
					</div>
					<div class="number"><span>4)</span></div>
					<div class="input-container">
						<input type="text">
						<div class="correct-answer">
							<span>windmill</span>						
						</div>
					</div>
				</div>
				<!-- 5 -->
				<div class="question">
					<div class="img-container">
						<img src="assets/std01-compound-word-worksheet2/img/q5.png" alt="" class="img-fluid">
					</div>
					<div class="number"><span>5)</span></div>
					<div class="input-container">
						<input type="text">
						<div class="correct-answer">
							<span>pineapple</span>						
						</div>
					</div>
				</div>
				<!-- 6 -->
				<div class="question">
					<div class="img-container">
						<img src="assets/std01-compound-word-worksheet2/img/q6.png" alt="" class="img-fluid">
					</div>
					<div class="number"><span>6)</span></div>
					<div class="input-container">
						<input type="text">
						<div class="correct-answer">
							<span>handbag</span>						
						</div>
					</div>
				</div>
				<!-- 7 -->
				<div class="question">
					<div class="img-container">
						<img src="assets/std01-compound-word-worksheet2/img/q7.png" alt="" class="img-fluid">
					</div>
					<div class="number"><span>7)</span></div>
					<div class="input-container">
						<input type="text">
						<div class="correct-answer">
							<span>grasshopper</span>						
						</div>
					</div>
				</div>
				<!-- 8 -->
				<div class="question">
					<div class="img-container">
						<img src="assets/std01-compound-word-worksheet2/img/q8.png" alt="" class="img-fluid">
					</div>
					<div class="number"><span>8)</span></div>
					<div class="input-container">
						<input type="text">
						<div class="correct-answer">
							<span>spaceship</span>						
						</div>
					</div>
				</div>
				<!-- 9 -->
				<div class="question">
					<div class="img-container">
						<img src="assets/std01-compound-word-worksheet2/img/q9.png" alt="" class="img-fluid">
					</div>
					<div class="number"><span>9)</span></div>
					<div class="input-container">
						<input type="text">
						<div class="correct-answer">
							<span>toothbrush</span>						
						</div>
					</div>
				</div>
				<!-- emty div -->
				<div class="question empty-div">

				</div>
				<!-- 10 -->
				<div class="question">
					<div class="img-container">
						<img src="assets/std01-compound-word-worksheet2/img/q10.png" alt="" class="img-fluid">
					</div>
					<div class="number"><span>10)</span></div>
					<div class="input-container">
						<input type="text">
						<div class="correct-answer">
							<span>lighthouse</span>						
						</div>
					</div>
				</div>
				<!-- end -->
				
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>