<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>

	<div class="loadingDiv">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 px-2 p-2 mt-3">
				<h2 class="font-weight-bold">
					Click in the correct boxes to colour the words, that are Synonyms to the words given in the arrows.
				</h2>
			</div>
		</div>
		<div class="row margin-auto">
			<div class="main-container mb-3">
				<div class="row m-0">
					<div class="col-3 col-sm-4 p-0 ">
						<div class="word-container">
							<!--1-->
							<div class="row m-0">
								<div
									class="col-12 col-sm-8  col-md-6  col-lg-5 col-xl-5  offset-sm-4 offset-md-6 offset-lg-7 offset-xl-7 p-0">
									<div class="word-container-div">
										<span class="number">1</span>
										<div><span class="word">reply</span></div>
									</div>
								</div>
							</div>
							<!--2-->
							<div class="row m-0">
								<div
									class="col-12 col-sm-8  col-md-6  col-lg-5 col-xl-5  offset-sm-4 offset-md-6 offset-lg-7 offset-xl-7 p-0">
									<div class="word-container-div">
										<span class="number">2</span>
										<div><span class="word">leap</span></div>
									</div>
								</div>
							</div>
							<!--3-->
							<div class="row m-0">
								<div
									class="col-12 col-sm-8  col-md-6  col-lg-5 col-xl-5  offset-sm-4 offset-md-6 offset-lg-7 offset-xl-7 p-0">
									<div class="word-container-div">
										<span class="number">3</span>
										<div><span class="word">robber</span></div>
									</div>
								</div>
							</div>
							<!--4-->
							<div class="row m-0">
								<div
									class="col-12 col-sm-8  col-md-6  col-lg-5 col-xl-5  offset-sm-4 offset-md-6 offset-lg-7 offset-xl-7 p-0">
									<div class="word-container-div">
										<span class="number">4</span>
										<div><span class="word">couch</span></div>
									</div>
								</div>
							</div>
							<!--5-->
							<div class="row m-0">
								<div
									class="col-12 col-sm-8  col-md-6  col-lg-5 col-xl-5  offset-sm-4 offset-md-6 offset-lg-7 offset-xl-7 p-0">
									<div class="word-container-div">
										<span class="number">5</span>
										<div><span class="word">taxi</span></div>
									</div>
								</div>
							</div>
							<!--6-->
							<div class="row m-0">
								<div
									class="col-12 col-sm-8  col-md-6  col-lg-5 col-xl-5  offset-sm-4 offset-md-6 offset-lg-7 offset-xl-7 p-0">
									<div class="word-container-div">
										<span class="number">6</span>
										<div><span class="word">enemy</span></div>
									</div>
								</div>
							</div>
							<!--7-->
							<div class="row m-0">
								<div
									class="col-12 col-sm-8  col-md-6  col-lg-5 col-xl-5  offset-sm-4 offset-md-6 offset-lg-7 offset-xl-7 p-0">
									<div class="word-container-div">
										<span class="number">7</span>
										<div><span class="word">tired</span></div>
									</div>
								</div>
							</div>
							<!--8-->
							<div class="row m-0">
								<div
									class="col-12 col-sm-8  col-md-6  col-lg-5 col-xl-5  offset-sm-4 offset-md-6 offset-lg-7 offset-xl-7 p-0">
									<div class="word-container-div">
										<span class="number">8</span>
										<div><span class="word">same</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-9 col-sm-8 p-0 ">
						<div class="img-container">
							<img src="assets/std02-synonyms-worksheet2/img/questions-bg.png" class="img-fluid" />
						</div>

						<div class="question-container">
							<!--1-->
							<div class="row m-0 ">
								<div class="col-4">
									<div class="text-center three-word">
										<span>rush</span>
									</div>
								</div>
								<div class="col-4">
									<div class="text-center three-word correct-answer">
										<span>answer</span>
									</div>
								</div>
								<div class="col-4">
									<div class="text-center three-word">
										<span>every</span>
									</div>
								</div>
							</div>
							<!--2-->
							<div class="row m-0 ">
								<div class="col-4">
									<div class="text-center three-word correct-answer">
										<span>jump</span>
									</div>
								</div>
								<div class="col-4">
									<div class="text-center three-word">
										<span>smile</span>
									</div>
								</div>
								<div class="col-4">
									<div class="text-center three-word">
										<span>kind</span>
									</div>
								</div>
							</div>
							<!--3-->
							<div class="row m-0 ">
								<div class="col-4">
									<div class="text-center three-word">
										<span>man</span>
									</div>
								</div>
								<div class="col-4">
									<div class="text-center three-word correct-answer">
										<span>thief</span>
									</div>
								</div>
								<div class="col-4">
									<div class="text-center three-word">
										<span>person</span>
									</div>
								</div>
							</div>
							<!--4-->
							<div class="row m-0 ">
								<div class="col-4">
									<div class="text-center three-word">
										<span>cupboard</span>
									</div>
								</div>
								<div class="col-4">
									<div class="text-center three-word">
										<span>table</span>
									</div>
								</div>
								<div class="col-4">
									<div class="text-center three-word correct-answer">
										<span>sofa</span>
									</div>
								</div>
							</div>
							<!--5-->
							<div class="row m-0 ">
								<div class="col-4">
									<div class="text-center three-word correct-answer">
										<span>cab</span>
									</div>
								</div>
								<div class="col-4">
									<div class="text-center three-word">
										<span>cart</span>
									</div>
								</div>
								<div class="col-4">
									<div class="text-center three-word">
										<span>cry</span>
									</div>
								</div>
							</div>
							<!--6-->
							<div class="row m-0 ">
								<div class="col-4">
									<div class="text-center three-word">
										<span>person</span>
									</div>
								</div>
								<div class="col-4">
									<div class="text-center three-word correct-answer">
										<span>foe</span>
									</div>
								</div>
								<div class="col-4">
									<div class="text-center three-word">
										<span>error</span>
									</div>
								</div>
							</div>
							<!--7-->
							<div class="row m-0 ">
								<div class="col-4">
									<div class="text-center three-word">
										<span>laugh</span>
									</div>
								</div>
								<div class="col-4">
									<div class="text-center three-word">
										<span>hurry</span>
									</div>
								</div>
								<div class="col-4">
									<div class="text-center three-word correct-answer">
										<span>sleepy</span>
									</div>
								</div>
							</div>
							<!--8-->
							<div class="row m-0 ">
								<div class="col-4">
									<div class="text-center three-word">
										<span>smell</span>
									</div>
								</div>
								<div class="col-4">
									<div class="text-center three-word correct-answer">
										<span>alike</span>
									</div>
								</div>
								<div class="col-4">
									<div class="text-center three-word">
										<span>slow</span>
									</div>
								</div>
							</div>
							<!--8end-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
	</div>
</div>

