@font-face {
	font-family: "CustomFont";
    src: url("/assets/font/ntailu.ttf") format("truetype");
}
@font-face {
	font-family: "CustomFontBold";
    src: url("/assets/font/ntailub.ttf") format("truetype");	
}
@font-face {
    font-family: mt-rounded-bold;
    src: url(/assets/font/ARLRDBD.ttf) format("truetype");
    font-weight: bold;
  }
.bg{
    font-family: 'CustomFont','Microsoft New Tai Lue','Arial';
    color:#000;
    font-size:22px;
	background: url(/assets/std02-synonyms-worksheet2/img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
}
.hide{
	display: none;
}
h2{
    font-family: 'mt-rounded-bold','Microsoft New Tai Lue','Arial';
}
.img-container{
	width: 75%;
    float: right;
	position:absolute;
	/* margin-left:20%; */
}
.question-container .row{
	    margin-top: 6.7% !important;
}
.main-container{
	width:90%;
	margin:auto;
}
.left-side{
	width:100%;
}
.right-side{
	width:80%;
	height:87%;
	background: url(/assets/std02-synonyms-worksheet2/img/questions-bg.png) no-repeat;
	background-size:80% 100%;
}
.question-container{
	width: 65%;
    margin-left: 5%;
    margin-top: 17.5% !important;
	
}
.question-container span{
	
}
.word-container{
	width:100%;
	margin-top: 32% !important;
}
.word-container-div div{
    background: url(/assets/std02-synonyms-worksheet2/img/right-arrow.png) no-repeat;
    width: 97px;
    height: 65px;
    line-height: 2.5em;
    background-size: 100%;
    text-align: center;
    background-position: 0px -2px;
}
.number{
	position: absolute;
    background: url(/assets/std02-synonyms-worksheet2/img/circle.png) no-repeat;
    width: 40px;
    height: 40px;
    line-height: 1.9em;
    background-size: 100%;
    text-align: center;
    background-position: 0px -1px;
    margin-left: -35%;
	    margin-top: 6.5%;
}
.word{
	
       margin-left: -15%;
}
.three-word{
	    background: #acacac;
    border-radius: 5px;
    border: 1px dashed #fff;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
	filter: drop-shadow(2px 2px 2px #222);
	cursor:pointer;
}

h2{
	font-size:1.4rem;
}
.btn-row{
	position: relative;
	margin-top:40px;
	margin-bottom:10px;
	text-align:center;
}
@media (min-width:100px) and (max-width:320px){
   
	
}

@media (min-width:100px) and (max-width:575px){
    .bg{
		min-height:100%;
		background: url(/assets/std02-synonyms-worksheet2/img/bg_portrait.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100%;
		font-size: 16px;
    }
    h2{
        font-size:1.2rem !important;
    }
	
	.word-container {
width: 100%;
margin-top: 42% !important;
}
	.word-container-div div {
       background: url(/assets/std02-synonyms-worksheet2/img/right-arrow.png) no-repeat;
    width: 63px;
    height: 40px;
    line-height: 2.6em;
    background-size: 100%;
    text-align: center;
    background-position: 0px 0px;
    margin-left: 32%;
}

.number {
    position: absolute;
    background: url(/assets/std02-synonyms-worksheet2/img/circle.png) no-repeat;
    width: 30px;
    height: 30px;
    line-height: 1.9em;
    background-size: 100%;
    text-align: center;
    background-position: 0px -1px;
    margin-left: 0%;
    margin-top: 7.5%;
}

	.img-container {
		width: 100%;
		float: right;
		position: absolute;
		margin-top: -6%;
		z-index:-1;
    /* margin-left: 20%; */
	}
	
	.question-container .col-4{
		    padding: 0;
			padding-left: 4%;
	}
	.question-container{
		    width: 85%;
			line-height: 1.2em;
			 font-size: 14px;
	}
	.question-container .row {
		margin-top: 24px !important;
	}
	.img-fluid {
		max-width: 100%;
		height: 415px;
	}
	.main-container {
		width: 97%;
		margin: 20px auto 0;
		max-width: 411px;
	}
	.word-container-div{
		margin-bottom:2px;
	}
}
@media(min-width:100px) and (max-width:359px){
	.bg{
		font-size:14px;
	}
	.question-container .col-4 {
		padding-left: 2%;
	}
}

@media (min-width: 576px) and (max-width: 767px){
    h2{
        font-size:20px;
    }
    
    .main-container{
		font-size:16px;
	}
	/*.img-container {
		width: 50%;
		float: right;
		position: absolute;
		margin-left: 25%;
	}*/
	.question-container {
		width: 85%;
		margin-left: 27px;
		margin-top: 68px !important;
	}
	.word-container-div div {
		width: 91px;
		height: 56px;
		line-height: 3.2em;
	}
	.number {
		position: absolute;
		background: url(/assets/std02-synonyms-worksheet2/img/circle.png) no-repeat;
		width: 35px;
		height: 35px;
		line-height: 2.4em;
		background-size: 100%;
		text-align: center;
		background-position: 0px 2px;
		margin-left: -35%;
		margin-top: 6.5%;
	}
	.img-container {
		width: 100%;
		margin-top: -20px;
		height: 560px;
	}
	.question-container .row {
		margin-top: 30.5px !important;
	}
	.main-container {
		width: 100%;
	}
	.col-4{
		padding: 0 10px;
	}
	.img-fluid {
		width: 100%;
		height: 100%;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.bg{
		font-size:20px;
	}
	h2{
		font-size:1.4rem;
	}
	.img-container
	{
		width: 95%;
		margin-top: -6%;
	}
	.question-container {
		width: 80%;
		margin-left: 10%;
		margin-top: 18.5% !important;
	}
	.question-container .row 
	{
        margin-top: 9.7% !important;
	}
	.img-container {
		width: 100%;
		margin-top: -4%;
		height: 645px;
	}
	.word-container-div div{
		line-height: 2.9em;
	}
	.col-4{
		padding:0 7px;
	}
	.img-fluid{
		width:100%;
		height:100%;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	h2{
		font-size:1.6rem;
	}
	.img-container
	{
		width: 92%;
		height:660px;
	}
	.question-container {
		width: 80%;
		margin-left: 6%;
		margin-top: 18.5% !important;
	}
	.word-container {
		width: 100%;
		margin-top: 35% !important;
	}
	.btn-row {
		margin-top: 50px;
	}
	.img-fluid {
		width: 100%;
		height: 100%;
	}
}
@media (min-width: 1200px){
	h2{
		font-size:2rem;
	}
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
	.bg{
        background:url(/assets/std02-synonyms-worksheet2/img/bg_portrait.jpg) no-repeat center bottom fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
		font-size:30px;
    }
	h2{
        font-size:35px;
    }
    .myButton{
        font-size:30px;
	}
	.main-container {
		width: 100%;
	}
	.number {
		width: 55px;
		height: 55px;
		line-height: 55px;
		background-size: 100% 100%;
		text-align: center;
		background-position: 100%;
		margin-left: -50px;
    	margin-top: 14px;
	}
	.word-container-div div {
		line-height: 80px;
		width: 135px;
		height: 80px;
		background-size: 100% 100%;
		background-position: 100%;
	}
	.offset-md-6 {
		margin-left: 25%;
	}
	.col-sm-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 27%;
		flex: 0 0 27%;
		max-width: 27%;
	}
	.col-sm-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 73%;
		flex: 0 0 73%;
		max-width: 73%;
	}
	.img-container {
		width: 100%;
		margin-top: -4%;
		height: 840px;
	}
	.question-container .row {
		margin-top: 33px !important;
	}
	.question-container {
		width: 85%;
		margin-left: 37px;
		margin-top: 110px !important;
	}
	.img-container {
		width: 100%;
		margin-top: -4%;
		height: 800px;
	}
	.word-container {
		width: 100%;
		margin-top: 96px !important;
	}
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	.bg{
        font-size:35px;
    }
    h2{
        font-size:40px;
    }
    .myButton{
        font-size:35px;
	}
	.number {
		width: 70px;
		height: 70px;
		line-height: 70px;
		margin-left: -63px;
    	margin-top: 18px;
	}
	.word-container-div div {
		line-height: 105px;
		width: 165px;
		height: 105px;
	}
	.offset-md-6 {
		margin-left: 35%;
	}
	.question-container {
		margin-left: 50px;
		margin-top: 134px !important;
	}
	.img-container {
		margin-top: -4%;
		height: 1040px;
	}
	.word-container {
		margin-top: 115px !important;
	}
	.question-container .row {
		margin-top: 51px !important;
	}
}

.three-word.wrong{
	background:#ab2323 !important;
}
.three-word.right{
	background:#2bab3e;
}
.three-word.click{
	background:#2bab3e;
	color:#fff;
}


@media (min-width: 1900px)
{
	/* h2 {
		font-size: 2.8rem;
	}
	.main-container{
		transform: scale(1.1);
	}
	.btn-row{
		font-size: 32px;
		margin-top:80px;
	} */
	.container{
		transform: scale(1.3);
		padding-top: 106px;
	}
}

// common
.loadingDiv {
    position: fixed;;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.4);
    background-image:url('/assets/images/loader.gif');
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    background-size: 85px;
  }
.result{
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:rgba(0,0,0,.8);
    z-index:2147483647;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor:pointer;
}
.result .Box{
    position: relative;
    padding:45px 55px 30px 20px
}
.result .imgBox{
    display:none;
}
.result img{
    max-width:100%;
}
.result .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor:pointer;
}
.result .TextBox h1 {
    font-weight:bold;
    text-align:center;
    color:#fff;
    -webkit-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	-moz-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	padding:10%;
	max-width:800px;
}
@media(min-width:100px) and (max-width:575px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
    .result .close {
        right: 15px;
    }
}
@media(min-width:576px) and (max-width:767px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
}

.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:inherit;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	line-height: 1;
	outline:0 !important;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}
.button.playAgain {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:inherit;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.button.playAgain:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.button.playAgain:active {
	position:relative;
	top:1px;
}


#toggle {
    display: block;
    right: 56px;
    top: 35px;
    background: #f3ecec;
    border-radius: 50%;
    border: 4px solid #3b7ee2;
    opacity: 0.7;
    text-align: center;
    padding: 10px;
    
  }

  #toggle:hover
  {
    opacity: 1;
    border: 4px solid #3b7ee2;
    
  }
  
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
  }
  #toggle span {
    position: relative;
    display: inline;
  }
  
  #toggle span
  {
    width: 50px;
    height: 50px;
    text-align: center;
    padding:0%;
  }

  #toggle span img
  {
    width:25px;
    height:25px;
  }
  
  /* on activation */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
    -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  

  /* menu appearance*/
#menu {
    position: absolute;
    color: #000;
    width: 140px;
    padding: 10px;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0px 3px 11px 1px rgba(27, 24, 24, 0.24);
    font-size: 16px;
    left: -190%;
    z-index: 9;
    text-align: right;
    top: 145%;
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;  
}
.change{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1; 
}
.notchange{
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#menu:after {
    position: absolute;
    top: -20px;
    left: 107px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #ffffff;
}
ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-weight: normal;
}
li a {
    padding: 5px;
    color: #000;
    text-decoration: none;
    transition: all .2s;
}
li a:hover,
li a:focus {
    background: #1798dc;
    color: #fff;
    text-decoration: none;
}
.menu-block{
    position: fixed;
    right: 46px;
    top: 35px;
    z-index: 2147483646;
    height: 50px;
}
.up {
    transform: rotate(180deg) translateY(0%);
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
} 
@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
}
@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
} 

@media(min-width:100px) and (max-width:575px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:576px) and (max-width:767px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:768px) and (max-width:991px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .menu-block {
        right: 10px;
    }
    #menu:after {
        left: 140px;
    }
    #menu {
        font-size: 18px;
        left: -240%;
        top: 140%;
        width: 175px;
    }
    #toggle {
        height: 53px;
        width: 53px;
        padding: 0;
        line-height: 48px;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 26px;
    }
    #toggle{
        height: 60px;
        width: 60px;
        padding:0;
        line-height: 55px;
    }
    .menu-block {
        right: 20px;
    }
    #menu:after {
        left: 205px;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 30px;
    }
}
@media(min-width:1200px){
	#menu {
        top: 70px;
        left: -135px;
        width: 180px;
        font-size: 18px;
    }
    #menu:after {
        left: 145px;
    }
    #toggle{
        height: 55px;
        width: 55px;
        padding:0;
        line-height: 50px;
    }
}