<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox-result">
      <img src="" alt="" class="Text keep-practicing hide">
      <img src="" alt="" class="Text outstanding hide">
      <img src="" alt="" class="Text brilliant hide">
      <img src="" alt="" class="Text good-work hide">
      <!-- <img src="" alt="" class="Text fabulous hide"> -->
    </div>
          <div class="TextBox">
              <h1></h1>
          </div>
          <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
      <div class="row">
          <div class="heading mt-3">
              <h1>
                  <!-- Fill in the blanks with a word from the help box of leaves to
                  form a compound word. -->
                  Click on the blanks and then click on the correct words from the help box of leaves, to form Compound Words.
              </h1>
          </div>
      </div>
      <div class="row">
          <div class="col-12 Question_Container">
              <div class="Question_Row">
                  <div class="Question">
                      <div class="number">1)</div>
                      <div class="content">
                          <div class="input"><input type="text">
                              <div class="correct_answer"><span>gold</span></div>
                          </div> <span>fish</span>
                      </div>
                  </div>
              </div>
              <div class="Question_Row">
                  <div class="Question">
                      <div class="number">2)</div>
                      <div class="content">
                          <div class="input">
                              <input type="text">
                              <div class="correct_answer"><span>finger</span></div>
                          </div>
                          <span>print</span>
                      </div>
                  </div>
              </div>
              <div class="Question_Row">
                  <div class="Question">
                      <div class="number">3)</div>
                      <div class="content">
                          <div class="input">
                              <input type="text">
                              <div class="correct_answer"><span>ship</span></div>
                          </div>
                          <span>wreck</span>
                      </div>
                  </div>
              </div>
              <div class="Question_Row">
                  <div class="Question">
                      <div class="number">4)</div>
                      <div class="content">
                          <div class="input">
                              <input type="text">
                              <div class="correct_answer"><span>thunder</span></div>
                          </div>
                          <span>storm</span>
                      </div>
                  </div>
              </div>
              <div class="Question_Row">
                  <div class="Question">
                      <div class="number">5)</div>
                      <div class="content">
                          <div class="input">
                              <input type="text">
                              <div class="correct_answer"><span>house</span></div>
                          </div>
                          <span>keeper</span>
                      </div>
                  </div>
              </div>
              <div class="Question_Row">
                  <div class="Question">
                      <div class="number">6)</div>
                      <div class="content">
                          <div class="input">
                              <input type="text">
                              <div class="correct_answer"><span>pass</span></div>
                          </div>
                          <span>word</span>
                      </div>
                  </div>
              </div>
              <div class="Question_Row">
                  <div class="Question">
                      <div class="number">7)</div>
                      <div class="content">
                          <div class="input">
                              <input type="text">
                              <div class="correct_answer"><span>earth</span></div>
                          </div>
                          <span>quake</span>
                      </div>
                  </div>
              </div>
              <div class="Question_Row">
                  <div class="Question">
                      <div class="number">8)</div>
                      <div class="content">
                          <div class="input">
                              <input type="text">
                              <div class="correct_answer"><span>play</span></div>
                          </div>
                          <span>ground</span>
                      </div>
                  </div>
              </div>
              <div class="Question_Row">
                  <div class="Question">
                      <div class="number">9)</div>
                      <div class="content">
                          <div class="input">
                              <input type="text">
                              <div class="correct_answer"><span>dragon</span></div>
                          </div>
                          <span>fly</span>
                      </div>
                  </div>
              </div>
              <div class="Question_Row">
                  <div class="Question">
                      <div class="number">10)</div>
                      <div class="content">
                          <div class="input">
                              <input type="text">
                              <div class="correct_answer"><span>super</span></div>
                          </div>
                          <span>market</span>
                      </div>
                  </div>
              </div>


              <div class="imgBox first">
                  <img src="assets/std03-compound-word-worksheet4/img/ant_left.png" alt="">
                  <span>ship</span>
              </div>
              <div class="imgBox second">
                  <img src="assets/std03-compound-word-worksheet4/img/ant_left.png" alt="">
                  <span>earth</span>
              </div>
              <div class="imgBox third">
                  <img src="assets/std03-compound-word-worksheet4/img/ant_left.png" alt="">
                  <span>dragon</span>
              </div>
              <div class="imgBox fourth">
                  <img src="assets/std03-compound-word-worksheet4/img/ant_left.png" alt="">
                  <span>pass</span>
              </div>
              <div class="imgBox fifth">
                  <img src="assets/std03-compound-word-worksheet4/img/ant_left.png" alt="">
                  <span>finger</span>
              </div>
              <div class="imgBox sixth">
                  <img src="assets/std03-compound-word-worksheet4/img/ant_left.png" alt="">
                  <span>super</span>
              </div>
              <div class="imgBox seventh">
                  <img src="assets/std03-compound-word-worksheet4/img/ant_left.png" alt="">
                  <span>house</span>
              </div>
              <div class="imgBox eighth">
                  <img src="assets/std03-compound-word-worksheet4/img/ant_up.png" alt="" class="hide-portrait">
                  <img src="assets/std03-compound-word-worksheet4/img/ant_left.png" alt="" class="hide-landscape">
                  <span>gold</span>
              </div>
              <div class="imgBox nineth">
                  <img src="assets/std03-compound-word-worksheet4/img/ant_up.png" alt="">
                  <span>play</span>
              </div>
              <div class="imgBox tenth">
                  <img src="assets/std03-compound-word-worksheet4/img/ant_up.png" alt="">
                  <span>thunder</span>
              </div>

          </div>
      </div>

      <div class="row pb-3 btn-row">
          <div class="col-12 text-center">
              <button class="button myButton">Submit</button>
          </div>
      </div>

  </div>
</div>