<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox-result">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container-fluid p-0">
        <div class="blue_bg">
            <div class="container">
                <div class="row">
                    <div class="heading mt-3">
                        <h1>Click on the blanks and then click on the correct Prepositions from the help box, to complete the sentences.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid padding-0">
        <div class="Green_bg">
            <div class="container">
                <div class="row Main_Container">
                    <div class="col-12 Option_Container position-relative">
                        <div class="options">
                            <div class="option first"><span>beside</span></div>
                            <div class="option second"><span>on</span></div>
                            <div class="option third"><span>over</span></div>
                            <div class="option fourth"><span>in front of</span></div>
                            <div class="option fifth"><span>around</span></div>
                            <div class="option sixth"><span>in</span></div>
                            <div class="option seventh"><span>between</span></div>
                            <div class="option eighth"><span>behind</span></div>
                            <img src="assets/std03-prepositions-worksheet1/img/tom.png" alt="" class="tom">
                        </div>
                    </div>
                    <div class="col-12 Question_Container">
                        <div class="QuestionBox">
                            <div class="imgBox">
                                <img src="assets/std03-prepositions-worksheet1/img/on.png" alt="">
                            </div>
                            <div class="Question">
                                <div class="number">1)</div>
                                <div class="content">Jerry mouse is <input type="text">
                                     the cheese.<div class="correct_answer"><span>on</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="QuestionBox">
                            <div class="imgBox">
                                <img src="assets/std03-prepositions-worksheet1/img/front.png" alt="">
                            </div>
                            <div class="Question">
                                <div class="number">2)</div>
                                <div class="content">Jerry mouse is <input type="text">
                                     the cheese.<div class="correct_answer"><span>in front of</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="QuestionBox">
                            <div class="imgBox">
                                <img src="assets/std03-prepositions-worksheet1/img/in.png" alt="">
                            </div>
                            <div class="Question">
                                <div class="number">3)</div>
                                <div class="content">Jerry mouse is <input type="text">
                                     the cheese.<div class="correct_answer"><span>in</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="QuestionBox">
                            <div class="imgBox">
                                <img src="assets/std03-prepositions-worksheet1/img/beside.png" alt="">
                            </div>
                            <div class="Question">
                                <div class="number">4)</div>
                                <div class="content">Jerry mouse is <input type="text">
                                    the cheese. <div class="correct_answer"><span>beside</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="QuestionBox">
                            <div class="imgBox">
                                <img src="assets/std03-prepositions-worksheet1/img/between.png" alt="">
                            </div>
                            <div class="Question">
                                <div class="number">5)</div>
                                <div class="content">Jerry mouse is <input type="text">
                                    the two blocks of cheese. <div class="correct_answer"><span>between</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="QuestionBox">
                            <div class="imgBox">
                                <img src="assets/std03-prepositions-worksheet1/img/behind.png" alt="">
                            </div>
                            <div class="Question">
                                <div class="number">6)</div>
                                <div class="content">Jerry mouse is <input type="text">
                                     the block of cheese.<div class="correct_answer"><span>behind</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="QuestionBox">
                            <div class="imgBox">
                                <img src="assets/std03-prepositions-worksheet1/img/around.png" alt="">
                            </div>
                            <div class="Question">
                                <div class="number">7)</div>
                                <div class="content">Jerry mouse is running <input type="text">
                                   the block of cheese.  <div class="correct_answer"><span>around</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="QuestionBox">
                            <div class="imgBox">
                                <img src="assets/std03-prepositions-worksheet1/img/over.png" alt="">
                            </div>
                            <div class="Question">
                                <div class="number">8)</div>
                                <div class="content">Jerry mouse is jumping <input type="text">
                                     the block of cheese.<div class="correct_answer"><span>over</span></div>
                                </div>
                            </div>
                        </div>
                        <img src="assets/std03-prepositions-worksheet1/img/bottom_bg.jpg" alt="" class="bottom">
                    </div>
                </div>
                <div class="btn-row">
                    <button class="button myButton">Submit</button>
                </div>
            </div>

        </div>

    </div>
</div>