<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text fabulous hide">
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row m-0">
            <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
                <h2 class="font-weight-bold heading">
                    Click in boxes and then click on Comma from the help box of speech bubbles,
                    to complete the punctuation of the sentences.   

                </h2>
            </div>
        </div>

      
        <div class="helpbox-container">
            <div class="helpbox-ans">
                <span>?</span>
            </div>
            <div class="helpbox-ans">
                <span>,</span>
            </div>
            <div class="helpbox-ans">
                <span>.</span>
            </div>
            <div class="helpbox-ans">
                <span>!</span>
            </div>

        </div>
      

        <div class="main-question-container">

            <!-- 1 -->
            <div class="question">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="text-container">
                    <span>My brother</span>
                        <input type="text" maxlength="1">
                    <span class="correct-answer">
                        <span>,</span>
                    </span>
                    <span>sister and cousins are going for a picnic.</span>
                  

                </div>
            </div>
            <!-- 2 -->
            <div class="question">
                <div class="number">
                    <span>2</span>
                </div>
                <div class="text-container">
                    <span>Sri Lanka</span>
                        <input type="text" maxlength="1">
                    <span class="correct-answer">
                        <span>,</span>
                    </span>
                    <span>Singapore and Australia are island countries.</span>
                  

                </div>
            </div>
              <!-- 3 -->
              <div class="question">
                <div class="number">
                    <span>3</span>
                </div>
                <div class="text-container">
                    <span>Alex is going to learn swimming</span>
                        <input type="text" maxlength="1">
                    <span class="correct-answer">
                        <span>,</span>
                    </span>
                    <span>skating and cycling this summer.</span>
                  

                </div>
            </div>
              <!-- 4 -->
              <div class="question">
                <div class="number">
                    <span>4</span>
                </div>
                <div class="text-container">
                    <span>There are storybooks</span>
                        <input type="text" maxlength="1">
                    <span class="correct-answer">
                        <span>,</span>
                    </span>
                    <span>textbooks and a dictionary on the bookshelf.</span>
                  

                </div>
            </div>
              <!-- 5 -->
              <div class="question">
                <div class="number">
                    <span>5</span>
                </div>
                <div class="text-container">
                    <span>My father loves to watch cricket</span>
                        <input type="text" maxlength="1">
                    <span class="correct-answer">
                        <span>,</span>
                    </span>
                    <span>football and hockey on television.</span>
                  

                </div>
            </div>
              <!-- 6 -->
              <div class="question">
                <div class="number">
                    <span>6</span>
                </div>
                <div class="text-container">
                    <span>Aunt Jessie put peppers</span>
                        <input type="text" maxlength="1">
                    <span class="correct-answer">
                        <span>,</span>
                    </span>
                    <span>corn</span>
                    <input type="text" maxlength="1">
                    <span class="correct-answer correct-answer6">
                        <span>,</span>
                    </span>
                    <span>
                        mushrooms and tomatoes in the pasta.
                    </span>
                  

                </div>
            </div>
              <!-- 7 -->
              <div class="question">
                <div class="number">
                    <span>7</span>
                </div>
                <div class="text-container">
                    <span>The fruit seller had apples </span>
                        <input type="text" maxlength="1">
                    <span class="correct-answer">
                        <span>,</span>
                    </span>
                    <span>bananas</span>
                    <input type="text" maxlength="1">
                    <span class="correct-answer correct-answer7">
                        <span>,</span>
                    </span>
                    <span>
                        oranges and peaches in his basket.
                    </span>
                  

                </div>
            </div>
              <!-- 8 -->
              <div class="question">
                <div class="number">
                    <span>8</span>
                </div>
                <div class="text-container">
                    <span>Mom</span>
                        <input type="text" maxlength="1">
                    <span class="correct-answer">
                        <span>,</span>
                    </span>
                    <span>can I go down to play?</span>
                  

                </div>
            </div>

        </div>
        <div class="row btn-row">
            <div class="col-12 text-center">
                <button class="button myButton">Submit</button>
            </div>
        </div>
    </div>
</div>