<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
      <div class="row">
          <div class="heading mt-3">
              <h1>Click on the correct Present Tense Verbs from the brackets<span class="comma">,</span> to complete the sentences.</h1>
          </div>
      </div>
      <div class="row Main_Container">
          <div class="col-12 Question_Container">
              <div class="Question_Row">
                  <div class="Question-Block">
                      <div class="Question">
                          <div class="number">1)</div>
                          <div class="content">A nightingale <div class="options">[ <div class="option">sing</div>/<div class="option correct">sings</div> ]</div> melodiously.</div>
                      </div>
                  </div>
                  <div class="Question-Block">
                      <div class="Question">
                          <div class="number">2)</div>
                          <div class="content">Amy sometimes <div class="options">[ <div class="option">go</div>/<div class="option correct">goes</div> ]</div> to watch a movie.</div>
                      </div>
                  </div>
              </div>
              <div class="Question_Row">
                  <div class="Question-Block">
                      <div class="Question">
                          <div class="number">3)</div>
                          <div class="content">My cousins <div class="options">[ <div class="option correct">feed</div>/<div class="option">feeds</div> ]</div> bird seeds to the pigeons.</div>
                      </div>
                  </div>
                  <div class="Question-Block">
                      <div class="Question">
                          <div class="number">4)</div>
                          <div class="content">Mr. Thompson <div class="options">[ <div class="option">collect</div>/<div class="option correct">collects</div> ]</div> stamps as a hobby.</div>
                      </div>
                  </div>
              </div>
              <div class="Question_Row">
                  <div class="Question-Block">
                      <div class="Question">
                          <div class="number">5)</div>
                          <div class="content">The dance show <div class="options">[ <div class="option">begin</div>/<div class="option correct">begins</div> ]</div> at 8 o<span class="comma">’</span>clock.</div>
                      </div>
                  </div>
                  <div class="Question-Block">
                      <div class="Question">
                          <div class="number">6)</div>
                          <div class="content">A farmer <div class="options">[ <div class="option">grow</div>/<div class="option correct">grows</div> ]</div> fruits and vegetables.</div>
                      </div>
                  </div>
              </div>
              <div class="Question_Row">
                  <div class="Question-Block">
                      <div class="Question">
                          <div class="number">7)</div>
                          <div class="content">Bob <div class="options">[ <div class="option">drink</div>/<div class="option correct">drinks</div> ]</div> a strawberry milkshake everyday.</div>
                      </div>
                  </div>
                  <div class="Question-Block">
                      <div class="Question">
                          <div class="number">8)</div>
                          <div class="content">Masons <div class="options">[ <div class="option correct">build</div>/<div class="option">builds</div> ]</div> houses.</div>
                      </div>
                  </div>
              </div>
          </div>
  </div>
  <div class="btn-row">
    <button class="button myButton">Submit</button>
  </div>
      
  </div>

</div>