<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="heading">
      <h1>Common Nouns that are used for different jobs or occupations.</h1>
    </div>
    <div class="header">
      <h1>Click on the jigsaw pieces given with the pictures and then click on the jigsaw pieces given with the Common
        Nouns, to join them.</h1>
    </div>
    <div class="Main_Container">
      <div class="Question_Container">
        <div class="Question">
          <div class="puzzle_container">
            <div class="Question_Block">
              <img src="assets/std02-vocabulary-worksheet9/img/soldier.png" alt="">
            </div>
            <div class="Answer_Block">
              <img src="assets/std02-vocabulary-worksheet9/img/violet_puzzle.png" alt="">
              <span></span>
              <div class="correct_answer"><span>soldier</span></div>
            </div>
          </div>
          <div class="empty"></div>
          <div class="empty"></div>
        </div>
        <div class="Question">
          <div class="puzzle_container">
            <div class="Question_Block">
              <img src="assets/std02-vocabulary-worksheet9/img/firefighter.png" alt="">
            </div>
            <div class="Answer_Block">
              <img src="assets/std02-vocabulary-worksheet9/img/green_puzzle.png" alt="">
              <span></span>
              <div class="correct_answer"><span>firefighter</span></div>
            </div>
          </div>
          <div class="empty"></div>
          <div class="puzzle_container">
            <div class="Question_Block">
              <img src="assets/std02-vocabulary-worksheet9/img/chef.png" alt="">
            </div>
            <div class="Answer_Block">
              <img src="assets/std02-vocabulary-worksheet9/img/orange_puzzle.png" alt="">
              <span></span>
              <div class="correct_answer"><span>chef</span></div>
            </div>
          </div>
        </div>
        <div class="Question">
          <div class="puzzle_container">
            <div class="Question_Block">
              <img src="assets/std02-vocabulary-worksheet9/img/magician.png" alt="">
            </div>
            <div class="Answer_Block">
              <img src="assets/std02-vocabulary-worksheet9/img/pink_puzzle.png" alt="">
              <span></span>
              <div class="correct_answer"><span>magician</span></div>
            </div>
          </div>
          <div class="empty"></div>
          <div class="puzzle_container">
            <div class="Question_Block">
              <img src="assets/std02-vocabulary-worksheet9/img/nurse.png" alt="">
            </div>
            <div class="Answer_Block">
              <img src="assets/std02-vocabulary-worksheet9/img/yellow_puzzle.png" alt="">
              <span></span>
              <div class="correct_answer"><span>nurse</span></div>
            </div>
          </div>
        </div>
        <div class="Question">
          <div class="puzzle_container">
            <div class="Question_Block">
              <img src="assets/std02-vocabulary-worksheet9/img/lawyer.png" alt="">
            </div>
            <div class="Answer_Block">
              <img src="assets/std02-vocabulary-worksheet9/img/yellow_puzzle.png" alt="">
              <span></span>
              <div class="correct_answer"><span>lawyer</span></div>
            </div>
          </div>
          <div class="empty"></div>
          <div class="empty"></div>
        </div>
      </div>
      <div class="Option_Container">
        <div class="Option">
          <div class="Option_Block">
            <img src="assets/std02-vocabulary-worksheet9/img/yellow_puzzle.png" alt="">
            <span>nurse</span>
          </div>
          <div class="Option_Block">
            <img src="assets/std02-vocabulary-worksheet9/img/orange_puzzle.png" alt="">
            <span>chef</span>
          </div>
        </div>
        <div class="Option">
          <div class="empty"></div>
          <div class="Option_Block">
            <img src="assets/std02-vocabulary-worksheet9/img/yellow_puzzle.png" alt="">
            <span>lawyer</span>
          </div>
        </div>
        <div class="Option">
          <div class="empty"></div>
          <div class="Option_Block">
            <img src="assets/std02-vocabulary-worksheet9/img/green_puzzle.png" alt="">
            <span>firefighter</span>
          </div>
        </div>
        <div class="Option">
          <div class="Option_Block">
            <img src="assets/std02-vocabulary-worksheet9/img/violet_puzzle.png" alt="">
            <span>soldier</span>
          </div>
          <div class="Option_Block">
            <img src="assets/std02-vocabulary-worksheet9/img/pink_puzzle.png" alt="">
            <span>magician</span>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>
  </div>
</div>