<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
              <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide">
              <!-- <img src="" alt="" class="Text fabulous hide"> -->
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
    <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
      <div class="row m-0">
          <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
              <h2 class="font-weight-bold heading">
                  Click on the blanks and then click on the correct Suffix words
                  from the help box, to complete the sentences.
              </h2>
          </div>
      </div>

      <div class="helpbox-container">
          <div class="helpbox-ans">
              <span>wisely</span>
          </div>
          <div class="helpbox-ans">
              <span>thickness</span>
          </div>
          <div class="helpbox-ans">
              <span>pitcher</span>
          </div>
          <div class="helpbox-ans">
              <span>fearless</span>
          </div>
          <div class="helpbox-ans">
              <span>successful</span>
          </div>
          <div class="helpbox-ans">
              <span>sticky</span>
          </div>
          <div class="helpbox-ans">
              <span>moisten</span>
          </div>
          <div class="helpbox-ans">
              <span>comfortable</span>
          </div>
      </div>


      <div class="main-question-container">
          <!-- 1 -->
          <div class="question">
              <div class="number">
                  <span>1)</span>
              </div>
              <div class="text-container">
                  <span>The</span>
                  <div class="input-container">
                      <span class="input-span"><input type="text"></span>
                      <div class="correct-answer">
                          <span>thickness</span>
                      </div>
                  </div>
                  <span>of the tree trunk was four feet.</span>
              </div>
          </div>
          <!-- 2 -->
          <div class="question">
              <div class="number">
                  <span>2)</span>
              </div>
              <div class="text-container">
                  <span>Grandpa sat in a</span>
                  <div class="input-container">
                      <span class="input-span"><input type="text"></span>
                      <div class="correct-answer">
                          <span>comfortable</span>
                      </div>
                  </div>
                  <span>chair by the window.</span>
              </div>
          </div>
          <!-- 3 -->
          <div class="question">
              <div class="number">
                  <span>3)</span>
              </div>
              <div class="text-container">
                  <span>M. S. Dhoni is a</span>
                  <div class="input-container">
                      <span class="input-span"><input type="text"></span>
                      <div class="correct-answer">
                          <span>successful</span>
                      </div>
                  </div>
                  <span>cricketer.</span>
              </div>
          </div>
          <!-- 4 -->
          <div class="question">
              <div class="number">
                  <span>4)</span>
              </div>
              <div class="text-container">
                  <span>Please</span>
                  <div class="input-container">
                      <span class="input-span"><input type="text"></span>
                      <div class="correct-answer">
                          <span>moisten</span>
                      </div>
                  </div>
                  <span>the clay, it is too dry.</span>
              </div>
          </div>
          <!-- 5 -->
          <div class="question">
              <div class="number">
                  <span>5)</span>
              </div>
              <div class="text-container">
                  <span>King Akbar ruled his people</span>
                  <div class="input-container">
                      <span class="input-span"><input type="text"></span>
                      <div class="correct-answer correct-ans5">
                          <span>wisely</span>
                      </div>
                  </div><span>.</span>
              </div>
          </div>
          <!-- 6 -->
          <div class="question">
              <div class="number">
                  <span>6)</span>
              </div>
              <div class="text-container">
                  <span>The</span>
                  <div class="input-container">
                      <span class="input-span"><input type="text"></span>
                      <div class="correct-answer">
                          <span>fearless</span>
                      </div>
                  </div>
                  <span>boy stood before the bully.</span>
              </div>
          </div>
          <!-- 7 -->
          <div class="question">
              <div class="number">
                  <span>7)</span>
              </div>
              <div class="text-container">
                  <span>Add flour if the dough is</span>
                  <div class="input-container">
                      <span class="input-span"><input type="text"></span>
                      <div class="correct-answer">
                          <span>sticky</span>
                      </div>
                  </div><span>.</span>
              </div>
          </div>
          <!-- 8 -->
          <div class="question">
              <div class="number">
                  <span>8)</span>
              </div>
              <div class="text-container">
                  <span>Jason poured the juice from the</span>
                  <div class="input-container input-container8">
                      <span class="input-span"><input type="text"></span>
                      <div class="correct-answer correct-ans8">
                          <span>pitcher</span>
                      </div>
                  </div>
                  <span>into a glass.</span>
              </div>
          </div>
          <!-- end -->
      </div>

  </div>
  <div class="btn-row">
      <div class="col-12 text-center">
          <button class="button myButton">Submit</button>
      </div>
  </div>
</div>