<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <img src="" alt="" class="Text fabulous hide">
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
      <div class="row m-0">
          <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
              <h2 class="font-weight-bold heading">
                  Click on the blanks given in the books and then click on the 
                  correct Verb Tenses from the help box, that identifies the underlined 
                  words.
              </h2>
          </div>
      </div>

      <div class="helpbox-container">
          <div class="helpbox-ans">
              <span>Past Tense</span>
          </div>
          <div class="helpbox-ans">
              <span>Present Tense</span>
          </div>
          <div class="helpbox-ans ans3">
              <span>Future Tense</span>
          </div>
      </div>

      <div class="main-question-container">

          <div class="row m-0">
              <div class="question-container">
                  <!-- 1 -->
                  <div class="question">
                      <div class="number">
                          <span>1)</span>
                      </div>
                      <div class="text-container">
                          <span>Tim <u>will buy</u> a pair of new shoes tomorrow.</span>
                      </div>
                      <div class="input-container">
                          <span class="input-span1"><input type="text" data-text="first"></span>
                          <div class="correct-answer">
                              <span>Future Tense</span>
                          </div>
                      </div>

                  </div>
                  <!-- 2 -->
                  <div class="question">
                      <div class="number">
                          <span>2)</span>
                      </div>
                      <div class="text-container">
                        
                          <span>The boy <u>thought</u> very hard for how to solve the sum.</span>
                      </div>
                      <div class="input-container">
                          <span class="input-span2"><input type="text" data-text="second"></span>
                          <div class="correct-answer">
                              <span>Past Tense</span>
                          </div>
                      </div>
                  </div>
                  <!-- 3 -->
                  <div class="question">
                      <div class="number">
                          <span>3)</span>
                      </div>
                      <div class="text-container">
                          <span>Frank <u>rides</u> his bicycle to school everyday.</span>
                      </div>
                      <div class="input-container">
                          <span class="input-span1"><input type="text" data-text="third"></span>
                          <div class="correct-answer">
                              <span>Present Tense</span>
                          </div>
                      </div>
                  </div>
                    <!-- 4 -->
                    <div class="question">
                      <div class="number">
                          <span>4)</span>
                      </div>
                      <div class="text-container">
                          <span>Susan <u>will wear</u> her coat before going out in the snow.</span>
                      </div>
                      <div class="input-container">
                          <span class="input-span2"><input type="text" data-text="third"></span>
                          <div class="correct-answer">
                              <span>Future Tense</span>
                          </div>
                      </div>
                  </div>
                    <!-- 5 -->
                    <div class="question">
                          <div class="number">
                              <span>5)</span>
                          </div>
                          <div class="text-container">
                              <span>The farmer <u>will sow</u> the seeds next month. </span>
                          </div>
                          <div class="input-container">
                              <span class="input-span1"><input type="text" data-text="first"></span>
                              <div class="correct-answer">
                                  <span>Future Tense</span>
                              </div>
                          </div>
  
                      </div>
                      <!-- 6 -->
                      <div class="question">
                          <div class="number">
                              <span>6)</span>
                          </div>
                          <div class="text-container">
                            
                              <span>I <u>thanked</u> my uncle for the lovely gift.</span>
                          </div>
                          <div class="input-container">
                              <span class="input-span2"><input type="text" data-text="second"></span>
                              <div class="correct-answer">
                                  <span>Past Tense</span>
                              </div>
                          </div>
                      </div>
                      <!-- 7 -->
                      <div class="question">
                          <div class="number">
                              <span>7)</span>
                          </div>
                          <div class="text-container">
                              <span>Monkeys <u>love</u> to eat bananas. </span>
                          </div>
                          <div class="input-container">
                              <span class="input-span1"><input type="text" data-text="third"></span>
                              <div class="correct-answer">
                                  <span>Present Tense</span>
                              </div>
                          </div>
                      </div>
                        <!-- 8 -->
                        <div class="question">
                          <div class="number">
                              <span>8)</span>
                          </div>
                          <div class="text-container">
                              <span>Water <u>rushed</u> out with force, when the maid turned on the tap. </span>
                          </div>
                          <div class="input-container">
                              <span class="input-span2"><input type="text" data-text="third"></span>
                              <div class="correct-answer">
                                  <span>Past Tense</span>
                              </div>
                          </div>
                      </div>
                    
              </div>
          </div>
          
      </div>
      <div class="row btn-row">
          <div class="col-12 text-center">
              <button class="button myButton">Submit</button>
          </div>
      </div>
    </div>
</div>