<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Worksheet 2</title>
</head>
<body>
    <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
    <div class="loadingDiv">
	</div>
	
    <div class="container">
        <div class="row">
            <div class="heading my-3">
                <h1>Click on the Action Verb in the boxes that is shown by the pictures.</h1>
            </div>
        </div>
        <div class="Main_Container">
            <div class="Question_Row">
                <div class="Question">
                    <div class="number">1)</div>
                    <div class="picture">
                        <img src="assets/std01-action-verb-worksheet2/img/run.png" alt="">
                    </div>
                </div>
                <div class="options">
                    <div class="option correct">run</div>
                    <div class="option">swim</div>
                    <div class="option">jog</div>
                </div>
            </div>
            <div class="Question_Row">
                <div class="Question">
                    <div class="number">2)</div>
                    <div class="picture">
                        <img src="assets/std01-action-verb-worksheet2/img/smile.png" alt="">
                    </div>
                </div>
                <div class="options">
                    <div class="option correct">smile</div>
                    <div class="option">eat</div>
                    <div class="option">cry</div>
                </div>
            </div>
            <div class="Question_Row">
                <div class="Question">
                    <div class="number">3)</div>
                    <div class="picture">
                        <img src="assets/std01-action-verb-worksheet2/img/dance.png" alt="">
                    </div>
                </div>
                <div class="options">
                    <div class="option">hold</div>
                    <div class="option">play</div>
                    <div class="option correct">dance</div>
                </div>
            </div>
            <div class="Question_Row">
                <div class="Question">
                    <div class="number">4)</div>
                    <div class="picture">
                        <img src="assets/std01-action-verb-worksheet2/img/walk.png" alt="">
                    </div>
                </div>
                <div class="options">
                    <div class="option">think</div>
                    <div class="option correct">walk</div>
                    <div class="option">change</div>
                </div>
            </div>
            <div class="Question_Row">
                <div class="Question">
                    <div class="number">5)</div>
                    <div class="picture">
                        <img src="assets/std01-action-verb-worksheet2/img/teach.png" alt="">
                    </div>
                </div>
                <div class="options">
                    <div class="option correct">teach</div>
                    <div class="option">bite</div>
                    <div class="option">climb</div>
                </div>
            </div>
            <div class="Question_Row">
                <div class="Question">
                    <div class="number">6)</div>
                    <div class="picture">
                        <img src="assets/std01-action-verb-worksheet2/img/sell.png" alt="">
                    </div>
                </div>
                <div class="options">
                    <div class="option">sing</div>
                    <div class="option">go</div>
                    <div class="option correct">sell</div>
                </div>
            </div>
            <div class="Question_Row">
                <div class="Question">
                    <div class="number">7)</div>
                    <div class="picture">
                        <img src="assets/std01-action-verb-worksheet2/img/drive.png" alt="">
                    </div>
                </div>
                <div class="options">
                    <div class="option correct">drive</div>
                    <div class="option">tell</div>
                    <div class="option">fix</div>
                </div>
            </div>
            <div class="Question_Row">
                <div class="Question">
                    <div class="number">8)</div>
                    <div class="picture">
                        <img src="assets/std01-action-verb-worksheet2/img/sleep.png" alt="">
                    </div>
                </div>
                <div class="options">
                    <div class="option">climb</div>
                    <div class="option">look</div>
                    <div class="option correct">sleep</div>
                </div>
            </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
    </div>
</body>
</html>
