<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="heading">
      <h1>Click on the blanks and then click on the correct words from the help box to form Compound Words, with the
        given words.</h1>
    </div>
    <div class="row Main_Container">
      <div class="col-12 Option_Container">
        <div class="options">
          <div class="option"><img src="assets/std02-compound-words-worksheet4/img/option_first.png" alt=""><span>fire</span></div>
          <div class="option"><img src="assets/std02-compound-words-worksheet4/img/option_second.png" alt=""><span>no</span></div>
          <div class="option"><img src="assets/std02-compound-words-worksheet4/img/option_third.png" alt=""><span>mate</span></div>
          <div class="option"><img src="assets/std02-compound-words-worksheet4/img/option_first.png" alt=""><span>sun</span></div>
          <div class="option"><img src="assets/std02-compound-words-worksheet4/img/option_first.png" alt=""><span>motor</span></div>
          <div class="option"><img src="assets/std02-compound-words-worksheet4/img/option_third.png" alt=""><span>green</span></div>
          <div class="option"><img src="assets/std02-compound-words-worksheet4/img/option_second.png" alt=""><span>port</span></div>
          <div class="option"><img src="assets/std02-compound-words-worksheet4/img/option_third.png" alt=""><span>rattle</span></div>
        </div>
      </div>
      <div class="col-12 Question_Container">
        <div class="Question_Row">
          <div class="number">1)</div>
          <div class="second_Block">
            <div class="content">pass</div>
          </div>
          <div class="plus">+</div>
          <div class="input_Block">
            <div class="input_div">
              <input type="text">
              <div class="correct_answer"><span>port</span></div>
            </div>
          </div>
          <div class="equal">=</div>
          <div class="Answer_Block">
            <div class="Answer_div">
              <input type="text">
              <div class="correct_answer"><span>passport</span></div>
            </div>
          </div>
        </div>
        <div class="Question_Row">
          <div class="number">2)</div>
          <div class="second_Block">
            <div class="content">team</div>
          </div>
          <div class="plus">+</div>
          <div class="input_Block">
            <div class="input_div">
              <input type="text">
              <div class="correct_answer"><span>mate</span></div>
            </div>
          </div>
          <div class="equal">=</div>
          <div class="Answer_Block">
            <div class="Answer_div">
              <input type="text">
              <div class="correct_answer"><span>teammate</span></div>
            </div>
          </div>
        </div>
        <div class="Question_Row">
          <div class="number">3)</div>
          <div class="second_Block">
            <div class="content">ever</div>
          </div>
          <div class="plus">+</div>
          <div class="input_Block">
            <div class="input_div">
              <input type="text">
              <div class="correct_answer"><span>green</span></div>
            </div>
          </div>
          <div class="equal">=</div>
          <div class="Answer_Block">
            <div class="Answer_div">
              <input type="text">
              <div class="correct_answer"><span>evergreen</span></div>
            </div>
          </div>
        </div>
        <div class="Question_Row">
          <div class="number">4)</div>
          <div class="second_Block">
            <div class="content">camp</div>
          </div>
          <div class="plus">+</div>
          <div class="input_Block">
            <div class="input_div">
              <input type="text">
              <div class="correct_answer"><span>fire</span></div>
            </div>
          </div>
          <div class="equal">=</div>
          <div class="Answer_Block">
            <div class="Answer_div">
              <input type="text">
              <div class="correct_answer"><span>campfire</span></div>
            </div>
          </div>
        </div>
        <div class="Question_Row">
          <div class="number">5)</div>
          <div class="second_Block">
            <div class="input_div">
              <input type="text">
              <div class="correct_answer"><span>no</span></div>
            </div>
          </div>
          <div class="plus">+</div>
          <div class="input_Block">
            <div class="content">thing</div>
          </div>
          <div class="equal">=</div>
          <div class="Answer_Block">
            <div class="Answer_div">
              <input type="text">
              <div class="correct_answer"><span>nothing</span></div>
            </div>
          </div>
        </div>
        <div class="Question_Row">
          <div class="number">6)</div>
          <div class="second_Block">
            <div class="input_div">
              <input type="text">
              <div class="correct_answer"><span>motor</span></div>
            </div>
          </div>
          <div class="plus">+</div>
          <div class="input_Block">
            <div class="content">cycle</div>
          </div>
          <div class="equal">=</div>
          <div class="Answer_Block">
            <div class="Answer_div">
              <input type="text">
              <div class="correct_answer"><span>motorcycle</span></div>
            </div>
          </div>
        </div>
        <div class="Question_Row">
          <div class="number">7)</div>
          <div class="second_Block">
            <div class="input_div">
              <input type="text">
              <div class="correct_answer"><span>rattle</span></div>
            </div>
          </div>
          <div class="plus">+</div>
          <div class="input_Block">
            <div class="content">snake</div>
          </div>
          <div class="equal">=</div>
          <div class="Answer_Block">
            <div class="Answer_div">
              <input type="text">
              <div class="correct_answer"><span>rattlesnake</span></div>
            </div>
          </div>
        </div>
        <div class="Question_Row">
          <div class="number">8)</div>
          <div class="second_Block">
            <div class="input_div">
              <input type="text">
              <div class="correct_answer"><span>sun</span></div>
            </div>
          </div>
          <div class="plus">+</div>
          <div class="input_Block">
            <div class="content">burn</div>
          </div>
          <div class="equal">=</div>
          <div class="Answer_Block">
            <div class="Answer_div">
              <input type="text">
              <div class="correct_answer"><span>sunburn</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>

  </div>


</div>