<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
              <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide">
              <!-- <img src="" alt="" class="Text fabulous hide"> -->
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
    <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
      <div class="row">
          <div class="heading">
              <h1>Click on the blanks and then click on the correct Present Continuous Tense Verbs from the help box, to complete the sentences.</h1>
          </div>
      </div>
      <div class="row">
          <div class="col-12 Option_Container">
              <div class="options">
                  <div class="option"><span>is speaking</span></div>
                  <div class="option"><span>am planning</span></div>
                  <div class="option"><span>is ringing</span></div>
                  <div class="option"><span>are using</span></div>
                  <div class="option"><span>are going</span></div>
                  <div class="option"><span>is shivering</span></div>
                  <div class="option"><span>is tearing</span></div>
                  <div class="option"><span>is yelling</span></div>
                  <div class="option"><span>are copying</span></div>
                  <div class="option"><span>is practising</span></div>
              </div>
          </div>
          <div class="col-12 Question_Container">
              <div class="Question">
                  <div class="number">1)</div>
                  <div class="content">
                      Alyssa <div class="input_div"><input type="text">
                      <div class="correct_answer"><span>is shivering</span></div></div> because it is cold in Switzerland.
                  </div>
              </div>
              <div class="Question">
                  <div class="number">2)</div>
                  <div class="content">
                      Most people <div class="input_div"><input type="text">
                      <div class="correct_answer"><span>are using</span></div></div> Whatsapp instead of Viber.
                  </div>
              </div>
              <div class="Question">
                  <div class="number">3)</div>
                  <div class="content">
                      Billy <div class="input_div"><input type="text">
                      <div class="correct_answer"><span>is yelling</span></div></div> with joy as his favourite team won the
                      match.
                  </div>
              </div>
              <div class="Question">
                  <div class="number">4)</div>
                  <div class="content">
                      Sharon <div class="input_div"><input type="text">
                      <div class="correct_answer"><span>is practising</span></div></div> her guitar right now.
                  </div>
              </div>
              <div class="Question">
                  <div class="number">5)</div>
                  <div class="content">
                      I <div class="input_div"><input type="text">
                      <div class="correct_answer"><span>am planning</span></div></div> to complete all my assignments over
                      the weekend.
                  </div>
              </div>
              <div class="Question">
                  <div class="number">6)</div>
                  <div class="content">
                      The class 3 students <div class="input_div"><input type="text">
                      <div class="correct_answer"><span>are copying</span></div></div> down the notes from the board.
                  </div>
              </div>
              <div class="Question">
                  <div class="number">7)</div>
                  <div class="content">
                      Mom <div class="input_div"><input type="text">
                      <div class="correct_answer"><span>is speaking</span></div></div> at a conference in London on
                      Wednesday.
                  </div>
              </div>
              <div class="Question">
                  <div class="number">8)</div>
                  <div class="content">
                      The phone <div class="input_div"><input type="text"><div class="correct_answer"><span>is ringing</span></div></div>, please answer it.
                  </div>
              </div>
              <div class="Question">
                  <div class="number">9)</div>
                  <div class="content">
                      The soldiers <div class="input_div"><input type="text">
                      <div class="correct_answer"><span>are going</span></div></div>  to march in a parade on National Day.
                  </div>
              </div>
              <div class="Question">
                  <div class="number">10)</div>
                  <div class="content">
                      My naughty little cousin <div class="input_div"><input type="text">
                      <div class="correct_answer"><span>is tearing</span></div></div>  the pages of my notebook.
                  </div>
              </div>
          </div>
          <div class="btn-row col-12">
              <button class="button myButton">Submit</button>
          </div>
      </div>
  </div>
</div>