<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container-fluid p-0">
    <div class="heading mt-3">
      <h1>
        Click on the blanks given in the trees and then click on the
        underlined words, to classify them correctly as Helping and Action Verbs.
      </h1>
    </div>
    <div class="Main_Container">
      <div class="tree left">
        <img src="assets/std02-mixed-verb-worksheet3/img/left_tree.png" alt="" class="img-fluid left_tree">
        <img src="assets/std02-mixed-verb-worksheet3/img/helping-verb.png" alt="" class="img-fluid verb">
        <div class="answer_container first">
          <div class="number">1</div>
          <div class="answer">
            <input type="text" data-text="first">
            <div class="correct_answer"><span>has</span></div>
          </div>
        </div>
        <div class="answer_container second">
          <div class="number">2</div>
          <div class="answer">
            <input type="text" data-text="second">
            <div class="correct_answer"><span>is</span></div>
          </div>
        </div>
        <div class="answer_container third">
          <div class="number">3</div>
          <div class="answer">
            <input type="text" data-text="third">
            <div class="correct_answer"><span>will</span></div>
          </div>
        </div>
        <div class="answer_container fourth">
          <div class="number">4</div>
          <div class="answer">
            <input type="text" data-text="fourth">
            <div class="correct_answer"><span>are</span></div>
          </div>
        </div>
        <div class="answer_container fifth">
          <div class="number">5</div>
          <div class="answer">
            <input type="text" data-text="fifth">
            <div class="correct_answer"><span>shall</span></div>
          </div>
        </div>
        <div class="answer_container sixth">
          <div class="number">6</div>
          <div class="answer">
            <input type="text" data-text="sixth">
            <div class="correct_answer"><span>have</span></div>
          </div>
        </div>
        <div class="answer_container seventh">
          <div class="number">7</div>
          <div class="answer">
            <input type="text" data-text="seventh">
            <div class="correct_answer"><span>am</span></div>
          </div>
        </div>
        <div class="answer_container eighth">
          <div class="number">8</div>
          <div class="answer">
            <input type="text" data-text="eighth">
            <div class="correct_answer"><span>can</span></div>
          </div>
        </div>
      </div>
      <div class="Question_Container">
        <div class="Question first">
          <div class="number">1)</div>
          <div class="content">
            Our school team <u>has</u> <u>won</u> the game.
          </div>
        </div>
        <div class="Question second">
          <div class="number">2)</div>
          <div class="content">
            Tony’s dad <u>is</u> <u>travelling</u> to London tomorrow.
          </div>
        </div>
        <div class="Question third">
          <div class="number">3)</div>
          <div class="content">
            The new department store <u>will</u> <u>open</u> today.
          </div>
        </div>
        <div class="Question fourth">
          <div class="number">4)</div>
          <div class="content">
            The students <u>are</u> <u>listening</u> to the principal carefully.
          </div>
        </div>
        <div class="Question fifth">
          <div class="number">5)</div>
          <div class="content">
            I <u>shall</u> <u>wake</u> up late on Sunday.
          </div>
        </div>
        <div class="Question sixth">
          <div class="number">6)</div>
          <div class="content">
            Mary and Susie <u>have</u> <u>finished</u> their homework.
          </div>
        </div>
        <div class="Question seventh">
          <div class="number">7)</div>
          <div class="content">
            I <u>am</u> <u>putting</u> away my clothes in the wardrobe.
          </div>
        </div>

        <div class="Question eighth">
          <div class="number">8)</div>
          <div class="content">
            They <u>can</u> <u>come</u> on Saturday.
          </div>
        </div>
        <div class="btn-row">
          <button class="button myButton">Submit</button>
        </div>
      </div>
      <div class="tree right">
        <img src="assets/std02-mixed-verb-worksheet3/img/right_tree.png" alt="" class="img-fluid right_tree">
        <img src="assets/std02-mixed-verb-worksheet3/img/action-verb.png" alt="" class="img-fluid verb action">

        <div class="answer_container first">
          <div class="number">1</div>
          <div class="answer">
            <input type="text" data-text="first">
            <div class="correct_answer"><span>won</span></div>
          </div>
        </div>
        <div class="answer_container second">
          <div class="number">2</div>
          <div class="answer">
            <input type="text" data-text="second">
            <div class="correct_answer"><span>travelling</span></div>
          </div>
        </div>
        <div class="answer_container third">
          <div class="number">3</div>
          <div class="answer">
            <input type="text" data-text="third">
            <div class="correct_answer"><span>open</span></div>
          </div>
        </div>
        <div class="answer_container fourth">
          <div class="number">4</div>
          <div class="answer">
            <input type="text" data-text="fourth">
            <div class="correct_answer"><span>listening</span></div>
          </div>
        </div>
        <div class="answer_container fifth">
          <div class="number">5</div>
          <div class="answer">
            <input type="text" data-text="fifth">
            <div class="correct_answer"><span>wake</span></div>
          </div>
        </div>
        <div class="answer_container sixth">
          <div class="number">6</div>
          <div class="answer">
            <input type="text" data-text="sixth">
            <div class="correct_answer"><span>finished</span></div>
          </div>
        </div>
        <div class="answer_container seventh">
          <div class="number">7</div>
          <div class="answer">
            <input type="text" data-text="seventh">
            <div class="correct_answer"><span>putting</span></div>
          </div>
        </div>
        <div class="answer_container eighth">
          <div class="number">8</div>
          <div class="answer">
            <input type="text" data-text="eighth">
            <div class="correct_answer"><span>come</span></div>
          </div>
        </div>
      </div>

    </div>
    <div class="img_container">
      <img src="assets/std02-mixed-verb-worksheet3/img/boys.png" alt="" class="boys">
    </div>

  </div>

</div>