<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row m-0">
            <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
                <h2 class="font-weight-bold heading">
                    Click on the blanks and then click on the correct Personal Pronouns from the help box, that will be used for the given words. 
                </h2>
            </div>
        </div>
        <div class="helpbox-container">
            <div class="helpbox-ans" data-text="one"><span>he</span></div>
            <div class="helpbox-ans" data-text="two"><span>it</span></div>
            <div class="helpbox-ans" data-text="three"><span>we</span></div>
            <div class="helpbox-ans" data-text="fourth"><span>they</span></div>
            <!-- <div class="helpbox-ans" data-text="fifth"><span>we</span></div> -->
            <div class="helpbox-ans" data-text="sixth"><span>she</span></div>
        </div>
    
        <div class="main-question-container">
           
            <!-- 1 -->
                <div class="question">
                    <div class="number">
                        <span>1)</span>
                    </div>
                    <div class="text-container">
                        <span>Bob</span>
                    </div>
                    <div class="input-container">
                        <span class="input-span"><input type="text"></span>
                        <div class="correct-answer">
                            <span>he</span>
                        </div>
                    </div>
                   
                </div>
                <!-- 2 -->
                <div class="question">
                    <div class="number">
                        <span>2)</span>
                    </div>
                    <div class="text-container">
                        <span>Mrs. Smith</span>
                    </div>
                    <div class="input-container">
                        <span class="input-span"><input type="text"></span>
                        <div class="correct-answer">
                            <span>she</span>
                        </div>
                    </div>
                   
                </div>
                    <!-- 3 -->
                    <div class="question">
                        <div class="number">
                            <span>3)</span>
                        </div>
                        <div class="text-container">
                            <span>stomach</span>
                        </div>
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>it</span>
                            </div>
                        </div>
                       
                    </div>
                      <!-- 4 -->
                      <div class="question">
                        <div class="number">
                            <span>4)</span>
                        </div>
                        <div class="text-container">
                            <span>people</span>
                        </div>
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>they</span>
                            </div>
                        </div>
                       
                    </div>
                     <!-- 5 -->
                     <div class="question">
                        <div class="number">
                            <span>5)</span>
                        </div>
                        <div class="text-container">
                            <span>Susan and I</span>
                        </div>
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>we</span>
                            </div>
                        </div>
                       
                    </div>
                     <!-- 6 -->
                     <div class="question">
                        <div class="number">
                            <span>6)</span>
                        </div>
                        <div class="text-container">
                            <span>floor</span>
                        </div>
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>it</span>
                            </div>
                        </div>
                       
                    </div>
                     <!-- 7 -->
                     <div class="question">
                        <div class="number">
                            <span>7)</span>
                        </div>
                        <div class="text-container">
                            <span>dad and mom</span>
                        </div>
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>they</span>
                            </div>
                        </div>
                       
                    </div>
                     <!-- 8 -->
                     <div class="question">
                        <div class="number">
                            <span>8)</span>
                        </div>
                        <div class="text-container">
                            <span>aunt </span>
                        </div>
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>she</span>
                            </div>
                        </div>                    
                    </div>
                      <!-- 9 -->
                      <div class="question">
                        <div class="number">
                            <span>9)</span>
                        </div>
                        <div class="text-container">
                            <span>Tony and I </span>
                        </div>
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>we</span>
                            </div>
                        </div>                
                    </div>
                     <!-- 10 -->
                     <div class="question">
                        <div class="number">
                            <span>10)</span>
                        </div>
                        <div class="text-container">
                            <span>nail</span>
                        </div>
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>it</span>
                            </div>
                        </div>                
                    </div>
                     <!-- 11 -->
                     <div class="question">
                        <div class="number">
                            <span>11)</span>
                        </div>
                        <div class="text-container">
                            <span>farmer</span>
                        </div>
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>he</span>
                            </div>
                        </div>                
                    </div>
                     <!-- 12 -->
                     <div class="question">
                        <div class="number">
                            <span>12)</span>
                        </div>
                        <div class="text-container">
                            <span>plants</span>
                        </div>
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>they</span>
                            </div>
                        </div>                
                    </div>
              
       
        
        
    </div>
    </div>
    <div class="row btn-row">
        <div class="col-12 text-center">
            <button class="button myButton">Submit</button>
        </div>
    </div>
</div>