<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
            <img src="" alt="" class="Text keep-practicing hide">
            <img src="" alt="" class="Text outstanding hide">
            <img src="" alt="" class="Text brilliant hide">
            <img src="" alt="" class="Text good-work hide">
            <!-- <img src="" alt="" class="Text fabulous hide"> -->
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
          <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row heading-container">
			<div class="col-xs-12 px-2 p-2 mt-3 ">
				<h2 class="font-weight-bold heading">
					Click on the blanks and then click on the correct Present Tense Verbs from the boxes, that will be used for the given words.
				</h2>
			</div>
		</div>
		<div class="row">
		 <div class="Question-container mt-2">
			<div class="row m-0">
				<div class="col-8  p-0 mb-3 mb-xl-4">
					<div class="question">
						<div class="number"><span >1</span></div>
						<div class="text-container">
							<span>He</span>
								<span class="input-span"><input type="text" class="first"></span><div class="answer-div"><span>carries</span></div>
								
								
						</div>
					</div>
				</div>
				<div class="col-4 p-0">
						<div class="helpbox-container first">
							<div class="helpans"><div class="help"><span>carry</span></div></div>
							<div class="helpans"><div class="help"><span>carries</span></div></div>
						</div>
				</div>	
				<!-- 2 -->
				<div class="col-8  p-0 mb-3 mb-xl-4">
					<div class="question">
						<div class="number"><span >2</span></div>
						<div class="text-container"><span>I
							<span class="input-span"><input type="text" class="second"></span><div class="answer-div"><span>wear</span></div></span>
								
							
						</div>
					</div>
				</div>	
				<div class="col-4 p-0">
					<div class="helpbox-container second">
						<div class="helpans"><div class="help"><span>wear</span></div></div>
						<div class="helpans"><div class="help"><span>wears</span></div></div>
					</div>
				</div>	
				<!-- 3 -->
				<div class="col-8  p-0 mb-3 mb-xl-4">
					<div class="question">
						<div class="number"><span>3</span></div>
						<div class="text-container">
							<span>The teacher<span class="input-span"><input type="text" class="third"></span><div class="answer-div"><span>teaches</span></div></span>
								
						</div>
					</div>
				</div>
				<div class="col-4 p-0">
						<div class="helpbox-container third">
							<div class="helpans"><div class="help"><span>teach</span></div></div>
							<div class="helpans"><div class="help"><span>teaches</span></div></div>
						</div>
				</div>		
				<!-- 4 -->
				<div class="col-8  p-0 mb-3 mb-xl-4">
					<div class="question">
						<div class="number"><span>4</span></div>
						<div class="text-container">
							<span>Billy<span class="input-span"><input type="text" class="fourth"></span><div class="answer-div"><span>screams</span></div></span>
								
						</div>
					</div>
				</div>
				<div class="col-4 p-0">
						<div class="helpbox-container fourth">
							<div class="helpans"><div class="help"><span>scream</span></div></div>
							<div class="helpans"><div class="help"><span>screams</span></div></div>
						</div>
				</div>		
				<!-- 5 -->
				<div class="col-8  p-0 mb-3 mb-xl-4">
					<div class="question">
						<div class="number"><span >5</span></div>
						<div class="text-container">
							<span>It</span>
								<span class="input-span"><input type="text" class="fifth"></span><div class="answer-div"><span>breaks</span></div>
								
								
						</div>
					</div>
				</div>
				<div class="col-4 p-0">
						<div class="helpbox-container fifth">
							<div class="helpans"><div class="help"><span>break</span></div></div>
							<div class="helpans"><div class="help"><span>breaks</span></div></div>
						</div>
				</div>	
				<!-- 6 -->
				<div class="col-8  p-0 mb-3 mb-xl-4">
					<div class="question">
						<div class="number"><span >6</span></div>
						<div class="text-container"><span>Lisa and Lily
							<span class="input-span"><input type="text" class="sixth"></span><div class="answer-div"><span>study</span></div></span>
								
							
						</div>
					</div>
				</div>	
				<div class="col-4 p-0">
					<div class="helpbox-container sixth">
						<div class="helpans"><div class="help"><span>study</span></div></div>
						<div class="helpans"><div class="help"><span>studies</span></div></div>
					</div>
				</div>	
				<!-- 7 -->
				<div class="col-8  p-0 mb-3 mb-xl-4">
					<div class="question">
						<div class="number"><span>7</span></div>
						<div class="text-container">
							<span>Grandma<span class="input-span"><input type="text" class="seventh"></span><div class="answer-div"><span>reads</span></div></span>
								
						</div>
					</div>
				</div>
				<div class="col-4 p-0">
						<div class="helpbox-container seventh">
							<div class="helpans"><div class="help"><span>read</span></div></div>
							<div class="helpans"><div class="help"><span>reads</span></div></div>
						</div>
				</div>		
				<!-- 8 -->
				<div class="col-8  p-0 mb-3 mb-xl-4">
					<div class="question">
						<div class="number"><span>8</span></div>
						<div class="text-container">
							<span>The boys <span class="input-span"><input type="text" class="eighth"></span><div class="answer-div"><span>play</span></div></span>
								
						</div>
					</div>
				</div>
				<div class="col-4 p-0">
						<div class="helpbox-container eighth">
							<div class="helpans"><div class="help"><span>play</span></div></div>
							<div class="helpans"><div class="help"><span>plays</span></div></div>
						</div>
				</div>	
				<!-- 9 -->
				<div class="col-8  p-0 mb-3 mb-xl-4">
					<div class="question">
						<div class="number"><span>9</span></div>
						<div class="text-container">
							<span>Dad<span class="input-span"><input type="text" class="nineth"></span><div class="answer-div"><span>travels</span></div></span>
								
						</div>
					</div>
				</div>
				<div class="col-4 p-0">
						<div class="helpbox-container nineth">
							<div class="helpans"><div class="help"><span>travel</span></div></div>
							<div class="helpans"><div class="help"><span>travels</span></div></div>
						</div>
				</div>		
				<!-- 8 -->
				<div class="col-8  p-0 mb-3 mb-xl-4">
					<div class="question">
						<div class="number"><span>10</span></div>
						<div class="text-container">
							<span>Green plants<span class="input-span"><input type="text" class="tenth"></span><div class="answer-div"><span>make</span></div></span>
								
						</div>
					</div>
				</div>
				<div class="col-4 p-0">
						<div class="helpbox-container tenth">
							<div class="helpans"><div class="help"><span>make</span></div></div>
							<div class="helpans"><div class="help"><span>makes</span></div></div>
						</div>
				</div>	
				<!-- end -->
			</div>
		 </div>
			<div class="btn-row col-12">
				<button class="button myButton">Submit</button>
			</div>
		</div>	
	</div>
</div>