<div class="bg"  ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
    <div class="loadingDiv">
	</div>
	
    <div class="container">
		<div class="heading pt-2 pt-lg-3">
			<h1>Click on the blanks and then click on the correct alphabets from the help box, to form Rhyming Words.</h1>
		</div>
        <div class="Main_Container">
            <div class="Question_Container">
                <div class="Question_Row">
                    <div class="number">1)</div>
                    <div class="content">
                        <div class="Question">did</div>
                        <div class="Question">hi<div class="input_div"><input type="text"><div class="correct_answer"><span>d</span></div></div></div>
                        <div class="Question">l<div class="input_div"><input type="text"><div class="correct_answer"><span>i</span></div></div>d</div>
                        <div class="Question"><div class="input_div"><input type="text"><div class="correct_answer"><span>k</span></div></div>id</div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="number">2)</div>
                    <div class="content">
                        <div class="Question">fun</div>
                        <div class="Question">n<div class="input_div"><input type="text"><div class="correct_answer"><span>u</span></div></div>n</div>
                        <div class="Question"><div class="input_div"><input type="text"><div class="correct_answer"><span>b</span></div></div>un</div>
                        <div class="Question">pu<div class="input_div"><input type="text"><div class="correct_answer"><span>n</span></div></div></div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="number">3)</div>
                    <div class="content">
                        <div class="Question">cow</div>
                        <div class="Question">ho<div class="input_div"><input type="text"><div class="correct_answer"><span>w</span></div></div></div>
                        <div class="Question">w<div class="input_div"><input type="text"><div class="correct_answer"><span>o</span></div></div>w</div>
                        <div class="Question">bro<div class="input_div"><input type="text"><div class="correct_answer"><span>w</span></div></div></div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="number">4)</div>
                    <div class="content">
                        <div class="Question">kick</div>
                        <div class="Question">pi<div class="input_div"><input type="text"><div class="correct_answer"><span>c</span></div></div>k</div>
                        <div class="Question"><div class="input_div"><input type="text"><div class="correct_answer"><span>l</span></div></div>ick</div>
                        <div class="Question">qu<div class="input_div"><input type="text"><div class="correct_answer"><span>i</span></div></div>ck</div>
                    </div>
                </div>
                <div class="Question_Row fifth">
                    <div class="number">5)</div>
                    <div class="content">
                        <div class="Question">bill</div>
                        <div class="Question first_Block"><div class="input_div"><input type="text" class="multiple"><div class="correct_answer"><span>k / h</span></div></div>ill</div>
                        <div class="Question">g<div class="input_div"><input type="text"><div class="correct_answer"><span>i</span></div></div>ll</div>
                        <div class="Question">ti<div class="input_div"><input type="text"><div class="correct_answer"><span>l</span></div></div>l</div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="number">6)</div>
                    <div class="content">
                        <div class="Question">ride</div>
                        <div class="Question"><div class="input_div"><input type="text"><div class="correct_answer"><span>h</span></div></div>ide</div>
                        <div class="Question">ti<div class="input_div"><input type="text"><div class="correct_answer"><span>d</span></div></div>e</div>
                        <div class="Question">w<div class="input_div"><input type="text"><div class="correct_answer"><span>i</span></div></div>de</div>
                    </div>
                </div>
            </div>
            <div class="Option_Container">
                <div class="Option_Block">
                    <div class="options">
                        <div class="empty one"></div>
                        <div class="option two">c</div>
                        <div class="empty three"></div>
                        <div class="option four">w</div>
                        <div class="option five">o</div>
                        <div class="option six">b</div>
                        <div class="option seven">u</div>
                        <div class="option eight">h</div>
                        <div class="option nine">i</div>
                        <div class="option ten">k</div>
                        <div class="option eleven">d</div>
                        <div class="option twelve">n</div>
                        <div class="empty thirteen"></div>
                        <div class="option fourteen">l</div>
                        <div class="empty fifteen"></div>
                    </div>
                </div>
            </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
    </div>
</div>
