@font-face {
    font-family: "CustomFont";
    src: url(http://completegrammar.com/assets/font/ARLRDBD.ttf) format("truetype");
}
@font-face {
    font-family: "CustomFontBold";
    src: url(http://completegrammar.com/assets/font/ntailub.ttf) format("truetype");
}

.bg {
    min-height: 100vh;
    background: url(http://completegrammar.com/assets/std03-capital-letter-worksheet1/img/bg.jpg) no-repeat, #aee1f4;
    background-size: 100% 100%;
    background-position: bottom;
    overflow-x: hidden;
    font-family: 'CustomFont', 'Microsoft New Tai Lue', 'Arial';
    color: #000;
    font-size: 22px;
}

.myButton {
    -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
    -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
    background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437', GradientType=0);
    background-color: #c62d1f;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    /* font-size:17px; */
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
    line-height: 1;
    outline: 0 !important;
}

.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
    background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f', GradientType=0);
    background-color: #f24437;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.right {
    text-decoration: underline;
    color: #35b92c;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    -webkit-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    -moz-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    text-transform: capitalize;
}

.helpbox-ans span {
    font-size: 30px;
    color: #000 !important;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    line-height: 100px;
}

.helpbox-ans .dot {
    line-height: 92px;
}

.helpbox-ans .comma {
    line-height: 90px;
}

.form-contain {
    display: grid;
    grid-template-columns: 40px auto;
    margin-bottom: 15px;
}

/* .text-container
{
    margin: auto 0px;
} */
.heading {
    border: 4px solid #fff;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
    display: inline-block;
}

h2 {
    color: #000;
    background: rgba(255, 255, 255, 0.5);
}

input {
    border: 0;
    padding: 0;
    background: transparent;
    outline: 0;
    width: 28px;
    height: 28px;
    text-align: center;
    cursor: pointer;
}

.Main_Container {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 12%;
}

.input-span {
    /* background-image: url(/assets/std03-capital-letter-worksheet1/img/input.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 5px; */
    display: inline-block;
    border: 3px solid #f376aa;
    border-radius: 50%;
    line-height: 1;
}

.answer-span {
    font-family: 'CustomFontBold', 'Microsoft New Tai Lue', 'Arial';
    position: absolute;
    border: 1px solid #000;
    background: #fff;
    color: #35b92c;
    text-align: center;
    -webkit-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    -moz-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    display: inline-block;
    border-radius: 10px;
    width: 30px;
    height: 28px;
    line-height: 14px;
    margin-left: 5px;
    font-size: 40px;
    display: none;
}

.number-box {

    grid-template-columns: 40px;
    height: 40px;
    background-position: 0px 0px;
    text-align: center;
    /* line-height: 2em; */
}

.helpbox-ans {
    background-image: url(/assets/std03-capital-letter-worksheet1/img/helpbox.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.helpbox {
    width: 37%;
    margin: 0 auto;
    text-align: center;
}

.correct-ans {
    text-decoration: underline;
    color: green;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.underlined {
    text-decoration: underline;
}

.text-container span {
    cursor: pointer;
}

@media (min-width:100px) and (max-width:575px) {
    .bg {
        background: url(http://completegrammar.com/assets/std03-capital-letter-worksheet1/img/bg_portrait.jpg) no-repeat;
        background-size: 100% 100%;
        background-position: bottom;
        font-size: 15px;
    }

    h2 {

        font-size: 20px;
        padding-left: 5px;
    }

    .helpbox {
        width: 95%;
        margin-left: -5px;
        margin: 35px 0;
        position: fixed;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
    }

    .form-contain {
        display: grid;
        grid-template-columns: 25px auto;
        margin-bottom: 5px;
    }

    .number-box {
        grid-template-columns: 25px;
        height: 25px;
        width: 25px;
        background-position: 0px 0px;
    }

    .answer-span {
        width: 27px;
        height: 22px;
        line-height: 8px;
        margin-left: 5px;
        font-size: 30px
    }

    .helpbox-ans {
        width: 78px;
        height: 75px;
    }

    input {
        width: 21px;
        height: 21px;
    }

    .helpbox-ans span {
        font-size: 25px;
        line-height: 81px;
    }

    .helpbox-ans .dot {
        line-height: 74px;
    }

    .helpbox-ans .comma {
        line-height: 71px;
    }

    .text-container {
        width: 96%;
    }

    .Main_Container {
        padding-bottom: 46%;
        width: 79%;
        margin-top: 130px;
    }

    .input-span {
        background-position: 0px 0px;
    }


}

@media (min-width:100px) and (max-width:340px) {
    .bg {
        font-size: 13px;
    }

    .Main_Container {
        width: 95%;
        margin-top: 90px;
        width: 83%;
    }

    .helpbox {
        margin: unset;
        width: 90%;
        left: 47%;
    }

    .text-container {
        width: 94%;
    }
    .helpbox-ans {
        width: 65px;
        height: 60px;
    }
    .helpbox-ans span {
        font-size: 20px;
        line-height: 65px;
    }
    .helpbox-ans .comma {
        line-height: 50px;
        font-size: 24px;
    }
    .helpbox-ans .dot {
        line-height: 55px;
        font-size: 24px;
    }
}

/* @media (min-width:370px) and (max-width:399px){
.Main_Container {
    padding-bottom: 54%;
    width: 75%;
}

}
@media (min-width:400px) and (max-width:564px){
    .Main_Container {
        padding-bottom: 41%;
        width: 63%;
    }
    .text-container {
        width: 87%;
    }

} */

@media (min-width:565px) and (max-width:575px) {
    .helpbox {
        width: 67%;
        // margin-left: 80px;
        // margin: 52px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .bg {
        font-size: 17px;
    }

    h2 {
        font-size: 22px;
    }

    .helpbox {
        width: 58%;
        position: fixed;
        z-index: 2;
        left: 46%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-top: -21px;
    }

    .helpbox-ans {
        width: 89px;
        height: 88px;
    }

    .form-contain {
        display: grid;
        grid-template-columns: 30px auto;
        margin-bottom: 5px;
    }

    .number-box {
        grid-template-columns: 30px;
        height: 30px;
        background-position: 0px 0px;
        width: 30px;
    }

    input {
        width: 22px;
        height: 22px;
    }

    .answer-span {
        width: 30px;
        height: 24px;
        line-height: 8px;
        margin-left: 5px;

    }

    .Main_Container {
        width: 83%;
        margin: 0 auto;
        padding-bottom: 19%;
        margin-top: 120px;
    }

    .helpbox-ans span {
        font-size: 27px;
        line-height: 92px;
    }

    .helpbox-ans .dot {
        line-height: 80px;
    }

    .helpbox-ans .comma {
        line-height: 77px;
    }

    .text-container {
        width: 93%
    }

    .input-span {
        background-position: unset;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    h2 {
        font-size: 1.8rem;
    }
    .bg {
        font-size: 18px;
    }

    .number-box {
        grid-template-columns: 25px;
        height: 25px;
        background-position: 0px 0px;
        width: 25px;
    }

    input {
        width: 24px;
        height: 24px;
    }

    .answer-span {
        width: 30px;
        height: 25px;
        line-height: 8px;
        margin-left: 5px;

    }

    .Main_Container {
        padding-bottom: 17%;
        margin-top: 90px;
    }

    .helpbox {
        width: 58%;
        margin: -30px auto;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    .helpbox-ans {
        width: 100px;
    }

    .helpbox-ans span {
        font-size: 30px;
        line-height: 100px;
    }

    .helpbox-ans .dot {
        line-height: 88px;
    }

    .helpbox-ans .comma {
        line-height: 86px;
    }

    .input-span {
        background-position: unset;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .bg {
        font-size: 20px;
    }

    .helpbox-ans {
        width: 120px;
        height: 115px;
    }

    .number-box {
        grid-template-columns: 30px;
        height: 30px;
        background-position: 0px 0px;
        width: 30px;
    }

    .helpbox-ans span {
        font-size: 32px;
        line-height: 122px;
    }

    .helpbox-ans .dot {
        line-height: 109px;
    }

    .helpbox-ans .comma {
        line-height: 109px;
    }

    input {
        width: 30px;
    }

    .input-span {
        background-position: unset
    }

    .text-container {
        width: 100%;
    }

    .helpbox {
        width: 53%;
    }

    .Main_Container {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 12%;
    }

    .helpbox {
        position: fixed;
        left: 50%;
        transform: translateX(-50%) translateY(-23%);
        z-index: 2;
    }

    .Main_Container {
        margin-top: 125px;
    }

    .form-contain {
        grid-template-columns: 35px auto;
    }

}

@media (min-width: 1200px) {
    .helpbox {
        position: fixed;
        left: 50%;
        transform: translateX(-50%) translateY(-8%);
        z-index: 2;
        margin-top: -5px;
    }

    .Main_Container {
        margin-top: 125px;
    }
}

@media (min-width: 992px) {}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    h2 {
        font-size: 2.4rem;
        padding: 5px;
    }

    .input-span {
        border: 5px solid #f376aa;
    }

    .helpbox-ans {
        width: 130px;
        height: 120px;
    }

    .helpbox-ans span {
        font-size: 35px;
        line-height: 130px;
    }
    .helpbox-ans .comma {
        line-height: 110px;
    }
    .helpbox-ans .dot {
        line-height: 110px;
    }

    .bg {
        background: url(http://completegrammar.com/assets/std03-capital-letter-worksheet1/img/bg_portrait.jpg) no-repeat;
        background-size: 100% 100%;
        background-position: bottom;
        font-size: 27px;
    }

    .number-box {
        grid-template-columns: 40px;
        height: 40px;
        background-position: 0px 0px;
        width: 40px;
    }

    input {
        width: 36px;
        height: 36px;
    }

    .answer-span {
        width: 36px;
        height: 34px;
        line-height: 18px;
        margin-left: 5px;

    }

    .Main_Container {
        width: 78%;
        padding-bottom: 25%;
        margin-top: 180px;
    }

    .helpbox {
        width: 70%;
        margin: 35px auto;
    }
}

/* Landscape */
@media only screen and (min-width: 1366px) and (orientation: landscape) {}

/*Portrait*/
@media only screen and (min-width: 1024px) and (orientation: portrait) {
    .bg {
        font-size: 30px;
    }

    h2 {
        font-size: 45px;
    }

    .number-box {
        grid-template-columns: 45px;
        height: 45px;
        background-position: 0px 0px;
        width: 45px;
    }

    input {
        width: 42px;
    }

    .answer-span {
        width: 36px;
        height: 32px;
        line-height: 13px;
        margin-left: 5px;
    }

    .form-contain {
        grid-template-columns: 50px auto;
        margin-bottom: 30px;
    }

    .Main_Container {
        width: 80%;
        margin-top: 180px;
    }

    .helpbox {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        width: 65%;
        margin: 43px auto;
        margin-top: 2px;
    }

    .helpbox-ans {
        width: 140px;
        height: 140px;
    }

    h2 {
        color: #000;
        font-size: 46px;
        padding: 10px;
    }

    .helpbox-ans span {
        font-size: 42px;
        line-height: 140px;
    }
    .helpbox-ans .comma {
        line-height: 120px;
    }
    .helpbox-ans .dot {
        line-height: 120px;
    }
}

@media(min-width:1900px) {
    .container {
        transform: scale(1.3);
        padding-top: 137px;
    }

    .Main_Container {
        padding-bottom: 4%;
    }
    .Main_Container {
        margin-top: 90px;
    }
    .helpbox {
        margin-top: -30px;
    }
    .bg {
        min-height: 115vh;
    }
}

// External CSS End

// Common CSS Start
.loadingDiv {
    position: fixed;
    ;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    background-image:url('/assets/images/loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000000;
    background-size: 85px;
}

.result {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 2147483647;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}

.result .Box {
    position: relative;
    padding: 45px 55px 30px 20px
}

.result .imgBox {
    display: none;
}

.result img {
    max-width: 100%;
}

.result .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.result .TextBox h1 {
    font-size: 2.5rem;
    font-family: 'CustomFont','Microsoft New Tai Lue','Arial';
    margin-top: 0;
	font-weight: normal;
    text-align: center;
    color: #fff;
    -webkit-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
    -moz-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
    padding: 10%;
    max-width: 800px;
}

@media(min-width:100px) and (max-width:575px) {
    .result .Box {
        padding: 45px 20px 30px 20px;
    }

    .result .close {
        right: 15px;
    }
}

@media(min-width:576px) and (max-width:767px) {
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
}

.myButton {
    -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
    -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
    background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437', GradientType=0);
    background-color: #c62d1f;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: inherit;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
    line-height: 1;
    outline: 0 !important;
}

.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
    background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f', GradientType=0);
    background-color: #f24437;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.button.playAgain {
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background: -moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: -webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: -o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: -ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23', GradientType=0);
    background-color: #ffec64;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: inherit;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

.button.playAgain:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
    background: -moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64', GradientType=0);
    background-color: #ffab23;
}

.button.playAgain:active {
    position: relative;
    top: 1px;
}


#toggle {
    display: block;
    right: 56px;
    top: 35px;
    background: #f3ecec;
    border-radius: 50%;
    border: 4px solid #3b7ee2;
    opacity: 0.7;
    text-align: center;
    padding: 10px;

}

#toggle:hover {
    opacity: 1;
    border: 4px solid #3b7ee2;

}

#toggle span:after,
#toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}

#toggle span:after {
    top: 9px;
}

#toggle span {
    position: relative;
    display: inline;
}

#toggle span {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 0%;
}

#toggle span img {
    width: 25px;
    height: 25px;
    margin: 0;
}

/* on activation */
#toggle.on span {
    background-color: transparent;
}

#toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}

#toggle.on+#menu {
    opacity: 1;
    visibility: visible;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/* menu appearance*/
#menu {
    position: absolute;
    color: #000;
    width: 140px;
    padding: 10px;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0px 3px 11px 1px rgba(27, 24, 24, 0.24);
    font-size: 16px;
    left: -190%;
    z-index: 9;
    text-align: right;
    top: 145%;
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.change {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
}

.notchange {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#menu:after {
    position: absolute;
    top: -20px;
    left: 107px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #ffffff;
}

ul,
li,
li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-weight: normal;
}

li a {
    padding: 5px;
    color: #000;
    text-decoration: none;
    transition: all .2s;
}

li a:hover,
li a:focus {
    background: #1798dc;
    color: #fff;
    text-decoration: none;
}

.menu-block {
    position: fixed;
    right: 46px;
    top: 35px;
    z-index: 2147483646;
    height: 50px;
}

.up {
    transform: rotate(180deg) translateY(0%);
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
        visibility: hidden;
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
        visibility: hidden;
    }
}

@media(min-width:100px) and (max-width:575px) {
    .menu-block {
        right: 10px;
    }

    #toggle {
        padding: 5px;
    }

    #menu {
        top: 123%;
        left: -235%;
    }
}

@media(min-width:576px) and (max-width:767px) {
    .menu-block {
        right: 10px;
    }

    #toggle {
        padding: 5px;
    }

    #menu {
        top: 123%;
        left: -235%;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .menu-block {
        right: 10px;
    }

    #toggle {
        padding: 5px;
    }

    #menu {
        top: 123%;
        left: -235%;
    }
}

@media(min-width:992px) and (max-width:1199px) {
    .menu-block {
        right: 10px;
    }

    #menu:after {
        left: 140px;
    }

    #menu {
        font-size: 18px;
        left: -240%;
        top: 140%;
        width: 175px;
    }

    #toggle {
        height: 53px;
        width: 53px;
        line-height: 48px;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    #menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 26px;
    }

    #toggle {
        height: 60px;
        width: 60px;
        line-height: 55px;
        padding: 10px;
    }

    .menu-block {
        right: 20px;
    }

    #menu:after {
        left: 205px;
    }

    #toggle span img {
        width: 33px;
        height: 33px;
        margin: 0;
    }
}

@media only screen and (min-width: 1024px) and (orientation: portrait) {
    #menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 30px;
    }
}

@media(min-width:1200px) {
    #menu {
        top: 70px;
        left: -135px;
        width: 180px;
        font-size: 18px;
    }

    #menu:after {
        left: 145px;
    }

    #toggle {
        height: 55px;
        width: 55px;
        line-height: 50px;
    }
}


.font-weight-bold {
    font-weight: normal !important;
}

.bd {
    border-color: #35b92c;
}

.hide {
    display: none;
}

.correct1 {
    color: #20bb15 !important;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    -webkit-text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    -moz-text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.correct_bordered {
    color: #20bb15 !important;
    -webkit-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    -moz-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    text-decoration: underline;
}
