<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
			<img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>

    <div class="loadingDiv">
    </div>

    <div class="container">
        <div class="row">
            <div class="heading mt-3">
                <h1>
                    <!-- Unscramble the alphabets in the brackets to form compound
                    words. Use the help box of words given. -->
                    Click on the blanks and then click on the correct words from the help box of clouds to form Compound
                    Words. Use the jumbled alphabets as clues.
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 Option_Container">
                <div class="options">
                    <div class="option">
                        <img src="assets/std03-compound-word-worksheet5/img/cloud.png" alt="" class="">
                        <span>arm</span>
                    </div>
                    <div class="option">
                        <img src="assets/std03-compound-word-worksheet5/img/cloud.png" alt="" class="">
                        <span>less</span>
                    </div>
                    <div class="option">
                        <img src="assets/std03-compound-word-worksheet5/img/cloud.png" alt="" class="">
                        <span>book</span>
                    </div>
                    <div class="option">
                        <img src="assets/std03-compound-word-worksheet5/img/cloud.png" alt="" class="">
                        <span>way</span>
                    </div>

                    <div class="option">
                        <img src="assets/std03-compound-word-worksheet5/img/cloud.png" alt="" class="">
                        <span>cake</span>
                    </div>
                    <div class="option">
                        <img src="assets/std03-compound-word-worksheet5/img/cloud.png" alt="" class="">
                        <span>walk</span>
                    </div>
                    <div class="option">
                        <img src="assets/std03-compound-word-worksheet5/img/cloud.png" alt="" class="">
                        <span>side</span>
                    </div>
                    <div class="option">
                        <img src="assets/std03-compound-word-worksheet5/img/cloud.png" alt="" class="">
                        <span>due</span>
                    </div>

                    <div class="option empty">
                    </div>
                    <div class="option">
                        <img src="assets/std03-compound-word-worksheet5/img/cloud.png" alt="" class="">
                        <span>body</span>
                    </div>
                    <div class="option">
                        <img src="assets/std03-compound-word-worksheet5/img/cloud.png" alt="" class="">
                        <span>set</span>
                    </div>
                    <div class="option empty">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 Question_Container">
                <div class="ballonDiv first">
                    <img src="assets/std03-compound-word-worksheet5/img/blue_balloon.png" alt="" class="balloon">
                    <div class="Question">
                        <div class="number">1)</div>
                        <div class="content">
                            <span>fire</span><input type="text">
                            <div class="correct_answer"><span>arm</span></div>
                            <div class="bracket"><span>(mra)</span></div>
                        </div>
                    </div>
                </div>
                <div class="ballonDiv second">
                    <img src="assets/std03-compound-word-worksheet5/img/red_balloon.png" alt="" class="balloon">
                    <div class="Question">
                        <div class="number">2)</div>
                        <div class="content">
                            <span>up</span><input type="text">
                            <div class="correct_answer"><span>set</span></div>
                            <div class="bracket"><span>(tse)</span></div>
                        </div>
                    </div>
                </div>
                <div class="ballonDiv third">
                    <img src="assets/std03-compound-word-worksheet5/img/orange_balloon.png" alt="" class="balloon">
                    <div class="Question">
                        <div class="number">3)</div>
                        <div class="content">
                            <span>end</span><input type="text">
                            <div class="correct_answer"><span>less</span></div>
                            <div class="bracket"><span>(sels)</span></div>
                        </div>
                    </div>
                </div>
                <div class="ballonDiv fourth">
                    <img src="assets/std03-compound-word-worksheet5/img/red_balloon.png" alt="" class="balloon">
                    <div class="Question">
                        <div class="number">4)</div>
                        <div class="content">
                            <span>door</span><input type="text">
                            <div class="correct_answer"><span>way</span></div>
                            <div class="bracket"><span>(ywa)</span></div>
                        </div>
                    </div>
                </div>
                <div class="ballonDiv fifth">
                    <img src="assets/std03-compound-word-worksheet5/img/blue_balloon.png" alt="" class="balloon">
                    <div class="Question">
                        <div class="number">5)</div>
                        <div class="content">
                            <span>back</span><input type="text">
                            <div class="correct_answer"><span>side</span></div>
                            <div class="bracket"><span>(desi)</span></div>
                        </div>
                    </div>
                </div>
                <div class="ballonDiv sixth">
                    <img src="assets/std03-compound-word-worksheet5/img/red_balloon.png" alt="" class="balloon">
                    <div class="Question">
                        <div class="number">6)</div>
                        <div class="content">
                            <span>work</span><input type="text">
                            <div class="correct_answer"><span>book</span></div>
                            <div class="bracket"><span>(obko)</span></div>
                        </div>
                    </div>
                </div>
                <div class="ballonDiv seventh">
                    <img src="assets/std03-compound-word-worksheet5/img/orange_balloon.png" alt="" class="balloon">
                    <div class="Question">
                        <div class="number">7)</div>
                        <div class="content">
                            <span>side</span><input type="text">
                            <div class="correct_answer"><span>walk</span></div>
                            <div class="bracket"><span>(lkaw)</span></div>
                        </div>
                    </div>
                </div>
                <div class="ballonDiv eighth">
                    <img src="assets/std03-compound-word-worksheet5/img/blue_balloon.png" alt="" class="balloon">
                    <div class="Question">
                        <div class="number">8)</div>
                        <div class="content">
                            <span>over</span><input type="text">
                            <div class="correct_answer"><span>due</span></div>
                            <div class="bracket"><span>(eud)</span></div>
                        </div>
                    </div>
                </div>
                <div class="ballonDiv nineth">
                    <img src="assets/std03-compound-word-worksheet5/img/red_balloon.png" alt="" class="balloon">
                    <div class="Question">
                        <div class="number">9)</div>
                        <div class="content">
                            <span>no</span><input type="text">
                            <div class="correct_answer"><span>body</span></div>
                            <div class="bracket"><span>(ybdo)</span></div>
                        </div>
                    </div>
                </div>
                <div class="ballonDiv tenth">
                    <img src="assets/std03-compound-word-worksheet5/img/orange_balloon.png" alt="" class="balloon">
                    <div class="Question">
                        <div class="number">10)</div>
                        <div class="content">
                            <span>pan</span><input type="text">
                            <div class="correct_answer"><span>cake</span></div>
                            <div class="bracket"><span>(eack)</span></div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="btn-row">
            <button class="button myButton">Submit</button>
        </div>

    </div>

</div>