<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
		<div class="Box">
			<div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    <div class="loadingDiv">
    </div>
	<div class="container">
		<div class="row">
			<div class="col-12 px-2 p-2 mt-3 mb-3">
				<h2>
					Click on the blanks and then click on the correct Synonyms from the help box of leaves, of the given words. 
					Then mark them in the word search.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="main-question-container">
					<div class="left">
						<div class="helpbox-container">
							<div class="picture unhappy">
								<img src="assets/std01-synonyms-worksheet8/img/helpbox-unhappy.png" alt="" class="img-fluid">
								<div>unhappy</div>
							</div>
							<div class="picture chilly">
								<img src="assets/std01-synonyms-worksheet8/img/helpbox-chilly.png" alt="" class="img-fluid">
								<div>chilly</div>
							</div>
							
						</div>
						<div class="question-container">
							<!-- 1 -->
							<div class="question">
								<div class="number"><span>1)</span></div>
								<div class="text-container"><span>neat</span></div>
								<div class="cross"><span>-</span></div>
								<div class="input-div">
									<span class="input-span"><input type="text"></span>
									<div class="answer"><span>tidy</span></div>
								</div>
							</div>
							<!-- 2 -->
							<div class="question">
								<div class="number"><span>3)</span></div>
								<div class="text-container"><span>sad</span></div>
								<div class="cross"><span>-</span></div>
								<div class="input-div">
									<span class="input-span"><input type="text"></span>
									<div class="answer"><span>unhappy</span></div>
								</div>
							</div>
							<!-- 3 -->
							<div class="question">
								<div class="number"><span>5)</span></div>
								<div class="text-container"><span>below</span></div>
								<div class="cross"><span>-</span></div>
								<div class="input-div">
									<span class="input-span"><input type="text"></span>
									<div class="answer"><span>under</span></div>
								</div>
							</div>
							<!-- 4 -->
							<div class="question">
								<div class="number"><span>7)</span></div>
								<div class="text-container"><span>choose</span></div>
								<div class="cross"><span>-</span></div>
								<div class="input-div">
									<span class="input-span"><input type="text"></span>
									<div class="answer"><span>select</span></div>
								</div>
							</div>
							<!-- end -->
						</div>
						<div class="helpbox-container">
							<div class="picture middle">
								<img src="assets/std01-synonyms-worksheet8/img/helpbox-middle.png" alt="" class="img-fluid">
								<div>middle</div>
							</div>
							
							<div class="picture ill">
								<img src="assets/std01-synonyms-worksheet8/img/helpbox-ill.png" alt="" class="img-fluid">
								<div>ill</div>
							</div>
						</div>
					</div>
					<div class="middle-puzzle">
						<div class="puzzle-container">
							<!-- first Row -->
							<div class="option_row">
								<div class="option">J</div>
								<div class="option green">I</div>
								<div class="option green">L</div>
								<div class="option green">L</div>
								<div class="option">Q</div>
								<div class="option">T</div>
								<div class="option">V</div>
								<div class="option">Z</div>
								<div class="option">E</div>
								<div class="option green">U</div>
								<div class="line ill_line"></div>

							</div>
							 <!-- second Row -->
							 <div class="option_row">
								<div class="option">P</div>
								<div class="option">W</div>
								<div class="option">Q</div>
								<div class="option">R</div>
								<div class="option">O</div>
								<div class="option">N</div>
								<div class="option">P</div>
								<div class="option">A</div>
								<div class="option">T</div>
								<div class="option green">N</div>
							</div>
							 <!-- three Row -->
							 <div class="option_row">
									<div class="option">Q</div>
									<div class="option green">M</div>
									<div class="option green">I</div>
									<div class="option green">S</div>
									<div class="option green">T</div>
									<div class="option green">A</div>
									<div class="option green">K</div>
									<div class="option green">E</div>
									<div class="option">M</div>
									<div class="option green">H</div>
									<div class="line mistake_line"></div>
							</div>
							<!-- four Row -->
							<div class="option_row">
									<div class="option green">U</div>
									<div class="option">G</div>
									<div class="option">A</div>
									<div class="option green">C</div>
									<div class="option">K</div>
									<div class="option">D</div>
									<div class="option">N</div>
									<div class="option">G</div>
									<div class="option green">S</div>
									<div class="option green">A</div>
							</div>
							  <!-- five Row -->
							  <div class="option_row">
									<div class="option green">N</div>
									<div class="option">L</div>
									<div class="option">Z</div>
									<div class="option green">H</div>
									<div class="option">I</div>
									<div class="option">H</div>
									<div class="option">J</div>
									<div class="option">C</div>
									<div class="option green">E</div>
									<div class="option green">P</div>
							</div>
							 <!-- six Row -->
							 <div class="option_row">
									<div class="option green">D</div>
									<div class="option">R</div>
									<div class="option green">T</div>
									<div class="option green">I</div>
									<div class="option green">D</div>
									<div class="option green">Y</div>
									<div class="option">I</div>
									<div class="option">W</div>
									<div class="option green">L</div>
									<div class="option green">P</div>
									<div class="line tidy_line"></div>
							</div>
							 <!-- seven Row -->
							 <div class="option_row">
									<div class="option green">E</div>
									<div class="option">N</div>
									<div class="option">P</div>
									<div class="option green">L</div>
									<div class="option">Q</div>
									<div class="option">O</div>
									<div class="option">Z</div>
									<div class="option">E</div>
									<div class="option green">E</div>
									<div class="option green">Y</div>
							</div>
							<!-- eight Row -->
							<div class="option_row">
								<div class="option green">R</div>
								<div class="option">P</div>
								<div class="option">E</div>
								<div class="option green">L</div>
								<div class="option">X</div>
								<div class="option">P</div>
								<div class="option">M</div>
								<div class="option">S</div>
								<div class="option green">C</div>
								<div class="option">Z</div>
						</div>
						 <!-- nine Row -->
						 <div class="option_row">
								<div class="option">A</div>
								<div class="option">O</div>
								<div class="option">S</div>
								<div class="option green">Y</div>
								<div class="option">U</div>
								<div class="option">A</div>
								<div class="option">T</div>
								<div class="option">N</div>
								<div class="option green">T</div>
								<div class="option">Y</div>
						</div>
						 <!-- ten Row -->
						 <div class="option_row">
								<div class="option">U</div>
								<div class="option">H</div>
								<div class="option green">M</div>
								<div class="option green">I</div>
								<div class="option green">D</div>
								<div class="option green">D</div>
								<div class="option green">L</div>
								<div class="option green">E</div>
								<div class="option">B</div>
								<div class="option">C</div>
								<div class="line middle_line"></div>
						</div>
						<div class="line under_line"></div>
						<div class="line chilly_line"></div>
						<div class="line select_line"></div>
						<div class="line unhappy_line"></div>
							<!-- end -->
						</div>
					</div>
					<div class="right">
						<div class="helpbox-container">
							<div class="picture select">
								<img src="assets/std01-synonyms-worksheet8/img/helpbox-select.png" alt="" class="img-fluid">
								<div>select</div>
							</div>
							<div class="picture mistake">
								<img src="assets/std01-synonyms-worksheet8/img/helpbox-mistake.png" alt="" class="img-fluid">
								<div>mistake</div>
							</div>
						</div>
						<div class="question-container">
							<!-- 1 -->
							<div class="question">
								<div class="number"><span>2)</span></div>
								<div class="text-container"><span>cool</span></div>
								<div class="cross"><span>-</span></div>
								<div class="input-div">
									<span class="input-span"><input type="text"></span>
									<div class="answer"><span>chilly</span></div>
								</div>
							</div>
							<!-- 2 -->
							<div class="question">
								<div class="number"><span>4)</span></div>
								<div class="text-container"><span>sick</span></div>
								<div class="cross"><span>-</span></div>
								<div class="input-div">
									<span class="input-span"><input type="text"></span>
									<div class="answer"><span>ill</span></div>
								</div>
							</div>
							<!-- 3 -->
							<div class="question">
								<div class="number"><span>6)</span></div>
								<div class="text-container"><span>centre</span></div>
								<div class="cross"><span>-</span></div>
								<div class="input-div">
									<span class="input-span"><input type="text"></span>
									<div class="answer"><span>middle</span></div>
								</div>
							</div>
							<!-- 4 -->
							<div class="question">
								<div class="number"><span>8)</span></div>
								<div class="text-container"><span>error</span></div>
								<div class="cross"><span>-</span></div>
								<div class="input-div">
									<span class="input-span"><input type="text"></span>
									<div class="answer"><span>mistake</span></div>
								</div>
							</div>
							<!-- end -->
						</div>
						<div class="helpbox-container">
							<div class="picture tidy">
								<img src="assets/std01-synonyms-worksheet8/img/helpbox-tidy.png" alt="" class="img-fluid">
								<div>tidy</div>
							</div>
							
							<div class="picture under">
								<img src="assets/std01-synonyms-worksheet8/img/helpbox-under.png" alt="" class="img-fluid">
								<div>under</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-row">
				<button class="button myButton">Submit</button>
			</div>
		</div>
  </div>
</div> 
