<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
            <img src="" alt="" class="Text keep-practicing hide">
            <img src="" alt="" class="Text outstanding hide">
            <img src="" alt="" class="Text brilliant hide">
            <img src="" alt="" class="Text good-work hide">
            <!-- <img src="" alt="" class="Text fabulous hide"> -->
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
          <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
      <div class="heading">
          <h1>Click in the boxes and then click on the correct Antonyms from the help box,
              to complete the postcard.
          </h1>
      </div>
      <div class="Main_Container">
          <div class="Question_Container position-relative">
              <span class="first">Hi Kelly!</span>
              <span class="second">I<span class="comma">’</span>m having a <div class="replace_word">
                      <div class="box" data-text="long">long</div>
                      <div class="answer">short</div>
                  </div> holiday in San Francisco. I came <div class="replace_word">
                      <div class="box" data-text="there">there</div>
                      <div class="answer">here</div>
                  </div> with my mom and dad. There are <div class="replace_word">
                      <div class="box" data-text="few">few</div>
                      <div class="answer">many</div>
                  </div> places to visit here. Yesterday<span class="comma">,</span> we drove <div class="replace_word">
                      <div class="box" data-text="up">up</div>
                      <div class="answer">down</div>
                  </div> the <div class="replace_word">
                      <div class="box" data-text="straight">straight</div>
                      <div class="answer">crooked</div>
                  </div> street. Then, we <div class="replace_word">
                      <div class="box" data-text="ran">ran</div>
                      <div class="answer">walked</div>
                  </div> upto Coit tower. The weather was <div class="replace_word">
                      <div class="box" data-text="rainy">rainy</div>
                      <div class="answer">sunny</div>
                  </div> so we got a/an <div class="replace_word">
                      <div class="box" data-text="ugly">ugly</div>
                      <div class="answer">beautiful</div>
                  </div> view of the city<span class="comma">,</span> from the <div class="replace_word">
                      <div class="box" data-text="bottom">bottom</div>
                      <div class="answer">top</div>
                  </div> of the tower. I wish you were <div class="replace_word">
                      <div class="box" data-text="absent">absent</div>
                      <div class="answer">present</div>
                  </div> with me here!</span>
              <span class="second_last">See you soon!</span>
              <span class="last">Carol.</span>
          </div>
          <div class="Option_Container">
              <div class="img_Container">
                  <img src="assets/std03-antonyms-worksheet9/img/air_mail.png" alt="" class="air_mail img-fluid">
                  <img src="assets/std03-antonyms-worksheet9/img/stamp.jpg" alt="" class="stamp img-fluid">
              </div>
              <div class="options">
                  <div class="option"><span>here</span></div>
                  <div class="option"><span>top</span></div>
                  <div class="option"><span>down</span></div>
                  <div class="option"><span>beautiful</span></div>
                  <div class="option"><span>many</span></div>
                  <div class="option"><span>walked</span></div>
                  <div class="option"><span>present</span></div>
                  <div class="option"><span>short</span></div>
                  <div class="option"><span>sunny</span></div>
                  <div class="option"><span>crooked</span></div>
              </div>

          </div>

      </div>
      <div class="row m-0">
          <div class="m-auto  ">
              <button class="button myButton mb-3">Submit</button>
          </div>
      </div>
  </div>
</div>