<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
              <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide">
              <!-- <img src="" alt="" class="Text fabulous hide"> -->
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
          <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
      <div class="row m-0">
          <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
              <h2 class="font-weight-bold heading">
                  Click on the blanks and then click on the correct Plural Nouns from the
                  help box, of the words given in the brackets to complete the sentences.

              </h2>
          </div>
      </div>
    
          <div class="helpbox-container">
              <div class="helpbox-ans">
                  <span>children</span>
              </div>
              <div class="helpbox-ans">
                  <span>feet</span>
              </div>
              <div class="helpbox-ans">
                  <span>trophies</span>
              </div>
              <div class="helpbox-ans">
                  <span>dishes</span>
              </div>
              <div class="helpbox-ans">
                  <span>mice</span>
              </div>
              <div class="helpbox-ans">
                  <span>churches</span>
              </div>
              <div class="helpbox-ans">
                  <span>potatoes</span>
              </div>
              <div class="helpbox-ans">
                  <span>leaves</span>
              </div>
              <div class="helpbox-ans">
                  <span>benches</span>
              </div>
              <div class="helpbox-ans">
                  <span>babies</span>
              </div>
          </div>

          <div class="main-question-container">

              <!-- 1 -->
              <div class="question">
                  <div class="number">
                      <span>1</span>
                  </div>
                  <div class="text-container">
                      <span>Mom put the</span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>dishes</span>
                          </div>
                      </div>
                      <span>(dish) away after washing them.</span>
                  </div>
              </div>
              <!-- 2 -->
              <div class="question">
                  <div class="number">
                      <span>2</span>
                  </div>
                  <div class="text-container">
                      <span>The sack of</span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>potatoes</span>
                          </div>
                      </div>
                      <span>(potato) was ripped open by the</span>
                      <div class="input-container input-container2">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer correct-ans2">
                              <span>mice</span>
                          </div>
                      </div>
                      <span>(mouse).</span>
                  </div>
              </div>
              <!-- 3 -->
              <div class="question">
                  <div class="number">
                      <span>3</span>
                  </div>
                  <div class="text-container">
                      <span>There is a row of</span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>benches</span>
                          </div>
                      </div>
                      <span>(bench) in the garden for people to sit.</span>
                  </div>
              </div>
              <!-- 4 -->
              <div class="question">
                  <div class="number">
                      <span>4</span>
                  </div>
                  <div class="text-container">
                      <div class="input-container">
                          <span class="input-span"><input type="text" class="uppercase"></span>
                          <div class="correct-answer">
                              <span>Children</span>
                          </div>
                      </div>
                      <span>(child) love to wet their</span>
                      <div class="input-container input-container4">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer correct-ans4">
                              <span>feet</span>
                          </div>
                      </div>
                      <span>(foot) in puddles.</span>
                  </div>
              </div>
              <!-- 5 -->
              <div class="question">
                  <div class="number">
                      <span>5</span>
                  </div>
                  <div class="text-container">
                      <span>At the day care center,</span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>babies</span>
                          </div>
                      </div>
                      <span>(baby) were looked after well.</span>
                  </div>
              </div>
              <!-- 6 -->
              <div class="question">
                  <div class="number">
                      <span>6</span>
                  </div>
                  <div class="text-container">
                      <span>In autumn, the</span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>leaves</span>
                          </div>
                      </div>
                      <span>(leaf) turn brown and yellow before they fall.</span>
                  </div>
              </div>
              <!-- 7 -->
              <div class="question">
                  <div class="number">
                      <span>7</span>
                  </div>
                  <div class="text-container">
                      <span>There are many beautiful</span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>churches</span>
                          </div>
                      </div>
                      <span>(church) in the city of Rome.</span>
                  </div>
              </div>
              <!-- 8 -->
              <div class="question">
                  <div class="number">
                      <span>8</span>
                  </div>
                  <div class="text-container">
                      <span>Billy has won many</span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>trophies</span>
                          </div>
                      </div>
                      <span>(trophy) for his skills in art.</span>
                  </div>
              </div>
              <!-- end -->
              <div class="btn-row">
                  <div class="col-12 text-center">
                      <button class="button myButton">Submit</button>
                  </div>
              </div>
          </div>
    
  </div>
</div>