<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 px-2 p-2 mt-3">
        <h2 class="font-weight-bold">
          <!-- Click on the blanks and then click on the correct Synonyms from the help box, of the
					underlined words to complete the sentences. -->
          Click on the blanks and then click on the correct Synonyms from the help box, of the underlined words. Use
          the jumbled alphabets in the brackets as clues.
        </h2>
      </div>
    </div>
    <div class="row margin-auto">
      <div class="col-12 p-0">
        <div class="help-box mb-3 mb-sm-0">
          <div class="row m-0">
            <div class="col-3 p-0">
              <span>poor</span>
            </div>
            <div class="col-3 p-0">
              <span>sad</span>
            </div>
            <div class="col-3 p-0">
              <span>toss</span>
            </div>
            <div class="col-3 p-0">
              <span>dish</span>
            </div>
            <div class="col-3 p-0">
              <span>fast</span>
            </div>
            <div class="col-3 p-0">
              <span>road</span>
            </div>
            <div class="col-3 p-0">
              <span>sick</span>
            </div>
            <div class="col-3 p-0">
              <span>story</span>
            </div>
          </div>
        </div>
      </div>



      <div class="col-12 col-sm-12 p-0">
        <div class="question-container">
          <!--1
					<div class="row m-0 mb-3 mb-sm-4 mb-md-4 mb-lg-5 ">
						<div class="question-body">
							<div class="number"><span>1)</span></div>
							<div class="question-content">
								<span> <span class="span-input"></span> (sfta)</span>
							</div>
						</div>
					</div>-->
          <div class="row m-0 mb-3 mb-5 mb-sm-4 ml-xl-5">
            <div class="question-body">
              <div class="number"><span>1)</span></div>
              <div class="question-content">
                <span>Alex was <u>quick</u> in giving the answer.<span class="span-input"><input type="text" />
                    <div class="answer_container"><span class="answer">fast</span></div>
                  </span>
                  (sfta)</span>
              </div>
            </div>
          </div>
          <!--2-->
          <div class="row m-0 mb-3 mb-5 mb-3 mb-sm-4 ml-xl-5">
            <div class="question-body">
              <div class="number"><span>2)</span></div>
              <div class="question-content">
                <span>Judy slept the whole day because she was <u>ill</u>.<span class="span-input"><input type="text">
                    <div class="answer_container"><span class="answer">sick</span></div>
                  </span>
                  (cski)</span>
              </div>
            </div>
          </div>
          <!--3-->
          <div class="row m-0 mb-3 mb-5 ml-xl-5 mb-sm-4">
            <div class="question-body">
              <div class="number"><span>3)</span></div>
              <div class="question-content">
                <span> This <u>street</u> leads to the museum.<span class="span-input"><input type="text">
                    <div class="answer_container"><span class="answer">road</span></div>
                  </span>
                  (aodr)</span>
              </div>
            </div>
          </div>
          <!--4-->
          <div class="row m-0 mb-3 mb-5 ml-xl-5 mb-sm-4">
            <div class="question-body">
              <div class="number"><span>4)</span></div>
              <div class="question-content">
                <span>Greg <u>threw</u> the ball to Ben.<span class="span-input"><input type="text">
                    <div class="answer_container"><span class="answer">toss</span></div>
                  </span>
                  (sots)
                </span>
              </div>
            </div>
          </div>
          <!--5-->
          <div class="row m-0 mb-3 mb-5 ml-xl-5 mb-sm-4">
            <div class="question-body">
              <div class="number"><span>5)</span></div>
              <div class="question-content">
                <span>The assistant teacher told a lion’s <u>tale</u> to the nursery class.<span class="span-input"><input
                      type="text">
                    <div class="answer_container"><span class="answer">story</span></div>
                  </span>
                  (yotsr)</span>
              </div>
            </div>
          </div>
          <!--6-->
          <div class="row m-0 mb-3 mb-5 ml-xl-5 mb-sm-4">
            <div class="question-body">
              <div class="number"><span>6)</span></div>
              <div class="question-content">
                <span>My grandparents donate money for the <u>needy</u>.<span class="span-input"><input type="text">
                    <div class="answer_container"><span class="answer">poor</span></div>
                  </span>
                  (orpo)</span>
              </div>
            </div>
          </div>
          <!--7-->
          <div class="row m-0 mb-3  mb-5 ml-xl-5 mb-sm-4">
            <div class="question-body">
              <div class="number"><span>7)</span></div>
              <div class="question-content">
                <span> That <u>plate</u> has a beautiful design on it! <span class="span-input"><input type="text">
                    <div class="answer_container"><span class="answer">dish</span></div>
                  </span>
                  (shid)</span>
              </div>
            </div>
          </div>
          <!--8-->
          <div class="row m-0 mb-3 mb-5  ml-xl-5 mb-sm-4">
            <div class="question-body">
              <div class="number"><span>8)</span></div>
              <div class="question-content">
                <span> The pupils were <u>unhappy</u> when the holiday was cancelled. <span class="span-input"><input
                      type="text">
                    <div class="answer_container"><span class="answer">sad</span></div>
                  </span>
                  (dsa)</span>
              </div>
            </div>
          </div>
          <!--end-->
        </div>
      </div>

    </div>
    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>
  </div>


</div>