<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
    <div class="loadingDiv">
	</div>
	
    <div class="container">
		<div class="heading mt-3">
			<h1>Click in the boxes and then click on the correct Antonyms from the help box, of the given words.</h1>
		</div>
        <div class="row Main_Container">
            <div class="col-12 Option_Container">
                <div class="options">
                    <div class="option">run</div>
                    <div class="option">none</div>
                    <div class="option">below</div>
                    <div class="option">borrow</div>
                    <div class="option">pass</div>
                    <div class="option">there</div>
                    <div class="option">hate</div>
                    <div class="option">cheap</div>
                    <div class="option">south</div>
                    <div class="option">more</div>
                    <div class="option">cry</div>
                    <div class="option">wet</div>
                </div>
            </div>
            <div class="col-12 Question_Container">
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">1</div>
                        <div><div class="content">above</div></div>
                        <div><div class="input_div"><input type="text"><div class="correct_answer"><span>below</span></div></div></div>
                        
                    </div>
                    <div class="Question">
                        <div class="number">2</div>
                        <div><div class="content">laugh</div></div>
                        <div><div class="input_div"><input type="text"><div class="correct_answer"><span>cry</span></div></div></div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">3</div>
                        <div><div class="content">love</div></div>
                        <div><div class="input_div"><input type="text"><div class="correct_answer"><span>hate</span></div></div></div>
                        
                    </div>
                    <div class="Question">
                        <div class="number">4</div>
                        <div><div class="content">walk</div></div>
                        <div><div class="input_div"><input type="text"><div class="correct_answer"><span>run</span></div></div></div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">5</div>
                        <div><div class="content">dry</div></div>
                        <div><div class="input_div"><input type="text"><div class="correct_answer"><span>wet</span></div></div></div>
                        
                    </div>
                    <div class="Question">
                        <div class="number">6</div>
                        <div><div class="content">fail</div></div>
                        <div><div class="input_div"><input type="text"><div class="correct_answer"><span>pass</span></div></div></div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">7</div>
                        <div><div class="content">expensive</div></div>
                        <div><div class="input_div"><input type="text"><div class="correct_answer"><span>cheap</span></div></div></div>
                        
                    </div>
                    <div class="Question">
                        <div class="number">8</div>
                        <div><div class="content">all</div></div>
                        <div><div class="input_div"><input type="text"><div class="correct_answer"><span>none</span></div></div></div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">9</div>
                        <div><div class="content">lend</div></div>
                        <div><div class="input_div"><input type="text"><div class="correct_answer"><span>borrow</span></div></div></div>
                        
                    </div>
                    <div class="Question">
                        <div class="number">10</div>
                        <div><div class="content">north</div></div>
                        <div><div class="input_div"><input type="text"><div class="correct_answer"><span>south</span></div></div></div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">11</div>
                        <div><div class="content">less</div></div>
                        <div><div class="input_div"><input type="text"><div class="correct_answer"><span>more</span></div></div></div>
                        
                    </div>
                    <div class="Question">
                        <div class="number">12</div>
                        <div><div class="content">here</div></div>
                        <div><div class="input_div"><input type="text"><div class="correct_answer"><span>there</span></div></div></div>
                    </div>
                </div>
            </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
    </div>
</div>