<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
              <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide">
              <!-- <img src="" alt="" class="Text fabulous hide"> -->
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
    <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
      <div class="row m-0">
          <div class="col-12 col-xs-12 margin-auto p-1 mt-2  mt-lg-3 ">
              <h2 class="font-weight-bold heading1">
                  A Simile is a comparison between two Nouns using ‘as’ or ‘like’.
                  <br>A Simile is a figure of speech.
              </h2>
          </div>
          <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
              <h2 class="font-weight-bold heading">
                  Click on the Similes in the following sentences.

              </h2>
          </div>
      </div>
      <div class="main-question-container">
          <!-- 1 -->
          <div class="question">
              <div class="number">
                  <span>1</span>
              </div>
              <div class="text-container">
                  <span>Alex’s</span> <span>mother</span> <span>sings</span> <span class="right">like an angel</span>
                  <span>to</span> <span>his</span> <span>baby</span> <span>brother</span>.
              </div>
          </div>
          <!-- 2 -->
          <div class="question">
              <div class="number">
                  <span>2</span>
              </div>
              <div class="text-container">
                  <span>After</span> <span>her</span> <span>illness</span>, <span>grandma</span> <span>was</span>
                  <span class="right">as thin as a rake</span>.
              </div>
          </div>
          <!-- 3 -->
          <div class="question">
              <div class="number">
                  <span>3</span>
              </div>
              <div class="text-container">
                  <span>The</span> <span>twin</span> <span>sisters</span> <span>look</span> <span class="right">like
                      two peas in a pod</span>.
              </div>
          </div>
          <!-- 4 -->
          <div class="question">
              <div class="number">
                  <span>4</span>
              </div>
              <div class="text-container">
                  <span>The</span> <span>nurse</span> <span>was</span> <span class="right">as gentle as a lamb</span>
                  <span>while</span> <span>dressing</span> <span>the</span> <span>wound</span>.
              </div>
          </div>
          <!-- 5 -->
          <div class="question">
              <div class="number">
                  <span>5</span>
              </div>
              <div class="text-container">
                  <span>Rohan</span> <span class="right">swims like a fish</span> <span>for</span> <span>every</span>
                  <span>competition</span>.
              </div>
          </div>
          <!-- 6 -->
          <div class="question">
              <div class="number">
                  <span>6</span>
              </div>
              <div class="text-container">
                  <span>The</span> <span>new</span> <span>student</span> <span>in</span> <span>our</span>
                  <span>class</span> <span>is</span> <span class="right">as timid as a rabbit</span>.
              </div>
          </div>
          <!-- 7 -->
          <div class="question">
              <div class="number">
                  <span>7</span>
              </div>
              <div class="text-container">
                  <span>That</span> <span>pizza</span> <span>sauce</span> <span>tastes</span> <span class="right">as
                      sour as vinegar</span>.
              </div>
          </div>
          <!-- 8 -->
          <div class="question">
              <div class="number">
                  <span>8</span>
              </div>
              <div class="text-container">
                  <span>The</span> <span>children</span> <span>were</span> <span class="right">as happy as a
                      lark</span> <span>after</span> <span>the</span> <span>birthday</span> <span>celebrations</span>.
              </div>
          </div>
          <!-- 9 -->
          <div class="question">
              <div class="number">
                  <span>9</span>
              </div>
              <div class="text-container">
                  <span>The</span> <span>poor</span> <span>and</span> <span>hungry</span> <span>beggar</span>
                  <span>ate</span> <span class="right">like a pig</span>.
              </div>
          </div>
          <!-- 10 -->
          <div class="question">
              <div class="number">
                  <span>10</span>
              </div>
              <div class="text-container">
                  <span>Due</span> <span>to</span> <span>fever</span>, <span>Tim</span> <span>felt</span> <span
                      class="right">as warm as a toast</span>.
              </div>
          </div>
      </div>
  </div>
  <div class="btn-row">
      <div class="col-12 text-center">
          <button class="button myButton">Submit</button>
      </div>
  </div>
</div>