<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="heading">
      <h1>Click in the circles below the alphabets and then click on the correct Proper Nouns from Column B, that can be
        used for the Common Nouns given in Column A.</h1>
    </div>
    <div class="Main_Container">
      <div class="Question_Container">
        <div class="header_row">
          <div class="header">Column A</div>
          <div class="header">Column B</div>
        </div>
        <div class="Question_Block">
          <div class="Question_row">
            <div class="Question">
              <div class="alpha">A</div>
              <div class="content">river</div>
            </div>
            <div class="option">
              <div class="number">1</div>
              <div class="content">Mt. Everest</div>
            </div>
          </div>
          <div class="Question_row">
            <div class="Question">
              <div class="alpha">B</div>
              <div class="content">country</div>
            </div>
            <div class="option">
              <div class="number">2</div>
              <div class="content">The Eiffel Tower</div>
            </div>
          </div>
          <div class="Question_row">
            <div class="Question">
              <div class="alpha">C</div>
              <div class="content">ocean</div>
            </div>
            <div class="option">
              <div class="number">3</div>
              <div class="content">The Taj Mahal</div>
            </div>
          </div>
          <div class="Question_row">
            <div class="Question">
              <div class="alpha">D</div>
              <div class="content">mountain</div>
            </div>
            <div class="option">
              <div class="number">4</div>
              <div class="content">China</div>
            </div>
          </div>
          <div class="Question_row">
            <div class="Question">
              <div class="alpha">E</div>
              <div class="content">city</div>
            </div>
            <div class="option">
              <div class="number">5</div>
              <div class="content">The Mona Lisa</div>
            </div>
          </div>
          <div class="Question_row">
            <div class="Question">
              <div class="alpha">F</div>
              <div class="content">tower</div>
            </div>
            <div class="option">
              <div class="number">6</div>
              <div class="content">The Atlantic Ocean</div>
            </div>
          </div>
          <div class="Question_row">
            <div class="Question">
              <div class="alpha">G</div>
              <div class="content">painting</div>
            </div>
            <div class="option">
              <div class="number">7</div>
              <div class="content">Sydney</div>
            </div>
          </div>
          <div class="Question_row">
            <div class="Question">
              <div class="alpha">H</div>
              <div class="content">monument</div>
            </div>
            <div class="option">
              <div class="number">8</div>
              <div class="content">The Ganga</div>
            </div>
          </div>
        </div>
      </div>
      <div class="Answer_Container">
        <div class="Answer_Block">
          <div class="Answers">
            <div class="Answer">
              <div class="answer_alpha">A</div>
              <div class="input_div"><input type="text"></div>
              <div class="correct_answer">8</div>
            </div>
            <div class="Answer">
              <div class="answer_alpha">B</div>
              <div class="input_div"><input type="text"></div>
              <div class="correct_answer">4</div>
            </div>
            <div class="Answer">
              <div class="answer_alpha">C</div>
              <div class="input_div"><input type="text"></div>
              <div class="correct_answer">6</div>
            </div>
            <div class="Answer">
              <div class="answer_alpha">D</div>
              <div class="input_div"><input type="text"></div>
              <div class="correct_answer">1</div>
            </div>
            <div class="Answer">
              <div class="answer_alpha">E</div>
              <div class="input_div"><input type="text"></div>
              <div class="correct_answer">7</div>
            </div>
            <div class="Answer">
              <div class="answer_alpha">F</div>
              <div class="input_div"><input type="text"></div>
              <div class="correct_answer">2</div>
            </div>
            <div class="Answer">
              <div class="answer_alpha">G</div>
              <div class="input_div"><input type="text"></div>
              <div class="correct_answer">5</div>
            </div>
            <div class="Answer">
              <div class="answer_alpha">H</div>
              <div class="input_div"><input type="text"></div>
              <div class="correct_answer">3</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>
  </div>
</div>