
<div class="bg">
  
  <img src="assets/std01-antonyms-worksheet8/img/rainbow.png" alt="" class="rainbow">
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
			<img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="row">
      <div class="heading mt-3">
        <!-- <h1>Click on the blanks and then click on the Antonyms from the help box, of the given words.</h1> -->
        <h1>Click on the blanks and then click on the Antonyms from the help box, of the given words. Use the jumbled
          alphabets in the brackets as clues.</h1>
      </div>
    </div>
    <div class="row Main_Container">
      <div class="col-12 Option_Container">
        <div class="options">
          <div class="option">many</div>
          <div class="option">top</div>
          <div class="option">more</div>
          <div class="option">before</div>

          <div class="option">pass</div>
          <div class="option">hate</div>
          <div class="option">stand</div>
          <div class="option">take</div>
        </div>
      </div>
      <div class="col-12 Question_Container">
        <div class="Question_Row">
          <div class="Question">
            <div class="number">1)</div>
            <div class="content">after</div>
            <div class="input_div"><input type="text">
              <div class="correct_answer"><span>before</span></div>
            </div>
            <div class="helpbox">( oebrfe )</div>
          </div>
          <div class="Question">
            <div class="number">2)</div>
            <div class="content">love</div>
            <div class="input_div"><input type="text">
              <div class="correct_answer"><span>hate</span></div>
            </div>
            <div class="helpbox">( ahte )</div>
          </div>
        </div>
        <div class="Question_Row">
          <div class="Question">
            <div class="number">3)</div>
            <div class="content">give</div>
            <div class="input_div"><input type="text">
              <div class="correct_answer"><span>take</span></div>
            </div>
            <div class="helpbox">( atke )</div>
          </div>
          <div class="Question">
            <div class="number">4)</div>
            <div class="content">less</div>
            <div class="input_div"><input type="text">
              <div class="correct_answer"><span>more</span></div>
            </div>
            <div class="helpbox">( oemr )</div>
          </div>
        </div>
        <div class="Question_Row">
          <div class="Question">
            <div class="number">5)</div>
            <div class="content">bottom</div>
            <div class="input_div"><input type="text">
              <div class="correct_answer"><span>top</span></div>
            </div>
            <div class="helpbox">( pto )</div>
          </div>
          <div class="Question">
            <div class="number">6)</div>
            <div class="content">fail</div>
            <div class="input_div"><input type="text">
              <div class="correct_answer"><span>pass</span></div>
            </div>
            <div class="helpbox">( sasp )</div>
          </div>
        </div>
        <div class="Question_Row">
          <div class="Question">
            <div class="number">7)</div>
            <div class="content">sit</div>
            <div class="input_div"><input type="text">
              <div class="correct_answer"><span>stand</span></div>
            </div>
            <div class="helpbox">( ndats )</div>
          </div>
          <div class="Question">
            <div class="number">8)</div>
            <div class="content">few</div>
            <div class="input_div"><input type="text">
              <div class="correct_answer"><span>many</span></div>
            </div>
            <div class="helpbox">( ynam )</div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>

  </div>

</div>