<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3 mb-3">
        <h2 class="font-weight-bold heading">
          Click on the correct Helping Verbs from the boxes, to complete
          the questions and sentences.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="main-question-container">
        <!-- 1 -->
        <div class="question">
          <div class="number"><span>1</span></div>
          <div class="text-container">
            <span>Albert</span>
            <div class="options">
              <span>do</span>,
              <span class="right">does</span>
            </div>
            <span>not know Spanish.</span>
          </div>
          <div class="img-container q1"><img src="/assets/std01-helping-verbs-worksheet7/img/q1.png" alt=""
              class="img-fluid"></div>
        </div>
        <!-- 2 -->
        <div class="question">
          <div class="number"><span>2</span></div>
          <div class="text-container"><span>The Jacksons</span>
            <div class="options">
              <span class="right">do</span>,
              <span>does</span>
            </div>
            <span>not have any children.</span>
          </div>
          <div class="img-container "><img src="/assets/std01-helping-verbs-worksheet7/img/q2.png" alt=""
              class="img-fluid"></div>
        </div>
        <!-- 3 -->
        <div class="question">
          <div class="number"><span>3</span></div>
          <div class="text-container">
            <div class="options">
              <span class="right">Do</span>,
              <span>Does</span>
            </div>
            <span>Bob and his sister go for a walk everyday?</span>
          </div>
          <div class="img-container "><img src="/assets/std01-helping-verbs-worksheet7/img/q3.png" alt=""
              class="img-fluid"></div>
        </div>
        <!-- 4 -->
        <div class="question">
          <div class="number"><span>4</span></div>
          <div class="text-container"><span>Amy always</span>
            <div class="options">
              <span>do</span>,
              <span class="right">does</span>
            </div>
            <span>her homework on time.</span>
          </div>
          <div class="img-container "><img src="/assets/std01-helping-verbs-worksheet7/img/q4.png" alt=""
              class="img-fluid"></div>
        </div>
        <!-- 5 -->
        <div class="question">
          <div class="number"><span>5</span></div>
          <div class="text-container"><span>Koala bears</span>
            <div class="options">
              <span class="right">do</span>,
              <span>does</span>
            </div>
            <span>not eat meat.</span>
          </div>
          <div class="img-container "><img src="/assets/std01-helping-verbs-worksheet7/img/q5.png" alt=""
              class="img-fluid"></div>
        </div>
        <!-- 6 -->
        <div class="question">
          <div class="number"><span>6</span></div>
          <div class="text-container"><span>Where</span>
            <div class="options">
              <span class="right">do</span>,
              <span>does</span>
            </div>
            <span>you live?</span>
          </div>
          <div class="img-container"><img src="/assets/std01-helping-verbs-worksheet7/img/q5.png" alt=""
              class="img-fluid visibile-hidden"></div>
        </div>
        <!-- 7 -->
        <div class="question">
          <div class="number"><span>7</span></div>
          <div class="text-container"><span>She</span>
            <div class="options">
              <span>do</span>,
              <span class="right">does</span>
            </div>
            <span>not like to sing.</span>
          </div>
          <div class="img-container "><img src="/assets/std01-helping-verbs-worksheet7/img/q7.png" alt=""
              class="img-fluid"></div>
        </div>
        <!-- 8 -->
        <div class="question">
          <div class="number"><span>8</span></div>
          <div class="text-container"><span>We</span>
            <div class="options">
              <span class="right">do</span>,
              <span>does</span>
            </div>
            <span>all our housework on Sunday.</span>
          </div>
          <div class="img-container q8"><img src="/assets/std01-helping-verbs-worksheet7/img/q8.png" alt=""
              class="img-fluid"></div>
        </div>
        <!-- end -->
      </div>
    </div>
    <div class="row btn-row">
      <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>

</div>