<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
      <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
  </div>
	
  <div class="container">
      <div class="row">
          <div class="heading">
              <h1>
                  <!-- Click in the boxes to colour the correct boxes, that the sentences represent. -->
                  Click in the correct boxes to colour them, that states the type of sentences. 
              </h1>
          </div>
      </div>
      <div class="row">
          <div class="col-12 Question_Container">
              <div class="Question_Row">
                  <div class="Question_Block">
                      <div class="Question">
                          <div class="number">1)</div>
                          <div class="content">Who is the new English teacher?</div>
                      </div>
                      <div class="options">
                          <div class="option"><span>Statement</span></div>
                          <div class="option right"><span>Question</span></div>
                          <div class="option"><span>Exclamation</span></div>
                      </div>
                  </div>
                  <div class="Question_Block">
                      <div class="Question">
                          <div class="number">2)</div>
                          <div class="content">The drive through the woods was so scary!</div>
                      </div>
                      <div class="options">
                          <div class="option"><span>Statement</span></div>
                          <div class="option"><span>Question</span></div>
                          <div class="option right"><span>Exclamation</span></div>
                      </div>
                  </div>
              </div>
              <div class="Question_Row">
                  <div class="Question_Block">
                      <div class="Question">
                          <div class="number">3)</div>
                          <div class="content">Alexia found some money on the pavement.</div>
                      </div>
                      <div class="options">
                          <div class="option right"><span>Statement</span></div>
                          <div class="option"><span>Question</span></div>
                          <div class="option"><span>Exclamation</span></div>
                      </div>
                  </div>
                  <div class="Question_Block">
                      <div class="Question">
                          <div class="number">4)</div>
                          <div class="content">The boys scout group has organised river rafting on Saturday.</div>
                      </div>
                      <div class="options">
                          <div class="option right"><span>Statement</span></div>
                          <div class="option"><span>Question</span></div>
                          <div class="option"><span>Exclamation</span></div>
                      </div>
                  </div>
              </div>
              <div class="Question_Row">
                  <div class="Question_Block">
                      <div class="Question">
                          <div class="number">5)</div>
                          <div class="content">I won the quiz competition!</div>
                      </div>
                      <div class="options">
                          <div class="option"><span>Statement</span></div>
                          <div class="option"><span>Question</span></div>
                          <div class="option right"><span>Exclamation</span></div>
                      </div>
                  </div>
                  <div class="Question_Block">
                      <div class="Question">
                          <div class="number">6)</div>
                          <div class="content">Does Patrick know how to play rugby?</div>
                      </div>
                      <div class="options">
                          <div class="option"><span>Statement</span></div>
                          <div class="option right"><span>Question</span></div>
                          <div class="option"><span>Exclamation</span></div>
                      </div>
                  </div>
              </div>
              <div class="Question_Row">
                  <div class="Question_Block">
                      <div class="Question">
                          <div class="number">7)</div>
                          <div class="content">Please open the window for some fresh air.</div>
                      </div>
                      <div class="options">
                          <div class="option right"><span>Statement</span></div>
                          <div class="option"><span>Question</span></div>
                          <div class="option"><span>Exclamation</span></div>
                      </div>
                  </div>
                  <div class="Question_Block">
                      <div class="Question">
                          <div class="number">8)</div>
                          <div class="content">When is the book fair starting?</div>
                      </div>
                      <div class="options">
                          <div class="option"><span>Statement</span></div>
                          <div class="option right"><span>Question</span></div>
                          <div class="option"><span>Exclamation</span></div>
                      </div>
                  </div>
              </div>
              <div class="Question_Row">
                  <div class="Question_Block">
                      <div class="Question">
                          <div class="number">9)</div>
                          <div class="content">It is raining and thundering!</div>
                      </div>
                      <div class="options">
                          <div class="option"><span>Statement</span></div>
                          <div class="option"><span>Question</span></div>
                          <div class="option right"><span>Exclamation</span></div>
                      </div>
                  </div>
                  <div class="Question_Block">
                      <div class="Question">
                          <div class="number">10)</div>
                          <div class="content">Did the school bell ring?</div>
                      </div>
                      <div class="options">
                          <div class="option"><span>Statement</span></div>
                          <div class="option right"><span>Question</span></div>
                          <div class="option"><span>Exclamation</span></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="btn-row col-12">
              <button class="button myButton">Submit</button>
          </div>
      </div>
  </div>
</div>