<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">

      <div class="imgBox">
        <img src="" alt="" class="Text fabulous hide">
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
			<img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="heading mt-3">
        <h1>Click on Proper Nouns in the following sentences.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 Question_Container">
        <div class="row">
          <div class="col-12 col-sm-6 Question">
            <div class="row">
              <div class="col-2 my-auto text-center">
                <div class="list-item">1)</div>
              </div>
              <div class="col-10">
                <span>My</span>
                <span>name</span>
                <span>is</span>
                <span class="correct">Nancy</span>.
                <img src="assets/std01-proper-noun-worksheet4/img/nancy.png" alt="" class="nancy">
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 Question">
            <div class="row">
              <div class="col-2 my-auto text-center">
                <div class="list-item">2)</div>
              </div>
              <div class="col-10">
                <span>He</span>
                <span>went</span>
                <span>to</span>
                <span class="correct">London</span>
                <span>for</span>
                <span>a</span>
                <span>holiday</span>.
                <img src="assets/std01-proper-noun-worksheet4/img/london.png" alt="" class="london">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6 Question">
            <div class="row">
              <div class="col-2 my-auto text-center">
                <div class="list-item">3)</div>
              </div>
              <div class="col-10">
                <span>I</span>
                <span>go</span>
                <span>to</span>
                <span class="correct">Evergreen Primary School</span>.
                <img src="assets/std01-proper-noun-worksheet4/img/school.png" alt="" class="school"> </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 Question">
            <div class="row">
              <div class="col-2 my-auto text-center">
                <div class="list-item">4)</div>
              </div>
              <div class="col-10">
                <span class="correct">Sam</span>
                <span>is</span>
                <span>playing</span>
                <span>there</span>.<img src="assets/std01-proper-noun-worksheet4/img/sam.png" alt="" class="sam">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6 Question">
            <div class="row">
              <div class="col-2 my-auto text-center">
                <div class="list-item">5)</div>
              </div>
              <div class="col-10">
                <span class="correct">Tom</span>
                <span>and</span>
                <span class="correct">Jerry</span>
                <span>are</span>
                <span>chasing</span>
                <span>each</span>
                <span>other</span>.<img src="assets/std01-proper-noun-worksheet4/img/tom_jerry.png" alt="" class="tom_jerry"> </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 Question">
            <div class="row">
              <div class="col-2 my-auto text-center">
                <div class="list-item">6)</div>
              </div>
              <div class="col-10">
                <span>Her</span>
                <span>father<span class="apostrophe">’</span>s</span>
                <span>name</span>
                <span>is</span>
                <span class="correct">Steven</span>.
                <img src="assets/std01-proper-noun-worksheet4/img/father.png" alt="" class="father"> </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6 Question">
            <div class="row">
              <div class="col-2 my-auto text-center">
                <div class="list-item">7)</div>
              </div>
              <div class="col-10">
                <span class="correct">The Nile</span>
                <span>river</span>
                <span>is</span>
                <span>in</span>
                <span class="correct">Egypt</span>.
                <img src="assets/std01-proper-noun-worksheet4/img/river.png" alt="" class="river">
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 Question">
            <div class="row">
              <div class="col-2 my-auto text-center">
                <div class="list-item">8)</div>
              </div>
              <div class="col-10">
                <span>I</span>
                <span>loved</span>
                <span>to</span>
                <span>see</span>
                <span class="correct">The Eiffel Tower</span>.
                <img src="assets/std01-proper-noun-worksheet4/img/eiffel.png" alt="" class="eiffel">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6 Question">
            <div class="row">
              <div class="col-2 my-auto text-center">
                <div class="list-item">9)</div>
              </div>
              <div class="col-10">
                <span class="correct">Sunday</span>
                <span>is</span>
                <span>the</span>
                <span>first</span>
                <span>day</span>
                <span>of</span>
                <span>the</span>
                <span>week</span>.
                <img src="assets/std01-proper-noun-worksheet4/img/sunday.png" alt="" class="sunday"> </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 Question Question-last">
            <div class="row">
              <div class="col-2 my-auto text-center">
                <div class="list-item">10)</div>
              </div>
              <div class="col-10">
                <span>Our</span>
                <span class="correct">Summer</span>
                <span>holidays</span>
                <span>begin</span>
                <span>in</span>
                <span class="correct">April</span>.
                <img src="assets/std01-proper-noun-worksheet4/img/summer.png" alt="" class="summer">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>
  </div>
</div>