<div class="bg"  ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <img src="" alt="" class="Text fabulous hide">
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row m-0">
                <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
                    <h2 class="font-weight-bold heading">
                            Click on the blanks and then click on the correct Prepositions
                            from the help box of books, to complete the story.
                        
                    </h2>
                </div>
        </div>

        <div class="main-question-container">

            <div class="Question_Row">
                <!-- 1 -->
                            <span>It was seven o’clock</span>
                            <span class="input-span">
                                <input type="text">
                                <span class="correct-answer">
                                    <span>in</span>
                                </span>
                            </span>
                            <span>the morning. Rohan was getting ready</span>
                            <span class="input-span">
                                <input type="text">
                                <span class="correct-answer">
                                    <span>for</span>
                                </span>
                            </span>
                            <span>school. He knew he was already late. He could not find his Science text book. It was not</span>
                            <span class="input-span">
                                <input type="text">
                                <span class="correct-answer">
                                    <span>on</span>
                                </span>
                            </span>
                            <span>his study table. It was not in his school bag. He looked for it everywhere. He looked</span>
                            <span class="input-span">
                                <input type="text">
                                <span class="correct-answer">
                                    <span>beside</span>
                                </span>
                            </span>
                            <span>his other books on the bookshelf. He also looked</span>
                            <span class="input-span">
                                <input type="text">
                                <span class="correct-answer">
                                    <span>under</span>
                                </span>
                            </span>
                            <span>the bed but could not find it. He began</span>
                            <span class="input-span">
                                <input type="text">
                                <span class="correct-answer">
                                    <span>to</span>
                                </span>
                            </span>
                            <span>worry as his school bus was almost</span>
                            <span class="input-span">
                                <input type="text">
                                <span class="correct-answer">
                                    <span>at</span>
                                </span>
                            </span>
                            <span>the gate. At last, he found it </span> 
                            <span class="input-span">
                                <input type="text">
                                <span class="correct-answer">
                                    <span>next to</span>
                                </span>
                            </span>
                            <span>the T.V.</span>
                        
            </div>
        
            <div class="helpbox-container">
                <div class="in picture">
                <img src="assets/std01-prepositions-worksheet10/img/in.png" class="img-fluid">
                <div>in</div>
                </div>
                <div class="on picture">
                <img src="assets/std01-prepositions-worksheet10/img/on.png" class="img-fluid">
                <div>on</div>
                </div>
                <div class="at picture">
                    <img src="assets/std01-prepositions-worksheet10/img/at.png" class="img-fluid">
                    <div>at</div>
                </div>
                <div class="beside picture">
                    <img src="assets/std01-prepositions-worksheet10/img/beside.png" class="img-fluid">
                    <div>beside</div>
                </div>
                <div class="under picture">
                    <img src="assets/std01-prepositions-worksheet10/img/under.png" class="img-fluid">
                    <div>under</div>
                </div>
                <div class="next to picture">
                    <img src="assets/std01-prepositions-worksheet10/img/next_to.png" class="img-fluid">
                    <div>next to</div>
                </div>
                <div class="for picture">
                    <img src="assets/std01-prepositions-worksheet10/img/for.png" class="img-fluid">
                    <div>for</div>
                </div>
                <div class="to picture">
                    <img src="assets/std01-prepositions-worksheet10/img/to.png" class="img-fluid">
                    <div>to</div>
                </div>
                
            </div>


                        

        </div>
        <div class="row btn-row">
            <div class="col-12 text-center">
                <button class="button myButton">Submit</button>
            </div>
        </div>
    </div>
</div>
    

