<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
              <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide">
              <img src="" alt="" class="Text fabulous hide">
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
    <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
      <div class="row m-0">
          <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
              <h2 class="font-weight-bold heading">
                  Click on the blanks and then click on the correct Adverbs 
                  from the help box, to complete the given sentences.
              </h2>
          </div>
      </div>
      <div class="helpbox-puzzle-container">
          <div class="helpbox-container">
              <div class="helpbox-ans">
              <span>happily</span>
              </div>
              <div class="helpbox-ans">
                  <span>partially</span>
              </div>
              <div class="helpbox-ans">
              <span>rarely</span>
              </div>
              <div class="helpbox-ans">
                  <span>tonight</span>
              </div>
              <div class="helpbox-ans">
                  <span>politely</span>
              </div>
              <div class="helpbox-ans">
                  <span>already</span>
              </div>
              <div class="helpbox-ans">
                  <span>often</span>
              </div>
              <div class="helpbox-ans">
                  <span>just</span>
              </div>
          </div>
          <div class="img-main-container">
              <div class="img-container">
                  <img src="assets/std03-adverbs-worksheet4/img/without-ans-img.png" class="img-fluid without-ans-img">
              </div>
              <img src="assets/std03-adverbs-worksheet4/img/ans-img.png" class="img-fluid ans-img">
          </div>
      </div>
      <div class="main-question-container">

              <div class="across">
                  <span class="font-weight-bold"><u>Across</u></span>

                  <!-- 1 -->
                  <div class="question">
                      <div class="number">
                          <span>1)</span>
                      </div>
                      <div class="text-container">
                          <span>My parents are going for a concert</span>
                          <!-- <div class="input-container"> -->
                              <span class="input-span">
                                  <input type="text">
                              <span class="correct-answer">
                                  <span>tonight</span>
                              </span>
                              </span>
                              <span>.</span>
                          <!-- </div> -->
                      </div>
                  </div>
                  <!--2-->
                  <div class="question">
                      <div class="number">
                          <span>2)</span>
                      </div>
                      <div class="text-container">
                          <span>Henry</span>
                          <!-- <div class="input-container"> -->
                              <span class="input-span">
                                  <input type="text">
                              <span class="correct-answer">
                                  <span>just</span>
                              </span>
                          </span>
                          <!-- </div> -->
                          <span>completed his homework.</span>
                      </div>
                  </div>
                  <!--3-->
                  <div class="question">
                      <div class="number">
                          <span>3)</span>
                      </div>
                      <div class="text-container">
                          <span>Your answer is</span>
                          <!-- <div class="input-container"> -->
                              <span class="input-span">
                                  <input type="text">
                              <span class="correct-answer">
                                  <span>partially</span>
                              </span>
                          </span>
                          <!-- </div> -->
                          <span>correct.</span>
                      </div>

                  </div>
                  <!--4-->
                  <div class="question">
                      <div class="number">
                          <span>4)</span>
                      </div>
                      <div class="text-container">
                          <span>The carpenter has</span>
                          <!-- <div class="input-container"> -->
                              <span class="input-span">
                                  <input type="text">
                              <span class="correct-answer">
                                  <span>already</span>
                              </span>
                          </span>
                          <!-- </div> -->
                          <span>fixed the broken chair.</span>
                      </div>
                  </div>
              </div>

              <div class="down">
                  <span class="font-weight-bold"><u>Down</u></span>
                  <!-- 1 -->
                  <div class="question">
                      <div class="number">
                          <span>1)</span>
                      </div>
                      <div class="text-container">
                          <span>Alia and Ria</span>
                          <!-- <div class="input-container"> -->
                              <span class="input-span">
                                  <input type="text">
                              <span class="correct-answer">
                                  <span>often</span>
                              </span>
                          </span>
                          <!-- </div> -->
                          <span>study together.</span>
                      </div>
                  </div>
                  <!--2-->
                  <div class="question">
                      <div class="number">
                          <span>2)</span>
                      </div>
                      <div class="text-container">
                          <span>The children were playing</span>
                          <!-- <div class="input-container"> -->
                              <span class="input-span">
                                  <input type="text">
                              <span class="correct-answer">
                                  <span>happily</span>
                              </span>
                          </span>
                          <!-- </div> -->
                          <span>in the garden.</span>
                      </div>
                  </div>
                  <!--3-->
                  <div class="question">
                      <div class="number">
                          <span>3)</span>
                      </div>
                      <div class="text-container">
                          <span>Mom</span>
                          <!-- <div class="input-container"> -->
                              <span class="input-span">
                                  <input type="text">
                              <span class="correct-answer">
                                  <span>rarely</span>
                              </span>
                          </span>
                          <!-- </div> -->
                          <span>gets up early on weekends.</span>
                      </div>
                  </div>
                  <!--4-->
                  <div class="question">
                      <div class="number">
                          <span>4)</span>
                      </div>
                      <div class="text-container">
                          <span>Alex</span>
                          <!-- <div class="input-container"> -->
                              <span class="input-span">
                                  <input type="text">
                              <span class="correct-answer">
                                  <span>politely</span>
                              </span>
                          </span>
                          <!-- </div> -->
                          <span>asked the teacher if he could enter the classroom.</span>
                      </div>
                  </div>
              </div>
      </div>
      <div class="row btn-row">
          <div class="col-12 text-center">
              <button class="button myButton">Submit</button>
          </div>
      </div>
  </div>
</div>