<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 mb-3">
				<h2 class="font-weight-bold heading">
					Click on the blanks and then click on the correct Conjunctions from the help box, to complete the sentences.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="helpbox-container">		     	     	          	    
				<div class="helpbox"><span>but</span></div>
				<div class="helpbox"><span>and</span></div>
				<div class="helpbox"><span>or</span></div>
				<div class="helpbox"><span>although</span></div>
				<div class="helpbox"><span>since</span></div>
				<div class="helpbox"><span>before</span></div>
				<div class="helpbox"><span>until</span></div>
				<div class="helpbox"><span>after</span></div>
				<div class="helpbox hp9"><span>because</span></div>
				<div class="helpbox"><span>so</span></div>
			</div>
		</div>
		<div class="row">
			<div class="question-container">
				<!-- 1 -->
				<div class="question">
					<div class="number"><span>1)</span></div>
					<div class="text-container">
						<span> Mom drank her coffee</span>
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>before</span>
							</div>
						</div> 
						<span>it got cold.</span>
					</div>
				</div>
				<!-- 2 -->
				<div class="question">
					<div class="number"><span>2)</span></div>
					<div class="text-container">
						<div class="input-container">
							<input type="text" style="text-transform: capitalize">
							<div class="correct-answer">
								<span>Although</span>
							</div>
						</div> 
						<span>my dad’s car is very old, it is in a good condition.</span>
					</div>
				</div>
				<!-- 3 -->
				<div class="question">
					<div class="number"><span>3)</span></div>
					<div class="text-container">
						<span> I drank hot soup for dinner</span>
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>because</span>
							</div>
						</div> 
						<span> I was not feeling well.	</span>
					</div>
				</div>
				<!-- 4 -->
				<div class="question">
					<div class="number"><span>4)</span></div>
					<div class="text-container">
						<div class="input-container">
							<input type="text" style="text-transform: capitalize">
							<div class="correct-answer">
								<span>Since</span>
							</div>
						</div> 
						<span>Tim had a lot of homework, he did not go to play baseball.</span>
					</div>
				</div>
				<!-- 5 -->
				<div class="question">
					<div class="number"><span>5)</span></div>
					<div class="text-container">
						<span>Mrs. Brown teaches Maths </span>
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>and</span>
							</div>
						</div> 
						<span>Science to grade three students.</span>
					</div>
				</div>
				<!-- 6 -->
				<div class="question sixth">
					<div class="number"><span>6)</span></div>
					<div class="text-container">
						<span>The children ran back to the classroom </span>
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>after</span>
							</div>
						</div> 
						<span>their music class was over.</span>
					</div>
				</div>
				<!-- 7 -->
				<div class="question">
					<div class="number"><span>7)</span></div>
					<div class="text-container">
						<span>Jenna went to the supermarket</span>
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>but</span>
							</div>
						</div> 
						<span>she forgot to buy potatoes.</span>
					</div>
				</div>
				<!-- 8 -->
				<div class="question">
					<div class="number"><span>8)</span></div>
					<div class="text-container">
						<span>Do you want an ice-cream cone</span>
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>or</span>
							</div>
						</div> 
						<span>a sundae?	</span>
					</div>
				</div>
				<!-- 9 -->
				<div class="question">
					<div class="number"><span>9)</span></div>
					<div class="text-container">
						<span>Rita doesn’t remember things</span>
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>until</span>
							</div>
						</div> 
						<span>she writes them down on paper.</span>
					</div>
				</div>
				<!-- 10 -->
				<div class="question">
					<div class="number"><span>10)</span></div>
					<div class="text-container">
						<span>David was awake till late last night</span>
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>so</span>
							</div>
						</div> 
						<span>he is feeling sleepy now.</span>
					</div>
				</div>
				<!-- end -->
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>