<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
  <div class="Box">
    <div class="imgBox">
      <img src="" alt="" class="Text keep-practicing hide">
      <img src="" alt="" class="Text outstanding hide">
      <img src="" alt="" class="Text brilliant hide">
      <img src="" alt="" class="Text good-work hide">
      <!-- <img src="" alt="" class="Text fabulous hide"> -->
    </div>
    <div class="TextBox">
      <h1></h1>
    </div>
    <img src="assets/images/close.png" alt="" class="close">
  </div>
</div>
  <div class="loadingDiv">
  </div>
<div class="container">
  <div class="row">
    <div class="col-12 mt-2 mb-1">
      <h2 class="font-weight-bold heading">
        An idiom is a set of words that has a different meaning than that of the words.
      </h2>
    </div>
    <div class="col-12 mt-1 mb-1 mb-lg-2">
      <h2 class="font-weight-bold header">
        Click in the circles beside the numbers and then click on the correct meanings from Column B, of the Idioms given in Column A.
      </h2>
    </div>
  </div>
  <div class="row">
      <div class="question-heading">
        <div class="columnAheading">
          <div class="columnA">
            <u><span>Column A</span></u>
          </div>
        </div>
        <div class="columnBheading">
          <div class="columnB">
            <u><span>Column B</span></u>
          </div>
        </div>
      </div>
  </div>
  <div class="row ">
    <div class="main-question-container">
      <!-- 1 -->
      <div class="question">
        <div class="input-container">
          <input type="text">
          <div class="correct-answer">
            <span>D</span>
          </div>
        </div>
        <div class="alphabet"><span>1)</span></div>
        <div class="text-container"><span>once a blue moon</span></div>
      </div>
      <div class="answer">
        <div class="number"><span>A</span>)</div>
        <div class="text-container"><span>extremely happy</span></div>
        
      </div>
      <!-- 2 -->
      <div class="question">
        <div class="input-container">
          <input type="text">
          <div class="correct-answer">
            <span>I</span>
          </div>
        </div>
        <div class="alphabet"><span>2)</span></div>
        <div class="text-container"><span>under the weather</span></div>
      </div>
      <div class="answer">
        <div class="number"><span>B</span>)</div>
        <div class="text-container"><span> to tell or let out a secret</span></div>
      </div>
      <!-- 3 -->
      <div class="question">
        <div class="input-container">
          <input type="text">
          <div class="correct-answer">
            <span>F</span>
          </div>
        </div>
        <div class="alphabet"><span>3)</span></div>
        <div class="text-container"><span>piece of cake</span></div>
      </div>
      <div class="answer">
        <div class="number"><span>C</span>)</div>
        <div class="text-container"><span> to be crazy or extremely silly </span></div>
      </div>
      <!-- 4 -->
      <div class="question">
        <div class="input-container">
          <input type="text">
          <div class="correct-answer">
            <span>B</span>
          </div>
        </div>
        <div class="alphabet"><span>4)</span></div>
        <div class="text-container"><span>spill the beans</span></div>
      </div>
      <div class="answer">
        <div class="number"><span>D</span>)</div>
        <div class="text-container"><span>an event that happens rarely	</span></div>
      </div>
      <!-- 5 -->
      <div class="question">
        <div class="input-container">
          <input type="text">
          <div class="correct-answer">
            <span>H</span>
          </div>
        </div>
        <div class="alphabet"><span>5)</span></div>
        <div class="text-container"><span>apple of your eye</span></div>
      </div>
      <div class="answer">
        <div class="number"><span>E</span>)</div>
        <div class="text-container"><span>to think of something that is impossible</span></div>
      </div>
      <!-- 6 -->
      <div class="question">
        <div class="input-container">
          <input type="text">
          <div class="correct-answer">
            <span>J</span>
          </div>
        </div>
        <div class="alphabet"><span>6)</span></div>
        <div class="text-container"><span>forty winks </span></div>
      </div>
      <div class="answer">
        <div class="number"><span>F</span>)</div>
        <div class="text-container"><span> something very easy</span></div>
      </div>
      <!-- 7 -->
      <div class="question">
        <div class="input-container">
          <input type="text">
          <div class="correct-answer">
            <span>C</span>
          </div>
        </div>
        <div class="alphabet"><span>7)</span></div>
        <div class="text-container"><span>go bananas  </span></div>
      </div>
      <div class="answer">
        <div class="number"><span>G</span>)</div>
        <div class="text-container"><span>to be inflexible about something</span></div>
      </div>
      <!-- 8 -->
      <div class="question">
        <div class="input-container">
          <input type="text">
          <div class="correct-answer">
            <span>A</span>
          </div>
        </div>
        <div class="alphabet"><span>8)</span></div>
        <div class="text-container"><span>cloud nine  </span></div>
      </div>
      <div class="answer">
        <div class="number"><span>H</span>)</div>
        <div class="text-container"><span>extremely fond of or favourite</span></div>
      </div>
      <!-- 9 -->
      <div class="question">
        <div class="input-container">
          <input type="text">
          <div class="correct-answer">
            <span>G</span>
          </div>
        </div>
        <div class="alphabet"><span>9)</span></div>
        <div class="text-container"><span> put your foot down </span></div>
      </div>
      <div class="answer">
        <div class="number"><span>I</span>)</div>
        <div class="text-container"><span>to not feel well</span></div>
      </div>
      <!-- 10 -->
      <div class="question">
        <div class="input-container">
          <input type="text">
          <div class="correct-answer">
            <span>E</span>
          </div>
        </div>
        <div class="alphabet"><span>10)</span></div>
        <div class="text-container"><span>build castles in air</span></div>
      </div>
      <div class="answer">
        <div class="number"><span>J</span>)</div>
        <div class="text-container"><span>a short sleep or nap</span></div>
      </div>
      <!-- end -->
    </div>
  </div>
  <div class="row btn-row">
    <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
    </div>
  </div>
</div>
</div>