<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
		<div class="heading">
			<h1>Click on the blanks given below the alphabets in the piano and then click on the correct Common Nouns from Column B, that will be used with the Collective Nouns given in Column A.</h1>
		</div>
    <div class="Main_Container">
            <div class="Question_Container">
                <div class="Question_Block">
                    <div class="header_row">
                        <div class="header">Column A</div>
                        <div class="header">Column B</div>
                    </div>
                    <div class="Question_Row">
                        <div class="Question">
                            <div class="alpha">A)</div>
                            <div class="content">a clutch of</div>
                        </div>
                        <div class="option">
                            <div class="number">1)</div>
                            <div class="content">dragons</div>
                        </div>
                    </div>
                    <div class="Question_Row">
                        <div class="Question">
                            <div class="alpha">B)</div>
                            <div class="content">a troop of</div>
                        </div>
                        <div class="option">
                            <div class="number">2)</div>
                            <div class="content">penguins</div>
                        </div>
                    </div>
                    <div class="Question_Row">
                        <div class="Question">
                            <div class="alpha">C)</div>
                            <div class="content">a bowl of</div>
                        </div>
                        <div class="option">
                            <div class="number">3)</div>
                            <div class="content">monkeys</div>
                        </div>
                    </div>
                    <div class="Question_Row">
                        <div class="Question">
                            <div class="alpha">D)</div>
                            <div class="content">a flight of</div>
                        </div>
                        <div class="option">
                            <div class="number">4)</div>
                            <div class="content">cereal</div>
                        </div>
                    </div>
                    <div class="Question_Row">
                        <div class="Question">
                            <div class="alpha">E)</div>
                            <div class="content">an orchestra of</div>
                        </div>
                        <div class="option">
                            <div class="number">5)</div>
                            <div class="content">buffaloes</div>
                        </div>
                    </div>
                    <div class="Question_Row">
                        <div class="Question">
                            <div class="alpha">F)</div>
                            <div class="content">a herd of</div>
                        </div>
                        <div class="option">
                            <div class="number">6)</div>
                            <div class="content">eggs</div>
                        </div>
                    </div>
                    <div class="Question_Row">
                        <div class="Question">
                            <div class="alpha">G)</div>
                            <div class="content">a waddle of</div>
                        </div>
                        <div class="option">
                            <div class="number">7)</div>
                            <div class="content">sailors</div>
                        </div>
                    </div>
                    <div class="Question_Row">
                        <div class="Question">
                            <div class="alpha">H)</div>
                            <div class="content">a crew of</div>
                        </div>
                        <div class="option">
                            <div class="number">8)</div>
                            <div class="content">musicians</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Answer_Container">
                <div class="Answer_Block">
                    <img src="assets/std02-collective-noun-worksheet1/img/answers_bg.png" alt="">
                    <div class="answers">
                        <div class="answer_div">
                            <div class="alpha">A</div>
                            <div class="input_div">
                                <input type="text">
                            </div>
                            <div class="correct_answer"><span>6</span></div>
                        </div>
                        <div class="answer_div">
                            <div class="alpha">B</div>
                            <div class="input_div">
                                <input type="text">
                            </div>
                            <div class="correct_answer"><span>3</span></div>
                        </div>
                        <div class="answer_div">
                            <div class="alpha">C</div>
                            <div class="input_div">
                                <input type="text">
                            </div>
                            <div class="correct_answer"><span>4</span></div>
                        </div>
                        <div class="answer_div">
                            <div class="alpha">D</div>
                            <div class="input_div">
                                <input type="text">
                            </div>
                            <div class="correct_answer"><span>1</span></div>
                        </div>
                        <div class="answer_div">
                            <div class="alpha">E</div>
                            <div class="input_div">
                                <input type="text">
                            </div>
                            <div class="correct_answer"><span>8</span></div>
                        </div>
                        <div class="answer_div">
                            <div class="alpha">F</div>
                            <div class="input_div">
                                <input type="text">
                            </div>
                            <div class="correct_answer"><span>5</span></div>
                        </div>
                        <div class="answer_div">
                            <div class="alpha">G</div>
                            <div class="input_div">
                                <input type="text">
                            </div>
                            <div class="correct_answer"><span>2</span></div>
                        </div>
                        <div class="answer_div">
                            <div class="alpha">H</div>
                            <div class="input_div">
                                <input type="text">
                            </div>
                            <div class="correct_answer"><span>7</span></div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
  </div>
</div>