<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
	<div class="loadingDiv">
	</div>
  <div class="container">
		<div class="row">
			<div class="col-xs-12 mt-2 mt-sm-3">
				<div class="heading">
					<h1>
						Click on the correct Adverbs from the brackets, to complete the sentences.
					</h1>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-10 Question_Container">
				<div class="row">
					<div class="col-xs-1"><span>1)</span></div><div class="col-xs-11">We are going for a picnic [<span>yesterday</span><span class="comma">,</span> <span class="right">tomorrow</span>].</div>
				</div>
				<div class="row">
					<div class="col-xs-1"><span>2)</span></div><div class="col-xs-11">The principal spoke [<span class="right">kindly</span><span class="comma">,</span> <span>busily</span>] to the child.</div>
				</div>
				<div class="row">
					<div class="col-xs-1"><span>3)</span></div><div class="col-xs-11">Cars moved [<span>cheerfully</span><span class="comma">,</span> <span class="right">quickly</span>] even though there was traffic.</div>
				</div>
				<div class="row">
					<div class="col-xs-1"><span>4)</span></div><div class="col-xs-11">[<span class="right">Suddenly</span><span class="comma">,</span> <span>Calmly</span>] there was a loud noise on the street.</div>
				</div>
				<div class="row">
					<div class="col-xs-1"><span>5)</span></div><div class="col-xs-11">We [<span class="right">finally</span><span class="comma">,</span> <span>totally</span>] reached Goa after a long drive. </div>
				</div>
				<div class="row">
					<div class="col-xs-1"><span>6)</span></div><div class="col-xs-11">It was raining so the children played [<span>outside</span><span class="comma">,</span> <span class="right">inside</span>] the house.</div>
				</div>
				<div class="row">
					<div class="col-xs-1"><span>7)</span></div><div class="col-xs-11">The knight fought [<span>badly</span><span class="comma">,</span> <span class="right">bravely</span>] and  saved the princess.</div>
				</div>
				<div class="row">
					<div class="col-xs-1"><span>8)</span></div><div class="col-xs-11">During  the quiz competition<span class="comma">,</span> the children answered [<span class="right">wisely</span><span class="comma">,</span> <span>foolishly</span>].</div>
				</div>
			</div>
			<div class="col-12 btn-row">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>