<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
  <div class="Box">
    <div class="imgBox">
      <img src="" alt="" class="Text keep-practicing hide">
      <img src="" alt="" class="Text outstanding hide">
      <img src="" alt="" class="Text brilliant hide">
      <img src="" alt="" class="Text good-work hide">
      <!-- <img src="" alt="" class="Text fabulous hide"> -->
    </div>
    <div class="TextBox">
      <h1></h1>
    </div>
    <img src="assets/images/close.png" alt="" class="close">
  </div>
</div>
  <div class="loadingDiv">
  </div>
<div class="container">
  <div class="row">
    <div class="col-12 mt-2 mb-1">
      <h2 class="font-weight-bold heading">
        A statement in which one action makes another action happen is a cause and effect statement.<br>
        The first action is a cause because it shows why something happened.<br>The second action is a result or effect because it shows what happened due to the cause.
      </h2>
    </div>
    <div class="col-12 mt-1 mb-1 mb-lg-2">
      <h2 class="font-weight-bold header">
        Click in the circles given beside the numbers and then click on the correct
Effects from Column B, of the Causes given in Column A.
      </h2>
    </div>
  </div>
  <div class="row">
      <div class="question-heading">
        <div class="columnAheading">
          <div class="columnA">
            <u><span>Column A  (Causes)    </span></u>
          </div>
        </div>
        <div class="columnBheading">
          <div class="columnB">
            <u><span>Column B  (Effects)</span></u>
          </div>
        </div>
      </div>
  </div>
  <div class="row ">
    <div class="main-question-container">
      <!-- 1 -->
      <div class="question">
        <div class="input-container">
          <input type="text">
          <div class="correct-answer">
            <span>B</span>
          </div>
        </div>
        <div class="alphabet"><span>1)</span></div>
        <div class="text-container"><span> Amy had a stomach infection</span></div>
      </div>
      <div class="answer">
        <div class="number"><span>A</span>)</div>
        <div class="text-container"><span> hence the hockey match got cancelled.</span></div>
        
      </div>
      <!-- 2 -->
      <div class="question">
        <div class="input-container">
          <input type="text">
          <div class="correct-answer">
            <span>F</span>
          </div>
        </div>
        <div class="alphabet"><span>2)</span></div>
        <div class="text-container"><span>The wall clock stopped working</span></div>
      </div>
      <div class="answer">
        <div class="number"><span>B</span>)</div>
        <div class="text-container"><span>so she did not go to school.</span></div>
      </div>
      <!-- 3 -->
      <div class="question">
        <div class="input-container">
          <input type="text">
          <div class="correct-answer">
            <span>D</span>
          </div>
        </div>
        <div class="alphabet"><span>3)</span></div>
        <div class="text-container"><span>All the children trekked up the hill</span></div>
      </div>
      <div class="answer">
        <div class="number"><span>C</span>)</div>
        <div class="text-container"><span>consequently it started barking loudly.</span></div>
      </div>
      <!-- 4 -->
      <div class="question">
        <div class="input-container">
          <input type="text">
          <div class="correct-answer">
            <span>A</span>
          </div>
        </div>
        <div class="alphabet"><span>4)</span></div>
        <div class="text-container"><span> It rained on Saturday afternoon</span></div>
      </div>
      <div class="answer">
        <div class="number"><span>D</span>)</div>
        <div class="text-container"><span> therefore they were exhausted.</span></div>
      </div>
      <!-- 5 -->
      <div class="question">
        <div class="input-container">
          <input type="text">
          <div class="correct-answer">
            <span>H</span>
          </div>
        </div>
        <div class="alphabet"><span>5)</span></div>
        <div class="text-container"><span> Jack woke up late</span></div>
      </div>
      <div class="answer">
        <div class="number"><span>E</span>)</div>
        <div class="text-container"><span>as a result she got an A grade.</span></div>
      </div>
      <!-- 6 -->
      <div class="question">
        <div class="input-container">
          <input type="text">
          <div class="correct-answer">
            <span>C</span>
          </div>
        </div>
        <div class="alphabet"><span>6)</span></div>
        <div class="text-container"><span>My dog saw a stranger in the neighbourhood</span></div>
      </div>
      <div class="answer">
        <div class="number"><span>F</span>)</div>
        <div class="text-container"><span>because it needed a battery change.</span></div>
      </div>
      <!-- 7 -->
      <div class="question">
        <div class="input-container">
          <input type="text">
          <div class="correct-answer">
            <span>E</span>
          </div>
        </div>
        <div class="alphabet"><span>7)</span></div>
        <div class="text-container"><span>Susan studied very hard</span></div>
      </div>
      <div class="answer">
        <div class="number"><span>G</span>)</div>
        <div class="text-container"><span>therefore we went to the beach.</span></div>
      </div>
      <!-- 8 -->
      <div class="question">
        <div class="input-container">
          <input type="text">
          <div class="correct-answer">
            <span>G</span>
          </div>
        </div>
        <div class="alphabet"><span>8)</span></div>
        <div class="text-container"><span>The weather was bright and sunny</span></div>
      </div>
      <div class="answer">
        <div class="number"><span>H</span>)</div>
        <div class="text-container"><span>so he didn’t eat breakfast.</span></div>
      </div>
      <!-- end -->
    </div>
  </div>
  <div class="row btn-row">
    <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
    </div>
  </div>
</div>
</div>