<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
				<h2 class="font-weight-bold heading">
					Click on the blanks and then click on the correct Common Nouns from the help box, that can be used in place of the underlined words.
				</h2>
				
			</div>
		</div>
		<div class="row">
			<div class="main-helpbox-container">
				<div class="helpbox-container">
					<div class="helpbox"><span>book</span></div>
					<div class="helpbox"><span>dinner</span></div>
					<div class="helpbox"><span>moon</span></div>
					<div class="helpbox"><span>cow</span></div>
					<div class="helpbox"><span>bus</span></div>
					<div class="helpbox"><span>jeans</span></div>
					<div class="helpbox"><span>cookies</span></div>
					<div class="helpbox"><span>mall</span></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<div class="question-container">
					<!-- 1 -->
					<div class="question">
						<div class="number">
							<span>1)</span>
						</div>
						<div class="text-container">
							<span>She was looking at the <u>stars</u>.</span>
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>moon</span>
								</div>
							</div>
						</div>
					</div>
					<!-- 2 -->
					<div class="question">
						<div class="number">
							<span>2)</span>
						</div>
						<div class="text-container">
							<span>I ate my <u>lunch</u>.</span>
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>dinner</span>
								</div>
							</div>
						</div>
					</div>
					<!-- 3 -->
					<div class="question">
						<div class="number">
							<span>3)</span>
						</div>
						<div class="text-container">
							<span>We took a ride in a <u>cab</u>.</span>
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>bus</span>
								</div>
							</div>
						</div>
					</div>
					<!-- 4 -->
					<div class="question">
						<div class="number">
							<span>4)</span>
						</div>
						<div class="text-container">
							<span>It was a <u>buffalo</u>.</span>
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>cow</span>
								</div>
							</div>
						</div>
					</div>
					<!-- 5 -->
					<div class="question">
						<div class="number">
							<span>5)</span>
						</div>
						<div class="text-container">
							<span>He wore his <u>shorts </u>.</span>
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>jeans</span>
								</div>
							</div>
						</div>
					</div>
					<!-- 6 -->
					<div class="question">
						<div class="number">
							<span>6)</span>
						</div>
						<div class="text-container">
							<span>They went to the  <u>park</u>.</span>
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>mall</span>
								</div>
							</div>
						</div>
					</div>
					<!-- 7 -->
					<div class="question">
						<div class="number">
							<span>7)</span>
						</div>
						<div class="text-container">
							<span>You can read the <u>newspaper</u>.</span>
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>book</span>
								</div>
							</div>
						</div>
					</div>
					<!-- 8 -->
					<div class="question">
						<div class="number">
							<span>8)</span>
						</div>
						<div class="text-container">
							<span>We are buying <u>biscuits</u>.</span>
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>cookies</span>
								</div>
							</div>
						</div>
					</div>
					<!-- end -->
				</div>
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>