@font-face {
    font-family: "Microsoft Tai Lee";
    src: url(../font/NTAILU.TTF) format("truetype");
}
@font-face {
    font-family: "Arial Rounded MT Bold";
    src: url(../font/ArialRoundedMTBold.TTF) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url(../font/MontserratAlternates-Bold_0.otf) format("truetype");
}
.grade_list{
    position: relative;
}
body {
    min-height: 100%;
    overflow-x: hidden;
    font-family: "Microsoft Tai Lee", sans-serif;
    color: #000;
    font-size: 22px;
    line-height: 1.3;
    height: 100%;
}
.home-page-container, .dashboard_Block, .topic_container, .subtopic_container {
    font-family: "Arial Rounded MT Bold", sans-serif;
}
body.home {
    min-height: 100vh;
    height: auto;
}
.home {
    background: #8ebb3f;
    position: relative;
}
.home-page-bg {
    width: 100%;
}
.bgcontainer {
    position: absolute;
    top: 0;
    width: 100vw;
    padding-right: 5%;
}
.home .navbar {
    padding: 1em;
}
.navbar_row {
    align-items: center;
    width: 100vw;
    margin: 0;
}
.navText {
    font-size: 1.4em;
    font-family: "Montserrat", sans-serif;
}
.navText .orange {
    color: #f36c24;
}
.navText .grey {
    color: #2b4d61;
}
.toggle {
    display: none;
}
.navbar_row .home_page_menu {
    top: 5px;
}
.menu {
    right: 0;
}
.menu-right {
    padding-right: 5px;
    z-index: 2;
}
.menu ul {
    padding: 0;
    margin: 0;
}
.menu ul li {
    list-style-type: none;
    display: inline-block;
}
.home_page_menu li {
    position: relative;
}
.menu ul li a {
    font-size: 1em;
    display: block;
    color: #0d3447;
    text-decoration: none;
    padding: 5px;
    margin-right: 10px;
}
img.arrow {
    width: 15px;
    position: absolute;
    bottom: 50%;
    transition: .5s;
    transform: translateY(60%);
}
ul.standard_dropdown {
    position: absolute;
    left: 0%;
    display: none;
}
.menu ul.standard_dropdown li {
    white-space: nowrap;
    background-color: #fff;
    display: block;
    border-top: 1px solid #a7a7a7;
}
.menu ul.standard_dropdown li a {
    padding: 6px 10px;
    margin: 0;
}
.menu ul.standard_dropdown li a, ul.dropdown.user_dropdown li a {
    font-size: .85em;
}
.footer {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 25px 0 10px;
    position: relative;
    height: 30px;
    line-height: 30px;
    background-color: rgba(255,255,255,.7);
}
.home .footer {
    bottom: 2px;
    position: absolute;
    margin: 0;
}
.social_media {
    position: absolute;
    top: 0;
    right: 5%;
    line-height: 30px;
}
.social_media ul {
    padding: 0;
    margin: 0;
}
.social_media ul li {
    list-style: none;
    display: inline-block;
}
.social_media ul li a {
    display: block;
    text-decoration: none;
    margin-right: 10px;
}
.social_media ul li a img {
    height: 30px;
    filter: drop-shadow(2px 0px 2px rgba(0, 0, 0, .3));
}
.social_media ul li a img.linkedin {
    height: 25px;
}
img.arrow.up {
    transform: rotate(180deg) translateY(-50%);
}
@media(min-width:100px) and (max-width:575px) {
    body{
        font-size: 16px;
    }
}


@media(min-width:576px) and (max-width:767px) {
    body{
        font-size: 16px;
    }
    .bgcontainer {
        padding-right: 2%;
    }
    .navText {
        font-size: 1.3em;
        white-space: nowrap;
    }
    .navbar_row .home_page_menu {
        top: unset;
    }
    .menu-right ul li a {
        margin-right: 0;
        padding: 5px 5px;
    }
    .menu ul.standard_dropdown li a {
        padding: 4px 10px;
        margin: 0;
        font-size: .9em;
    }
    .menu-right ul li a.standard_dropdown_toggle {
        margin-right: 10px;
    }
    .menu {
        position: absolute;
        right: 10px;
        white-space: nowrap;
    }
    .footer {
        height: 27px;
        font-size: 12px;
    }
    .social_media {
        right: 2%;
        line-height: 27px;
    }
    .social_media ul li a {
        margin-right: 5px;
    }
    .social_media ul li a img {
        height: 24px;
    }
    .social_media ul li a img.linkedin {
        height: 20px;
    }
}

@media(min-width:768px) and (max-width:991px) {
    body{
        font-size: 18px;
    }
    .bgcontainer {
        padding-right: 0%;
    }
    .navbar_row .home_page_menu {
        top: 4px;
    }
    .menu {
        right: 5px;
        padding-right: 15px;
    }
    .menu-right ul li a {
        padding: 5px 9px;
    }
    .menu ul li a {
        margin-right: 0;
    }
    .menu ul.standard_dropdown li a, ul.dropdown.user_dropdown li a {
        font-size: .9em;
    }
    .footer {
        font-size: 13px;
        line-height: 32px;
    }
    .social_media ul li a img.linkedin {
        height: 24px;
    }
    .social_media ul li a img {
        height: 27px;
    }
}


@media(min-width:992px) and (max-width:1199px) {
    body{
        font-size: 20px;
    }
    .bgcontainer {
        padding-right: 0%;
    }
    .home .menu {
        padding-right: 10px;
    }
    .footer {
        line-height: 33px;
    }
}
@media(min-width:1200px){
    .bgcontainer {
        padding-left: 5%;
    }
}
@media(min-width:1900px){
    .container{
        min-width: 1500px;
    }
    body{
        font-size: 30px;
    }
    .bgcontainer {
        padding-left: 5%;
    }
    .navText {
        font-size: 1.7em;
    }
    .navbar_row .home_page_menu {
        top: 10px;
    }
    .menu ul li a {
        font-size: 1.2em;
        padding: 5px;
        margin-right: 20px;
    }
    .menu ul li a.standard_dropdown_toggle {
        margin-right: 35px;
    }
    img.arrow {
        width: 30px;
        margin-left: 5px;
    }
    ul.standard_dropdown {
        left: -5px;
    }
    .menu ul.standard_dropdown li a, ul.dropdown.user_dropdown li a {
        font-size: 1.05em;
        padding: 10px 20px;
        margin-right: 0;
    }
    .menu-right {
        padding-right: 25px;
    }
    .footer {
        font-size: 24px;
        height: 60px;
        line-height: 62px;
    }
    .social_media {
        top: 5px;
    }
    .social_media ul li a {
        margin-right: 20px;
    }
    .social_media ul li a img {
        height: 50px;
        filter: drop-shadow(2px 3px 3px rgba(0,0,0,.3));
    }
    .social_media ul li a img.linkedin {
        height: 43px;
    }
}