<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text fabulous hide">
			</div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>

    <div class="loadingDiv">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 px-2 mb-1 mb-sm-4 mt-4">

                <h2 class="font-weight-bold header">
                    Click in the boxes to colour them, if the words should begin with Capital Letters.
                </h2>
            </div>
        </div>

        <div class="Main_Container mb-3 mt-2 mt-sm-2">
            <div class="row Question_Div">
                <div class="col-1 p-0"></div>
                <div class="col-12 col-sm-6">
                    <img src="assets/std01-capital-letter-worksheet1/img/boy.png" class="img-fluid boy">
                    <img src="assets/std01-capital-letter-worksheet1/img/board-1.png" class="img-fluid img-board">
                    <div class="w-100">
                        <div class="row-container Question">
                            <div class="row m-0">
                                <div class="col-4 p-0">
                                    <div class="content-box right option">easter</div>
                                </div>
                                <div class="col-4 p-0">

                                    <div class="content-box right option">jenny</div>
                                </div>
                                <div class="col-4 p-0">

                                    <div class="content-box wrong option">paper</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="row-container1 Question">
                            <div class="row m-0">
                                <div class="col-4 p-0">
                                    <div class="content-box wrong option">frame</div>
                                </div>
                                <div class="col-4 p-0">

                                    <div class="content-box right option">singapore</div>
                                </div>
                                <div class="col-4 p-0">

                                    <div class="content-box wrong option">lock</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="row-container2 Question">
                            <div class="row m-0">
                                <div class="col-4 p-0">
                                    <div class="content-box right option">sunday</div>
                                </div>
                                <div class="col-4 p-0">

                                    <div class="content-box wrong  option">cupboard</div>
                                </div>
                                <div class="col-4 p-0">

                                    <div class="content-box right option">lara</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="row-container3 Question">
                            <div class="row m-0">
                                <div class="col-4 p-0">
                                    <div class="content-box wrong  option">water</div>
                                </div>
                                <div class="col-4 p-0">

                                    <div class="content-box right option">july</div>
                                </div>
                                <div class="col-4 p-0">

                                    <div class="content-box wrong  option">train</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="row-container4 Question">
                            <div class="row m-0">
                                <div class="col-4 p-0">
                                    <div class="content-box right option">richard</div>
                                </div>
                                <div class="col-4 p-0">

                                    <div class="content-box wrong  option">grapefruit</div>
                                </div>
                                <div class="col-4 p-0">

                                    <div class="content-box wrong  option">carpenter</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5 p-0 landscape">
                    <img src="assets/std01-capital-letter-worksheet1/img/mix2.png" class="img-fluid">
                </div>
            </div>
            <div class="col-12 p-0 potrait">
                <img src="assets/std01-capital-letter-worksheet1/img/mix-portait.png" class="img-fluid ">
                <!-- <img src="assets/std01-capital-letter-worksheet1/img/portrait-img.jpg" class="img-fluid "> -->
            </div>
        </div>

        <div class="row btn-row">
            <div class="col-12 text-center">
                <button class="button myButton">Submit</button>
            </div>
        </div>

    </div>
</div>