<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    <!-- <div class="loadingDiv">
    </div> -->
	<div class="container">
		<div class="row">
			<div class="col-12 mt-2 mt-lg-3 mb-1 mb-lg-2">
				<h2 class="font-weight-bold">
					Click on the Adjectives of Number in the following sentences.

				</h2>
			</div>
			<div class="col-12 ">
				<h2 class="font-weight-bold heading">
					Adjectives of Number answer the question ‘how many’.

				</h2>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<!-- 1 -->
				<div class="question">
					<div class="number"><span>1</span></div>
					<div class="text-container"><span>There</span> <span>are</span> <span class="right">four</span> <span>members</span> <span>in</span> <span>my</span> <span>family</span>. </div>
				</div>
				<!-- 2 -->
				<div class="question">
					<div class="number"><span>2</span></div>
					<div class="text-container"><span>A</span> <span>day</span> <span>is</span> <span>made</span> <span>up</span> <span>of</span> <span class="right">twenty-four</span> <span>hours</span>. </div>
				</div>
				<!-- 3 -->
				<div class="question">
					<div class="number"><span>3</span></div>
					<div class="text-container"><span>Michelle</span> <span>stood</span> <span class="right">first</span> <span>in</span> <span>her</span> <span>class</span>. </div>
				</div>
				<!-- 4 -->
				<div class="question">
					<div class="number"><span>4</span></div>
					<div class="text-container"><span>The</span> <span>teacher</span> <span>told</span> <span>the</span> <span>pupils</span> <span>to</span> <span>solve</span> <span class="right">ten</span> <span>Maths</span> <span>sums</span> <span>everyday</span>. </div>
				</div>
				<!-- 5 -->
				<div class="question">
					<div class="number"><span>5</span></div>
					<div class="text-container"><span>Dad</span> <span>bought</span> <span class="right">six</span> <span>chairs</span> <span>for</span> <span>the</span> <span>new</span> <span>dining</span> <span>table</span>. </div>
				</div>
				<!-- 6 -->
				<div class="question">
					<div class="number"><span>6</span></div>
					<div class="text-container"><span>David</span> <span>came</span> <span class="right">third</span> <span>in</span> <span>the</span> <span>race</span> <span>on</span> <span>Sports</span> <span>Day</span>. </div>
				</div>
				<!-- 7 -->
				<div class="question">
					<div class="number"><span>7</span></div>
					<div class="text-container"><span class="right">Some</span> <span>students</span> <span>stayed</span> <span>back</span> <span>after</span> <span>school</span> <span>to</span> <span>practise</span> <span>for</span> <span>the</span> <span>drama</span>. </div>
				</div>
				<!-- 8 -->
				<div class="question">
					<div class="number"><span>8</span></div>
					<div class="text-container"><span>There</span> <span>are</span> <span class="right">enough</span> <span>spoons</span> <span>for</span> <span>everyone</span>. </div>
				</div>
				<!-- 9 -->
				<div class="question">
					<div class="number"><span>9</span></div>
					<div class="text-container"><span class="right">All</span> <span>soldiers</span> <span>had</span> <span>to</span> <span>participate</span> <span>in</span> <span>the</span> <span>parade</span>. </div>
				</div>
				<!-- 10 -->
				<div class="question">
					<div class="number"><span>10</span></div>
					<div class="text-container"><span>Are</span> <span>there</span> <span class="right">any</span> <span>mangoes</span> <span>left</span> <span>in</span> <span>the</span> <span>box?</span> <span></span> </div>
				</div>
				<!-- end -->
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>