<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row">
            <div class="heading mt-3">
                <h1>Click on the blanks and then click on the correct Past Tense Verbs from the help box, to complete the sentences.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 Question_Container mt-2">
               <div class="row">
                   <div class="col-12">
                      <div class="question question-content">
                          <div><span>1)</span></div>
                          <div> An aeroplane <input type="text" type="text"  maxlength=8 size=8> <div class="correct_answer"><span>flew</span></div>over the city of Tokyo.</div>
                      </div>
                   </div>
               </div>
               <div class="row">
                    <div class="col-12">
                      <div class="question question-content">
                            <div><span>2)</span></div>
                            <div> The baby <input type="text"  maxlength=8 size=8> <div class="correct_answer"><span>fell</span></div>down from the high chair.</div>
                      </div>
                    </div>
                </div>
                <div class="row">
                   <div class="col-12">
                      <div class="question question-content">
                          <div><span>3)</span></div>
                          <div>Tom <input type="text" type="text" maxlength=8 size=20> <div class="correct_answer"><span>wanted</span></div>an ice-cream.</div>
                      </div>
                   </div>
               </div>
               <div class="row">
                    <div class="col-12">
                        <div class="question question-content">
                             <div><span>4)</span></div>
                             <div>The principal <input type="text" type="text" maxlength=8 size=8> <div class="correct_answer"><span>spoke</span></div>to the students during assembly.</div>
                         </div>
                    </div>
                </div>
                <div class="row">
                   <div class="col-12">
                       <div class="question question-content">
                            <div><span>5)</span></div>
                            <div>A beautiful girl <input type="text" type="text" maxlength=8 size=8> <div class="correct_answer"><span>walked</span></div>into the store.</div>
                        </div>
                   </div>
               </div>
               <div class="row">
                    <div class="col-12">
                        <div class="question question-content">
                             <div><span>6)</span></div>
                             <div>The maid servant  <input type="text" type="text" maxlength=8 size=8> <div class="correct_answer"><span>broke</span></div>a dish today.</div>
                         </div>
                    </div>
                </div>
                <div class="row">
                   <div class="col-12">
                       <div class="question question-content">
                            <div><span>7)</span></div>
                            <div> A group of children  <input type="text" type="text" maxlength=8 size=8> <div class="correct_answer"><span>danced</span></div>on the stage.</div>
                        </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-12">
                       <div class="question question-content">
                            <div><span>8)</span></div>
                            <div>Dora <input type="text" type="text" maxlength=8 size=8> <div class="correct_answer"><span>sat</span></div>on the rug.</div>
                        </div>
                   </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 Option_Container">
                <div class="row">
                    <div class="col-3">
                        <div class="option text-center">
                            <img src="assets/std01-past-tense-worksheet3/img/helpbox.png" class="img-fluid">
                            <span>wanted</span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="option text-center">
                            <img src="assets/std01-past-tense-worksheet3/img/helpbox.png" class="img-fluid">
                            <span>sat</span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="option text-center">
                            <img src="assets/std01-past-tense-worksheet3/img/helpbox.png" class="img-fluid">
                            <span>danced</span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="option text-center">
                            <img src="assets/std01-past-tense-worksheet3/img/helpbox.png" class="img-fluid">
                            <span>fell</span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="option text-center">
                            <img src="assets/std01-past-tense-worksheet3/img/helpbox.png" class="img-fluid">
                            <span>broke</span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="option text-center">
                            <img src="assets/std01-past-tense-worksheet3/img/helpbox.png" class="img-fluid">
                            <span>flew</span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="option text-center">
                            <img src="assets/std01-past-tense-worksheet3/img/helpbox.png" class="img-fluid">
                            <span>spoke</span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="option text-center">
                            <img src="assets/std01-past-tense-worksheet3/img/helpbox.png" class="img-fluid">
                            <span>walked</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="btn-row col-12">
                <button class="button myButton">Submit</button>
            </div>
        </div>
    </div>
</div>