


@font-face {
    font-family: "CustomFont";
    src: url("http://completegrammar.com/assets/font/ntailu.ttf") format("truetype");
}
@font-face {
    font-family: "CustomFontBold";
    src: url("http://completegrammar.com/assets/font/ntailub.ttf") format("truetype");	
}
@font-face {
    font-family: mt-rounded-bold;
    src: url(http://completegrammar.com/assets/font/ARLRDBD.ttf) format("truetype");
    font-weight: bold;
  }
.bg{
    min-height:100vh;
     background: url(http://completegrammar.com/assets/std02-future-tense-worksheet3/img/bg.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: bottom;
	overflow-x:hidden;
    /* font-family:Microsoft New Tai lue; */
    font-family: 'mt-rounded-bold','Microsoft New Tai Lue','Arial';
    color:#000;
    font-size:22px;
    height: 100%;
}

.btn-row{
    position: absolute;
margin-top: -60px !important;
margin-bottom: 10px !important;
left: 50%;
transform: translateX(-50%);
}

.col-xl-8
{
    line-height: 1.3em;
}
.col-2
{
    cursor: pointer;
}
p
{
    line-height: 2.2em;
}
.heading{
    border:4px solid #fff;
    -webkit-box-shadow:1px 1px 10px rgba(0,0,0,.5);
    -moz-box-shadow:1px 1px 10px rgba(0,0,0,.5);
    box-shadow:1px 1px 10px rgba(0,0,0,.5);
    display: inline-block;
}

h2{
    color:#000;
}


input{
    border:0;
    padding:0;
    border-bottom:1px solid #000;
    background:transparent;
    color:#000;
    text-align:center;
    outline:0;
    width:120px;
    line-height:1;
}
 .correct-ans span{
    display: inline-block;
    padding: 0 5px;
    border: 1px solid #000;
    background-color: #e0dfe0;
    border-radius: 5px;
    color: #20bb15 !important;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: bold;
    /* font-size: 18px;
    line-height: 1;
    margin-left: -120px;
    position: absolute;
    margin-top: -7px;
    width: 120px;
    text-align: center; */
}
.correct-ans{
    font-family: 'CustomFontBold','Microsoft New Tai Lue','Arial';
    font-size: 18px;
    line-height: 1;
    margin-left: -120px;
    position: absolute;
    margin-top: -7px;
    width: 120px;
    text-align: center;
}
.correct-ans{
    display: none;
}
.holiday h2
{
	font-family: 'CustomFontBold','Microsoft New Tai Lue','Arial';
    /* padding-left: 21.5rem!important; */
	text-decoration: underline;
	margin-top: -20px;
}
 .will-spend-ans {
    display: inline-block;
    position: absolute;
    margin-top: 119px;
    font-size: 23px;
    margin-left: 39px;
} 
 .shall-enjoy-ans{
    display: inline-block;
    position: absolute;
    margin-top: 119px;
    font-size: 23px;
    margin-left: 154px;
} 
  .will-leave-ans
 {
    display: inline-block;
    position: absolute;
    margin-top: 119px;
    margin-left: 264px;
    font-size: 23px;
} 
 .will-take-ans
{
    display: inline-block;
    position: absolute;
    margin-top: 119px;
    margin-left: 375px;
    font-size: 24px;
} 
 .will-come-ans
{ 
    display: inline-block;
    position: absolute;
    margin-top: 119px;
    font-size: 23px;
    margin-left: 489px;
} 
.will-see-ans
{
    display: inline-block;
    position: absolute;
    margin-top: 219px;
    margin-left: 39px;
    font-size: 23px;
}
.shall-have-ans
{
    position: absolute;
    display: inline-block;
    font-size: 23px;
    margin-top: 219px;
    margin-left: 154px;
}
.shall-spend-ans
{
    display: inline-block;
    font-size: 23px;
    position: absolute;
    margin-top: 219px;
    margin-left: 264px;
}
.shall-clk-ans
{
    display: inline-block;
    font-size: 23px;
    position: absolute;
    margin-top: 219px;
    margin-left: 375px;
}
.shall-visit-ans
{
    display: inline-block;
    font-size: 23px;
    position: absolute;
    margin-top: 219px;
    margin-left: 489px;
}

.Question_Body{
    background-color:rgba(255,255,255,.7);
    padding:10px 15px;
	/* margin-top: -58px */	
}
.Question{
    /* text-align:center; */
    margin-bottom: 5px;
    padding-right:0;
}

.future-heading
{
   
    background-color:rgba(255,255,255,.5);
    padding-left: 10px;
}
.Main_Container .box{
    position: absolute;
    top: 106px;
    right: -330px;
}



@media (min-width:100px) and (max-width:575px){
	.Main_Container .box{
        display: none;
    }
	
    .bg{
        min-height:100vh;
         background: url(http://completegrammar.com/assets/std02-future-tense-worksheet3/img/bg_portrait.jpg) no-repeat;
        background-size: 100% 100%;
        background-position: bottom;
        font-size:20px;
    }
    .btn-row {
        position: absolute;
        margin-top: -28px !important;
        margin-bottom: 10px !important;
        left: 50%;
        transform: translateX(-50%);
    }
   
	.holiday h2 {
    text-decoration: underline;
    margin-top: -8px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px;
    width: 100%;
    margin-left: 5px;
    line-height: 2.5em;
}
.Question_Body {
width: 95%;

}
.col-11
{
    padding-left: 2px;
    padding-right: unset;
}
.col-12
{
    padding-right: unset;
}
input {
 
    width: 81px;

}
.correct-ans {
    font-size: 13px;
    margin-left: -81px;
    margin-top: -9px;
    width: 81px;
}
    
    h2{
        font-size:19px;
        padding-right: 5px;
    }
	
	
	.Question .row .col-1{
		padding-left:0!important;
	}
    
    .will-spend-ans {
        margin-top: 58px;
        font-size: 13px;
        margin-left: 26px;
    } 
     .shall-enjoy-ans{
        margin-top: 56px;
        font-size: 13px;
        margin-left: 82px;
    } 
      .will-leave-ans
     {
        margin-top: 57px;
        margin-left: 144px;
        font-size: 13px;
    } 
     .will-take-ans
    {
        margin-top: 57px;
        margin-left: 203px;
        font-size: 13px;
    } 
     .will-come-ans
    { 
        margin-top: 57px;
        font-size: 13px;
        margin-left: 257px;
    } 
    .will-see-ans
    {
        font-size: 13px;
        margin-top: 107px;
        margin-left: 31px;
    }
    .shall-have-ans
    {
        font-size: 13px;
        margin-top: 107px;
        margin-left: 85px;
    }
    .shall-spend-ans
    {
        font-size: 13px;
        margin-top: 107px;
        margin-left: 142px;
    }
    .shall-clk-ans
    {
        font-size: 13px;
        margin-top: 107px;
        margin-left: 200px;
    }
    .shall-visit-ans
    {
        font-size: 13px;
        margin-top: 107px;
        margin-left: 258px;
    }
    .correct-ans span {
        padding: 2px 5px;
    }
   
}
 @media (min-width:318px) and (max-width:575px){
    h2 {
        font-size: 18px;
    }
    .holiday h2 {
        text-decoration: underline;
        margin-top: -8px;
    }
    p
    {
        margin-left: -5px;
    }
    .col-xl-8
    {
        line-height: 14px;
    }
    .will-spend-ans {
        margin-top: 53px;
        font-size: 13px;
        margin-left: 26px;
    }
    .shall-enjoy-ans {
        margin-top: 53px;
        font-size: 13px;
        margin-left: 74px;
    }
    .will-leave-ans {
        margin-top: 53px;
        margin-left: 126px;
        font-size: 13px;
    }
    .will-take-ans {
        margin-top: 53px;
        margin-left: 177px;
        font-size: 13px;
    }
    .will-come-ans {
        margin-top: 53px;
        font-size: 13px;
        margin-left: 225px;
    }
    .will-see-ans {
        font-size: 13px;
        margin-top: 99px;
        margin-left: 26px;
    }
    .shall-have-ans {
        font-size: 13px;
        margin-top: 99px;
        margin-left: 75px;
    }
    .shall-spend-ans {
        font-size: 13px;
        margin-top: 99px;
        margin-left: 123px;
    }
    .shall-clk-ans {
        font-size: 13px;
        margin-top: 99px;
        margin-left: 176px;
    }
    .shall-visit-ans {
        font-size: 13px;
        margin-top: 99px;
        margin-left: 225px;
    }

}
@media (min-width:358px) and (max-width:575px){
    
    .holiday h2 {
        text-decoration: underline;
        margin-top: -8px;
    }
    p {
        margin-left: 0px;
    }
    .will-spend-ans {
        margin-top: 61px;
        font-size: 13px;
        margin-left: 26px;
    } 
     .shall-enjoy-ans{
        margin-top: 61px;
        font-size: 13px;
        margin-left: 82px;
    } 
      .will-leave-ans
     {
        margin-top: 61px;
        margin-left: 144px;
        font-size: 13px;
    } 
     .will-take-ans
    {
        margin-top: 61px;
        margin-left: 203px;
        font-size: 13px;
    } 
     .will-come-ans
    { 
        margin-top: 61px;
        font-size: 13px;
        margin-left: 257px;
    } 
    .will-see-ans
    {
        font-size: 13px;
        margin-top: 112px;
        margin-left: 26px;
    }
    .shall-have-ans
    {
        font-size: 13px;
        margin-top: 112px;
        margin-left: 85px;
    }
    .shall-spend-ans
    {
        font-size: 13px;
        margin-top: 112px;
        margin-left: 142px;
    }
    .shall-clk-ans
    {
        font-size: 13px;
        margin-top: 112px;
        margin-left: 200px;
    }
    .shall-visit-ans
    {
        font-size: 13px;
        margin-top: 112px;
        margin-left: 258px;
    }

}

@media (min-width:374px) and (max-width:575px){
    .holiday h2 {
        text-decoration: underline;
        margin-top: -8px;
    }
    .will-spend-ans {
        margin-top: 65px;
        font-size: 17px;
        margin-left: 26px;
    } 
     .shall-enjoy-ans{
        margin-top: 65px;
        font-size: 17px;
        margin-left: 88px;
    } 
      .will-leave-ans
     {
        margin-top: 65px;
        margin-left: 144px;
        font-size: 17px;
    } 
     .will-take-ans
    {
        margin-top: 65px;
        margin-left: 208px;
        font-size: 17px;
    } 
     .will-come-ans
    { 
        margin-top: 65px;
        font-size: 17px;
        margin-left: 267px;
    } 
    .will-see-ans
    {
        font-size: 17px;
        margin-top: 118px;
        margin-left: 30px;
    }
    .shall-have-ans
    {
        font-size: 17px;
        margin-top: 118px;
        margin-left: 90px;
    }
    .shall-spend-ans
    {
        font-size: 17px;
        margin-top: 118px;
        margin-left: 144px;
    }
    .shall-clk-ans
    {
        font-size: 17px;
        margin-top: 118px;
        margin-left: 205px;
    }
    .shall-visit-ans
    {
        font-size: 17px;
        margin-top: 118px;
        margin-left: 267px;
    }

}
@media (min-width:400px) and (max-width:575px){
    h2 {
        font-size: 20px;
    }
  
    .will-spend-ans {
        margin-top: 73px;
        font-size: 17px;
        margin-left: 32px;
    }
    .shall-enjoy-ans {
        margin-top: 73px;
        font-size: 17px;
        margin-left: 95px;
    }
    .will-leave-ans {
        margin-top: 73px;
        margin-left: 162px;
        font-size: 17px;
    }
    .will-take-ans {
        margin-top: 73px;
        margin-left: 229px;
        font-size: 17px;
    }
    
    .will-come-ans {
        margin-top: 73px;
        font-size: 17px;
        margin-left: 294px;
    }
    .will-see-ans {
        font-size: 17px;
        margin-top: 133px;
        margin-left: 31px;
    }
    .shall-have-ans {
        font-size: 17px;
        margin-top: 133px;
        margin-left: 97px;
    }
    .shall-spend-ans {
        font-size: 17px;
        margin-top: 133px;
        margin-left: 159px;
    }
    .shall-clk-ans {
        font-size: 17px;
        margin-top: 133px;
        margin-left: 228px;
    }
    .shall-visit-ans {
        font-size: 17px;
        margin-top: 133px;
        margin-left: 294px;
    }    

} 

@media (min-width:565px) and (max-width:575px){
    .col-xl-8 {
        line-height: 20px;
    }
    .img-fluid {
        max-width: 80%;
        height: auto;
    }

    h2 {
        padding-right: 15px;
        padding-left: 5px;
    }
    p {
        margin-left: 10px;
    }
    .holiday h2 {
        text-decoration: underline;
        margin-top: -8px;
    }
    .will-spend-ans {
        margin-top: 78px;
        font-size: 17px;
        margin-left: 24px;
    }
    .shall-enjoy-ans {
        margin-top: 78px;
        font-size: 17px;
        margin-left: 98px;
    }
    .will-leave-ans {
        margin-top: 78px;
        margin-left: 173px;
        font-size: 17px;
    }
    .will-take-ans {
        margin-top: 78px;
        margin-left: 248px;
        font-size: 18px;
    }
    .will-come-ans {
        margin-top: 78px;
        font-size: 17px;
        margin-left: 323px;
    }
    .will-see-ans {
        font-size: 17px;
        margin-top: 146px;
        margin-left: 24px;
    }
    .shall-have-ans {
        font-size: 17px;
        margin-top: 146px;
        margin-left: 98px;
    }
    .shall-spend-ans {
        font-size: 17px;
        margin-top: 144px;
        margin-left: 173px;
    }
    .shall-clk-ans {
        font-size: 17px;
        margin-top: 146px;
        margin-left: 248px;
    }
    .shall-visit-ans {
        font-size: 17px;
        margin-top: 146px;
        margin-left: 323px;
    }

}
@media (min-width: 576px) and (max-width: 767px){
    .bg{
        font-size:18px;
    }
    .btn-row {
        position: absolute;
        margin-top: -56px !important;
        margin-bottom: 10px !important;
        left: 47%;
        transform: translateX(-59%);
    }
    .container {
        max-width: unset;
    }
    h2{
        font-size:20px;
    }

    .Question_Body{
        margin-top: -20px;
        margin-left: 27px;
    }
    .col-4{
        padding:0 10px;
    }
    .col-8{
        padding:0 5px;
    }
    .heading + h2{
        font-size:24px;
    }
	.list-item {
    background: url(http://completegrammar.com/assets/std02-future-tense-worksheet3/img/list-item-bg.png) no-repeat;
    background-size: 100% 100%;
    background-position: 100%;
    width: 100%;
    margin-top: -10px;
}
.holiday h2 {
    margin-top: -19px;
}
input {
    width: 100px;
}
.correct-ans {
   font-size: 15px;
    margin-left: -100px;
    margin-top: -9px;
    width: 100px;
}
p {
    line-height: 2.5em;
}
.Main_Container img {
    width: 100%;
}
.will-spend-ans {
    margin-top: 97px;
    font-size: 17px;
    margin-left: 33px;
}
.shall-enjoy-ans {
    margin-top: 97px;
    font-size: 17px;
    margin-left: 126px;
}
.will-leave-ans {
    margin-top: 97px;
    margin-left: 215px;
    font-size: 17px;
}
.will-take-ans {
    margin-top: 97px;
    margin-left: 306px;
    font-size: 18px;
}
.will-come-ans {
    margin-top: 97px;
    font-size: 17px;
    margin-left: 401px;
}
.will-see-ans {
    margin-top: 181px;
    margin-left: 33px;
    font-size: 17px;
}
.shall-have-ans {
    font-size: 17px;
    margin-top: 181px;
    margin-left: 126px;;
}
.shall-spend-ans {
    font-size: 17px;
    margin-top: 181px;
    margin-left: 215px;
}
.shall-clk-ans {
    font-size: 17px;
    margin-top: 181px;
    margin-left: 307px;
}
.shall-visit-ans {
    font-size: 17px;
    margin-top: 181px;
    margin-left: 401px;
}
.Main_Container .box{
    position: absolute;
    top: 106px;
    right: -64px;
    width: 13%;
}
    
}

@media (min-width: 665px) and (max-width: 767px){
    .will-spend-ans {
        margin-top: 102px;
        font-size: 18px;
        margin-left: 33px;
    }
    .shall-enjoy-ans {
        margin-top: 101px;
        font-size: 17px;
        margin-left: 132px;
    }
    .will-leave-ans {
        margin-top: 101px;
        margin-left: 225px;
        font-size: 17px;
    }
    .will-take-ans {
        margin-top: 101px;
        margin-left: 324px;
        font-size: 19px;
    }
    .will-come-ans {
        margin-top: 101px;
        font-size: 17px;
        margin-left: 420px;
    }
    .will-see-ans {
        margin-top: 191px;
        margin-left: 33px;
        font-size: 18px;
    }
    .shall-have-ans {
        font-size: 17px;
        margin-top: 191px;
        margin-left: 132px;
    }
    .shall-spend-ans {
        font-size: 17px;
        margin-top: 191px;
        margin-left: 225px;
    }
    .shall-clk-ans {
        font-size: 17px;
        margin-top: 191px;
        margin-left: 324px;
    }
    .shall-visit-ans {
        font-size: 17px;
        margin-top: 191px;
        margin-left: 420px;
    }



}
@media (min-width: 730px) and (max-width: 767px){
  
    .col-xl-8 {
        line-height: 1.5em;
    }
   
    .will-spend-ans {
        margin-top: 113px;
        font-size: 21px;
        margin-left: 39px;
    }
    .shall-enjoy-ans {
        margin-top: 113px;
        font-size: 21px;
        margin-left: 145px;
    }
    .will-leave-ans {
        margin-top: 113px;
        margin-left: 250px;
        font-size: 21px;
    }
    .will-take-ans {
        margin-top: 113px;
        margin-left: 358px;
        font-size: 22px;
    }
    .will-come-ans {
        margin-top: 113px;
        font-size: 21px;
        margin-left: 460px;
    }
    .will-see-ans {
        margin-top: 207px;
        margin-left: 39px;
        font-size: 21px;
    }
    .shall-have-ans {
        font-size: 21px;
        margin-top: 207px;
        margin-left: 145px;
    }
    .shall-spend-ans {
        font-size: 21px;
        margin-top: 207px;
        margin-left: 250px;
    }
    .shall-clk-ans {
        font-size: 21px;
        margin-top: 207px;
        margin-left: 358px;
    }
    .shall-visit-ans {
        font-size: 21px;
        margin-top: 207px;
        margin-left: 460px;
    }

}
@media (min-width: 768px) and (max-width: 991px){
    .bg {
        font-size: 21px;
    }	
.Question_Body {
    margin-top: -13px;
    margin-left: 25px;
}
.btn-row {
    position: absolute;
    margin-top: -39px !important;
    margin-bottom: 10px !important;
    left: 50%;
    transform: translateX(-50%);
}
.holiday h2 {
    margin-top: -19px;
}
p {
    margin-top: -20px;
}
input {
    width: 111px;
}
.correct-ans {
    font-size: 15px;
    margin-left: -111px;
    margin-top: -10px;
    width: 111px;
}
.correct-ans span {
    padding: 3px 5px;
}
p {
    line-height: 2.5em;
}
h2 {
    font-size: 21px;
}
.Main_Container img {
    width: 100%;
}
.will-spend-ans {
    margin-top: 111px;
    font-size: 23px;
    margin-left: 38px;
}
.shall-enjoy-ans {
    margin-top: 111px;
    font-size: 23px;
    margin-left: 143px;
}
.will-leave-ans {
    margin-top: 111px;
    margin-left: 247px;
    font-size: 23px;
}
.will-take-ans {
    margin-top: 111px;
    margin-left: 351px;
    font-size: 23px;
}
.will-come-ans {
    margin-top: 111px;
    font-size: 23px;
    margin-left: 455px;
}
.will-see-ans {
    margin-top: 205px;
    margin-left: 38px;
    font-size: 23px;
}
.shall-have-ans {
    font-size: 23px;
    margin-top: 205px;
    margin-left: 143px;
}
.shall-spend-ans {
    font-size: 23px;
    margin-top: 205px;
    margin-left: 247px;
}
.shall-clk-ans {
    font-size: 23px;
    margin-top: 205px;
    margin-left: 351px;
}
.shall-visit-ans {
    font-size: 23px;
    margin-top: 205px;
    margin-left: 458px;
}
.Main_Container .box{
    position: absolute;
    top: 89px;
    right: -112px;
    width: 13%;
}
   
}
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: unset;
    }	
.Question_Body {
    margin-top: -10px;
    margin-left: 45px;
}
.btn-row {
    position: absolute;
    margin-top: -72px !important;
    margin-bottom: 10px !important;
    left: 50%;
    transform: translateX(-50%);
}

.col-xl-8
{
    line-height: 35px;
}
.holiday h2 {
    margin-top: -19px;
}
input {
    width: 160px;
}
.correct-ans {
    font-size: 23px;
    margin-left: -160px;
    margin-top: -11px;
    width: 160px;
}
.correct-ans span {
    padding: 3px 5px;
}
.Main_Container img {
    width: 85%;
}
p {
    margin-top: -25px;
    margin-bottom: 1rem;
    font-size: 30px;
    line-height: 2.5em;
}
.will-spend-ans {
    margin-top: 137px;
    font-size: 32px;
    margin-left: 37px;
}
.shall-enjoy-ans {
    margin-top: 137px;
    font-size: 32px;
    margin-left: 167px;
}
.will-leave-ans {
    margin-top: 137px;
    margin-left: 297px;
    font-size: 31px;
}
.will-take-ans {
    margin-top: 139px;
    margin-left: 428px;
    font-size: 34px;
}
.will-come-ans {
    margin-top: 139px;
    font-size: 32px;
    margin-left: 557px;
}
.will-see-ans {
    margin-top: 254px;
    margin-left: 36px;
    font-size: 32px;
}
.shall-have-ans {
    font-size: 32px;
    margin-top: 253px;
    margin-left: 167px;
}
.shall-spend-ans {
    font-size: 32px;
    margin-top: 253px;
    margin-left: 296px;
}
.shall-clk-ans {
    font-size: 32px;
    margin-top: 253px;
    margin-left: 425px;
}
.shall-visit-ans {
    font-size: 32px;
    margin-top: 253px;
    margin-left: 554px;
}
.Main_Container .box {
    position: absolute;
    top: 42px;
    right: -83px;
    width: 14%;
}
}
@media (min-width: 1200px){  
}

@media (min-width: 992px){
}




@media only screen and (min-width: 768px) and (orientation: portrait) {
    .bg{
        min-height:100vh;
         background: url(http://completegrammar.com/assets/std02-future-tense-worksheet3/img/bg_portrait.jpg) no-repeat;
        background-size: 100% 100%;
        background-position: bottom;
        font-size:25px;
    }
    p {
        margin-top: -7px;
        line-height: 2.6em;
    }
    input{
        width: 140px;
    }
    .correct-ans {
        font-size: 22px;
        margin-left: -140px;
        margin-top: -10px;
        width: 140px;
    }
    .will-spend-ans {
        margin-top: 107px;
        font-size: 25px;
        margin-left: 37px;
    }
    .shall-enjoy-ans {
        margin-top: 107px;
        font-size: 25px;
        margin-left: 143px;
    }
    .will-leave-ans {
        margin-top: 107px;
        margin-left: 247px;
        font-size: 25px;
    }
    .will-take-ans {
        margin-top: 107px;
        margin-left: 351px;
        font-size: 25px;
    }
    .will-come-ans {
        margin-top: 107px;
        font-size: 25px;
        margin-left: 455px;
    }
    .will-see-ans {
        margin-top: 200px;
        margin-left: 38px;
        font-size: 25px;
    }
    .shall-have-ans {
        font-size: 25px;
        margin-top: 200px;
        margin-left: 143px;
    }
    .shall-spend-ans {
        font-size: 25px;
        margin-top: 200px;
        margin-left: 247px;
    }
    .shall-clk-ans {
        font-size: 25px;
        margin-top: 200px;
        margin-left: 351px;
    }
    .shall-visit-ans {
        font-size: 25px;
        margin-top: 200px;
        margin-left: 458px;
    }
    h2 {
        font-size: 32px;
    }
    .Main_Container .box{
        display: none;
    }
    
}

/* Landscape */ 
@media only screen and (min-width: 1366px) and (orientation: landscape) { 



}

/*Portrait*/ 
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	.bg {
        font-size: 31px;
    }
    input{
        width: 160px;
    }
    .correct-ans {
        font-size: 25px;
        margin-left: -160px;
        margin-top: -10px;
        width: 160px;
    }
    .will-spend-ans {
        margin-top: 137px;
        font-size: 32px;
        margin-left: 30px;
    }
    .shall-enjoy-ans {
        margin-top: 137px;
        font-size: 32px;
        margin-left: 159px;
    }
    .will-leave-ans {
        margin-top: 137px;
        margin-left: 288px;
        font-size: 32px;
    }
    .will-take-ans {
        margin-top: 137px;
        margin-left: 422px;
        font-size: 34px;
    }
    .will-come-ans {
        margin-top: 137px;
        font-size: 32px;
        margin-left: 551px;
    }
    .will-see-ans {
        margin-top: 255px;
        margin-left: 33px;
        font-size: 32px;
    }
    .shall-have-ans {
        font-size: 32px;
        margin-top: 257px;
        margin-left: 163px;
    }
    .shall-spend-ans {
        font-size: 32px;
        margin-top: 253px;
        margin-left: 290px;
    }
    .shall-clk-ans {
        font-size: 32px;
        margin-top: 254px;
        margin-left: 419px;
    }
    .shall-visit-ans {
        font-size: 32px;
        margin-top: 253px;
        margin-left: 550px;
    }
    .Main_Container .box{
        display: none;
    }
	
}
@media (min-width: 1900px){
   
    .container {
        max-width: 1140px;
        transform: scale(1.3);
        margin-top: 160px;
    }

}


// common
.loadingDiv {
    position: fixed;;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.4);
    background-image:url('/assets/images/loader.gif');
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    background-size: 85px;
  }

.result{
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:rgba(0,0,0,.8);
    z-index:2147483647;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor:pointer;
}
.result .Box{
    position: relative;
    padding:45px 55px 30px 20px
}
.result .imgBox{
    display:none;
}
.result img{
    max-width:100%;
}
.result .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor:pointer;
}
.result .TextBox h1 {
    font-weight:bold;
    text-align:center;
    color:#fff;
    -webkit-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	-moz-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	padding:10%;
	max-width:800px;
}
@media(min-width:100px) and (max-width:575px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
    .result .close {
        right: 15px;
    }
}
@media(min-width:576px) and (max-width:767px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
}

.button.playAgain {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:inherit;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.button.playAgain:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.button.playAgain:active {
	position:relative;
	top:1px;
}


#toggle {
    display: block;
    right: 56px;
    top: 35px;
    background: #f3ecec;
    border-radius: 50%;
    border: 4px solid #3b7ee2;
    opacity: 0.7;
    text-align: center;
    padding: 10px;
    
  }

  #toggle:hover
  {
    opacity: 1;
    border: 4px solid #3b7ee2;
    
  }
  
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
  }
  #toggle span {
    position: relative;
    display: inline;
  }
  
  #toggle span
  {
    width: 50px;
    height: 50px;
    text-align: center;
    padding:0%;
  }

  #toggle span img
  {
    width:25px;
    height:25px;
    margin:0;
  }
  
  /* on activation */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
    -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  

  /* menu appearance*/
#menu {
    position: absolute;
    color: #000;
    width: 140px;
    padding: 10px;
    border-radius: 4px;
    background: #ffffffb3;
    box-shadow: 0px 3px 11px 1px rgba(27, 24, 24, 0.24);
    font-size: 16px;
    left: -190%;
    z-index: 9;
    text-align: right;
    top: 145%;
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;  
}
.change{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1; 
}
.notchange{
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#menu:after {
    position: absolute;
    top: -20px;
    left: 107px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #ffffffb3;
}
ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}
li a {
    padding: 5px;
    color: #000;
    text-decoration: none;
    transition: all .2s;
}
li a:hover,
li a:focus {
    background: #1798dc;
    color: #fff;
    text-decoration: none;
}
.menu-block{
    position: fixed;
    right: 46px;
    top: 35px;
    z-index: 2147483646;
    height: 50px;
}
.up {
    transform: rotate(180deg) translateY(0%);
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
} 
@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
}
@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
} 

@media(min-width:100px) and (max-width:575px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:576px) and (max-width:767px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:768px) and (max-width:991px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .menu-block {
        right: 10px;
    }
    #menu:after {
        left: 140px;
    }
    #menu {
        font-size: 18px;
        left: -240%;
        top: 140%;
        width: 175px;
    }
    #toggle {
        height: 53px;
        width: 53px;
        line-height: 48px;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 26px;
    }
    #toggle{
        height: 60px;
        width: 60px;
        line-height: 55px;
        padding: 10px;
    }
    .menu-block {
        right: 20px;
    }
    #menu:after {
        left: 205px;
    }
    #toggle span img {
        width: 33px;
        height: 33px;
        margin: 0;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 30px;
    }
}
@media(min-width:1200px){
	#menu {
        top: 70px;
        left: -135px;
        width: 180px;
        font-size: 18px;
    }
    #menu:after {
        left: 145px;
    }
    #toggle{
        height: 55px;
        width: 55px;
        line-height: 50px;
    }
}


// inline
.myButton {
    -moz-box-shadow: 1px 1px 12px 3px #fff;
    -webkit-box-shadow: 1px 1px 12px 3px #fff;
    box-shadow: 1px 1px 12px 3px #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
    background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437', GradientType=0);
    background-color: #c62d1f;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    /* font-size:17px; */
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
    line-height: 1;
    outline: 0 !important;
}

.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
    background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f', GradientType=0);
    background-color: #f24437;
}

.myButton:active {
    position: relative;
    top: 1px;
}

input {
    cursor: pointer;
}

.bd {
    border-bottom: 2px solid #20bb15;
}

.click {
    color: #fff;
}


.hide {
    display: none;
}