<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 px-2 mb-1 mb-sm-4 mt-2">
        <h2 class="font-weight-bold future-heading">
          Click on the blanks and then click on the correct Future Tense Verbs from the help box of bus given below, to
          complete the story.
        </h2>
      </div>
      <div class="col-12  mb-1 mb-sm-4 holiday text-center">
        <h2 class="font-weight-bold">
          Planning for a Holiday
        </h2>
      </div>
    </div>
    <div class="Main_Container mb-3">
      <div class="row">
        <div class="col-12 col-sm-11 Question_Container">
          <div class="">
            <div class="col-12 Question_Body ">
              <div class="row m-0">
                <div class="content">
                  <span>
                    <p>Kelly and Steve were sitting with their parents to plan for their summer holidays. They
                      decided to visit London. Mother said, “All of us <span class="main-input"><input type="text" name=""
                          id=""> </span> <span class="correct-ans"><span>will
                          leave</span></span> on 5<sup>th</sup> May. We
                      <span class="main-input"><input type="text" name="" id=""></span><span class="correct-ans"><span>shall
                          spend</span></span> a week there. On
                      the first day, the tour guide <span class="main-input"><input type="text" name="" id=""></span><span
                        class="correct-ans"><span>will
                          take</span></span>
                      us to the
                      Buckingham Palace. In the evening, we <span class="main-input"><input type="text" name="" id=""></span><span
                        class="correct-ans"><span>shall visit</span></span>
                      Madame Tussauds. There, you
                      <span class="main-input"><input type="text" name="" id=""></span><span class="correct-ans"><span>will
                          come</span></span> face-to-face with
                      world famous personalities. We <span class="main-input"><input type="text" name="" id=""></span><span
                        class="correct-ans"><span>shall
                          click</span></span>
                      many
                      pictures there. Then you <span class="main-input"><input type="text" name="" id=""></span><span
                        class="correct-ans"><span>will send</span></span>
                      some of them to your friends. On the next day,
                      we <span class="main-input"><input type="text" name="" id=""></span><span class="correct-ans"><span>shall
                          enjoy</span></span> our sightseeing on
                      the hop on and off bus. You <span class="main-input"><input type="text" name="" id=""></span><span
                        class="correct-ans"><span>will
                          see</span></span>
                      many
                      other interesting places. Overall, we all <span class="main-input"><input type="text" name="" id=""></span><span
                        class="correct-ans"><span>will
                          have</span></span> a fantastic holiday.”</p>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 col-xl-8 ">
              <div class="row">
                <div class="col-2 helpbox-ans text-center will-spend-ans"><span>will send</span></div>
                <div class="col-2 helpbox-ans text-center shall-enjoy-ans"><span>shall enjoy</span>
                </div>
                <div class="col-2 helpbox-ans text-center will-leave-ans"><span>will leave</span></div>
                <div class="col-2 helpbox-ans text-center will-take-ans"><span>will take</span></div>
                <div class="col-2 helpbox-ans text-center will-come-ans"><span>will come</span></div>
              </div>
              <div class="row">
                <div class="col-2 helpbox-ans text-center will-see-ans"><span>will <br>see</span><br>
                </div>
                <div class="col-2 helpbox-ans  text-center shall-have-ans"><span>will have</span></div>
                <div class="col-2 helpbox-ans text-center shall-spend-ans"><span>shall spend</span>
                </div>
                <div class="col-2 helpbox-ans text-center shall-clk-ans"><span>shall click</span></div>
                <div class="col-2 helpbox-ans text-center shall-visit-ans"><span>shall visit</span>
                </div>
              </div>
              <img src="assets/std02-future-tense-worksheet3/img/future-tense-3-landsape.png" class="img-fluid">
              <img src="assets/std02-future-tense-worksheet3/img/box.png" class="img-fluid box">
            </div>
          </div>
        </div>
      </div>
      <div class="row btn-row">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>
</div>