<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3 mb-2 mb-lg-3">
        <h2 class="font-weight-bold heading">
          Click in the correct boxes of Synonyms to colour them, of the underlined words in the sentences.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="main-question-container">
        <!-- 1 -->
        <div class="question">
          <div class="number"><span>1</span></div>
          <div class="main-text-container">
            <div class="text-container">
              The <u>wicked</u> witch cast a spell on the princess.
            </div>
            <div class="option-conrainer">
              <div class="option">
                <span>mad</span>
              </div>
              <div class="option right">
                <span>cruel</span>
              </div>
              <div class="option">
                <span>icy</span>
              </div>
              <div class="option">
                <span>sad</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="question">
          <div class="number"><span>2</span></div>
          <div class="main-text-container">
            <div class="text-container">
              Robert solved the <u>difficult</u> puzzle in five minutes.
            </div>
            <div class="option-conrainer">
              <div class="option">
                <span>hurry</span>
              </div>
              <div class="option">
                <span>all</span>
              </div>
              <div class="option right">
                <span>hard</span>
              </div>
              <div class="option">
                <span>begin</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="question">
          <div class="number"><span>3</span></div>
          <div class="main-text-container">
            <div class="text-container">
              The car came to a <u>halt</u> immediately when Mr. Green applied the brakes.

            </div>
            <div class="option-conrainer">
              <div class="option right">
                <span>stop</span>
              </div>
              <div class="option">
                <span>paste</span>
              </div>
              <div class="option">
                <span>quiet</span>
              </div>
              <div class="option">
                <span>drive</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="question">
          <div class="number"><span>4</span></div>
          <div class="main-text-container">
            <div class="text-container">
              The <u>impolite</u> boy was punished severely.
            </div>
            <div class="option-conrainer">
              <div class="option">
                <span>happy</span>
              </div>
              <div class="option right">
                <span>rude</span>
              </div>
              <div class="option">
                <span>greedy</span>
              </div>
              <div class="option">
                <span>kind</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 5 -->
        <div class="question">
          <div class="number"><span>5</span></div>
          <div class="main-text-container">
            <div class="text-container">
              Lucy bought a very <u>expensive</u> dress for the party.
            </div>
            <div class="option-conrainer">
              <div class="option">
                <span>noisy</span>
              </div>
              <div class="option">
                <span>like</span>
              </div>
              <div class="option">
                <span>select</span>
              </div>
              <div class="option right">
                <span>dear</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 6 -->
        <div class="question">
          <div class="number"><span>6</span></div>
          <div class="main-text-container">
            <div class="text-container">
              Mr. Jackson is a <u>stupid</u> man to lose all his money.
            </div>
            <div class="option-conrainer">
              <div class="option">
                <span>dirty</span>
              </div>
              <div class="option">
                <span>unhappy</span>
              </div>
              <div class="option right">
                <span>foolish</span>
              </div>
              <div class="option">
                <span>glad</span>
              </div>
            </div>
          </div>
        </div>
        <!-- end -->
      </div>
    </div>
    <div class="row btn-row">
      <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>
</div>