<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>

	<div class="loadingDiv">
	</div>
	<div class="container">
		<div class="row heading-container">
			<div class="col-12 mt-3">
				<h2 class="font-weight-bold heading">
					Click in the correct boxes of ‘subject’ and ‘predicate’ to colour them, that identifies the underlined words  of the  given sentences.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="Question-container mt-2">
				<div class="row m-0">

					<div class="col-12  p-0 mb-4 Question_Row">
						<div class="question">
							<div class="number"><span>1)</span></div>
							<div class="text-container">
								<span> <u>The black and white dog</u> played with its master.</span>
								<div class="helpbox-container">
									<span class="helpbox-ans right">subject</span>
									<span class="helpbox-ans wrong">predicate</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12  p-0 mb-4 Question_Row">
						<div class="question">
							<div class="number"><span>2)</span></div>
							<div class="text-container">
								<span>Charlie <u>had been working on his science project since morning</u>.</span>
								<div class="helpbox-container">
									<span class="helpbox-ans wrong">subject</span>
									<span class="helpbox-ans right">predicate</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12  p-0 mb-4 Question_Row">
						<div class="question">
							<div class="number"><span>3)</span></div>
							<div class="text-container">
								<span> <u>The ballerinas</u> came in dancing on their toes.</span>
								<div class="helpbox-container">
									<span class="helpbox-ans right">subject</span>
									<span class="helpbox-ans wrong">predicate</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12  p-0 mb-4 Question_Row">
						<div class="question">
							<div class="number"><span>4)</span></div>
							<div class="text-container">
								<span><u>Those dark clouds</u> will bring heavy rains.</span>
								<div class="helpbox-container">
									<span class="helpbox-ans right">subject</span>
									<span class="helpbox-ans wrong">predicate</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12  p-0 mb-4 Question_Row">
						<div class="question">
							<div class="number"><span>5)</span></div>
							<div class="text-container">
								<span>Mango <u>is my favourite fruit</u>.</span>
								<div class="helpbox-container">
									<span class="helpbox-ans wrong">subject</span>
									<span class="helpbox-ans right">predicate</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12  p-0 mb-4 Question_Row">
						<div class="question">
							<div class="number"><span>6)</span></div>
							<div class="text-container">
								<span><u>The teacher</u> asked everyone to introduce themselves.</span>
								<div class="helpbox-container">
									<span class="helpbox-ans right">subject</span>
									<span class="helpbox-ans wrong">predicate</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12  p-0 mb-4 Question_Row">
						<div class="question">
							<div class="number"><span>7)</span></div>
							<div class="text-container">
								<span><u>Kim and her sister</u> went to the park.</span>
								<div class="helpbox-container">
									<span class="helpbox-ans right">subject</span>
									<span class="helpbox-ans wrong">predicate</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12  p-0 mb-4 Question_Row">
						<div class="question">
							<div class="number"><span>8)</span></div>
							<div class="text-container">
								<span>The cobbler <u>mended Tom<span class="appostrophy">’</span>s shoes</u>.</span>
								<div class="helpbox-container">
									<span class="helpbox-ans wrong">subject</span>
									<span class="helpbox-ans right">predicate</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12  p-0 mb-4 Question_Row">
						<div class="question">
							<div class="number"><span>9)</span></div>
							<div class="text-container">
								<span> <u>You</u> should not waste any food.</span>
								<div class="helpbox-container">
									<span class="helpbox-ans right">subject</span>
									<span class="helpbox-ans wrong">predicate</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12  p-0 mb-4 Question_Row">
						<div class="question">
							<div class="number"><span>10)</span></div>
							<div class="text-container">
								<span><u>A tortoise</u> carries its home on its back.</span>
								<div class="helpbox-container">
									<span class="helpbox-ans right">subject</span>
									<span class="helpbox-ans wrong">predicate</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row btn-row">
					<div class="col-12 text-center">
						<button class="button myButton">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>