
<div class="bg"  ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row">
            <div class="heading pt-2">
                <h1>Click on the blanks and then click on the correct Plural Nouns from the help box, 
                    of given the Singular Nouns. 
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-8 Question_Container">
               <div class="row">
                   <div class="col-12 col-sm-6 Question">
                       <div class="row">
                            <div class="content">1) wolf</div>
                            <div class="input_div"><input type="text"> <div class="correct_answer"><span>wolves</span></div> </div>
                            <div class="img"><img src="assets/std01-singular-plural-nouns-worksheet6/img/wolf.jpg" alt="" class="img-fluid"></div>
                       </div>
                   </div>
                   <div class="col-12 col-sm-6 Question">
                        <div class="row">
                             <div class="content">2) party</div>
                             <div class="input_div"><input type="text"> <div class="correct_answer"><span>parties</span></div> </div>
                             <div class="img"><img src="assets/std01-singular-plural-nouns-worksheet6/img/party.jpg" alt="" class="img-fluid"></div>
                        </div>
                    </div>
               </div>
               <div class="row">
                    <div class="col-12 col-sm-6 Question">
                        <div class="row">
                             <div class="content">3) fairy</div>
                             <div class="input_div"><input type="text"> <div class="correct_answer"><span>fairies</span></div> </div>
                             <div class="img"><img src="assets/std01-singular-plural-nouns-worksheet6/img/fairy.jpg" alt="" class="img-fluid"></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 Question">
                         <div class="row">
                              <div class="content">4) butterfly</div>
                              <div class="input_div"><input type="text"> <div class="correct_answer butterfly"><span>butterflies</span></div> </div>
                              <div class="img"><img src="assets/std01-singular-plural-nouns-worksheet6/img/butterfly.jpg" alt="" class="img-fluid"></div>
                         </div>
                     </div>
                </div>
                <div class="row">
                   <div class="col-12 col-sm-6 Question">
                       <div class="row">
                            <div class="content">5) thief</div>
                            <div class="input_div"><input type="text"> <div class="correct_answer"><span>thieves</span></div> </div>
                            <div class="img"><img src="assets/std01-singular-plural-nouns-worksheet6/img/thief.jpg" alt="" class="img-fluid"></div>
                       </div>
                   </div>
                   <div class="col-12 col-sm-6 Question">
                        <div class="row">
                             <div class="content">6) cherry</div>
                             <div class="input_div"><input type="text"> <div class="correct_answer"><span>cherries</span></div> </div>
                             <div class="img"><img src="assets/std01-singular-plural-nouns-worksheet6/img/cherry.jpg" alt="" class="img-fluid"></div>
                        </div>
                    </div>
               </div>
               <div class="row">
                   <div class="col-12 col-sm-6 Question">
                       <div class="row">
                            <div class="content">7) shelf</div>
                            <div class="input_div"><input type="text"> <div class="correct_answer"><span>shelves</span></div> </div>
                            <div class="img"><img src="assets/std01-singular-plural-nouns-worksheet6/img/shelf.jpg" alt="" class="img-fluid"></div>
                       </div>
                   </div>
                   <div class="col-12 col-sm-6 Question">
                        <div class="row">
                             <div class="content">8) wife</div>
                             <div class="input_div"><input type="text"> <div class="correct_answer"><span>wives</span></div> </div>
                             <div class="img"><img src="assets/std01-singular-plural-nouns-worksheet6/img/wife.jpg" alt="" class="img-fluid"></div>
                        </div>
                    </div>
               </div>
               <div class="row">
                   <div class="col-12 col-sm-6 Question">
                       <div class="row">
                            <div class="content">9) knife</div>
                            <div class="input_div"><input type="text"> <div class="correct_answer"><span>knives</span></div> </div>
                            <div class="img"><img src="assets/std01-singular-plural-nouns-worksheet6/img/knife.jpg" alt="" class="img-fluid"></div>
                       </div>
                   </div>
                   <div class="col-12 col-sm-6 Question">
                        <div class="row">
                             <div class="content">10) leaf</div>
                             <div class="input_div"><input type="text"> <div class="correct_answer"><span>leaves</span></div> </div>
                             <div class="img"><img src="assets/std01-singular-plural-nouns-worksheet6/img/leaf.jpg" alt="" class="img-fluid"></div>
                        </div>
                    </div>
               </div>
               <div class="btn-row">
                   <button class="button myButton">Submit</button>
               </div>
            </div>
            <div class="col-12 col-sm-4 col-xl-3 ml-xl-4 Option_Container">
                    <div class="options row m-0">
                        <div class="option"><span>thieves</span></div>
                        <div class="option"><span>cherries</span></div>
                        <div class="option"><span>leaves</span></div>
                        <div class="option"><span>wives</span></div>
                        <div class="option"><span>fairies</span></div>
                        <div class="option"><span>parties</span></div>
                        <div class="option"><span>shelves</span></div>
                        <div class="option"><span>knives</span></div>
                        <div class="option"><span>butterflies</span></div>
                        <div class="option"><span>wolves</span></div>
                    </div>
            </div>
        </div>
    </div>
   
</div>
    