<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
  <div class="Box">
          <div class="imgBox">
      <img src="" alt="" class="Text keep-practicing hide">
      <img src="" alt="" class="Text outstanding hide">
      <img src="" alt="" class="Text brilliant hide">
      <img src="" alt="" class="Text good-work hide">
      <!-- <img src="" alt="" class="Text fabulous hide"> -->
    </div>
    <div class="TextBox">
      <h1></h1>
    </div>
    <img src="assets/images/close.png" alt="" class="close">
  </div>
</div>
  
  <div class="loadingDiv">
</div>

  <div class="container">
  <div class="heading">
    <h1>Click on the blanks given in the stamps and then click on the correct Prefixes from the help box, to form new words.</h1>
  </div>
      <div class="row Main_Container">
          <div class="col-12 Option_Container">
              <div class="options">
                  <div class="option"><img src="assets/std03-prefix-worksheet4/img/option.jpg" alt=""><span>dis</span></div>
                  <div class="option"><img src="assets/std03-prefix-worksheet4/img/option.jpg" alt=""><span>im</span></div>
                  <div class="option"><img src="assets/std03-prefix-worksheet4/img/option.jpg" alt=""><span>in</span></div>
                  <!-- <div class="option"><img src="assets/std03-prefix-worksheet4/img/option.jpg" alt=""><span>pr</span></div> -->
                  <div class="option"><img src="assets/std03-prefix-worksheet4/img/option.jpg" alt=""><span>re</span></div>
                  <div class="option fifth"><img src="assets/std03-prefix-worksheet4/img/option.jpg" alt=""><span>pre</span></div>
                  <div class="option sixth"><img src="assets/std03-prefix-worksheet4/img/option.jpg" alt=""><span>mis</span></div>
                  <div class="option seventh"><img src="assets/std03-prefix-worksheet4/img/option.jpg" alt=""><span>un</span></div>
              </div>
          </div>
          <div class="col-12 Question_Container">
              <div class="Question_Div">
                  <div class="Question_Block">
                      <img src="assets/std03-prefix-worksheet4/img/Question.png" alt="">
                      <div class="content">lock</div>
                      <div class="input_Block">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>unlock</span></div></div>
                      </div>
                  </div>
                  <div class="Question_Block">
                      <img src="assets/std03-prefix-worksheet4/img/Question.png" alt="">
                      <div class="content">pure</div>
                      <div class="input_Block">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>impure</span></div></div>
                      </div>
                  </div>
                  <div class="Question_Block">
                      <img src="assets/std03-prefix-worksheet4/img/Question.png" alt="">
                      <div class="content">correct</div>
                      <div class="input_Block">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>incorrect</span></div></div>
                      </div>
                  </div>
                  <div class="Question_Block">
                      <img src="assets/std03-prefix-worksheet4/img/Question.png" alt="">
                      <div class="content">write</div>
                      <div class="input_Block">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>rewrite</span></div></div>
                      </div>
                  </div>
                  <div class="Question_Block">
                      <img src="assets/std03-prefix-worksheet4/img/Question.png" alt="">
                      <div class="content">view</div>
                      <div class="input_Block">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>preview</span></div></div>
                      </div>
                  </div>
                  <div class="Question_Block">
                      <img src="assets/std03-prefix-worksheet4/img/Question.png" alt="">
                      <div class="content">fill</div>
                      <div class="input_Block">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>refill</span></div></div>
                      </div>
                  </div>
                  <div class="Question_Block">
                      <img src="assets/std03-prefix-worksheet4/img/Question.png" alt="">
                      <div class="content">obey</div>
                      <div class="input_Block">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>disobey</span></div></div>
                      </div>
                  </div>
                  <div class="Question_Block">
                      <img src="assets/std03-prefix-worksheet4/img/Question.png" alt="">
                      <div class="content">place</div>
                      <div class="input_Block">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>misplace</span></div></div>
                      </div>
                  </div>
                  <div class="Question_Block">
                      <img src="assets/std03-prefix-worksheet4/img/Question.png" alt="">
                      <div class="content">move</div>
                      <div class="input_Block">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>remove</span></div></div>
                      </div>
                  </div>
                  <div class="Question_Block">
                      <img src="assets/std03-prefix-worksheet4/img/Question.png" alt="">
                      <div class="content">cook</div>
                      <div class="input_Block">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>precook</span></div></div>
                      </div>
                  </div>
                  <div class="Question_Block">
                      <img src="assets/std03-prefix-worksheet4/img/Question.png" alt="">
                      <div class="content">honest</div>
                      <div class="input_Block">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>dishonest</span></div></div>
                      </div>
                  </div>
                  <div class="Question_Block">
                      <img src="assets/std03-prefix-worksheet4/img/Question.png" alt="">
                      <div class="content">make</div>
                      <div class="input_Block">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>remake</span></div></div>
                      </div>
                  </div>
                  <div class="Question_Block">
                      <img src="assets/std03-prefix-worksheet4/img/Question.png" alt="">
                      <div class="content">equal</div>
                      <div class="input_Block">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>unequal</span></div></div>
                      </div>
                  </div>
                  <div class="Question_Block">
                      <img src="assets/std03-prefix-worksheet4/img/Question.png" alt="">
                      <div class="content">patient</div>
                      <div class="input_Block">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>impatient</span></div></div>
                      </div>
                  </div>
                  <div class="Question_Block">
                      <img src="assets/std03-prefix-worksheet4/img/Question.png" alt="">
                      <div class="content">complete</div>
                      <div class="input_Block">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>incomplete</span></div></div>
                      </div>
                  </div>
              </div>
          </div>
  </div>
  <div class="btn-row">
    <button class="button myButton">Submit</button>
  </div>
     
  </div>
</div>