<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
  </div>
	
	<div class="container">
		<div class="row">
			<div class="col-xs-12 px-2 p-2 mt-2">
				<h2 class="font-weight-bold">
					Click on the blanks given below the words and then click on the correct 
					Singular Nouns from the help box, of the given Plural Nouns.
				</h2>
			</div>
		</div>
		<div class="Main_Container pb-2">
			<div class="row margin-top-main Question-container">
				<div class="col-12 col-sm-4 p-0 pos-2">
					<div class="row m-0">
						<div class="col-4 col-sm-6 p-1">
							<div>
								<img src="assets/std02-singular-plural-nouns-worksheet4\img\loaves.png" class="img-fluid"/>
								<div class="position-input">
									<div><span class="answer">loaf</span></div>
									<span class="span-input">
										<input type="text">
									</span>
								</div>
							</div>
						</div>
						<div class="col-4 col-sm-6 p-1">
							<div>
								<img src="assets/std02-singular-plural-nouns-worksheet4\img\cherries.png" class="img-fluid"/>
								<div class="position-input">
									<div><span class="answer">cherry</span></div>
									<span class="span-input">
										<input type="text">
									</span>
								</div>
							</div>
						</div>
					
						
						<div class="col-4 col-sm-6 p-1 margin-top-3">
							<div>
								<img src="assets/std02-singular-plural-nouns-worksheet4\img\daisies.png" class="img-fluid"/>
								<div class="position-input">
									<div><span class="answer">daisy</span></div>	
									<span class="span-input">
										<input type="text">
									</span>
								</div>
							</div>
						</div>
						<div class="col-4 col-sm-6 p-1">
							<div>
								<img src="assets/std02-singular-plural-nouns-worksheet4\img\wives.png" class="img-fluid"/>
								<div class="position-input">
									<div><span class="answer">wife</span></div>
									<span class="span-input">
										<input type="text">
									</span>
								</div>
							</div>
						</div>
						
						
						<div class="col-4 col-sm-6 p-1">
							<div>
								<img src="assets/std02-singular-plural-nouns-worksheet4\img\selves.png" class="img-fluid"/>
								<div class="position-input">
									<div><span class="answer">self</span></div>
									<span class="span-input">
										<input type="text">
									</span>
								</div>
							</div>
						</div>
						<div class="col-4 col-sm-6 p-1">
							<div>
								<img src="assets/std02-singular-plural-nouns-worksheet4\img\files.png" class="img-fluid"/>
								<div class="position-input">
									<div><span class="answer">fly</span></div>
									<span class="span-input">
										<input type="text">
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-4 p-0 pos-1 margin-bottom-10"><!--middle col-->
					<div class="row m-0 help-box">
						<div class="col-3 col-sm-6 p-1 text-center">
							<div class="option">
								<span>bunny</span>
							</div>
						</div>
						<div class="col-3 col-sm-6 p-1 text-center">
							<div class="option">
								<span>daisy</span>
							</div>
						</div>
						<div class="col-3 col-sm-6 p-1 text-center">
							<div class="option">
								<span>spy</span>
							</div>
						</div>
						<div class="col-3 col-sm-6 p-1 text-center">
							<div class="option">
								<span>wife</span>
							</div>
						</div>
						<!--2-->
						<div class="col-3 col-sm-6 p-1 text-center">
							<div class="option">
								<span>thief</span>
							</div>
						</div>
						<div class="col-3 col-sm-6 p-1 text-center">
							<div class="option">
								<span>fly</span>
							</div>
						</div>
						<div class="col-3 col-sm-6 p-1 text-center">
							<div class="option">
								<span>half</span>
							</div>
						</div>
						<div class="col-3 col-sm-6 p-1 text-center">
							<div class="option">
								<span>self</span>
							</div>
						</div>
						<!--3-->
						<div class="col-3 col-sm-6 p-1 text-center">
							<div class="option">
								<span>berry</span>
							</div>
						</div>
						<div class="col-3 col-sm-6 p-1 text-center">
							<div class="option">
								<span>loaf</span>
							</div>
						</div>
						<div class="col-3 col-sm-6 p-1 text-center">
							<div class="option">
								<span>wolf</span>
							</div>
						</div>
						<div class="col-3 col-sm-6 p-1 text-center">
							<div class="option">
								<span>cherry</span>
							</div>
						</div>
					
					</div>
				</div>
				<div class="col-12 col-sm-4 p-0 pos-3">
					<div class="row m-0">
						<div class="col-4 col-sm-6 p-1">
							<div>
								<img src="assets/std02-singular-plural-nouns-worksheet4\img\wolves.png" class="img-fluid"/>
								<div class="position-input">
									<div><span class="answer">wolf</span></div>
									<span class="span-input">
										<input type="text">
									</span>
								</div>
							</div>
						</div>
						<div class="col-4 col-sm-6 p-1">
							<div>
								<img src="assets/std02-singular-plural-nouns-worksheet4\img\halves.png" class="img-fluid"/>
								<div class="position-input">
									<div><span class="answer">half</span></div>
									<span class="span-input">
										<input type="text">
									</span>
								</div>
							</div>
						</div>
					
						
						<div class="col-4 col-sm-6 p-1 margin-top-3">
							<div>
								<img src="assets/std02-singular-plural-nouns-worksheet4\img\spies.png" class="img-fluid"/>
								<div class="position-input">
									<div><span class="answer">spy</span></div>
									<span class="span-input">
										<input type="text">
									</span>
								</div>
							</div>
						</div>
						<div class="col-4 col-sm-6 p-1">
							<div>
								<img src="assets/std02-singular-plural-nouns-worksheet4\img\bunnies.png" class="img-fluid"/>
								<div class="position-input">
									<div><span class="answer">bunny</span></div>
									<span class="span-input">
										<input type="text">
									</span>
								</div>
							</div>
						</div>
						<div class="col-4 col-sm-6 p-1">
							<div>
								<img src="assets/std02-singular-plural-nouns-worksheet4\img\thieves.png" class="img-fluid"/>
								<div class="position-input">
									<div><span class="answer">thief</span></div>
									<span class="span-input">
										<input type="text">
									</span>
								</div>
							</div>
						</div>
						<div class="col-4 col-sm-6 p-1">
							<div>
								<img src="assets/std02-singular-plural-nouns-worksheet4\img\berries.png" class="img-fluid"/>
								<div class="position-input">
									<div><span class="answer">berry</span></div>
									<span class="span-input">
										<input type="text">
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-row">
				<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>