<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row m-0">
      <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
        <h2 class="font-weight-bold heading">
          Click on the blanks and then click on the correct Past Tense
          Verbs from the help box, to complete the sentences.

        </h2>
      </div>
    </div>

    <div class="main-helpbox-container">
      <div class="helpbox-cotainer">
        <!-- <div class="helpbox-top"> -->
        <div class="helpbox"><span>worked</span></div>
        <div class="helpbox"><span>asked</span></div>
        <!-- </div> -->
      </div>
      <div class="helpbox-cotainer">
        <!-- <div class="helpbox-top"> -->
        <div class="helpbox"><span>opened</span></div>
        <div class="helpbox"><span>watered</span></div>
        <!-- </div> -->
      </div>
      <div class="helpbox-cotainer">
        <!-- <div class="helpbox-top"> -->
        <div class="helpbox"><span>hit</span></div>
        <div class="helpbox"><span>carried</span></div>
        <!-- </div> -->
      </div>
      <div class="helpbox-cotainer">
        <!-- <div class="helpbox-top"> -->
        <div class="helpbox"><span>spent</span></div>
        <div class="helpbox"><span>emptied</span></div>
        <!-- </div> -->
      </div>


    </div>

    <div class="main-question-container">

      <!-- 1 -->
      <div class="question">
        <div class="number">
          <span>1)</span>
        </div>
        <div class="text-container">
          <span>Peter</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer">
              <span>hit</span>
            </div>
          </div>
          <span>the ball with his head into the net.</span>
        </div>
      </div>
      <!-- 2 -->
      <div class="question">
        <div class="number">
          <span>2)</span>
        </div>
        <div class="text-container">
          <span>Riya</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer">
              <span>asked</span>
            </div>
          </div>
          <span>an intelligent query to her teacher.</span>
        </div>
      </div>
      <!-- 3 -->
      <div class="question">
        <div class="number">
          <span>3)</span>
        </div>
        <div class="text-container">
          <span>The maid</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer">
              <span>emptied</span>
            </div>
          </div>
          <span>the garbage into the trash can.</span>
        </div>
      </div>
      <!-- 4 -->
      <div class="question">
        <div class="number">
          <span>4)</span>
        </div>
        <div class="text-container">
          <span>The gardener</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer">
              <span>watered</span>
            </div>
          </div>
          <span>the lawn last evening.</span>
        </div>
      </div>
      <!-- 5 -->
      <div class="question">
        <div class="number">
          <span>5)</span>
        </div>
        <div class="text-container">
          <span>Richard and Billy</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer">
              <span>spent</span>
            </div>
          </div>
          <span>their holidays in Rome.</span>
        </div>
      </div>
      <!-- 6 -->
      <div class="question">
        <div class="number">
          <span>6)</span>
        </div>
        <div class="text-container">
          <span>Kelly</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer">
              <span>opened</span>
            </div>
          </div>
          <span>a packet of chips to eat.</span>
        </div>
      </div>
      <!-- 7 -->
      <div class="question">
        <div class="number">
          <span>7)</span>
        </div>
        <div class="text-container">
          <span>The delivery boys</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer">
              <span>carried</span>
            </div>
          </div>
          <span>the huge box to the first floor.</span>
        </div>
      </div>
      <!-- 8 -->
      <div class="question">
        <div class="number">
          <span>8)</span>
        </div>
        <div class="text-container">
          <span>The janitor</span>
          <div class="input-container">
            <span class="input-span"><input type="text"></span>
            <div class="correct-answer">
              <span>worked</span>
            </div>
          </div>
          <span>all night to clean the school.</span>
        </div>
      </div>

    </div>

  </div>


  <div class="btn-row">
    <div class="col-12 text-center">
      <button class="button myButton">Submit</button>
    </div>
  </div>

</div>