<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3 mb-3">
        <h2 class="font-weight-bold heading">
          Click on the blanks and then click on the correct
          Homophones from the help box, of the given words.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="helpbox-container">
        <div class="helpbox"><span>male</span></div>
        <div class="helpbox"><span>see</span></div>
        <div class="helpbox"><span>eye</span></div>
        <div class="helpbox"><span>deer</span></div>
        <div class="helpbox"><span>ate</span></div>
        <div class="helpbox"><span>blue</span></div>
        <div class="helpbox"><span>sun</span></div>
        <div class="helpbox"><span>no</span></div>
        <div class="helpbox"><span>hair</span></div>
        <div class="helpbox"><span>red</span></div>
        <div class="helpbox"><span>tail</span></div>
        <div class="helpbox"><span>two</span></div>
      </div>
    </div>
    <div class="row">
      <div class="main-question-container">
        <!-- 1 -->
        <div class="question">
          <div class="number"><span>1</span></div>
          <div class="text-container">
            <div class="question-text">
              <span>eight</span>
            </div>
            <div class="input-container">
              <input type="text">
              <div class="correct-answer">
                <span>ate</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="question">
          <div class="number"><span>2</span></div>
          <div class="text-container">
            <div class="question-text">
              <span>read</span>
            </div>
            <div class="input-container">
              <input type="text">
              <div class="correct-answer">
                <span>red</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="question">
          <div class="number"><span>3</span></div>
          <div class="text-container">
            <div class="question-text">
              <span>son</span>
            </div>
            <div class="input-container">
              <input type="text">
              <div class="correct-answer">
                <span>sun</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="question">
          <div class="number"><span>4</span></div>
          <div class="text-container">
            <div class="question-text">
              <span>to</span>
            </div>
            <div class="input-container">
              <input type="text">
              <div class="correct-answer">
                <span>two</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 5 -->
        <div class="question">
          <div class="number"><span>5</span></div>
          <div class="text-container">
            <div class="question-text">
              <span>I</span>
            </div>
            <div class="input-container">
              <input type="text">
              <div class="correct-answer">
                <span>eye</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 6 -->
        <div class="question">
          <div class="number"><span>6</span></div>
          <div class="text-container">
            <div class="question-text">
              <span>know</span>
            </div>
            <div class="input-container">
              <input type="text">
              <div class="correct-answer">
                <span>no</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 7 -->
        <div class="question">
          <div class="number"><span>7</span></div>
          <div class="text-container">
            <div class="question-text">
              <span>sea</span>
            </div>
            <div class="input-container">
              <input type="text">
              <div class="correct-answer">
                <span>see</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 8 -->
        <div class="question">
          <div class="number"><span>8</span></div>
          <div class="text-container">
            <div class="question-text">
              <span>tale</span>
            </div>
            <div class="input-container">
              <input type="text">
              <div class="correct-answer">
                <span>tail</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 9 -->
        <div class="question">
          <div class="number"><span>9</span></div>
          <div class="text-container">
            <div class="question-text">
              <span>dear</span>
            </div>
            <div class="input-container">
              <input type="text">
              <div class="correct-answer">
                <span>deer</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 10 -->
        <div class="question">
          <div class="number"><span>10</span></div>
          <div class="text-container">
            <div class="question-text">
              <span>hare</span>
            </div>
            <div class="input-container">
              <input type="text">
              <div class="correct-answer">
                <span>hair</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 11 -->
        <div class="question">
          <div class="number"><span>11</span></div>
          <div class="text-container">
            <div class="question-text">
              <span>mail</span>
            </div>
            <div class="input-container">
              <input type="text">
              <div class="correct-answer">
                <span>male</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 12 -->
        <div class="question">
          <div class="number"><span>12</span></div>
          <div class="text-container">
            <div class="question-text">
              <span>blew</span>
            </div>
            <div class="input-container">
              <input type="text">
              <div class="correct-answer">
                <span>blue</span>
              </div>
            </div>
          </div>
        </div>
        <!-- end -->
      </div>
    </div>
    <div class="row btn-row">
      <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>

</div>