<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
  <div class="Box">
    <div class="imgBox">
      <img src="" alt="" class="Text keep-practicing hide">
      <img src="" alt="" class="Text outstanding hide">
      <img src="" alt="" class="Text brilliant hide">
      <img src="" alt="" class="Text good-work hide">
      <!-- <img src="" alt="" class="Text fabulous hide"> -->
    </div>
    <div class="TextBox">
      <h1></h1>
    </div>
    <img src="assets/images/close.png" alt="" class="close">
  </div>
</div>
  <div class="loadingDiv">
  </div>
<div class="container">
  <div class="row">
    <div class="col-12 mt-3 mb-2 mb-lg-3">
      <h2 class="heading">
        Click on the Present Continuous Tense Verbs in the following sentences.
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="main-question-container">
      <!-- 1 -->
      <div class="question">
        <div class="number"><span>1)</span></div>
        <div class="text-container"><span>Mom</span> <span>is cooking</span> <span>dinner</span> <span>right</span> <span>now</span>. </div>
      </div>
      <!-- 2 -->
      <div class="question">
        <div class="number"><span>2)</span></div>
        <div class="text-container"><span>Tony</span> <span>is writing</span> <span>in</span> <span>his</span> <span>diary</span> <span>about</span> <span>his</span> <span>achievements</span>. </div>
      </div>
      <!-- 3 -->
      <div class="question">
        <div class="number"><span>3)</span></div>
        <div class="text-container"><span>Bill</span> <span>and</span> <span>Mel</span> <span>are cycling</span> <span>in</span> <span>the</span> <span>park</span>. </div>
      </div>
      <!-- 4 -->
      <div class="question">
        <div class="number"><span>4)</span></div>
        <div class="text-container"><span>The</span> <span>children</span> <span>are swimming</span> <span>in</span> <span>the</span> <span>pool</span> <span>at</span> <span>the</span> <span>club</span>. </div>
      </div>
      <!-- 5 -->
      <div class="question">
        <div class="number"><span>5)</span></div>
        <div class="text-container"><span>Mr</span>. <span>Anderson</span> <span>is travelling</span> <span>to</span> <span>Australia</span> <span>next</span> <span>Monday</span>. </div>
      </div>
      <!-- 6 -->
      <div class="question">
        <div class="number"><span>6)</span></div>
        <div class="text-container"><span>The</span> <span>baby</span> <span>is crying</span> <span>because</span> <span>of</span> <span>a</span> <span>stomach</span> <span>ache</span>. </div>
      </div>
      <!-- 7 -->
      <div class="question">
        <div class="number"><span>7)</span></div>
        <div class="text-container"><span>Those</span> <span>carpenters</span> <span>are making</span> <span>new</span> <span>furniture</span> <span>for</span> <span>our</span> <span>house</span>. </div>
      </div>
      <!-- 8 -->
      <div class="question">
        <div class="number"><span>8)</span></div>
        <div class="text-container"><span>Shelley</span> <span>is drawing</span> <span>a</span> <span>picture</span> <span>of</span> <span>the</span> <span>sunset</span> <span>at</span> <span>the</span> <span>beach</span>. </div>
      </div>
      <!-- 9 -->
      <div class="question">
        <div class="number"><span>9)</span></div>
        <div class="text-container"><span>I</span> <span>am meeting</span> <span>my</span> <span>friends</span> <span>at</span> <span>6</span> <span>o’clock</span> <span>today</span>. </div>
      </div>
      <!-- 10 -->
      <div class="question">
        <div class="number"><span>10)</span></div>
        <div class="text-container"><span>The</span> <span>cheerleaders</span> <span>are dancing</span> <span>with</span> <span>pompoms</span>. </div>
      </div>
      <!-- end -->
    </div>
  </div>
  <div class="row btn-row">
    <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
    </div>
  </div>
</div>
</div>