<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <img src="" alt="" class="Text fabulous hide">
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container-fluid">
        <div class="row m-0">
            <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
                <h2 class="font-weight-bold heading">
                    Click on the blanks and then click on the correct Proper Nouns from the help box, to complete the sentences.
                </h2>
            </div>
        </div>

        <div class="helpbox-container">
            <div class="helpbox-ans">
                <span>Reebok</span>
            </div>
            <div class="helpbox-ans">
                <span>Earth</span>
            </div>
            <div class="helpbox-ans">
                <span>Sun</span>
            </div>
            <div class="helpbox-ans">
                <span>Taco Bell</span>
            </div>
            <div class="helpbox-ans">
                <span>The Ganges</span>
            </div>
            <div class="helpbox-ans">
                <span>Saturday</span>
            </div>
            <div class="helpbox-ans">
                <span>Marriott Hotels</span>
            </div>
            <div class="helpbox-ans">
                <span>Mozart</span>
            </div>
            <div class="helpbox-ans">
                <span>Sunday</span>
            </div>
            <div class="helpbox-ans right">
                <span>Robin Hood</span>
            </div>
        </div>

        <div class="main-container">
            <div class="main-question-container">

                <!-- 1 -->
                <div class="question">
                    <div class="number">
                        <span>1)</span>
                    </div>
                    <div class="text-container">
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>Marriott Hotels</span>
                            </div>
                        </div>
                        <span>are found at all tourist places across the world.</span>
                    </div>
                </div>
                <!-- 2 -->
                <div class="question second">
                    <div class="number">
                        <span>2)</span>
                    </div>
                    <div class="text-container">
                        <span>The school decided to include black</span>
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>Reebok</span>
                            </div>
                        </div>
                        <span>shoes as a part of the uniform.</span>
                    </div>
                </div>
                <!-- 3 -->
                <div class="question">
                    <div class="number">
                        <span>3)</span>
                    </div>
                    <div class="text-container">
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>Robin Hood</span>
                            </div>
                        </div>
                        <span>was a very skilled archer and swordsman.</span>
                    </div>
                </div>
                <!-- 4 -->
                <div class="question">
                    <div class="number">
                        <span>4)</span>
                    </div>
                    <div class="text-container">
                        <span>The kids decided to eat at</span>
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer correct-ans4">
                                <span>Taco Bell</span>
                            </div>
                        </div><span>.</span>
                    </div>
                </div>
                <!-- 5 -->
                <div class="question">
                    <div class="number">
                        <span>5)</span>
                    </div>
                    <div class="text-container">
                        <span>The</span>
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>Sun</span>
                            </div>
                        </div>
                        <span>is the closest star to the</span>
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer correct-ans5">
                                <span>Earth</span>
                            </div>
                        </div><span>.</span>
                    </div>
                </div>
                <!-- 6 -->
                <div class="question">
                    <div class="number">
                        <span>6)</span>
                    </div>
                    <div class="text-container">
                        <div class="input-container">
                            <span class="input-span"><input type="text" data-text="second"></span>
                            <div class="correct-answer">
                                <span>Saturday</span>
                            </div>
                        </div>
                        <span>and</span>
                        <div class="input-container">
                            <span class="input-span"><input type="text" data-text="second"></span>
                            <div class="correct-answer">
                                <span>Sunday</span>
                            </div>
                        </div>
                        <span>are considered to be the weekend.</span>
                    </div>
                </div>
                <!-- 7 -->
                <div class="question">
                    <div class="number">
                        <span>7)</span>
                    </div>
                    <div class="text-container">
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>Mozart</span>
                            </div>
                        </div>
                        <span>was a very famous pianist and music composer.</span>
                    </div>
                </div>
                <!-- 8 -->
                <div class="question">
                    <div class="number">
                        <span>8)</span>
                    </div>
                    <div class="text-container">
                        <div class="input-container">
                            <span class="input-span"><input type="text"></span>
                            <div class="correct-answer">
                                <span>The Ganges</span>
                            </div>
                        </div>
                        <span>is believed to be a holy river.</span>
                    </div>
                </div>
                <!-- end -->

            </div>
        </div>


        <div class="row btn-row">
            <div class="col-12 text-center">
                <button class="button myButton">Submit</button>
            </div>
        </div>

    </div>
</div>