<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="row">
      <div class="heading mt-3 mb-3 mb-lg-5">
        <h1>
          Click on the blanks and then click on the correct Nouns from the help box, that will be used after the given
          Articles in the sentences.
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-12 Question_Container">
        <div class="Question">
          <div class="number">1)</div>
          <div class="content">Jenny had an <input type="text">
            <div class="correct_answer"><span>apple</span></div> for her lunch.
          </div>
        </div>
        <div class="Question">
          <div class="number">2)</div>
          <div class="content">Ravi saw a <input type="text">
            <div class="correct_answer"><span>dolphin</span></div> show at The Sea World.
          </div>
        </div>
        <div class="Question">
          <div class="number">3)</div>
          <div class="content">My dog found an old <input type="text">
            <div class="correct_answer"><span>shoe</span></div> in the garage.
          </div>
        </div>
        <div class="Question">
          <div class="number">4)</div>
          <div class="content">Ram shot an <input type="text">
            <div class="correct_answer"><span>arrow</span></div> to kill his enemy.
          </div>
        </div>
        <div class="Question">
          <div class="number">5)</div>
          <div class="content">Tracy bought a purple <input type="text">
            <div class="correct_answer"><span>dress</span></div> for the party.
          </div>
        </div>
        <div class="Question">
          <div class="number">6)</div>
          <div class="content">We took a <input type="text">
            <div class="correct_answer"><span>bus</span></div> ride around the city.
          </div>
        </div>
        <div class="Question">
          <div class="number">7)</div>
          <div class="content">There was a <input type="text">
            <div class="correct_answer"><span>picture</span></div> of an ugly <input type="text">
            <div class="correct_answer"><span>witch</span></div>in the storybook.
          </div>
        </div>
        <div class="Question">
          <div class="number">8)</div>
          <div class="content">Tom heard an <input type="text">
            <div class="correct_answer"><span>echo</span></div> when he shouted from the top of a <input type="text">.
            <div class="correct_answer"><span>hill</span></div>
          </div>
        </div>

        <div class="Option_Container">
          <img src="assets/std02-articles-worksheet8/img/hill.png" alt="" class="hill" data-text="hill">
          <img src="assets/std02-articles-worksheet8/img/dress.png" alt="" class="dress" data-text="dress">
          <img src="assets/std02-articles-worksheet8/img/witch.png" alt="" class="witch" data-text="witch">
          <img src="assets/std02-articles-worksheet8/img/arrow.png" alt="" class="arrow" data-text="arrow">
          <img src="assets/std02-articles-worksheet8/img/shoe.png" alt="" class="shoe" data-text="shoe">
          <img src="assets/std02-articles-worksheet8/img/bus.png" alt="" class="bus" data-text="bus">
          <img src="assets/std02-articles-worksheet8/img/dolphin.png" alt="" class="dolphin" data-text="dolphin">
          <img src="assets/std02-articles-worksheet8/img/echo.png" alt="" class="echo" data-text="echo">
          <img src="assets/std02-articles-worksheet8/img/picture.png" alt="" class="picture" data-text="picture">
          <img src="assets/std02-articles-worksheet8/img/apple.png" alt="" class="apple" data-text="apple">
        </div>
      </div>
    </div>
    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>
  </div>
</div>