
@font-face {
    font-family: mt-rounded-bold;
    src: url(http://completegrammar.com/assets/font/ARLRDBD.ttf) format("truetype");
    font-weight: bold;
  }
.bg{
    min-height:100vh;
     background: url(http://completegrammar.com/assets/std02-articles-worksheet8/img/bg.jpg) no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family:Microsoft New Tai lue;
    color:#000;
	font-size:22px;
    line-height: 1.3;
    height: 100%;
}
.heading{
	background:#ffffffa5;
	padding:0 15px;
	font-family: mt-rounded-bold;
}
.heading h1{
    font-weight:700;
    font-size: 30px;
}
input{
    background-color:transparent;
    border:0;
    border-bottom:1px solid #000;
    outline:0;
    padding:0;
	text-align:center;
	width:15%;
	line-height:1;
	cursor:pointer;
}
.correct_answer{
    display: inline-block;
    position:absolute;
    font-size:18px;
    width:15%;
    text-align:center;
    margin-left:-15%;
    margin-top:-20px;
	white-space: nowrap;
	display:none;
}
.correct_answer span{
    padding: 0 7px;
    border: 1px solid #000 !important;
    background-color: #fff;
    border-radius: 5px;
    color: #20bb15 !important;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-weight: bold;
    line-height: 1;
}
.Question{
	display: grid;
	grid-template-columns: 35px auto;
    margin-bottom: 3.5%;
	    margin-top: 3.5%;
}
.Question_Container{
	background-color:rgba(255,255,255,.7);
	padding:15px;
	position: relative;
	margin-bottom: 25px;
	margin-left:0%;
	margin-top: 1%;
}
.Option_Container img{
	position: absolute;
	height:60px;
	cursor: pointer;
}
img.hill{
	top:-5px;
	left: 60%;
}
img.dress{
	top:-20px;
	left:73%;
}
img.witch{
	top:-25px;
	left:90%;
}
img.arrow{
	top:60px;
	left: 65%;
}
img.shoe{
	top:55px;
	left:80%;
	height:40px !important;
}
img.bus{
	top: 124px;
    left: 77%;
    height: 50px !important;
}
img.dolphin{
	top: 94px;
    left: 89%;
}
img.echo{
	    top: 161px;
    left: 62%;
	height: 85px !important;
}
img.picture{
	top: 190px;
    left: 75%;
	height: 77px !important;
}
img.apple {
	top: 255px;
    left: 84%;
    height: 85px !important;
}
@media (min-width:100px) and (max-width:575px){
    .bg{
         background: url(http://completegrammar.com/assets/std02-articles-worksheet8/img/bg_portrait.jpg) no-repeat center bottom fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
		font-size:16px;
    }
    .heading h1{
        font-size:20px;
    }
	.correct_answer{
		font-size:14px;
		width:21%;
		margin-left:-21%;
		margin-top:-16px;;
	}
	.Question_Container{
		max-width:97%;
		margin: 80px auto 25px;
		padding:15px 5px;
	}
	.Question{
		grid-template-columns: 20px auto;
		line-height: 2.5;
		margin-bottom: 10px;
	}
	input{
		width:21%;
		line-height:1;
	}

	.Option_Container img{
		position: absolute;
		height:38px;
	}
	img.hill{
		top:-85px;
		left: 25%;
		content: url(/assets/std02-articles-worksheet8/img/hill_portrait.png);
	}
	img.dress{
		top: -62px;
		left: 39%;
		height: 35px;
		content: url(/assets/std02-articles-worksheet8/img/dress_portrait.png);
	}
	img.witch{
		top: -81px;
		left: 56%;
		height: 28px;
		content: url(/assets/std02-articles-worksheet8/img/witch_portrait.png);
	}
	img.arrow{
		top: -34px;
		left: 23%;
		height: 30px;
		content: url(/assets/std02-articles-worksheet8/img/arrow_portrait.png);
	}
	img.shoe{
		top: -29px;
		left: 0%;
		height: 25px !important;
		content: url(/assets/std02-articles-worksheet8/img/shoe_portrait.png);
	}
	img.bus{
		top: -85px;
    	left: 88%;
		height:30px !important;
		content: url(/assets/std02-articles-worksheet8/img/bus_portrait.png);
	}
	img.dolphin{
		top: -75px;
		left: 0%;
		content: url(/assets/std02-articles-worksheet8/img/dolphin_portrait.png);
	}
	img.echo{
		top: -41px;
		left: 56%;
		height: 40px !important;
		content: url(/assets/std02-articles-worksheet8/img/echo_portrait.png);
	}
	img.picture{
		top: -57px;
		left: 73%;
		height: 25px !important;
		content: url(/assets/std02-articles-worksheet8/img/picture_portrait.png);
	}
	img.apple {
		top: -32px;
		left: 87%;
		height: 37px !important;
		content: url(/assets/std02-articles-worksheet8/img/apple_portrait.png);
	}
	
	.Option_Container
	{
		      transform: translate(-50%, 0);
    position: fixed;
    left: 50%;
    z-index: 2;
    top: 0;
    width: 100%;
	margin-top: 231px;
	}
	
	
}
@media (min-width:565px) and (max-width:575px){
	.Option_Container {
		margin-top: 180px;
	}

}
@media (min-width: 576px) and (max-width: 767px){
    .bg{
        font-size:16px;
    }
    .heading h1{
        font-size:20px;
    }
	.correct_answer{
		font-size:15px;
		width:13%;
		margin-left:-13%;
	}
	.Question {
		grid-template-columns: 20px auto;
	}
	.Question_Container{
		padding: 15px 5px 15px 10px;
		margin-left:3%;
		max-width:85%;
	}
	.Option_Container img{
		height:45px;
	}
	img.echo {
		top: 130px;
    left: 62%;
    height: 60px !important;
	}
	img.apple {
	    left: 86%;
    height: 60px !important;
	}
	img.shoe{
		height:30px !important;
		left:85%;
		top:43px;
	}
	img.witch{
		height:40px;
	}
	img.arrow{
		height:40px;
		left:71%;
	}
	img.bus{
		height:45px !important;
	}
	img.picture {
		top: 200px;
		height: 55px !important;
	}
	
	img.dolphin {
    top: 94px;
    left: 85%;
}
img.witch {
    top: -25px;
    left: 85%;
}
	input{
		width:13%;
		line-height: 1;
	}
	.Question_Container .Question:nth-child(8){
		line-height:2.5;
	}
	
	.Question_Container {
    padding: 15px 5px 15px 10px;
    margin-left: 2%;
    max-width: 96%;
}



	
}
@media (min-width: 768px) and (max-width: 991px){
    .bg{
        font-size:18px;
    }
    .heading h1{
        font-size:26px;
    }
	.correct_answer{
		font-size:16px;
		margin-top:-22px;
	}
	.Option_Container img{
		height:50px;
	}
	img.echo {
    top: 126px;
    left: 58%;
    height: 65px !important;
}
	img.apple {
    left: 80%;
    height: 65px !important;
}

img.witch {
    top: -25px;
    left: 83%;
}
	img.shoe{
		height:35px !important;
	}
	img.witch{
		height:45px;
	}
.Question_Container {
    max-width: 792px;
    padding: 15px 0px 15px 10px;
    margin-left: 2%;
}
	.Question {
		grid-template-columns: 22px auto;
	}
	
	
}
@media (min-width: 992px) and (max-width: 1199px) {
    .bg{
        font-size:20px;
    }
    .heading h1{
        font-size:28px;
    }
	.correct_answer{
		font-size:17px;
		margin-top:-23px;
	}
	.Option_Container img{
		height:55px;
	}
}
@media(min-width:100px) and (max-width:991px){
    .container{
        max-width:unset;
	}
	.heading{
		margin:0 2%;
	}
    
}

@media (min-width: 1200px)
{
    .correct_answer{
        margin-top: -29px;
        font-size: 18px;
    }
}
@media only screen and (min-width: 768px) and (orientation: portrait) {


.heading h1 {
    font-size: 32px;
}

.Question_Container {
    max-width: 97%;
    padding: 15px 5px 15px 10px;
    line-height: 64px;
    font-size: 30px;
}


.Option_Container img{
		position: absolute;
		height:90px;
	}
	img.hill{
		top:-139px;
		left: 25%;
		content: url(/assets/std02-articles-worksheet8/img/hill_portrait.png);
	}
	img.dress{
		top: -84px;
		left: 39%;
		height: 65px;
		content: url(/assets/std02-articles-worksheet8/img/dress_portrait.png);
	}
	img.witch{
		top: -156px;
		left: 56%;
		height: 65px;
		content: url(/assets/std02-articles-worksheet8/img/witch_portrait.png);
	}
	img.arrow{
		top: -48px;
		left: 23%;
		height: 65px;
		content: url(/assets/std02-articles-worksheet8/img/arrow_portrait.png);
	}
	img.shoe{
		top: -29px;
		left: 0%;
		height: 65px !important;
		content: url(/assets/std02-articles-worksheet8/img/shoe_portrait.png);
	}
	img.bus{
		top: -134px;
    	left: 88%;
		height:65px !important;
		content: url(/assets/std02-articles-worksheet8/img/bus_portrait.png);
	}
	img.dolphin{
		top: -141px;
		left: 0%;
		content: url(/assets/std02-articles-worksheet8/img/dolphin_portrait.png);
	}
	img.echo{
		top: -87px;
		left: 56%;
		height: 101px !important;
		content: url(/assets/std02-articles-worksheet8/img/echo_portrait.png);
	}
	img.picture{
		top: -76px;
		left: 73%;
		height: 65px !important;
		content: url(/assets/std02-articles-worksheet8/img/picture_portrait.png);
	}
	img.apple {
		top: -32px;
		left: 87%;
		height: 101px !important;
		content: url(/assets/std02-articles-worksheet8/img/apple_portrait.png);
	}
	
	.Question_Container {
    max-width: 97%;
	/* margin: 154px auto 25px; */
	margin: 223px auto 25px;
    padding: 15px 5px;
}

	.myButton
	{
		
		font-size: 25px !important;
	}
	.Question {
		grid-template-columns: 35px auto;
	}
	.correct_answer {
		font-size: 25px;
		margin-top: -30px;
	}
	.Question_Container {
		padding: 45px 5px 15px;
	}

.Option_Container
	{
		      transform: translate(-50%, 0);
    position: fixed;
    left: 49%;
    z-index: 2;
    top: 0;
    width: 100%;
    margin-top: 304px;
	}
	.correct_answer {
		font-size: 27px;
		margin-top: -42px;
		width: 17%;
		margin-left: -17%;
	}
	input{
		width: 17%;
	}

}

/* Landscape */ 
@media only screen and (min-width: 1366px) and (orientation: landscape) { 



}

/*Portrait*/ 
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	
.heading h1 {
	font-size: 37px;
}

.Question_Container {
    max-width: 97%;
    padding: 15px 5px 15px 10px;
    line-height: 64px;
    font-size: 30px;
}


.Option_Container img{
		position: absolute;
		height:90px;
	}
	img.hill{
		top:-139px;
		left: 25%;
		content: url(/assets/std02-articles-worksheet8/img/hill_portrait.png);
	}
	img.dress{
		top: -84px;
		left: 39%;
		height: 65px;
		content: url(/assets/std02-articles-worksheet8/img/dress_portrait.png);
	}
	img.witch{
		top: -156px;
		left: 56%;
		height: 65px;
		content: url(/assets/std02-articles-worksheet8/img/witch_portrait.png);
	}
	img.arrow{
		top: -48px;
		left: 23%;
		height: 65px;
		content: url(/assets/std02-articles-worksheet8/img/arrow_portrait.png);
	}
	img.shoe{
		top: -29px;
		left: 0%;
		height: 65px !important;
		content: url(/assets/std02-articles-worksheet8/img/shoe_portrait.png);
	}
	img.bus{
		top: -134px;
    	left: 88%;
		height:65px !important;
		content: url(/assets/std02-articles-worksheet8/img/bus_portrait.png);
	}
	img.dolphin{
		top: -141px;
		left: 0%;
		content: url(/assets/std02-articles-worksheet8/img/dolphin_portrait.png);
	}
	img.echo{
		top: -87px;
		left: 56%;
		height: 101px !important;
		content: url(/assets/std02-articles-worksheet8/img/echo_portrait.png);
	}
	img.picture{
		top: -76px;
		left: 73%;
		height: 65px !important;
		content: url(/assets/std02-articles-worksheet8/img/picture_portrait.png);
	}
	img.apple {
		top: -32px;
		left: 87%;
		height: 101px !important;
		content: url(/assets/std02-articles-worksheet8/img/apple_portrait.png);
	}
	
	.Question_Container {
    max-width: 97%;
    margin: 154px auto 25px;
	padding: 45px 5px 15px;
	font-size: 34px;
}

.correct_answer {
    font-size: 31px;
    margin-top: -45px;
}
.myButton
	{
		
		font-size: 30px !important;
	}
	.col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
	
}


@media only screen and (min-device-width: 1112px) and (orientation: landscape) {

	
}

/*Portrait*/ 
@media only screen and (min-device-width: 834px) and (orientation: portrait) { 

}

.loadingDiv {
    position: fixed;;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.4);
    background-image:url('/assets/images/loader.gif');
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    background-size: 85px;
  }


.result {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,.8);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}

/*Portrait*/ 
@media only screen and (min-device-width: 834px) and (orientation: portrait) { 

}
.result{
    position:fixed;
    height:100vh;
    width:100vw;
    background:rgba(0,0,0,.8);
    z-index:2;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor:pointer;
}
.result .Box{
    position: relative;
    padding:45px 55px 30px 20px
}
.result .imgBox{
    display:none;
}
.result img{
    max-width: 100%;
    width: auto;
    height: auto;
}
.result .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor:pointer;
	width: auto !important;
	  height: auto;
}
.result .TextBox h1 {
    font-weight:bold;
    text-align:center;
    color:#fff;
    -webkit-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	-moz-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	padding:10%;
	max-width:800px;
}
@media(min-width:100px) and (max-width:575px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
    .result .close {
        right: 15px;
    }
}
@media(min-width:576px) and (max-width:767px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
}
@media(min-width:1900px)
{
	.container{
		max-width: 1500px;
	}
	.heading h1 {
		font-weight: 700;
		font-size: 40px;
	}
	.bg{
		font-size: 30px;
	}
	.correct_answer{
		margin-top: -32px;
		font-size: 25px;
	}
	.Option_Container img{
		transform: scale(1.2);
	}
}

@media (min-width: 576px) and (max-width: 767px){

	.Question {
		margin-top: 0.5%;
	}
}
@media (min-width: 768px) and (max-width: 991px)
{
	.Question {
		margin-top: 0.5%;
	}

}
@media (min-width: 1200px)
{
	img.arrow {
		height: 58px;
	}
	img.witch {
		height: 47px;
	}
	img.dress {
		height: 63px;
	}
	img.hill {
		height: 55px;
	}
	img.shoe {
		top: 55px;
		left: 80%;
		height: 38px !important;
	}
}

// common
.loadingDiv {
    position: fixed;;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.4);
    background-image:url('/assets/images/loader.gif');
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    background-size: 85px;
  }

.result{
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:rgba(0,0,0,.8);
    z-index:2147483647;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor:pointer;
}
.result .Box{
    position: relative;
    padding:45px 55px 30px 20px
}
.result .imgBox{
    display:none;
}
.result img{
    max-width:100%;
}
.result .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor:pointer;
}
.result .TextBox h1 {
    font-weight:bold;
    text-align:center;
    color:#fff;
    -webkit-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	-moz-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	padding:10%;
	max-width:800px;
}
@media(min-width:100px) and (max-width:575px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
    .result .close {
        right: 15px;
    }
}
@media(min-width:576px) and (max-width:767px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
}
.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:inherit;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	line-height: 1;
	outline:0 !important;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}

.button.playAgain {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:inherit;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.button.playAgain:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.button.playAgain:active {
	position:relative;
	top:1px;
}


#toggle {
    display: block;
    right: 56px;
    top: 35px;
    background: #f3ecec;
    border-radius: 50%;
    border: 4px solid #3b7ee2;
    opacity: 0.7;
    text-align: center;
    padding: 10px;
    
  }

  #toggle:hover
  {
    opacity: 1;
    border: 4px solid #3b7ee2;
    
  }
  
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
  }
  #toggle span {
    position: relative;
    display: inline;
  }
  
  #toggle span
  {
    width: 50px;
    height: 50px;
    text-align: center;
    padding:0%;
  }

  #toggle span img
  {
    width:25px;
    height:25px;
    margin:0;
  }
  
  /* on activation */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
    -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  

  /* menu appearance*/
#menu {
    position: absolute;
    color: #000;
    width: 140px;
    padding: 10px;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0px 3px 11px 1px rgba(27, 24, 24, 0.24);
    font-size: 16px;
    left: -190%;
    z-index: 9;
    text-align: right;
    top: 145%;
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;  
}
.change{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1; 
}
.notchange{
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#menu:after {
    position: absolute;
    top: -20px;
    left: 107px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #ffffff;
}
ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-weight: normal;
}
li a {
    padding: 5px;
    color: #000;
    text-decoration: none;
    transition: all .2s;
}
li a:hover,
li a:focus {
    background: #1798dc;
    color: #fff;
    text-decoration: none;
}
.menu-block{
    position: fixed;
    right: 46px;
    top: 35px;
    z-index: 2147483646;
    height: 50px;
}
.up {
    transform: rotate(180deg) translateY(0%);
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
} 
@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
}
@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
} 

@media(min-width:100px) and (max-width:575px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 6px 5px;
        height: 43px;
        width: 43px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:576px) and (max-width:767px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 6px 5px 0;
        height: 43px;
        width: 43px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:768px) and (max-width:991px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
        height: 43px;
        width: 43px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .menu-block {
        right: 10px;
    }
    #menu:after {
        left: 140px;
    }
    #menu {
        font-size: 18px;
        left: -240%;
        top: 140%;
        width: 175px;
    }
    #toggle {
        height: 53px;
        width: 53px;
        /* line-height: 48px; */
        padding: 8px;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 26px;
    }
    #toggle {
        height: 60px;
        width: 60px;
        line-height: 1;
        padding: 11px 5px;
    }
    .menu-block {
        right: 20px;
    }
    #menu:after {
        left: 205px;
    }
    #toggle span img {
        width: 33px;
        height: 33px;
        margin: 0;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 30px;
    }
    #toggle{
        height: 60px;
        width: 60px;
        /* line-height: 55px; */
        padding: 10px;
    }
}
@media(min-width:1200px){
	#menu {
        top: 70px;
        left: -135px;
        width: 180px;
        font-size: 18px;
    }
    #menu:after {
        left: 145px;
    }
    #toggle{
        height: 55px;
        width: 55px;
        /* line-height: 50px; */
    }
}


// inline
.myButton {
    -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
    -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
    background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
    background-color:#c62d1f;
    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    border-radius:18px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
    line-height: 1;
    outline:0 !important;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
    background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
    background-color:#f24437;
}
.myButton:active {
    position:relative;
    top:1px;
}
.btn-row{
    position: relative;
    padding-bottom:20px !important;
    text-align:center;
    // left:50%;
    // transform:translateX(-50%);
}
  .bd
{
    border-bottom: 2px solid #20bb15;

}
.blue{
    filter: drop-shadow(rgb(0, 0, 0) 2px 2px 0px) drop-shadow(rgb(0, 0, 0) -2px 2px 0px) drop-shadow(rgb(0, 0, 0) -2px -2px 0px) drop-shadow(rgb(0, 0, 0) 2px -2px 0px);
}
.hide{
    display: none;
}