<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
		<div class="heading">
			<h1>Click on the blanks and then click on the correct Common Nouns from the help box, that answers the given riddles.</h1>
		</div>
        <div class="Main_Container">
            <div class="Option_Container">
                <div class="options">
                    <div class="option">chocolate</div>
                    <div class="option">elephant</div>
                    <div class="option">lotus</div>
                    <div class="option">river</div>
                    <div class="option">frog</div>
                    <div class="option">snow</div>
                </div>
            </div>
            <div class="Question_Container">
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">1)</div>
                        <div class="content">
                            <div class="line">I am the largest land animal,</div>
                            <div class="line">I am a herbivore,</div>
                            <div class="line">I can swim well but cannot trot, jump or gallop.</div>
                            <div class="line">Can you guess me?</div>
                            <div class="input_div">
                                <input type="text"><div class="correct_answer"><span>elephant</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">2)</div>
                        <div class="content">
                            <div class="line">I am usually brown in colour,</div>
                            <div class="line">I melt in your mouth,</div>
                            <div class="line">Most children are happy and excited to eat me.</div>
                            <div class="line">Who am I?</div>
                            <div class="input_div">
                                <input type="text"><div class="correct_answer"><span>chocolate</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">3)</div>
                        <div class="content">
                            <div class="line">I am a water body,</div>
                            <div class="line">I flow from high level to low level,</div>
                            <div class="line">I contain fresh water.</div>
                            <div class="line">Do you know me?</div>
                            <div class="input_div">
                                <input type="text"><div class="correct_answer"><span>river</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">4)</div>
                        <div class="content">
                            <div class="line">“I am an amphibian,</div>
                            <div class="line">I catch my food with my tongue,</div>
                            <div class="line">I live near water.</div>
                            <div class="line">Can you guess me?”</div>
                            <div class="input_div">
                                <input type="text"><div class="correct_answer"><span>frog</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">5)</div>
                        <div class="content">
                            <div class="line">“I am a type of flower,</div>
                            <div class="line">I grow in water,</div>
                            <div class="line">I am the national flower of India.</div>
                            <div class="line">Who am I?”</div>
                            <div class="input_div">
                                <input type="text"><div class="correct_answer"><span>lotus</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">6)</div>
                        <div class="content">
                            <div class="line">I am white in colour,</div>
                            <div class="line">I make you feel cold,</div>
                            <div class="line">You can ski on me,</div>
                            <div class="line">Do you know me?</div>
                            <div class="input_div">
                                <input type="text"><div class="correct_answer"><span>snow</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
  </div>
</div>