<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
		<div class="heading">
			<h1>Click in the correct boxes of ‘Yes’ and ‘No’ to colour them, if the given words are Antonyms.</h1>
		</div>
        <div class="Main_Container">
            <div class="Question_Container">
                <img src="assets/std03-antonyms-worksheet1/img/Question_bg.jpg" alt="" class="Question_bg">
                <img src="assets/std03-antonyms-worksheet1/img/Question_bg_portrait.jpg" alt="" class="Question_bg_portrait">
               <div class="Question_Block">
                   <div class="Question_Row">
                       <div class="Question">
                            <div class="number">1)</div>
                            <div class="content">imaginary</div>
                            <div class="cross">x</div>
                            <div class="content">real</div>
                       </div>
                       <div class="Option_Block">
                            <div class="options">
                                <div class="option right">Yes</div>
                                <div class="option">No</div>
                            </div>
                       </div>
                   </div>
                   <div class="Question_Row">
                       <div class="Question">
                            <div class="number">2)</div>
                            <div class="content">increase</div>
                            <div class="cross">x</div>
                            <div class="content">ascend</div>
                       </div>
                       <div class="Option_Block">
                            <div class="options">
                                <div class="option">Yes</div>
                                <div class="option right">No</div>
                            </div>
                       </div>
                   </div>
                   <div class="Question_Row">
                       <div class="Question">
                            <div class="number">3)</div>
                            <div class="content">thaw</div>
                            <div class="cross">x</div>
                            <div class="content">freeze</div>
                       </div>
                       <div class="Option_Block">
                            <div class="options">
                                <div class="option right">Yes</div>
                                <div class="option">No</div>
                            </div>
                       </div>
                   </div>
                   <div class="Question_Row">
                       <div class="Question">
                            <div class="number">4)</div>
                            <div class="content">attack</div>
                            <div class="cross">x</div>
                            <div class="content">defend</div>
                       </div>
                       <div class="Option_Block">
                            <div class="options">
                                <div class="option right">Yes</div>
                                <div class="option">No</div>
                            </div>
                       </div>
                   </div>
                   <div class="Question_Row">
                       <div class="Question">
                            <div class="number">5)</div>
                            <div class="content">exterior</div>
                            <div class="cross">x</div>
                            <div class="content">superior</div>
                       </div>
                       <div class="Option_Block">
                            <div class="options">
                                <div class="option">Yes</div>
                                <div class="option right">No</div>
                            </div>
                       </div>
                   </div>
                   <div class="Question_Row">
                       <div class="Question">
                            <div class="number">6)</div>
                            <div class="content">seldom</div>
                            <div class="cross">x</div>
                            <div class="content">often</div>
                       </div>
                       <div class="Option_Block">
                            <div class="options">
                                <div class="option right">Yes</div>
                                <div class="option">No</div>
                            </div>
                       </div>
                   </div>
                   <div class="Question_Row">
                       <div class="Question">
                            <div class="number">7)</div>
                            <div class="content">genuine</div>
                            <div class="cross">x</div>
                            <div class="content">real</div>
                       </div>
                       <div class="Option_Block">
                            <div class="options">
                                <div class="option">Yes</div>
                                <div class="option right">No</div>
                            </div>
                       </div>
                   </div>
                   <div class="Question_Row">
                       <div class="Question">
                            <div class="number">8)</div>
                            <div class="content">slavery</div>
                            <div class="cross">x</div>
                            <div class="content">freedom</div>
                       </div>
                       <div class="Option_Block">
                            <div class="options">
                                <div class="option right">Yes</div>
                                <div class="option">No</div>
                            </div>
                       </div>
                   </div>
                   <div class="Question_Row">
                       <div class="Question">
                            <div class="number">9)</div>
                            <div class="content">prohibit</div>
                            <div class="cross">x</div>
                            <div class="content">allow</div>
                       </div>
                       <div class="Option_Block">
                            <div class="options">
                                <div class="option right">Yes</div>
                                <div class="option">No</div>
                            </div>
                       </div>
                   </div>
                   <div class="Question_Row">
                       <div class="Question">
                            <div class="number">10)</div>
                            <div class="content">under</div>
                            <div class="cross">x</div>
                            <div class="content">below</div>
                       </div>
                       <div class="Option_Block">
                            <div class="options">
                                <div class="option">Yes</div>
                                <div class="option right">No</div>
                            </div>
                       </div>
                   </div>
                   <div class="btn-row">
                       <button class="button myButton">Submit</button>
                   </div>
               </div>
            </div>
		</div>
       
  </div>
</div>