<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="heading">
      <h1>Click on the blanks and then click on the words from the help box, to classify them correctly as Common and
        Proper Nouns.</h1>
    </div>
    <div class="row Main_Container">
      <div class="col-12 Option_Container">
        <div class="options">
          <div class="option"><img src="assets/std02-mixed-nouns-worksheet4/img/option.png" alt=""><span>soil</span></div>
          <div class="option"><img src="assets/std02-mixed-nouns-worksheet4/img/option.png" alt=""><span>Eva</span></div>
          <div class="option"><img src="assets/std02-mixed-nouns-worksheet4/img/option.png" alt=""><span>Dubai</span></div>
          <div class="option"><img src="assets/std02-mixed-nouns-worksheet4/img/option.png" alt=""><span>Mr. Lee</span></div>
          <div class="option"><img src="assets/std02-mixed-nouns-worksheet4/img/option.png" alt=""><span>Ivan</span></div>
          <div class="option"><img src="assets/std02-mixed-nouns-worksheet4/img/option.png" alt=""><span>South<br> Africa</span></div>
          <div class="option"><img src="assets/std02-mixed-nouns-worksheet4/img/option.png" alt=""><span>oven</span></div>
          <div class="option"><img src="assets/std02-mixed-nouns-worksheet4/img/option.png" alt=""><span>water</span></div>
          <div class="option"><img src="assets/std02-mixed-nouns-worksheet4/img/option.png" alt=""><span>egg</span></div>
          <div class="option"><img src="assets/std02-mixed-nouns-worksheet4/img/option.png" alt=""><span>fire</span></div>
          <div class="option"><img src="assets/std02-mixed-nouns-worksheet4/img/option.png" alt=""><span>wind</span></div>
          <div class="option"><img src="assets/std02-mixed-nouns-worksheet4/img/option.png" alt=""><span>The Great<br> Wall</span></div>
        </div>
      </div>
      <div class="col-12 Answer_Container">
        <div class="header_row">
          <div class="header">Common Nouns</div>
          <div class="header">Proper Nouns</div>
        </div>
        <div class="Answer_Block">
          <div class="Answer_Row">
            <div class="Answer">
              <div class="number">1</div>
              <div class="input_div"><input type="text">
                <div class="correct_answer"><span>oven</span></div>
              </div>
            </div>
            <div class="Answer">
              <div class="number">1</div>
              <div class="input_div"><input type="text">
                <div class="correct_answer"><span>South Africa</span></div>
              </div>
            </div>
          </div>
          <div class="Answer_Row">
            <div class="Answer">
              <div class="number">2</div>
              <div class="input_div"><input type="text">
                <div class="correct_answer"><span>fire</span></div>
              </div>
            </div>
            <div class="Answer">
              <div class="number">2</div>
              <div class="input_div"><input type="text">
                <div class="correct_answer"><span>Eva</span></div>
              </div>
            </div>
          </div>
          <div class="Answer_Row">
            <div class="Answer">
              <div class="number">3</div>
              <div class="input_div"><input type="text">
                <div class="correct_answer"><span>soil</span></div>
              </div>
            </div>
            <div class="Answer">
              <div class="number">3</div>
              <div class="input_div"><input type="text">
                <div class="correct_answer"><span>Mr. Lee</span></div>
              </div>
            </div>
          </div>
          <div class="Answer_Row">
            <div class="Answer">
              <div class="number">4</div>
              <div class="input_div"><input type="text">
                <div class="correct_answer"><span>egg</span></div>
              </div>
            </div>
            <div class="Answer">
              <div class="number">4</div>
              <div class="input_div"><input type="text">
                <div class="correct_answer"><span>Ivan</span></div>
              </div>
            </div>
          </div>
          <div class="Answer_Row">
            <div class="Answer">
              <div class="number">5</div>
              <div class="input_div"><input type="text">
                <div class="correct_answer"><span>water</span></div>
              </div>
            </div>
            <div class="Answer">
              <div class="number">5</div>
              <div class="input_div"><input type="text">
                <div class="correct_answer"><span>The Great Wall</span></div>
              </div>
            </div>
          </div>
          <div class="Answer_Row">
            <div class="Answer">
              <div class="number">6</div>
              <div class="input_div"><input type="text">
                <div class="correct_answer"><span>wind</span></div>
              </div>
            </div>
            <div class="Answer">
              <div class="number">6</div>
              <div class="input_div"><input type="text">
                <div class="correct_answer"><span>Dubai</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>

  </div>


</div>