<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
      <div class="row">
          <div class="heading mt-3">
              <!-- <h1>Click on the blank and then click on the correct Common Noun from the help box, for the given pictures. Then mark them in the wordsearch.</h1> -->
              <h1>Click on the blanks and then click on the correct Common Nouns from the help box, for the given pictures. Then mark them in the wordsearch.</h1>
          </div>
      </div>
      <div class="row Main_Container">
          <div class="col-12 Question_Container">
              <div class="Question_Row">
                  <div class="imgBlock">
                      <img src="assets/std01-common-noun-worksheet5/img/cloud.png" alt="">
                  </div>
                  <div class="number">1)</div>
                  <div class="input_div"><input type="text"><div class="correct_answer"><span>cloud</span></div></div>
              </div>
              <div class="Question_Row">
                  <div class="imgBlock">
                      <img src="assets/std01-common-noun-worksheet5/img/fan.png" alt="">
                  </div>
                  <div class="number">2)</div>
                  <div class="input_div"><input type="text"><div class="correct_answer"><span>fan</span></div></div>
              </div>
              <div class="Question_Row">
                  <div class="imgBlock">
                      <img src="assets/std01-common-noun-worksheet5/img/bottle.png" alt="">
                  </div>
                  <div class="number">3)</div>
                  <div class="input_div"><input type="text"><div class="correct_answer"><span>bottle</span></div></div>
              </div>
              <div class="Question_Row">
                  <div class="imgBlock">
                      <img src="assets/std01-common-noun-worksheet5/img/violin.png" alt="">
                  </div>
                  <div class="number">4)</div>
                  <div class="input_div"><input type="text"><div class="correct_answer"><span>violin</span></div></div>
              </div>
              <div class="Question_Row">
                  <div class="imgBlock">
                      <img src="assets/std01-common-noun-worksheet5/img/grass.png" alt="">
                  </div>
                  <div class="number">5)</div>
                  <div class="input_div"><input type="text"><div class="correct_answer"><span>grass</span></div></div>
              </div>
              <div class="Question_Row">
                  <div class="imgBlock">
                      <img src="assets/std01-common-noun-worksheet5/img/clock.png" alt="">
                  </div>
                  <div class="number">6)</div>
                  <div class="input_div"><input type="text"><div class="correct_answer"><span>clock</span></div></div>
              </div>
              <div class="Question_Row">
                  <div class="imgBlock">
                      <img src="assets/std01-common-noun-worksheet5/img/pencil.png" alt="">
                  </div>
                  <div class="number">7)</div>
                  <div class="input_div"><input type="text"><div class="correct_answer"><span>pencil</span></div></div>
              </div>
              <div class="Question_Row">
                  <div class="imgBlock">
                      <img src="assets/std01-common-noun-worksheet5/img/ship.png" alt="">
                  </div>
                  <div class="number">8)</div>
                  <div class="input_div"><input type="text"><div class="correct_answer"><span>ship</span></div></div>
              </div>
          </div>
          <div class="col-12 Option_Container">
              <div class="options">
                  <div class="option">grass</div>
                  <div class="option">ship</div>
                  <div class="option">pencil</div>
                  <div class="option">fan</div>
                  
                  <div class="option">bottle</div>
                  <div class="option">cloud</div>
                  <div class="option">violin</div>
                  <div class="option">clock</div>
              </div>
              <div class="puzzle">
                  <div class="word_search">
                      <div class="letter disabled">Z</div>
                      <div class="letter">B</div>
                      <div class="letter">O</div>
                      <div class="letter">T</div>
                      <div class="letter">T</div>
                      <div class="letter">L</div>
                      <div class="letter">E</div>
                      <div class="letter">V</div>
                      <div class="line bottle_line"></div>
                  </div>
                  <div class="word_search">
                      <div class="letter">F</div>
                      <div class="letter">C</div>
                      <div class="letter">C</div>
                      <div class="letter">L</div>
                      <div class="letter">O</div>
                      <div class="letter">U</div>
                      <div class="letter">D</div>
                      <div class="letter">I</div>
                      <div class="line cloud_line"></div>
                  </div>
                  <div class="word_search">
                      <div class="letter">A</div>
                      <div class="letter">L</div>
                      <div class="letter disabled">D</div>
                      <div class="letter">S</div>
                      <div class="letter">H</div>
                      <div class="letter">I</div>
                      <div class="letter">P</div>
                      <div class="letter">O</div>
                      <div class="line ship_line"></div>
                  </div>
                  <div class="word_search">
                      <div class="letter">N</div>
                      <div class="letter">O</div>
                      <div class="letter">P</div>
                      <div class="letter">E</div>
                      <div class="letter">N</div>
                      <div class="letter">C</div>
                      <div class="letter">I</div>
                      <div class="letter">L</div>
                      <div class="line pencil_line"></div>
                  </div>
                  <div class="word_search">
                      <div class="letter disabled">K</div>
                      <div class="letter">C</div>
                      <div class="letter disabled">Q</div>
                      <div class="letter disabled">M</div>
                      <div class="letter disabled">U</div>
                      <div class="letter disabled">J</div>
                      <div class="letter disabled">E</div>
                      <div class="letter">I</div>
                  </div>
                  <div class="word_search">
                      <div class="letter disabled">A</div>
                      <div class="letter">K</div>
                      <div class="letter">G</div>
                      <div class="letter">R</div>
                      <div class="letter">A</div>
                      <div class="letter">S</div>
                      <div class="letter">S</div>
                      <div class="letter">N</div>
                      <div class="line grass_line"></div>
                  </div>
                  <div class="line fan_line"></div>
                  <div class="line clock_line"></div>
                  <div class="line violin_line"></div>
              </div>
          </div>
  </div>
      <div class="btn-row">
          <button class="button myButton">Submit</button>
      </div>
      
  </div>
</div>