<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3 mb-3">
        <h2 class="font-weight-bold heading">
          <!-- Colour correct boxes of Helping Verbs, that can be used to complete the sentences.  -->
          <!-- Click on the blanks and then click in the correct boxes of Helping Verbs, to colour the boxes and complete the sentences. -->
          Click on the blanks and then click in the correct boxes of Helping Verbs, to complete the sentences.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="main-question-container">
        <!-- 1 -->
        <div class="question ">
          <div class="number"><span>1)</span></div>
          <div class="text-container">
            <div class="question-text">
              <span>A year</span>
              <div class="input-container">
                <input type="text">
                <div class="correct-answer">
                  <span>has</span>
                </div>
              </div>
              <span>months.</span>
            </div>
            <div class="img-container q1">
              <img src="assets/std01-helping-verbs-worksheet8/img/q1.png" alt="" class="img-fluid ">
            </div>
            <div class="main-helpbox-container">
              <div class="helpbox-container">
                <div class="helpbox right">
                  <span>has</span>
                </div>
                <div class="helpbox wrong">
                  <span>have</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="question">
          <div class="number"><span>2)</span></div>
          <div class="text-container">
            <div class="question-text">
              <span>Eva</span>
              <div class="input-container">
                <input type="text">
                <div class="correct-answer">
                  <span>has</span>
                </div>
              </div>
              <span>sandwiches for lunch everyday.</span>
            </div>
            <div class="img-container">
              <img src="assets/std01-helping-verbs-worksheet8/img/q2.png" alt="" class="img-fluid">
            </div>
            <div class="main-helpbox-container">
              <div class="helpbox-container">
                <div class="helpbox right">
                  <span>has</span>
                </div>
                <div class="helpbox wrong">
                  <span>have</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="question">
          <div class="number"><span>3)</span></div>
          <div class="text-container">
            <div class="question-text">
              <span>You</span>
              <div class="input-container">
                <input type="text">
                <div class="correct-answer">
                  <span>have</span>
                </div>
              </div>
              <span>to complete your work by 4 o’clock.</span>
            </div>
            <div class="img-container">
              <img src="assets/std01-helping-verbs-worksheet8/img/q3.png" alt="" class="img-fluid">
            </div>
            <div class="main-helpbox-container">
              <div class="helpbox-container">
                <div class="helpbox wrong">
                  <span>has</span>
                </div>
                <div class="helpbox right">
                  <span>have</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="question">
          <div class="number"><span>4)</span></div>
          <div class="text-container">
            <div class="question-text">
              <span>A leopard </span>
              <div class="input-container">
                <input type="text">
                <div class="correct-answer">
                  <span>has</span>
                </div>
              </div>
              <span>a long tail.</span>
            </div>
            <div class="img-container">
              <img src="assets/std01-helping-verbs-worksheet8/img/q4.png" alt="" class="img-fluid">
            </div>
            <div class="main-helpbox-container">
              <div class="helpbox-container">
                <div class="helpbox right">
                  <span>has</span>
                </div>
                <div class="helpbox wrong">
                  <span>have</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 5 -->
        <div class="question">
          <div class="number"><span>5)</span></div>
          <div class="text-container">
            <div class="question-text">
              <span>A peacock</span>
              <div class="input-container">
                <input type="text">
                <div class="correct-answer">
                  <span>has</span>
                </div>
              </div>
              <span>colourful feathers.</span>
            </div>
            <div class="img-container">
              <img src="assets/std01-helping-verbs-worksheet8/img/q5.png" alt="" class="img-fluid">
            </div>
            <div class="main-helpbox-container">
              <div class="helpbox-container">
                <div class="helpbox right">
                  <span>has</span>
                </div>
                <div class="helpbox wrong">
                  <span>have</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 6 -->
        <div class="question">
          <div class="number"><span>6)</span></div>
          <div class="text-container">
            <div class="question-text">
              <span>My neighbours</span>
              <div class="input-container">
                <input type="text">
                <div class="correct-answer">
                  <span>have</span>
                </div>
              </div>
              <span>a three year old son.</span>
            </div>
            <div class="img-container">
              <img src="assets/std01-helping-verbs-worksheet8/img/q6.png" alt="" class="img-fluid">
            </div>
            <div class="main-helpbox-container">
              <div class="helpbox-container">
                <div class="helpbox wrong">
                  <span>has</span>
                </div>
                <div class="helpbox right">
                  <span>have</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 7 -->
        <div class="question">
          <div class="number"><span>7)</span></div>
          <div class="text-container">
            <div class="question-text">
              <span>Why</span>
              <div class="input-container">
                <input type="text">
                <div class="correct-answer">
                  <span>have</span>
                </div>
              </div>
              <span>they not come?</span>
            </div>
            <div class="img-container">
              <img src="assets/std01-helping-verbs-worksheet8/img/q7.png" alt="" class="img-fluid">
            </div>
            <div class="main-helpbox-container">
              <div class="helpbox-container">
                <div class="helpbox wrong">
                  <span>has</span>
                </div>
                <div class="helpbox right">
                  <span>have</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 8 -->
        <div class="question">
          <div class="number"><span>8)</span></div>
          <div class="text-container">
            <div class="question-text">
              <span>Mike</span>
              <div class="input-container">
                <input type="text">
                <div class="correct-answer">
                  <span>has</span>
                </div>
              </div>
              <span>a baby sister.</span>
            </div>
            <div class="img-container">
              <img src="assets/std01-helping-verbs-worksheet8/img/q8.png" alt="" class="img-fluid">
            </div>
            <div class="main-helpbox-container">
              <div class="helpbox-container">
                <div class="helpbox right">
                  <span>has</span>
                </div>
                <div class="helpbox wrong">
                  <span>have</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end -->
      </div>
    </div>
    <div class="row btn-row">
      <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>
</div>