<div class="bg"  ngPreserveWhitespaces>
    <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
    <div class="loadingDiv">
	</div>
	
    <div class="container">
        <!-- <img src="Asset/img/main_container_bg.jpg" alt="" class="bg"> -->
        <div class="Main_Container">
            <div class="heading pt-3">
                <h1>Click on the blanks and then click on the correct Adjectives from the help box, that can be used to describe the given Nouns.</h1>
            </div>
            <div class="option_Container">
                <div class="options">
                    <div class="option">happy</div>
                    <div class="option">kind</div>
                    <div class="option">interesting</div>
                    <div class="option">big</div>
                    <div class="option">green</div>
                    <div class="option">empty</div>
                    <div class="option">sad</div>
                    <div class="option">wooden</div>
                </div>
            </div>
        </div>
    </div>
    <div class="Question_Container">
        <img src="assets/std01-adjective-worksheet7/img/main_container_bg.png" alt="" class="question_bg">
        <div class="Question_Block bottle">
            <input type="text"><div class="correct_answer"><span>empty</span></div> <span>bottle</span>
        </div>
        <div class="Question_Block teacher">
            <input type="text"><div class="correct_answer"><span>kind</span></div> <span>teacher</span>
        </div>
        <div class="Question_Block book">
            <input type="text"><div class="correct_answer"><span>interesting</span></div> <span>book</span>
        </div>
        <div class="Question_Block desk">
            <input type="text"><div class="correct_answer"><span>big</span></div> <span>desk</span>
        </div>
        <div class="Question_Block chair">
            <input type="text"><div class="correct_answer"><span>wooden</span></div> <span>chair</span>
        </div>
        <div class="Question_Block girl">
            <input type="text"><div class="correct_answer"><span>happy</span></div> <span>girl</span>
        </div>
        <div class="Question_Block bag">
            <input type="text"><div class="correct_answer"><span>green</span></div> <span>bag</span>
        </div>
        <div class="Question_Block boy">
            <input type="text"><div class="correct_answer"><span>sad</span></div> <span>boy</span>
        </div>
    </div>
	<div class="btn-row">
		<button class="button myButton">Submit</button>
	</div>
</div>

  