*{
    box-sizing: border-box;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto,
.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2,
.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10,
.col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto,
.col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, 
.col-xl-9, .col-xl-auto{
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
}
.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}


body{
    min-height:100vh;
	overflow-x:hidden;
    font-family: 'CustomFont','Microsoft New Tai Lue','Arial';
    color:#000;
	font-size:24px;
    height: 100%;
	margin:0;
}
.heading,.correct_answer{
    font-family: 'CustomFontBold','Microsoft New Tai Lue','Arial';
}
.heading{
    margin-top:40px;
    padding: 5px 20px;
    border-radius:5px;
    background-color:rgba(255,255,255,.4);
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    -moz-box-shadow: 2px 2px 10px rgba(0,0,0,.5);
}
.heading h1{
    font-weight:700;
    font-size: 30px;
    margin:0;
}
input{
    background-color:transparent;
    border:0;
    border-bottom:1px solid #000;
    outline:0;
    padding:0;
    text-align:center;
	width:100%;
	font-size:inherit;
	font-family: inherit;
	cursor:pointer;
    font-weight:inherit;
}
.correct_answer{
    top:0px;
    font-size:20px;
    margin-top:-25px;
    margin-left:-40%;
    width:100%;
    display: inline-block;
    position:absolute;
    text-align:center;
    white-space: nowrap;
    visibility: hidden;
}
.correct_answer span{
    line-height: 24px;
    padding: 0 5px;
    display: inline-block;
    border: 1px solid #000 !important;
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #20bb15 !important;
     -webkit-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	 -moz-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-weight: bold;
}
.green {
    color: #20bb15 !important;
    -webkit-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    -moz-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.puzzle_container.bd{
    filter: drop-shadow(2px 2px 2px #20bb15) drop-shadow(-2px -2px 2px #20bb15);
}
.btn-row{
	position: relative;
    margin-bottom:10px;
    padding-bottom:60px;
	text-align:center;
}
.Main_Container,.Question,.puzzle_container,.Option{
    display:grid;
}
.Main_Container{
    /* grid-template-columns: repeat(2,50%); */
    grid-template-columns: 55% 45%;
    margin-top:30px;
}
.Question{
    grid-template-columns: 35% 30% 35%;
    margin-bottom:20px;
}
.puzzle_container{
    grid-template-columns: 100%;
    -webkit-filter:drop-shadow(0 5px 3px rgba(0,0,0,.8));
    -moz-filter:drop-shadow(0 5px 3px rgba(0,0,0,.8));
    filter:drop-shadow(0 5px 3px rgba(0,0,0,.8));
    cursor:pointer;
}
.puzzle_container img{
    max-width:100%;
}
.Question_Block span{
    padding-right: 10px;
    top: 44%;
    width:100%;
    transform: translateY(-50%);
    position: absolute;
    font-weight: bold;
    white-space: nowrap;
    text-align: right;
    left: -1%;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    -webkit-text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.Answer_Block > span {
    top: 50%;
    left: 62%;
    width: 60%;
    transform: translate(-50%,-50%);
    position: absolute;
    font-weight: bold;
    white-space: nowrap;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    -webkit-text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.Question_Block,.puzzle_container{
    position:relative;
}
.Answer_Block {
    position: absolute;
    margin-left: 70%;
    width: 100%;
    top: -3%;
}
.Option {
    margin-bottom: 20px;
    grid-template-columns: repeat(2,42.8%);
    justify-content: space-between;
}
.Option_Block img{
    max-width:100%;
    -webkit-filter:drop-shadow(0 5px 3px rgba(0,0,0,.8));
    -moz-filter:drop-shadow(0 5px 3px rgba(0,0,0,.8));
    filter:drop-shadow(0 5px 3px rgba(0,0,0,.8));
}
.Option_Block span{
    top: 47%;
    left: 62%;
    width: 60%;
    transform: translate(-50%,-50%);
    position: absolute;
    font-weight: bold;
    white-space: nowrap;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    -webkit-text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.Option_Block{
    position:relative;
    cursor:pointer;
}
.Answer_Block img{
    display:none;
}
.hide{
    display:none;
}
.click {
    visibility: hidden;
}
@media (min-width:100px) and (max-width:639px) and (orientation:portrait){
     body{
		font-size:16px;
    }
    .heading h1{
        font-size:20px;
    }
	.correct_answer{
        font-size:14px;
        margin-top:-10px;
    }
    .correct_answer span {
        line-height: 18px;
    }
    .myButton{
        padding:5px 18px;
    }
    .Question {
        grid-template-columns: 80%;
        margin-bottom: 0px;
        width: 100%;
        margin-left: 15%;
    }
    .Option {
        grid-template-columns: 98%;
        margin-bottom: 0;
    }
    .Option_Block {
        margin-top: 26vw;
        width: 100%;
        margin-left: -10%;
    }
    .puzzle_container{
        margin-bottom: 30vw;
    }
    .empty{
        display:none;
    }
    .Option .Option_Block:nth-child(2){
        margin-top: 30vw;
    }
    .Option_Container .Option:nth-child(4) .Option_Block{
        margin-top: 30vw;
    }
    .Main_Container {
        max-width:360px;
        margin:30px auto 0;
    }
}
@media(min-width:100px) and (max-width:639px) and (orientation:landscape){
    body{
		font-size:14px;
    }
    .heading h1{
        font-size:20px;
        padding:0 20px;
    }
	.correct_answer{
        font-size:14px;
        margin-top: -20px;
    }
    .correct_answer span {
        line-height: 17px;
    }
    .myButton{
        padding:5px 18px;
    }
    .Question {
        grid-template-columns: 38% 30% 38%;
    }
    .Question_Block span {
        padding-right: 6px;
    }
    .Option {
        grid-template-columns: repeat(2,46.5%);
    }
}
@media (min-width: 640px) and (max-width: 767px){
    body{
        font-size:15px;
    }
    .container {
        padding: 0 3%;
    }
    .heading h1{
        font-size:20px;
    }
	.correct_answer{
        font-size:14px;
        margin-top:-18px;
    }
    .correct_answer span {
        line-height: 18px;
    }
    .myButton{
        padding:5px 20px;
    }
    .Option {
        grid-template-columns: repeat(2,48.4%);
    }
    .Main_Container {
        grid-template-columns: 58% 42%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    body{
        font-size:18px;
    }
    .container {
        padding: 0 30px;
    }
    .heading h1{
        font-size:26px;
    }
	.correct_answer{
        font-size:16px;
        margin-top:-20px;
    }
    .correct_answer span {
        line-height: 20px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    body{
        font-size:22px;
    }
    .heading h1{
        font-size:28px;
    }
	.correct_answer{
        font-size:18px;
    }
    .container {
        max-width: 960px;
    }
}

@media(min-width:1200px){
    .container {
        max-width: 1140px;
    }
}
@media(min-width:100px) and (max-width:991px){
    .container {
        max-width: unset;
    }
    .btn-row {
        padding-bottom: 40px;
    }
    
}


@media only screen and (min-width: 768px) and (orientation: portrait) {
	body{
		font-size:30px;
    }
	.heading h1{
        font-size:35px;
    }
    .myButton{
        font-size:30px;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	body{
        font-size:35px;
    }
    .heading h1{
        font-size:40px;
    }
    .myButton{
        font-size:35px;
    }
}

@media (min-width: 1900px){
    body{
        font-size:30px;
    }
    .heading h1{
        font-size:40px;
    }
    .container {
        max-width: 1500px;
    }
    .correct_answer {
        font-size: 28px;
        margin-top: -35px;
    }
    .correct_answer span {
        line-height: 35px;
        padding: 0 15px;
    }
    .Question_Block span {
        padding-right: 25px;
        top: 45%;
    }
    .heading {
        margin-top: 65px;
    }
    .Main_Container {
        margin-top: 50px;
    }
    .Question,.Option{
        margin-bottom: 35px;
    }
}

@media (orientation:landscape){
    body{
        background:url(../img/bg.png) no-repeat left top;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;
    }
}
@media (orientation:portrait){
    body{
        background:url(../img/bg_portrait.jpg) no-repeat left top;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;
    }
}