<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="heading ">
      <h1>Click on the blanks and then click on the correct Articles from the help box of ice-cubes, that can be used
        before the given Nouns.</h1>
    </div>
    <div class="row Main_Container">
      <div class="col-12 Option_Container">
        <div class="options">
          <div class="option"><img src="assets/std02-articles-worksheet4/img/option.png" alt=""><span>a</span></div>
          <div class="option"><img src="assets/std02-articles-worksheet4/img/option.png" alt=""><span>an</span></div>
        </div>
      </div>
      <div class="col-12 Question_Container">
        <div class="Question_Block">
          <div class="Question_Row">
            <div class="Question">
              <div class="number">1</div>
              <div class="content">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span>a</span></div>
                </div> door
              </div>
            </div>
            <div class="Question">
              <div class="number">2</div>
              <div class="content">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span>an</span></div>
                </div> alligator
              </div>
            </div>
          </div>
          <div class="Question_Row">
            <div class="Question">
              <div class="number">3</div>
              <div class="content">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span>an</span></div>
                </div> ostrich
              </div>
            </div>
            <div class="Question">
              <div class="number">4</div>
              <div class="content">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span>a</span></div>
                </div> garden
              </div>
            </div>
          </div>
          <div class="Question_Row">
            <div class="Question">
              <div class="number">5</div>
              <div class="content">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span>a</span></div>
                </div> unicorn
              </div>
            </div>
            <div class="Question">
              <div class="number">6</div>
              <div class="content">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span>a</span></div>
                </div> coat
              </div>
            </div>
          </div>
          <div class="Question_Row">
            <div class="Question">
              <div class="number">7</div>
              <div class="content">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span>a</span></div>
                </div> uniform
              </div>
            </div>
            <div class="Question">
              <div class="number">8</div>
              <div class="content">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span>an</span></div>
                </div> ice-cube
              </div>
            </div>
          </div>
          <div class="Question_Row">
            <div class="Question">
              <div class="number">9</div>
              <div class="content">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span>a</span></div>
                </div> watch
              </div>
            </div>
            <div class="Question">
              <div class="number">10</div>
              <div class="content">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span>an</span></div>
                </div> umbrella
              </div>
            </div>
          </div>
          <div class="Question_Row">
            <div class="Question">
              <div class="number">11</div>
              <div class="content">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span>a</span></div>
                </div> baby
              </div>
            </div>
            <div class="Question">
              <div class="number">12</div>
              <div class="content">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span>an</span></div>
                </div> axe
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>

  </div>
</div>