<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
	<div class="loadingDiv">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12  mt-3 mb-3 p-0">
				<div class="heading">
					<h2 class="font-weight-bold ">
						Click on the Proper Nouns in the following sentences.
					</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<div class="row m-0">
					<div class="col-12 p-0">
						<div class="question">
							<div class="number">
								<span>1)</span>
							</div>
							<div class="text-container">
								<span>Ricky</span>
								<span>is</span>
								<span>going</span>
								<span>to</span>
								<span>Sweden</span>
								<span>during</span>
								<span>his</span>
								<span>holidays</span>.
							</div>
						</div>
					</div>
					<!-- 2 -->
					<div class="col-12 p-0">
						<div class="question ">
							<div class="number">
								<span>2)</span>
							</div>
							<div class="text-container">
								<span>Carol</span>
								<span>decided</span>
								<span>to</span>
								<span>have</span>
								<span>a</span>
								<span>Halloween</span>
								<span>party</span>
								<span>at</span>
								<span>her</span>
								<span>house</span>.
							</div>
						</div>
					</div>
					<!-- 3 -->
					<div class="col-12 p-0">
						<div class="question ">
							<div class="number">
								<span>3)</span>
							</div>
							<div class="text-container">
								<span>Africa</span>
								<span>is</span>
								<span>a</span>
								<span>continent</span>
								<span>between</span>
								<span>America</span>
								<span>and</span>
								<span>Asia</span>.
							</div>
						</div>
					</div>
					<!-- 4 -->
					<div class="col-12 p-0">
						<div class="question ">
							<div class="number">
								<span>4)</span>
							</div>
							<div class="text-container">
								<span>Prince Harry</span>
								<span>recently</span>
								<span>got</span>
								<span>married</span>
								<span>to</span>
								<span>Meghan Markle</span>.
							</div>
						</div>
					</div>
					<!-- 5 -->
					<div class="col-12 p-0">
						<div class="question ">
							<div class="number">
								<span>5)</span>
							</div>
							<div class="text-container">
								<span>My</span>
								<span>dad</span>
								<span>drives</span>
								<span>a</span>
								<span>Honda</span>
								<span>SUV</span>.
							</div>
						</div>
					</div>
					<!-- 6 -->
					<div class="col-12 p-0">
						<div class="question ">
							<div class="number">
								<span>6)</span>
							</div>
							<div class="text-container">
								<span>From</span>
								<span>the</span>
								<span>top</span>
								<span>of</span>
								<!-- <span>The</span> -->
								<span>The Empire State Building</span>,
								<span>you</span>
								<span>can</span>
								<span>get</span>
								<span>a</span>
								<span>complete</span>
								<span>view</span>
								<span>of</span>
								<span>New York City</span>.
							</div>
						</div>
					</div>
					<!-- 7 -->
					<div class="col-12 p-0">
						<div class="question ">
							<div class="number">
								<span>7)</span>
							</div>
							<div class="text-container">
								<span>They</span>
								<span>stopped</span>
								<span>at</span>
								<span>McDonald’s</span>
								<span>for</span>
								<span>burgers</span>
								<span>and</span>
								<span>fries</span>.
							</div>
						</div>
					</div>
					<!-- 8 -->
					<div class="col-12 p-0">
						<div class="question ">
							<div class="number">
								<span>8)</span>
							</div>
							<div class="text-container">
								<span>Beijing</span>
								<span>is</span>
								<span>the</span>
								<span>capital</span>
								<span>city</span>
								<span>of</span>
								<span>China</span>.
							</div>
						</div>
					</div>
					<!-- 9 -->
					<div class="col-12 p-0">
						<div class="question ">
							<div class="number">
								<span>9)</span>
							</div>
							<div class="text-container">
								<span>His</span>
								<span>neighbour</span>
								<span>works</span>
								<span>at</span>
								<span>Google</span>.
							</div>
						</div>
					</div>
					<!-- 10 -->
					<div class="col-12 p-0">
						<div class="question ">
							<div class="number">
								<span>10)</span>
							</div>
							<div class="text-container">
								<span>I</span>
								<span>have</span>
								<span>a</span>
								<span>Dell</span>
								<span>laptop</span>
								<span>that</span>
								<span>I</span>
								<span>carry</span>
								<span>to</span>
								<span>school</span>
								<span>for</span>
								<span>studies</span>.
							</div>
						</div>
					</div>

					<!-- end -->

				</div>
			</div>
		</div>
		<div class="row mt-2 pb-3">
			<div class="col-12 text-center">
				<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>