<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    <div class="loadingDiv">
	</div>
	<img src="assets/std02-adverbs-worksheet5/img/sun.png" alt="" class="sun">
    <div class="container">
            <div class="heading">
                <h1>Click on the blanks and then click on the correct Adverbs from the help box, to complete the sentences.</h1>
            </div>
            <div class="row Main_Container">
                <div class="col-12 Option_Container">
                    <div class="options">
                        <div class="option">often</div>
                        <div class="option">brightly</div>
                        <div class="option">beautifully</div>
                        <div class="option">cheerfully</div>
                        <div class="option">cleverly</div>
                        <div class="option">angrily</div>
                        <div class="option">hopefully</div>
                        <div class="option">everywhere</div>
                    </div>
                </div>
                <div class="col-12 Question_Container">
                    <div class="Question">
                        <div class="number">1)</div>
                        <div class="content">Susan dressed <div class="input_div"><input type="text"><div class="correct_answer"><span>beautifully</span></div></div> for the school party.</div>
                    </div>
                    <div class="Question">
                        <div class="number">2)</div>
                        <div class="content">The lamb <div class="input_div"><input type="text"><div class="correct_answer"><span>cleverly</span></div></div> tricked the wolf to wait for some time before eating it.</div>
                    </div>
                    <div class="Question">
                        <div class="number">3)</div>
                        <div class="content">Bob searched <div class="input_div"><input type="text"><div class="correct_answer"><span>everywhere</span></div></div> for his lost book.</div>
                    </div>
                    <div class="Question">
                        <div class="number">4)</div>
                        <div class="content">The children <div class="input_div"><input type="text"><div class="correct_answer"><span>often</span></div></div> meet at Nancy’s house to study together.</div>
                    </div>
                    <div class="Question">
                        <div class="number">5)</div>
                        <div class="content">The dog barked <div class="input_div"><input type="text"><div class="correct_answer"><span>angrily</span></div></div> at the stranger.</div>
                    </div>
                    <div class="Question">
                        <div class="number">6)</div>
                        <div class="content"><div class="input_div"><input type="text" class="uppercase"><div class="correct_answer"><span>Hopefully</span></div></div>, we should be able to complete our project by tomorrow.</div>
                    </div>
                    <div class="Question seventh">
                        <div class="number">7)</div>
                        <div class="content">During spring, birds chirp <div class="input_div"><input type="text"><div class="correct_answer"><span>cheerfully</span></div></div> every morning.</div>
                    </div>
                    <div class="Question">
                        <div class="number">8)</div>
                        <div class="content">The sun shone <div class="input_div"><input type="text"><div class="correct_answer"><span>brightly</span></div></div> on a hot and sunny day.</div>
                    </div>
                </div>
            </div>
            <div class="btn-row">
                <button class="button myButton">Submit</button>
            </div>
        
    </div>
</div>