<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
	<div class="loadingDiv">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 mb-3">
				<h2 class="font-weight-bold heading">
					Click on the blanks and then click on the correct Common Nouns from the help box, that solves the given clues.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="main-helpbox-container">
				<div class="helpbox-container">
					<div class="helpbox"><span>cookies</span></div>
					<div class="helpbox"><span>forest</span></div>
					<div class="helpbox"><span>east</span></div>
					<div class="helpbox"><span>science</span></div>
					<div class="helpbox"><span>question</span></div>
					<div class="helpbox"><span>island</span></div>
					<div class="helpbox"><span>gloves</span></div>
					<div class="helpbox"><span>breakfast</span></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<div class="question-container">
					<!-- 1 -->
					<div class="question">
						<div class="number"><span>1)</span></div>
						<div class="text-container">
							<span>It is a subject that children learn at school. </span>
							<div class="input-container">
								<input type="text"  >
								<div class="correct-answer">
									<span>science</span>
								</div>
							</div> 
						</div>
					</div>
					<!-- 2 -->
					<div class="question">
						<div class="number"><span>2)</span></div>
						<div class="text-container">
							<span> A piece of land with water all around it.</span>
							<div class="input-container">
								<input type="text" >
								<div class="correct-answer">
									<span>island</span>
								</div>
							</div> 
						</div>
					</div>
					<!-- 3 -->
					<div class="question">
						<div class="number"><span>3)</span></div>
						<div class="text-container">
							<span>The direction from which the sun rises.</span>
							<div class="input-container">
								<input type="text"  >
								<div class="correct-answer">
									<span>east</span>
								</div>
							</div> 
						</div>
					</div>
					<!-- 4 -->
					<div class="question">
						<div class="number"><span>4)</span></div>
						<div class="text-container">
							<span>It is what one asks to know an answer. </span>
							<div class="input-container">
								<input type="text" >
								<div class="correct-answer">
									<span>question</span>
								</div>
							</div> 
						</div>
					</div>
					<!-- 5 -->
					<div class="question">
						<div class="number"><span>5)</span></div>
						<div class="text-container">
							<span>Another word for ‘jungle’ or ‘woods’. </span>
							<div class="input-container">
								<input type="text" >
								<div class="correct-answer">
									<span>forest</span>
								</div>
							</div> 
						</div>
					</div>
					<!-- 6 -->
					<div class="question">
						<div class="number"><span>6)</span></div>
						<div class="text-container">
							<span> It is what one wears in hands to protect them.</span>
							<div class="input-container">
								<input type="text" >
								<div class="correct-answer">
									<span>gloves</span>
								</div>
							</div> 
						</div>
					</div>
					<!-- 7 -->
					<div class="question">
						<div class="number"><span>7)</span></div>
						<div class="text-container">
							<span>Another word for ‘biscuits’. </span>
							<div class="input-container">
								<input type="text" >
								<div class="correct-answer">
									<span>cookies</span>
								</div>
							</div> 
						</div>
					</div>
					<!-- 8 -->
					<div class="question">
						<div class="number"><span>8)</span></div>
						<div class="text-container">
							<span>It is the first meal of the day.</span>
							<div class="input-container">
								<input type="text" >
								<div class="correct-answer">
									<span>breakfast</span>
								</div>
							</div> 
						</div>
					</div>
					<!-- end -->
				</div>
				<div class="puzzle-container">
					<div class="puzzle">
						<img src="assets/std03-common-noun-worksheet4/img/puzzle.png" alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>