<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
  </div>

  <div class="container">
      <div class="row">
          <div class="heading mt-3">
              <h1>Click on the correct Homophones from the brackets, to complete the sentences.</h1>
          </div>
      </div>
      <div class="row">
          <div class="col-12 Question_Container">
              <div class="Question first">
                  <div class="number">1)</div>
                  <div class="content">
                      My neighbours have shifted to another house because 
                      <div class="options">[ <span class="right">their</span> , <span class="">there</span> ]</div>
                      house is under renovation.
                  </div>
              </div>
              <div class="Question second">
                  <div class="number">2)</div>
                  <div class="content">
                      Not only was the princess extremely 
                      <div class="options">[ <span class="">fare</span> , <span class="right">fair</span> ]</div>
                      and beautiful but also kind-hearted by nature.
                  </div>
              </div>
              <div class="Question third">
                  <div class="number">3)</div>
                  <div class="content">
                      The referee declared a  
                      <div class="options">[ <span class="">fowl</span> , <span class="right">foul</span> ]</div>
                      when one player pushed a player of the opponent team.
                  </div>
              </div>
              <div class="Question fourth">
                  <div class="number">4)</div>
                  <div class="content">
                      That dog needs a bath, its fur is full of 
                      <div class="options">[ <span class="">flees</span> , <span class="right">fleas</span> ]</div>.
                  </div>
              </div>
              <div class="Question fifth">
                  <div class="number">5)</div>
                  <div class="content">
                      Joe ordered a vegetable shawarma 
                      <div class="options">[ <span class="right">roll</span> , <span class="">role</span> ]</div>
                      at the Lebanese restaurant.
                  </div>
              </div>
              <div class="Question sixth">
                  <div class="number">6)</div>
                  <div class="content">
                          Meditation helps to achieve 
                      <div class="options">[ <span class="right">soul</span> , <span class="">sole</span> ]</div>
                      peace.
                    </div>
              </div>
              <div class="Question seventh">
                    <div class="number">7)</div>
                    <div class="content">
                          Alexia recited her poem 
                        <div class="options">[ <span class="right">aloud</span> , <span class="">allowed</span> ]</div>
                        in the class.
                    </div>
              </div>
              <div class="Question eighth">
                    <div class="number">8)</div>
                    <div class="content">
                          A
                        <div class="options">[ <span class="">be</span> , <span class="right">bee</span> ]</div>
                        buzzed around the sunflower in the garden.
                      </div>
              </div>
              <div class="Question nineth">
                    <div class="number">9)</div>
                    <div class="content">
                          There was a
                        <div class="options">[ <span class="">whole</span> , <span class="right">hole</span> ]</div>
                        in the bedsheet that the maid spread on my bed.
                      </div>
              </div>
              <div class="Question tenth">
                    <div class="number">10)</div>
                    <div class="content">
                          Jimmy solves a
                        <div class="options">[ <span class="">maize</span> , <span class="right">maze</span> ]</div>
                        everyday to sharpen his mind.
                      </div>
              </div>
          </div>
      </div>
      <div class="btn-row">
          <button class="button myButton">Submit</button>
      </div>
    
  </div>
</div>