<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3 mb-2 mb-lg-3">
        <h2 class="font-weight-bold heading">
          Click on the blanks and then click on the underlined words,
          to classify them correctly as Helping and Action Verbs.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="main-question-container">
        <div class="left-side">
          <!-- 1 -->
          <div class="question">
            <div class="number"><span>1</span></div>
            <div class="text-container">
              <span>Annie <u>has</u> <u>worn</u> a beautiful new dress.</span>
            </div>
          </div>
          <!-- 2 -->
          <div class="question">
            <div class="number"><span>2</span></div>
            <div class="text-container">
              <span>Julia and Betty <u>were</u> <u>playing</u> hopscotch in the patio.</span>
            </div>
          </div>
          <!-- 3 -->
          <div class="question">
            <div class="number"><span>3</span></div>
            <div class="text-container">
              <span>The pupils <u>are</u> <u>waiting</u> at the bus stop.</span>
            </div>
          </div>
          <!-- 4 -->
          <div class="question">
            <div class="number"><span>4</span></div>
            <div class="text-container">
              <span>Everyone <u>will</u> <u>watch</u> the cricket game tonight.</span>
            </div>
          </div>
          <!-- 5 -->
          <div class="question">
            <div class="number"><span>5</span></div>
            <div class="text-container">
              <span>Tom <u>is</u> <u>spending</u> his holidays with his grandparents.</span>
            </div>
          </div>
          <!-- 6 -->
          <div class="question">
            <div class="number"><span>6</span></div>
            <div class="text-container">
              <span>Dr. Brown <u>will</u> <u>cure</u> the disease soon.</span>
            </div>
          </div>
          <!-- 7 -->
          <div class="question">
            <div class="number"><span>7</span></div>
            <div class="text-container">
              <span>Charlie <u>did</u> not <u>agree</u> with the suggestion.</span>
            </div>
          </div>
          <!-- 8 -->
          <div class="question q8">
            <div class="number"><span>8</span></div>
            <div class="text-container">
              <span>The children <u>are</u> <u>riding</u> their bicycles in the park.</span>
            </div>
          </div>
          <!-- end -->
        </div>
        <div class="right-side">
          <div class="helping-action-verb">
            <div class="helping-verb">
              <!-- heading -->
              <div class="answer-heading  font-weight-bold">
                <span>Helping Verbs</span>
              </div>
              <!--  1-->
              <div class="answer ans-top one">
                <div class="answer-number"><span>1)</span></div>
                <div class="answer-text">
                  <div class="input-container">
                    <input type="text">
                    <div class="correct-answer">
                      <span>has</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 2 -->
              <div class="answer two">
                <div class="answer-number"><span>2)</span></div>
                <div class="answer-text">
                  <div class="input-container">
                    <input type="text">
                    <div class="correct-answer">
                      <span>were</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 3 -->
              <div class="answer three">
                <div class="answer-number"><span>3)</span></div>
                <div class="answer-text">
                  <div class="input-container">
                    <input type="text">
                    <div class="correct-answer">
                      <span>are</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 4 -->
              <div class="answer four">
                <div class="answer-number"><span>4)</span></div>
                <div class="answer-text">
                  <div class="input-container">
                    <input type="text">
                    <div class="correct-answer">
                      <span>will</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 5 -->
              <div class="answer five">
                <div class="answer-number"><span>5)</span></div>
                <div class="answer-text">
                  <div class="input-container">
                    <input type="text">
                    <div class="correct-answer">
                      <span>is</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 6 -->
              <div class="answer six">
                <div class="answer-number"><span>6)</span></div>
                <div class="answer-text">
                  <div class="input-container">
                    <input type="text">
                    <div class="correct-answer">
                      <span>will</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 7 -->
              <div class="answer seven">
                <div class="answer-number"><span>7)</span></div>
                <div class="answer-text">
                  <div class="input-container">
                    <input type="text">
                    <div class="correct-answer">
                      <span>did</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 8 -->
              <div class="answer eight">
                <div class="answer-number"><span>8)</span></div>
                <div class="answer-text">
                  <div class="input-container">
                    <input type="text">
                    <div class="correct-answer">
                      <span>are</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end -->
            </div>
            <div class="acion-verb">
              <!-- heading -->
              <div class="answer-heading font-weight-bold">
                <span>Action Verbs</span>
              </div>
              <!--  1-->
              <div class="answer ans-top one">
                <div class="answer-number"><span>1)</span></div>
                <div class="answer-text">
                  <div class="input-container">
                    <input type="text">
                    <div class="correct-answer">
                      <span>worn</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 2 -->
              <div class="answer two">
                <div class="answer-number"><span>2)</span></div>
                <div class="answer-text">
                  <div class="input-container">
                    <input type="text">
                    <div class="correct-answer">
                      <span>playing</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 3 -->
              <div class="answer three">
                <div class="answer-number"><span>3)</span></div>
                <div class="answer-text">
                  <div class="input-container">
                    <input type="text">
                    <div class="correct-answer">
                      <span>waiting</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 4 -->
              <div class="answer four">
                <div class="answer-number"><span>4)</span></div>
                <div class="answer-text">
                  <div class="input-container">
                    <input type="text">
                    <div class="correct-answer">
                      <span>watch</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 5 -->
              <div class="answer five">
                <div class="answer-number"><span>5)</span></div>
                <div class="answer-text">
                  <div class="input-container">
                    <input type="text">
                    <div class="correct-answer">
                      <span>spending</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 6 -->
              <div class="answer six">
                <div class="answer-number"><span>6)</span></div>
                <div class="answer-text">
                  <div class="input-container">
                    <input type="text">
                    <div class="correct-answer">
                      <span>cure</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 7 -->
              <div class="answer seven">
                <div class="answer-number"><span>7)</span></div>
                <div class="answer-text">
                  <div class="input-container">
                    <input type="text">
                    <div class="correct-answer">
                      <span>agree</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 8 -->
              <div class="answer eight">
                <div class="answer-number"><span>8)</span></div>
                <div class="answer-text">
                  <div class="input-container">
                    <input type="text">
                    <div class="correct-answer">
                      <span>riding</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row btn-row">
      <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>

</div>