<div class="bg">
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
				<h2 class="font-weight-bold heading">
					Click on the blanks and then click on the correct Articles from the help box, that will be used before the given Nouns. 
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<div class="left-side">
					<div class="question-container">
						<!-- 1 -->
						<div class="question">
							<div class="img-container">
								<img src="assets/std01-articles-worksheet5/img/q1.png" alt="" class="img-fluid">
							</div>
							<div class="text-container">
								<div class="input-container">
									<input type="text">
									<div class="correct-answer">
										<span>a</span>
									</div>
								</div>
								<span> helicopter</span>
							</div>
						</div>
						<!-- 3 -->
						<div class="question">
							<div class="img-container">
								<img src="assets/std01-articles-worksheet5/img/q3.png" alt="" class="img-fluid">
							</div>
							<div class="text-container">
								<div class="input-container">
									<input type="text">
									<div class="correct-answer">
										<span>a</span>
									</div>
								</div>
								<span> story book</span>
							</div>
						</div>
						<!-- 5 -->
						<div class="question">
							<div class="img-container">
								<img src="assets/std01-articles-worksheet5/img/q5.png" alt="" class="img-fluid">
							</div>
							<div class="text-container">
								<div class="input-container">
									<input type="text" >
									<div class="correct-answer">
										<span>an</span>
									</div>
								</div>
								<span> aquarium</span>
							</div>
						</div>
						<!-- 7 -->
						<div class="question">
							<div class="img-container">
								<img src="assets/std01-articles-worksheet5/img/q7.png" alt="" class="img-fluid">
							</div>
							<div class="text-container">
								<div class="input-container">
									<input type="text">
									<div class="correct-answer">
										<span>an</span>
									</div>
								</div>
								<span> orange</span>
							</div>
						</div>
						<!-- 9 -->
						<div class="question">
							<div class="img-container">
								<img src="assets/std01-articles-worksheet5/img/q9.png" alt="" class="img-fluid">
							</div>
							<div class="text-container">
								<div class="input-container">
									<input type="text">
									<div class="correct-answer">
										<span>an</span>
									</div>
								</div>
								<span> astronaut</span>
							</div>
						</div>
						<!-- end -->
					</div>
				</div>
				<div class="middle">
					<div class="helpbox-container">
						<div class="helpbox">a</div>
						<div class="helpbox">an</div>
					</div>
				</div>
				<div class="right-side">
					<!-- 2 -->
					<div class="question">
						<div class="img-container">
							<img src="assets/std01-articles-worksheet5/img/q2.png" alt="" class="img-fluid">
						</div>
						<div class="text-container">
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>an</span>
								</div>
							</div>
							<span> egg</span>
						</div>
					</div>
					<!-- 4 -->
					<div class="question">
						<div class="img-container">
							<img src="assets/std01-articles-worksheet5/img/q4.png" alt="" class="img-fluid">
						</div>
						<div class="text-container">
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>a</span>
								</div>
							</div>
							<span> mobile phone</span>
						</div>
					</div>
					<!-- 6-->
					<div class="question">
						<div class="img-container">
							<img src="assets/std01-articles-worksheet5/img/q6.png" alt="" class="img-fluid">
						</div>
						<div class="text-container">
							<div class="input-container">
								<input type="text" >
								<div class="correct-answer">
									<span>a</span>
								</div>
							</div>
							<span> cupboard</span>
						</div>
					</div>
					<!-- 8 -->
					<div class="question">
						<div class="img-container">
							<img src="assets/std01-articles-worksheet5/img/q8.png" alt="" class="img-fluid">
						</div>
						<div class="text-container">
							<div class="input-container">
								<input type="text" >
								<div class="correct-answer">
									<span>a</span>
								</div>
							</div>
							<span> strawberry</span>
						</div>
					</div>
					<!-- 10 -->
					<div class="question">
						<div class="img-container">
							<img src="assets/std01-articles-worksheet5/img/q10.png" alt="" class="img-fluid">
						</div>
						<div class="text-container">
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>a</span>
								</div>
							</div>
							<span> bag</span>
						</div>
					</div>
					<!-- end -->
				</div>
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>