<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
	<div class="loadingDiv">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 mb-3">
				<h2 class="font-weight-bold heading">
					Click on the blanks and then click on the correct Helping Verbs from the help box of butterflies, to
					complete the sentences.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<div class="has">
					<img src="assets/std01-helping-verbs-worksheet9/img/has.png" alt="" class="img-fluid" data-text="has">
				</div>
				<div class="were">
					<img src="assets/std01-helping-verbs-worksheet9/img/were.png" alt="" class="img-fluid" data-text="were">
				</div>
				<div class="was">
					<img src="assets/std01-helping-verbs-worksheet9/img/was.png" alt="" class="img-fluid" data-text="was">
				</div>
				<div class="does">
					<img src="assets/std01-helping-verbs-worksheet9/img/does.png" alt="" class="img-fluid" data-text="does">
				</div>
				<div class="are">
					<img src="assets/std01-helping-verbs-worksheet9/img/are.png" alt="" class="img-fluid" data-text="are">
				</div>
				<div class="is">
					<img src="assets/std01-helping-verbs-worksheet9/img/is.png" alt="" class="img-fluid" data-text="is">
				</div>
				<div class="am">
					<img src="assets/std01-helping-verbs-worksheet9/img/am.png" alt="" class="img-fluid" data-text="am">
				</div>
				<div class="have">
					<img src="assets/std01-helping-verbs-worksheet9/img/have.png" alt="" class="img-fluid" data-text="have">
				</div>
				<div class="question-container">
					<!-- 1 -->
					<div class="question">
						<div class="number"><span>1</span></div>
						<div class="text-container">
							<span>Stanley</span>
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>has</span>
								</div>
							</div>
							<span>completed his drawing.</span>
						</div>
					</div>
					<!-- 2 -->
					<div class="question">
						<div class="number"><span>2</span></div>
						<div class="text-container">
							<span>The neighbours</span>
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>are</span>
								</div>
							</div>
							<span>going to Australia tomorrow.</span>
						</div>
					</div>
					<!-- 3 -->
					<div class="question">
						<div class="number"><span>3</span></div>
						<div class="text-container">
							<span>It</span>
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>was</span>
								</div>
							</div>
							<span>Freya’s birthday yesterday.</span>
						</div>
					</div>
					<!-- 4 -->
					<div class="question">
						<div class="number"><span>4</span></div>
						<div class="text-container">
							<span>Today</span>
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>is</span>
								</div>
							</div>
							<span>a hot, sunny day.</span>
						</div>
					</div>
					<!-- 5 -->
					<div class="question">
						<div class="number"><span>5</span></div>
						<div class="text-container">
							<span>The children</span>
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>have</span>
								</div>
							</div>
							<span>finished reading the lesson.</span>
						</div>
					</div>
					<!-- 6 -->
					<div class="question">
						<div class="number"><span>6</span></div>
						<div class="text-container">
							<span>I</span>
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>am</span>
								</div>
							</div>
							<span>cleaning my room.</span>
						</div>
					</div>
					<!-- 7 -->
					<div class="question">
						<div class="number"><span>7</span></div>
						<div class="text-container">
							<span>There</span>
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>were</span>
								</div>
							</div>
							<span>many people at the mall.</span>
						</div>
					</div>
					<!-- 8 -->
					<div class="question">
						<div class="number"><span>8</span></div>
						<div class="text-container">
							<span>The puppy</span>
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>does</span>
								</div>
							</div>
							<span>not look happy.</span>
						</div>
					</div>
					<!-- end -->
				
					<!-- btn end -->
				</div>
				<div class="row btn-row ">
					<div class="col-12 text-center">
						<button class="button myButton">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>