@font-face {
    font-family: "CustomFont";
    src: url(http://completegrammar.com/assets/font/ntailu.ttf) format("truetype");
}
@font-face {
    font-family: "CustomFontBold";
    src: url(http://completegrammar.com/assets/font/ntailub.ttf) format("truetype");
}
@font-face {
    font-family: mt-rounded-bold;
    src: url(http://completegrammar.com/assets/font/ARLRDBD.ttf) format("truetype");
}
.bg{
    min-height:100vh;
     background: url(http://completegrammar.com/assets/std03-collective-noun-worksheet2/img/bg.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: bottom;
	overflow-x:hidden;
    font-family: 'CustomFont','Microsoft New Tai Lue','Arial';
    color:#000;
    font-size:23px;
}
input,.helpbox-number span,.right-ans span,.header{
    font-family: 'CustomFontBold','Microsoft New Tai Lue','Arial';
    font-weight: normal !important;
}

.myButton {
    -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
    -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
    background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437', GradientType=0);
    background-color: #c62d1f;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    /*font-size:17px;*/
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
    line-height: 1;
    outline: 0 !important;
}

.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
    background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f', GradientType=0);
    background-color: #f24437;
}

.myButton:active {
    position: relative;
    top: 1px;
}

/*  */

.heading{
    border:4px solid #fff;
    -webkit-box-shadow:1px 1px 10px rgba(0,0,0,.5);
    -moz-box-shadow:1px 1px 10px rgba(0,0,0,.5);
    box-shadow:1px 1px 10px rgba(0,0,0,.5);
    display: inline-block;
}
h2{
    /* font-family: 'CustomFontBold','Microsoft New Tai Lue','Arial'; */
    font-family:mt-rounded-bold;
    color:#000;
    font-size: 31px;
    background: rgba(255,255,255,0.5);
    padding: 5px 5px;

}
.Main_Container{
    width: 80%;
    margin: auto;
}
.ans {
    width: 100%;
    margin-left: 8px;
    position: relative;
    margin-top: 0px;
}
 input{
    padding: 0;
    /* border-bottom: 1px solid #000; */
    border: 0;
    padding: 0;
    background: #fff;
    outline: 0;
    width: 40px;
    z-index: 1;
    /* border: 1px solid #000; */
    text-align: center;
} 
.Question_Body{
    background: url(http://completegrammar.com/assets/std03-collective-noun-worksheet2/img/body-bg.png) no-repeat;
    background-size: 100% 100%;
    padding-bottom: 15%;
    padding: 160px;
}
.number {
    margin-right: 10px;
}
.Question_Container{
    margin-top: -97px;
    position: relative;
}
.Question_Container::before{
    left:40%;
    top:8%;
    transform: translateX(-40%);
    height:90%;
    width:4px;
    background-color:#000;
    content:'';
    position: absolute;
}
.helpbox-number {
    border: 3px solid #000;
    border-radius: 5px;
    background: #fff;
    text-align:center;
    /* display: grid;
    grid-template-columns: 37px; */
}
.input-span input {
    border: 3px solid #000;
    border-radius: 5px;
    /* background: #fff; */
    display: grid;
    grid-template-columns: 37px;
}
.helpbox-number span{
    text-align: center;
    margin-top: 10px;
}
.helpbox-container{
    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(10,40px);
    grid-gap: 10px;
    margin-left: 150px;
    /* margin: auto; */
}
.input-container{
    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(10,40px);
    grid-gap: 10px;
    margin-left: 150px;
    /* margin: auto; */
}
.helpbox-answer{
    display: grid;
    grid-template-columns: repeat(10,40px);
    grid-gap: 10px;
    /* margin: auto; */
    width: 50%;
    margin-left: 150px;
    text-align: center;
}
.right-ans span{
    color: #20bb15 !important;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 21px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
}
.right-ans{
    /* display: none; */
    visibility: hidden;
    border: 1px solid #000;
    background-color: #fdc689;
    border-radius: 5px;
}
.p1-img{
    width: 140px;
    height: auto;
    position: absolute;
    top: 69px;
    left: -130px;
}
.p2-img{
    width: 140px;
    height: auto;
    position: absolute;
    top: 269px;
    left: -42px;
}
.p3-img{
    width: 140px;
    height: auto;
    position: absolute;
    top: 468px;
    left: 8px;
}
.p4-img{
    width: 140px;
    height: auto;
    position: absolute;
    top: 69px;
    right: 0px;
}
.p5-img{
    width: 140px;
    height: auto;
    position: absolute;
    top: 269px;
    right: 15px;
}
.p6-img{
    width: 180px;
    height: auto;
    position: absolute;
    top: 403px;
    right: 143px;
}
.ans-container{
    margin-top: -147px;
}
.Option{
    cursor: pointer;
}

@media (min-width:100px) and (max-width:575px){
    .bg{
        min-height:100%;
         background: url(http://completegrammar.com/assets/std03-collective-noun-worksheet2/img/bg_portrait.jpg) no-repeat;
        background-size: 100% 100%;
        background-position: bottom;
        font-size:16px;
    }
    .helpbox-number span {
        text-align: center;
        margin-top: 0;
    }
    h2{
        font-size:18px;
        padding-left: 10px;
    }
    .Main_Container {
        width: 95%;
        margin: auto;
    }
    .number {
        width: 20px;
        height: 24px;
        grid-template-columns: 24px;
        margin-right: 0px;
    }
    .tenth .number{
        width:30px;
    }
    .Question_Body {
        padding-bottom: 15%;
        padding: 45px 20px 45px 40px;
        height: auto;
    }
    .Question_Container {
        margin-top: -12px;
        margin-left: 15px;
    }
    .helpbox-number {
        border: 2px solid #000;
        background: #fff;
        border-radius: 5px;
        display: block;
        grid-template-columns: 25px;
    }
    .helpbox-container {
        max-width: 50%;
        display: grid;
        grid-template-columns: repeat(10,31px);
        grid-gap: 1px;
        margin-left: unset;
    }
    .input-span input {
        border: 2px solid #000;
        background: #fff;
        display: grid;
        grid-template-columns: 37px;
    }
    input{
        width: 100%;
    }
    .input-container {
        max-width: 50%;
        display: grid;
        grid-template-columns: repeat(10,31px);
        grid-gap: 1px;
        margin-left: unset;
    }
    .helpbox-answer {
        display: grid;
        grid-template-columns: repeat(10,31px);
        grid-gap: 1px;
        /* margin: auto; */
        width: 50%;
        margin-left: unset;
        text-align: center;
    }
    .p1-img {
        width: 70px;
        height: auto;
        top: -5px;
        left: -14px;
    }
    .p2-img {
        width: 70px;
        height: auto;
        top: 160px;
        left: -26px;
    }
    .p3-img {
        width: 70px;
        height: 70px;
        top: 312px;
        left: -27px;
    }
    .p4-img {
        width: 70px;
        height: auto;
        top: 8px;
        right: -16px;
    }
    .p5-img {
        width: 70px;
        height: auto;
        top: 149px;
        right: -20px;
    }
    .ans-container {
        margin-top: -51px;
    }
    .Question_Container::before {
        left: 44%;
        top: 5%;
        transform: translateX(-44%);
        height: 92%;
        width: 2px;
    }
    .btn-row{
        margin:10px 0 0px;
        padding-bottom: 20px;
    }
    .mb-2, .my-2 {
        margin-bottom: 3vh!important;
    }
    .right-ans span{
        font-size: 15px;
    }
}
@media (min-width:100px) and (max-width:359px){
    .bg{
        font-size:14px;
    }
    .Question_Body {
        padding-bottom: 15%;
        padding: 8px;
        height: 436px;
    }
    .Question_Container {
        margin-top: 29px;
        margin-left: 46px;
    }
    .helpbox-number {
        border: 3px solid #000;
        background: #fff;
        border-radius: 5px;
        display: block;
        /* grid-template-columns: 20px; */
    }
    .helpbox-container {
        max-width: 50%;
        display: grid;
        grid-template-columns: repeat(10,25px);
        grid-gap: 1px;
        margin-left: unset;
    }
    .input-container {
        max-width: 50%;
        display: grid;
        grid-template-columns: repeat(10,25px);
        grid-gap: 1px;
        margin-left: unset;
    }
    input {
        width: 100%;
    }
    .helpbox-answer {
        display: grid;
        grid-template-columns: repeat(10,25px);
        grid-gap: 1px;
        /* margin: auto; */
        width: 50%;
        margin-left: unset;
        text-align: center;
    }
    .right-ans span {
        font-size: 14px;
    }
    .number {
        width: 16px;
    }
    .tenth .number{
        width:24px;
    }
    .mb-2, .my-2 {
        margin-bottom: .5rem!important;
    }
}

@media (min-width:565px) and (max-width:575px){
    .Question_Body {
        padding: 80px;
    }
    .Question_Container {
        margin-top: -54px;
        margin-left: 15px;
    }
    .ans-container {
        margin-top: -70px;
        margin-left: 52px;
    }

}

@media (min-width: 576px) and (max-width: 767px){

  .number{
    width: 20px;
    height: 20px;
    display: grid;
    grid-template-columns: 20px;

  }
  
  .bg{
        font-size:14px;
    }
    h2{
        font-size:17px;
    }
    .col-4{
        padding:0 10px;
    }
    .col-8{
        padding:0 5px;
    }
    .heading + h2{
        font-size:24px;
    }

    input
    {
        width: 100%;

    }
    .helpbox-number span {
        text-align: center;
        margin-top: 14px;
        
    }
    .helpbox-container {
        max-width: 80%;
        display: grid;
        grid-template-columns: repeat(10,30px);
        grid-gap: 10px;
        margin: unset;
        margin-left: 20px;
    }

    .input-container {
        max-width: 80%;
        display: grid;
        grid-template-columns: repeat(10,30px);
        grid-gap: 10px;
        margin: unset;
        margin-left: 20px;
    }

    .helpbox-answer {
        display: grid;
        grid-template-columns: repeat(10,30px);
        grid-gap: 10px;
        margin: unset;
        width: 80%;
        text-align: center;
        margin-left: 20px;
    }

    .Question_Body {
        padding: 57px;
    }
    .helpbox-number {
        grid-template-columns: 24px;
    }
    .Question_Container {
        margin-top: -28px;
    }
    .p1-img {
        width: 90px;
        height: auto;
        top: 15px;
        left: -60px;
    }
    .p2-img {
        width: 90px;
        height: auto;
        top: 150px;
        left: -57px;
    }
    .p3-img {
        width: 90px;
        height: auto;

        top: 272px;
        left: -46px;
    }
    .p4-img {
        width: 90px;
       height: auto;
        top: 15px;
    }
    .p5-img {
        width: 90px;
        height: auto;
        top: 150px;
        right: -44px;
    }
    .ans-container {
        margin-top: -50px;
    }
    .right-ans span {
        font-size: 15px;
    }
    .Question_Container::before {
        top: 5%;
        height: 93%;
        width: 2px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    h2 {
        font-size: 23px;
    }
    .bg{
        font-size:16px;
    }
    input {
        width: 100%;
    }
    .number{
        width: 25px;
        height: 25px;
        display: grid;
        grid-template-columns: 25px;
    }
    .helpbox-container {
        grid-gap: 5px;
        margin-left: 90px;
        grid-template-columns: repeat(10,35px);
    }
    .input-container {
        grid-gap: 5px;
        margin-left: 90px;
        grid-template-columns: repeat(10,35px);
    }
    .helpbox-answer {
        grid-gap: 5px;
        margin-left: 90px;
        grid-template-columns: repeat(10,35px);
    }
    .Question_Body {
        padding: 74px;
    }
    .Question_Container {
        margin-top: -40px;
        margin-left: 40px;
    }
    .helpbox-number {
        grid-template-columns: 19px;
    }
    .p1-img {
        width: 100px;
        height: auto;
        top: 17px;
        left: -55px;
    }
    .p2-img {
        width: 100px;
        height: auto;
        top: 191px;
        left: -27px;
    }
    .p3-img {
        width: 100px;
        height: auto;
        top: 330px;
        left: 1px;
    }
    .p4-img {
        width: 100px;
        height: auto;
        top: 17px;
        right: 0px;
    }
    .p5-img {
        width: 100px;
        height: auto;
        top: 191px;
        right: -38px;
    }
    .ans-container {
        margin-top: -70px;
    }
    .right-ans span {
        font-size: 17px;
    }
    .Question_Container::before {
        top: 5%;
        height: 93%;
        width: 3px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {

    h2 {

        font-size: 30px;
        padding-left: 18px;
    }

input {
   
    width: 40px;
  
}
.helpbox-number {
    grid-template-columns: 29px;
}
.p1-img {
    width: 140px;
    height: auto;
    top: 41px;
    left: -10px;
}
.p2-img {
    width: 140px;
    height: auto;
    top: 269px;
    left: -1px;
}
.p3-img {
    width: 140px;
    height: auto;
    top: 468px;
    left: 8px;
}
.p4-img {
    width: 140px;
    height: auto;
    top: 69px;
    right: 54px;
}
.p5-img {
    width: 140px;
    height: auto;
    top: 269px;
    right: 15px;
}


    
}
@media (min-width: 1200px){

  
}

@media (min-width: 992px){
}


@media only screen and (min-width: 768px) and (orientation: portrait) {

    .bg {
        min-height:100%;
         background: url(http://completegrammar.com/assets/std03-collective-noun-worksheet2/img/bg_portrait.jpg) no-repeat;
        background-size: 100% 100%;
        background-position: bottom;
        font-size:30px; 
    }
    h2 {
        font-size: 30px;
        padding-left: 46px;
    }
    .helpbox-number {
        grid-template-columns: 30px;
    }
    .ans-container {
        margin-left: 0px;
    }
    .helpbox-container {
        grid-gap: 7px;
        margin-left: 35px;
        grid-template-columns: repeat(10,55px);
    }
    .input-container {
        grid-gap: 7px;
        margin-left: 35px;
        grid-template-columns: repeat(10,55px);
    }
    .helpbox-answer {
        grid-gap: 7px;
        margin-left: 35px;
        grid-template-columns: repeat(10,55px);
    }
    .Main_Container {
        width: 100%;
        margin: auto;
    }
    .Question_Container {
        margin-left: 25px;
    }
    .tenth .number{
        width:40px;
    }
    .Question_Container > .row .col-6:nth-child(2n){
        padding-left:15px !important;
    }
    .Question_Container > .row .col-6{
        margin-bottom:20px !important;
    }
    .right-ans span {
        font-size: 32px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .Question_Container::before {
        width: 4px;
        left: 44%;
        transform: translateX(-44%);
    }
 
}

/*Portrait*/ 
@media only screen and (min-width: 1024px) and (orientation: portrait) {


    h2 {
        font-size: 37px;
    }
    .bg {
        font-size: 35px;
    }
    .helpbox-number span {
        text-align: center;
        margin-top: 13px;
    }
    .helpbox-container {
        max-width: 55%;
        display: grid;
        grid-template-columns: repeat(10,65px);
        grid-gap: 15px;
        margin-left: 60px;
        /* margin: auto; */
    }

    .input-container {
        max-width: 55%;
        display: grid;
        grid-template-columns: repeat(10,65px);
        grid-gap: 15px;
        margin-left: 60px;
        /* margin: auto; */
    }

    .helpbox-answer {
        max-width: 50%;
        display: grid;
        grid-template-columns: repeat(10,65px);
        grid-gap: 15px;
        margin-left: 60px;
        /* margin: auto; */
    }

    .helpbox-number {
        margin-right: 10px;
        width: 65px;
        height: 65px;
        display: grid;
        grid-template-columns: 65px;
    }

    .input-span input {
        margin-right: 10px;
        width: 65px;
        height: 65px;
        display: grid;
        grid-template-columns: 65px;
    }
    .helpbox-number {
        margin-right: 0;
        width: 65px;
        height: 65px;
        display: block;
        line-height: 61px;
        /* grid-template-columns: 65px; */
    }
    .right-ans span {
        font-size: 35px;
    }
    .number {
        width: 45px;
        height: 45px;
        display: grid;
        grid-template-columns: 45px;
    }
    .Question_Body {
        padding: 30px;
        height: 940px;
    }
    .Question_Container {
        margin-top: 20px;
        margin-left: 90px;
    }
    .p1-img {
        width: 140px;
        height: auto;
        top: 41px;
        left: -50px;
    }
    .p2-img {
        width: 140px;
        height: auto;
        top: 269px;
        left: -60px;
    }
    .p3-img {
        width: 140px;
        height: auto;
        top: 582px;
        left: -52px;
    }
    .p4-img {
        width: 140px;
        height: auto;
        top: 69px;
        right: -19px;
    }
    .p5-img {
        width: 140px;
        height: auto;
        top: 269px;
        right: -32px;
    }
    .ans-container {
        margin-top: -96px;
    }
    .tenth .number {
        width: 50px;
    }


}

/* Landscape */ 
@media only screen and (min-width: 1366px) and (orientation: landscape) { 

}

@media(min-width:1900px){
    
    .container{
        transform: scale(1.3);
        margin-top: 137px;
    }
}
// External CSS End

// Common CSS Start

.loadingDiv {
    position: fixed;;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.4);
    background-image:url('/assets/images/loader.gif');
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    background-size: 85px;
  }

.result{
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:rgba(0,0,0,.8);
    z-index:2147483647;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor:pointer;
}
.result .Box{
    position: relative;
    padding:45px 55px 30px 20px
}
.result .imgBox{
    display:none;
}
.result img{
    max-width:100%;
}
.result .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor:pointer;
}
.result .TextBox h1 {
    font-size: 2.5rem;
    font-family: 'mt-rounded-bold','Microsoft New Tai Lue','Arial';
    margin-top: 0;
	font-weight: normal;
    text-align:center;
    color:#fff;
    -webkit-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	-moz-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	padding:10%;
	max-width:800px;
}
@media(min-width:100px) and (max-width:575px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
    .result .close {
        right: 15px;
    }
}
@media(min-width:576px) and (max-width:767px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
}
.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:inherit;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	line-height: 1;
	outline:0 !important;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}

.button.playAgain {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:inherit;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.button.playAgain:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.button.playAgain:active {
	position:relative;
	top:1px;
}


#toggle {
    display: block;
    right: 56px;
    top: 35px;
    background: #f3ecec;
    border-radius: 50%;
    border: 4px solid #3b7ee2;
    opacity: 0.7;
    text-align: center;
    padding: 10px;
    
  }

  #toggle:hover
  {
    opacity: 1;
    border: 4px solid #3b7ee2;
    
  }
  
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
  }
  #toggle span {
    position: relative;
    display: inline;
  }
  
  #toggle span
  {
    width: 50px;
    height: 50px;
    text-align: center;
    padding:0%;
  }

  #toggle span img
  {
    width:25px;
    height:25px;
    margin:0;
  }
  
  /* on activation */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
    -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  

  /* menu appearance*/
#menu {
    position: absolute;
    color: #000;
    width: 140px;
    padding: 10px;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0px 3px 11px 1px rgba(27, 24, 24, 0.24);
    font-size: 16px;
    left: -190%;
    z-index: 9;
    text-align: right;
    top: 145%;
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;  
}
.change{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1; 
}
.notchange{
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#menu:after {
    position: absolute;
    top: -20px;
    left: 107px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #ffffff;
}
ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-weight: normal;
}
li a {
    padding: 5px;
    color: #000;
    text-decoration: none;
    transition: all .2s;
}
li a:hover,
li a:focus {
    background: #1798dc;
    color: #fff;
    text-decoration: none;
}
.menu-block{
    position: fixed;
    right: 46px;
    top: 35px;
    z-index: 2147483646;
    height: 50px;
}
.up {
    transform: rotate(180deg) translateY(0%);
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
} 
@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
}
@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
} 

@media(min-width:100px) and (max-width:575px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 6px 5px;
        height: 43px;
        width: 43px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:576px) and (max-width:767px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 6px 5px 0;
        height: 43px;
        width: 43px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:768px) and (max-width:991px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
        height: 43px;
        width: 43px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .menu-block {
        right: 10px;
    }
    #menu:after {
        left: 140px;
    }
    #menu {
        font-size: 18px;
        left: -240%;
        top: 140%;
        width: 175px;
    }
    #toggle {
        height: 53px;
        width: 53px;
        /* line-height: 48px; */
        padding: 8px;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 26px;
    }
    #toggle {
        height: 60px;
        width: 60px;
        line-height: 1;
        padding: 11px 5px;
    }
    .menu-block {
        right: 20px;
    }
    #menu:after {
        left: 205px;
    }
    #toggle span img {
        width: 33px;
        height: 33px;
        margin: 0;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 30px;
    }
    #toggle{
        height: 60px;
        width: 60px;
        /* line-height: 55px; */
        padding: 10px;
    }
}
@media(min-width:1200px){
	#menu {
        top: 70px;
        left: -135px;
        width: 180px;
        font-size: 18px;
    }
    #menu:after {
        left: 145px;
    }
    #toggle{
        height: 55px;
        width: 55px;
        /* line-height: 50px; */
    }
}

.bd {
    background-color: #20bb15 !important;
}

.white {
    color: #0e7df5;
}

.hide {
    display: none;
}
.font-weight-bold{
    font-weight: normal !important;
}