<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>

	<div class="loadingDiv">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12 px-2 mb-1 mb-sm-4 mt-3">

				<h2 class="font-weight-bold">
					Click in the boxes below the numbers and then click on the correct Common Nouns given in Column B, for the 
					Collective Nouns given in Column A.
				</h2>
			</div>
		</div>
		<div class="Main_Container pb-3 mt-2 mt-sm-0">

			<!-- <div class="row"> -->
			<div class="col-12 Question_Body">
				<div class="Question_Container">
					<div class="row">

						<div class="col-6 p-0">
							<span class="font-weight-bold"><u>Column A</u></span>
						</div>

						<div class="col-6 p-0">
							<span class="font-weight-bold"><u>Column B</u></span>

						</div>

						<div class="col-6 p-0  mb-2 d-flex">
							<span class="number">1)</span>
							<span>a litter of</span>
						</div>

						<div class="col-6 p-0 mb-2 d-flex Option">
							<span class="number alphabet">A)</span>
							<span>giraffes</span>
						</div>

						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">2)</span>
							<span>a fleet of</span>
						</div>

						<div class="col-6 p-0 mb-2 d-flex Option">
							<span class="number alphabet">B)</span>
							<span>soldiers</span>
						</div>

						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">3)</span>
							<span>a nest of</span>
						</div>

						<div class="col-6 p-0 mb-2 d-flex Option">
							<span class="number alphabet">C)</span>
							<span>arrows</span>
						</div>

						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">4)</span>
							<span>a regiment of</span>
						</div>

						<div class="col-6 p-0 mb-2 d-flex Option">
							<span class="number alphabet">D)</span>
							<span>fairies</span>
						</div>

						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">5)</span>
							<span>an attack of</span>
						</div>

						<div class="col-6 p-0 mb-2 d-flex Option">
							<span class="number alphabet">E)</span>
							<span> wasps</span>
						</div>

						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">6)</span>
							<span> a herd of </span>
						</div>

						<div class="col-6 p-0 mb-2 d-flex Option">
							<span class="number alphabet">F)</span>
							<span>photographs</span>
						</div>

						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">7)</span>
							<span>a charm of</span>
						</div>

						<div class="col-6 p-0 mb-2 d-flex Option">
							<span class="number alphabet">G)</span>
							<span>cubs</span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">8)</span>
							<span>an album of </span>
						</div>

						<div class="col-6 p-0 mb-2 d-flex Option">
							<span class="number alphabet">H)</span>
							<span>butterflies</span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex">
							<span class="number">9)</span>
							<span>a rainbow of </span>
						</div>

						<div class="col-6 p-0 mb-2 d-flex Option">
							<span class="number alphabet">I)</span>
							<span>aliens</span>
						</div>
						<div class="col-6 p-0 mb-2 d-flex tenth">
							<span class="number">10)</span>
							<span>a quiver of</span>
						</div>

						<div class="col-6 p-0 mb-2 d-flex Option">
							<span class="number alphabet">J)</span>
							<span>boats</span>
						</div>

					</div>
				</div>



				<img src="assets/std03-collective-noun-worksheet2/img/p1.png" class="p1-img">
				<img src="assets/std03-collective-noun-worksheet2/img/p2.png" class="p2-img">
				<img src="assets/std03-collective-noun-worksheet2/img/p3.png" class="p3-img">
				<img src="assets/std03-collective-noun-worksheet2/img/p4.png" class="p4-img">
				<img src="assets/std03-collective-noun-worksheet2/img/p5.png" class="p5-img">

			</div>
			<div class="col-12 ans-container">
				<div class="row">
					<div class="helpbox-container mb-0 mb-sm-2">

						<div class="helpbox-number"><span>1</span></div>
						<div class="helpbox-number"><span>2</span></div>
						<div class="helpbox-number"><span>3</span></div>
						<div class="helpbox-number"><span>4</span></div>
						<div class="helpbox-number"><span>5</span></div>
						<div class="helpbox-number"><span>6</span></div>
						<div class="helpbox-number"><span>7</span></div>
						<div class="helpbox-number"><span>8</span></div>
						<div class="helpbox-number"><span>9</span></div>
						<div class="helpbox-number"><span>10</span></div>

					</div>

				</div>



				<div class="row">
					<div class="input-container mb-0 mb-sm-2">

						<div class="input-span"><input type="text" class="" id="" maxlength="1"></div>
						<div class="input-span"><input type="text" class="" id="" maxlength="1"></div>
						<div class="input-span"><input type="text" class="" id="" maxlength="1"></div>
						<div class="input-span"><input type="text" class="" id="" maxlength="1"></div>
						<div class="input-span"><input type="text" class="" id="" maxlength="1"></div>
						<div class="input-span"><input type="text" class="" id="" maxlength="1"></div>
						<div class="input-span"><input type="text" class="" id="" maxlength="1"></div>
						<div class="input-span"><input type="text" class="" id="" maxlength="1"></div>
						<div class="input-span"><input type="text" class="" id="" maxlength="1"></div>
						<div class="input-span"><input type="text" class="" id="" maxlength="1"></div>
					</div>

				</div>


				<div class="row">
					<div class="helpbox-answer mb-0 mb-sm-2">
						<div class="right-ans answer number0"><span>G</span></div>
						<div class="right-ans answer number1"><span>J</span></div>
						<div class="right-ans answer number2"><span>E</span></div>
						<div class="right-ans answer number3"><span>B</span></div>
						<div class="right-ans answer number4"><span>I</span></div>
						<div class="right-ans answer number5"><span>A</span></div>
						<div class="right-ans answer number6"><span>D</span></div>
						<div class="right-ans answer number7"><span>F</span></div>
						<div class="right-ans answer number8"><span>H</span></div>
						<div class="right-ans answer number9"><span>C</span></div>
					</div>

				</div>



			</div>

			<!-- </div> -->

			<div class="btn-row row">
				<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
				</div>
			</div>

		</div>
	</div>

</div>