<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row m-0">
            <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
                <h2 class="font-weight-bold heading">
                    Click on the blanks and then click on the correct Synonyms from
                    the help box, of the words given in the brackets to complete the 
                    sentences.

                </h2>
            </div>
        </div>

        <div class="row mb-2">
            <div class="helpbox-container">
                <div class="helpbox-ans">
                    <span>under</span>
                </div>
                <div class="helpbox-ans">
                    <span>shut</span>
                </div>
                <div class="helpbox-ans">
                    <span>cry</span>
                </div>
                <div class="helpbox-ans">
                    <span>big</span>
                </div>
                <div class="helpbox-ans">
                    <span>begin</span>
                </div>
                <div class="helpbox-ans">
                    <span>cool</span>
                </div>
                <div class="helpbox-ans">
                    <span>noisy</span>
                </div>
                <div class="helpbox-ans">
                    <span>smart</span>
                </div>
            </div>
        </div>


        <div class="main-question-container">

            <!-- 1 -->
                <div class="question">
                    <div class="number">
                        <span>1)</span>
                    </div>
                    <div class="text-container">
                        <span>Lucy has a </span>
                        <div class="input-container">
                            <input type="text">
                            <div class="correct-answer">
                                <span>big</span>
                            </div>
                        </div>
                        <span>(huge) teddy bear.</span>
                    </div>
                </div>
                <!-- 2 -->
                <div class="question">
                    <div class="number">
                        <span>2)</span>
                    </div>
                    <div class="text-container">
                        <span>Jason is a very</span>
                        <div class="input-container">
                            <input type="text">
                            <div class="correct-answer">
                                <span>smart</span>
                            </div>
                        </div>
                        <span>(intelligent) boy.</span>
                    </div>
                </div>
                    <!-- 3 -->
                    <div class="question">
                        <div class="number">
                            <span>3)</span>
                        </div>
                        <div class="text-container">
                            <span>There was a </span>
                            <div class="input-container">
                                <input type="text">
                                <div class="correct-answer">
                                    <span>cool</span>
                                </div>
                            </div>
                            <span>(chilly) breeze blowing yesterday.</span>
                        </div>
                    </div>
                      <!-- 4 -->
                      <div class="question">
                        <div class="number">
                            <span>4)</span>
                        </div>
                        <div class="text-container">
                            <span>Matt kept his bag</span>
                            <div class="input-container">
                                <input type="text">
                                <div class="correct-answer">
                                    <span>under</span>
                                </div>
                            </div>
                            <span>(below) the chair.</span>
                        </div>
                    </div>
                     <!-- 5 -->
                     <div class="question">
                        <div class="number">
                            <span>5)</span>
                        </div>
                        <div class="text-container">
                            <span>The little girl began to</span>
                            <div class="input-container">
                                <input type="text">
                                <div class="correct-answer">
                                    <span>cry</span>
                                </div>
                            </div>
                            <span class="full-stop">. (weep)</span>
                        </div>
                    </div>
                     <!-- 6 -->
                     <div class="question">
                        <div class="number">
                            <span>6)</span>
                        </div>
                        <div class="text-container">
                            <span>The cricket match was about to</span>
                            <div class="input-container">
                                <input type="text">
                                <div class="correct-answer">
                                    <span>begin</span>
                                </div>
                            </div>
                            <span class="full-stop">. (start)</span>
                        </div>
                    </div>
                     <!-- 7 -->
                     <div class="question">
                        <div class="number">
                            <span>7)</span>
                        </div>
                        <div class="text-container">
                            <span>We walked down the</span>
                            <div class="input-container">
                                <input type="text">
                                <div class="correct-answer">
                                    <span>noisy</span>
                                </div>
                            </div>
                            <span>(loud) street.</span>
                        </div>
                    </div>
                     <!-- 8 -->
                     <div class="question">
                        <div class="number">
                            <span>8)</span>
                        </div>
                        <div class="text-container">
                            <span>Please</span>
                            <div class="input-container">
                                <input type="text">
                                <div class="correct-answer">
                                    <span>shut</span>
                                </div>
                            </div>
                            <span>(close) the door.</span>
                        </div>
                    </div>
        </div>
    </div>
    <div class="row btn-row">
        <div class="col-12 text-center">
            <button class="button myButton">Submit</button>
        </div>
    </div>
</div> 