<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row m-0">
      <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
        <h2 class="font-weight-bold heading">
          Click on the blanks and then click on the correct Collective Nouns
          from the help box, that can be used for the given Common Nouns.

        </h2>
      </div>
    </div>

    <div class="row mb-2">
      <div class="helpbox-container">
        <div class="helpbox-ans " data-text="one">
          <span>army</span>
        </div>
        <div class="helpbox-ans" data-text="two">
          <span>herd</span>
        </div>
        <div class="helpbox-ans" data-text="three">
          <span>bunch</span>
        </div>
        <div class="helpbox-ans" data-text="fourt">
          <span>staff</span>
        </div>
        <div class="helpbox-ans" data-text="fifth">
          <span>pack</span>
        </div>
        <div class="helpbox-ans" data-text="sixth">
          <span>flock</span>
        </div>
        <div class="helpbox-ans" data-text="seventh">
          <span>shoal</span>
        </div>
        <div class="helpbox-ans" data-text="eight">
          <span>suit</span>
        </div>
        <div class="helpbox-ans" data-text="nineth">
          <span>fleet</span>
        </div>
        <div class="helpbox-ans" data-text="tenth">
          <span>herd</span>
        </div>


      </div>
    </div>


    <div class="main-question-container">

      <!-- 1 -->
      <div class="question">
        <div class="number">
          <span>1</span>
        </div>
        <div class="text-container">
          <span>a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>suit</span>
            </div>
          </div>
          <span>of clothes</span>
        </div>
        <div class="img-container">
          <img src="assets/std01-collective-noun-worksheet8/img/p1.png" class="img-fluid">
        </div>

      </div>
      <!-- 2 -->
      <div class="question">
        <div class="number">
          <span>2</span>
        </div>
        <div class="text-container">
          <span>a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>herd</span>
            </div>
          </div>
          <span>of cattle</span>
        </div>
        <div class="img-container">
          <img src="assets/std01-collective-noun-worksheet8/img/p2.png" class="img-fluid">
        </div>

      </div>
      <!-- 3 -->
      <div class="question">
        <div class="number">
          <span>3</span>
        </div>
        <div class="text-container">
          <span>a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>staff</span>
            </div>
          </div>
          <span>of teachers</span>
        </div>
        <div class="img-container">
          <img src="assets/std01-collective-noun-worksheet8/img/p3.png" class="img-fluid">
        </div>

      </div>
      <!-- 4 -->
      <div class="question">
        <div class="number">
          <span>4</span>
        </div>
        <div class="text-container">
          <span>a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>shoal</span>
            </div>
          </div>
          <span>of fish</span>
        </div>
        <div class="img-container">
          <img src="assets/std01-collective-noun-worksheet8/img/p4.png" class="img-fluid">
        </div>

      </div>
      <!-- 5 -->
      <div class="question">
        <div class="number">
          <span>5</span>
        </div>
        <div class="text-container">
          <span>an</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>army</span>
            </div>
          </div>
          <span>of ants</span>
        </div>
        <div class="img-container">
          <img src="assets/std01-collective-noun-worksheet8/img/p5.png" class="img-fluid">
        </div>

      </div>
      <!-- 6 -->
      <div class="question">
        <div class="number">
          <span>6</span>
        </div>
        <div class="text-container">
          <span>a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>herd</span>
            </div>
          </div>
          <span>of zebras</span>
        </div>
        <div class="img-container">
          <img src="assets/std01-collective-noun-worksheet8/img/p6.png" class="img-fluid">
        </div>

      </div>
      <!-- 7 -->
      <div class="question">
        <div class="number">
          <span>7</span>
        </div>
        <div class="text-container">
          <span>a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>pack</span>
            </div>
          </div>
          <span>of dogs</span>
        </div>
        <div class="img-container">
          <img src="assets/std01-collective-noun-worksheet8/img/p7.png" class="img-fluid">
        </div>
      </div>
      <!-- 8 -->
      <div class="question">
        <div class="number">
          <span>8</span>
        </div>
        <div class="text-container">
          <span>a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>flock</span>
            </div>
          </div>
          <span>of geese</span>
        </div>
        <div class="img-container">
          <img src="assets/std01-collective-noun-worksheet8/img/p8.png" class="img-fluid">
        </div>
      </div>
      <!-- 9 -->
      <div class="question">
        <div class="number">
          <span>9</span>
        </div>
        <div class="text-container">
          <span>a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>bunch</span>
            </div>
          </div>
          <span>of flowers</span>
        </div>
        <div class="img-container">
          <img src="assets/std01-collective-noun-worksheet8/img/p9.png" class="img-fluid">
        </div>
      </div>
      <!-- 10 -->
      <div class="question">
        <div class="number">
          <span>10</span>
        </div>
        <div class="text-container">
          <span>a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>fleet</span>
            </div>
          </div>
          <span>of cars</span>
        </div>
        <div class="img-container">
          <img src="assets/std01-collective-noun-worksheet8/img/p10.png" class="img-fluid">
        </div>

      </div>
    </div>
  </div>
  <div class="row btn-row">
    <div class="col-12 text-center">
      <button class="button myButton">Submit</button>
    </div>
  </div>
</div>