<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
  <div class="Box">
          <div class="imgBox">
      <img src="" alt="" class="Text keep-practicing hide">
      <img src="" alt="" class="Text outstanding hide">
      <img src="" alt="" class="Text brilliant hide">
      <img src="" alt="" class="Text good-work hide">
      <!-- <img src="" alt="" class="Text fabulous hide"> -->
    </div>
    <div class="TextBox">
      <h1></h1>
    </div>
    <img src="assets/images/close.png" alt="" class="close">
  </div>
</div>
  
  <div class="loadingDiv">
  </div>

  <div class="container">
      <div class="row">
              <div class="heading">
                  <h1>Click on the blanks given in the stamps and then click correct Anagrams from the help box, of the given words.</h1>
              </div>
          </div>
          
  </div>
  <div class="row main_row">
      <div class="col-12 Option_Container">
          <div class="options">
              <div class="option">prays</div>
              <div class="option">bake</div>
              <div class="option">nails</div>
              <div class="option">bowl</div>
              <div class="option">pear</div>
              <div class="option">race</div>
              
              <div class="option">lemon</div>
              <div class="option">meals</div>
              <div class="option">tone</div>
              <div class="option">stops</div>
              <div class="option">pale</div>
              <div class="option">night</div>
          </div>
      </div>
      <div class="col-12 Question_Container">
         <div class="Question snail">
              <div class="content">snail</div>
              <div class="input-div">
                  <input type="text">
                  <div class="correct_answer"><span>nails</span></div>
              </div>
         </div>
         <div class="Question leap">
              <div class="content">leap</div>
              <div class="input-div">
                  <input type="text">
                  <div class="correct_answer"><span>pale</span></div>
              </div>
         </div>
         <div class="Question care">
              <div class="content">care</div>
              <div class="input-div">
                  <input type="text">
                  <div class="correct_answer"><span>race</span></div>
              </div>
         </div>
         <div class="Question thing">
              <div class="content">thing</div>
              <div class="input-div">
                  <input type="text">
                  <div class="correct_answer"><span>night</span></div>
              </div>
         </div>
         <div class="Question males">
              <div class="content">males</div>
              <div class="input-div">
                  <input type="text">
                  <div class="correct_answer"><span>meals</span></div>
              </div>
         </div>
         <div class="Question melon">
              <div class="content">melon</div>
              <div class="input-div">
                  <input type="text">
                  <div class="correct_answer"><span>lemon</span></div>
              </div>
         </div>
         <div class="Question beak">
              <div class="content">beak</div>
              <div class="input-div">
                  <input type="text">
                  <div class="correct_answer"><span>bake</span></div>
              </div>
         </div>
         <div class="Question reap">
              <div class="content">reap</div>
              <div class="input-div">
                  <input type="text">
                  <div class="correct_answer"><span>pear</span></div>
              </div>
         </div>
         <div class="Question posts">
              <div class="content">posts</div>
              <div class="input-div">
                  <input type="text">
                  <div class="correct_answer"><span>stops</span></div>
              </div>
         </div>
         <div class="Question note">
              <div class="content">note</div>
              <div class="input-div">
                  <input type="text">
                  <div class="correct_answer"><span>tone</span></div>
              </div>
         </div>
         <div class="Question blow">
              <div class="content">blow</div>
              <div class="input-div">
                  <input type="text">
                  <div class="correct_answer"><span>bowl</span></div>
              </div>
         </div>
         <div class="Question spray">
              <div class="content">spray</div>
              <div class="input-div">
                  <input type="text">
                  <div class="correct_answer"><span>prays</span></div>
              </div>
         </div>

         
         <div class="btn-row">
             <button class="button myButton">Submit</button>
         </div>
      </div>
  </div>
</div>