<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    <div class="loadingDiv">
    </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 mb-3">
				<h2 class="font-weight-bold heading">
					Click on the blanks and then click on the correct Personal Pronouns from the help box, to complete the sentences.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="helpbox-main-container">
				<!-- 1 -->
				<div class="helpbox-container">
					<div class="helpbox-img-container">
						<img src="assets/std01-personal-pronouns-worksheet5/img/helpbox-bg.png" alt="" class="img-fluid">
					</div>
					<div class="helpbox">
						<span data-text="him">him</span>
					</div>
				</div>
				<div class="helpbox-container">
					<div class="helpbox-img-container">
						<img src="assets/std01-personal-pronouns-worksheet5/img/helpbox-bg.png" alt="" class="img-fluid">
					</div>
					<div class="helpbox">
						<span data-text="her">her</span>
					</div>
				</div>
				<div class="helpbox-container">
					<div class="helpbox-img-container">
						<img src="assets/std01-personal-pronouns-worksheet5/img/helpbox-bg.png" alt="" class="img-fluid">
					</div>
					<div class="helpbox">
						<span data-text="me">me</span>
					</div>
				</div>
				<div class="helpbox-container">
					<div class="helpbox-img-container">
						<img src="assets/std01-personal-pronouns-worksheet5/img/helpbox-bg.png" alt="" class="img-fluid">
					</div>
					<div class="helpbox">
						<span data-text="it1">it</span>
					</div>
				</div>
				<!-- 4 -->
				<div class="helpbox-container">
					<div class="helpbox-img-container">
						<img src="assets/std01-personal-pronouns-worksheet5/img/helpbox-bg.png" alt="" class="img-fluid">
					</div>
					<div class="helpbox">
						<span data-text="you">you</span>
					</div>
				</div>
				<div class="helpbox-container">
					<div class="helpbox-img-container">
						<img src="assets/std01-personal-pronouns-worksheet5/img/helpbox-bg.png" alt="" class="img-fluid">
					</div>
					<div class="helpbox">
						<span data-text="them">them</span>
					</div>
				</div>
				<div class="helpbox-container">
					<div class="helpbox-img-container">
						<img src="assets/std01-personal-pronouns-worksheet5/img/helpbox-bg.png" alt="" class="img-fluid">
					</div>
					<div class="helpbox">
						<span data-text="us">us</span>
					</div>
				</div>
				<div class="helpbox-container">
					<div class="helpbox-img-container">
						<img src="assets/std01-personal-pronouns-worksheet5/img/helpbox-bg.png" alt="" class="img-fluid">
					</div>
					<div class="helpbox">
						<span data-text="it2">it</span>
					</div>
				</div>
				<!-- end -->
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<!-- 1 -->
				<div class="question">
					<div class="number"><span>1)</span></div>
					<div class="text-container">
						<span>Janet likes the blue skirt. Janet wants her mother to buy it for</span> 
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>her</span>
							</div>
						</div>.
					</div>
				</div>
				<!-- 2 -->
				<div class="question">
					<div class="number"><span>2)</span></div>
					<div class="text-container">
						<span>Carol found this Maths sum difficult. Can</span> 
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>you</span>
							</div>
						</div>
						<span>help her?</span>
					</div>
				</div>
				<!-- 3 -->
				<div class="question">
					<div class="number"><span>3)</span></div>
					<div class="text-container">
						<span>Mat and Dan are doing their homework. Do not disturb</span> 
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>them</span>
							</div>
						</div>.
					</div>
				</div>
				<!-- 4 -->
				<div class="question">
					<div class="number"><span>4)</span></div>
					<div class="text-container">
						<span>That is a lovely picture! Please put </span> 
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>it</span>
							</div>
						</div>
						<span>up on the wall.</span>
					</div>
				</div>
				<!-- 5 -->
				<div class="question">
					<div class="number"><span>5)</span></div>
					<div class="text-container">
						<span>Uncle Alan lives in Canada. I will visit</span> 
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>him</span>
							</div>
						</div>
						<span>during my holidays.</span>
					</div>
				</div>
				<!-- 6 -->
				<div class="question">
					<div class="number"><span>6)</span></div>
					<div class="text-container">
						<span>My parents and I are going to the beach on Saturday. Would you like to come 
								with </span> 
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>us</span>
							</div>
						</div>?
					</div>
				</div>
				<!-- 7 -->
				<div class="question">
					<div class="number"><span>7)</span></div>
					<div class="text-container">
						<span>That snake is poisonous. Please do not go near </span> 
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>it</span>
							</div>
						</div>.
					</div>
				</div>
				<!-- 8 -->
				<div class="question q8">
					<div class="number"><span>8)</span></div>
					<div class="text-container">
						<span>Can you get</span> 
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>me</span>
							</div>
						</div>
						<span>a glass of water?</span>
					</div>
				</div>
				<!-- end -->
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
  </div>
</div>  
