<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row m-0">
      <div class="col-12 col-xs-12 margin-auto p-1 mt-2  mt-lg-3 ">
        <h2 class="font-weight-bold heading1">
          Common Nouns or words that are used for places.
        </h2>
      </div>
      <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
        <h2 class="font-weight-bold heading">
          Click on the blanks and then click on the correct words from
          the help box, to complete the sentences.
        </h2>
      </div>
    </div>

    <div class="row mb-2">
      <div class="helpbox-container">
        <div class="helpbox-ans " data-text="one">
          <span>mint</span>
        </div>
        <div class="helpbox-ans" data-text="two">
          <span>creamery</span>
        </div>
        <div class="helpbox-ans" data-text="three">
          <span>vineyard</span>
        </div>
        <div class="helpbox-ans" data-text="fourt">
          <span>reservoir</span>
        </div>
        <div class="helpbox-ans" data-text="fifth">
          <span>harbour</span>
        </div>
        <div class="helpbox-ans" data-text="sixth">
          <span>shipyard</span>
        </div>
        <div class="helpbox-ans" data-text="seventh">
          <span>confectionery</span>
        </div>
        <div class="helpbox-ans" data-text="eight">
          <span>hangar</span>
        </div>

      </div>
    </div>


    <div class="main-question-container">

      <!-- 1 -->
      <div class="question">
        <div class="number">
          <span>1</span>
        </div>
        <div class="text-container">
          <span>A plot of land on which grapes are grown is a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>vineyard</span>
            </div>
          </div><span>.</span>
        </div>
      </div>
      <!-- 2 -->
      <div class="question">
        <div class="number">
          <span>2</span>
        </div>
        <div class="text-container">
          <span>A shed where aeroplanes are kept is a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>hangar</span>
            </div>
          </div><span class="dot">.</span>
        </div>
      </div>
      <!-- 3 -->
      <div class="question">
        <div class="number">
          <span>3</span>
        </div>
        <div class="text-container">
          <span>A place where the new coins of a country are made is a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>mint</span>
            </div>
          </div><span class="dot">.</span>
        </div>
      </div>
      <!-- 4 -->
      <div class="question">
        <div class="number">
          <span>4</span>
        </div>
        <div class="text-container">
          <span>A place where ships are built or repaired is a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>shipyard</span>
            </div>
          </div><span class="dot">.</span>
        </div>
      </div>
      <!-- 5 -->
      <div class="question">
        <div class="number">
          <span>5</span>
        </div>
        <div class="text-container">
          <span>An artificial lake where water is stored for people is a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>reservoir</span>
            </div>
          </div><span class="dot">.</span>
        </div>
      </div>
      <!-- 6 -->
      <div class="question">
        <div class="number">
          <span>6</span>
        </div>
        <div class="text-container">
          <span>A shop where cakes, pies, candies and other sweet things are sold is</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>confectionery</span>
            </div>
          </div><span class="dot">.</span>
        </div>
      </div>
      <!-- 7 -->
      <div class="question">
        <div class="number">
          <span>7</span>
        </div>
        <div class="text-container">
          <span>A shop where milk, butter, cream and cheese are sold is a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>creamery</span>
            </div>
          </div><span class="dot">.</span>
        </div>
      </div>
      <!-- 8 -->
      <div class="question">
        <div class="number">
          <span>8</span>
        </div>
        <div class="text-container">
          <span>A place by the sea where ships are kept in shelter is a</span>
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>harbour</span>
            </div>
          </div><span class="dot">.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row btn-row">
    <div class="col-12 text-center">
      <button class="button myButton">Submit</button>
    </div>
  </div>
</div>