<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
			<img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 px-2 mb-1 mb-sm-4">
        <h2 class="font-weight-bold">
          Click on the blanks and then click on the correct Possesive Pronouns from the brackets, to complete the sentences.
        </h2>
      </div>
    </div>
    <div class="Main_Container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 Question_Container">


          <div class="col-12 Question_Body ">

            <div class="col-12 Question no-padding ">
              <div class="row">
                <div class="col-1">
                  <div class="list-item">
                    <span class="number-color orange-box">1)</span>
                  </div>
                </div>
                <div class="col-11 text-left">
                  <span>The pencils belong to Alice and Army. The pencils are <span class="input-span"><input
                        type="text" name="" id="" data-text="one">
                      <div class="correct-ans"><span>theirs</span></div>
                    </span>. <span class="one option">[ <span class="helpbox">theirs</span><span class="comma">,</span>
                      <span class="helpbox">ours</span> ]</span></span>
                </div>
              </div>
            </div>
            <div class="col-12 Question no-padding ">
              <div class="row">
                <div class="col-1">
                  <div class="list-item">
                    <span class="number-color orange-box">2)</span>
                  </div>
                </div>
                <div class="col-11 text-left">
                  <span>This phone belong to Mrs. Jones. This phone is <span class="input-span"><input type="text"
                        name="" id="" data-text="two">
                      <div class="correct-ans"><span>hers</span></div>
                    </span>. <span class="two option">[ <span class="helpbox">my</span><span class="comma">,</span>
                      <span class="helpbox">hers</span> ]</span></span>
                </div>
              </div>
            </div>
            <div class="col-12 Question no-padding">
              <div class="row">
                <div class="col-1">
                  <div class="list-item">
                    <span class="number-color orange-box">3)</span>
                  </div>
                </div>
                <div class="col-11 text-left">
                  <span>The books belong to my brother and me. The books are <span class="input-span"><input type="text"
                        name="" id="" data-text="three">
                      <div class="correct-ans"><span>ours</span></div>
                    </span>. <span class="three option">[ <span class="helpbox">ours</span><span
                        class="comma">,</span><span class="helpbox"> mine</span> ]</span></span>
                </div>
              </div>
            </div>
            <div class="col-12 Question no-padding">
              <div class="row">
                <div class="col-1">
                  <div class="list-item">
                    <span class="number-color orange-box">4)</span>
                  </div>
                </div>
                <div class="col-11 text-left">
                  <span>The tennis racket belongs to Daniel. The tennis racket is <span class="input-span"><input
                        type="text" name="" id="" data-text="four">
                      <div class="correct-ans"><span>his</span></div>
                    </span>. <span class="four option">[ <span class="helpbox">mine</span><span class="comma">,</span>
                      <span class="helpbox">his</span> ]</span></span>
                </div>
              </div>
            </div>
            <div class="col-12 Question no-padding">
              <div class="row">
                <div class="col-1">
                  <div class="list-item">
                    <span class="number-color orange-box">5)</span>
                  </div>
                </div>
                <div class="col-11 text-left">
                  <span>Those shoes belong to me. Those shoes are <span class="input-span"><input type="text" name=""
                        id="" data-text="five">
                      <div class="correct-ans"><span>mine</span></div>
                    </span>. <span class="five option">[ <span class="helpbox">his</span><span class="comma">,</span>
                      <span class="helpbox">mine</span> ]</span></span>
                </div>
              </div>
            </div>
            <div class="col-12 Question no-padding">
              <div class="row">
                <div class="col-1">
                  <div class="list-item">
                    <span class="number-color orange-box">6)</span>
                  </div>
                </div>
                <div class="col-11 text-left">
                  <span>These papers belong to you. These papers are <span class="input-span"><input type="text" name=""
                        id="" data-text="six">
                      <div class="correct-ans"><span>yours</span></div>
                    </span>. <span class="six option">[ <span class="helpbox">yours</span><span class="comma">,</span>
                      <span class="helpbox">theirs</span> ]</span></span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row btn-row">
      <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
      </div>
    </div>


  </div>

</div>