<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
  </div>

  <div class="container">
      <div class="row">
          <div class="heading">
              <h1>Click in the boxes below the numbers and then click on the correct Rhyming Words from Column B, for the words given in Column A.</h1>
          </div>
      </div>
      <div class="row Row_Two">
          <div class="col-12 Main_Container">
              <div class="Block-1">
                  <div class="Answers">
                      <div class="first">
                          <div class="number">1</div>
                          <div class="input-div"><input type="text"></div>
                          <div class="correct_answer">G</div>
                      </div>
                      <div class="second">
                          <div class="number">2</div>
                          <div class="input-div"><input type="text"></div>
                          <div class="correct_answer">D</div>
                      </div>
                      <div class="third">
                          <div class="number">3</div>
                          <div class="input-div"><input type="text"></div>
                          <div class="correct_answer">B</div>
                      </div>
                      <div class="fourth">
                          <div class="number">4</div>
                          <div class="input-div"><input type="text"></div>
                          <div class="correct_answer">A</div>
                      </div>
                  </div>
              </div>
              <div class="Block-2">
                  <img src="assets/std03-rhyming-words-worksheet2/img/sunflower.png" alt="" class="sunflower img-landscape">
                  <img src="assets/std03-rhyming-words-worksheet2/img/sunflower_portrait.png" alt="" class="sunflower img-portrait">
                  <div class="Question_Container">
                      <div class="header" style="background: none;
                      box-shadow: none;">
                          <div class="column">Column A</div>
                          <div class="column">Column B</div>
                      </div>
                      <div class="Question_Row">
                          <div class="Question">
                              <div class="number">1)</div>
                              <div class="content">verse</div>
                          </div>
                          <div class="Option">
                              <div class="Alpha">A)</div>
                              <div class="content" data-text="A">corn</div>
                          </div>
                      </div>
                      <div class="Question_Row">
                          <div class="Question">
                              <div class="number">2)</div>
                              <div class="content">rush</div>
                          </div>
                          <div class="Option">
                              <div class="Alpha">B)</div>
                              <div class="content" data-text="B">group</div>
                          </div>
                      </div>
                      <div class="Question_Row">
                          <div class="Question">
                              <div class="number">3)</div>
                              <div class="content">troupe</div>
                          </div>
                          <div class="Option">
                              <div class="Alpha">C)</div>
                              <div class="content" data-text="C">broke</div>
                          </div>
                      </div>
                      <div class="Question_Row">
                          <div class="Question">
                              <div class="number">4)</div>
                              <div class="content">thorn</div>
                          </div>
                          <div class="Option">
                              <div class="Alpha">D)</div>
                              <div class="content" data-text="D">brush</div>
                          </div>
                      </div>
                      <div class="Question_Row">
                          <div class="Question">
                              <div class="number">5)</div>
                              <div class="content">aim</div>
                          </div>
                          <div class="Option">
                              <div class="Alpha">E)</div>
                              <div class="content" data-text="E">pocket</div>
                          </div>
                      </div>
                      <div class="Question_Row">
                          <div class="Question">
                              <div class="number">6)</div>
                              <div class="content">rocket</div>
                          </div>
                          <div class="Option">
                              <div class="Alpha">F)</div>
                              <div class="content" data-text="F">thyme</div>
                          </div>
                      </div>
                      <div class="Question_Row">
                          <div class="Question">
                              <div class="number">7)</div>
                              <div class="content">smoke</div>
                          </div>
                          <div class="Option">
                              <div class="Alpha">G)</div>
                              <div class="content" data-text="G">curse</div>
                          </div>
                      </div>
                      <div class="Question_Row">
                          <div class="Question">
                              <div class="number">8)</div>
                              <div class="content">rhyme</div>
                          </div>
                          <div class="Option">
                              <div class="Alpha">H)</div>
                              <div class="content" data-text="H">fame</div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="Block-3">
                  <div class="Answers">
                      <div class="first">
                          <div class="number">5</div>
                          <div class="input-div"><input type="text"></div>
                          <div class="correct_answer">H</div>
                      </div>
                      <div class="second">
                          <div class="number">6</div>
                          <div class="input-div"><input type="text"></div>
                          <div class="correct_answer">E</div>
                      </div>
                      <div class="third">
                          <div class="number">7</div>
                          <div class="input-div"><input type="text"></div>
                          <div class="correct_answer">C</div>
                      </div>
                      <div class="fourth">
                          <div class="number">8</div>
                          <div class="input-div"><input type="text"></div>
                          <div class="correct_answer">F</div>
                      </div>
                  </div>
              </div>
          
          </div>
          <div class="btn-row col-12">
              <button class="button myButton">Submit</button>
          </div>
      </div>
  </div>
</div>