<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
              <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide">
              <!-- <img src="" alt="" class="Text fabulous hide"> -->
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
          <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  
  <div class="loadingDiv">
  </div>
  <div class="container">
      <div class="row">
          <div class="heading mt-3">
              <h1>
                  Click in the boxes below the numbers and then click on the correct Rhyming Words from Column B, for the words given in Column A.
              </h1>
          </div>
      </div>
      <div class="row">
          <div class="col-12 col-sm-7 Question_Container">
              <div class="row header">
                  <div class="col-6"><span>Column A</span></div>
                  <div class="col-6"><span>Column B</span></div>
              </div>
              <div class="py-3">
                  <div class="row">
                      <div class="col-6 Question">
                          <div class="row">
                              <div class="col-6">1) hen</div>
                              <div class="col-6"><img src="assets/std01-rhyming-words-worksheet4/img/hen.png" alt="" class="img-fluid"></div>
                          </div>
                      </div>
                      <div class="col-6 Question">
                          <div class="row">
                                <div class="col-6 option" data-text="A">A) well</div>
                                <div class="col-6"><img src="assets/std01-rhyming-words-worksheet4/img/well.png" alt="" class="img-fluid"></div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-6 Question">
                          <div class="row">
                                <div class="col-6 ">2) bell</div>
                                <div class="col-6"><img src="assets/std01-rhyming-words-worksheet4/img/bell.png" alt="" class="img-fluid"></div>
                          </div>
                      </div>
                      <div class="col-6 Question">
                            <div class="row">
                                <div class="col-6 option" data-text="B">B) mat</div>
                                <div class="col-6"><img src="assets/std01-rhyming-words-worksheet4/img/mat.png" alt="" class="img-fluid"></div>
                            </div>
                        </div>
                  </div>
                  <div class="row">
                      <div class="col-6 Question">
                          <div class="row">
                              <div class="col-6 ">3) rake</div>
                              <div class="col-6"><img src="assets/std01-rhyming-words-worksheet4/img/rake.png" alt="" class="img-fluid"></div>
                          </div>
                      </div>
                      <div class="col-6 Question">
                          <div class="row">
                                <div class="col-6 option" data-text="C">C) fan</div>
                                <div class="col-6"><img src="assets/std01-rhyming-words-worksheet4/img/fan.png" alt="" class="img-fluid"></div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-6 Question">
                          <div class="row">
                                <div class="col-6 ">4) van</div>
                                <div class="col-6"><img src="assets/std01-rhyming-words-worksheet4/img/van.png" alt="" class="img-fluid"></div>
                          </div>
                      </div>
                      <div class="col-6 Question">
                            <div class="row">
                                <div class="col-6 option" data-text="D">D) pen</div>
                                <div class="col-6"><img src="assets/std01-rhyming-words-worksheet4/img/pen.png" alt="" class="img-fluid"></div>
                            </div>
                        </div>
                  </div>
                  <div class="row">
                      <div class="col-6 Question">
                          <div class="row">
                              <div class="col-6 ">5) rat</div>
                              <div class="col-6"><img src="assets/std01-rhyming-words-worksheet4/img/rat.png" alt="" class="img-fluid"></div>
                          </div>
                      </div>
                      <div class="col-6 Question">
                          <div class="row">
                                <div class="col-6 option" data-text="E">E) block</div>
                                <div class="col-6"><img src="assets/std01-rhyming-words-worksheet4/img/block.png" alt="" class="img-fluid"></div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-6 Question">
                          <div class="row">
                                <div class="col-6 ">6) clock</div>
                                <div class="col-6"><img src="assets/std01-rhyming-words-worksheet4/img/clock.png" alt="" class="img-fluid"></div>
                          </div>
                      </div>
                      <div class="col-6 Question">
                            <div class="row">
                                <div class="col-6 option" data-text="F">F) cake</div>
                                <div class="col-6"><img src="assets/std01-rhyming-words-worksheet4/img/cake.png" alt="" class="img-fluid"></div>
                            </div>
                        </div>
                  </div>
              </div>
              
              <div class="btn-row">
                  <button class="button myButton">Submit</button>
              </div>

          </div>
          <div class="col-12 col-sm-5 Answers">
              <div class="Answer_Container">
                  <div class="number d-flex">
                      <div>1</div>
                      <div>2</div>
                      <div>3</div>
                      <div>4</div>
                      <div>5</div>
                      <div>6</div>
                  </div>
                  <div class="Answer d-flex">
                      <div><input type="text" size=1 maxlength="1" class="first"></div>
                      <div><input type="text" size=1 maxlength="1" class="second"></div>
                      <div><input type="text" size=1 maxlength="1" class="third"></div>
                      <div><input type="text" size=1 maxlength="1" class="fourth"></div>
                      <div><input type="text" size=1 maxlength="1" class="fifth"></div>
                      <div><input type="text" size=1 maxlength="1" class="sixth"></div>
                  </div>
              </div>
              <div class="right_answer d-flex mt-1">
                      <div><div class="correct_answer first">D</div></div> 
                      <div><div class="correct_answer second">A</div></div> 
                      <div><div class="correct_answer third">F</div></div> 
                      <div><div class="correct_answer fourth">C</div></div> 
                      <div><div class="correct_answer fifth">B</div></div> 
                      <div><div class="correct_answer sixth">E</div></div> 
              </div>
          </div>
      </div>
  
  </div>
</div>