<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
  </div>
	
	<div class="container">
			
			<div class="row pt-3 mb-lg-2" >
				<h1 class="heading">Click on the blanks and then click on the correct Personal Pronouns from the help 
					box, that will be used for the underlined Nouns. </h1>
			</div>
			<div class="row">
				<div class="main-container">
					<div class="row m-0 display-grid">
						<div class="col-12 col-sm-8 p-0 Order2 mt-xl-4">
							<div class="Information_Block"> 
								<div class="row m-0">
									<div class="col-12 p-0 mb-2 mt-2 mb-sm-3 mb-md-4">
										<div class="question">
											<div><span class="mr-1">1)</span></div>
											<div><span ><u>The shoe</u> has a hole in the heel. <span class="input-span"><input type="text"><div class="answer"><span>It</span></div></span></span></div>
										</div>
									</div>
									<div class="col-12 p-0 mb-2 mt-2 mb-sm-3 mb-md-4">
										<div class="question">
											<div><span class="mr-1">2)</span></div>
											<div><span ><u>Uncle Tom and Aunt Jane</u> are coming for dinner. <span class="input-span"><input type="text"><div class="answer"><span>They</span></div></span></span></div>
										</div>	
									</div>
									<div class="col-12 p-0 mb-2 mt-2 mb-sm-3 mb-md-4">
										<div class="question">
											<div><span class="mr-1">3)</span></div>
											<div><span ><u>Miss Lobo</u> went to the church. <span class="input-span"><input type="text"><div class="answer"><span>She</span></div></span></span></div>
										</div>	
									</div>
									<!----->
									<div class="col-12 p-0 mb-2 mt-2 mb-sm-3 mb-md-4">
										<div class="question">
											<div><span class="mr-1">4)</span></div>
											<div><span ><u>Cathy and I</u> like to bake cookies. <span class="input-span"><input type="text"><div class="answer"><span>We</span></div></span></span></div>
										</div>
									</div>
									<div class="col-12 p-0 mb-2 mt-2 mb-sm-3 mb-md-4">
										<div class="question">
											<div><span class="mr-1">5)</span></div>
											<div><span ><u>Ted</u> is helping his dad to clean the attic. <span class="input-span"><input type="text"><div class="answer"><span>He</span></div></span></span></div>
										</div>	
									</div>
									<div class="col-12 p-0 mb-2 mt-2 mb-sm-3 mb-md-4">
										<div class="question">
											<div><span class="mr-1">6)</span></div>
											<div><span ><u>The bridge</u> over the river connects the two parts of the city. <span class="input-span"><input type="text"><div class="answer"><span>It</span></div></span></span></div>
										</div>	
									</div>
									<!----->
									<div class="col-12 p-0 mb-2 mt-2 mb-sm-3 mb-md-4">
										<div class="question">
											<div><span class="mr-1">7)</span></div>
											<div><span ><u>The firemen</u> put out the fire easily. <span class="input-span"><input type="text"><div class="answer"><span>They</span></div></span></span></div>
										</div>
									</div>
									<div class="col-12 p-0 mb-2 mt-2 mb-sm-3 mb-md-4">
										<div class="question">
											<div><span class="mr-1">8)</span></div>
											<div><span><u>My friends and I</u> are playing football in the field. <span class="input-span"><input type="text"><div class="answer"><span>We</span></div></span></span></div>
										</div>	
									</div>
									<!----->
								</div>
							</div>	
						</div>
						<div class="col-12 col-sm-4 p-1 Order1">
							<div class="helpbox-container">
								<div class="row m-0 mb-1 mb-md-2">
									 <div class="col-3 p-0">
										<div  class="helpbox" data-text="0">
											<span>He</span>
										</div>
									 </div>
									 <div class="col-3 p-0">
										<div  class="helpbox" data-text="1">
											<span>It</span>
										</div>	
									 </div>
									 <div class="col-3 p-0">
										<div  class="helpbox" data-text="2">
											<span>We</span>
										</div>	
									 </div>
									 <div class="col-3 p-0">
										<div  class="helpbox" data-text="3">
											<span>She</span>
										</div>	
									 </div>
								</div>
								<div class="row m-0 ">
									 <div class="col-3 p-0">
										<div  class="helpbox" data-text="4">
											<span>They</span>
										</div>
									 </div>
									 <div class="col-3 p-0">
										<div  class="helpbox" data-text="5">
											<span>We</span>
										</div>	
									 </div>
									 <div class="col-3 p-0">
										<div  class="helpbox" data-text="6">
											<span>It</span>
										</div>	
									 </div>
									 <div class="col-3 p-0">
										<div  class="helpbox" data-text="7">
											<span>They</span>
										</div>	
									 </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-row mb-2">
				<button class="button myButton">Submit</button>
			</div>
	</div>

</div>