<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text fabulous hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
	<div class="loadingDiv">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 px-2 p-2 mt-2 mb-1 mt">
				<h2 class="font-weight-bold heading">
					Click in the boxes and then click on Comma from the help box, to complete the punctuation of the sentences.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<div class="row m-0">
					<div class="question-helpbox-container">
						<div>
							<img src="assets/std03-comma-worksheet1/img/question-bg.png" alt="" class="img-fluid img-landscape">
							<img src="assets/std03-comma-worksheet1/img/question-bg-portrait.png" alt="" class="img-fluid img-portrait">
						</div>
						<div class="question-container">
							<!-- 1 -->
							<div class="question">
								<div class="number">
									<span>1)</span>
								</div>
								<div class="text-container">
									<span>If you don’t complete your homework</span>
									<span class="answer">,</span>
									<span class="input-span"><input type="text"></span>
									<span>you can’t go out to play.</span>
								</div>
							</div>
							<!-- 2 -->
							<div class="question">
								<div class="number">
									<span>2)</span>
								</div>
								<div class="text-container">
									<span>Although Sam studied hard</span>
									<span class="answer">,</span>
									<span class="input-span"><input type="text"></span>

									<span>he did not get a good grade.</span>
								</div>
							</div>
							<!-- 3 -->
							<div class="question">
								<div class="number">
									<span>3)</span>
								</div>
								<div class="text-container">
									<span>Susan</span>
									<span class="answer">,</span>
									<span class="input-span"><input type="text"></span>

									<span>Sharon</span>
									<span class="answer">,</span>
									<span class="input-span"><input type="text"></span>

									<span>Shelly and Shaun are siblings.</span>
								</div>
							</div>
							<!-- 4 -->
							<div class="question">
								<div class="number">
									<span>4)</span>
								</div>
								<div class="text-container">
									<span>The children are going for a camping trip over Saturday</span>
									<span class="answer">,</span>
									<span class="input-span"><input type="text"></span>

									<span>Sunday and Monday.</span>
								</div>
							</div>
							<!-- 5 -->
							<div class="question">
								<div class="number">
									<span>5)</span>
								</div>
								<div class="text-container">
									<span>Tom saw green</span>
									<span class="answer">,</span>
									<span class="input-span"><input type="text"></span>
									<span>yellow</span>
									<span class="answer">,</span>
									<span class="input-span"><input type="text"></span>
									<span>red and blue balloons flying in the sky.</span>
								</div>
							</div>
							<!-- 6 -->
							<div class="question">
								<div class="number">
									<span>6)</span>
								</div>
								<div class="text-container">
									<span>My cousin has a dog</span>
									<span class="answer">,</span>
									<span class="input-span"><input type="text"></span>
									<span>a cat and a turtle as pets.</span>
								</div>
							</div>
							<!-- 7 -->
							<div class="question">
								<div class="number">
									<span>7)</span>
								</div>
								<div class="text-container tx-7">
									<span>Unless you eat fresh fruits and vegetables</span>
									<span class="answer">,</span>
									<span class="input-span"><input type="text"></span>
									<span>you will not recover from your illness.</span>
								</div>
							</div>
							<!-- 8 -->
							<div class="question">
								<div class="number">
									<span>8)</span>
								</div>
								<div class="text-container">
									<span>There were cars</span>
									<span class="answer">,</span>
									<span class="input-span"><input type="text"></span>
									<span>vans</span>
									<span class="answer">,</span>
									<span class="input-span"><input type="text"></span>
									<span>trucks and buses in the parking lot.</span>
								</div>
							</div>
							<!-- 9 -->
							<div class="question">
								<div class="number">
									<span>9)</span>
								</div>
								<div class="text-container tx-9">
									<span>The teacher gave us worksheets on comma</span>
									<span class="answer">,</span>
									<span class="input-span"><input type="text"></span>
									<span> colon and semi-colon.</span>
								</div>
							</div>
							<!-- 10 -->
							<div class="question">
								<div class="number">
									<span>10)</span>
								</div>
								<div class="text-container">
									<span>Forks</span>
									<span class="answer">,</span>
									<span class="input-span"><input type="text"></span>
									<span>knives and spoons are called cutlery.</span>
								</div>
							</div>
							<!-- end -->
						</div>
						<div class="helpbox-container">
							<div class="helpbox">
								<div><span>?</span></div>
								<div><span>.</span></div>
								<div><span>!</span></div>
								<div><span>,</span></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row m-0">
					<div class="btn-row w-100">
						<button class="button myButton">Submit</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>