<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text fabulous hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
		<div class="heading">
			<h1>Click on the Common Nouns in the following sentences.</h1>
		</div>
        <div class="Main_Container">
            <div class="Question_Container">
                <div class="Question">
                    <div class="number">1</div>
                    <div class="content"><span>That</span> <span>stray</span> <span>dog</span> <span>buried</span> <span>the</span> <span>bone</span> <span>in</span> <span>the</span> <span>garden</span>.</div>
                </div>
                <div class="Question">
                    <div class="number">2</div>
                    <div class="content"><span>The</span> <span>students</span> <span>wore</span> <span>caps</span> <span>when</span> <span>they</span> <span>went</span> <span>to</span> <span>the</span> <span>zoo</span>.</div>
                </div>
                <div class="Question">
                    <div class="number">3</div>
                    <div class="content"><span>Dan</span> <span>and</span> <span>his</span> <span>father</span> <span>flew</span> <span>kites</span> <span>in</span> <span>the</span> <span>park</span>.</div>
                </div>
                <div class="Question">
                    <div class="number">4</div>
                    <div class="content"><span>The</span> <span>cafetaria</span> <span>at</span> <span>the</span> <span>school</span> <span>serves</span> <span>delicious</span> <span>smoothies</span>.</div>
                </div>
                <div class="Question">
                    <div class="number">5</div>
                    <div class="content"><span>My</span> <span>mother</span> <span>bought</span> <span>me</span> <span>a</span> <span>toy</span> <span>from</span> <span>the</span> <span>shop</span>.</div>
                </div>
                <div class="Question">
                    <div class="number">6</div>
                    <div class="content"><span>Clowns</span> <span>entertain</span> <span>people</span> <span>at</span> <span>the</span> <span>circus</span>.</div>
                </div>
                <div class="Question">
                    <div class="number">7</div>
                    <div class="content"><span>My</span> <span>cousins</span> <span>are</span> <span>going</span> <span>for</span> <span>a</span> <span>camp</span> <span>during</span> <span>summer</span>.</div>
                </div>
                <div class="Question">
                    <div class="number">8</div>
                    <div class="content"><span>The</span> <span>window</span> <span>in</span> <span>the</span> <span>kitchen</span> <span>needs</span> <span>to</span> <span>be</span> <span>repaired</span>.</div>
                </div>
            </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
  </div>
</div>