<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Worksheet 3</title>
</head>

<body>
    <div class='result'>
		<div class="Box">
      <div class="imgBox">
				<img src="" alt="" class="Text fabulous hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
    <div class="loadingDiv">
    </div>
	
	<div class="container">
		<div class="row">
			<div class="col-xs-12 px-2 mb-1 mb-sm-4">
				<h2 class="font-weight-bold">
				Click in the boxes to colour them, which have Adjectives that can be used to describe the given Nouns. Colour 
				2 boxes for each Nouns.
				</h2>
			</div>
		</div>
		<div class="Main_Container mb-1 mt-1 mt-sm-5">
			<div class="row">
				<div class="row col-12 col-sm-6 p-3">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color orange-box">1)</span>
						</div>
					</div>
					<div class="col-2 p-1 p-sm-0 p-lg-1 pencil-content text-center">
						<div class="pencil-img"><img src="assets/std01-adjective-worksheet3/img/pencil.png" class="img-fluid"></div>
						<span class="font-weight-bold">pencil</span>
					</div>
					<div class="col-9">
							<div class="row container1 Question">
							<div class="content wrong-ans clk-ans option">curly</div>
							<div class="content wrong-ans clk-ans option">heavy</div>
							<div class="content right-ans option">small</div>
							<div class="content right-ans option">long</div>
							</div>
						</div>
					</div>

				<div class="row  col-12 col-sm-6 p-3">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color orange-box">2)</span>
						</div>
					</div>
					<div class="col-2 p-1 p-sm-0 p-lg-1 pencil-content text-center">
						<div class="dragon-img"><img src="assets/std01-adjective-worksheet3/img/dragon.png" class="img-fluid"></div>
						<span class="font-weight-bold">dragon</span>
					</div>
					<div class="col-9">
						<div class="row container1 Question">
						<div class="content right-ans option">dangerous</div>
						<div class="content wrong-ans clk-ans option">cheerful</div>
						<div class="content right-ans option">scary</div>
						<div class="content wrong-ans clk-ans option">polite</div>
						</div>
					</div>
				</div>

				<div class="row col-12 col-sm-6 p-3">
						<div class="col-1 p-1">
							<div class="list-item">
								<span class="number-color orange-box">3)</span>
							</div>
						</div>
						<div class="col-2 p-1 p-sm-0 p-lg-1 pencil-content text-center">
							<div class="crow-img"><img src="assets/std01-adjective-worksheet3/img/crow.png" class="img-fluid"></div>
							<span class="font-weight-bold">crow</span>
						</div>
						<div class="col-9">
							<div class="row container1 Question">
							<div class="content wrong-ans clk-ans option">rich</div>
							<div class="content right-ans option">ugly</div>
							<div class="content right-ans option">black</div>
							<div class="content wrong-ans clk-ans option">smelly</div>
					
							</div>
						</div>
				</div>
	
				<div class="row  col-12 col-sm-6 p-3">
						<div class="col-1 p-1">
							<div class="list-item">
								<span class="number-color orange-box">4)</span>
							</div>
						</div>
					
						<div class="col-2 p-1 p-sm-0 p-lg-1 pencil-content text-center">
							<div class="grass-img"><img src="assets/std01-adjective-worksheet3/img/grass.png" class="img-fluid"></div>
							<span class="font-weight-bold">grass</span>
						</div>
						<div class="col-9">
							<div class="row container1 Question">
							  
							<div class="content right-ans option">tall</div>
							<div class="content right-ans option">green</div>
							<div class="content wrong-ans clk-ans option">hot</div>
							<div class="content wrong-ans clk-ans option">strong</div>
						
							</div>
						</div>
						
				</div>
				
				<div class="row col-12 col-sm-6 p-3">
						<div class="col-1 p-1">
							<div class="list-item">
								<span class="number-color orange-box">5)</span>
							</div>
						</div>
						<div class="col-2 p-1 p-sm-0 p-lg-1 pencil-content text-center">
							<div class="children-img"><img src="assets/std01-adjective-worksheet3/img/children.png" class="img-fluid"></div>
							<span class="font-weight-bold">children</span>
						</div>
	
	
						<div class="col-9">
								<div class="row container1 Question">
								<div class="content wrong-ans clk-ans option">easy</div>
								<div class="content wrong-ans clk-ans option">salty</div>
								<div class="content right-ans option">happy</div>
								<div class="content right-ans option">quiet</div>
								</div>
							</div>
				</div>
	
				<div class="row  col-12 col-sm-6 p-3">
						<div class="col-1 p-1">
							<div class="list-item">
								<span class="number-color orange-box">6)</span>
							</div>
						</div>
					
						<div class="col-2 p-1 p-sm-0 p-lg-1 pencil-content text-center">
							<div class="vase-img"><img src="assets/std01-adjective-worksheet3/img/vase.png" class="img-fluid"></div>
							<span class="font-weight-bold">vase</span>
						</div>
						 
						
						<div class="col-9">
							<div class="row container1 Question">
							<div class="content wrong-ans clk-ans option">loud</div>
							<div class="content right-ans option">old</div>
							<div class="content right-ans option">expensive</div>
							<div class="content wrong-ans clk-ans option">kind</div>
							</div>
						</div>
				</div>
			</div>
		</div>
		<div class="row btn-row mb-4">
			<div class="col-12 text-center">
				<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
	

</body>

</html>