<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
			<img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="row">
      <div class="heading">
        <h1>Click on the blanks and then click on the correct words from the help box, to form Compound Words.</h1>
      </div>
    </div>
    <div class="row Main_Container">
      <div class="col-12 col-sm-9 col-xl-8 mx-auto">
        <div class="Question_Container">
          <div class="row">
            <div class="col-6 Question">
              <div class="number">1)</div>
              <div class="content">cup</div>
              <div class="input_div">
                <input type="text" name="first_input" />

                <span class="correct_answer"><span>cupcake</span></span>
              </div>
            </div>
            <div class="col-6 Question">
              <div class="number">2)</div>
              <div class="content">snow</div>
              <div class="input_div">
                <input type="text" name="second_input" />

                <div class="correct_answer"><span>snowman</span></div>
              </div>

              <!-- <span>2)</span> snow<input type="text" name="second_input"/> 
							<div class="correct_answer"><span>snowman</span></div> -->
            </div>
          </div>
          <div class="row">
            <div class="col-6 Question">
              <div class="number">3)</div>
              <div class="content">mail</div>
              <div class="input_div">
                <input type="text" name="third_input" />

                <div class="correct_answer"><span>mailbox</span></div>
              </div>


              <!-- <span>3) </span> mail<input type="text" name="third_input"/>
							<div class="correct_answer"><span>mailbox</span></div> -->
            </div>
            <div class="col-6 Question">
              <div class="number">4)</div>
              <div class="content">tea</div>
              <div class="input_div">
                <input type="text" name="fourth_input" />

                <div class="correct_answer"><span>teapot</span></div>
              </div>

              <!-- <span>4) </span> tea<input type="text" name="fourth_input"/>
							<div class="correct_answer"><span>teapot</span></div> -->
            </div>
          </div>
          <div class="row">
            <div class="col-6 Question">
              <div class="number">5)</div>
              <div class="content">hand</div>
              <div class="input_div">
                <input type="text" name="fifth_input" />

                <div class="correct_answer"><span>handbag</span></div>
              </div>

              <!-- <span>5) </span> hand<input type="text" name="fifth_input"/>
							<div class="correct_answer"><span>handbag</span></div> -->
            </div>
            <div class="col-6 Question">
              <div class="number">6)</div>
              <div class="content">straw</div>
              <div class="input_div">
                <input type="text" name="sixth_input" />

                <div class="correct_answer"><span>strawberry</span></div>
              </div>

              <!-- <span>6) </span> straw<input type="text" name="sixth_input"/>
							<div class="correct_answer"><span>strawberry</span></div> -->
            </div>
          </div>
          <div class="row">
            <div class="col-6 Question">
              <div class="number">7)</div>
              <div class="content">break</div>
              <div class="input_div">
                <input type="text" name="seventh_input" />

                <div class="correct_answer"><span>breakfast</span></div>
              </div>


              <!-- <span>7) </span> break<input type="text" name="seventh_input"/>
							<div class="correct_answer"><span>breakfast</span></div> -->
            </div>
            <div class="col-6 Question">
              <div class="number">8)</div>
              <div class="content">foot</div>
              <div class="input_div">
                <input type="text" name="eightth_input" />

                <div class="correct_answer"><span>football</span></div>
              </div>

              <!-- <span>8) </span> foot<input type="text" name="eightth_input"/>
							<div class="correct_answer"><span>football</span></div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 Option_Container position-relative">
        <img src="assets/std02-compound-words-worksheet7/img/box.png" id="box" /><img
          src="assets/std02-compound-words-worksheet7/img/fast.png" id="fast" />
        <img src="assets/std02-compound-words-worksheet7/img/pot.png" id="pot" /> <img
          src="assets/std02-compound-words-worksheet7/img/cake.png" id="cake" />
        <img src="assets/std02-compound-words-worksheet7/img/man.png" id="man" />
        <img src="assets/std02-compound-words-worksheet7/img/bag.png" id="bag" /> <img
          src="assets/std02-compound-words-worksheet7/img/ball.png" id="ball" />
        <img src="assets/std02-compound-words-worksheet7/img/berry.png" id="berry" />
      </div>

      <div class="btn-row">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>

</div>