<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
	<div class="loadingDiv">
	</div>
	<div class="container">
		<div class="row heading-container">
			<div class="col-xs-12 px-2 p-2 mt-3">
				<h2 class="font-weight-bold heading">
					Click on the blanks and then click on the correct Compound Words from the help box, to complete the
					sentences.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="helpbox-container font-weight-bold">
				<div class="row m-0">
					<!-- 1 -->
					<div class="helpans">
						<div>
							<span>
								outside
							</span>
						</div>
					</div>
					<!-- 2 -->
					<div class="helpans">
						<div>
							<span>
								birthday
							</span>
						</div>
					</div>
					<!-- 3 -->
					<div class="helpans">
						<div>
							<span>
								milkman
							</span>
						</div>
					</div>
					<!-- 5 -->
					<div class="helpans">
						<div>
							<span>
								dollhouse
							</span>
						</div>
					</div>
					<!-- 1 -->
					<div class="helpans">
						<div>
							<span>
								today
							</span>
						</div>
					</div>
					<!-- <div class="col-2 p-0">
					<div>
						<span>
							
						</span>
					</div>
				</div> -->
					<!-- 2 -->
					<div class="helpans">
						<div>
							<span>
								doorbell
							</span>
						</div>
					</div>
					<!-- 3 -->
					<div class="helpans">
						<div>
							<span>
								bookshelf
							</span>
						</div>
					</div>
					<!-- 5 -->
					<div class="helpans">
						<div>
							<span>
								earring
							</span>
						</div>
					</div>
					<div class="helpans">
						<div>
							<span>
								cupcake
							</span>
						</div>
					</div>
					<!-- 5 -->
					<div class="helpans">
						<div>
							<span>
								baseball
							</span>
						</div>
					</div>
					<!-- end -->
				</div>
			</div>
		</div>


		<div class="row">
			<div class="Question-container mt-2">
				<div class="row m-0">
					<div class="col-12 p-0">
						<div class="question">
							<div class="number"><span>1)</span></div>
							<div class="text-container">
								<span>Susan ate a
									<span class="input-span">
										<input type="text">
										<div class="answer-div">
											<span class="answer">cupcake</span>
										</div>
									</span>
									when she was hungry.</span>
							</div>
						</div>
						<!-- 2 -->
						<div class="question">
							<div class="number"><span>2)</span></div>
							<div class="text-container">
								<span>The
									<span class="input-span">
										<input type="text">
										<div class="answer-div">
											<span class="answer">milkman</span>
										</div>
									</span>
									comes everyday at 6 o’clock in the morning.</span>
							</div>
						</div>
						<!-- 3 -->
						<div class="question">
							<div class="number"><span>3)</span></div>
							<div class="text-container">
								<span>I ran
									<span class="input-span">
										<input type="text">
										<div class="answer-div">
											<span class="answer">outside</span>
										</div>
									</span>
									to play in the snow.</span>
							</div>
						</div>
						<!-- 4 -->
						<div class="question">
							<div class="number"><span>4)</span></div>
							<div class="text-container">
								<span>Yesterday was my father’s
									<span class="input-span">
										<input type="text">
										<div class="answer-div">
											<span class="answer">birthday</span>
										</div>
									</span>.
								</span>
							</div>
						</div>
						<!-- 5 -->
						<div class="question">
							<div class="number"><span>5)</span></div>
							<div class="text-container">
								<span>There are many books on the
									<span class="input-span">
										<input type="text">
										<div class="answer-div">
											<span class="answer">bookshelf</span>
										</div>
									</span>.
								</span>
							</div>
						</div>
						<!-- 6 -->
						<div class="question">
							<div class="number"><span>6)</span></div>
							<div class="text-container">
								<span>My sister loves to play in her
									<span class="input-span">
										<input type="text">
										<div class="answer-div">
											<span class="answer">dollhouse</span>
										</div>
									</span>.</span>
							</div>
						</div>
						<!-- 7 -->
						<div class="question">
							<div class="number"><span>7)</span></div>
							<div class="text-container">
								<span>Somebody rang the house
									<span class="input-span"><input type="text">
										<div class="answer-div">
											<span class="answer">doorbell</span>
										</div>
									</span>.</span>
							</div>
						</div>
						<!-- 8 -->
						<div class="question">
							<div class="number"><span>8)</span></div>
							<div class="text-container">
								<span>Jenny lost her
									<span class="input-span"><input type="text">
										<div class="answer-div">
											<span class="answer">earring</span>
										</div>
									</span>.
								</span>
							</div>
						</div>
						<!-- 9 -->
						<div class="question">
							<div class="number"><span>9)</span></div>
							<div class="text-container">
								<span>It is very hot
									<span class="input-span"><input type="text">
										<div class="answer-div">
											<span class="answer">today</span>
										</div>
									</span>.
								</span>
							</div>
						</div>
						<!-- 10 -->
						<div class="question">
							<div class="number"><span>10)</span></div>
							<div class="text-container">
								<span>
									<span class="input-span"><input type="text" class="Capital">
										<div class="answer-div">
											<span class="answer Capital">Baseball</span>
										</div>
									</span>
									is Tom’s favourite game.</span>
							</div>
						</div>

						<!-- end -->

						<img src="assets/std01-compound-word-worksheet9/img/landscape.png" alt=""
							class="img-fluid landscape potrait">


					</div>
				</div>
			</div>
		</div>
		<div class="row m-0">
			<div class="btn-row w-100">
				<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>