<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 px-2 p-2 mt-3 ">
        <h2 class="font-weight-bold heading">
          Click on the batteries and then click on the correct words from the help box of bulbs, to form
          Compound Words.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="bulb-container">
        <!-- 1 -->
        <div class="row m-0">
          <div class="col-2 p-0 offset-1">
            <div>
              <img src="assets/std02-compound-words-worksheet5/img/worm.png" alt="" class="img-fluid" data-text="worm">
            </div>
          </div>
          <div class="col-2 p-0">
            <div>
              <img src="assets/std02-compound-words-worksheet5/img/doors.png" alt="" class="img-fluid" data-text="doors">
            </div>
          </div>
          <div class="col-2 p-0">
            <div>
              <img src="assets/std02-compound-words-worksheet5/img/comb.png" alt="" class="img-fluid" data-text="comb">
            </div>
          </div>
          <div class="col-2 p-0">
            <div>
              <img src="assets/std02-compound-words-worksheet5/img/wise.png" alt="" class="img-fluid" data-text="wise">
            </div>
          </div>
          <div class="col-2 p-0">
            <div>
              <img src="assets/std02-compound-words-worksheet5/img/book.png" alt="" class="img-fluid" data-text="book">
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="row m-0">
          <div class="col-2 p-0 ">
            <div>
              <img src="assets/std02-compound-words-worksheet5/img/print.png" alt="" class="img-fluid" data-text="print">
            </div>
          </div>
          <div class="col-2 p-0">
            <div>
              <img src="assets/std02-compound-words-worksheet5/img/quake.png" alt="" class="img-fluid" data-text="quake">
            </div>
          </div>
          <div class="col-2 p-0">
            <div>
              <img src="assets/std02-compound-words-worksheet5/img/yard.png" alt="" class="img-fluid" data-text="yard">
            </div>
          </div>
          <div class="col-2 p-0">
            <div>
              <img src="assets/std02-compound-words-worksheet5/img/works.png" alt="" class="img-fluid" data-text="works">
            </div>
          </div>
          <div class="col-2 p-0">
            <div>
              <img src="assets/std02-compound-words-worksheet5/img/keeper.png" alt="" class="img-fluid" data-text="keeper">
            </div>
          </div>
        </div>
        <!-- end -->
      </div>
      <div class="main-question-container mt-3 font-weight-bold">
        <div class="row m-0">
          <div class="col-6 col-sm-5 offset-sm-1 p-0 left-side">
            <div class="question-container ">
              <div class="question-left d-inline-block">
                <img src="assets/std02-compound-words-worksheet5/img/cell.png" alt="" class="img-fluid cell">
                <div class="question d-flex">
                  <div>
                    <span class="number">1</span>
                  </div>
                  <div class="text-container">
                    silk
                  </div>
                </div>
              </div>
              <div class="question-right d-inline-block">
                <img src="assets/std02-compound-words-worksheet5/img/bulb.png" alt="" class="img-fluid bulb">
                <div class="answer-container">
                  <span>

                  </span>
                </div>
              </div>
              <div class="answer d-inline-block">
                <span>worm</span>
              </div>
            </div>
            <!-- 3 -->
            <div class="question-container ">
              <div class="question-left d-inline-block">
                <img src="assets/std02-compound-words-worksheet5/img/cell.png" alt="" class="img-fluid cell">
                <div class="question d-flex">
                  <div class="">
                    <span class="number">3</span>
                  </div>
                  <div class="text-container">
                    clock
                  </div>
                </div>
              </div>
              <div class="question-right d-inline-block">
                <img src="assets/std02-compound-words-worksheet5/img/bulb.png" alt="" class="img-fluid bulb">
                <div class="answer-container">
                  <span>

                  </span>
                </div>
              </div>
              <div class="answer d-inline-block">
                <span>wise</span>
              </div>
            </div>
            <!-- 5 -->
            <div class="question-container ">
              <div class="question-left d-inline-block">
                <img src="assets/std02-compound-words-worksheet5/img/cell.png" alt="" class="img-fluid cell">
                <div class="question d-flex">
                  <div class="">
                    <span class="number">5</span>
                  </div>
                  <div class="text-container">
                    barn
                  </div>
                </div>
              </div>
              <div class="question-right d-inline-block">
                <img src="assets/std02-compound-words-worksheet5/img/bulb.png" alt="" class="img-fluid bulb">
                <div class="answer-container">
                  <span>

                  </span>
                </div>
              </div>
              <div class="answer d-inline-block">
                <span>yard</span>
              </div>
            </div>
            <!-- 7 -->
            <div class="question-container ">
              <div class="question-left d-inline-block">
                <img src="assets/std02-compound-words-worksheet5/img/cell.png" alt="" class="img-fluid cell">
                <div class="question d-flex">
                  <div class="">
                    <span class="number">7</span>
                  </div>
                  <div class="text-container">
                    fire
                  </div>
                </div>
              </div>
              <div class="question-right d-inline-block">
                <img src="assets/std02-compound-words-worksheet5/img/bulb.png" alt="" class="img-fluid bulb">
                <div class="answer-container">
                  <span>

                  </span>
                </div>
              </div>
              <div class="answer d-inline-block">
                <span>works</span>
              </div>
            </div>
            <!-- 9 -->
            <div class="question-container ">
              <div class="question-left d-inline-block">
                <img src="assets/std02-compound-words-worksheet5/img/cell.png" alt="" class="img-fluid cell">
                <div class="question d-flex">
                  <div class="">
                    <span class="number">9</span>
                  </div>
                  <div class="text-container">
                    honey
                  </div>
                </div>
              </div>
              <div class="question-right d-inline-block">
                <img src="assets/std02-compound-words-worksheet5/img/bulb.png" alt="" class="img-fluid bulb">
                <div class="answer-container">
                  <span>

                  </span>
                </div>
              </div>
              <div class="answer d-inline-block">
                <span>comb</span>
              </div>
            </div>
            <!-- end -->
          </div>
          <div class="col-6 col-sm-5 offset-sm-1 p-0 right-side">
            <div class="question-container ">
              <div class="question-left d-inline-block">
                <img src="assets/std02-compound-words-worksheet5/img/cell.png" alt="" class="img-fluid cell">
                <div class="question d-flex">
                  <div>
                    <span class="number">2</span>
                  </div>
                  <div class="text-container">
                    earth
                  </div>
                </div>
              </div>
              <div class="question-right d-inline-block">
                <img src="assets/std02-compound-words-worksheet5/img/bulb.png" alt="" class="img-fluid bulb">
                <div class="answer-container">
                  <span>

                  </span>
                </div>
              </div>
              <div class="answer d-inline-block">
                <span>quake</span>
              </div>
            </div>
            <!-- 3 -->
            <div class="question-container ">
              <div class="question-left d-inline-block">
                <img src="assets/std02-compound-words-worksheet5/img/cell.png" alt="" class="img-fluid cell">
                <div class="question d-flex">
                  <div class="">
                    <span class="number">4</span>
                  </div>
                  <div class="text-container">
                    house
                  </div>
                </div>
              </div>
              <div class="question-right d-inline-block">
                <img src="assets/std02-compound-words-worksheet5/img/bulb.png" alt="" class="img-fluid bulb">
                <div class="answer-container">
                  <span>

                  </span>
                </div>
              </div>
              <div class="answer d-inline-block">
                <span>keeper</span>
              </div>
            </div>
            <!-- 5 -->
            <div class="question-container ">
              <div class="question-left d-inline-block">
                <img src="assets/std02-compound-words-worksheet5/img/cell.png" alt="" class="img-fluid cell">
                <div class="question d-flex">
                  <div class="">
                    <span class="number">6</span>
                  </div>
                  <div class="text-container">
                    out
                  </div>
                </div>
              </div>
              <div class="question-right d-inline-block">
                <img src="assets/std02-compound-words-worksheet5/img/bulb.png" alt="" class="img-fluid bulb">
                <div class="answer-container">
                  <span>

                  </span>
                </div>
              </div>
              <div class="answer d-inline-block">
                <span>doors</span>
              </div>
            </div>
            <!-- 7 -->
            <div class="question-container ">
              <div class="question-left d-inline-block">
                <img src="assets/std02-compound-words-worksheet5/img/cell.png" alt="" class="img-fluid cell">
                <div class="question d-flex">
                  <div class="">
                    <span class="number">8</span>
                  </div>
                  <div class="text-container">
                    foot
                  </div>
                </div>
              </div>
              <div class="question-right d-inline-block">
                <img src="assets/std02-compound-words-worksheet5/img/bulb.png" alt="" class="img-fluid bulb">
                <div class="answer-container">
                  <span>

                  </span>
                </div>
              </div>
              <div class="answer d-inline-block">
                <span>print</span>
              </div>
            </div>
            <!-- 9 -->
            <div class="question-container ">
              <div class="question-left d-inline-block">
                <img src="assets/std02-compound-words-worksheet5/img/cell.png" alt="" class="img-fluid cell">
                <div class="question d-flex">
                  <div class="">
                    <span class="number">10</span>
                  </div>
                  <div class="text-container">
                    scrap
                  </div>
                </div>
              </div>
              <div class="question-right d-inline-block">
                <img src="assets/std02-compound-words-worksheet5/img/bulb.png" alt="" class="img-fluid bulb">
                <div class="answer-container">
                  <span>

                  </span>
                </div>
              </div>
              <div class="answer d-inline-block">
                <span>book</span>
              </div>
            </div>
            <!-- end -->

          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="m-auto  ">
        <button class="button myButton mb-3">Submit</button>
      </div>
    </div>
  </div>


</div>