<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="heading ">
      <h1>Click in the circles given in the fruits and then click on the correct Punctuation Marks from the help box,
        that will be used at the end of the sentences.</h1>
    </div>
    <div class="row Main_Container">
      <div class="col-12 Option_Container">
        <div class="options">
          <div class="option"><span>?</span></div>
          <div class="option"><span>.</span></div>
          <div class="option"><span>!</span></div>
        </div>
      </div>
      <div class="col-12 Question_Container">
        <div class="Question_Row first_Row">
          <div class="Question">
            <div class="number">1)</div>
            <div class="content">Where did you put the fruits
              <div class="imgBlock first_imgBlock">
                <img src="assets/std02-mixed-punctuation-worksheet2/img/first.png" alt="">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span>?</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="Question">
            <div class="number">2)</div>
            <div class="content">I am overjoyed
              <div class="imgBlock second_imgBlock">
                <img src="assets/std02-mixed-punctuation-worksheet2/img/second.png" alt="">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span>!</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Question_Row second_Row">
          <div class="Question">
            <div class="number">3)</div>
            <div class="content">There is roasted pumpkin soup for dinner
              <div class="imgBlock third_imgBlock">
                <img src="assets/std02-mixed-punctuation-worksheet2/img/third.png" alt="">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span class="dot">.</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="Question">
            <div class="number">4)</div>
            <div class="content">May I come in
              <div class="imgBlock fifth_imgBlock">
                <img src="assets/std02-mixed-punctuation-worksheet2/img/fifth.png" alt="">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span>?</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Question_Row third_Row">
          <div class="Question">
            <div class="number">5)</div>
            <div class="content">Don’t trouble him
              <div class="imgBlock fourth_imgBlock">
                <img src="assets/std02-mixed-punctuation-worksheet2/img/fourth.png" alt="">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span class="dot">.</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="Question">
            <div class="number">6)</div>
            <div class="content">How lucky Janet is
              <div class="imgBlock third_imgBlock">
                <img src="assets/std02-mixed-punctuation-worksheet2/img/third.png" alt="">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span>!</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Question_Row fourth_Row">
          <div class="Question">
            <div class="number">7)</div>
            <div class="content">Do you have enough money
              <div class="imgBlock fifth_imgBlock">
                <img src="assets/std02-mixed-punctuation-worksheet2/img/fifth.png" alt="">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span>?</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="Question">
            <div class="number">8)</div>
            <div class="content">Oh no
              <div class="imgBlock fourth_imgBlock">
                <img src="assets/std02-mixed-punctuation-worksheet2/img/fourth.png" alt="">
                <div class="input_div"><input type="text">
                  <div class="correct_answer top"><span>!</span></div>
                </div>
              </div>
              I just missed the bus
              <div class="imgBlock second_imgBlock">
                <img src="assets/std02-mixed-punctuation-worksheet2/img/second.png" alt="">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span>!</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Question_Row fifth_Row">
          <div class="Question">
            <div class="number">9)</div>
            <div class="content">Have you been to Venice
              <div class="imgBlock second_imgBlock">
                <img src="assets/std02-mixed-punctuation-worksheet2/img/second.png" alt="">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span>?</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="Question">
            <div class="number pt-10">10)</div>
            <div class="content">Please complete your work by 5 o’clock
              <div class="imgBlock first_imgBlock">
                <img src="assets/std02-mixed-punctuation-worksheet2/img/first.png" alt="">
                <div class="input_div"><input type="text">
                  <div class="correct_answer"><span class="dot">.</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>

  </div>
</div>