<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
              <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide">
              <!-- <img src="" alt="" class="Text fabulous hide"> -->
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
    <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
      <div class="row m-0">
          <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
              <h2 class="font-weight-bold heading">
                  Click on the blanks and then click on the correct Helping or Action Verbs from the help box, to complete the sentences.
              </h2>
          </div>
      </div>
      <div class="main-conatiner">
          <div class="helpbox-container">
              <div class="helpbox-ans vi">
                 
              </div>
              <div class="helpbox-ans right">
                  <span>learning</span>
              </div>
              <div class="helpbox-ans right">
                  <span>did</span>
              </div>
              <div class="helpbox-ans">
                  <span>instructed</span>
              </div>
              <div class="helpbox-ans">
                  <span>will</span>
              </div>
              <div class="helpbox-ans">
                  <span>shall</span>
              </div>
              <div class="helpbox-ans">
                  <span>are</span>
              </div>
              <div class="helpbox-ans">
                  <span>drank</span>
              </div>
              <div class="helpbox-ans">
                  <span>barks</span>
              </div>
              <div class="helpbox-ans vi">
                 
              </div>
              <div class="helpbox-ans right">
                  <span>burning</span>
              </div>
              <div class="helpbox-ans right">
                  <span>should</span>
              </div>
          </div>

          <div class="main-question-container">

              <!-- 1 -->
              <div class="question">
                  <div class="number">
                      <span>1)</span>
                  </div>
                  <div class="text-container">
                      <span>My brother</span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>will</span>
                          </div>
                      </div>
                      <span>graduate from high school in June.</span>
                  </div>
              </div>
              <!-- 2 -->
              <div class="question">
                  <div class="number">
                      <span>2)</span>
                  </div>
                  <div class="text-container">
                      <span>The baby is</span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>learning</span>
                          </div>
                      </div>
                      <span>to stand up without support.</span>
                  </div>
              </div>
              <!-- 3 -->
              <div class="question">
                  <div class="number">
                      <span>3)</span>
                  </div>
                  <div class="text-container">
                      <span>That dog</span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>barks</span>
                          </div>
                      </div>
                      <span>continously at strangers.</span>
                  </div>
              </div>
              <!-- 4 -->
              <div class="question">
                  <div class="number">
                      <span>4)</span>
                  </div>
                  <div class="text-container">
                      <span>Patrick</span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>should</span>
                          </div>
                      </div>
                      <span>repair the puncture of his bicycle soon.</span>
                  </div>
              </div>
              <!-- 5 -->
              <div class="question">
                  <div class="number">
                      <span>5)</span>
                  </div>
                  <div class="text-container">
                      <span>The teacher</span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>instructed</span>
                          </div>
                      </div>
                      <span>the students to solve the sum carefully.</span>
                  </div>
              </div>
              <!-- 6 -->
              <div class="question">
                  <div class="number">
                      <span>6)</span>
                  </div>
                  <div class="text-container">
                      <span>We</span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>shall</span>
                          </div>
                      </div>
                      <span>reach Orlando, Florida by evening.</span>
                  </div>
              </div>
              <!-- 7 -->
              <div class="question">
                  <div class="number">
                      <span>7)</span>
                  </div>
                  <div class="text-container">
                      <span>Jason</span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>did</span>
                          </div>
                      </div>
                      <span>not remember to bring his helmet for the baseball game.</span>
                  </div>
              </div>
              <!-- 8 -->
              <div class="question">
                  <div class="number">
                      <span>8)</span>
                  </div>
                  <div class="text-container">
                      <span>The candle was</span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>burning</span>
                          </div>
                      </div>
                      <span>very quickly.</span>
                  </div>
              </div>
              <!-- 9 -->
              <div class="question">
                  <div class="number">
                      <span>9)</span>
                  </div>
                  <div class="text-container">
                      <span>The children</span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>drank</span>
                          </div>
                      </div>
                      <span>their chocolate milk happily.</span>
                  </div>
              </div>
              <!-- 10 -->
              <div class="question">
                  <div class="number">
                      <span>10)</span>
                  </div>
                  <div class="text-container">
                      <span>All the boys</span>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>are</span>
                          </div>
                      </div>
                      <span>wearing jeans today.</span>
                  </div>
              </div>




          </div>
      </div>
  </div>
  <div class="btn-row">
      <div class="col-12 text-center">
          <button class="button myButton">Submit</button>
      </div>
  </div>
</div>