<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
  </div>
	
	<div class="container">
		<div class="main-container ">
				<div class="row">
					<div class="heading-top  px-2 p-2 mt-2 mb-1">
						<div class="font-weight-bold ">
								Here are some fun facts for you!
						</div>
					</div>
				</div>
			<div class="row heading-container">
				<div class="col-xs-12">
					<h2 class="font-weight-bold heading">
						Click on the Present Tense Verbs in the following sentences.  
					</h2>
				</div>
			</div>
			<div class="row">
          <div class="Question-container">
              <div class="row m-0">
                <div class="col-12 p-0">
                  <div class="question mt-1 mt-xl-3">
                    <div><span class="pr-3">1)</span></div>
                    <div class="content"><span>Hands</span> <span>and</span> <span>feet</span> <span>have</span> <span>more</span> <span>than</span> <span>half</span> <span>of</span> <span>the</span> <span>bones</span> <span>in</span> <span>human</span> <span>body</span>.</div>
                  </div>
                </div>
                <div class="col-12 p-0">
                  <div class="question">
                    <div><span class="pr-3">2)</span></div>
                    <div class="content"><span></span> <span>Albert</span> <span>Einstein’s</span> <span>eyes</span> <span>are</span> <span>preserved</span> <span>in</span> <span>a</span> <span>safe</span> <span>in</span> <span>New</span> <span>York</span>.</div>
                  </div>
                </div>
                <div class="col-12 p-0">
                  <div class="question">
                    <div><span class="pr-3">3)</span></div>
                    <div class="content"><span></span> <span>The</span> <span>brain</span> <span>weighs</span> <span>less</span> <span>than</span> <span>2</span> <span>percent</span> <span>of</span> <span>the</span> <span>body</span> <span>weight</span>.</div>
                  </div>
                </div>
                <div class="col-12 p-0">
                  <div class="question">
                    <div><span class="pr-3">4)</span></div>
                    <div class="content"><span></span> <span>A</span> <span>giraffe’s</span> <span>tongue</span> <span>is</span> <span>21</span> <span>inches</span> <span>long</span>.</div>
                  </div>
                </div>
                <!--  -->
                <div class="col-12 p-0">
                  <div class="question">
                    <div><span class="pr-3">5)</span></div>
                    <div class="content"><span>Chocolates</span> <span>affect</span> <span>the</span> <span>functions</span> <span>of</span> <span>nervous</span> <span>system</span> <span>and</span> <span>heart</span> <span>in</span> <span>dogs</span>.</div>
                  </div>
                </div>
                <div class="col-12 p-0">
                  <div class="question">
                    <div><span class="pr-3">6)</span></div>
                    <div class="content"><span>Sounds</span> <span>travel</span> <span>three</span> <span>times</span> <span>quickly</span> <span>in</span> <span>water</span> <span>than</span> <span>in</span> <span>surface</span>.</div>
                  </div>
                </div>
                <div class="col-12 p-0">
                  <div class="question">
                    <div><span class="pr-3">7)</span></div>
                    <div class="content"><span></span> <span>A</span> <span>bee</span> <span>visits</span> <span>more</span> <span>than</span> <span>2</span> <span>million</span> <span>flowers</span> <span>to</span> <span>produce</span> <span>a</span> <span>single</span> <span>pound</span> <span>of</span> <span>honey</span>.</div>
                  </div>
                </div>
                <div class="col-12 p-0">
                  <div class="question">
                    <div><span class="pr-3">8)</span></div>
                    <div class="content"><span></span> <span>Pigs</span> <span>are</span> <span>the</span> <span>fourth</span> <span>smartest</span> <span>animals</span> <span>on</span> <span>the</span> <span>planet</span>.<span></span> </div>
                  </div>
                </div>
                <!--  -->
              </div>
          </div>
			</div>	
      <div class="btn-row">
        <button class="button myButton">Submit</button>
      </div>
		</div>
	</div>

</div>