<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
              <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide">
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>

    <div class="loadingDiv">
    </div>

    <div class="container">
        <div class="row">
            <div class="heading mt-3">
                <h1>
                    Click on the correct Antonyms<span class="comma">,</span> of the words given in bold.
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 Main_Container">
                <img src="assets/std03-antonyms-worksheet4/img/tree1.png" alt="" class="tree1">
                <img src="assets/std03-antonyms-worksheet4/img/tree2.png" alt="" class="tree2">
                <div class="Question_Container">
                    <div class="number">
                        <div>1)</div>
                        <div>2)</div>
                        <div>3)</div>
                        <div>4)</div>
                        <div>5)</div>
                        <div>6)</div>
                        <div>7)</div>
                        <div>8)</div>
                        <div>9)</div>
                        <div>10)</div>
                    </div>
                    <div class="content">
                        <div>depart</div>
                        <div>shout</div>
                        <div>break</div>
                        <div>include</div>
                        <div>wild</div>
                        <div>hungry</div>
                        <div>shrink</div>
                        <div>import</div>
                        <div>war</div>
                        <div>healthy</div>
                    </div>
                    <div class="options">
                        <div class="options_Row">
                            <div class="option"><span>go</span></div>
                            <div class="option"><span>went</span></div>
                            <div class="option right"><span>arrive</span></div>
                        </div>
                        <div class="options_Row">
                            <div class="option"><span>yell</span></div>
                            <div class="option right"><span>whisper</span></div>
                            <div class="option"><span>scream</span></div>
                        </div>
                        <div class="options_Row">
                            <div class="option right"><span>fix</span></div>
                            <div class="option"><span>damage</span></div>
                            <div class="option"><span>destroy</span></div>
                        </div>
                        <div class="options_Row">
                            <div class="option"><span>contain</span></div>
                            <div class="option right"><span>exclude</span></div>
                            <div class="option"><span>cover</span></div>
                        </div>
                        <div class="options_Row">
                            <div class="option"><span>dangerous</span></div>
                            <div class="option"><span>fresh</span></div>
                            <div class="option right"><span>tame</span></div>
                        </div>
                        <div class="options_Row">
                            <div class="option right"><span>full</span></div>
                            <div class="option"><span>starving</span></div>
                            <div class="option"><span>empty</span></div>
                        </div>
                        <div class="options_Row">
                            <div class="option"><span>small</span></div>
                            <div class="option"><span>grow</span></div>
                            <div class="option right"><span>expand</span></div>
                        </div>
                        <div class="options_Row">
                            <div class="option"><span>bring</span></div>
                            <div class="option right"><span>export</span></div>
                            <div class="option"><span>send</span></div>
                        </div>
                        <div class="options_Row">
                            <div class="option right"><span>peace</span></div>
                            <div class="option"><span>fight</span></div>
                            <div class="option"><span>battle</span></div>
                        </div>
                        <div class="options_Row">
                            <div class="option"><span>good</span></div>
                            <div class="option right"><span>sick</span></div>
                            <div class="option"><span>fit</span></div>
                        </div>
                    </div>
                </div>

                <img src="assets/std03-antonyms-worksheet4/img/girl1.png" alt="" class="girl1">
                <img src="assets/std03-antonyms-worksheet4/img/girl2.png" alt="" class="girl2">
            </div>
        </div>
        <div class="btn-row">
            <button class="button myButton">Submit</button>
        </div>

    </div>
</div>