<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="row">
      <div class="heading mt-3 mt-lg-4 mb-lg-4">
        <h1>
          Click in the correct eggs of ‘Yes’ or ‘No’ to colour them, if the Articles have been correctly used in
          sentences.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="Question_Container">
          <div class="Question">
            <div class="number">1)</div>
            <div class="content">It was a entertaining movie.</div>
            <div class="option">
              <div class="egg"> <img src="assets/std02-articles-worksheet7/img/egg.png" alt="" class="img-fluid wrong"> <span>Yes</span></div>
              <div class="egg"> <img src="assets/std02-articles-worksheet7/img/egg.png" alt="" class="img-fluid right"> <span>No</span></div>
            </div>
          </div>
          <div class="Question">
            <div class="number">2)</div>
            <div class="content">Peter ate a banana.</div>
            <div class="option">
              <div class="egg"> <img src="assets/std02-articles-worksheet7/img/egg.png" alt="" class="img-fluid right"> <span>Yes</span></div>
              <div class="egg"> <img src="assets/std02-articles-worksheet7/img/egg.png" alt="" class="img-fluid wrong"> <span>No</span></div>
            </div>
          </div>
          <div class="Question">
            <div class="number">3)</div>
            <div class="content">A orange is the citrus fruit.</div>
            <div class="option">
              <div class="egg"> <img src="assets/std02-articles-worksheet7/img/egg.png" alt="" class="img-fluid wrong"> <span>Yes</span></div>
              <div class="egg"> <img src="assets/std02-articles-worksheet7/img/egg.png" alt="" class="img-fluid right"> <span>No</span></div>
            </div>
          </div>
          <div class="Question">
            <div class="number">4)</div>
            <div class="content">We flew on a airplane to London.</div>
            <div class="option">
              <div class="egg"> <img src="assets/std02-articles-worksheet7/img/egg.png" alt="" class="img-fluid wrong"> <span>Yes</span></div>
              <div class="egg"> <img src="assets/std02-articles-worksheet7/img/egg.png" alt="" class="img-fluid right"> <span>No</span></div>
            </div>
          </div>
          <div class="Question">
            <div class="number">5)</div>
            <div class="content">Please put the letter in an envelope.</div>
            <div class="option">
              <div class="egg"> <img src="assets/std02-articles-worksheet7/img/egg.png" alt="" class="img-fluid right"> <span>Yes</span></div>
              <div class="egg"> <img src="assets/std02-articles-worksheet7/img/egg.png" alt="" class="img-fluid wrong"> <span>No</span></div>
            </div>
          </div>
          <div class="Question">
            <div class="number">6)</div>
            <div class="content">Jim and Janet are searching for a Easter eggs.</div>
            <div class="option">
              <div class="egg"> <img src="assets/std02-articles-worksheet7/img/egg.png" alt="" class="img-fluid wrong"> <span>Yes</span></div>
              <div class="egg"> <img src="assets/std02-articles-worksheet7/img/egg.png" alt="" class="img-fluid right"> <span>No</span></div>
            </div>
          </div>
          <div class="Question">
            <div class="number">7)</div>
            <div class="content">An apricot is a very nutritive fruit.</div>
            <div class="option">
              <div class="egg"> <img src="assets/std02-articles-worksheet7/img/egg.png" alt="" class="img-fluid right"> <span>Yes</span></div>
              <div class="egg"> <img src="assets/std02-articles-worksheet7/img/egg.png" alt="" class="img-fluid wrong"> <span>No</span></div>
            </div>
          </div>
          <div class="Question">
            <div class="number">8)</div>
            <div class="content">The Sahara Desert is the biggest desert in world.</div>
            <div class="option">
              <div class="egg"> <img src="assets/std02-articles-worksheet7/img/egg.png" alt="" class="img-fluid right"> <span>Yes</span></div>
              <div class="egg"> <img src="assets/std02-articles-worksheet7/img/egg.png" alt="" class="img-fluid wrong"> <span>No</span></div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row btn-row">
      <button class="button myButton">Submit</button>
    </div>
  </div>
</div>