<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>
  <div class="heading ">
    <div class="container">
      <h1>Click on the blanks and then click on the underlined words, to classify them correctly as Common and Proper
        Nouns.</h1>
    </div>
  </div>
  <div class="container Main">
    <div class="Main_Container">
      <div class="Common_Noun_Block">
        <div class="header header-common">Common Nouns</div>
        <div class="Answer">
          <div class="input_div"><input type="text">
            <div class="correct_answer"><span>restaurant</span></div>
          </div>
        </div>
        <div class="Answer">
          <div class="input_div"><input type="text">
            <div class="correct_answer"><span>bus</span></div>
          </div>
        </div>
        <div class="Answer">
          <div class="input_div"><input type="text">
            <div class="correct_answer"><span>country</span></div>
          </div>
        </div>
        <div class="Answer">
          <div class="input_div"><input type="text">
            <div class="correct_answer"><span>bottle</span></div>
          </div>
        </div>
        <div class="Answer">
          <div class="input_div"><input type="text">
            <div class="correct_answer"><span>children</span></div>
          </div>
        </div>
        <div class="Answer">
          <div class="input_div"><input type="text">
            <div class="correct_answer"><span>phones</span></div>
          </div>
        </div>
        <div class="Answer">
          <div class="input_div"><input type="text">
            <div class="correct_answer"><span>tablets</span></div>
          </div>
        </div>
        <div class="Answer">
          <div class="input_div"><input type="text">
            <div class="correct_answer"><span>computers</span></div>
          </div>
        </div>
        <div class="Answer">
          <div class="input_div"><input type="text">
            <div class="correct_answer"><span>watches</span></div>
          </div>
        </div>
      </div>
      <div class="Question_Container">
        <div class="Question_Div">
          <div class="Question_Block">
            <div class="Question">
              <div class="number">1)</div>
              <div class="content"><span>Jason</span> is eating at a <span>restaurant</span>.</div>
            </div>
            <div class="Question">
              <div class="number">2)</div>
              <div class="content">We took a ride in a <span>bus</span> over <span>The Bay Bridge</span>.</div>
            </div>
            <div class="Question">
              <div class="number">3)</div>
              <div class="content"><span>Scotland</span> is a beautiful <span>country</span>.</div>
            </div>
            <div class="Question">
              <div class="number">4)</div>
              <div class="content"><span>Lucy</span> drank <span>Pepsi</span> from the <span>bottle</span>.</div>
            </div>
            <div class="Question">
              <div class="number">5)</div>
              <div class="content">The <span>children</span> want to go to <span>Disneyland</span>.</div>
            </div>
            <div class="Question">
              <div class="number">6)</div>
              <div class="content"><span>Apple Inc.</span> manufactures <span>phones</span>, <span>tablets</span>,
                <span>computers</span> and <span>watches</span>.</div>
            </div>
            <div class="Question">
              <div class="number">7)</div>
              <div class="content"><span>Mary</span> and <span>Megan</span> are here to visit me.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="Proper_Noun_Block">
        <div class="header header-proper">Proper Nouns</div>
        <div class="Answer">
          <div class="input_div">
            <div class="correct_answer"><span>Jason</span></div><input type="text">
          </div>
        </div>
        <div class="Answer">
          <div class="input_div">
            <div class="correct_answer"><span>The Bay Bridge</span></div><input type="text">
          </div>
        </div>
        <div class="Answer">
          <div class="input_div">
            <div class="correct_answer"><span>Scotland</span></div><input type="text">
          </div>
        </div>
        <div class="Answer">
          <div class="input_div">
            <div class="correct_answer"><span>Lucy</span></div><input type="text">
          </div>
        </div>
        <div class="Answer">
          <div class="input_div">
            <div class="correct_answer"><span>Pepsi</span></div><input type="text">
          </div>
        </div>
        <div class="Answer">
          <div class="input_div">
            <div class="correct_answer"><span>Disneyland</span></div><input type="text">
          </div>
        </div>
        <div class="Answer">
          <div class="input_div">
            <div class="correct_answer"><span>Apple Inc.</span></div><input type="text">
          </div>
        </div>
        <div class="Answer">
          <div class="input_div">
            <div class="correct_answer"><span>Mary</span></div><input type="text">
          </div>
        </div>
        <div class="Answer">
          <div class="input_div">
            <div class="correct_answer"><span>Megan</span></div><input type="text">
          </div>
        </div>
      </div>
    </div>
    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>

  </div>
</div>