


@font-face {
    font-family: "CustomFontBold";
    src: url("/assets/font/ntailub.ttf") format("truetype");	
}
@font-face {
    font-family: mt-rounded-bold;
    src: url(/assets/font/ARLRDBD.ttf) format("truetype");
    font-weight: bold;
  }
.bg{
    min-height:100vh;
    background:url(/assets/std01-synonyms-worksheet1/img/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: bottom;
	overflow-x:hidden;
    font-family:Microsoft New Tai lue;
    color:#000;
    font-size:24px;
}
.imgBox img{
    cursor:pointer;
   
}

.heading{
    border:4px solid #fff;
    -webkit-box-shadow:1px 1px 10px rgba(0,0,0,.5);
    -moz-box-shadow:1px 1px 10px rgba(0,0,0,.5);
    box-shadow:1px 1px 10px rgba(0,0,0,.5);
    display: inline-block;
}

h2{
    font-family: 'mt-rounded-bold','Microsoft New Tai Lue','Arial';
    color:#000;
    font-size: 2.1rem;
    /* padding-left: 150px; */
}





.hr
{
    width: 12%;
    position: absolute;
    left: 9vw;
}

.fm
{
    width: 12%;
    position: absolute;
    top: 55vh;
    left: 9vw;
}

.bm
{
    width: 12%;
    position: absolute;
    top: 35vh;
    left: 22vw;
}
.qs
{
    width: 12%;
    position: absolute;
    top: 12vh;
    left: 37vw;
}
.rs
{
    width: 12%;
    position: absolute;
    top: 55vh;
    left: 37vw;
}
.sc
{
    width: 12%;
    position: absolute;
    top: 35vh;
    left: 53vw;
}
.ds
{
    width: 12%;
    position: absolute;
    top: 8vh;
    left: 63vw;
}
.as
{
    width: 12%;
    position: absolute;
    top: 50vh;
    left: 68vw;
}
.hg
{
    width: 12%;
    position: absolute;
    top: 18vh;
    left: 78vw;
}


/* ans */


.hr-ans
{
    width: 12%;
    position: absolute;
    left: 9vw;
}
.fm-ans
{
    width: 12%;
    position: absolute;
    top: 55vh;
    left: 9vw;
}

.bm-ans
{
    width: 12%;
    position: absolute;
    top: 35vh;
    left: 22vw;
}
.qs-ans
{
    width: 12%;
    position: absolute;
    top: 12vh;
    left: 37vw;
}
.rs-ans
{
    width: 12%;
    position: absolute;
    top: 55vh;
    left: 37vw;
}
.sc-ans
{
    width: 12%;
    position: absolute;
    top: 35vh;
    left: 53vw;
}
.ds-ans
{
    width: 12%;
    position: absolute;
    top: 8vh;
    left: 63vw;
}
.as-ans
{
    width: 12%;
    position: absolute;
    top: 50vh;
    left: 68vw;
}
.hg-ans
{
    width: 12%;
    position: absolute;
    top: 18vh;
    left: 78vw;
}



@media (min-width:100px) and (max-width:575px){
    .bg{
        min-height:100vh;
        background:url(/assets/std01-synonyms-worksheet1/img/bg_portrait.jpg) no-repeat center center fixed;
        background-size: cover;
        background-position: bottom;
        font-size:12px;
		
    }
    
    h2{
        font-size:18px;
        padding-left: 10px;
    }
	
	
    .hr {
        width: 27%;
        position: absolute;
        top: 20vh;
    }
    .fm {
        width: 27%;
        top: 70vh;
    }
    .bm {
        width: 27%;
        top: 43vh;
        left: 4vw;
    }
    .qs {
        width: 27%;
        top: 12vh;
        left: 34vw;
    }
    .rs {
        width: 27%;
        top: 65vh;
        left: 36vw;
    }
    .sc {
        width: 27%;
        top: 35vh;
        left: 38vw;
    }
    .ds {
        width: 27%;
        top: 13vh;
        left: 68vw;
    }
    .as {
        width: 27%;
        top: 58vh;
        left: 64vw;
    }
    .hg {
        width: 27%;
        top: 34vh;
        left: 68vw;
    }

   /* ANS */

   .hr-ans {
    width: 27%;
    position: absolute;
    top: 20vh;
}
.fm-ans {
    width: 27%;
    top: 70vh;
}
.bm-ans {
    width: 27%;
    top: 43vh;
    left: 4vw;
}
.qs-ans {
    width: 27%;
    top: 12vh;
    left: 34vw;
}
.rs-ans {
    width: 27%;
    top: 65vh;
    left: 36vw;
}
.sc-ans {
    width: 27%;
    top: 35vh;
    left: 38vw;
}
.ds-ans {
    width: 27%;
    top: 13vh;
    left: 68vw;
}
.as-ans {
    width: 27%;
    top: 58vh;
    left: 64vw;
}
.hg-ans {
    width: 27%;
    top: 34vh;
    left: 68vw;
}

}
@media (min-width:565px) and (max-width:575px){

    .imgBox img {
        cursor: pointer;
        width: 100px;
    }
    h2{
        padding-left: 45px;
    }
    .hr {
        width: 20%;
        top: 20vh;
        left: 5vw;
    }
    .fm {
        width: 20%;
        top: 63vh;
        left: 5vw;
    }
    .bm {
        width: 20%;
        top: 43vh;
        left: 20vw;
    }
    .qs {
        width: 20%;
        top: 12vh;
        left: 33vw;
    }
    .rs {
        width: 20%;
    top: 65vh;
    left: 33vw;
    }
    .ds {
        width: 20%;
        top: 13vh;
        left: 58vw;
    }
    .as {
        width: 20%;
        top: 58vh;
        left: 58vw;
    }
    .hg {
        width: 20%;
        top: 34vh;
        left: 75vw;
    }
    .sc {
        width: 27%;
        top: 37vh;
        left: 43vw;
    }

}
@media (min-width: 576px) and (max-width: 767px){
    .container{
        max-width: unset;
    }
    .bg{
        font-size:18px;
    }
    h2{
        font-size:20px;
        padding-left: 10px;
    }
	
    
    .col-4{
        padding:0 10px;
    }
    .col-8{
        padding:0 5px;
    }
    .heading + h2{
        font-size:24px;
    }
    .hr {
        width: 15%;
        position: absolute;
        top: 14vh;
        left: 11vw;
    }
    .fm {
        width: 15%;
        top: 50vh;
        left: 10vw;
    }
    .bm {
        width: 15%;
        top: 35vh;
        left: 25vw;
    }
    .qs {
        width: 15%;
        top: 14vh;
        left: 39vw;
    }
    .rs {
        width: 15%;
        top: 55vh;
        left: 38vw;
    }
    .sc {
        width: 15%;
        top: 42vh;
        left: 54vw;
    }
    .ds {
        width: 15%;
        top: 13vh;
        left: 59vw;
    }
    .as {
        width: 15%;
        top: 50vh;
        left: 71vw;
    }
    .hg {
        width: 15%;
        top: 13vh;
        left: 74vw;
    }

    /* ANS */

    /* .hr-ans {
        width: 20%;
        position: absolute;
        top: 14vh;
        left: 1vw;
    }
    .fm-ans {
        width: 20%;
        top: 50vh;
        left: 1vw;
    }
    .bm-ans {
        width: 20%;
        top: 35vh;
        left: 21vw;
    }
    .qs-ans {
        width: 20%;
        top: 12vh;
        left: 39vw;
    }
    .rs-ans {
        width: 20%;
        top: 55vh;
        left: 38vw;
    }
    .sc-ans {
        width: 20%;
        top: 35vh;
        left: 55vw;
    }
    .ds-ans {
        width: 20%;
        top: 8vh;
        left: 64vw;
    }
    .as-ans {
        width: 20%;
        top: 50vh;
        left: 72vw;
    }
    .hg-ans {
        width: 20%;
        top: 13vh;
        left: 79vw;
    } */



    
}
@media (min-width: 768px) and (max-width: 991px){
    .container{
        max-width: unset;
    }
    .bg{
    font-size:16px;
}
h2{
    padding-left: 27px;
    font-size: 26px;
}
.hr {
    width: 13%;
    position: absolute;
    top: 23vh;
    left: 9vw;
}
.fm {
    width: 13%;
    position: absolute;
    top: 55vh;
    left: 9vw;
}
.bm {
    width: 13%;
    position: absolute;
    top: 35vh;
    left: 24vw;
}
.qs {
    width: 13%;
    position: absolute;
    top: 14vh;
    left: 37vw;
}
.rs {
    width: 13%;
    position: absolute;
    top: 55vh;
    left: 37vw;
}
.ds {
    width: 12%;
    position: absolute;
    top: 14vh;
    left: 63vw;
}
.as {
    width: 13%;
    position: absolute;
    top: 50vh;
    left: 68vw;
}
.hg {
    width: 13%;
    position: absolute;
    top: 18vh;
    left: 78vw;
}

   
}
@media (min-width: 992px) and (max-width: 1199px) {
	
    .container {
        max-width: unset;
    }
    h2{
        padding-left: 57px;
        font-size: 36px;
    }

    
}
@media (min-width: 1200px){    
    .Question > div{
        width: 13%;
    }
}

@media (min-width: 992px){
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    .bg{
            font-size: 27px;
        }
    .hr {
        width: 23%;
        position: absolute;
        top: 15vh;
        left: 4vw;
    }
    .bm {
        width: 23%;
        position: absolute;
        top: 39vh;
        left: 6vw;
    }
    .fm {
        width: 23%;
        position: absolute;
        top: 60vh;
    }
    .qs {
        width: 23%;
        position: absolute;
        top: 12vh;
        left: 42vw;
    }
    .rs {
        width: 23%;
        position: absolute;
        top: 60vh;
        left: 42vw;
    }
    .ds {
        width: 23%;
        position: absolute;
        top: 8vh;
        left: 70vw;
    }
    .hg {
        width: 23%;
        position: absolute;
        top: 35vh;
        left: 72vw;
    }
    .as {
        width: 23%;
        position: absolute;
        top: 60vh;
        left: 73vw;
    }
    .sc {
        width: 23%;
        position: absolute;
        top: 35vh;
        left: 41vw;
    }


    .hr-ans {
        width: 23%;
        position: absolute;
        top: 11vh;
        left: 4vw;
    }
    .bm-ans {
        width: 23%;
        position: absolute;
        top: 35vh;
        left: 6vw;
    }
    .fm-ans {
        width: 23%;
        position: absolute;
        top: 55vh;
    }
    .qs-ans {
        width: 23%;
        position: absolute;
        top: 12vh;
        left: 42vw;
    }
    .rs-ans {
        width: 23%;
        position: absolute;
        top: 60vh;
        left: 42vw;
    }
    .ds-ans {
        width: 23%;
        position: absolute;
        top: 8vh;
        left: 70vw;
    }
    .hg-ans {
        width: 23%;
        position: absolute;
        top: 35vh;
        left: 72vw;
    }
    .as-ans {
        width: 23%;
        position: absolute;
        top: 60vh;
        left: 73vw;
    }
    .sc-ans {
        width: 23%;
        position: absolute;
        top: 35vh;
        left: 41vw;
    }
    h2{
        font-size: 2.3rem;
        padding-left: 57px;
    }

}

/* Landscape */ 
@media only screen and (min-width: 1366px) and (orientation: landscape) { 



}

/*Portrait*/ 
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	.bg{
        font-size: 32px;
    }
h2{
    font-size: 2.5rem;
    padding-left: 124px;
}
	
}

@media (min-width: 1900px){
    .container{
        max-width: 1500px;
    }
    .bg{
        font-size: 32px;
    }
    h2 {
        font-size: 2.6rem;
        padding: 10px;
        margin-top: 10px;
    }
}


.loadingDiv {
    position: fixed;;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.4);
    background-image:url('/assets/images/loader.gif');
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    background-size: 85px;
  }

.result{
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:rgba(0,0,0,.8);
    z-index:2147483647;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor:pointer;
}
.result .Box{
    position: relative;
    padding:45px 55px 30px 20px
}
.result .imgBox{
    display:none;
}
.result img{
    max-width:100%;
}
.result .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor:pointer;
}
.result .TextBox h1 {
    font-weight:bold;
    text-align:center;
    color:#fff;
    -webkit-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	-moz-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	padding:10%;
	max-width:800px;
}
@media(min-width:100px) and (max-width:575px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
    .result .close {
        right: 15px;
    }
}
@media(min-width:576px) and (max-width:767px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
}
.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:inherit;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	line-height: 1;
	outline:0 !important;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}

.button.playAgain {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:inherit;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.button.playAgain:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.button.playAgain:active {
	position:relative;
	top:1px;
}


#toggle {
    display: block;
    right: 56px;
    top: 35px;
    background: #f3ecec;
    border-radius: 50%;
    border: 4px solid #3b7ee2;
    opacity: 0.7;
    text-align: center;
    padding: 10px;
    
  }

  #toggle:hover
  {
    opacity: 1;
    border: 4px solid #3b7ee2;
    
  }
  
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
  }
  #toggle span {
    position: relative;
    display: inline;
  }
  
  #toggle span
  {
    width: 50px;
    height: 50px;
    text-align: center;
    padding:0%;
  }

  #toggle span img
  {
    width:25px;
    height:25px;
    margin:0;
  }
  
  /* on activation */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
    -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  

  /* menu appearance*/
#menu {
    position: absolute;
    color: #000;
    width: 140px;
    padding: 10px;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0px 3px 11px 1px rgba(27, 24, 24, 0.24);
    font-size: 16px;
    left: -190%;
    z-index: 9;
    text-align: right;
    top: 145%;
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;  
}
.change{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1; 
}
.notchange{
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#menu:after {
    position: absolute;
    top: -20px;
    left: 107px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #ffffff;
}
ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-weight: normal;
}
li a {
    padding: 5px;
    color: #000;
    text-decoration: none;
    transition: all .2s;
}
li a:hover,
li a:focus {
    background: #1798dc;
    color: #fff;
    text-decoration: none;
}
.menu-block{
    position: fixed;
    right: 46px;
    top: 35px;
    z-index: 2147483646;
    height: 50px;
}
.up {
    transform: rotate(180deg) translateY(0%);
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
} 
@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
}
@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
} 

@media(min-width:100px) and (max-width:575px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 6px 5px;
        height: 43px;
        width: 43px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:576px) and (max-width:767px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 6px 5px 0;
        height: 43px;
        width: 43px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:768px) and (max-width:991px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
        height: 43px;
        width: 43px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .menu-block {
        right: 10px;
    }
    #menu:after {
        left: 140px;
    }
    #menu {
        font-size: 18px;
        left: -240%;
        top: 140%;
        width: 175px;
    }
    #toggle {
        height: 53px;
        width: 53px;
        /* line-height: 48px; */
        padding: 8px;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 26px;
    }
    #toggle {
        height: 60px;
        width: 60px;
        line-height: 1;
        padding: 11px 5px;
    }
    .menu-block {
        right: 20px;
    }
    #menu:after {
        left: 205px;
    }
    #toggle span img {
        width: 33px;
        height: 33px;
        margin: 0;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 30px;
    }
    #toggle{
        height: 60px;
        width: 60px;
        /* line-height: 55px; */
        padding: 10px;
    }
}
@media(min-width:1200px){
	#menu {
        top: 70px;
        left: -135px;
        width: 180px;
        font-size: 18px;
    }
    #menu:after {
        left: 145px;
    }
    #toggle{
        height: 55px;
        width: 55px;
        /* line-height: 50px; */
    }
}

// inline
.myButton {
    -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
    -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
    background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437', GradientType=0);
    background-color: #c62d1f;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    /* font-size:17px; */
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
    outline: 0 !important;
}

.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
    background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f', GradientType=0);
    background-color: #f24437;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.btn-row {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

}


.click {
    /* filter: drop-shadow(2px 2px 0 #fff) drop-shadow(-2px 2px 0 #fff) drop-shadow(2px -2px 0 #fff) drop-shadow(-2px -2px 0 #fff) */
    filter: drop-shadow(#f5f106 4px 4px 5px) drop-shadow(#f5f106 -4px 4px 5px) drop-shadow(#f5f106 4px -4px 5px) drop-shadow(#f5f106 -4px -4px 5px);
   -webkit-filter: drop-shadow(#f5f106 4px 4px 5px) drop-shadow(#f5f106 -4px 4px 5px) drop-shadow(#f5f106 4px -4px 5px) drop-shadow(#f5f106 -4px -4px 5px);
}
.hide{
display:none;
}

.result .TextBox h1 {
    font-size: 2.5rem;
    font-family: 'mt-rounded-bold','Microsoft New Tai Lue','Arial';
    margin-top: 0;
	font-weight: normal;
	}