<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
  <div class="heading">
    <h1>Click on the blanks and then click on the correct Rhyming Words from the help box<span class="comma">,</span> of the given words.</h1>
  </div>
      <div class="Main_Container">
          <div class="Option_Container">
              <div class="options">
                  <div class="option">jar</div>
                  <div class="option">hook</div>
                  <div class="option">sheep</div>
                  <div class="option">cook</div>
                  <div class="option">balloon</div>
                  <div class="option">car</div>
                  <div class="option">fan</div>
                  <div class="option">thin</div>
                  <div class="option">pin</div>
                  <div class="option">pan</div>
                  <div class="option">weep</div>
                  <div class="option">spoon</div>
              </div>
          </div>
          <div class="Question_Container">

                  <div class="Main_Row">
                          <div class="Question_Block">
                              <div class="Question">
                                  <div class="number">1)</div>
                                  <div class="content">man</div>
                              </div>
                              <div class="imgBlock">
                                  <img src="assets/std01-rhyming-words-worksheet8/img/man.png" alt="">
                              </div>
                          </div>
                          <div class="Answer_Block">
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>fan</span></div>
                              </div>
                              <div class="input_div">
                                      <input type="text"><div class="correct_answer"><span>pan</span></div>
                                  </div>
                          </div>
                          <div class="Answer_Block">
                                
                              <div class="imgBlock">
                                      <img src="assets/std01-rhyming-words-worksheet8/img//fan.png" alt="">
                                  </div>
                              <div class="imgBlock">
                                  <img src="assets/std01-rhyming-words-worksheet8/img/pan.png" alt="">
                              </div>
                          </div>
                      </div>
              <div class="Main_Row">
                  <div class="Question_Block">
                      <div class="Question">
                          <div class="number">2)</div>
                          <div class="content">moon</div>
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet8/img/moon.png" alt="" class="moon">
                      </div>
                  </div>
                  <div class="Answer_Block">
                      <div class="input_div">
                          <input type="text"><div class="correct_answer"><span>spoon</span></div>
                      </div>
                      <div class="input_div">
                          <input type="text"><div class="correct_answer"><span>balloon</span></div>
                      </div> 
                    
                  </div>
                  <div class="Answer_Block">
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet8/img//spoon.png" alt="">
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet8/img/balloon.png" alt="">
                      </div>
                  </div>
              </div>
              <div class="Main_Row">
                  <div class="Question_Block">
                      <div class="Question">
                          <div class="number">3)</div>
                          <div class="content">book</div>
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet8/img/book.png" alt="">
                      </div>
                  </div>
                  <div class="Answer_Block">
                      <div class="input_div">
                          <input type="text"><div class="correct_answer"><span>cook</span></div>
                      </div>
                      <div class="input_div">
                          <input type="text"><div class="correct_answer"><span>hook</span></div>
                      </div> 
                    
                  </div>
                  <div class="Answer_Block">
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet8/img//cook.png" alt="">
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet8/img/hook.png" alt="">
                      </div>
                  </div>
              </div>
              <div class="Main_Row">
                  <div class="Question_Block">
                      <div class="Question">
                          <div class="number">4)</div>
                          <div class="content">bin</div>
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet8/img/bin.png" alt="">
                      </div>
                  </div>
                  <div class="Answer_Block">
                      <div class="input_div">
                          <input type="text"><div class="correct_answer"><span>pin</span></div>
                      </div>
                      <div class="input_div">
                          <input type="text"><div class="correct_answer"><span>thin</span></div>
                      </div> 
                    
                  </div>
                  <div class="Answer_Block">
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet8/img//pin.png" alt="">
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet8/img/thin.png" alt="">
                      </div>
                  </div>
              </div>
              <div class="Main_Row">
                  <div class="Question_Block">
                      <div class="Question">
                          <div class="number">5)</div>
                          <div class="content">jeep</div>
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet8/img/jeep.png" alt="">
                      </div>
                  </div>
                  <div class="Answer_Block">
                      <div class="input_div">
                          <input type="text"><div class="correct_answer"><span>sheep</span></div>
                      </div>
                      <div class="input_div">
                          <input type="text"><div class="correct_answer"><span>weep</span></div>
                      </div> 
                    
                  </div>
                  <div class="Answer_Block">
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet8/img//sheep.png" alt="">
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet8/img/weep.png" alt="">
                      </div>
                  </div>
              </div>
              <div class="Main_Row">
                  <div class="Question_Block">
                      <div class="Question">
                          <div class="number">6)</div>
                          <div class="content">star</div>
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet8/img/star.png" alt="">
                      </div>
                  </div>
                  <div class="Answer_Block">
                      <div class="input_div">
                          <input type="text"><div class="correct_answer"><span>car</span></div>
                      </div>
                      <div class="input_div">
                          <input type="text"><div class="correct_answer"><span>jar</span></div>
                      </div> 
                      
                  </div>
                  <div class="Answer_Block">
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet8/img//car.png" alt="">
                      </div>
                      <div class="imgBlock">
                          <img src="assets/std01-rhyming-words-worksheet8/img/jar.png" alt="">
                      </div>
                  </div>
              </div>
          </div>
  </div>
  <div class="btn-row">
    <button class="button myButton">Submit</button>
  </div>
      
  </div>
</div>