<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text fabulous hide">
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="row">
      <div class="heading mx-auto mt-2  pt-2">
        <h1>
          Click in the pumpkins to colour them, if the words in them are Proper Nouns.
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 Main_Container">
        <div class="chestnut_rod">
          <img src="assets/std02-proper-nouns-worksheet1/img/chestnut_road.png" alt="" class="img-fluid right" data-text="chestnut_road">
        </div>
        <div class="truck">
          <img src="assets/std02-proper-nouns-worksheet1/img/truck.png" alt="" class="img-fluid wrong" data-text="truck">

        </div>
        <div class="mickey_mouse">
          <img src="assets/std02-proper-nouns-worksheet1/img/mickey_mouse.png" alt="" class="img-fluid right" data-text="mickey_mouse">

        </div>
        <div class="petal">
          <img src="assets/std02-proper-nouns-worksheet1/img/petal.png" alt="" class="img-fluid wrong" data-text="petal">

        </div>
        <div class="mercury">
          <img src="assets/std02-proper-nouns-worksheet1/img/mercury.png" alt="" class="img-fluid right" data-text="mercury">

        </div>
        <div class="college">
          <img src="assets/std02-proper-nouns-worksheet1/img/college.png" alt="" class="img-fluid wrong" data-text="college">

        </div>
        <div class="cheese">
          <img src="assets/std02-proper-nouns-worksheet1/img/cheese.png" alt="" class="img-fluid wrong" data-text="cheese">

        </div>
        <div class="samsung">
          <img src="assets/std02-proper-nouns-worksheet1/img/samsung.png" alt="" class="img-fluid right" data-text="samsung">

        </div>
        <div class="big_ben">
          <img src="assets/std02-proper-nouns-worksheet1/img/big_ben.png" alt="" class="img-fluid right" data-text="big_ben">

        </div>
        <div class="joe">
          <img src="assets/std02-proper-nouns-worksheet1/img/joe.png" alt="" class="img-fluid right" data-text="joe">

        </div>
        <div class="village">
          <img src="assets/std02-proper-nouns-worksheet1/img/village.png" alt="" class="img-fluid wrong" data-text="village">

        </div>
        <div class="helen">
          <img src="assets/std02-proper-nouns-worksheet1/img/helen.png" alt="" class="img-fluid right" data-text="helen">

        </div>
      </div>
    </div>
    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>
  </div>

</div>