<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>

    <div class="loadingDiv">
    </div>

    <div class="container">
        <div class="row">
            <div class="heading one mt-3">
                <h1>
                    <!-- Fill in the blanks with adjectives of quantity given in the help box to
                    complete the sentences. -->
                    Click on the blanks and then click on the correct Adjectives of Quantity from the help box, to
                    complete the sentences.
                </h1>
            </div>
            <div class="heading two">
                <h1>Adjectives of quantity answer the question ‘how much’.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 Option_Container text-center">
                <div class="options d-inline-block">
                    <table>
                        <tr>
                            <td><span>any</span></td>
                            <td><span>enough</span></td>
                            <td><span>most</span></td>
                            <td><span>several</span></td>
                            <td><span>great</span></td>
                        </tr>
                        <tr>
                            <td><span>little</span></td>
                            <td><span>some</span></td>
                            <td><span>sufficient</span></td>
                            <td><span>abundant</span></td>
                            <td><span>all</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 main_Container">
                <img src="assets/std03-adjectives-of-quantity-worksheet2/img/container_bg.png" alt="" class="img-fluid bg">
                <img src="assets/std03-adjectives-of-quantity-worksheet2/img/container_bg_portrait.png" alt="" class="img-fluid d-none bg_portrait">

                <div class="Question_Container">
                    <div class="Question">
                        <div class="number">1)</div>
                        <div class="content">
                            The ballerinas had <input type="text">
                            <div class="correct_answer"><span>enough</span></div> time to practise before their
                            performance.
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">2)</div>
                        <div class="content">
                            China has <input type="text">
                            <div class="correct_answer"><span>abundant</span></div> natural resources.
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">3)</div>
                        <div class="content">
                            Many people in the world have <input type="text">
                            <div class="correct_answer"><span>little</span></div> faith in God.
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">4)</div>
                        <div class="content">
                            He spent <input type="text">
                            <div class="correct_answer"><span>all</span></div>his money in raising his children.
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">5)</div>
                        <div class="content">
                            There was <input type="text">
                            <div class="correct_answer"><span>sufficient</span></div> sunshine to dry the clothes.
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">6)</div>
                        <div class="content">
                            Kate does not eat <input type="text">
                            <div class="correct_answer"><span>any</span></div> rice.
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">7)</div>
                        <div class="content">
                            There are <input type="text">
                            <div class="correct_answer"><span>several</span></div> ways to cook an egg plant.
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">8)</div>
                        <div class="content">
                            Can I have <input type="text">
                            <div class="correct_answer"><span>some</span></div> water please?
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">9)</div>
                        <div class="content">
                            The nurse took <input type="text">
                            <div class="correct_answer"><span>great</span></div> care of the baby.
                        </div>
                    </div>
                    <div class="Question">
                        <div class="number">10)</div>
                        <div class="content">
                            <input type="text" class="capitalize">
                            <div class="correct_answer"><span>Most</span></div> people in the world can speak only two
                            languages.
                        </div>
                    </div>
                    <!-- <a class="submit btn btn-sm btn-primary">SUBMIT</a> -->
                </div>


                <div class="row btn-row mb-3">
                    <div class="col-12 text-center">
                        <button class="button myButton">Submit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>