<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>v
		</div>
	</div>

	<div class="loadingDiv">
	</div>

	<div class="container">
		<div class="row heading-container">
			<div class="col-12 p-0 mt-3">
				<h2 class="font-weight-bold heading">
					<!-- Colour the correct box of positive, comparative or superlative 
					degree for the underlined adjectives in the sentences. -->
				Click in the correct boxes of Degrees of Comparison, to colour them, that identifies the underlined Adjectives.
				</h2>

			</div>
		</div>
		<div class="row">
			<div class="Question-container mt-2 mt-xl-4">
				<div class="row m-0">
					<div class="question d-flex w-100">
						<div class="number"><span>1</span></div>
						<div class="question-number">
							<div class="row m-0">
								<div class="col-12 col-sm-6 p-0">
									<div class="row m-0">
										<div class="text-container">
											<div><span>Canada </span><span>is </span><span
													class="underlined">greener</span> <span>with </span><span>forest
												</span><span>than </span><span>America</span>.</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-6 p-0">
									<div class="row m-0 text-center options">
										<!-- positive -->
										<div class="col-3 p-0">
											<div>
												<div class="wrong option">
													<span>positive</span>
												</div>
											</div>
										</div>
										<!--comparative  -->
										<div class="col-4 p-0">
											<div>
												<div class="correct option">
													<span>comparative</span>
												</div>
											</div>
										</div>
										<!--superlative -->
										<div class="col-4 p-0">
											<div>
												<div class="wrong option">
													<span>superlative</span>
												</div>
											</div>
										</div>
										<!-- end -->

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 2 -->
					<div class="question d-flex w-100">
						<div class="number"><span>2</span></div>
						<div class="question-number">
							<div class="row m-0">
								<div class="col-12 col-sm-6 p-0">
									<div class="row m-0">
										<div class="text-container">
											<div><span>Gina </span><span>is </span><span>the </span><span
													class="underlined">most talented</span> <span>girl </span><span>in
												</span><span>my </span><span>class</span>.</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-6 p-0">
									<div class="row m-0 text-center options">
										<!-- positive -->
										<div class="col-3 p-0">
											<div>
												<div class="wrong option">
													<span>positive</span>
												</div>
											</div>
										</div>
										<!--comparative  -->
										<div class="col-4 p-0">
											<div>
												<div class="wrong option">
													<span>comparative</span>
												</div>
											</div>
										</div>
										<!--superlative -->
										<div class="col-4 p-0">
											<div>
												<div class="correct option">
													<span>superlative</span>
												</div>
											</div>
										</div>
										<!-- end -->

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 3 -->
					<div class="question d-flex w-100">
						<div class="number"><span>3</span></div>
						<div class="question-number">
							<div class="row m-0">
								<div class="col-12 col-sm-6 p-0">
									<div class="row m-0">
										<div class="text-container">
											<div><span>The </span><span>owl </span><span>is </span><span>a </span><span
													class="underlined">wise</span> <span>bird</span>.</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-6 p-0">
									<div class="row m-0 text-center options">
										<!-- positive -->
										<div class="col-3 p-0">
											<div>
												<div class="correct option">
													<span>positive</span>
												</div>
											</div>
										</div>
										<!--comparative  -->
										<div class="col-4 p-0">
											<div>
												<div class="wrong option">
													<span>comparative</span>
												</div>
											</div>
										</div>
										<!--superlative -->
										<div class="col-4 p-0">
											<div>
												<div class="wrong option">
													<span>superlative</span>
												</div>
											</div>
										</div>
										<!-- end -->

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 4 -->
					<div class="question d-flex w-100">
						<div class="number"><span>4</span></div>
						<div class="question-number">
							<div class="row m-0">
								<div class="col-12 col-sm-6 p-0">
									<div class="row m-0">
										<div class="text-container">
											<div><span>Jake </span><span>was </span><span class="underlined">more
													helpful</span> <span>than </span><span>Nick </span><span>in
												</span><span>my </span><span>project</span>.</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-6 p-0">
									<div class="row m-0 text-center options">
										<!-- positive -->
										<div class="col-3 p-0">
											<div>
												<div class="wrong option">
													<span>positive</span>
												</div>
											</div>
										</div>
										<!--comparative  -->
										<div class="col-4 p-0">
											<div>
												<div class="correct option">
													<span>comparative</span>
												</div>
											</div>
										</div>
										<!--superlative -->
										<div class="col-4 p-0">
											<div>
												<div class="wrong option">
													<span>superlative</span>
												</div>
											</div>
										</div>
										<!-- end -->

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 5 -->
					<div class="question d-flex w-100">
						<div class="number"><span>5</span></div>
						<div class="question-number">
							<div class="row m-0">
								<div class="col-12 col-sm-6 p-0">
									<div class="row m-0">
										<div class="text-container">
											<div><span>Cotton </span><span>is </span><span>not </span><span>as
												</span><span class="underlined">light</span> <span>as
												</span><span>feather</span>.</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-6 p-0">
									<div class="row m-0 text-center options">
										<!-- positive -->
										<div class="col-3 p-0">
											<div>
												<div class="correct option">
													<span>positive</span>
												</div>
											</div>
										</div>
										<!--comparative  -->
										<div class="col-4 p-0">
											<div>
												<div class="wrong option">
													<span>comparative</span>
												</div>
											</div>
										</div>
										<!--superlative -->
										<div class="col-4 p-0">
											<div>
												<div class="wrong option">
													<span>superlative</span>
												</div>
											</div>
										</div>
										<!-- end -->

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 6 -->
					<div class="question d-flex w-100">
						<div class="number"><span>6</span></div>
						<div class="question-number">
							<div class="row m-0">
								<div class="col-12 col-sm-6 p-0">
									<div class="row m-0">
										<div class="text-container">
											<div><span>Which </span><span>is </span><span>the </span><span
													class="underlined">longest</span> <span>river </span><span>in
												</span><span>the </span><span>world</span>?</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-6 p-0">
									<div class="row m-0 text-center options">
										<!-- positive -->
										<div class="col-3 p-0">
											<div>
												<div class="wrong option">
													<span>positive</span>
												</div>
											</div>
										</div>
										<!--comparative  -->
										<div class="col-4 p-0">
											<div>
												<div class="wrong option">
													<span>comparative</span>
												</div>
											</div>
										</div>
										<!--superlative -->
										<div class="col-4 p-0">
											<div>
												<div class="correct option">
													<span>superlative</span>
												</div>
											</div>
										</div>
										<!-- end -->

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 7 -->
					<div class="question d-flex w-100">
						<div class="number"><span>7</span></div>
						<div class="question-number">
							<div class="row m-0">
								<div class="col-12 col-sm-6 p-0">
									<div class="row m-0">
										<div class="text-container">
											<div><span>My </span><span>cousin </span><span>is </span><span
													class="underlined">fatter</span> <span>than </span><span>me</span>.
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-6 p-0">
									<div class="row m-0 text-center options">
										<!-- positive -->
										<div class="col-3 p-0">
											<div>
												<div class="wrong option">
													<span>positive</span>
												</div>
											</div>
										</div>
										<!--comparative  -->
										<div class="col-4 p-0">
											<div>
												<div class="correct option">
													<span>comparative</span>
												</div>
											</div>
										</div>
										<!--superlative -->
										<div class="col-4 p-0">
											<div>
												<div class="wrong option">
													<span>superlative</span>
												</div>
											</div>
										</div>
										<!-- end -->

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 8 -->
					<div class="question d-flex w-100">
						<div class="number"><span>8</span></div>
						<div class="question-number">
							<div class="row m-0">
								<div class="col-12 col-sm-6 p-0">
									<div class="row m-0">
										<div class="text-container">
											<div><span>Who </span><span>is </span><span>the </span><span
													class="underlined">best</span> <span>football </span><span>player
												</span><span>in </span><span>the </span><span>world</span>?</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-6 p-0">
									<div class="row m-0 text-center options">
										<!-- positive -->
										<div class="col-3 p-0">
											<div>
												<div class="wrong option">
													<span>positive</span>
												</div>
											</div>
										</div>
										<!--comparative  -->
										<div class="col-4 p-0">
											<div>
												<div class="wrong option">
													<span>comparative</span>
												</div>
											</div>
										</div>
										<!--superlative -->
										<div class="col-4 p-0">
											<div>
												<div class="correct option">
													<span>superlative</span>
												</div>
											</div>
										</div>
										<!-- end -->

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end -->

				</div>
			</div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
	</div>
</div>