<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
            <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
		<div class="heading mt-3">
			<h1>Click on the blanks and then click on the correct Antonyms from the help box, of the words given in the brackets to complete the sentences.</h1>
		</div>
    <div class="row Main_Container">
            <div class="col-12 Option_Container">
                <div class="options">
                    <div class="option">dull</div>
                    <div class="option">different</div>
                    <div class="option">narrow</div>
                    <div class="option">sunny</div>
                    <div class="option">bright</div>
                    <div class="option">sweet</div>
                    <div class="option">wise</div>
                    <div class="option">forget</div>
                </div>
            </div>
            <div class="col-12 Question_Container">
                <div class="Question">
                    <div class="number">1</div>
                    <div><div class="content">The <div class="input_div"><input type="text"><div class="correct_answer"><span>wise</span></div></div> king saved his people from the enemies. (foolish)</div></div>
                </div>
                <div class="Question">
                    <div class="number">2</div>
                    <div><div class="content">The weather was <div class="input_div"><input type="text"><div class="correct_answer"><span>sunny</span></div></div> for most of the day. (cloudy)</div></div>
                </div>
                <div class="Question third">
                    <div class="number">3</div>
                    <div><div class="content">Megan and Mindy are very <div class="input_div"><input type="text"><div class="correct_answer"><span>different</span></div></div> even though they are twin sisters. (same)</div></div>
                </div>
                <div class="Question">
                    <div class="number">4</div>
                    <div><div class="content">Mom told dad not to <div class="input_div"><input type="text"><div class="correct_answer"><span>forget</span></div></div> to lock the door when he left for work. (remember)</div></div>
                </div>
                <div class="Question fifth">
                    <div class="number">5</div>
                    <div><div class="content">All work and no play makes Jack a <div class="input_div"><input type="text"><div class="correct_answer"><span>dull</span></div></div> boy. (sharp)</div></div>
                </div>
                <div class="Question">
                    <div class="number">6</div>
                    <div><div class="content">A <div class="input_div"><input type="text"><div class="correct_answer"><span>sweet</span></div></div> smell of the roses filled the room. (sour)</div></div>
                </div>
                <div class="Question">
                    <div class="number">7</div>
                    <div><div class="content">The road was too <div class="input_div"><input type="text"><div class="correct_answer"><span>narrow</span></div></div> for two cars to pass by. (wide)</div></div>
                </div>
                <div class="Question eighth">
                    <div class="number">8</div>
                    <div><div class="content">Susan closed her eyes as there was <div class="input_div"><input type="text"><div class="correct_answer"><span>bright</span></div></div> sunlight coming in, through the windows. (dark)</div></div>
                </div>
            </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
  </div>

</div>