@font-face {
    font-family: "CustomFont";
    src: url(/assets/font/ntailu.ttf) format("truetype");
}
@font-face {
    font-family: "CustomFontBold";
    src: url(/assets/font/ntailub.ttf) format("truetype");
}

@font-face {
    font-family: mt-rounded-bold;
    src: url(/assets/font/ARLRDBD.ttf) format("truetype");
    font-weight: bold;
  }
    
.hide{
	display:none;
} 

.Question-container{
    font-family: CustomFontBold,'Microsoft New Tai Lue';
    font-weight: normal !important;
}
.bg{
    font-family: CustomFont,'Microsoft New Tai Lue';
    color:#000;
    font-size:25px;
	background: url(/assets/std01-mixed-noun-worksheet2/img/bg.jpg) no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    
}
.answer
{
    border: 1px solid #000;
    border-radius: 5px;
    background: #fff;
    color: #35b92c;
    text-align: center;
    -webkit-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	-moz-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    text-align: center;
    line-height: 1.2em;
    width: 90%;
    margin: auto;
    margin-top: 4px;
    display:none;
    
}
.helpbox-container
{
    width: 50%;
    margin: auto;
    color: #fff;
    text-align: center;
    background: #004882;
    border: 1px solid #fff;
    border-radius: 4px;
}
.helpbox-container .col-3 
{
    border: 1px solid #fff;
    cursor:pointer;
}
.Question-container{
    width: 100%;
    margin: auto;
    margin-bottom: 3%;

}
.heading-container{
    margin: auto;
    font-family: mt-rounded-bold;
}
.input-div
{
    width: fit-content;
    margin: auto;
    padding-top: 30px;
}
input {
    border: 0;
    outline: 0;
    background-color: transparent;
    padding: 0;
    width: 90%;
    text-align: center;
    cursor:pointer;
}
.input-span
{
    border-bottom: 1px solid #000;
}
.Question-container .col-sm-6 .col-6 .col-6 div:nth-child(1)  span
{
    text-shadow: -1px 0px 0 #fff, 0px 0px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.Question-container .col-12 .row:nth-child(1)
{
    margin-bottom: 15px !important;
}
.col-1
{
    font-weight: 600 !important;
}
.myButton {
    -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
    -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
    background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
    background-color:#c62d1f;
    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    border-radius:18px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:inherit;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
    line-height: 1;
    outline:0 !important;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
    background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
    background-color:#f24437;
}
.myButton:active {
    position:relative;
    top:1px;
}
.btn-row{
    position: relative;
    margin-top:20px;
    margin-bottom:10px;
    text-align:center;
}

.bd{
    border-bottom:3px solid #20bb15;
}
@media (min-width:100px) and (max-width:320px){
    
}

@media (min-width:100px) and (max-width:575px){
    .bg {    
        font-family:Microsoft New Tai lue;
        color:#000;
        font-size:16px;
        background: url(/assets/std01-mixed-noun-worksheet2/img/bg_portrait.jpg) no-repeat center bottom fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    h2{
        font-size: 1.3rem;
    }

    .heading-container {
        width: 100%;
       
    }
    .helpbox-container
    {
     width: 85%;
    }
    .Question-container{
        width: 92%;
    }
    .input-div{
        padding-top: 7px;
    }
    .Question-container .col-12 .row:nth-child(1)
    {
        margin-bottom: 7px !important;
    }
 
}
@media (min-width: 576px) and (max-width: 767px){
    h2{
        font-size: 1.5rem;
    }
    .container {
        max-width: unset;
    }
    .bg {   font-size: 15px;}
 
    .Question-container,.heading-container  {
        width: 95%;
       
    }
    .input-div
    {
        padding-top: 10px;
    }
    .Question-container .col-sm-6 .col-6 .col-6
    {
        margin-bottom: 20px;
    }
    .Question-container .col-12 .row:nth-child(1)
    {
        margin-bottom: 7px !important;
    }
    .helpbox-container {
        position:fixed;
        z-index:2;
        left:50%;
        transform:translateX(-50%);
    }
    .Question-container{
        margin-top:55px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    h2{
        font-size: 1.7rem;
    }
    .container {
        max-width: unset;
    }
    .bg {   font-size: 18px;}
  
    .Question-container,.heading-container  {
        width: 95%;
    }
    .input-div
    {
        padding-top: 12px;
    }
    .Question-container .col-12 .row:nth-child(1)
    {
        margin-bottom: 8px !important;
    }
    .Question_Row{
        max-width:48%;
        margin-left:2%;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    h2{
        font-size: 1.9rem;
    }
    .container {
        max-width: unset;
    }
    .bg {   font-size: 22px;}
    .Question-container,.heading-container  {
        width: 95%;
       
    }
    .input-div{
        padding-top: 18px;
    }
    .Question-container .col-12 .row:nth-child(1) {
        margin-bottom: 4vh !important;
    }
    .helpbox-container
    {
        margin-top: 5px;
        margin-bottom: 25px !important;
    }
    .Question_Row{
        max-width:48%;
        margin-left:2%;
    }
}
@media (min-width: 1200px){
    h2{
        font-size: 2.4rem;
    }
    .helpbox-container {
        margin-top: 15px;
        margin-bottom: 40px !important;
    }
    .Question_Row{
        max-width:48%;
        margin-left:2%;
        margin-bottom: 3%;
    }
    .btn-row {
        margin-top: 0px;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
	.bg{
        background:url(/assets/std01-mixed-noun-worksheet2/img/bg_portrait.jpg) no-repeat center bottom fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
		font-size:30px;
    }
	h2{
        font-size:35px;
    }
    .myButton{
        font-size:30px;
    }
    .Question_Row {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
        flex: 0 0 90%;
        max-width: 90%;
        margin:20px auto;
    }
    .helpbox-container {
        width: 65%;
        border: 4px solid #fff;
        position:fixed;
        z-index:2;
        left:50%;
        transform:translateX(-50%);
    }
    .helpbox-container .col-3 {
        border: 2px solid #fff;
        padding: 5px 0 !important;
    }
    .heading-container{
        width:100%;
    }
    .Question-container{
        margin-top:10%;
    }

}

/*Portrait*/ 
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	.bg{
        font-size:35px;
    }
	
    h2{
        font-size:40px;
    }
    .myButton{
        font-size:35px;
    }.Question_Row {
        max-width: 85%;
    }
}
@media(min-width:768px) and (max-width:991px) and (orientation:landscape){
    
    .helpbox-container {
        position:fixed;
        z-index:2;
        left:50%;
        transform:translateX(-50%);
    }
    .Question-container{
        margin-top:55px;
    }
}
@media(min-width:100px) and (max-width:575px) and (orientation:landscape){
    
    .helpbox-container {
        position:fixed;
        z-index:2;
        left:50%;
        transform:translateX(-50%);
    }
    .Question-container{
        margin-top:55px;
    }
}

@media (min-width: 1900px) 
{
    .container
    {
        max-width: 1500px;
    }
    .bg{
        font-size: 30px;
    }
}

// External CSS End

// Common CSS Start
.loadingDiv {
    position: fixed;;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.4);
    background-image:url('/assets/images/loader.gif');
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    background-size: 85px;
  }

.result{
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:rgba(0,0,0,.8);
    z-index:2147483647;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor:pointer;
}
.result .Box{
    position: relative;
    padding:45px 55px 30px 20px
}
.result .imgBox{
    display:none;
}
.result img{
    max-width:100%;
}
.result .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor:pointer;
}
.result .TextBox h1 {
    font-size: 2.5rem;
    font-family: 'mt-rounded-bold','Microsoft New Tai Lue','Arial';
    margin-top: 0;
    font-weight:bold;
    text-align:center;
    color:#fff;
    -webkit-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	-moz-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	padding:10%;
	max-width:800px;
}
@media(min-width:100px) and (max-width:575px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
    .result .close {
        right: 15px;
    }
}
@media(min-width:576px) and (max-width:767px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
}

.button.playAgain {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:inherit;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.button.playAgain:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.button.playAgain:active {
	position:relative;
	top:1px;
}


#toggle {
    display: block;
    right: 56px;
    top: 35px;
    background: #f3ecec;
    border-radius: 50%;
    border: 4px solid #3b7ee2;
    opacity: 0.7;
    text-align: center;
    padding: 10px;
    
  }

  #toggle:hover
  {
    opacity: 1;
    border: 4px solid #3b7ee2;
    
  }
  
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
  }
  #toggle span {
    position: relative;
    display: inline;
  }
  
  #toggle span
  {
    width: 50px;
    height: 50px;
    text-align: center;
    padding:0%;
  }

  #toggle span img
  {
    width:25px;
    height:25px;
    margin:0;
  }
  
  /* on activation */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
    -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  

  /* menu appearance*/
#menu {
    position: absolute;
    color: #000;
    width: 140px;
    padding: 10px;
    border-radius: 4px;
    background: #ffffffb3;
    box-shadow: 0px 3px 11px 1px rgba(27, 24, 24, 0.24);
    font-size: 16px;
    left: -190%;
    z-index: 9;
    text-align: right;
    top: 145%;
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;  
}
.change{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1; 
}
.notchange{
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#menu:after {
    position: absolute;
    top: -20px;
    left: 107px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #ffffffb3;
}
ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}
li a {
    padding: 5px;
    color: #000;
    text-decoration: none;
    transition: all .2s;
}
li a:hover,
li a:focus {
    background: #1798dc;
    color: #fff;
    text-decoration: none;
}
.menu-block{
    position: fixed;
    right: 46px;
    top: 35px;
    z-index: 2147483646;
    height: 50px;
}
.up {
    transform: rotate(180deg) translateY(0%);
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
} 
@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
}
@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
} 

@media(min-width:100px) and (max-width:575px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:576px) and (max-width:767px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:768px) and (max-width:991px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .menu-block {
        right: 10px;
    }
    #menu:after {
        left: 140px;
    }
    #menu {
        font-size: 18px;
        left: -240%;
        top: 140%;
        width: 175px;
    }
    #toggle {
        height: 53px;
        width: 53px;
        line-height: 48px;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 26px;
    }
    #toggle{
        height: 60px;
        width: 60px;
        line-height: 55px;
        padding: 10px;
    }
    .menu-block {
        right: 20px;
    }
    #menu:after {
        left: 205px;
    }
    #toggle span img {
        width: 33px;
        height: 33px;
        margin: 0;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 30px;
    }
}
@media(min-width:1200px){
	#menu {
        top: 70px;
        left: -135px;
        width: 180px;
        font-size: 18px;
    }
    #menu:after {
        left: 145px;
    }
    #toggle{
        height: 55px;
        width: 55px;
        line-height: 50px;
    }
}