<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
		<div class="heading">
			<h1>Click on the blanks and then click on the the correct Homophones from the help box, of the given words.</h1>
		</div>
        <div class="row Main_Container">
            <div class="col-12 Option_Container">
                <div class="options">
                    <div class="option">bale</div>
                    <div class="option">mane</div>
                    <div class="option">air</div>
                    <div class="option">gale</div>
                    <div class="option">cue</div>
                    <div class="option">seen</div>
                    <div class="option">dye</div>
                    <div class="option">heart</div>
                    <div class="option">sum</div>
                    <div class="option">carrot</div>
                    <div class="option">tow</div>
                    <div class="option">vein</div>
                </div>
            </div>
            <div class="col-12 Question_Container">
                <div class="Question_Div">
                    <div class="Question_Block">
                        <div class="Question">
                            <div class="number">1)</div>
                            <div class="conten">queue</div>
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>cue</span></div></div>
                        </div>
                        <div class="Question">
                            <div class="number">2)</div>
                            <div class="conten">some</div>
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>sum</span></div></div>
                        </div>
                        <div class="Question">
                            <div class="number">3)</div>
                            <div class="conten">heir</div>
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>air</span></div></div>
                        </div>
                        <div class="Question">
                            <div class="number">4)</div>
                            <div class="conten">die</div>
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>dye</span></div></div>
                        </div>
                        <div class="Question">
                            <div class="number">5)</div>
                            <div class="conten">bail</div>
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>bale</span></div></div>
                        </div>
                        <div class="Question">
                            <div class="number">6)</div>
                            <div class="conten">carat</div>
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>carrot</span></div></div>
                        </div>
                        <div class="Question">
                            <div class="number">7)</div>
                            <div class="conten">hart</div>
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>heart</span></div></div>
                        </div>
                        <div class="Question">
                            <div class="number">8)</div>
                            <div class="conten">main</div>
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>mane</span></div></div>
                        </div>
                        <div class="Question">
                            <div class="number">9)</div>
                            <div class="conten">toe</div>
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>tow</span></div></div>
                        </div>
                        <div class="Question">
                            <div class="number">10)</div>
                            <div class="conten">vane</div>
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>vein</span></div></div>
                        </div>
                        <div class="Question">
                            <div class="number">11)</div>
                            <div class="conten">scene</div>
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>seen</span></div></div>
                        </div>
                        <div class="Question">
                            <div class="number">12)</div>
                            <div class="conten">gail</div>
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>gale</span></div></div>
                        </div>
                    </div>
                </div>
                <div class="btn-row">
                    <button class="button myButton">Submit</button>
                </div>
            </div>
		</div>
       
  </div>
</div>