<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text fabulous hide">
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 Main_Container">
        <!-- start -->
        <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active">1</li>
            <li data-target="#demo" data-slide-to="1">2</li>
            <li data-target="#demo" data-slide-to="2">3</li>
          </ul>
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item first active">
              <div class="heading">
                <h1>Read the poem carefully. Then answer the questions that follow.</h1>
              </div>
              <div class="poem_title"><b> <span>A Little Maid</span></b></div>
              <div class="Question_Block">
                <div class="poem-left-side">
                  <div class="Text">
                    A little maid went to market,<br>
                    She went into the town,<br>
                    And all the things she had to buy,<br>
                    She carefully wrote down.<br>
                    Coffee, sugar, tea and rice,<br>
                    And currant cake for tea,<br>
                    Then she had to reckon up,<br>
                    To see how much they’d be.<br>
                    She sat down as she came back,<br>
                    She sat her down to see,<br>
                    What they had cost - the currant cake,<br>
                    The coffee, and the tea.<br>
                    She could not make her money right,<br>
                    And yet, how she did try!<br>
                    She could not make her money right,<br>
                    And oh! How she did cry.<br>
                    She’s counting still, my dears, my dears,<br>
                    She’s counting day and night.<br>
                    But though she counts for years and years,<br>
                    She’ll never make it right.<br>
                    She’ll never make it right - right - right,<br>
                  </div>
                </div>
                <div class="poem-right-side">
                  <div class="Text">
                    Oh! Never any more,<br>
                    Though she sits counting - count - count,<br>
                    Till she is ninety - four.<br>
                    <div><span class="pull_right">-Anonymous</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item second ">
              <div class="row px-2 p-2 mt-1 mt-lg-3">
                <div class="main-question-container">
                  <div class="poem_title"><b> <span>A Little Maid</span></b></div>
                  <div class="questions-container">
                    <div class="left-question-container">
                      <u><span class="header_instruction">Answer the following questions:</span></u><br>
                      <span class="sub_instruction">(Click in the correct circles to colour them.)</span>
                      <div class="question one Question_Block_One">
                        <div class="number">
                          <span>1)</span>
                        </div>
                        <div class="text-container">
                          <span> Where did the little maid go?</span>
                          <div class="option-container one">
                            <div class="option">
                              <div class="circle"><span>a</span></div>
                              <div class="option-text">beach</div>
                            </div>
                            <div class="option">
                              <div class="circle right"><span>b</span></div>
                              <div class="option-text">market</div>
                            </div>
                            <div class="option">
                              <div class="circle"><span>c</span></div>
                              <div class="option-text">zoo</div>
                            </div>
                            <div class="option">
                              <div class="circle"><span>d</span></div>
                              <div class="option-text">park</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="question Question_Block_Two">
                        <div class="number">
                          <span>2)</span>
                        </div>
                        <div class="text-container">
                          <span>What were the things that the little maid had to buy?</span>
                          <div class="option-container two">
                            <div class="option">
                              <div class="circle"><span>a</span></div>
                              <div class="option-text">fruits, vegetables, sugar and rice</div>
                            </div>
                            <div class="option">
                              <div class="circle"><span>b</span></div>
                              <div class="option-text">wheat, sugar, pulses and rice</div>
                            </div>
                            <div class="option">
                              <div class="circle right"><span>c</span></div>
                              <div class="option-text">coffee, sugar, tea and rice</div>
                            </div>
                            <div class="option">
                              <div class="circle"><span>d</span></div>
                              <div class="option-text">flowers, fruits, vegetables and sugar</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="question Question_Block_Three">
                        <div class="number">
                          <span>3)</span>
                        </div>
                        <div class="text-container">
                          <span>What did the little maid need for tea?</span>
                          <div class="option-container">
                            <div class="option">
                              <div class="circle"><span>a</span></div>
                              <div class="option-text"> biscuits</div>
                            </div>
                            <div class="option">
                              <div class="circle"><span>b</span></div>
                              <div class="option-text">bread</div>
                            </div>
                            <div class="option">
                              <div class="circle"><span>c</span></div>
                              <div class="option-text">pastries</div>
                            </div>
                            <div class="option">
                              <div class="circle right"><span>d</span></div>
                              <div class="option-text">currant cake</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!-- start -->
            <div class="carousel-item second ">
              <div class="row px-2 p-2 mt-1 mt-lg-3">
                <div class="main-question-container">
                  <div class="poem_title"><b> <span>A Little Maid</span></b></div>
                  <div class="questions-container">
                    <div class="left-question-container">
                      <span class="sub_instruction">(Click on the blanks and then click in the correct boxes.)</span>
                      <div class="question one Question_Block_Four">
                        <div class="number">
                          <span>4)</span>
                        </div>
                        <div class="text-container">
                          <span>The little maid will count till she is</span>
                          <div class="input-container">
                            <input type="text">
                            <div class="correct-answer">
                              <span>ninety - four</span>
                            </div>
                          </div>
                          <span>years of age.</span>
                              <div class="helpbox-container">
                                <div class="helpbox" data-text="0"><span>ninety - four</span></div>
                                <div class="helpbox" data-text="1"><span>fifty - four</span></div>
                                <div class="helpbox" data-text="2"><span>seventy - four</span></div>
                                <div class="helpbox" data-text="3"><span>forty - four</span></div>
                              </div>
                        </div>
                      </div>
                      <div class="question Question_Block_Five">
                        <div class="number">
                          <span>5)</span>
                        </div>
                        <div class="text-container">
                          <span>Write two pairs of Antonyms from the poem.</span>
                          <div class="top-question-container">
                            <div class="left-side">
                              <div class="answer-container">
                                <div class="answer">
                                  <div class="alphabet"><span>a)</span></div>
                                  <div class="main-input-container">
                                    <div class="input-container">
                                      <input type="text">
                                      <div class="correct-answer">
                                        <span>night </span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="cross-sign text-center">&#10006;</div>
                                  <div class="main-input-container">
                                    <div class="input-container">
                                      <input type="text">
                                      <div class="correct-answer">
                                        <span>day </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="answer-container">
                                <div class="answer">
                                  <div class="alphabet"><span>b)</span></div>
                                  <div class="main-input-container">
                                    <div class="input-container">
                                      <input type="text">
                                      <div class="correct-answer">
                                        <span>up </span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="cross-sign text-center">&#10006;</div>
                                  <div class="main-input-container">
                                    <div class="input-container">
                                      <input type="text">
                                      <div class="correct-answer">
                                        <span>down </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="right-side">
                              <div class="helpbox-container m-auto">
                                <div class="helpbox" data-text="4"><span>night </span></div>
                                <div class="helpbox" data-text="5"><span>up</span></div>
                                <div class="helpbox" data-text="6"><span>down</span></div>
                                <div class="helpbox" data-text="7"><span>day</span></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="question Question_Block_Six">
                        <div class="number">
                          <span>6)</span>
                        </div>
                        <div class="text-container">
                          <span> Write two Adjectives to decribe the little maid.</span>
                          <div class="top-question-container">
                            <div class="left-side">
                              <div class="answer-container">
                                <div class="answer">
                                  <div class="alphabet"><span>a)</span></div>
                                  <div class="main-input-container">
                                    <div class="input-container">
                                      <input type="text">
                                      <div class="correct-answer">
                                        <span>little</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="cross-sign text-right">b)</div>
                                  <div class="main-input-container">
                                    <div class="input-container">
                                      <input type="text">
                                      <div class="correct-answer">
                                        <span>careful</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="right-side">
                              <div class="helpbox-container m-auto">
                                <div class="helpbox" data-text="8"><span>little</span></div>
                                <div class="helpbox" data-text="9"><span>careful</span></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="question Question_Block_Seven">
                        <div class="number">
                          <span>7)</span>
                        </div>
                        <div class="text-container">
                          <span>Write one Rhyming Word of the given words.</span>
                          <div class="top-question-container">
                            <div class="left-side">
                              <div class="answer-container">
                                <div class="answer-7">
                                  <div class="alphabet"><span>a)</span></div>
                                  <div class="main-text-container">
                                    <span>right</span>
                                  </div>
                                  <div class="main-input-container">
                                    <div class="input-container">
                                      <input type="text">
                                      <div class="correct-answer">
                                        <span>night</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="answer-7">
                                  <div class="alphabet"><span>b)</span></div>
                                  <div class="main-text-container">
                                    <span>down</span>
                                  </div>
                                  <div class="main-input-container">
                                    <div class="input-container">
                                      <input type="text">
                                      <div class="correct-answer">
                                        <span>town</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="right-side">
                              <div class="helpbox-container m-auto">
                                <div class="helpbox" data-text="10"><span>town</span></div>
                                <div class="helpbox" data-text="11"><span>night</span></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="btn-row col-12">
                    <button class="button myButton">Submit</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end -->

          </div>
          <!-- Left and right controls -->
          <a class="carousel-control-prev" data-target="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon arrow-size"></span>
          </a>
          <a class="carousel-control-next" data-target="#demo" data-slide="next">
            <span class="carousel-control-next-icon arrow-size"></span>
          </a>
        </div>
      </div>
      <!-- end -->
    </div>
  </div>
</div>