<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <img src="" alt="" class="Text fabulous hide">
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row m-0">
      <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
        <h2 class="font-weight-bold heading">
          Click on the blanks and then click on the correct Action Verbs
          from the help box, to complete the sentences.
        </h2>
      </div>
    </div>
    <div class="helpbox-container">
      <div class="helpbox-ans">
        <div><span>imagine</span></div>
      </div>
      <div class="helpbox-ans">
        <div><span>greet</span></div>
      </div>
      <div class="helpbox-ans">
        <div><span>explain</span></div>
      </div>
      <div class="helpbox-ans">
        <div><span>perform</span></div>
      </div>
      <div class="helpbox-ans">
        <div><span>scream</span></div>
      </div>
      <div class="helpbox-ans">
        <div><span>knock</span></div>
      </div>
      <div class="helpbox-ans">
        <div><span>check</span></div>
      </div>
      <div class="helpbox-ans">
        <div><span>cheer</span></div>
      </div>
    </div>

    <div class="main-question-container">
      <div class="question-container">
        <div class="across">
          <span class="font-weight-bold"><u>Across</u></span>
          <!-- 1 -->
          <div class="question">
            <div class="number">
              <span>1)</span>
            </div>
            <div class="text-container">
              <span>Don’t </span>
              <div class="input-container">
                <span class="input-span"><input type="text"></span>
                <div class="correct-answer">
                  <span>scream</span>
                </div>
              </div><span>, you will wake the baby.</span>
            </div>
          </div>
          <!--2-->
          <div class="question">
            <div class="number">
              <span>2)</span>
            </div>
            <div class="text-container">
              <span>The children</span>
              <div class="input-container">
                <span class="input-span"><input type="text"></span>
                <div class="correct-answer">
                  <span>greet</span>
                </div>
              </div>
              <span>their principal everyday.</span>
            </div>
          </div>
          <!--3-->
          <div class="question">
            <div class="number">
              <span>3)</span>
            </div>
            <div class="text-container">
              <span>The girls</span>
              <div class="input-container">
                <span class="input-span"><input type="text"></span>
                <div class="correct-answer">
                  <span>cheer</span>
                </div>
              </div>
              <span>for the boys, when they play football.</span>
            </div>

          </div>
          <!--4-->
          <div class="question">
            <div class="number">
              <span>4)</span>
            </div>
            <div class="text-container">
              <div class="input-container">
                <span class="input-span"><input type="text" class="uppercase"></span>
                <div class="correct-answer">
                  <span>Knock</span>
                </div>
              </div>
              <span>on the door, softly.</span>
            </div>
          </div>
        </div>

        <div class="down">
          <span class="font-weight-bold"><u>Down</u></span>
          <!-- 1 -->
          <div class="question">
            <div class="number">
              <span>1)</span>
            </div>
            <div class="text-container">
              <span>The band of musicians must</span>
              <div class="input-container">
                <span class="input-span"><input type="text"></span>
                <div class="correct-answer">
                  <span>perform</span>
                </div>
              </div>
              <span>for the competition.</span>
            </div>
          </div>
          <!--2-->
          <div class="question">
            <div class="number">
              <span>2)</span>
            </div>
            <div class="text-container">
              <span>You can</span>
              <div class="input-container">
                <span class="input-span"><input type="text"></span>
                <div class="correct-answer">
                  <span>imagine</span>
                </div>
              </div>
              <span>that you are in Disneyland.</span>
            </div>
          </div>
          <!--3-->
          <div class="question">
            <div class="number">
              <span>3)</span>
            </div>
            <div class="text-container">
              <span>Please</span>
              <div class="input-container">
                <span class="input-span"><input type="text"></span>
                <div class="correct-answer">
                  <span>check</span>
                </div>
              </div>
              <span>the answer for me.</span>
            </div>
          </div>
          <!--4-->
          <div class="question">
            <div class="number">
              <span>4)</span>
            </div>
            <div class="text-container">
              <span>The pupils</span>
              <div class="input-container">
                <span class="input-span"><input type="text"></span>
                <div class="correct-answer">
                  <span>explain</span>
                </div>
              </div>
              <span>their experiment to everyone during the Science fair.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="img-main-container">
        <div class="img-container">
          <img src="assets/std02-action-verbs-worksheet4/img/without-ans-img.png" class="img-fluid without-ans-img">
        </div>
        <img src="assets/std02-action-verbs-worksheet4/img/ans-img.png" class="img-fluid ans-img">
      </div>
    </div>
    <div class="row btn-row">
      <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>
</div>