<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 mb-2 mb-lg-3">
				<h2 class="font-weight-bold heading">
					Click in the boxes given beside the numbers and then click on the correct Proper Nouns from Column B, that can be used for the Common Nouns given in Column A.
				</h2>
			</div>
		</div>
		<div class="row mb-2 mb-lg-3">
				<div class="question-heading">
					<div class="columnAheading">
						<div class="columnA">
							<u><span>Column A</span><br>
							<span>Common Nouns</span></u>
						</div>
					</div>
					<div class="columnBheading">
						<div class="columnB">
							<u><span>Column B</span><br>
							<span> Proper Nouns</span></u>
						</div>
					</div>
				</div>
		</div>
		<div class="row ">
			<div class="main-question-container">
				<!-- 1 -->
				<div class="question">
					<div class="input-container">
						<input type="text">
						<div class="correct-answer">
							<span>F</span>
						</div>
					</div>
					<div class="alphabet"><span>1)</span></div>
					<div class="text-container"><span>statue</span></div>
				</div>
				<div class="answer">
					<div class="number"><span>A</span>)</div>
					<div class="text-container"><span>Michelangelo</span></div>
					
				</div>
				<!-- 2 -->
				<div class="question">
					<div class="input-container">
						<input type="text">
						<div class="correct-answer">
							<span>D</span>
						</div>
					</div>
					<div class="alphabet"><span>2)</span></div>
					<div class="text-container"><span> singer	</span></div>
				</div>
				<div class="answer">
					<div class="number"><span>B</span>)</div>
					<div class="text-container"><span>Mount Vesuvius</span></div>
				</div>
				<!-- 3 -->
				<div class="question">
					<div class="input-container">
						<input type="text">
						<div class="correct-answer">
							<span>B</span>
						</div>
					</div>
					<div class="alphabet"><span>3)</span></div>
					<div class="text-container"><span>volcano</span></div>
				</div>
				<div class="answer">
					<div class="number"><span>C</span>)</div>
					<div class="text-container"><span> Pantheon </span></div>
				</div>
				<!-- 4 -->
				<div class="question">
					<div class="input-container">
						<input type="text">
						<div class="correct-answer">
							<span>E</span>
						</div>
					</div>
					<div class="alphabet"><span>4)</span></div>
					<div class="text-container"><span>poet</span></div>
				</div>
				<div class="answer">
					<div class="number"><span>D</span>)</div>
					<div class="text-container"><span>Michael Jackson 	</span></div>
				</div>
				<!-- 5 -->
				<div class="question">
					<div class="input-container">
						<input type="text">
						<div class="correct-answer">
							<span>H</span>
						</div>
					</div>
					<div class="alphabet"><span>5)</span></div>
					<div class="text-container"><span>movie</span></div>
				</div>
				<div class="answer">
					<div class="number"><span>E</span>)</div>
					<div class="text-container"><span>William Wordsworth	</span></div>
				</div>
				<!-- 6 -->
				<div class="question">
					<div class="input-container">
						<input type="text">
						<div class="correct-answer">
							<span>A</span>
						</div>
					</div>
					<div class="alphabet"><span>6)</span></div>
					<div class="text-container"><span>painter </span></div>
				</div>
				<div class="answer">
					<div class="number"><span>F</span>)</div>
					<div class="text-container"><span> Christ the Redeemer</span></div>
				</div>
				<!-- 7 -->
				<div class="question">
					<div class="input-container">
						<input type="text">
						<div class="correct-answer">
							<span>C</span>
						</div>
					</div>
					<div class="alphabet"><span>7)</span></div>
					<div class="text-container"><span>monument  </span></div>
				</div>
				<div class="answer">
					<div class="number"><span>G</span>)</div>
					<div class="text-container"><span> Ireland</span></div>
				</div>
				<!-- 8 -->
				<div class="question">
					<div class="input-container">
						<input type="text">
						<div class="correct-answer">
							<span>G</span>
						</div>
					</div>
					<div class="alphabet"><span>8)</span></div>
					<div class="text-container"><span>country  </span></div>
				</div>
				<div class="answer">
					<div class="number"><span>H</span>)</div>
					<div class="text-container"><span>Kung Fu Panda</span></div>
				</div>
				<!-- end -->
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>