<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
  </div>
	
	<div class="container">
		<div class="row heading-container">
			<div class="col-xs-12 px-2 p-2 mt-3">
				<h2 class="font-weight-bold heading">
					Click on the blanks and then click on the correct Homophones from the boxes, to complete the sentences.
				</h2>
			</div>
		</div>
		<div class="row">
		 <div class="Question-container mt-2">
			<div class="row m-0">
				<div class="col-12  p-0 mb-4 ">
					<div class="question">
						<div class="number"><span >1</span></div>
						<div class="text-container">
							<span>He will come an</span>
								<span class="input-span"><input type="text" data-text="first"></span><div class="answer-div"><span>hour</span></div>
								<span>late.</span>
								<div class="helpbox-container first">
									<div class="helpans"><div class="help"><span>our</span></div></div>
									<div class="helpans"><div class="help"><span>hour</span></div></div>
								</div>
						</div>
					</div>
				</div>	
				<!-- 2 -->
				<div class="col-12  p-0 mb-4 ">
					<div class="question">
						<div class="number"><span >2</span></div>
						<div class="text-container">
							<span>Mom put</span>
								<span class="input-span"><input type="text" data-text="second"></span><div class="answer-div"><span>flour</span></div>
								<span>into a bowl to make a cake.</span>
								<div class="helpbox-container second">
									<div class="helpans"><div class="help"><span>flour</span></div></div>
									<div class="helpans"><div class="help"><span>flower</span></div></div>
								</div>
						</div>
					</div>
				</div>	
				<!-- 3 -->
				<div class="col-12  p-0 mb-4 ">
					<div class="question third">
						<div class="number"><span>3</span></div>
						<div class="text-container">
							<span>On a bright sunny day, the sky is</span>
								<span class="input-span"><input type="text" data-text="third"></span><div class="answer-div"><span>blue</span></div>.
								<div class="helpbox-container third">
									<div class="helpans"><div class="help"><span>blue</span></div></div>
									<div class="helpans"><div class="help"><span>blew</span></div></div>
								</div>
						</div>
					</div>
				</div>	
				<!-- 4 -->
				<div class="col-12  p-0 mb-4 ">
					<div class="question">
						<div class="number"><span >4</span></div>
						<div class="text-container">
							<span>Peter said</span>
							<span class="input-span"><input type="text" data-text="fourth"></span><div class="answer-div"><span>bye</span></div> 
							<span>to his friend after the party.</span>
							<div class="helpbox-container fourth">
								<div class="helpans"><div class="help"><span>buy</span></div></div>
								<div class="helpans"><div class="help"><span>bye</span></div></div>
							</div>
						</div>
					</div>
				</div>	
				<!-- 5 -->
				<div class="col-12  p-0 mb-4">
					<div class="question fifth">
						<div class="number"><span >5</span></div>
						<div class="text-container">
							<span>Johnny was so hungry that he ate a</span>
							<span class="input-span"><input type="text" data-text="fifth"></span><div class="answer-div"><span>whole</span></div> 
							<span>pizza.</span>
							<div class="helpbox-container fifth">
								<div class="helpans"><div class="help"><span>whole</span></div></div>
								<div class="helpans"><div class="help"><span>hole</span></div></div>
							</div>
						</div>
					</div>
				</div>	
				<!-- 6 -->
				<div class="col-12  p-0 mb-4">
					<div class="question">
						<div class="number"><span >6</span></div>
						<div class="text-container">
							<span>Hurray! The team</span>
							<span class="input-span"><input type="text" data-text="sixth"></span><div class="answer-div"><span>won</span></div>
							<span>the match!</span>
							<div class="helpbox-container sixth">
								<div class="helpans"><div class="help"><span>one</span></div></div>
								<div class="helpans"><div class="help"><span>won</span></div></div>
							</div>
						</div>
					</div>
				</div>	
				<!-- 7 -->
				<div class="col-12  p-0 mb-4">
					<div class="question">
						<div class="number"><span >7</span></div>
						<div class="text-container">
							<span>Meg</span>
							<span class="input-span"><input type="text" data-text="seventh"></span><div class="answer-div"><span>read</span></div>
							<span>a book before going to bed.</span>
							<div class="helpbox-container seventh">
								<div class="helpans"><div class="help"><span>read</span></div></div>
								<div class="helpans"><div class="help"><span>red</span></div></div>
							</div>
						</div>
					</div>
				</div>	
				<!-- 8 -->
				<div class="col-12  p-0 mb-4">
					<div class="question">
						<div class="number"><span>8</span></div>
						<div class="text-container">
							<span>The train went</span>
							<span class="input-span"><input type="text" data-text="eight"></span>
							<div class="answer-div"><span>through</span></div>
							<span>a tunnel.</span>
							<div class="helpbox-container eight">
								<div class="helpans"><div class="help"><span>through</span></div></div>
								<div class="helpans"><div class="help"><span>threw</span></div></div>
							</div>
						</div>
					</div>
				</div>	
				
			</div>
		 </div>
		</div>
		<div class="row m-0">
			<div class="btn-row w-100">
				<button class="button myButton">Submit</button>
			</div>
		</div>	
	</div>
</div>