<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-2 mt-lg-3 mb-1 mb-lg-2">
				<h2 class="font-weight-bold">
					Click on the correct Collective Nouns from the brackets, to 
					complete the sentences.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<!-- 1 -->
				<div class="question">
					<div class="number"><span>1</span></div>
					<div class="text-container">
						<span>The fruit seller was left with only a</span>
						<div class="option-container">
							<div class="option">( <span>clump</span> /</div>
							<div class="option"><span>bunch</span> )</div>
						</div>
						<span>of bananas in the crate.</span>
					</div>
				</div>
				<!-- 2 -->
				<div class="question">
					<div class="number"><span>2</span></div>
					<div class="text-container">
						<span>A</span>
						<div class="option-container">
							<div class="option">( <span>sloth</span> /</div>
							<div class="option"><span>pack</span> )</div>
						</div>
						<span>of bears were hibernating in the cave.</span>
					</div>
				</div>
				<!-- 3 -->
				<div class="question">
					<div class="number"><span>3</span></div>
					<div class="text-container">
						<span>A</span>
						<div class="option-container">
							<div class="option">( <span>choir</span> /</div>
							<div class="option"><span>band</span> )</div>
						</div>
						<span>of singers sang in the church on Christmas Eve.</span>
					</div>
				</div>
				<!-- 4 -->
				<div class="question">
					<div class="number"><span>4</span></div>
					<div class="text-container">
						<span>Tracy’s</span>
						<div class="option-container">
							<div class="option">( <span>library</span> /</div>
							<div class="option"><span>bundle</span> )</div>
						</div>
						<span>of books is something that she treasures.</span>
					</div>
				</div>
				<!-- 5 -->
				<div class="question">
					<div class="number"><span>5</span></div>
					<div class="text-container">
						<span>On a wildlife safari, they saw a</span>
						<div class="option-container">
							<div class="option">( <span>litter</span> /</div>
							<div class="option"><span>herd</span> )</div>
						</div>
						<span>of zebras in the meadows.</span>
					</div>
				</div>
				<!-- 6 -->
				<div class="question">
					<div class="number"><span>6</span></div>
					<div class="text-container">
						<span>Indonesia is made up of a</span>
						<div class="option-container">
							<div class="option">( <span>colony</span> /</div>
							<div class="option"><span>chain</span> )</div>
						</div>
						<span>of islands.</span>
					</div>
				</div>
				<!-- 7 -->
				<div class="question">
					<div class="number"><span>7</span></div>
					<div class="text-container">
						<span>Before his exams, Peter bought himself a</span>
						<div class="option-container">
							<div class="option">( <span>box</span> /</div>
							<div class="option"><span>group</span> )</div>
						</div>
						<span>of pencils.</span>
					</div>
				</div>
				<!-- 8 -->
				<div class="question">
					<div class="number"><span>8</span></div>
					<div class="text-container">
						<span>The plumber took out his</span>
						<div class="option-container">
							<div class="option">( <span>batch</span> /</div>
							<div class="option"><span>set</span> )</div>
						</div>
						<span>of tools to repair the leakage of pipes.</span>
					</div>
				</div>
				<!-- 9 -->
				<div class="question">
					<div class="number"><span>9</span></div>
					<div class="text-container">
						<span>There was a heavy</span>
						<div class="option-container">
							<div class="option">( <span>drop</span> /</div>
							<div class="option"><span>fall</span> )</div>
						</div>
						<span>of snow in Boston yesterday.</span>
					</div>
				</div>
				<!-- 10 -->
				<div class="question">
					<div class="number"><span>10</span></div>
					<div class="text-container">
						<span>The wealthy man had a</span>
						<div class="option-container">
							<div class="option">( <span>crowd</span> /</div>
							<div class="option"><span>staff</span> )</div>
						</div>
						<span>of servants to look after his mansion.</span>
					</div>
				</div>
				<!-- end -->
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>