<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>

	<div class="loadingDiv">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-12 px-2 mb-1 mb-sm-4 pt-3">
				<!--  <div class="heading my-3 p-2">
                        <h2 class="font-weight-bold mb-0">Under the correct noun from the brackets to complete each sentence. </h2>
                    </div> -->
				<h2 class="font-weight-bold">
					<!-- Write 'sun' ,'rain' or 'snow' in the blanks to form compound words -->
					Click in the blanks given in the white shapes and then click on the correct
					words from the help box, to form Compound Words.

				</h2>
			</div>
		</div>



		<div class="col-12 helpbox">
			<div class="row mb-2">
				<div class="col-4 text-center option">
					<div class="helpbox-ans"><span><img src="assets/std01-compound-word-worksheet4/img/sun.png" data-text="sun"></span></div>
					<div class="helpbox-ans-text text-center"><span>sun</span></div>
				</div>
				<div class="col-4 text-center option">
					<div class="helpbox-ans"><span><img src="assets/std01-compound-word-worksheet4/img/rain.png" data-text="rain"></span></div>
					<div class="helpbox-ans-text text-center"><span>rain</span></div>
				</div>
				<div class="col-4 text-center option">
					<div class="helpbox-ans"><span></span><img src="assets/std01-compound-word-worksheet4/img/snow.png" data-text="snow"></div>
					<div class="helpbox-ans-text text-center"><span>snow</span></div>
				</div>
			</div>
		</div>

		<div class="Main_Container mt-2 mt-sm-5">

			<div class="row">

				<div class="col-12 col-sm-6 p-0 d-flex mb-3 Question_block first">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color">1)</span>
						</div>
					</div>

					<div class="col-3 p-1 p-sm-0 p-lg-1">
						<div class="cloud-img"><img src="assets/std01-compound-word-worksheet4/img/p1.png" class="img-fluid"></div>
						<div>
							<span class="span-input1"><input type="text" name="" id=""></span>
						</div>
						<span class="correct-ans1">rain/snow</span>
					</div>

					<div class="col-1 p-1">
						<span class="text-color">+</span>
					</div>
					<div class="col-2 p-1">
						<span class="text-color content">fall</span>
					</div>
					<div class="col-1 p-1">
						<span class="text-color">=</span>
					</div>
					<div class="col-4 p-1 p-sm-0 p-lg-1">

						<div><span class="span-input2"><input type="text" name="" id=""></span></div><span
							class="correct-ans2 first_answer">rainfall/snowfall</span>
					</div>

				</div>

				<div class="col-12 col-sm-6 p-0 d-flex mb-3 Question_block">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color">2)</span>
						</div>
					</div>

					<div class="col-3 p-1 p-sm-0 p-lg-1">
						<div class="cloud-img"><img src="assets/std01-compound-word-worksheet4/img/p1.png" class="img-fluid"></div>
						<div><span class="span-input1"><input type="text" name="" id=""></span></div><span
							class="correct-ans1">snow</span>
					</div>

					<div class="col-1 p-1">
						<span class="text-color">+</span>
					</div>
					<div class="col-2 p-1">
						<span class="text-color content">ball</span>
					</div>
					<div class="col-1 p-1">
						<span class="text-color">=</span>
					</div>
					<div class="col-4 p-1 p-sm-0 p-lg-1">

						<div><span class="span-input2"><input type="text" name="" id=""></span></div><span
							class="correct-ans2">snowball</span>
					</div>

				</div>

				<div class="col-12 col-sm-6 p-0 d-flex mb-3 Question_block">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color">3)</span>
						</div>
					</div>

					<div class="col-3 p-1 p-sm-0 p-lg-1">
						<div class="cloud-img"><img src="assets/std01-compound-word-worksheet4/img/p1.png" class="img-fluid"></div>
						<div><span class="span-input1"><input type="text" name="" id=""></span></div><span
							class="correct-ans1">sun</span>
					</div>

					<div class="col-1 p-1">
						<span class="text-color">+</span>
					</div>
					<div class="col-2 p-1">
						<span class="text-color content">glasses</span>
					</div>
					<div class="col-1 p-1">
						<span class="text-color">=</span>
					</div>
					<div class="col-4 p-1 p-sm-0 p-lg-1">

						<div><span class="span-input2"><input type="text" name="" id=""></span></div><span
							class="correct-ans2">sunglasses</span>
					</div>

				</div>

				<div class="col-12 col-sm-6 p-0 d-flex mb-3 Question_block">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color">4)</span>
						</div>
					</div>

					<div class="col-3 p-1 p-sm-0 p-lg-1">
						<div class="cloud-img"><img src="assets/std01-compound-word-worksheet4/img/p1.png" class="img-fluid"></div>
						<div><span class="span-input1"><input type="text" name="" id=""></span></div><span
							class="correct-ans1">snow</span>
					</div>

					<div class="col-1 p-1">
						<span class="text-color">+</span>
					</div>
					<div class="col-2 p-1">
						<span class="text-color content">man</span>
					</div>
					<div class="col-1 p-1">
						<span class="text-color">=</span>
					</div>
					<div class="col-4 p-1 p-sm-0 p-lg-1">

						<div><span class="span-input2"><input type="text" name="" id=""></span></div><span
							class="correct-ans2">snowman</span>
					</div>

				</div>

				<div class="col-12 col-sm-6 p-0 d-flex mb-3 Question_block">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color">5)</span>
						</div>
					</div>

					<div class="col-3 p-1 p-sm-0 p-lg-1">
						<div class="cloud-img"><img src="assets/std01-compound-word-worksheet4/img/p1.png" class="img-fluid"></div>
						<div><span class="span-input1"><input type="text" name="" id=""></span></div><span
							class="correct-ans1">rain</span>
					</div>

					<div class="col-1 p-1">
						<span class="text-color">+</span>
					</div>
					<div class="col-2 p-1">
						<span class="text-color content">coat</span>
					</div>
					<div class="col-1 p-1">
						<span class="text-color">=</span>
					</div>
					<div class="col-4 p-1 p-sm-0 p-lg-1">

						<div><span class="span-input2"><input type="text" name="" id=""></span></div><span
							class="correct-ans2">raincoat</span>
					</div>

				</div>

				<div class="col-12 col-sm-6 p-0 d-flex mb-3 Question_block">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color">6)</span>
						</div>
					</div>

					<div class="col-3 p-1 p-sm-0 p-lg-1">
						<div class="cloud-img"><img src="assets/std01-compound-word-worksheet4/img/p1.png" class="img-fluid"></div>
						<div><span class="span-input1"><input type="text" name="" id=""></span></div><span
							class="correct-ans1">sun</span>
					</div>

					<div class="col-1 p-1">
						<span class="text-color">+</span>
					</div>
					<div class="col-2 p-1">
						<span class="text-color content">set</span>
					</div>
					<div class="col-1 p-1">
						<span class="text-color">=</span>
					</div>
					<div class="col-4 p-1 p-sm-0 p-lg-1">

						<div><span class="span-input2"><input type="text" name="" id=""></span></div><span
							class="correct-ans2">sunset</span>
					</div>

				</div>

				<div class="col-12 col-sm-6 p-0 d-flex mb-3 Question_block">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color">7)</span>
						</div>
					</div>

					<div class="col-3 p-1 p-sm-0 p-lg-1">
						<div class="cloud-img"><img src="assets/std01-compound-word-worksheet4/img/p1.png" class="img-fluid"></div>
						<div><span class="span-input1"><input type="text" name="" id=""></span></div><span
							class="correct-ans1">snow</span>
					</div>

					<div class="col-1 p-1">
						<span class="text-color">+</span>
					</div>
					<div class="col-2 p-1">
						<span class="text-color content">flake</span>
					</div>
					<div class="col-1 p-1">
						<span class="text-color">=</span>
					</div>
					<div class="col-4 p-1 p-sm-0 p-lg-1">

						<div><span class="span-input2"><input type="text" name="" id=""></span></div><span
							class="correct-ans2">snowflake</span>
					</div>

				</div>

				<div class="col-12 col-sm-6 p-0 d-flex mb-3 Question_block">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color">8)</span>
						</div>
					</div>

					<div class="col-3 p-1 p-sm-0 p-lg-1">
						<div class="cloud-img"><img src="assets/std01-compound-word-worksheet4/img/p1.png" class="img-fluid"></div>
						<div><span class="span-input1"><input type="text" name="" id=""></span></div><span
							class="correct-ans1">rain</span>
					</div>

					<div class="col-1 p-1">
						<span class="text-color">+</span>
					</div>
					<div class="col-2 p-1">
						<span class="text-color content">drop</span>
					</div>
					<div class="col-1 p-1">
						<span class="text-color">=</span>
					</div>
					<div class="col-4 p-1 p-sm-0 p-lg-1">

						<div><span class="span-input2"><input type="text" name="" id=""></span></div><span
							class="correct-ans2">raindrop</span>
					</div>

				</div>

				<div class="col-12 col-sm-6 p-0 d-flex mb-3 Question_block">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color">9)</span>
						</div>
					</div>

					<div class="col-3 p-1 p-sm-0 p-lg-1">
						<div class="cloud-img"><img src="assets/std01-compound-word-worksheet4/img/p1.png" class="img-fluid"></div>
						<div><span class="span-input1"><input type="text" name="" id=""></span></div><span
							class="correct-ans1">sun</span>
					</div>

					<div class="col-1 p-1">
						<span class="text-color">+</span>
					</div>
					<div class="col-2 p-1">
						<span class="text-color content">light</span>
					</div>
					<div class="col-1 p-1">
						<span class="text-color">=</span>
					</div>
					<div class="col-4 p-1 p-sm-0 p-lg-1">

						<div><span class="span-input2"><input type="text" name="" id=""></span></div><span
							class="correct-ans2">sunlight</span>
					</div>

				</div>

				<div class="col-12 col-sm-6 p-0 d-flex mb-3 Question_block">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color">10)</span>
						</div>
					</div>

					<div class="col-3 p-1 p-sm-0 p-lg-1">
						<div class="cloud-img"><img src="assets/std01-compound-word-worksheet4/img/p1.png" class="img-fluid"></div>
						<div><span class="span-input1"><input type="text" name="" id=""></span></div><span
							class="correct-ans1">sun</span>
					</div>

					<div class="col-1 p-1">
						<span class="text-color">+</span>
					</div>
					<div class="col-2 p-1">
						<span class="text-color content">shine</span>
					</div>
					<div class="col-1 p-1">
						<span class="text-color">=</span>
					</div>
					<div class="col-4 p-1 p-sm-0 p-lg-1">

						<div><span class="span-input2"><input type="text" name="" id=""></span></div><span
							class="correct-ans2">sunshine</span>
					</div>

				</div>
			</div>
			<div class="btn-row">
				<button class="button myButton">Submit</button>
			</div>

		</div>

	</div>
</div>