<div class="bg">
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="main-question-container">
				<!-- i -->
				<div class="question-heading shift-bottom a-container">
					<div class="q-number"><span>I )</span></div>
					<div class="q-text-container">
						<div class="question-text"><span>Click on the blanks and then click on the correct Nouns given below the pictures that will be used with ‘a’.</span></div>
						<div class="question-container">
							<!-- 1 -->
							<div class="question">
								<div class="number"><span>1)</span></div>
								<div class="text-container">
									<span>a </span>
									<div class="input-container">
										<input type="text">
										<div class="ans-div"><span>crown</span></div>
									</div>
								</div>
							</div>
							<!-- 2 -->
							<div class="question">
								<div class="number"><span>2)</span></div>
								<div class="text-container">
									<span>a </span>
									<div class="input-container">
										<input type="text" >
										<div class="ans-div"><span>scissor</span></div>
									</div>
								</div>
							</div>
							<!-- 3 -->
							<div class="question">
								<div class="number"><span>3)</span></div>
								<div class="text-container">
									<span>a </span>
									<div class="input-container">
										<input type="text" >
										<div class="ans-div"><span>bird</span></div>
									</div>
								</div>
							</div>
							<!-- 4 -->
							<div class="question">
								<div class="number"><span>4)</span></div>
								<div class="text-container">
									<span>a </span>
									<div class="input-container">
										<input type="text" >
										<div class="ans-div"><span>butterfly</span></div>
									</div>
								</div>
							</div>
							<!-- 5 -->
							<div class="question">
								<div class="number"><span>5)</span></div>
								<div class="text-container">
									<span>a </span>
									<div class="input-container">
										<input type="text" >
										<div class="ans-div"><span>tree</span></div>
									</div>
								</div>
							</div>
							<!-- end -->
						</div>
					</div>
				</div>
				<!-- ii -->
				<div class="question-heading an-container">
					<div class="q-number"><span>II )</span></div>
					<div class="q-text-container">
						<div class="question-text"><span>Click on the blanks and then click on the correct Nouns given below the pictures that will be used with ‘an’.</span></div>
						<div class="question-container">
							<!-- 1 -->
							<div class="question">
								<div class="number"><span>1)</span></div>
								<div class="text-container">
									<span>an </span>
									<div class="input-container">
										<input type="text" >
										<div class="ans-div"><span>orange</span></div>
									</div>
								</div>
							</div>
							<!-- 2 -->
							<div class="question">
								<div class="number"><span>2)</span></div>
								<div class="text-container">
									<span>an </span>
									<div class="input-container">
										<input type="text" >
										<div class="ans-div"><span>igloo</span></div>
									</div>
								</div>
							</div>
							<!-- 3 -->
							<div class="question">
								<div class="number"><span>3)</span></div>
								<div class="text-container">
									<span>an </span>
									<div class="input-container">
										<input type="text" >
										<div class="ans-div"><span>umbrella</span></div>
									</div>
								</div>
							</div>
							<!-- 4 -->
							<div class="question">
								<div class="number"><span>4)</span></div>
								<div class="text-container">
									<span>an </span>
									<div class="input-container">
										<input type="text" >
										<div class="ans-div"><span>egg</span></div>
									</div>
								</div>
							</div>
							<!-- 5 -->
							<div class="question">
								<div class="number"><span>5)</span></div>
								<div class="text-container">
									<span>an </span>
									<div class="input-container">
										<input type="text" >
										<div class="ans-div"><span>airplane</span></div>
									</div>
								</div>
							</div>
							<!-- end -->
						</div>
					</div>
				</div>
				<!-- end -->
				<!-- helpbox -->
				<div class="scissor">
					<img src="assets/std01-articles-worksheet4/img/scissor.png" alt="" class="img-fluid">
				</div>
				<div class="igloo">
					<img src="assets/std01-articles-worksheet4/img/igloo.png" alt="" class="img-fluid">
				</div>
				<div class="crown">
					<img src="assets/std01-articles-worksheet4/img/crown.png" alt="" class="img-fluid">
				</div>
				<div class="orange">
					<img src="assets/std01-articles-worksheet4/img/orange.png" alt="" class="img-fluid">
				</div>
				<div class="bird">
					<img src="assets/std01-articles-worksheet4/img/bird.png" alt="" class="img-fluid">
				</div>
				<div class="umbrella">
					<img src="assets/std01-articles-worksheet4/img/umbrella.png" alt="" class="img-fluid">
				</div>
				<div class="tree">
					<img src="assets/std01-articles-worksheet4/img/tree.png" alt="" class="img-fluid">
				</div>
				 <div class="airplane">
					<img src="assets/std01-articles-worksheet4/img/airplane.png" alt="" class="img-fluid">
				</div>
				<div class="egg">
					<img src="assets/std01-articles-worksheet4/img/egg.png" alt="" class="img-fluid">
				</div>
				<div class="butterfly">
					<img src="assets/std01-articles-worksheet4/img/butterfly.png" alt="" class="img-fluid">
				</div>
				<!-- helpbox-end -->
				<!-- btn strt -->
				<div class="row btn-row">
					<div class="col-12 text-center">
						<button class="button myButton">Submit</button>
					</div>
				</div>
				<!-- btn end -->
			</div>
		</div>
	</div>
</div>