<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				 <img src="" alt="" class="Text fabulous hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
	
	<div class="loadingDiv">
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-xs-12 px-2 p-2 mt-3">
				<h2 class="font-weight-bold">
					Click on  the alphabets in the word search to mark the Rhyming Words given in the help box of watermelons.
				</h2>
			</div>
		</div>
		<!--help box-->
		<div class="Option_Container">
			<div class="options">
				<div class="option_block">
					<div class="option">
						<span class="moat m">m</span><span class="moat o">o</span><span class="moat a">a</span><span class="moat t">t</span>
					</div>
					<div class="option">
						<span class="goat g">g</span><span class="goat o">o</span><span class="goat a">a</span><span class="goat t">t</span>
					</div>
				</div>
				<div class="option_block">
					<div class="option">
						<span class="grate g">g</span><span class="grate r">r</span><span class="grate a">a</span><span class="grate t">t</span><span class="grate e">e</span>
					</div>
					<div class="option">
						<span class="skate s">s</span><span class="skate k">k</span><span class="skate a">a</span><span class="skate t">t</span><span class="skate e">e</span>
					</div>
				</div>
				<div class="option_block">
					<div class="option">
						<span class="house h">h</span><span class="house o">o</span><span class="house u">u</span><span class="house s">s</span><span class="house e">e</span>
					</div>
					<div class="option">
						<span class="mouse m">m</span><span class="mouse o">o</span><span class="mouse u">u</span><span class="mouse s">s</span><span class="mouse e">e</span>
					</div>
				</div>
				<div class="option_block">
					<div class="option">
						<span class="drank d">d</span><span class="drank r">r</span><span class="drank a">a</span><span class="drank n">n</span><span class="drank k">k</span>
					</div>
					<div class="option">
						<span class="crank c">c</span><span class="crank r">r</span><span class="crank a">a</span><span class="crank n">n</span><span class="crank k">k</span>
					</div>
				</div>
				<div class="option_block">
					<div class="option">
						<span class="option_line l">l</span><span class="option_line i">i</span><span class="option_line n">n</span><span class="option_line e">e</span>
					</div>
					<div class="option">
						<span class="mine m">m</span><span class="mine i">i</span><span class="mine n">n</span><span class="mine e">e</span>
					</div>
				</div>
				<div class="option_block">
					<div class="option">
						<span class="cape c">c</span><span class="cape a">a</span><span class="cape p">p</span><span class="cape e">e</span>
					</div>
					<div class="option">
						<span class="tape t">t</span><span class="tape a">a</span><span class="tape p">p</span><span class="tape e">e</span>
					</div>
				</div>
			</div>
		</div>
		<!---help box-->
		<div class="row">
			<div class="question-container">
				<div class="row m-0">
					<div class="col-1 p-0 max-width-5"></div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer first crank" word-click="crank"><span>C</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer first crank" word-click="crank"><span>R</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer first crank" word-click="crank"><span>A</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer first crank" word-click="crank"><span>N</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer first crank" word-click="crank"><span >K</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >E</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >U</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >K</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >J</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer second skate" word-click="skate"><span >S</span></div>
					</div>
					<div class="col-1 p-0 max-width-5"></div>
				</div>
				<!--2-->
				<div class="row m-0 margin-top-1">
					<div class="col-1 p-0 max-width-5"></div>
					<div class="col-1 p-0">
						<div class="span-container"><span>B</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span>Y</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span>W</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer third house" word-click="house"><span>H</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer third house" word-click="house"><span>O</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer third house" word-click="house"><span >U</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer third house" word-click="house"><span >S</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer third house" word-click="house"><span >E</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >V</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer second skate" word-click="skate"><span >K</span></div>
					</div>
					<div class="col-1 p-0 max-width-5"></div>
				</div>
				
				<!--3-->
				<div class="row m-0 margin-top-1">
					<div class="col-1 p-0 max-width-5"></div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer fifth mouse" word-click="mouse"><span>M</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span>Z</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span>O</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span>I</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span>C</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer fourth cape" word-click="cape"><span >C</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer fourth cape" word-click="cape"><span >A</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer fourth cape" word-click="cape"><span >P</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer fourth cape" word-click="cape"><span >E</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer second skate" word-click="skate"><span >A</span></div>
					</div>
					<div class="col-1 p-0 max-width-5"></div>
				</div>
				<!--4-->
				<div class="row m-0 margin-top-1">
					<div class="col-1 p-0 max-width-5"></div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer fifth mouse" word-click="mouse"><span>O</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span>E</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer sixth drank" word-click="drank"><span>D</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span>Q</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span>H</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >D</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >W</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >S</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >Q</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer second skate" word-click="skate"><span >T</span></div>
					</div>
					<div class="col-1 p-0 max-width-5"></div>
				</div>
				
				<!--5-->
				<div class="row m-0 margin-top-1">
					<div class="col-1 p-0 max-width-5"></div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer fifth mouse" word-click="mouse"><span>U</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer seventh grate" word-click="grate"><span>G</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer sixth seventh drank grate" word-click="drank,grate"><span>R</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer seventh grate" word-click="grate"><span>A</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer seventh grate" word-click="grate"><span>T</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer seventh grate" word-click="grate"><span >E</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >I</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >D</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >Z</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer second skate" word-click="skate"><span >E</span></div>
					</div>
					<div class="col-1 p-0 max-width-5"></div>
				</div>
			
				
				<!--6-->
				<div class="row m-0 margin-top-1">
					<div class="col-1 p-0 max-width-5"></div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer fifth mouse" word-click="mouse"><span>S</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span>N</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer sixth drank" word-click="drank"><span>A</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span>B</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span>J</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >C</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >T</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >Y</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >O</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >X</span></div>
					</div>
					<div class="col-1 p-0 max-width-5"></div>
				</div>
			
				<!--7-->
				<div class="row m-0 margin-top-1">
					<div class="col-1 p-0 max-width-5"></div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer fifth mouse" word-click="mouse"><span>E</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer eighth tape" word-click="tape"><span>T</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer sixth drank" word-click="drank"><span>N</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer nineth option_line" word-click="option_line"><span>L</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span>O</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer tenth mine" word-click="mine"><span >M</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer tenth mine" word-click="mine"><span >I</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer tenth mine" word-click="mine"><span >N</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer tenth mine" word-click="mine"><span >E</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer eleventh moat" word-click="moat"><span >M</span></div>
					</div>
					<div class="col-1 p-0 max-width-5"></div>
				</div>
				<!--8-->
				<div class="row m-0 margin-top-1">
					<div class="col-1 p-0 max-width-5"></div>
					<div class="col-1 p-0">
						<div class="span-container"><span>W</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer eighth tape" word-click="tape"><span>A</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer sixth drank" word-click="drank"><span>K</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer nineth option_line" word-click="option_line"><span>I</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span>S</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >H</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >B</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >L</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >D</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer eleventh moat" word-click="moat"><span >O</span></div>
					</div>
					<div class="col-1 p-0 max-width-5"></div>
				</div>
				<!--9-->
				<div class="row m-0 margin-top-1">
					<div class="col-1 p-0 max-width-5"></div>
					<div class="col-1 p-0">
						<div class="span-container "><span>P</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer eighth tape" word-click="tape"><span>P</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span>S</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer nineth option_line" word-click="option_line"><span>N</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span>K</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer twelveth goat" word-click="goat"><span >G</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer twelveth goat" word-click="goat"><span >O</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer twelveth goat" word-click="goat"><span >A</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer twelveth goat" word-click="goat"><span >T</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer eleventh moat" word-click="moat"><span >A</span></div>
					</div>
					<div class="col-1 p-0 max-width-5"></div>
				</div>
				<!--10-->
				<div class="row m-0 margin-top-1 mb-3">
					<div class="col-1 p-0 max-width-5"></div>
					<div class="col-1 p-0">
						<div class="span-container"><span>A</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer eighth tape" word-click="tape"><span>E</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span>I</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer nineth option_line" word-click="option_line"><span>E</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span>Z</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >M</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >E</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >R</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container"><span >U</span></div>
					</div>
					<div class="col-1 p-0">
						<div class="span-container correct-answer eleventh moat" word-click="moat"><span >T</span></div>
					</div>
					<div class="col-1 p-0 max-width-5"></div>
				</div>
				
				<div class="line crank_line"></div>
				<div class="line house_line"></div>
				<div class="line grate_line"></div>
				<div class="line cape_line"></div>
				<div class="line mine_line"></div>
				<div class="line goat_line"></div>

				<div class="line mouse_line"></div>
				<div class="line skate_line"></div>
				<div class="line drank_line"></div>
				<div class="line tape_line"></div>
				<div class="line line_line"></div>
				<div class="line moat_line"></div>

				
			</div>
		</div>	
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
	</div>
</div>