<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
  <div class="Box">
          <div class="imgBox">
      <img src="" alt="" class="Text keep-practicing hide">
      <img src="" alt="" class="Text outstanding hide">
      <img src="" alt="" class="Text brilliant hide">
      <img src="" alt="" class="Text good-work hide">
      <!-- <img src="" alt="" class="Text fabulous hide"> -->
    </div>
    <div class="TextBox">
      <h1></h1>
    </div>
    <img src="assets/images/close.png" alt="" class="close">
  </div>
</div>
  
  <div class="loadingDiv">
</div>

  <div class="container">
  <div class="heading">
    <h1>Click on the blanks and then click on the correct Predicates from the help box, to complete the sentences.</h1>
  </div>
      <div class="row Main_Container">
          <div class="col-12 Option_Container">
              <div class="option_Block">
                  <div class="options">
                      <div class="option">turn on at 5 o’ clock</div>
                      <div class="option">were decorating the christmas tree</div>
                      <div class="option">went on a camping trip</div>
                      <div class="option">solved the Rubik’s cube in a minute</div>
                      <div class="option">checked each and every passenger</div>
                      <div class="option">should be learnt by everyone</div>
                      <div class="option">opened near my house</div>
                      <div class="option">is an amazing movie for kids</div>
                  </div>
              </div>
          </div>
          <div class="col-12 Question_Container">
              <div class="Question_Block">
                  <div class="Question first">
                      <label for="field">1) The boys scout </label>
                      <div class="Answer"></div>
                      <div class="correct_answer"><span>went on a camping trip</span></div>
                      <div class="dot">.</div>
                  </div>
                  <div class="Question second">
                      <label for="field">2) Swimming </label>
                      <div class="Answer"></div>
                      <div class="correct_answer"><span>should be learnt by everyone</span></div>
                      <div class="dot">.</div>
                  </div>
                  <div class="Question third">
                      <label for="field">3) That intelligent boy </label>
                      <div class="Answer"></div>
                      <div class="correct_answer"><span>solved the Rubik’s cube in a minute</span></div><div class="dot">.</div>
                  </div>
                  <div class="Question fourth">
                      <label for="field">4) Last night, my parents </label>
                      <div class="Answer"></div>
                      <div class="correct_answer"><span>were decorating the christmas tree</span></div>
                      <div class="dot">.</div>
                  </div>
                  <div class="Question fifth">
                      <label for="field">5) The sprinklers of the garden </label>
                      <div class="Answer"></div>
                      <div class="correct_answer"><span>turn on at 5 o’ clock</span></div>
                      <div class="dot">.</div>
                  </div>
                  <div class="Question sixth">
                      <label for="field">6) ‘Madagascar’ </label>
                      <div class="Answer"></div>
                      <div class="correct_answer"><span>is an amazing movie for kids</span></div>
                      <div class="dot">.</div>
                  </div>
                  <div class="Question seventh">
                      <label for="field">7) A new Thai food restaurant </label>
                      <div class="Answer"></div>
                      <div class="correct_answer"><span>opened near my house</span></div>
                      <div class="dot">.</div>
                  </div>
                  <div class="Question eighth">
                      <label for="field">8) The security </label>
                      <div class="Answer"></div>
                      <div class="correct_answer"><span>checked each and every passenger</span></div>
                      <div class="dot">.</div>
                  </div>
              </div>
          </div>
  </div>
  <div class="btn-row">
    <button class="button myButton">Submit</button>
  </div>
     
  </div>
</div>