<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row">
            <div class="heading mt-3">
                <h1>
                  Click on the blanks and then click on the correct Prepositions from the help box, to complete the sentences.
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-10 col-md-10 col-lg-10 Option_Container mx-auto text-center">
                <div class="options">
                  <span class="over">over</span>
                  <span class="next">next to</span>
                  <span class="across">across</span>
                  <span class="by">by</span><br>
                    <span class="from">from</span>
                    <span class="into">into</span>
                    <span class="through">through</span>
                    <span class="between">between</span>
                </div>
                
            </div>
    </div>
        <div class="row">
            <div class="col-12 Question_Container">
              <div class="row">
                  <div class="col-12 col-sm-6">
                      <div class="row Question">
                          <div class="col-1 p-1 p-sm-0 my-auto text-center">1)</div>
                          <div class="col-9 my-auto">
                              <span>The cat is <input type="text"> <div class="correct_answer"><span>by</span></div> the river.</span>
                              <img src="assets/std01-prepositions-worksheet4/img/by.png" alt="" class="by">
                            </div>
                      </div>
                  </div>
                  <div class="col-12 col-sm-6">
                        <div class="row Question">
                            <div class="col-1 p-1 p-sm-0 my-auto text-center">2)</div>
                            <div class="col-9 my-auto">
                                <span>The cat ran <input type="text"> <div class="correct_answer"><span>through</span></div> the pipe.</span>
                                <img src="assets/std01-prepositions-worksheet4/img/through.png" alt="" class="through">
                            </div>
                        </div>
                    </div>
              </div>
              <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="row Question">
                            <div class="col-1 p-1 p-sm-0 my-auto text-center">3)</div>
                            <div class="col-9 my-auto">
                                <span>The cat jumped <input type="text"> <div class="correct_answer"><span>over</span></div> the fence.</span>
                                <img src="assets/std01-prepositions-worksheet4/img/over.png" alt="" class="over">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="row Question">
                            <div class="col-1 p-1 p-sm-0 my-auto text-center">4)</div>
                            <div class="col-9 my-auto">
                                <span>The cat is <input type="text"> <div class="correct_answer"><span>next to</span></div> the chair.</span>
                                <img src="assets/std01-prepositions-worksheet4/img/next.png" alt="" class="next">
                              </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                      <div class="row Question">
                          <div class="col-1 p-1 p-sm-0 my-auto text-center">5)</div>
                          <div class="col-9 my-auto">
                            <span>The cat ran <input type="text"> <div class="correct_answer"><span>across</span></div> the street.</span>
                              <img src="assets/std01-prepositions-worksheet4/img/across.png" alt="" class="across">
                            </div>
                      </div>
                  </div>
                  <div class="col-12 col-sm-6">
                        <div class="row Question">
                            <div class="col-1 p-1 p-sm-0 my-auto text-center">6)</div>
                            <div class="col-9 my-auto">
                                <span>The cat is <input type="text"> <div class="correct_answer"><span>between</span></div> the table and the chair.</span>
                                <img src="assets/std01-prepositions-worksheet4/img/between.png" alt="" class="between">
                            </div>
                        </div>
                    </div>
              </div>
              <div class="row">
                  <div class="col-12 col-sm-6">
                      <div class="row Question">
                          <div class="col-1 p-1 p-sm-0 my-auto text-center">7)</div>
                          <div class="col-9 my-auto">
                            <span>The cat jumped <input type="text"> <div class="correct_answer"><span>into</span></div> the box.</span>
                              <img src="assets/std01-prepositions-worksheet4/img/into.png" alt="" class="into">
                            </div>
                      </div>
                  </div>
                  <div class="col-12 col-sm-6">
                        <div class="row Question">
                            <div class="col-1 p-1 p-sm-0 my-auto text-center">8)</div>
                            <div class="col-9 my-auto">
                                <span>The cat jumped <input type="text"> <div class="correct_answer"><span>from</span></div> the table.</span>
                                <img src="assets/std01-prepositions-worksheet4/img/from.png" alt="" class="from">
                            </div>
                        </div>
                    </div>
              </div>
              
            </div>
        </div>
        
        <div class="btn-row">
            <button class="button myButton">Submit</button>
        </div>
    
      
    </div>
</div>

   