<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">

            <div class="imgBox">
                <img src="" alt="" class="Text fabulous hide">
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  <div class="loadingDiv">
  </div>

  <div class="container">
      <div class="row">
            <div class="heading mt-3">
                <h1>
                      Click on the blanks and then click on the correct alphabets from the help box, to complete the
                      Proper Nouns of story titles.
                </h1>
            </div>
      </div>
      <div class="row">
            <div class="helpbox-container">
                <div class="helpbox helpbox-1">
                      <div data-set="first"><span>B</span></div>
                      <div data-set="second"><span>W</span></div>
                      <div data-set="third"><span>J</span></div>
                      <div data-set="four"><span>B</span></div>
                      <div data-set="six"><span>L</span></div>
                      <div data-set="seven"><span>A</span></div>
                      <div data-set="eight"><span>T</span></div>
                </div>
                <div class="helpbox helpbox-2">
                      <div data-set="nine"><span>C</span></div>
                      <div data-set="ten"><span>M</span></div>
                      <div data-set="eleven"><span>D</span></div>
                      <div data-set="twelth"><span>U</span></div>
                      <div data-set="thirteen"><span>T</span></div>
                      <div data-set="fourteen"><span>B</span></div>
                </div>
            </div>
      </div>
      <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 Question_Container">
                <div class="row">
                      <div class="col-6 col-sm-4 col-md-4 col-lg-4 Question">
                          <div class="img_container mb-3">
                                <img src="assets/std01-proper-noun-worksheet1/img/jack.jpg" alt="" class="img-fluid">
                          </div>
                          <div class="text_block">
                                <span class="input_div"><span class="input"><span>X</span></span>
                                    <div class="correct_answer">J</div>
                                </span><span class="content">ack and the</span> <span class="input_div"><span
                                          class="input"><span>X</span></span>
                                    <div class="correct_answer">B</div>
                                </span><span class="content">eanstalk</span>
                          </div>
                      </div>
                      <div class="col-6 col-sm-4 col-md-4 col-lg-4 Question">
                          <div class="img_container mb-3">
                                <img src="assets/std01-proper-noun-worksheet1/img/cinderella.jpg" alt="" class="img-fluid">
                          </div>
                          <div class="text_block">
                                <span class="input_div"><span class="input"><span>X</span></span>
                                    <div class="correct_answer">C</div>
                                </span><span class="content">inderella</span>
                          </div>
                      </div>
                      <div class="col-6 col-sm-4 col-md-4 col-lg-4 Question">
                          <div class="img_container mb-3">
                                <img src="assets/std01-proper-noun-worksheet1/img/mermid.jpg" alt="" class="img-fluid">
                          </div>
                          <div class="text_block">
                                <span class="input_div"><span class="input"><span>X</span></span>
                                    <div class="correct_answer">T</div>
                                </span><span class="content">he</span> <span class="input_div"><span
                                          class="input"><span>X</span></span>
                                    <div class="correct_answer">L</div>
                                </span><span class="content">ittle</span> <span class="input_div"><span
                                          class="input"><span>X</span></span>
                                    <div class="correct_answer">M</div>
                                </span><span class="content">ermaid</span>
                          </div>
                      </div>
                      <div class="col-6 col-sm-4 col-md-4 col-lg-4 Question">
                          <div class="img_container mb-3">
                                <img src="assets/std01-proper-noun-worksheet1/img/beauty_beast.jpg" alt="" class="img-fluid">
                          </div>
                          <div class="text_block">
                                <span class="input_div"><span class="input"><span>X</span></span>
                                    <div class="correct_answer">B</div>
                                </span><span class="content">eauty and the</span> <span class="input_div"><span
                                          class="input"><span>X</span></span>
                                    <div class="correct_answer">B</div>
                                </span><span class="content">east</span>
                          </div>
                      </div>

                      <div class="col-6 col-sm-4 col-md-4 col-lg-4 Question">
                          <div class="img_container mb-3">
                                <img src="assets/std01-proper-noun-worksheet1/img/alice.jpg" alt="" class="img-fluid">
                          </div>
                          <div class="text_block">
                                <span class="input_div"><span class="input"><span>X</span></span>
                                    <div class="correct_answer">A</div>
                                </span><span class="content">lice in</span> <span class="input_div"><span
                                          class="input"><span>X</span></span>
                                    <div class="correct_answer">W</div>
                                </span><span class="content">onderland</span>
                          </div>
                      </div>
                      <div class="col-6 col-sm-4 col-md-4 col-lg-4 Question">
                          <div class="img_container mb-3">
                                <img src="assets/std01-proper-noun-worksheet1/img/duckling.jpg" alt="" class="img-fluid">
                          </div>
                          <div class="text_block">
                                <span class="input_div"><span class="input"><span>X</span></span>
                                    <div class="correct_answer">T</div>
                                </span><span class="content">he</span> <span class="input_div"><span
                                          class="input"><span>X</span></span>
                                    <div class="correct_answer">U</div>
                                </span><span class="content">gly</span> <span class="input_div"><span
                                          class="input"><span>X</span></span>
                                    <div class="correct_answer">D</div>
                                </span><span class="content">uckling</span>
                          </div>
                      </div>
                </div>
            </div>
      </div>
      <div class="row btn-row">
            <div class="col-12 text-center">
                <button class="button myButton">Submit</button>
            </div>
      </div>
  </div>
</div>