<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <img src="" alt="" class="Text fabulous hide">
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row m-0">
            <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
                <h2 class="font-weight-bold heading">
                    Click on the blanks given in the boxes and then click on the correct words from the help box, that identifies the underlined Nouns.
                </h2>
            </div>
        </div>

        <div class="helpbox-container">
            <div class="helpbox-ans">
                <span>Singular</span>
            </div>
            <div class="helpbox-ans">
                <span>Plural</span>
            </div>
        </div>

        <div class="main-question-container">

            <div class="row m-0">
                <div class="question-container">
                    <!-- 1 -->
                    <div class="question">
                        <div class="number">
                            <span>1)</span>
                        </div>
                        <div class="text-container">
                            <span>The <u>geese</u> walked around the fountain in the garden.</span>
                        </div>
                        <div class="input-container">
                            <span class="input-span blue"><input type="text" data-text="first"></span>
                            <div class="correct-answer">
                                <span>Plural</span>
                            </div>
                        </div>

                    </div>
                    <!-- 2 -->
                    <div class="question">
                        <div class="number">
                            <span>2)</span>
                        </div>
                        <div class="text-container">
                            <span>Lunch is served at 12:30 p.m. in the <u>cafetaria</u>.</span>
                        </div>
                        <div class="input-container">
                            <span class="input-span sky"><input type="text" data-text="second"></span>
                            <div class="correct-answer">
                                <span>Singular</span>
                            </div>
                        </div>
                    </div>
                    <!-- 3 -->
                    <div class="question">
                        <div class="number">
                            <span>3)</span>
                        </div>
                        <div class="text-container">
                            <span>The <u>mice</u> followed The Pied Piper of Hamelin.</span>
                        </div>
                        <div class="input-container">
                            <span class="input-span pink"><input type="text" data-text="third"></span>
                            <div class="correct-answer">
                                <span>Plural</span>
                            </div>
                        </div>
                    </div>
                      <!-- 4 -->
                      <div class="question">
                        <div class="number">
                            <span>4)</span>
                        </div>
                        <div class="text-container">
                            <span>There were a dozen <u>horses</u> at the stud farm.</span>
                        </div>
                        <div class="input-container">
                            <span class="input-span blue"><input type="text" data-text="third"></span>
                            <div class="correct-answer">
                                <span>Plural</span>
                            </div>
                        </div>
                    </div>
                     <!-- 5 -->
                     <div class="question">
                            <div class="number">
                                <span>5)</span>
                            </div>
                            <div class="text-container">
                                <span>Mrs. Sander’s pet cat licked its <u>paw</u>.</span>
                            </div>
                            <div class="input-container">
                                <span class="input-span sky"><input type="text" data-text="first"></span>
                                <div class="correct-answer">
                                    <span>Singular</span>
                                </div>
                            </div>
    
                        </div>
                        <!-- 6 -->
                        <div class="question">
                            <div class="number">
                                <span>6)</span>
                            </div>
                            <div class="text-container">
                                <span>The kids ran bare <u>feet</u> on the beach.</span>
                            </div>
                            <div class="input-container">
                                <span class="input-span pink"><input type="text" data-text="second"></span>
                                <div class="correct-answer">
                                    <span>Plural</span>
                                </div>
                            </div>
                        </div>
                        <!-- 7 -->
                        <div class="question">
                            <div class="number">
                                <span>7)</span>
                            </div>
                            <div class="text-container">
                                <span>Our classroom <u>benches</u> need to be repaired.</span>
                            </div>
                            <div class="input-container">
                                <span class="input-span blue"><input type="text" data-text="third"></span>
                                <div class="correct-answer">
                                    <span>Plural</span>
                                </div>
                            </div>
                        </div>
                          <!-- 8 -->
                          <div class="question">
                            <div class="number">
                                <span>8)</span>
                            </div>
                            <div class="text-container">
                                <span>A <u>policeman</u> patrols every night on our street.</span>
                            </div>
                            <div class="input-container">
                                <span class="input-span sky"><input type="text" data-text="third"></span>
                                <div class="correct-answer">
                                    <span>Singular</span>
                                </div>
                            </div>
                        </div>
                         <!-- 9 -->
                         <div class="question">
                            <div class="number">
                                <span>9)</span>
                            </div>
                            <div class="text-container">
                                <span>The <u>child</u> was very happy to get a new toy.</span>
                            </div>
                            <div class="input-container">
                                <span class="input-span pink"><input type="text" data-text="third"></span>
                                <div class="correct-answer">
                                    <span>Singular</span>
                                </div>
                            </div>
                        </div>
                         <!-- 10 -->
                         <div class="question">
                            <div class="number">
                                <span>10)</span>
                            </div>
                            <div class="text-container">
                                <span>I saw bright, twinkling <u>stars</u> on a no moon night.</span>
                            </div>
                            <div class="input-container">
                                <span class="input-span blue"><input type="text" data-text="third"></span>
                                <div class="correct-answer">
                                    <span>Plural</span>
                                </div>
                            </div>
                        </div>
                     <!-- end -->
                </div>
            </div>
           
        </div>
        <div class="row btn-row">
            <div class="col-12 text-center">
                <button class="button myButton">Submit</button>
            </div>
        </div>
    </div>
</div>