<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text fabulous hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-2 mt-lg-3 mb-1 mb-lg-2">
				<h2 class="font-weight-bold head">
					Click on the Common Nouns in the following sentences.
				</h2>
			</div>
		</div>
		<div class="row">
        <div class="main-question-container">
            <!-- 1 -->
            <div class="question">
              <div class="number"><span>1</span></div>
              <div class="text-container"><span>Today</span>, <span>the</span> <span class="right">sun</span> <span>is</span> <span>shining</span> <span>brightly</span> <span>in</span> <span>the</span> <span class="right">sky</span>. </div>
            </div>
            <!-- 2 -->
            <div class="question">
              <div class="number"><span>2</span></div>
              <div class="text-container"><span>My</span> <span class="right">cousin</span> <span>lives</span> <span>in</span> <span>a</span> <span>small</span> <span class="right">town</span>. </div>
            </div>
            <!-- 3 -->
            <div class="question">
              <div class="number"><span>3</span></div>
              <div class="text-container"><span>The</span> <span class="right">news</span> <span>said</span> <span>that</span> <span>there</span> <span>can</span> <span>be</span> <span>a</span> <span class="right">thunderstorm</span> <span>tonight</span>. </div>
            </div>
            <!-- 4 -->
            <div class="question">
              <div class="number"><span>4</span></div>
              <div class="text-container"><span>His</span> <span class="right">party</span> <span>is</span> <span>at</span> <span>a</span> <span>famous</span> <span>Mexican</span> <span class="right">restaurant</span>. </div>
            </div>
            <!-- 5 -->
            <div class="question">
              <div class="number"><span>5</span></div>
              <div class="text-container"><span>Sharon</span> <span>had</span> <span>to</span> <span>recite</span> <span>a</span> <span class="right">poetry</span> <span>before</span> <span>her</span> <span class="right">classmates</span>. </div>
            </div>
            <!-- 6 -->
            <div class="question">
              <div class="number"><span>6</span></div>
              <div class="text-container"><span>The</span> <span class="right">employer</span> <span>thanked</span> <span>his</span> <span class="right">employee</span> <span>for</span> <span>the</span> <span>excellent</span> <span class="right">work</span>. </div>
            </div>
            <!-- 7 -->
            <div class="question">
              <div class="number"><span>7</span></div>
              <div class="text-container"><span>The</span> <span class="right">engine</span> <span>of</span> <span>the</span> <span class="right">train</span> <span>let</span> <span>out</span> <span>a</span> <span>sharp</span> <span class="right">whistle</span>. </div>
            </div>
            <!-- 8 -->
            <div class="question">
              <div class="number"><span>8</span></div>
              <div class="text-container"><span>What</span> <span>is</span> <span>your</span> <span class="right">teacher’s</span> <span class="right">name</span>? </div>
            </div>
            <!-- 9 -->
            <div class="question">
              <div class="number"><span>9</span></div>
              <div class="text-container"><span>A</span> <span class="right">customer</span> <span>walked</span> <span>into</span> <span>the</span> <span class="right">store</span>. </div>
            </div>
            <!-- 10 -->
            <div class="question">
              <div class="number"><span>10</span></div>
              <div class="text-container"><span>My</span> <span class="right">doctor</span> <span>gave</span> <span>me</span> <span>some</span> <span class="right">medicines</span> <span>for</span> <span>the</span> <span class="right">fever</span>. <span></span> </div>
            </div>
            <!-- end -->
          </div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>