<div class="bg">

  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
  </div>
	
	<div class="container">
		<div class="row">
			<div class="col-12 px-2 mb-1 mb-sm-2 mt-3">
				<h2 class="font-weight-bold">
					Click on the blanks and then click on the correct Articles from the help box, that will be used 
					before the given Nouns. 
				</h2>
			</div>
		</div>
		  <div class="row mb-2">
		  <div class="col-12 col-md-12 text-center mob-fixed">		  
		  	<div class="helpbox">
			   <div class="row m-0">
				   <div class="col-6 p-1  helpbox-ans"><div><span class="font-weight-bold">a</span></div></div>
				   <div class="col-6 p-1  helpbox-ans"><div><span class="font-weight-bold">an</span></div></div>					
			   </div>
		   </div>
		  </div>
	   </div>
		<div class="Main_Container  mt-4 mt-sm-5">
			<div class="row">
				<div class="row col-12 col-sm-6 p-3 ml-1">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color">1)</span>
						</div>
					</div>				
					<div class="col-7">
							<div class="content"><span class="main-input"><input type="text" class="" id=""> </span><span class="correct-ans"><span>a</span></span> spoon</div>
						</div>
						<div class="col-3 p-0">
							<div><img src="assets/std01-articles-worksheet6/img/p1.png" class="img-fluid p1-img"></div>							
						</div>
				</div>
				<div class="row  col-12 col-sm-6 p-3 ml-1">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color">2)</span>
						</div>
					</div>					
					<div class="col-7">
						<div class="content"><span class="main-input"><input type="text" class="" id=""></span> <span class="correct-ans"><span>an</span></span> eraser</div>
					</div>
					<div class="col-3 p-0">
						<div ><img src="assets/std01-articles-worksheet6/img/p3.png" class="img-fluid p3-img"></div>
					</div>
				</div>
				<div class="row  col-12 col-sm-6 p-3 ml-1">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color">3)</span>
						</div>
					</div>
					<div class="col-7">
						<div class="content"><span class="main-input"><input type="text" class="" id=""></span> <span class="correct-ans"><span>a</span></span> mirror</div>
					</div>
					<div class="col-3 p-0">
						<div><img src="assets/std01-articles-worksheet6/img/p2.png" class="img-fluid p2-img"></div>
					</div>
				</div>
				<div class="row  col-12 col-sm-6 p-3 ml-1">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color">4)</span>
						</div>
					</div>
					<div class="col-7">
						<div class="content"><span class="main-input"><input type="text" class="" id=""></span> <span><span class="correct-ans"><span>a</span></span></span> ball</div>
					</div>
					<div class="col-3 p-0">
						<div><img src="assets/std01-articles-worksheet6/img/p4.png" class="img-fluid p4-img"></div>
					</div>
				</div>
				<div class="row  col-12 col-sm-6 p-3 ml-1">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color">5)</span>
						</div>
					</div>
					<div class="col-7">
						<div class="content"><span class="main-input"><input type="text" class="" id=""></span> <span><span class="correct-ans"><span>an</span></span></span> octopus</div>
					</div>
					<div class="col-3 p-0">
						<div><img src="assets/std01-articles-worksheet6/img/p5.png" class="img-fluid p5-img"></div>
					</div>
				</div>
				<div class="row  col-12 col-sm-6 p-3 ml-1">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color">6)</span>
						</div>
					</div>
					<div class="col-7">
						<div class="content"><span class="main-input"><input type="text" class="" id=""></span> <span><span class="correct-ans"><span>a</span></span></span> fan</div>
					</div>
					<div class="col-3 p-0">
						<div><img src="assets/std01-articles-worksheet6/img/p6.png" class="img-fluid p6-img"></div>
					</div>
				</div>
				<div class="row  col-12 col-sm-6 p-3 ml-1">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color">7)</span>
						</div>
					</div>
					<div class="col-7">
						<div class="content"><span class="main-input"><input type="text" class="" id=""></span> <span><span class="correct-ans"><span>an</span></span></span> arm</div>
					</div>
					<div class="col-3 p-0">
						<div><img src="assets/std01-articles-worksheet6/img/p7.png" class="img-fluid p7-img"></div>
					</div>
				</div>
				<div class="row  col-12 col-sm-6 p-3 ml-1">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color">8)</span>
						</div>
					</div>
					<div class="col-7">
						<div class="content"><span class="main-input"><input type="text" class="" id=""></span> <span><span class="correct-ans"><span>an</span></span></span> umbrella</div>
					</div>
					<div class="col-3 p-0">
						<div><img src="assets/std01-articles-worksheet6/img/p8.png" class="img-fluid p8-img"></div>
					</div>
				</div>
				<div class="row  col-12 col-sm-6 p-3 ml-1">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color">9)</span>
						</div>
					</div>
					<div class="col-7">
						<div class="content"><span class="main-input"><input type="text" class="" id=""></span> <span><span class="correct-ans"><span>a</span></span></span> box</div>
					</div>
					<div class="col-3 p-0">
						<div><img src="assets/std01-articles-worksheet6/img/p9.png" class="img-fluid p9-img"></div>
					</div>
				</div>
				<div class="row  col-12 col-sm-6 p-3 ml-1">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color">10)</span>
						</div>
					</div>
					<div class="col-7">
						<div class="content"><span class="main-input"><input type="text" class="" id=""></span> <span><span class="correct-ans"><span>an</span></span></span> igloo</div>
					</div>
					<div class="col-3 p-0">
						<div><img src="assets/std01-articles-worksheet6/img/p10.png" class="img-fluid p10-img"></div>
						
					</div>
				</div>
				</div>
		</div>
		<div class="row mb-4">
			<div class="col-12 text-center">
			<button class="button myButton">Submit</button>
			</div>
		</div>
  </div>
  
</div>
