<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
		<div class="row heading">
			<h1>Click on the blanks and then click on the correct Articles from the help box, to complete the sentences.</h1>
		</div>
        <div class="row Main_Container">
            <img src="assets/std03-articles-worksheet8/img/Main_Container_bg.png" alt="" class="bg_landscape">
            <img src="assets/std03-articles-worksheet8/img/Main_Container_bg_portrait.png" alt="" class="bg_portrait">
            <div class="col-12 Option_Container">
                <div class="options">
                    <div class="option orange">a</div>
                    <div class="option pink">an</div>
                    <div class="option blue">the</div>
                </div>
            </div>
            <div class="col-12 Question_Container">
                <div class="Question">
                    <div class="number blue">1)</div>
                    <div class="content">Something seems to be burning in <div class="input_div"><input type="text"><div class="correct_answer"><span>the</span></div></div> oven.</div>
                </div>
                <div class="Question">
                    <div class="number pink">2)</div>
                    <div class="content">It was <div class="input_div"><input type="text"><div class="correct_answer"><span>an</span></div></div> unforgettable moment!</div>
                </div>
                <div class="Question">
                    <div class="number orange">3)</div>
                    <div class="content">Ariana made <div class="input_div"><input type="text"><div class="correct_answer"><span>a</span></div></div> mistake in the Maths test.</div>
                </div>
                <div class="Question">
                    <div class="number blue">4)</div>
                    <div class="content">What is <div class="input_div"><input type="text"><div class="correct_answer"><span>the</span></div></div> distance between the sun and the moon?</div>
                </div>
                <div class="Question">
                    <div class="number pink">5)</div>
                    <div class="content">The clown fell off <div class="input_div"><input type="text"><div class="correct_answer"><span>a</span></div></div> unicycle.</div>
                </div>
                <div class="Question">
                    <div class="number orange">6)</div>
                    <div class="content">That is <div class="input_div"><input type="text"><div class="correct_answer"><span>the</span></div></div> biggest mango that I have ever seen!</div>
                </div>
                <div class="Question">
                    <div class="number blue">7)</div>
                    <div class="content">Maui lived on <div class="input_div"><input type="text"><div class="correct_answer"><span>an</span></div></div> island in the Pacific Ocean.</div>
                </div>
                <div class="Question">
                    <div class="number pink">8)</div>
                    <div class="content"><div class="input_div"><input type="text" class="uppercase"><div class="correct_answer"><span>The</span></div></div> salesman rang the doorbell twice.</div>
                </div>
                <div class="Question">
                    <div class="number orange">9)</div>
                    <div class="content">The children sang, “ We all live in <div class="input_div"><input type="text"><div class="correct_answer"><span>a</span></div></div> yellow submarine.”</div>
                </div>
                <div class="Question">
                    <div class="number blue">10)</div>
                    <div class="content">Mom made <div class="input_div"><input type="text"><div class="correct_answer"><span>an</span></div></div> apple pie for dessert.</div>
                </div>
            </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
  </div>
</div>