<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <img src="" alt="" class="Text fabulous hide">
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row m-0">
            <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
                <h2 class="font-weight-bold heading">
                    Click on the blanks and then click on the correct Interrogative Pronouns or Questions Words from the brackets, to complete the questions.
                </h2>
            </div>
        </div>


        <div class="main-question-container">

            <div class="row m-0">
                <div class="question-container">
                    <!-- 1 -->
                    <div class="question">
                        <div class="number">
                            <span>1)</span>
                        </div>
                        <div class="text-container">
                            <div class="input-container">
                                <span class="input-span"><input type="text" data-text="first"></span>
                                <div class="correct-answer">
                                    <span>Who</span>
                                </div>
                            </div>
                            <span>were you talking to over the phone?</span>
                        </div>
                        <div class="helpbox-container">
                            <div class="helpans text-center w-100 first">
                                [<span class="option"><span> Which</span></span>,
                                <span class="option"><span>Who </span></span>]
                            </div>
                        </div>

                    </div>
                    <!-- 2 -->
                    <div class="question">
                        <div class="number">
                            <span>2)</span>
                        </div>
                        <div class="text-container">
                            <div class="input-container">
                                <span class="input-span"><input type="text" data-text="second"></span>
                                <div class="correct-answer">
                                    <span>Whom</span>
                                </div>
                            </div>
                            <span>was the teacher helping? </span>
                        </div>
                        <div class="helpbox-container">
                            <div class="helpans text-center w-100 second">
                                [<span class="option"><span>Whom</span></span>,
                                <span class="option"><span>What </span></span>]
                            </div>
                        </div>
                    </div>
                    <!-- 3 -->
                    <div class="question">
                        <div class="number">
                            <span>3)</span>
                        </div>
                        <div class="text-container">
                            <div class="input-container">
                                <span class="input-span"><input type="text" data-text="third"></span>
                                <div class="correct-answer">
                                    <span>Which</span>
                                </div>
                            </div>
                            <span>is the best movie that you have seen?</span>
                        </div>
                        <div class="helpbox-container">
                            <div class="helpans text-center w-100 third">
                                [<span class="option"><span> Which</span></span>,
                                <span class="option"><span>What</span></span>]
                            </div>
                        </div>
                    </div>
                      <!-- 4 -->
                      <div class="question">
                        <div class="number">
                            <span>4)</span>
                        </div>
                        <div class="text-container">
                            <div class="input-container">
                                <span class="input-span"><input type="text" data-text="fourth"></span>
                                <div class="correct-answer">
                                    <span>Where</span>
                                </div>
                            </div>
                            <span>is mom going?</span>
                        </div>
                        <div class="helpbox-container">
                            <div class="helpans text-center w-100 fourth">
                                [<span class="option"><span> Where</span></span>,
                                <span class="option"><span>Which </span></span>]
                            </div>
                        </div>
                    </div>
                      <!-- 5 -->
                      <div class="question">
                        <div class="number">
                            <span>5)</span>
                        </div>
                        <div class="text-container">
                            <div class="input-container">
                                <span class="input-span"><input type="text" data-text="fifth"></span>
                                <div class="correct-answer">
                                    <span>What</span>
                                </div>
                            </div>
                            <span>would you like to eat for dinner? </span>
                        </div>
                        <div class="helpbox-container">
                            <div class="helpans text-center w-100 fifth">
                                [<span class="option"><span> Why</span></span>,
                                <span class="option"><span>What </span></span>]
                            </div>
                        </div>
                    </div>
                      <!-- 6 -->
                      <div class="question">
                        <div class="number">
                            <span>6)</span>
                        </div>
                        <div class="text-container">
                            <div class="input-container">
                                <span class="input-span"><input type="text" data-text="sixth"></span>
                                <div class="correct-answer">
                                    <span>Why</span>
                                </div>
                            </div>
                            <span>is the school bus late?</span>
                        </div>
                        <div class="helpbox-container">
                            <div class="helpans text-center w-100 sixth">
                                [<span class="option"><span> Which</span></span>,
                                <span class="option"><span>Why </span></span>]
                            </div>
                        </div>
                    </div>
                      <!-- 7 -->
                      <div class="question">
                        <div class="number">
                            <span>7)</span>
                        </div>
                        <div class="text-container">
                            <div class="input-container">
                                <span class="input-span"><input type="text" data-text="seventh"></span>
                                <div class="correct-answer">
                                    <span>Who</span>
                                </div>
                            </div>
                            <span>wrote the poem? </span>
                        </div>
                        <div class="helpbox-container">
                            <div class="helpans text-center w-100 seventh">
                                [<span class="option"><span> Who</span></span>,
                                <span class="option"><span>Whom </span></span>]
                            </div>
                        </div>
                    </div>
                      <!-- 8 -->
                      <div class="question">
                        <div class="number">
                            <span>8)</span>
                        </div>
                        <div class="text-container">
                            <div class="input-container">
                                <span class="input-span"><input type="text" data-text="eighth"></span>
                                <div class="correct-answer">
                                    <span>When</span>
                                </div>
                            </div>
                            <span>is Peter coming over to your house?</span>
                        </div>
                        <div class="helpbox-container">
                            <div class="helpans text-center w-100 eighth">
                               [<span class="option"><span> When</span></span>,
                                <span class="option"><span>What </span></span>]
                            </div>
                        </div>
                    </div>
                    <!--end-->
                </div>
            </div>
           
        </div>
        <div class="row btn-row">
            <div class="col-12 text-center">
                <button class="button myButton">Submit</button>
            </div>
        </div>
    </div>
</div>