video::-internal-media-controls-download-button {
    display:none;
}
video::-webkit-media-controls-enclosure {
    overflow:hidden;
}
video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}
.close
{
    width: 30px;
    background: #134e88;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    right: -9px;
    z-index: 999999999999999999999;
    color: #fff !important;
    top: -11px;
    opacity: 1;
    font-weight: bold;
    font-size: 28px;
}