<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>

    <div class="loadingDiv">
    </div>

    <div class="container">
        <div class="row">
            <div class="heading mt-3">
                <h1>
                    Click on the blanks and then click on the underlined words from the story, to classify them
                    correctly
                    as Collective and Common Nouns.
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 Question_Container">
                <h5 class="title">A Sunday Church Visit</h5>
                <p>Max and Anna went to the church last Sunday. As they entered through the gates<span class="comma">,</span> they saw a <u>clump</u>
                    of <u>grass</u> on both the sides of the road. Then they had to climb a small <u>flight</u> of <u>stairs</u> to enter the
                    church.
                    As soon as they entered inside<span class="comma">,</span> they heard a <u>band</u> of <u>musicians</u> playing and a <u>choir</u> of <u>singers</u>
                    singing
                    away. There were <u>groups</u> of <u>people</u> sitting on the benches on both sides of the aisles. Max and Anna
                    sat down to pray. Anna saw that there was a <u>bunch</u> of <u>keys</u> on the floor. When the music and singing
                    stopped<span class="comma">,</span> Anna picked up the keys and went and gave it to the pastor. He put the key away in a <u>chest</u>
                    of <u>drawers</u> and thanked Anna for her good observation.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid img_container">
        <img src="assets/std02-collective-noun-worksheet10/img/church.jpg" alt="" class="img-fluid church">
        <div class="collective_noun_container">
            <span class="font-weight-bold header">Collective Nouns</span>
            <div class="answer_container">
                <div class="first">
                    <input type="text">
                    <div class="correct_answer"><span>clump</span></div>
                </div>
                <div class="second">
                    <input type="text">
                    <div class="correct_answer"><span>flight</span></div>
                </div>
                <div class="third">
                    <input type="text">
                    <div class="correct_answer"><span>band</span></div>
                </div>
                <div class="fourth">
                    <input type="text">
                    <div class="correct_answer"><span>choir</span></div>
                </div>
                <div class="fifth">
                    <input type="text">
                    <div class="correct_answer"><span>group</span></div>
                </div>
                <div class="sixth">
                    <input type="text">
                    <div class="correct_answer"><span>bunch</span></div>
                </div>
                <div class="empty">

                </div>
                <div class="seventh">
                    <input type="text">
                    <div class="correct_answer"><span>chest</span></div>
                </div>
            </div>
        </div>
        <div class="common_noun_container">
            <span class="font-weight-bold header">Common Nouns</span>
            <div class="answer_container">
                <div class="first">
                    <input type="text">
                    <div class="correct_answer"><span>grass</span></div>
                </div>
                <div class="second">
                    <input type="text">
                    <div class="correct_answer"><span>stairs</span></div>
                </div>
                <div class="third">
                    <input type="text">
                    <div class="correct_answer"><span>musicians</span></div>
                </div>
                <div class="fourth">
                    <input type="text">
                    <div class="correct_answer"><span>singers</span></div>
                </div>
                <div class="fifth">
                    <input type="text">
                    <div class="correct_answer"><span>people</span></div>
                </div>
                <div class="sixth">
                    <input type="text">
                    <div class="correct_answer"><span>keys</span></div>
                </div>
                <div class="empty">

                </div>
                <div class="seventh">
                    <input type="text">
                    <div class="correct_answer"><span>drawers</span></div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/std02-collective-noun-worksheet10/img/church.jpg" alt="" class="img-fluid church_portrait d-none">
    <div class="btn-row">
        <button class="button myButton">Submit</button>
    </div>
</div>
