<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
	<div class="loadingDiv">
	</div>
	<div class="container">
		<div class="row margin-auto">
			<div class="col-xs-12 px-2 p-2 mt-3 heading">
				<h2 class="">
					Click on the blanks and then click on the correct Rhyming Words from the help box, to
					complete the poem.
				</h2>
			</div>
		</div>
		<div class="Main-Question-container">
			<div class="left-side">
				<div class="Option_Container">
					<div class="options">
						<div class="option">wall</div>
						<div class="option">tree</div>
						<div class="option">can</div>
						<div class="option">say</div>
						<div class="option">away</div>
						<div class="option">ran</div>
						<div class="option">he</div>
						<div class="option">fall</div>
					</div>
				</div>
				<div class="Question_Container">
					<div class="story-title">
						<span class="p-1">
							Little Robin Redbreast
						</span>
					</div>
					<div class="question-container mb-3">
						<div class="row m-0 mb-2 mb-md-3">
							<div class="col-12 p-0">
								<span>Little Robin Redbreast sat upon a</span>
										<div class="input-container"> 
											<span class="span-input"><input type="text"></span>.
											<span class="answer">tree</span>	 
									</div>
							</div>
						</div>
						<!--2-->
						<div class="row m-0 mb-2 mb-md-3 ">
							<div class="col-12 p-0">
								<span>Up went pussycat and down went</span>
								<div class="input-container"> 
									<span class="span-input"><input type="text"></span>.
									<span class="answer">he</span>
								</div>
							</div>
						</div>
						<!--3-->
						<div class="row m-0 mb-2 mb-md-3">
							<div class="col-12 p-0">
								<span>Down came pussycat, away Robin </span>
								<div class="input-container"> 
									<span class="span-input"> 
										<input type="text">
									</span>,
									<span class="answer">ran</span>
								</div>
							</div>
						</div>
						<!--4-->
						<div class="row m-0 mb-2 mb-md-3">
							<div class="col-12 p-0">
								<span> Says little Robin Redbreast, “Catch me if you</span>
								<div class="input-container"> 
									<span class="span-input"><input type="text"></span>!”<span class="answer">can</span>
								</div>
							</div>
						</div>
						<!--5-->
						<div class="row m-0 mb-2 mb-md-3">
							<div class="col-12 p-0">
								<span>Little Robin Redbreast jumped upon a </span>
								<div class="input-container"> 
									<span class="span-input"> <input type="text"></span>.<span class="answer">wall</span>
								</div>
							</div>
						</div>
						<!--6-->
						<div class="row m-0 mb-2 mb-md-3">
							<div class="col-12 p-0">
								<span>Pussycat jumped after him, and almost got a </span>
								<div class="input-container"> 
									<span class="span-input"> <input type="text"></span>.<span class="answer">fall</span>
								</div>
							</div>
						</div>
						<!--2-->
						<div class="row m-0 mb-2 mb-md-3">
							<div class="col-12 p-0">
								<span> Little Robin chirped and sang and what did pussy </span>
								<div class="input-container"> 
									<span class="span-input"><input type="text"></span>?<span class="answer">say</span>
								</div>
							</div>
						</div>
						<!--2-->
						<div class="row m-0 mb-2 mb-md-3">
							<div class="col-12 p-0">
								<span>Pussycat said, “Meow” and Robin flew</span>
								<div class="input-container"> 
									<span class="span-input"><input type="text"></span>.<span class="answer">away</span>
								</div>
							</div>
						</div>
						<!--  -->
						<!-- btn end -->
					</div>
					<div class="row   m-0 btn-row">
						<div class="col-12 text-center ">
							<button class="button myButton">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>