<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="row">
      <div class="heading mt-3 mt-xl-4">
        <h1>
          Click on the blanks given in the stars and then click on the correct words in the rows, to identify Proper
          Nouns.
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 Question_Container mt-3  mt-xl-4">
        <div class="row Question">
          <div class="number">
            <img src="assets/std02-proper-nouns-worksheet2/img/planet.png" alt="" class="img-fluid"><span>1)</span>
          </div>
          <div class="col-10 col-sm-7 col-md-6 Options my-auto">
            <div class="row one">
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>Albert</span>
              </div>
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>apricot</span>
              </div>
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>alligator</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 Answer">
            <img src="assets/std02-proper-nouns-worksheet2/img/star.png" alt="" class="img-fluid">
            <input type="text" class="one">
            <div class="correct_answer"><span>Albert</span></div>
          </div>
        </div>
        <div class="row Question">
          <div class="number">
            <img src="assets/std02-proper-nouns-worksheet2/img/planet.png" alt="" class="img-fluid"><span>2)</span>
          </div>
          <div class="col-10 col-sm-7 col-md-6 Options my-auto">
            <div class="row two">
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>monkey</span>
              </div>
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>Monday</span>
              </div>
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>mango</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 Answer">
            <img src="assets/std02-proper-nouns-worksheet2/img/star.png" alt="" class="img-fluid">
            <input type="text" class="two">
            <div class="correct_answer"><span>Monday</span></div>
          </div>
        </div>
        <div class="row Question">
          <div class="number">
            <img src="assets/std02-proper-nouns-worksheet2/img/planet.png" alt="" class="img-fluid"><span>3)</span>
          </div>
          <div class="col-10 col-sm-7 col-md-6 Options my-auto">
            <div class="row three">
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>jacket</span>
              </div>
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>jaguar</span>
              </div>
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>July</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 Answer">
            <img src="assets/std02-proper-nouns-worksheet2/img/star.png" alt="" class="img-fluid">
            <input type="text" class="three">
            <div class="correct_answer"><span>July</span></div>
          </div>
        </div>
        <div class="row Question">
          <div class="number">
            <img src="assets/std02-proper-nouns-worksheet2/img/planet.png" alt="" class="img-fluid"><span>4)</span>
          </div>
          <div class="col-10 col-sm-7 col-md-6 Options my-auto">
            <div class="row four">
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>baboon</span>
              </div>
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>Brazil</span>
              </div>
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>bracelet</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 Answer">
            <img src="assets/std02-proper-nouns-worksheet2/img/star.png" alt="" class="img-fluid">
            <input type="text" class="four">
            <div class="correct_answer"><span>Brazil</span></div>
          </div>
        </div>
        <div class="row Question">
          <div class="number">
            <img src="assets/std02-proper-nouns-worksheet2/img/planet.png" alt="" class="img-fluid"><span>5)</span>
          </div>
          <div class="col-10 col-sm-7 col-md-6 Options my-auto">
            <div class="row five">
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>Geography</span>
              </div>
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>giraffe</span>
              </div>
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>gallery</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 Answer">
            <img src="assets/std02-proper-nouns-worksheet2/img/star.png" alt="" class="img-fluid">
            <input type="text" class="five">
            <div class="correct_answer"><span>Geography</span></div>
          </div>
        </div>
        <div class="row Question">
          <div class="number">
            <img src="assets/std02-proper-nouns-worksheet2/img/planet.png" alt="" class="img-fluid"><span>6)</span>
          </div>
          <div class="col-10 col-sm-7 col-md-6 Options my-auto">
            <div class="row six">
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>nightingale</span>
              </div>
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>needle</span>
              </div>
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>Nike</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 Answer">
            <img src="assets/std02-proper-nouns-worksheet2/img/star.png" alt="" class="img-fluid">
            <input type="text" class="six">
            <div class="correct_answer"><span>Nike</span></div>
          </div>
        </div>
        <div class="row Question">
          <div class="number">
            <img src="assets/std02-proper-nouns-worksheet2/img/planet.png" alt="" class="img-fluid"><span>7)</span>
          </div>
          <div class="col-10 col-sm-7 col-md-6 Options my-auto">
            <div class="row seven">
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>Indian Ocean</span>
              </div>
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>iguana</span>
              </div>
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>igloo</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 Answer">
            <img src="assets/std02-proper-nouns-worksheet2/img/star.png" alt="" class="img-fluid">
            <input type="text" class="seven">
            <div class="correct_answer"><span>Indian Ocean</span></div>
          </div>
        </div>
        <div class="row Question">
          <div class="number">
            <img src="assets/std02-proper-nouns-worksheet2/img/planet.png" alt="" class="img-fluid"><span>8)</span>
          </div>
          <div class="col-10 col-sm-7 col-md-6 Options my-auto">
            <div class="row eight">
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>raccoon</span>
              </div>
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>River Nile</span>
              </div>
              <div class="col-4 option">
                <img src="assets/std02-proper-nouns-worksheet2/img/Comet.png" alt="" class="img-fluid"><span>ribbon</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 Answer">
            <img src="assets/std02-proper-nouns-worksheet2/img/star.png" alt="" class="img-fluid">
            <input type="text" class="eight">
            <div class="correct_answer"><span>River Nile</span></div>
          </div>
        </div>

        <div class="row btn-row">
          <div class="col-12">
            <button class="button myButton">Submit</button>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>