<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-2 mt-lg-3 mb-1 mb-lg-2">
				<h2 class="font-weight-bold head">
					Click on the Compound Words in the following sentences.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<!-- 1 -->
				<div class="question">
					<div class="number"><span>1</span></div>
					<div class="text-container"><span>To</span> <span>save</span> <span>his</span> <span>crops</span> <span>from</span> <span>the</span> <span>birds,</span> <span>Farmer</span> <span>Ted</span> <span>put</span> <span>up</span> <span>a</span> <span class="right">scarecrow</span> <span>in</span> <span>his</span> <span>field</span>. </div>
				</div>
				<!-- 2 -->
				<div class="question">
					<div class="number"><span>2</span></div>
					<div class="text-container"><span class="right">Sportswear</span> <span>is</span> <span>generally</span> <span>made</span> <span>of</span> <span>spandex</span> <span>material</span>. </div>
				</div>
				<!-- 3 -->
				<div class="question">
					<div class="number"><span>3</span></div>
					<div class="text-container"><span>The</span> <span>worker</span> <span>pushed</span> <span>a</span> <span class="right">wheelbarrow</span> <span>full</span> <span>of</span> <span>bricks</span>. </div>
				</div>
				<!-- 4 -->
				<div class="question">
					<div class="number"><span>4</span></div>
					<div class="text-container"><span>A</span> <span>sudden</span> <span>and</span> <span>heavy</span> <span class="right">downpour</span> <span>led</span> <span>to</span> <span>flooding</span> <span>of</span> <span>the</span> <span>streets</span>. </div>
				</div>
				<!-- 5 -->
				<div class="question">
					<div class="number"><span>5</span></div>
					<div class="text-container"><span>A</span> <span>period</span> <span>of</span> <span>two</span> <span>weeks</span> <span>is</span> <span>called</span> <span>a</span> <span class="right">fortnight</span>. </div>
				</div>
				<!-- 6 -->
				<div class="question">
					<div class="number"><span>6</span></div>
					<div class="text-container"><span>My</span> <span>baby</span> <span>brother</span> <span>refused</span> <span>to</span> <span>eat</span> <span>his</span> <span class="right">oatmeal</span>. </div>
				</div>
				<!-- 7 -->
				<div class="question">
					<div class="number"><span>7</span></div>
					<div class="text-container"><span>People</span> <span>of</span> <span>Japan</span> <span>use</span> <span>a</span> <span>lot</span> <span>of</span> <span class="right">seaweed</span> <span>in</span> <span>their</span> <span>cooking</span>. </div>
				</div>
				<!-- 8 -->
				<div class="question">
					<div class="number"><span>8</span></div>
					<div class="text-container"><span>Carol</span> <span>has</span> <span>a</span> <span>ring</span> <span>made</span> <span>of</span> <span>colourful</span> <span class="right">gemstones</span>. </div>
				</div>
				<!-- 9 -->
				<div class="question">
					<div class="number"><span>9</span></div>
					<div class="text-container"><span>Aunt</span> <span>Jane</span> <span>makes</span> <span>the</span> <span>best</span> <span class="right">gingerbread</span> <span>in</span> <span>the</span> <span>world!</span> </div>
				</div>
				<!-- 10 -->
				<div class="question">
					<div class="number"><span>10</span></div>
					<div class="text-container"><span>Rafael</span> <span>Nadal</span> <span>has</span> <span>won</span> <span>the</span> <span>Wimbledon</span> <span class="right">championship</span> <span>two</span> <span>times</span>. </div>
				</div>
				<!-- end -->
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>