.carousel-indicators{
    bottom:-20px;
    text-align: center;
}
.carousel-control-prev-icon
{
    background-image:url(/assets/std02-comprehensions-worksheet10/img/previous.png);
}
.carousel-control-next-icon
{
    background-image:url(/assets/std02-comprehensions-worksheet10/img/next.png);
}
@font-face {
    font-family: mt-rounded-bold;
    src: url(http://completegrammar.com/assets/font/ARLRDBD.ttf) format("truetype");
    font-weight: bold;
  }
  .comma{
    font-family: mt-rounded-bold;
  }
  .columns{
      display: grid;
      grid-template-columns: 50% 50%;
  }
  .cola{
      margin-left: 5%;
  }
.hide{
    display: none;
}
.arrow-size {
    width: 40px;
    height: 40px;
}
.carousel-control-prev{
    left:-25px;
}
.carousel-control-next{
    right:-25px;
}
.carousel-control-prev,.carousel-control-next{
    opacity: 1 !important;
    width:auto;
    bottom:unset;
    top:50%;
    transform: translateY(-50%);
 }
 .carousel-control-prev:hover,.carousel-control-next:hover{
      filter: drop-shadow(0 2px 5px rgba(0,0,0,.3));
      margin-top:-2px;
 }
.carousel-indicators li
{
    width:30px;
    height:30px;
    border-radius: 100%;
    text-indent: 0;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    display: inline-block;
}
.carousel-indicators .active {
    background-color: rgba(0,0,0,.6);
    color: #fff;
}
.carousel-indicators 
{
    bottom: -40px;
}
/* First Block */
.bg{
    min-height:100vh;
	// overflow-x:hidden;
    font-family:Microsoft New Tai lue;
    color:#000;
	font-size:24px;
    height: 100%;
	margin:0;
}
.heading{
	font-size:35px;
	padding:20px;
	font-weight:700 ;
}
.title{
    text-decoration: underline;
}
.Information_Block
{
	background-color:rgba(255, 255, 255, 0.6);
	width:100%;
	font-family:Microsoft New Tai lue;
	line-height: 1.5em;
	padding:10px 20px;
}
 .story_title{
     text-align:center;
	font-weight:600 ;
}

.margin-left-10px{
	margin-left: -10px;
}
.Text-Container p{
    margin-bottom:0;
}
.Text-Container p::first-letter{
    padding-left:50px;
}
.btn-row{
    position: relative;
    margin-top:20px;
    margin-bottom:10px;
    text-align:center;
}
/* Second Block */
 .instruction{
     font-size:28px;
     margin-bottom:5px;
     font-weight:bold;
     text-decoration:underline;
 }
 .Main_Question_Row{
     grid-template-columns: 40px auto;
     display:grid;
 }
 .Answer_Container {
    margin-left: 40px;
    grid-template-columns: 70% 30%;
    display: grid;
}
.Question_Row {
    grid-template-columns: 35% 63%;
    margin-bottom: 10px;
    display: grid;
}
 .Question,.Option_Row{
    grid-template-columns: 45px auto;
    display:grid;
 }
 .Question_Row .alphabet,.Option_Row .number{
     width:35px;
     height:35px;
     line-height:35px;
     border-radius:50%;
     background-color:#fff;
     border:1px solid #000;
     text-align:center;
 }
 /* .Questions{
    grid-template-columns: 40% 60%;
    display:grid;
 } */
 .Answers{
     margin:auto;
 }
 .Answers .Answer_Div{
    grid-template-columns:repeat(5,45px);
    grid-gap:10px;
    display:grid;
 }
 .Answer_Block{
     text-align:center;
     position: relative;
 }
 .Answer_Block .alphabet,.Answer_Block .input_div{
     border-top-right-radius: 10px;
     border-bottom-left-radius: 10px;
     border:2px solid #000;
 }
 .Answer_Block .input_div{
     margin-top:10px;
 }
 .Main_Question_Row{
     /* margin-bottom:10px; */
     font-weight: bold;
 }
 .correct_answer{
     margin-top:10px;
     font-size:26px;
     display: none;
     position:absolute;
     text-align:center;
     white-space: nowrap;
     width:100%;
 }
 .correct_answer span{
     padding: 2px 10px 0;
     display: inline-block;
     border: 1px solid #000 !important;
     background-color: #fff;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     border-radius: 5px;
     color: #20bb15 !important;
     -webkit-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
     -moz-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
     text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
     font-weight: bold;
     line-height: 1;
 }
 input{
     background-color:transparent;
     border:0;
     border-bottom:1px solid #000;
     outline:0;
     padding:0;
     text-align:center;
     width:100%;
     font-size:inherit;
     font-family: inherit;
     cursor:pointer;
 }
.Question_Block{
    margin-bottom:15px;
}
/* Third Block */
.options{
    grid-template-columns: repeat(2,50%);
    grid-row-gap:10px;
    display:grid;
}
.option{
    grid-template-columns: 45px auto;;
    display:grid;
}
.circle{
    width:35px;
    height:35px;
    line-height:33px;
    border:1px solid #000;
    background-color:#fff;
    text-align:center;
    border-radius:50%;
}
.Question_Block.two .option_Container{
    width:30%;
}
.Question_Block.three .option_Container {
    width: 65%;
}
.Question_Block.three .options {
    grid-template-columns: 40% 60%;
    display: grid;
}
.options{
    margin-left:40px;
}
.Question_Block.four .option_Container {
    width: 40%;
}
.Question_Block.five .Question_Row{
    grid-template-columns: 35% 50px 150px;
}
.Question_Block.five .correct_answer{
    font-size:22px;
    margin-left: 160px;
    margin-top: -35px;
    text-align:left;
}
.Question_Block.five input{
    line-height:25px;
}
.Question_Block.five .input_div{
    position:relative;
}
.Question_Block.five .Question_Row .alphabet{
    background-color:transparent;
    border:0;
    height:auto;
    width:auto;
}
.Question_Block.five .Answer_Container {
    grid-template-columns: 60% 40%;
}
.option_div{
    padding:2px 0;
    font-weight:bold;
    background-color:#cc9950;
    text-align:center;
    border:2px solid #000;
    position:relative;
}
.option_div:nth-child(4),.option_div:nth-child(5){
    left:50px;
    border-top:0;
}
.option_div:nth-child(1),.option_div:nth-child(2),.option_div:nth-child(4){
    border-right:0;
}
.option_div:nth-child(1),.option_div:nth-child(4){
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.option_div:nth-child(3),.option_div:nth-child(5){
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.Question_Block.five .options {
    grid-template-columns: 140px 140px 95px;
    grid-row-gap: 0px;
    margin-left: 0px;
}
.Question_Block.five .Option_Container{
    margin:auto;
}
.Question_Block.six .option_Container{
    width:70%;
}
.Question_Block.one input{
    border:0;
}
.option.green .circle{
    background-color:#20bb15;
    color:#fff;
    border-color:#000;
}
.Question_Block.one .input_div.bd{
    background-color:#20bb15
}
.Question_Block.five .input_div.bd input{
    border-bottom:2px solid #20bb15;
}
.Option_Row.blue .content{
    color:blue;
}
.Option_Row,.options .option,.option_div{
    cursor:pointer;
}
.option_div.click{
    color:#fff;
}






.input-container{
    display: inline-block;
    width: fit-content;
    width: -moz-fit-content;
}
.input-container .input-text
{
    display: inline-block;
    background-color:transparent;
     border:0;
     border-bottom:2px solid #000;
     outline:0;
     padding:0;
     text-align:center;
     width:95px;
     font-size:inherit;
     font-family: inherit;
     cursor:pointer;
     line-height: 1.2;
}
.fourHidden{
    visibility: hidden;
}
.right-answer{
    display: none;
    
}
.right-answer span{
    padding: 2px 10px 0;
    display: inline-block;
    border: 1px solid #000 !important;
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #20bb15 !important;
    -webkit-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    -moz-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-weight: bold;
    line-height: 1;
}





.main-input-container {
    position: relative;
    display: inline-block;
    width: fit-content;
    width: -moz-fit-content;
}
.main-input-container input{
    border-bottom: 2px solid #000;
    width: 130px;
    font-weight: bold;
}




.q4-right-answer{
    display: none;
    
}
.q4-right-answer span{
    padding: 2px 10px 0;
    display: inline-block;
    border: 1px solid #000 !important;
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #20bb15 !important;
    -webkit-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    -moz-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-weight: bold;
    line-height: 1;
}
.Main_Container{
    padding-bottom: 55px;
}
@media (min-width:100px) and (max-width:575px){
    .bg{
         background: url(http://completegrammar.com/assets/std02-comprehensions-worksheet10/img/slide1_bg_portrait.jpg) no-repeat center bottom fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-size: 16px;
    }
    .myButton{
        padding:5px 15px;
    }
    .carousel-indicators li {
        width: 20px;
        height: 20px;
        margin: 0 4px;
        font-size: 15px;
    }
    .carousel-control-prev, .carousel-control-next{
        position:fixed;
    }
    .carousel-control-next {
        right: 0;
    }
    .carousel-control-prev{
        left:0;
    }
    .arrow-size {
        width: 25px;
        height: 25px;
    }
    .heading {
        font-size: 20px;
        padding-bottom:0;
    }
    .Text-Container p::first-letter {
        padding-left: 30px;
    }
    .Information_Block {
        padding: 10px;
    }
    .instruction {
        font-size: 18px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .Main_Question_Row {
        grid-template-columns: 20px auto;
    }
    .Answer_Container {
        margin-left: 0;
        grid-template-columns: 100%;
    }
    .Question_Row .alphabet, .Option_Row .number {
        width: 25px;
        height: 25px;
        line-height: 23px;
    }
    .Question, .Option_Row {
        grid-template-columns: 30px auto;
    }
    .Question_Row {
        grid-template-columns: 45% 57%;
    }
    .Answers .Answer_Div {
        grid-template-columns: repeat(5,35px);
    }
    .Answers {
        margin-bottom: 20px;
    }
    .correct_answer {
        font-size: 20px;
    }
    .correct_answer span {
        padding: 2px 7px 0;
    }
    .options {
        margin-left: 15px;
    }
    .circle {
        width: 25px;
        height: 25px;
        line-height: 23px;
    }
    .option {
        grid-template-columns: 32px auto;
    }
    .Question_Block.two .option_Container {
        width: 205px;
    }
    .Question_Block.three .option_Container {
        width: 101%;
    }
    .Question_Block.four .option_Container {
        width: 270px;
    }
    .Question_Block.five .Answer_Container {
        grid-template-columns: 100%;
    }
    .Question_Block.five .Question_Row {
        grid-template-columns: 135px 35px 100px;
        margin: 0 auto 15px;
        width:fit-content;
    }
    .Question_Block.five input {
        line-height: 17px;
    }
    .Question_Block.five .correct_answer {
        font-size: 14px;
        margin-left: 0px;
        margin-top: -44px;
        text-align: center;
    }
    .Question_Block.five .correct_answer span {
        padding: 1px 5px 0;
    }
    .Question_Block.five .options {
        grid-template-columns: 90px 90px 65px;
    }
    .option_div:nth-child(4), .option_div:nth-child(5) {
        left: 36px;
    }
    .Question_Block.six .options {
        grid-template-columns: 100%;
        grid-row-gap: 10px;
    }
    .Question_Block.six .option_Container {
        width: 100%;
    }
    .Question_Row .content,.option .content{
        padding-top:1px;
    }



    .input-container .input-text {
        width: 50px;
    }

    .main-input-container input {
        width: 95px;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .bg{
        font-size:16px;
    }
    .arrow-size {
        width: 30px;
        height: 30px;
    }
    .carousel-control-prev {
        left: 5px;
    }
    .carousel-control-next {
        right: 5px;
    }
    .carousel-control-next, .carousel-control-prev {
        position: fixed;
    }
    .carousel-indicators li {
        width: 20px;
        height: 20px;
        margin: 0 4px;
        font-size: 15px;
    }
    .carousel-indicators {
        bottom: -31px;
        margin-bottom:0;
    }
    .myButton{
        padding:5px 18px;
    }
    .heading {
        font-size: 24px;
        padding-bottom:0;
    }
    .instruction {
        font-size: 22px;
        margin-bottom: 8px;
    }
    .Main_Question_Row {
        grid-template-columns: 23px auto;
    }
    .Answer_Container {
        margin-left: 15px;
    }
    .Question_Row .alphabet, .Option_Row .number {
        width: 25px;
        height: 25px;
        line-height: 23px;
    }
    .Question, .Option_Row {
        grid-template-columns: 32px auto;
    }
    .Answers .Answer_Div {
        grid-template-columns: repeat(5,30px);
        grid-gap: 5px;
    }
    .Question_Block.one .correct_answer span {
        padding: 2px 6px 0;
    }
    .Question_Block.one .correct_answer {
        font-size: 20px;
    }
    .circle {
        width: 25px;
        height: 25px;
        line-height: 23px;
    }
    .option {
        grid-template-columns: 32px auto;
    }
    .options {
        margin-left: 20px;
    }
    .Question_Block.two .option_Container {
        width: 230px;
    }
    .Question_Block.three .option_Container {
        width: 485px;
    }
    .Question_Block.four .option_Container {
        width: 325px;
    }
    .Question_Block.five .Question_Row {
        grid-template-columns: 135px 32px 85px;
    }
    .Question_Block.five input {
        line-height: 17px;
    }
    .Question_Block.five .correct_answer {
        font-size: 15px;
        margin-left: 87px;
        margin-top: -24px;
    }
    .Question_Block.five .correct_answer span {
        padding: 2px 5px 0;
    }
    .Question_Block.six .option_Container {
        width: 513px;
    }
    .Question_Block.five .options {
        grid-template-columns: 90px 85px 60px;
        margin-left: 0px;
    }
    .option_div:nth-child(4), .option_div:nth-child(5) {
        left: 34px;
    }
    .Question_Block.five .Answer_Container {
        margin-left: 10px;
    }
    .Question_Row .content,.option .content{
        padding-top:1px;
    }


    .input-container .input-text {
        width: 55px;
    }
    .main-input-container input {
        width: 90px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .bg{
        font-size:18px;
    }
    .arrow-size {
        width: 35px;
        height: 35px;
    }
    .carousel-control-prev {
        left: 5px;
    }
    .carousel-control-next {
        right: 5px;
    }
    .carousel-control-next, .carousel-control-prev {
        position: fixed;
    }
    .carousel-indicators li {
        width: 22px;
        height: 22px;
        margin: 0 4px;
        font-size: 16px;
    }
    .carousel-indicators {
        bottom: -30px;
    }
    .heading {
        font-size: 28px;
        padding-bottom:0;
    }
    .Information_Block{
        padding:10px 15px;
        width:95%;
        margin:auto;
    }
    .instruction {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .Main_Question_Row {
        grid-template-columns: 25px auto;
    }
    .Question, .Option_Row {
        grid-template-columns: 38px auto;
    }
    .Question_Row .alphabet, .Option_Row .number {
        width: 30px;
        height: 30px;
        line-height: 28px;
    }
    .Answers .Answer_Div {
        grid-template-columns: repeat(5,33px);
        grid-gap: 6px;
    }
    .Question_Block.one .correct_answer span {
        padding: 2px 7px 0;
    }
    .Question_Block.one .correct_answer {
        font-size: 22px;
    }
    .circle {
        width: 30px;
        height: 30px;
        line-height: 28px;
    }
    .option {
        grid-template-columns: 38px auto;
    }
    .Question_Block.two .option_Container {
        width: 275px;
    }
    .options {
        margin-left: 25px;
    }
    .Question_Block.three .option_Container {
        width: 535px;
    }
    .Question_Block.four .option_Container {
        width: 360px;
    }
    .Question_Block.five .Answer_Container {
        margin-left: 20px;
    }
    .Question_Block.five .Question_Row {
        grid-template-columns: 160px 30px 115px;
    }
    .Question_Block.five .correct_answer {
        font-size: 16px;
        margin-left: 120px;
        margin-top: -30px;
    }
    .Question_Block.five .options {
        grid-template-columns: 100px 100px 69px;
    }
    .option_div:nth-child(4), .option_div:nth-child(5) {
        left: 35px;
    }
    .Question_Block.five .Option_Container {
        margin: 15% auto 0;
    }
    .Question_Block.six .option_Container {
        width: 565px;
    }
    .Question_Block.five input {
        line-height: 19px;
    }
    .Question_Row .content,.option .content{
        padding-top:2px;
    }
    .input-container .input-text {
        width: 65px;
    }
    .main-input-container input {
        width: 100px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .bg{
        font-size:22px;
    }
    .container {
        max-width: 930px;
    }
    .carousel-indicators li {
        width: 27px;
        height: 27px;
        margin: 0 5px;
        font-size: 19px;
    }
    .Main_Question_Row {
        grid-template-columns: 30px auto;
    }
    .Answer_Container {
        margin-left: 25px;
        grid-template-columns: 68% 30%;
    }
    .Question_Block.two .option_Container {
        width: 35%;
    }
    .Question_Block.three .option_Container {
        width: 75%;
    }
    .Question_Block.four .option_Container {
        width: 50%;
    }
    .options {
        margin-left: 30px;
    }
    .Question_Block.five .correct_answer {
        font-size: 20px;
        margin-left: 155px;
    }
    .Answer_Container {
        margin-left: 20px;
    }
    .Question_Block.five .options {
        grid-template-columns: 130px 130px 85px;
    }
    .option_div:nth-child(4), .option_div:nth-child(5) {
        left: 45px;
    }
    .cross{
        text-align:center;
    }
    .Question_Block.five input {
        line-height: 23px;
    }
    .Question_Block.six .option_Container {
        width: 80%;
    }
    .Question_Row .content,.option .content{
        padding-top:2px;
    }
    .input-container .input-text {
        width: 85px;
    }
}

@media(min-width:1200px){
    .container {
        max-width: 1140px;
    }
    .carousel-indicators li {
        font-size: 22px;
    }
}
@media(min-width:100px) and (max-width:991px){
    .container{
        max-width:unset;
    }
    
}


@media only screen and (min-width: 768px) and (orientation: portrait) {
    .arrow-size {
        width: 45px;
        height: 45px;
    }
    .carousel-indicators {
        bottom: -40px;
    }
    .carousel-indicators li {
        width: 39px;
        height: 39px;
        margin: 0 5px;
        font-size: 27px;
    }
    .bg{
		font-size:30px;
    }
	.heading{
        font-size:35px;
    }
    .myButton{
        font-size:30px;
    }
    .Information_Block {
        padding: 10px 20px;
    }
    .instruction {
        font-size: 35px;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .Main_Question_Row {
        grid-template-columns: 40px auto;
    }
    .Answer_Container {
        grid-template-columns: 100%;
    }
    .Question_Row {
        grid-template-columns: 41% 60%;
    }
    .Question, .Option_Row {
        grid-template-columns: 62px auto;
    }
    .Question_Row .alphabet, .Option_Row .number {
        width: 50px;
        height: 50px;
        line-height: 48px;
    }
    .Answers .Answer_Div {
        grid-template-columns: repeat(5,60px);
        grid-gap: 10px;
        margin-bottom: 35px;
        margin-top: 10px;
    }
    .Question_Block.one .correct_answer {
        font-size: 35px;
    }
    .Question_Block.one .correct_answer span {
        padding: 5px 12px 0;
    }
    .circle {
        width: 50px;
        height: 50px;
        line-height: 48px;
    }
    .option {
        grid-template-columns: 65px auto;
    }
    .Question_Block.two .option_Container {
        width: 400px;
    }
    .Question_Block.three .options {
        grid-template-columns: 45% 55%;
    }
    .Question_Block.four .option_Container {
        width: 590px;
    }
    .Question_Block.five .Answer_Container {
        grid-template-columns: 100%;
        margin-top: 30px;
    }
    .Question_Block.five .Question_Row {
        grid-template-columns: 280px 60px 230px;
        margin-bottom: 30px;
    }
    .Question_Block.five .correct_answer {
        font-size: 28px;
        margin-left: 0;
        margin-top: -83px;
        text-align: center;
    }
    .Question_Block.five .Question_Row:last-child{
        margin-bottom:0;
    }
    .Question_Block.five .options {
        grid-template-columns: 210px 200px 130px;
    }
    .option_div:nth-child(4), .option_div:nth-child(5) {
        left: 70px;
    }
    .Question_Block.six .option_Container {
        width: 100%;
    }
    .Question_Block.six .options {
        grid-template-columns: 100%;
        grid-row-gap: 10px;
    }
    .Question_Block.three .option_Container {
        width: 100%;
    }
    .Question_Block.five .Option_Container {
        margin: 20px auto;
    }
    .input-container .input-text {
        width: 100px;
    }
    .main-input-container input {
        width: 150px;
    }
}
/*Portrait*/ 
@media only screen and (min-width: 1024px) and (orientation: portrait) {
    .arrow-size {
        width: 55px;
        height: 55px;
    }
    .carousel-control-prev {
        left: -40px;
    }
    .carousel-control-next {
        right: -40px;
    }
    .bg{
        font-size:35px;
    }
    .heading{
        font-size:40px;
    }
    .myButton{
        font-size:35px;
    }
    .instruction {
        font-size: 40px;
    }
    .Main_Question_Row {
        grid-template-columns: 45px auto;
    }
    .Question_Block.five .correct_answer {
        font-size: 32px;
        margin-top: -94px;
    }
    .carousel-indicators li {
        width: 42px;
        height: 42px;
        margin: 0 5px;
        font-size: 29px;
    }
    .main-input-container input {
        width: 190px;
    }
}
@media (min-width: 1900px){
    .bg{
        font-size:32px;
    }
    .heading{
        font-size:45px;
    }
    .container {
        max-width: 1500px;
    }
    .arrow-size {
        width: 60px;
        height: 60px;
    }
    .carousel-control-next {
        right: -60px;
    }
    .carousel-control-prev {
        left: -60px;
    }
    .instruction {
        font-size: 38px;
    }
    .Question_Row .alphabet, .Option_Row .number {
        width: 50px;
        height: 50px;
        line-height: 48px;
    }
    .Question, .Option_Row {
        grid-template-columns: 65px auto;
    }
    .Answers .Answer_Div {
        grid-template-columns: repeat(5,60px);
    }
    .correct_answer {
        font-size: 37px;
    }
    .circle {
        width: 50px;
        height: 50px;
        line-height: 46px;
    }
    .option {
        grid-template-columns: 65px auto;
    }
    .Question_Block.five .correct_answer {
        font-size: 30px;
        margin-top: -45px;
    }
    .Question_Block.five .options {
        grid-template-columns: 190px 180px 120px;
    }
    .option_div:nth-child(4), .option_div:nth-child(5) {
        left: 65px;
    }
    .carousel-indicators li {
        width: 42px;
        height: 42px;
        margin: 0 7px;
        font-size: 29px;
    }
    .main-input-container input {
        width: 190px;
    }
    .carousel-indicators[_ngcontent-llc-c3] {
        bottom: -55px;
    }
}
@media (orientation:landscape){
    .bg{
         background: url(http://completegrammar.com/assets/std02-comprehensions-worksheet10/img/slide1_bg.jpg) no-repeat center bottom fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
@media (orientation:portrait){
    .bg{
         background: url(http://completegrammar.com/assets/std02-comprehensions-worksheet10/img/slide1_bg_portrait.jpg) no-repeat center bottom fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

// commoln
.loadingDiv {
    position: fixed;;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.4);
    background-image:url('/assets/images/loader.gif');
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    background-size: 85px;
  }
.result{
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:rgba(0,0,0,.8);
    z-index:2147483647;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor:pointer;
}
.result .Box{
    position: relative;
    padding:45px 55px 30px 20px
}
.result .imgBox{
    display:none;
}
.result img{
    max-width:100%;
}
.result .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor:pointer;
}
.result .TextBox h1 {
    font-weight:bold;
    text-align:center;
    color:#fff;
    -webkit-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	-moz-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	padding:10%;
	max-width:800px;
}
@media(min-width:100px) and (max-width:575px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
    .result .close {
        right: 15px;
    }
}
@media(min-width:576px) and (max-width:767px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
}

.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:inherit;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	line-height: 1;
	outline:0 !important;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}
.button.playAgain {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:inherit;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.button.playAgain:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.button.playAgain:active {
	position:relative;
	top:1px;
}


#toggle {
    display: block;
    right: 56px;
    top: 35px;
    background: #f3ecec;
    border-radius: 50%;
    border: 4px solid #3b7ee2;
    opacity: 0.7;
    text-align: center;
    padding: 10px;
    
  }

  #toggle:hover
  {
    opacity: 1;
    border: 4px solid #3b7ee2;
    
  }
  
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
  }
  #toggle span {
    position: relative;
    display: inline;
  }
  
  #toggle span
  {
    width: 50px;
    height: 50px;
    text-align: center;
    padding:0%;
  }

  #toggle span img
  {
    width:25px;
    height:25px;
  }
  
  /* on activation */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
    -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  

  /* menu appearance*/
#menu {
    position: absolute;
    color: #000;
    width: 140px;
    padding: 10px;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0px 3px 11px 1px rgba(27, 24, 24, 0.24);
    font-size: 16px;
    left: -190%;
    z-index: 9;
    text-align: right;
    top: 145%;
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;  
}
.change{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1; 
}
.notchange{
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#menu:after {
    position: absolute;
    top: -20px;
    left: 107px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #ffffff;
}
ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-weight: normal;
}
li a {
    padding: 5px;
    color: #000;
    text-decoration: none;
    transition: all .2s;
}
li a:hover,
li a:focus {
    background: #1798dc;
    color: #fff;
    text-decoration: none;
}
.menu-block{
    position: fixed;
    right: 46px;
    top: 35px;
    z-index: 2147483646;
    height: 50px;
}
.up {
    transform: rotate(180deg) translateY(0%);
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
} 
@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
}
@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
} 

@media(min-width:100px) and (max-width:575px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:576px) and (max-width:767px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:768px) and (max-width:991px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .menu-block {
        right: 10px;
    }
    #menu:after {
        left: 140px;
    }
    #menu {
        font-size: 18px;
        left: -240%;
        top: 140%;
        width: 175px;
    }
    #toggle {
        height: 53px;
        width: 53px;
        padding: 0;
        line-height: 48px;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 26px;
    }
    #toggle{
        height: 60px;
        width: 60px;
        padding:0;
        line-height: 55px;
    }
    .menu-block {
        right: 20px;
    }
    #menu:after {
        left: 205px;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 30px;
    }
}
@media(min-width:1200px){
	#menu {
        top: 70px;
        left: -135px;
        width: 180px;
        font-size: 18px;
    }
    #menu:after {
        left: 145px;
    }
    #toggle{
        height: 55px;
        width: 55px;
        padding:0;
        line-height: 50px;
    }
}