<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>

    <div class="loadingDiv">
    </div>

    <div class="container">
        <div class="row">
            <div class="heading pt-3">
                <h1>Click on the blanks and then click on the underlined words from the story, to classify them
                    correctly as Masculine, Feminine and Common Gender.</h1>
            </div>
        </div>
        <div class="row Main_Container">
            <div class="col-12 Question_Container">
                <div class="title_row">
                    <div class="title">A Farm Visit</div>
                </div>
                <div class="content_block">
                    <p>Today<span class="comma">,</span> my <u>teacher</u> took us to a farm. We all
                        <u>students</u><span class="comma">,</span> saw many <u>animals</u> doing interesting things
                        there. An <u>employee</u> of the farm showed us around. The <u>cows</u> grazed in the fields
                        while the <u>bulls</u> rested lazily in the shed. The <u>cock</u> and the <u>hen</u> played
                        about near their coop. We were fortunate to see a <u>peacock</u> spread its feathers. A
                        <u>mare</u> had just given birth to a foal. A fat <u>pig</u> oinked in the background<span
                            class="comma">,</span> whereas the <u>ewe</u> bleated away. As we moved further we could
                        hear the humming of the <u>bees</u> and <u>drones</u>. There were many <u>visitors</u> like us
                        at the farm so it was such a noisy place. All of us came back home tired and exhausted.</p>
                </div>
            </div>
            <div class="col-12 Answer_Container">
                <div class="Answer_Block">
                    <div class="Answer_Div Masculine">
                        <div class="header"><span>Masculine</span> <span>Gender</span></div>
                        <div class="Answer_Box">
                            <div class="Answer">
                                <div class="number">1)</div>
                                <div class="input_div"><input type="text">
                                    <div class="correct_answer"><span>bulls</span></div>
                                </div>
                            </div>
                            <div class="Answer">
                                <div class="number">2)</div>
                                <div class="input_div"><input type="text">
                                    <div class="correct_answer"><span>cock</span></div>
                                </div>
                            </div>
                            <div class="Answer">
                                <div class="number">3)</div>
                                <div class="input_div"><input type="text">
                                    <div class="correct_answer"><span>peacock</span></div>
                                </div>
                            </div>
                            <div class="Answer">
                                <div class="number">4)</div>
                                <div class="input_div"><input type="text">
                                    <div class="correct_answer"><span>pig</span></div>
                                </div>
                            </div>
                            <div class="Answer">
                                <div class="number">5)</div>
                                <div class="input_div"><input type="text">
                                    <div class="correct_answer"><span>drone</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Answer_Div Feminine">
                        <div class="header"><span>Feminine</span> <span>Gender</span></div>
                        <div class="Answer_Box">
                            <div class="Answer">
                                <div class="number">1)</div>
                                <div class="input_div"><input type="text">
                                    <div class="correct_answer"><span>cows</span></div>
                                </div>
                            </div>
                            <div class="Answer">
                                <div class="number">2)</div>
                                <div class="input_div"><input type="text">
                                    <div class="correct_answer"><span>hen</span></div>
                                </div>
                            </div>
                            <div class="Answer">
                                <div class="number">3)</div>
                                <div class="input_div"><input type="text">
                                    <div class="correct_answer"><span>mare</span></div>
                                </div>
                            </div>
                            <div class="Answer">
                                <div class="number">4)</div>
                                <div class="input_div"><input type="text">
                                    <div class="correct_answer"><span>ewe</span></div>
                                </div>
                            </div>
                            <div class="Answer">
                                <div class="number">5)</div>
                                <div class="input_div"><input type="text">
                                    <div class="correct_answer"><span>bees</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Answer_Div Common">
                        <div class="header"><span>Common</span> <span>Gender</span></div>
                        <div class="Answer_Box">
                            <div class="Answer">
                                <div class="number">1)</div>
                                <div class="input_div"><input type="text">
                                    <div class="correct_answer"><span>teacher</span></div>
                                </div>
                            </div>
                            <div class="Answer">
                                <div class="number">2)</div>
                                <div class="input_div"><input type="text">
                                    <div class="correct_answer"><span>students</span></div>
                                </div>
                            </div>
                            <div class="Answer">
                                <div class="number">3)</div>
                                <div class="input_div"><input type="text">
                                    <div class="correct_answer"><span>animals</span></div>
                                </div>
                            </div>
                            <div class="Answer">
                                <div class="number">4)</div>
                                <div class="input_div"><input type="text">
                                    <div class="correct_answer"><span>employee</span></div>
                                </div>
                            </div>
                            <div class="Answer">
                                <div class="number">5)</div>
                                <div class="input_div"><input type="text">
                                    <div class="correct_answer"><span>visitors</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-row">
            <button class="button myButton">Submit</button>
        </div>

    </div>
</div>