<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
		<div class="heading">
			<h1>Click on the blanks and then click on the correct Collective Nouns from the help box, that can be used for the given Common Nouns.</h1>
		</div>
        <div class="row Main_Container">
            <div class="col-12 Answer_Container">
                <div class="Option_Block portrait">
                    <div class="options">
                        <div class="option">litter</div>
                        <div class="option">herd</div>
                        <div class="option">colony</div>
                        <div class="option">scurry</div>
                        <div class="option">flock</div>
                        <div class="option">school</div>
                        <div class="option">team</div>
                        <div class="option">brood</div>
                    </div>
                </div>
                <img src="assets/std02-collective-noun-worksheet6/img/puzzle.png" alt="" class="puzzle">
            </div>
            <div class="col-12 Question_Container">
                <div class="Option_Block landscape">
                    <div class="options">
                        <div class="option">litter</div>
                        <div class="option">herd</div>
                        <div class="option">colony</div>
                        <div class="option">scurry</div>
                        <div class="option">flock</div>
                        <div class="option">school</div>
                        <div class="option">team</div>
                        <div class="option">brood</div>
                    </div>
                </div>
                <div class="Question_Block">
                    <div class="Across_Block">
                        <div class="header">Across</div>
                        <div class="Questions">
                            <div class="Question">
                                <div class="number">1)</div>
                                <div class="content">a <div class="input_div"><input type="text"><div class="correct_answer"><span>school</span></div></div> of whales</div>
                            </div>
                            <div class="Question">
                                <div class="number">2)</div>
                                <div class="content">a <div class="input_div"><input type="text"><div class="correct_answer"><span>team</span></div></div> of horses</div>
                            </div>
                            <div class="Question">
                                <div class="number">3)</div>
                                <div class="content">a <div class="input_div"><input type="text"><div class="correct_answer"><span>herd</span></div></div> of elephants</div>
                            </div>
                            <div class="Question">
                                <div class="number">4)</div>
                                <div class="content">a <div class="input_div"><input type="text"><div class="correct_answer"><span>brood</span></div></div> of chickens</div>
                            </div>
                        </div>
                    </div>
                    <div class="Down_Block">
                        <div class="header">Down</div>
                        <div class="Questions">
                            <div class="Question">
                                <div class="number">1)</div>
                                <div class="content">a <div class="input_div"><input type="text"><div class="correct_answer"><span>scurry</span></div></div> of squirrels</div>
                            </div>
                            <div class="Question">
                                <div class="number">2)</div>
                                <div class="content">a <div class="input_div"><input type="text"><div class="correct_answer"><span>flock</span></div></div> of geese</div>
                            </div>
                            <div class="Question">
                                <div class="number">3)</div>
                                <div class="content">a <div class="input_div"><input type="text"><div class="correct_answer"><span>litter</span></div></div> of puppies</div>
                            </div>
                            <div class="Question">
                                <div class="number">4)</div>
                                <div class="content">a <div class="input_div"><input type="text"><div class="correct_answer"><span>colony</span></div></div> of rabbits</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
  </div>

</div>