<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>

    <div class="loadingDiv">
    </div>

    <div class="container">
        <div class="row">
            <div class="heading two mt-3">
                <h1>
                    Click on the Adjectives of Quality in the given sentences.
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 Main_Container position-relative">
                <div class="Question_Container">
                    <div class="row">
                        <div class="col-12 Question d-flex">
                            <div class="number">1)</div>
                            <div class="content">
                                <span>The</span> <span>crowd</span> <span>gathered</span> <span>to</span>
                                <span>see</span> <span>the</span> <span class="right">popular</span>
                                <span>actress</span>.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 Question d-flex">
                            <div class="number">2)</div>
                            <div class="content">
                                <span>Those</span> <span>boys</span> <span>were</span> <span>advised</span>
                                <span>not</span> <span>to</span> <span>play</span> <span>the</span> <span
                                    class="right">dangerous</span> <span>game</span>.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 Question d-flex third">
                            <div class="number">3)</div>
                            <div class="content">
                                <span>The</span> <span class="right">wooden</span> <span>table</span> <span>was</span>
                                <span>carved</span> <span>by</span> <span>a</span> <span class="right">talented</span>
                                <span>sculptor</span>.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 Question d-flex">
                            <div class="number">4)</div>
                            <div class="content">
                                <span>Rohan</span> <span>got</span> <span class="right">exellent</span>
                                <span>marks</span> <span>in</span> <span>his</span> <span>assessment</span>.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 Question d-flex">
                            <div class="number">5)</div>
                            <div class="content">
                                <span>John</span> <span>saw</span> <span>a</span> <span class="right">strange</span>
                                <span>object</span> <span>on</span> <span>the</span> <span>sidewalk</span>.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 Question d-flex">
                            <div class="number">6)</div>
                            <div class="content">
                                <span>Those</span> <span>beds</span> <span>are</span> <span>very</span>
                                <span class="right">comfortable</span>.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 Question d-flex">
                            <div class="number">7)</div>
                            <div class="content">
                                <span>Mary</span> <span>and</span> <span>her</span> <span>friends</span>
                                <span>spent</span> <span>a</span> <span class="right">pleasant</span>
                                <span>evening</span> <span>at</span> <span>the</span> <span>restaurant</span>.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 Question d-flex">
                            <div class="number">8)</div>
                            <div class="content">
                                <span>The</span> <span>man</span> <span>living</span> <span>next</span>
                                <span>door</span> <span>has</span> <span>a</span> <span class="right">friendly</span>
                                <span>face</span>.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 Question d-flex">
                            <div class="number">9)</div>
                            <div class="content">
                                <span>Grandpa</span> <span>was</span> <span>reading</span> <span>an</span> <span
                                    class="right">interesting</span> <span>article</span> <span>in</span>
                                <span>the</span> <span>newspaper</span>.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 Question d-flex">
                            <div class="number">10)</div>
                            <div class="content">
                                <span>India</span> <span>has</span> <span>many</span> <span
                                    class="right">historical</span> <span>cities</span>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-row">
            <button class="button myButton">Submit</button>
        </div>
    </div>
</div>