<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row mt-3 mb-2 mb-sm-3 mt-lg-4">
        <div class="heading ">
          <h1>
            Click in the boxes that have Antonyms of the given words. 
          </h1>
        </div>
    </div>
    <div class="row">
      <div class="col-12 Main_Container">
          <div class="Question_Conatiner">
              <div class="Question d-flex">
                  <div class="number">1)</div>
                  <div class="content">hungry</div>
              </div>
              <div class="option"><span>in</span></div>
              <div class="option"><span class="right">full</span></div>
              <div class="option"><span>yes</span></div>
          </div>
          <div class="Question_Conatiner">
              <div class="Question d-flex">
                  <div class="number">2)</div>
                  <div class="content">strong</div>
              </div>
              <div class="option"><span class="right">weak</span></div>
              <div class="option"><span>thin</span></div>
              <div class="option"><span>light</span></div>
          </div>
          <div class="Question_Conatiner">
              <div class="Question d-flex">
                  <div class="number">3)</div>
                  <div class="content">crooked</div>
              </div>
              <div class="option"><span>here</span></div>
              <div class="option"><span>near</span></div>
              <div class="option"><span class="right">straight</span></div>
          </div>
          <div class="Question_Conatiner">
              <div class="Question d-flex">
                  <div class="number">4)</div>
                  <div class="content">present</div>
              </div>
              <div class="option"><span class="right">absent</span></div>
              <div class="option"><span>out</span></div>
              <div class="option"><span>go</span></div>
          </div>
          <div class="Question_Conatiner">
              <div class="Question d-flex">
                  <div class="number">5)</div>
                  <div class="content">war</div>
              </div>
              <div class="option"><span>start</span></div>
              <div class="option"><span class="right">peace</span></div>
              <div class="option"><span>open</span></div>
          </div>
          <div class="Question_Conatiner">
              <div class="Question d-flex">
                  <div class="number">6)</div>
                  <div class="content">borrow</div>
              </div>
              <div class="option"><span class="right">lend</span></div>
              <div class="option"><span>give</span></div>
              <div class="option"><span>come</span></div>
          </div>
          <div class="Question_Conatiner">
              <div class="Question d-flex">
                  <div class="number">7)</div>
                  <div class="content">deep</div>
              </div>
              <div class="option"><span>wide</span></div>
              <div class="option"><span>off</span></div>
              <div class="option"><span class="right">shallow</span></div>
          </div>
          <div class="Question_Conatiner">
              <div class="Question d-flex">
                  <div class="number">8)</div>
                  <div class="content">hardworking</div>
              </div>
              <div class="option"><span class="right">lazy</span></div>
              <div class="option"><span>before</span></div>
              <div class="option"><span>more</span></div>
          </div>
          
      </div>
    </div>
    <div class="row">
      <div class="btn-row w-100">
        <button class="button myButton">Submit</button>
      </div>
    </div>
    
  </div>
</div>