<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
	<div class="loadingDiv">
	</div>
	<div class="container">
		<div class="row" style="margin:0">
			<h1 class="heading">
				<!-- Click on the blanks and then click on the correct Collective Nouns from the help box,
				that can be used for the given Common Nouns. -->
				Click on the blanks and then click on another Collective Noun from the help box, that can be used for the given Common Nouns.
			</h1>
		</div>
		<div class="row margin-bottom-2 helpbox-container" style="margin:0 ">
			<div class="col-xs-12">
				<div class="row" style="margin:0 ">
					<div class="col-xs-6 no-padding">
						<table class="chose-answer pull-right">
							<tr>
								<td>
									<div><span>group</span></div>
								</td>
								<td>
									<div><span>gaggle</span></div>
								</td>
							</tr>
							<tr>
								<td class="no-radius">
									<div><span>colony</span></div>
								</td>
								<td class="no-radius">
									<div><span>nest</span></div>
								</td>
							</tr>
						</table>
					</div>
					<div class="col-xs-6">
						<table class="chose-answer pull-left">
							<tr>
								<td>
									<div><span>bunch</span></div>
								</td>
								<td>
									<div><span>shoal</span></div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="no-radius"><span>library</span></div>
								</td>
								<td>
									<div class="no-radius"><span>pod</span></div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="Pencil_Block">
			<div class="row margin-bottom-2 Question_Row" style="margin:0 ;">
				<div class="col-xs-6 width-100">
					<div class="col-xs-1 no-padding "><span class="pull-right">1)</span></div>
					<div class="col-xs-10 ">
						<div class="row no-margin ">
							<!--<img src=".\Asset\img\pencil.png" style="max-width:100%;width:100%;">-->
							<table class="pencil-with-question" style="width:100%;">
								<tr>
									<td class="width-17"><span class="an">a</span></td>
									<td class="width-83"> <input type="text" value="colony"> of rabbits</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="col-xs-1"></div>
					<div class="height-5"></div>
				</div>
				<div class="col-xs-6 width-100">
					<div class="row no-margin">
						<div class="col-xs-10">
							<div class="row no-margin ">
								<!--<img src=".\Asset\img\pencil.png" style="max-width:100%;width:100%;">-->
								<table class="pencil-with-question" style="width:100%;">
									<tr>
										<td class="width-17"><span class="an">a</span></td>
										<td class="width-83"> <input type="text"> of rabbits</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="col-xs-2 no-padding">
							<div class="answer"><span>nest</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--2-->
			<div class="row margin-bottom-2 Question_Row" style="margin:0 ;">
				<div class="col-xs-6 width-100">
					<div class="col-xs-1 no-padding "><span class="pull-right">2)</span></div>
					<div class="col-xs-10 ">
						<div class="row no-margin ">
							<!--<img src=".\Asset\img\pencil.png" style="max-width:100%;width:100%;">-->
							<table class="pencil-with-question" style="width:100%;">
								<tr>
									<td class="width-17"><span class="an">a</span></td>
									<td class="width-83"> <input type="text" value="school"> of fish</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="col-xs-1"></div>
					<div class="height-5"></div>
				</div>
				<div class="col-xs-6 width-100">
					<div class="row no-margin">
						<div class="col-xs-10">
							<div class="row no-margin ">
								<!--<img src=".\Asset\img\pencil.png" style="max-width:100%;width:100%;">-->
								<table class="pencil-with-question" style="width:100%;">
									<tr>
										<td class="width-17"><span class="an">a</span></td>
										<td class="width-83"> <input type="text"> of fish</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="col-xs-2 no-padding">
							<div class="answer"><span>shoal</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--3-->
			<div class="row margin-bottom-2 Question_Row" style="margin:0 ;">
				<div class="col-xs-6 width-100">
					<div class="col-xs-1 no-padding "><span class="pull-right">3)</span></div>
					<div class="col-xs-10 ">
						<div class="row no-margin ">
							<!--<img src=".\Asset\img\pencil.png" style="max-width:100%;width:100%;">-->
							<table class="pencil-with-question" style="width:100%;">
								<tr>
									<td class="width-17"><span class="an">a</span></td>
									<td class="width-83"> <input type="text" value="flock"> of geese</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="col-xs-1"></div>
					<div class="height-5"></div>
				</div>
				<div class="col-xs-6 width-100">
					<div class="row no-margin">
						<div class="col-xs-10">
							<div class="row no-margin ">
								<!--<img src=".\Asset\img\pencil.png" style="max-width:100%;width:100%;">-->
								<table class="pencil-with-question" style="width:100%;">
									<tr>
										<td class="width-17"><span class="an">a</span></td>
										<td class="width-83"> <input type="text"> of geese</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="col-xs-2 no-padding">
							<div class="answer"><span>gaggle</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--4-->
			<div class="row margin-bottom-2 Question_Row" style="margin:0 ;">
				<div class="col-xs-6 width-100">
					<div class="col-xs-1 no-padding "><span class="pull-right">4)</span></div>
					<div class="col-xs-10 ">
						<div class="row no-margin ">
							<!--<img src=".\Asset\img\pencil.png" style="max-width:100%;width:100%;">-->
							<table class="pencil-with-question" style="width:100%;">
								<tr>
									<td class="width-17"><span class="an">a</span></td>
									<td class="width-83"> <input type="text" value="pile"> of books</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="col-xs-1"></div>
					<div class="height-5"></div>
				</div>
				<div class="col-xs-6 width-100">
					<div class="row no-margin">
						<div class="col-xs-10">
							<div class="row no-margin ">
								<!--<img src=".\Asset\img\pencil.png" style="max-width:100%;width:100%;">-->
								<table class="pencil-with-question" style="width:100%;">
									<tr>
										<td class="width-17"><span class="an">a</span></td>
										<td class="width-83"> <input type="text"> of books</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="col-xs-2 no-padding">
							<div class="answer"><span>library</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--5-->
			<div class="row margin-bottom-2 Question_Row" style="margin:0 ;">
				<div class="col-xs-6 width-100">
					<div class="col-xs-1 no-padding "><span class="pull-right">5)</span></div>
					<div class="col-xs-10 ">
						<div class="row no-margin ">
							<!--<img src=".\Asset\img\pencil.png" style="max-width:100%;width:100%;">-->
							<table class="pencil-with-question" style="width:100%;">
								<tr>
									<td class="width-17"><span class="an">an</span></td>
									<td class="width-83"> <input type="text" value="army"> of ants</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="col-xs-1"></div>
					<div class="height-5"></div>
				</div>
				<div class="col-xs-6 width-100">
					<div class="row no-margin">
						<div class="col-xs-10">
							<div class="row no-margin ">
								<!--<img src=".\Asset\img\pencil.png" style="max-width:100%;width:100%;">-->
								<table class="pencil-with-question" style="width:100%;">
									<tr>
										<td class="width-17"><span class="an">a</span></td>
										<td class="width-83"> <input type="text"> of ants</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="col-xs-2 no-padding">
							<div class="answer"><span>colony</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row margin-bottom-2 Question_Row" style="margin:0 ;">
				<div class="col-xs-6 width-100">
					<div class="col-xs-1 no-padding "><span class="pull-right">6)</span></div>
					<div class="col-xs-10 ">
						<div class="row no-margin ">
							<!--<img src=".\Asset\img\pencil.png" style="max-width:100%;width:100%;">-->
							<table class="pencil-with-question" style="width:100%;">
								<tr>
									<td class="width-17"><span class="an">a</span></td>
									<td class="width-83"> <input type="text" value="school"> of whales</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="col-xs-1"></div>
					<div class="height-5"></div>
				</div>
				<div class="col-xs-6 width-100">
					<div class="row no-margin">
						<div class="col-xs-10">
							<div class="row no-margin ">
								<!--<img src=".\Asset\img\pencil.png" style="max-width:100%;width:100%;">-->
								<table class="pencil-with-question" style="width:100%;">
									<tr>
										<td class="width-17"><span class="an">a</span></td>
										<td class="width-83"> <input type="text"> of whales</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="col-xs-2 no-padding">
							<div class="answer"><span>pod</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row margin-bottom-2 Question_Row" style="margin:0 ;">
				<div class="col-xs-6 width-100">
					<div class="col-xs-1 no-padding "><span class="pull-right">7)</span></div>
					<div class="col-xs-10 ">
						<div class="row no-margin ">
							<!--<img src=".\Asset\img\pencil.png" style="max-width:100%;width:100%;">-->
							<table class="pencil-with-question" style="width:100%;">
								<tr>
									<td class="width-17"><span class="an">a</span></td>
									<td class="width-83"> <input type="text" value="crowd"> of people</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="col-xs-1"></div>
					<div class="height-5"></div>
				</div>
				<div class="col-xs-6 width-100">
					<div class="row no-margin">
						<div class="col-xs-10">
							<div class="row no-margin ">
								<!--<img src=".\Asset\img\pencil.png" style="max-width:100%;width:100%;">-->
								<table class="pencil-with-question" style="width:100%;">
									<tr>
										<td class="width-17"><span class="an">a</span></td>
										<td class="width-83"> <input type="text"> of people</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="col-xs-2 no-padding">
							<div class="answer"><span>group</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row margin-bottom-2 Question_Row" style="margin:0 ;">
				<div class="col-xs-6 width-100">
					<div class="col-xs-1 no-padding "><span class="pull-right">8)</span></div>
					<div class="col-xs-10 ">
						<div class="row no-margin ">
							<!--<img src=".\Asset\img\pencil.png" style="max-width:100%;width:100%;">-->
							<table class="pencil-with-question" style="width:100%;">
								<tr>
									<td class="width-17"><span class="an">a</span></td>
									<td class="width-83"> <input type="text" value="bouquet"> of flowers</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="col-xs-1"></div>
					<div class="height-5"></div>
				</div>
				<div class="col-xs-6 width-100">
					<div class="row no-margin">
						<div class="col-xs-10">
							<div class="row no-margin ">
								<!--<img src=".\Asset\img\pencil.png" style="max-width:100%;width:100%;">-->
								<table class="pencil-with-question" style="width:100%;">
									<tr>
										<td class="width-17"><span class="an">a</span></td>
										<td class="width-83"> <input type="text"> of flowers</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="col-xs-2 no-padding">
							<div class="answer"><span>bunch</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row m-0">
				<div class="btn-row w-100">
					<button class="button myButton">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>