<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3 mb-2 mb-lg-3">
        <h2 class="font-weight-bold heading">
          Click on the blanks and then click on the correct Prepositions
          from the help box, to complete the sentences.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="helpbox-container">
        <div class="helpbox"><span>above</span></div>
        <div class="helpbox"><span>between</span></div>
        <div class="helpbox"><span>against</span></div>
        <div class="helpbox"><span>over</span></div>
        <div class="helpbox"><span>under</span></div>
        <div class="helpbox"><span>across</span></div>
      </div>
    </div>
    <div class="row">
      <div class="main-question-container">
        <div class="left-side">
          <!-- 1 -->
          <div class="question">
            <div class="number"><span>1</span></div>
            <div class="text-container">
              <span>The boat is sailing</span>
              <div class="input-container">
                <input type="text">
                <div class="correct-answer">
                  <span>under</span>
                </div>
              </div>
              <span>the bridge.</span>
            </div>
            <div class="img-container">
              <img src="assets/std02-prepositions-worksheet6/img/q1.png" alt="" class="img-fluid">
            </div>
          </div>
          <!-- 2 -->
          <div class="question">
            <div class="number"><span>2</span></div>
            <div class="text-container">
              <span>The jockey made the horse jump</span>
              <div class="input-container">
                <input type="text">
                <div class="correct-answer shw-bottom">
                  <span>over</span>
                </div>
              </div>
              <span> a hurdle.</span>
            </div>
            <div class="img-container">
              <img src="assets/std02-prepositions-worksheet6/img/q2.png" alt="" class="img-fluid">
            </div>
          </div>
          <!-- 3 -->
          <div class="question">
            <div class="number"><span>3</span></div>
            <div class="text-container">
              <span>The fireplace is</span>
              <div class="input-container">
                <input type="text">
                <div class="correct-answer">
                  <span>between</span>
                </div>
              </div>
              <span>the two windows.</span>
            </div>
            <div class="img-container">
              <img src="assets/std02-prepositions-worksheet6/img/q3.png" alt="" class="img-fluid">
            </div>
          </div>
          <!-- 4 -->
          <div class="question">
            <div class="number"><span>4</span></div>
            <div class="text-container">
              <span>The ferry is going</span>
              <div class="input-container">
                <input type="text">
                <div class="correct-answer">
                  <span>across</span>
                </div>
              </div>
              <span>the river.</span>
            </div>
            <div class="img-container">
              <img src="assets/std02-prepositions-worksheet6/img/q4.png" alt="" class="img-fluid">
            </div>
          </div>
          <!-- 5 -->
          <div class="question">
            <div class="number"><span>5</span></div>
            <div class="text-container">
              <span>The airplane is flying</span>
              <div class="input-container">
                <input type="text">
                <div class="correct-answer abw-bottom">
                  <span>above</span>
                </div>
              </div>
              <span>the clouds.</span>
            </div>
            <div class="img-container">
              <img src="assets/std02-prepositions-worksheet6/img/q5.png" alt="" class="img-fluid">
            </div>
          </div>
          <!-- 6-->
          <div class="question">
            <div class="number"><span>6</span></div>
            <div class="text-container">
              <span>Tom is leaning</span>
              <div class="input-container">
                <input type="text">
                <div class="correct-answer">
                  <span>against</span>
                </div>
              </div>
              <span>the door.</span>
            </div>
            <div class="img-container">
              <img src="assets/std02-prepositions-worksheet6/img/q6.png" alt="" class="img-fluid">
            </div>
          </div>
          <!-- 4 -->
          <!-- 5-->
          <!-- 6 -->
          <!-- end -->
        </div>
        <div class="right-side">
          <div class="right-img-container ">
            <img src="assets/std02-prepositions-worksheet6/img/landscape.png" alt="" class="img-fluid">
          </div>
        </div>

      </div>
    </div>
    <div class="row btn-row">
      <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>
</div>