<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
              <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide">
              <img src="" alt="" class="Text fabulous hide">
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
          <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
      <div class="row">
          <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
              <h2 class="font-weight-bold heading">
                  Click on the blanks and then click on the correct Proper Nouns
                  from the help box, to complete the sentences.
              </h2>
          </div>
      </div>
      <div class="row">
          <div class="main-question-container">


              <div class="question-container">
                  <!-- 1 -->
                  <div class="question">
                      <div class="number">
                          <span>1</span>
                      </div>
                      <div class="text-container">
                          <span>My school teacher<span class="comma">’</span>s name is</span>
                          <div class="input-container">
                              <input type="text">
                              <div class="correct-answer">
                                  <span>Miss Lobo</span>
                              </div>
                          </div>
                          <span class="full-stop">.</span>
                      </div>
                  </div>
                  <!-- 2 -->
                  <div class="question">
                      <div class="number">
                          <span>2</span>
                      </div>
                      <div class="text-container">
                          <span>The</span>
                          <div class="input-container">
                              <input type="text">
                              <div class="correct-answer">
                                  <span>Taj Mahal</span>
                              </div>
                          </div>
                          <span> is one of the seven wonders of the world.</span>
                      </div>
                  </div>
                  <!-- 3 -->
                  <div class="question">
                      <div class="number">
                          <span>3</span>
                      </div>
                      <div class="text-container">
                          <span>We all celebrate </span>
                          <div class="input-container">
                              <input type="text">
                              <div class="correct-answer">
                                  <span>Diwali</span>
                              </div>
                          </div>
                          <span>in India.</span>
                      </div>
                  </div>
                  <!-- 4 -->
                  <div class="question">
                      <div class="number">
                          <span>4</span>
                      </div>
                      <div class="text-container">

                          <div class="input-container">
                              <input type="text">
                              <div class="correct-answer">
                                  <span>Sue</span>
                              </div>
                          </div>
                          <span>is my best friend.</span>
                      </div>
                  </div>
                  <!-- 5 -->
                  <div class="question">
                      <div class="number">
                          <span>5</span>
                      </div>
                      <div class="text-container">
                          <span>There is a</span>
                          <div class="input-container">
                              <input type="text">
                              <div class="correct-answer">
                                  <span>Starbucks Cafe</span>
                              </div>
                          </div>
                          <span>near my house.</span>
                      </div>
                  </div>
                  <!-- 6 -->
                  <div class="question">
                      <div class="number">
                          <span>6</span>
                      </div>
                      <div class="text-container">
                          <span>Peter has a pet dog named</span>
                          <div class="input-container">
                              <input type="text">
                              <div class="correct-answer">
                                  <span>Rover</span>
                              </div>
                          </div>
                          <span class="full-stop">.</span>
                      </div>
                  </div>
                  <!-- 7 -->
                  <div class="question">
                      <div class="number">
                          <span>7</span>
                      </div>
                      <div class="text-container">
                          <div class="input-container">
                              <input type="text">
                              <div class="correct-answer">
                                  <span>Ottawa</span>
                              </div>
                          </div>
                          <span>is the capital city of Canada.</span>
                      </div>
                  </div>
                  <!-- 8 -->
                  <div class="question">
                      <div class="number">
                          <span>8</span>
                      </div>
                      <div class="text-container">
                          <span>I was born in</span>
                          <div class="input-container">
                              <input type="text">
                              <div class="correct-answer">
                                  <span>December</span>
                              </div>
                          </div>
                          <span class="full-stop">.</span>
                      </div>
                  </div>
              </div>

              <div class="helpbox_container">
                  <div class="img-container">
                      <img src="assets/std01-proper-noun-worksheet5/img/p1.png">
                      <span>Rover</span>
                  </div>
                  <div class="img-container">
                      <img src="assets/std01-proper-noun-worksheet5/img/p2.png">
                      <span>Starbucks Cafe</span>
                  </div>
                  <div class="img-container">
                      <img src="assets/std01-proper-noun-worksheet5/img/p3.png">
                      <span>Miss Lobo</span>
                  </div>
                  <div class="img-container">
                      <img src="assets/std01-proper-noun-worksheet5/img/p4.png">
                      <span>Ottawa</span>
                  </div>
                  <div class="img-container">
                      <img src="assets/std01-proper-noun-worksheet5/img/p5.png">
                      <span>December</span>
                  </div>
                  <div class="img-container">
                      <img src="assets/std01-proper-noun-worksheet5/img/p6.png">
                      <span>Taj Mahal</span>
                  </div>
                  <div class="img-container">
                      <img src="assets/std01-proper-noun-worksheet5/img/p7.png">
                      <span>Sue</span>
                  </div>
                  <div class="img-container">
                      <img src="assets/std01-proper-noun-worksheet5/img/p8.png">
                      <span>Diwali</span>
                  </div>
              </div>
          </div>
      </div>
      <div class="row btn-row">
          <div class="col-12 text-center">
              <button class="button myButton">Submit</button>
          </div>
      </div>
  </div>
</div>