<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="heading">
          <h1>
            Click on the blanks and then click on the correct Homophone Words from the boxes, to complete
            the sentences.
          </h1>
        </div>
      </div>
    </div>

    <div class="row" style="margin:0">
      <div class="col-xs-12 Main_Container">
        <div class="row Question">
          <div class="col-xs-1"><span class="number">1)</span></div>
          <div class="col-xs-8">
            <span>Winnie the Pooh is a very cute and friendly </span>
            <div class=input-answer-container><input type="text" data-text="One" />.<div class="ans-div">
                <span class="answer">bear</span></div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="Option One row option-top">
              <div class="col-xs-6">
                <div class="hint"><span>bear</span></div>
              </div>
              <div class="col-xs-6 ">
                <div class="hint"><span>bare</span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row Question">
          <div class="col-xs-1"><span class="number">2)</span></div>
          <div class="col-xs-8"><span>She is going to Delhi by</span>
            <div class=input-answer-container><input type="text" data-text="Two" />.<div class="ans-div">
                <span class="answer">plane</span></div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="Option Two row">
              <div class="col-xs-6 ">
                <div class="hint"><span>plane</span></div>
              </div>
              <div class="col-xs-6 ">
                <div class="hint"><span>plain</span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row Question">
          <div class="col-xs-1"><span class="number">3)</span></div>
          <div class="col-xs-8"> <span> There was a big</span>
            <div class=input-answer-container><input type="text" data-text="Three" />
              <div class="ans-div"><span class="answer">hole</span></div>
            </div>
            in the bedsheet.
          </div>
          <div class="col-xs-3">
            <div class="Option Three row ">
              <div class="col-xs-6">
                <div class="hint"><span>whole</span></div>
              </div>
              <div class="col-xs-6">
                <div class="hint"><span>hole</span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row Question">
          <div class="col-xs-1"><span class="number">4)</span></div>
          <div class="col-xs-8">The baby <div class=input-answer-container><input type="text" data-text="Four" />
              <div class="ans-div"><span class="answer">made</span></div>
            </div> a mess while eating its food. </div>
          <div class="col-xs-3">
            <div class="Option Four row">
              <!-- <div class="col-xs-6">
								<span class="hint">made</span>
							</div>
							<div class="col-xs-6">
								<span class="hint">maid</span>
							</div> -->
              <div class="col-xs-6">
                <div class="hint"><span>made</span></div>
              </div>
              <div class="col-xs-6">
                <div class="hint"><span>maid</span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row Question">
          <div class="col-xs-1"><span class="number">5)</span></div>
          <div class="col-xs-8">
            <div class=input-answer-container><input type="text" data-text="Five" />
              <div class="ans-div"><span class="answer">Beet</span></div>
            </div> is a red colour vegetable that grows underground.
          </div>
          <div class="col-xs-3">
            <div class="Option Five row ">
              <!-- <div class="col-xs-6"><span class="hint">Beet</span></div>
							<div class="col-xs-6"><span class="hint">Beat</span></div> -->
              <div class="col-xs-6">
                <div class="hint"><span>Beet</span></div>
              </div>
              <div class="col-xs-6">
                <div class="hint"><span>Beat</span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row Question">
          <div class="col-xs-1"><span class="number">6)</span></div>
          <div class="col-xs-8">Jack and Jill went up the hill to fetch a<div class=input-answer-container>
              <input type="text" data-text="Six" />
              <div class="ans-div"><span class="answer">pail</span></div>
            </div>of water. </div>
          <div class="col-xs-3">
            <div class="Option Six row">
              <!-- <div class="col-xs-6"><span class="hint">pale</span></div>
							<div class="col-xs-6"><span class="hint">pail</span></div> -->
              <div class="col-xs-6">
                <div class="hint"><span>pale</span></div>
              </div>
              <div class="col-xs-6">
                <div class="hint"><span>pail</span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row Question">
          <div class="col-xs-1"><span class="number">7)</span></div>
          <div class="col-xs-8">The train was an <div class=input-answer-container><input type="text"
                data-text="Seven" />
              <div class="ans-div"><span class="answer">hour</span></div>
            </div> late.</div>
          <div class="col-xs-3">
            <div class="Option Seven row">
              <!-- <div class="col-xs-6"><span class="hint">our</span></div>
							<div class="col-xs-6"><span class="hint">hour</span></div> -->
              <div class="col-xs-6">
                <div class="hint"><span>our</span></div>
              </div>
              <div class="col-xs-6">
                <div class="hint"><span>hour</span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row Question">
          <div class="col-xs-1"><span class="number">8)</span></div>
          <div class="col-xs-8">Vegetarians do not eat <div class=input-answer-container><input type="text"
                data-text="Eight" />.<div class="ans-div"><span class="answer">meat</span></div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="Option Eight row">
              <!-- <div class="col-xs-6 "><span class="hint">meet</span></div>
							<div class="col-xs-6"><span class="hint">meat</span></div> -->
              <div class="col-xs-6">
                <div class="hint"><span>meet</span></div>
              </div>
              <div class="col-xs-6">
                <div class="hint"><span>meat</span></div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="row m-0">
      <div class="btn-row w-100">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>

</div>