<div class="bg">
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <!-- <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide"> -->
        <img src="" alt="" class="Text fabulous hide">
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
      <div class="container">
          <div class="row px-2 p-2 mt-3  mb-3 ">
      <div class="heading">
        <h2 class="font-weight-bold ">
          Click on the blanks and then click on the correct Antonyms from the help box, that answers the questions.
        </h2>
      </div>
          </div>
          <div class="row">
      <div class="col-12 col-sm-8 p-0 mt-3">
                  <div class="crossword-puzzle w-100 mb-3">
                      <div class="row m-0">
                          <div class="col-12 p-0">
                              <img src="assets/std01-antonyms-worksheet4/img/question-1.png" class="img-fluid img-1">
              <span class="answer-img" data-layer="beautiful"> <img src="assets/std01-antonyms-worksheet4/img/question-1-ans.png" class="img-fluid img-1"></span>
                          </div>
                          <div class="col-12 p-0">
                                  <img src="assets/std01-antonyms-worksheet4/img/n.png" class="img-fluid img-n">
                
                          </div>
                          <div class="col-12 p-0">
                              <img src="assets/std01-antonyms-worksheet4/img/question-2.png" class="img-fluid img-2">
                <span class="answer-img second" data-layer="dirty"> <img src="assets/std01-antonyms-worksheet4/img/question-2-ans.png" class="img-fluid img-1"></span>
                          </div>
                          <div class="col-12 p-0">
                                  <img src="assets/std01-antonyms-worksheet4/img/o.png" class="img-fluid img-o">
                
                          </div>
                          <div class="col-12 p-0">
                              <img src="assets/std01-antonyms-worksheet4/img/question-3.png" class="img-fluid img-3">
                <span class="answer-img" data-layer="under"> <img src="assets/std01-antonyms-worksheet4/img/question-3-ans.png" class="img-fluid img-1"></span>

                          </div>
                          <div class="col-12 p-0">
                              <img src="assets/std01-antonyms-worksheet4/img/y.png" class="img-fluid img-y">
                          </div>
                          <div class="col-12 p-0">
                              <img src="assets/std01-antonyms-worksheet4/img/question-4.png" class="img-fluid img-4">
              <span class="answer-img" data-layer="small"> <img src="assets/std01-antonyms-worksheet4/img/question-4-ans.png" class="img-fluid img-1"></span>
                          </div>
                          <div class="col-12 p-0">
                              <img src="assets/std01-antonyms-worksheet4/img/s.png" class="img-fluid img-s">
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-4 p-0 mt-5">
                  <div class="help-box  text-center text-white font-weight-bold">
                      <div class="row m-0">
                          <div class="col-6 p-0  helpblock">
                              <div class="helpbox-ans">
                                  <span>under</span>
                              </div>
                          </div>
                          <div class="col-6 p-0 helpblock">
                              <div class="helpbox-ans">
                                  <span>small</span>
                              </div>
                          </div>
                          <div class="col-6 p-0 helpblock ">
                              <div class="helpbox-ans">
                                  <span>beautiful</span>
                              </div>
                          </div>
                          <div class="col-6 p-0 helpblock">
                              <div class="helpbox-ans">
                                  <span>dirty</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="question-container mt-sm-4 mt-lg-5">
                          <div class="row m-0 ">
                                 <span class="font-weight-bold Across">Across</span>
                          </div>
                      <div class="row m-0 ">
                          <div class="col-8 p-0">
                              <div class="question">
                                  <div class="number"><span>1)</span></div>
                                  <div><span>What is the antonym of ugly?</span></div>
                              </div>
                          </div>
                          <div class="col-4 p-0">
                                  <span class="input-span"><input type="text"></span>
                        
                              <div class="answer-div">
                                  <span>beautiful</span>
                              </div>
                          </div>
                      </div>
                      <div class="row m-0 ">
                          <div class="col-8 p-0">
                              <div class="question">
                                  <div class="number"><span>2)</span></div>
                                  <div><span>What is the antonym of clean?</span></div>
                              </div>
                          </div>
                          <div class="col-4 p-0">
                                  <span class="input-span" ><input type="text"></span>
                              <div class="answer-div">
                                  <span>dirty</span>
                              </div>
                          </div>
                      </div>
                      <!--  -->
                      <div class="row m-0 ">
                          <div class="col-8 p-0">
                              <div class="question">
                                  <div class="number"><span>3)</span></div>
                                  <div><span>What is the antonym of over? </span></div>
                              </div>
                          </div>
                          <div class="col-4 p-0">
                                  <span class="input-span" ><input type="text"></span>
                              <div class="answer-div">
                                  <span>under</span>
                              </div>
                          </div>
                      </div>
                      <div class="row m-0 ">
                          <div class="col-8 p-0">
                              <div class="question">
                                  <div class="number"><span>4)</span></div>
                                  <div><span>What is the antonym of big?</span></div>
                              </div>
                          </div>
                          <div class="col-4 p-0">
                                  <span class="input-span" ><input type="text"></span>

                              <div class="answer-div">
                                  <span>small</span>
                              </div>
                          </div>
                      </div>
                      <!--  -->
                  </div>
              </div>
    </div>
    
      </div>
  
  <div class="btn-row">
    <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
    </div>
    
  </div>
</div>


		
	
