<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text fabulous hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>

	<div class="loadingDiv">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-12 mt-2">
				<h2 class="font-weight-bold">
					Click on the words that should begin with Capital Letters. Click in the boxes and then click
					on Full Stop from the help box, to complete the punctuation of the sentences.
				</h2>
			</div>
		</div>
		<div class="helpbox_Container">
			<div class="col-12 helpbox">
				<div class="row mb-2">
					<div class="col-3 col-sm-6">
						<div class="helpbox-ans font-weight-bold"><span>.</span></div>
					</div>
					<div class="col-3 col-sm-6">
						<div class="helpbox-ans font-weight-bold"><span>!</span></div>
					</div>
					<div class="col-3 col-sm-6">
						<div class="helpbox-ans font-weight-bold"><span>?</span></div>
					</div>
					<div class="col-3 col-sm-6">
						<div class="helpbox-ans font-weight-bold"><span>,</span></div>
					</div>
				</div>
	
			</div>
		</div>

		<div class="Main_Container mt-5 mt-sm-2">

			<div class="row">

				<div class="col-12 p-0  mb-2 d-flex first">
					<div class="col-1">
						<span class="number">1)</span>
					</div>

					<div class="col-10">
						<span class="content"><span class="right">a</span> <span>rabbit</span> <span class="">likes</span> <span class="">to</span> <span class="">eat</span> <span class="">carrots</span></span>

						<span class="input-span"><input type="text" maxlength="1"></span>
						<span class="answer-span"><span class="answer">.</span></span>
					</div>
				</div>

				<div class="col-12 p-0 mb-2 d-flex second">
					<div class="col-1">
						<span class="number">2)</span>
					</div>
					<div class="col-10">
						<span class="content"><span class="right">a</span> <span class="">zebra</span> <span class="">is</span> <span class="">white</span> <span class="">with</span> <span class="">black</span> <span>stripes</span></span>

						<span class="input-span"><input type="text" maxlength="1"></span>
						<span class="answer-span"><span class="answer">.</span></span>
					</div>
				</div>

				<div class="col-12 p-0 mb-2 d-flex third">
					<div class="col-1">
						<span class="number number3">3)</span>
					</div>
					<div class="col-10">
						<span class="content"><span class="right">corn</span> <span class="">is</span> <span class="">grown</span> <span class="">in</span> <span class="">every</span> <span class="">continent</span> <span class="">except</span> <span class="right">antarctica</span></span>

						<span class="input-span"><input type="text" maxlength="1"></span>
						<span class="answer-span"><span class="answer">.</span></span>

					</div>

				</div>

				<div class="col-12 p-0 mb-2 d-flex fourth">
					<div class="col-1">
						<span class="number">4)</span>
					</div>
					<div class="col-10">
						<span class="content"><span class="right">all</span> <span class="">apes</span> <span class="">laugh</span> <span class="">when</span> <span class="">they</span> <span class="">are</span> <span class="">tickled</span></span>

						<span class="input-span"><input type="text" maxlength="1"></span>
						<span class="answer-span"><span class="answer">.</span></span>

					</div>

				</div>

				<div class="col-12 p-0 mb-2 d-flex fifth">
					<div class="col-1">
						<span class="number">5)</span>
					</div>
					<div class="col-10">
						<span class="content"><span class="right">turtles</span> <span class="">have</span> <span class="">no</span> <span class="">teeth</span></span>

						<span class="input-span"><input type="text" maxlength="1"></span>
						<span class="answer-span"><span class="answer">.</span></span>

					</div>

				</div>

				<div class="col-12 p-0 mb-2 d-flex sixth">
					<div class="col-1">
						<span class="number">6)</span>
					</div>
					<div class="col-10">
						<span class="content"><span class="right">there</span> <span class="">are</span> <span class="">more</span> <span class="">dogs</span> <span class="">than</span> <span class="">people</span> <span class="">in</span> <span class="right">paris</span></span>

						<span class="input-span"><input type="text" maxlength="1"></span>
						<span class="answer-span"><span class="answer">.</span></span>

					</div>

				</div>
				<div class="col-12 p-0 mb-2 d-flex seventh">
					<div class="col-1">
						<span class="number">7)</span>
					</div>
					<div class="col-10">
						<span class="content"><span class="right">the</span> <span class="">game</span> <span class="">of</span> <span class="">chess</span> <span class="">was</span> <span class="">invented</span> <span class="">in</span> <span class="right">india</span></span>

						<span class="input-span"><input type="text" maxlength="1"></span>
						<span class="answer-span"><span class="answer">.</span></span>

					</div>
				</div>
				<div class="col-12 p-0 mb-2 d-flex eighth">
					<div class="col-1">
						<span class="number">8)</span>
					</div>
					<div class="col-10">
						<span class="content"><span class="right">ants</span> <span class="">do</span> <span class="">not</span> <span class="">sleep</span></span>

						<span class="input-span"><input type="text" maxlength="1"></span>
						<span class="answer-span"><span class="answer">.</span></span>

					</div>

				</div>
			</div>
		</div>
    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>
	</div>

</div>