<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <!-- <img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide"> -->
        <img src="" alt="" class="Text fabulous hide">
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row heading-container">
      <div class="col-xs-12  col-md-12  p-0 px-2 mt-2 mt-lg-3 mb-2">
        <h2 class="font-weight-bold heading">
          Click in the cupcakes to colour them, if the words in them are Action Verbs.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="Question-container">
        <div class="row m-0">
          <div class="col-4 col-sm-2 p-1 first col-sm-offset-2">   
            <div class="text-container correct"><span>tickle</span></div>
          </div>
          <div class="col-4 col-sm-2 p-1"> 
            <div class="text-container correct"><span>smile</span></div>
          </div>
          <div class="col-4 col-sm-2 p-1">  
            <div class="text-container wrong-answer"><span>word</span></div>
          </div>
          <div class="col-4 col-sm-2 p-1">   
            <div class="text-container correct"><span>instruct</span></div>
          </div>
          <!-- <div class="col-12 col-sm-4 p-1 display-none">   
							
					</div> -->
          <div class="col-4 col-sm-2 p-1 fifth">   
            <div class="text-container correct"><span>whistle</span></div>
          </div>
          <div class="col-4 col-sm-2 p-1"> 
            <div class="text-container correct"><span>meet</span></div>
          </div>
          <div class="col-4 col-sm-2 p-1">  
            <div class="text-container wrong-answer"><span>honest</span></div>
          </div>
          <div class="col-4 col-sm-2 p-1">   
            <div class="text-container correct"><span>fight</span></div>
          </div>
          <!-- <div class="col-12 col-sm-4 p-1 display-none">   
							
					</div> -->
          <div class="col-4 col-sm-2 p-1 nineth">   
            <div class="text-container correct"><span>hug</span></div>
          </div>
          <div class="col-4 col-sm-2 p-1"> 
            <div class="text-container wrong-answer"><span>body</span></div>
          </div>
          <div class="col-4 col-sm-2 p-1">  
            <div class="text-container correct"><span>learn</span></div>
          </div>
          <div class="col-4 col-sm-2 p-1">   
            <div class="text-container wrong-answer"><span>wild</span></div>
          </div>
        </div>
      </div>
      <div class="btn-row">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>
</div>