<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
  </div>
	
  <div class="container">
      <div class="row">
          <div class="heading mt-3">
              <h1>Click on the correct Homophones, that identifies the given pictures.</h1>
          </div>
      </div>
      <div class="row">
          <div class="col-12 Question_Container">
              <div class="QuestionBox">
                  <div class="number">1)</div>
                  <div class="Question w-100">
                      <div class="imgBox">
                          <img src="assets/std03-homophones-worksheet1/img/urn.png" alt="">
                      </div>
                      <div class="options">
                          <span>earn</span> , <span class="right">urn</span>
                      </div>
                  </div>
              </div>
              <div class="QuestionBox">
                  <div class="number">2)</div>
                  <div class="Question w-100">
                      <div class="imgBox">
                          <img src="assets/std03-homophones-worksheet1/img/gate.png" alt="">
                      </div>
                      <div class="options">
                          <span>gait</span> , <span class="right">gate</span>
                      </div>
                  </div>
              </div>
              <div class="QuestionBox">
                  <div class="number">3)</div>
                  <div class="Question w-100">
                      <div class="imgBox">
                          <img src="assets/std03-homophones-worksheet1/img/leek.png" alt="">
                      </div>
                      <div class="options">
                          <span class="right">leek</span> , <span>leak</span>
                      </div>
                  </div>
              </div>
              <div class="QuestionBox">
                  <div class="number">4)</div>
                  <div class="Question w-100">
                      <div class="imgBox">
                          <img src="assets/std03-homophones-worksheet1/img/rose.png" alt="">
                      </div>
                      <div class="options">
                          <span>rows</span> , <span class="right">rose</span>
                      </div>
                  </div>
              </div>
              <div class="QuestionBox">
                  <div class="number">5)</div>
                  <div class="Question w-100">
                      <div class="imgBox">
                          <img src="assets/std03-homophones-worksheet1/img/oar.png" alt="">
                      </div>
                      <div class="options">
                          <span class="right">oar</span> , <span>ore</span>
                      </div>
                  </div>
              </div>
              <div class="QuestionBox">
                  <div class="number">6)</div>
                  <div class="Question w-100">
                      <div class="imgBox">
                          <img src="assets/std03-homophones-worksheet1/img/whale.png" alt="">
                      </div>
                      <div class="options">
                          <span>wail</span> , <span class="right">whale</span>
                      </div>
                  </div>
              </div>
              <div class="QuestionBox">
                  <div class="number">7)</div>
                  <div class="Question w-100">
                      <div class="imgBox">
                          <img src="assets/std03-homophones-worksheet1/img/maize.png" alt="">
                      </div>
                      <div class="options">
                          <span class="right">maize</span> , <span>maze</span>
                      </div>
                  </div>
              </div>
              <div class="QuestionBox">
                  <div class="number">8)</div>
                  <div class="Question w-100">
                      <div class="imgBox">
                          <img src="assets/std03-homophones-worksheet1/img/throne.png" alt="">
                      </div>
                      <div class="options">
                          <span class="right">throne</span> , <span>thrown</span>
                      </div>
                  </div>
              </div>
              <div class="QuestionBox">
                  <div class="number">9)</div>
                  <div class="Question w-100">
                      <div class="imgBox">
                          <img src="assets/std03-homophones-worksheet1/img/buoy.png" alt="">
                      </div>
                      <div class="options">
                          <span>boy</span> , <span class="right">buoy</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="btn-row">
          <button class="button myButton">Submit</button>
      </div>
  </div>
</div>