

 <div class="bg"  ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <img src="" alt="" class="Text fabulous hide">
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row m-0">
            <div class="col-12 p-1 pt-2 pb-2 pt-lg-3 pb-lg-3">
                <h2 class="font-weight-bold heading">
                    Click on the blanks and then click on the correct Conjunctions
                    from the help box, to complete the story.
                </h2>
            </div>
        </div>
        <div class="row mb-2">
            <div class="helpbox-container">
                <div class="helpbox-ans">
                    <span>and</span>
                </div>
                <div class="helpbox-ans">
                    <span>but</span>
                </div>
                <div class="helpbox-ans">
                    <span>after</span>
                </div>

            </div>
        </div>

        <div class="main-question-container">

            <div class="row m-0">
                <div class="para-heading">
                    <span>
                        <u>Antlers</u>
                    </span>
                </div>
                <div class="question-container">
                    <p>
                        <span>
                            A handsome stag with majestic antlers admired himself in a lake. As he looked at his
                            reflection he thought, “My antlers are beautiful!
                        </span>
                            <span>
                                <input type="text" class="uppercase">
                                <span class="correct-answer"><span>But</span></span>
                            </span>
                   
                        <span>
                            these tall and thin legs of mine are so skinny, I wish I could hide them in shame.”
                        </span>
                    </p>
                    <p>
                        <span>
                            Just then a hunter’s arrow whizzed by
                        </span>
                            <span>
                                <input type="text">
                                <span class="correct-answer"><span>and</span></span>
                            </span>
                            <span>
                                the stag ran into the woods. While he was
                                running, his beautiful antlers got caught
                            </span>
                                <span>
                                    <input type="text">
                                    <span class="correct-answer"><span>and</span></span>
                                </span>
                            
                            <span>
                                tore the branches of a low-growing tree.
                                Struggling, he finally pulled himself free. If it weren’t for the exquisite speed of his
                                legs,
                                he would surely have been captured.
                            </span>
                    </p>

                    <p>
                        <span>
                            <input type="text" class="uppercase">
                            <span class="correct-answer correct-ans-after"><span>After</span></span>
                        </span>
                        <span>
                            that, when he looked at his tall and thin legs, his pride would swell.
                            “In times of danger,” he thought, “they served me well.”
                        </span>
                    </p>
                </div>
            </div>

        </div>
        <div class="row btn-row">
            <div class="col-12 text-center">
                <button class="button myButton">Submit</button>
            </div>
        </div>
  </div>
 </div>
  

