<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="row">
      <div class="heading one mt-3">
        <h1>Let us learn about animals and their babies.</h1>
      </div>
      <div class="heading two">
        <h1>Click on the blanks and then click on the correct animal babies from the help box.</h1>
      </div>
    </div>
    <div class="row Main_Container">
      <div class="col-12 Option_Container">
        <div class="options">
          <div class="option">calf</div>
          <div class="option">duckling</div>
          <div class="option">kid</div>
          <div class="option">cub</div>
          <div class="option">puppy</div>
          <div class="option">kitten</div>
          <div class="option">lamb</div>
          <div class="option">piglet</div>
        </div>
      </div>
      <div class="col-12 Question_Container">
        <div class="Question_row">
          <div class="Question">
            <div class="number">1)</div>
            <div class="content">
              The baby of a sheep is <input type="text">
              <div class="correct_answer"><span>lamb</span></div> (mabl)
            </div>
          </div>
          <div class="Question">
            <div class="number">2)</div>
            <div class="content">
              The baby of a dog is <input type="text">
              <div class="correct_answer"><span>puppy</span></div> (upypp)
            </div>
          </div>
        </div>
        <div class="Question_row">
          <div class="Question">
            <div class="number">3)</div>
            <div class="content">
              The baby of a bear is <input type="text">
              <div class="correct_answer"><span>cub</span></div> (ubc)
            </div>
          </div>
          <div class="Question">
            <div class="number">4)</div>
            <div class="content">
              The baby of a cat is <input type="text">
              <div class="correct_answer"><span>kitten</span></div> (tiknet)
            </div>
          </div>
        </div>
        <div class="Question_row">
          <div class="Question">
            <div class="number">5)</div>
            <div class="content">
              The baby of a pig is <input type="text">
              <div class="correct_answer"><span>piglet</span></div> (eptilg)
            </div>
          </div>
          <div class="Question">
            <div class="number">6)</div>
            <div class="content">
              The baby of a cow is <input type="text">
              <div class="correct_answer"><span>calf</span></div> (fcal)
            </div>
          </div>
        </div>
        <div class="Question_row">
          <div class="Question">
            <div class="number">7)</div>
            <div class="content">
              The baby of a goat is <input type="text">
              <div class="correct_answer"><span>kid</span></div> (idk)
            </div>
          </div>
          <div class="Question">
            <div class="number">8)</div>
            <div class="content">
              The baby of a duck is <input type="text">
              <div class="correct_answer"><span>duckling</span></div> (kugldicn)
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>

  </div>

</div>