<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
			<img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 px-2 mb-1 mt-4">

                <h2 class="font-weight-bold">
                    Click on the blanks and then click on the correct Possesive Pronouns from the help box, to complete the sentences.
                </h2>
            </div>
        </div>

        <div class="col-12 helpbox-container mt-0 mt-sm-0">
            <div class="helpbox"><span class="font-weight-bold">mine</span></div>
            <div class="helpbox"><span class="font-weight-bold">yours</span></div>
            <div class="helpbox"><span class="font-weight-bold">his</span></div>
            <div class="helpbox"><span class="font-weight-bold">hers</span></div>
            <div class="helpbox"><span class="font-weight-bold">ours</span></div>
            <div class="helpbox"><span class="font-weight-bold">theirs</span></div>
        </div>
        <div class="Main_Container mb-3">
            <div class="row">
                <div class="col-12  mt-2 mt-sm-0 Question_Container order-2 order-sm-0">
                    <div class="col-12 Question_Body">

                        <div class="col-12 p-2 d-flex Question">
                            <span class="number">1)</span>
                            <div class="text-container">
                                <span>Those fancy shoes belong to Jane. They are
                                    <input type="text" name="" id="">.
                                    <span class="correct-ans"><span>hers</span></span>
                                </span>
                            </div>
                        </div>

                        <div class="col-12 p-2 d-flex Question">
                            <span class="number">2)</span>
                            <div class="text-container">
                                <span>The worksheets belong to the students. They are
                                    <input type="text" name="" id="">.
                                    <span class="correct-ans"><span>theirs</span></span>
                                </span>
                            </div>
                        </div>

                        <div class="col-12 p-2 d-flex Question">
                            <span class="number">3)</span>
                            <div class="text-container">
                                <span>This iPad belongs to dad. It is
                                    <input type="text" name="" id="">.
                                    <span class="correct-ans"><span>his</span></span>
                                </span>
                            </div>
                        </div>

                        <div class="col-12 p-2 d-flex Question">
                            <span class="number">4)</span>
                            <div class="text-container">
                                <span>This is your notebook. It is
                                    <input type="text" name="" id="">.
                                    <span class="correct-ans"><span>yours</span></span>
                                </span>
                            </div>

                        </div>

                        <div class="col-12 p-2 d-flex Question">
                            <span class="number">5)</span>
                            <div class="text-container">
                                <span>That camera belongs to me. It is
                                    <input type="text" name="" id="">.
                                    <span class="correct-ans"><span>mine</span></span>
                                </span>
                            </div>
                        </div>

                        <div class="col-12 p-2 d-flex Question">
                            <span class="number">6)</span>
                            <div class="text-container">
                                <span>Those dogs belong to me and my brother. They are
                                    <input type="text" name="" id="">.
                                    <span class="correct-ans"><span>ours</span></span>
                                </span>
                            </div>

                        </div>

                        <div class="col-12 p-2 d-flex Question">
                            <span class="number">7)</span>
                            <div class="text-container">
                                <span>That rocking chair belongs to grandpa. It is
                                    <input type="text" name="" id="">.
                                    <span class="correct-ans"><span>his</span></span>
                                </span>
                            </div>
                        </div>

                        <div class="col-12 p-2 d-flex Question">

                            <span class="number">8)</span>
                            <div class="text-container">
                                <span> That ruby-studded necklace belongs to my
                                    mother. It is
                                    <input type="text" name="" id="">.
                                    <span class="correct-ans"><span>hers</span></span>
                                </span>
                            </div>
                        </div>

                        <div class="col-12 p-2 d-flex Question">
                            <span class="number">9)</span>
                            <div class="text-container">
                                <span>This Lenovo laptop belongs to me. It is
                                    <input type="text" name="" id="">.
                                    <span class="correct-ans"><span>mine</span></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 p-2 d-flex Question">
                            <span class="number">10)</span>
                            <div class="text-container">
                                <span>That house belongs to my cousins. It is
                                    <input type="text" name="" id="">.
                                    <span class="correct-ans"><span>theirs</span></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row btn-row">
            <div class="col-12 text-center">
                <button class="button myButton">Submit</button>
            </div>
        </div>
    </div>
</div>