<div class="bg"  ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    <div class="loadingDiv">
    </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 mb-3">
				<h2 class="font-weight-bold heading">
					Click on the blanks and then click on the underlined words given in the sentences and classify them correctly as Singular and Plural Nouns. 
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<div class="left-side">
					<div class="question-container">
						<!-- 1 -->
						<div class="question">
							<div class="number"><span>1)</span></div>
							<div class="text-container"><span>The <u>birds</u> flew back to their nests in the evening.</span></div>
						</div>
						<!-- 2 -->
						<div class="question">
							<div class="number"><span>2)</span></div>
							<div class="text-container"><span> Alan could not find his <u>shirt</u>.</span></div>
						</div>
						<!-- 3 -->
						<div class="question">
							<div class="number"><span>3)</span></div>
							<div class="text-container"><span>There are many <u>leaves</u> falling from this <u>tree</u>.</span></div>
						</div>
						<!-- 4 -->
						<div class="question">
							<div class="number"><span>4)</span></div>
							<div class="text-container"><span>Look at the <u>buffalo</u> lying in the <u>pond</u>.</span></div>
						</div>
						<!-- 5 -->
						<div class="question">
							<div class="number"><span>5)</span></div>
							<div class="text-container"><span> My <u>cousin</u> draws <u>pictures</u> of colourful <u>flowers</u>.</span></div>
						</div>
						<!-- 6 -->
						<div class="question">
							<div class="number"><span>6)</span></div>
							<div class="text-container"><span>The <u>story</u> was full of <u>fairies</u> and <u>elves</u>.</span></div>
						</div>
						<!-- end -->
					</div>
				</div>
				<div class="right-side">
					<div class="answer-container">
						<div class="top-heading">
							<div class="singular-heading">
								<img src="assets/std01-singular-plural-nouns-worksheet1/img/singular.png" alt="" class="img-fluid">
							</div>
							<div class="singular-heading">
								<img src="assets/std01-singular-plural-nouns-worksheet1/img/plural.png" alt="" class="img-fluid">
							</div>
						</div>
						<div class="top-input-container">
							<div class="singular">
								<!-- 1 -->
								<div class="input-container">
									<input type="text">
									<div class="correct-answer">
										<span>cousin</span>
									</div>
								</div>
								<!-- 2 -->
								<div class="input-container">
									<input type="text">
									<div class="correct-answer">
										<span>shirt</span>
									</div>
								</div>
								<!-- 3 -->
								<div class="input-container">
									<input type="text">
									<div class="correct-answer">
										<span>tree</span>
									</div>
								</div>
								<!-- 4 -->
								<div class="input-container">
									<input type="text">
									<div class="correct-answer">
										<span>buffalo</span>
									</div>
								</div>
								<!-- 5 -->
								<div class="input-container">
									<input type="text">
									<div class="correct-answer">
										<span>pond</span>
									</div>
								</div>
								<!-- 6 -->
								<div class="input-container">
									<input type="text">
									<div class="correct-answer">
										<span>story</span>
									</div>
								</div>
								<!-- end -->
							</div>
							<div class="plural">
								<!-- 1 -->
								<div class="input-container">
									<input type="text">
									<div class="correct-answer">
										<span>birds</span>
									</div>
								</div>
								<!-- 2 -->
								<div class="input-container">
									<input type="text">
									<div class="correct-answer">
										<span>fairies</span>
									</div>
								</div>
								<!-- 3 -->
								<div class="input-container">
									<input type="text">
									<div class="correct-answer">
										<span>leaves</span>
									</div>
								</div>
								<!-- 4 -->
								<div class="input-container">
									<input type="text">
									<div class="correct-answer">
										<span>pictures</span>
									</div>
								</div>
								<!-- 5 -->
								<div class="input-container">
									<input type="text">
									<div class="correct-answer">
										<span>flowers</span>
									</div>
								</div>
								<!-- 6 -->
								<div class="input-container">
									<input type="text">
									<div class="correct-answer">
										<span>elves</span>
									</div>
								</div>
								<!-- end -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>
    

