<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row m-0">
            <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
                <h2 class="font-weight-bold heading">
                    Click on the blanks and then click on the correct Object Personal
                    Pronouns from the help box, that will be used for the underlined
                    words in the sentences.
                </h2>
            </div>
        </div>

        <div class="row mb-2">
            <div class="helpbox-container">
                <div class="helpbox-ans">
                    <span>him</span>
                </div>
                <div class="helpbox-ans">
                    <span>her</span>
                </div>
                <div class="helpbox-ans">
                    <span>it</span>
                </div>
                <div class="helpbox-ans">
                    <span>me</span>
                </div>
                <div class="helpbox-ans">
                    <span>you</span>
                </div>
                <div class="helpbox-ans">
                    <span>us</span>
                </div>
                <div class="helpbox-ans">
                    <span>them</span>
                </div>
            </div>
        </div>


        <div class="main-question-container">

            <!-- 1 -->
            <div class="question">
                <div class="number">
                    <span>1)</span>
                </div>
                <div class="text-container">
                    <span>The lightning almost hit <u>the tree</u>.</span>
                    <div class="input-container">
                        <input type="text">
                        <div class="correct-answer">
                            <span>it</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2 -->
            <div class="question">
                <div class="number">
                    <span>2)</span>
                </div>
                <div class="text-container">
                    <span>Mom told <u>the maid</u> to clean the attic.</span>
                    <div class="input-container">
                        <input type="text">
                        <div class="correct-answer">
                            <span>her</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3 -->
            <div class="question">
                <div class="number">
                    <span>3)</span>
                </div>
                <div class="text-container">
                    <span>The teacher requested <u>Alex and Jason</u> to help her with the books.</span>
                    <div class="input-container">
                        <input type="text">
                        <div class="correct-answer">
                            <span>them</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 4 -->
            <div class="question">
                <div class="number">
                    <span>4)</span>
                </div>
                <div class="text-container">
                    <span>Grandma bought toys for <u>my brother and me</u>.</span>
                    <div class="input-container">
                        <input type="text">
                        <div class="correct-answer">
                            <span>us</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 5 -->
            <div class="question">
                <div class="number">
                    <span>5)</span>
                </div>
                <div class="text-container">
                    <span>Dad said, “Peter, I told <u>Peter</u> to clean up your room.”</span>
                    <div class="input-container">
                        <input type="text">
                        <div class="correct-answer">
                            <span>you</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 6 -->
            <div class="question">
                <div class="number">
                    <span>6)</span>
                </div>
                <div class="text-container">
                    <span>Do you know <u>that boy</u>?</span>
                    <div class="input-container">
                        <input type="text">
                        <div class="correct-answer">
                            <span>him</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 7 -->
            <div class="question">
                <div class="number">
                    <span>7)</span>
                </div>
                <div class="text-container">
                    <span>My friend got this present for <u>I</u>.</span>
                    <div class="input-container">
                        <input type="text">
                        <div class="correct-answer">
                            <span>me</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 8 -->
            <div class="question">
                <div class="number">
                    <span>8)</span>
                </div>
                <div class="text-container">
                    <span>The coach trained and encouraged <u>all the players</u>.</span>
                    <div class="input-container">
                        <input type="text">
                        <div class="correct-answer">
                            <span>them</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 9 -->
            <div class="question">
                <div class="number">
                    <span>9)</span>
                </div>
                <div class="text-container">
                    <span>Susan told <u>Lisa</u> to complete the essay today.</span>
                    <div class="input-container">
                        <input type="text">
                        <div class="correct-answer">
                            <span>her</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 10 -->
            <div class="question">
                <div class="number">
                    <span>10)</span>
                </div>
                <div class="text-container">
                    <span>The doctor examined <u>Ben</u> with stethoscope.</span>
                    <div class="input-container">
                        <input type="text">
                        <div class="correct-answer">
                            <span>him</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-row">
        <div class="col-12 text-center">
            <button class="button myButton">Submit</button>
        </div>
    </div>
</div>