<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
  </div>
	
	<div class="container">
		<div class="row heading-container">
			<div class="col-xs-12 px-2 p-2 mt-3 ">
				<h2 class="font-weight-bold heading">
					Click on the blanks and then click on the underlined words given in the sentences, to classify them correctly as Helping and Action Verbs.
				</h2>
			</div>
		</div>
		<div class="row">
		 <div class="Question-container ">
			 <!-- heading -->
			<div class="row m-0 mb-3 hide-portrait">
				<div class="col-12 col-sm-6 p-0">

				</div>
				<div class="col-12 col-sm-6 p-0">
					<div class="row m-0">
						<div class="col-2 p-0"></div>
						<div class="col-4 p-0 text-center">
							<div class="question-heading helping-verb-heading">
								Helping Verbs
							</div>
						</div>
						<div class="col-4 p-0 text-center">
							<div class="question-heading">
								Action Verbs
							</div>
						</div>
						<div class="col-2 p-0"></div>
					</div>
				</div>
			</div>
			<!-- question -->
			<div class="row m-0">
					<div class="col-11 col-sm-6 p-0 ml-3 ml-sm-0 Questions">
							<!-- 1 -->
							<div class="row-m-0">
								<div class="question">
									<div class="number">
										1)
									</div>
									<div class="text-container">
										<span >
											
												The birds <u><span>are</span></u> <u><span>flying</span></u> high in the sky.
										</span>
									</div>
								</div>
							</div>
							<!-- 2 -->
							<div class="row-m-0">
								<div class="question">
									<div class="number">
										2)
									</div>
									<div class="text-container">
										<span >
												It <u><span>was</span></u> <u><span>raining</span></u> heavily last night.
										</span>
									</div>
								</div>
							</div>
							<!-- 3 -->
							<div class="row-m-0">
								<div class="question">
									<div class="number">
										3)
									</div>
									<div class="text-container">
										<span >
												Sharon <u><span>did</span></u> not <u><span>wake</span></u> up on time today.
										</span>
									</div>
								</div>
							</div>
							<!-- 4 -->
							<div class="row-m-0">
								<div class="question">
									<div class="number">
										4)
									</div>
									<div class="text-container">
										<span >
												The carpenter <u><span>is</span></u> <u><span>fixing</span></u> the bed.
										</span>
									</div>
								</div>
							</div>
							<!-- 5-8 -->
							<!-- 1 -->
							<div class="row-m-0">
								<div class="question">
									<div class="number">
										5)
									</div>
									<div class="text-container">
										<span >
												The boy <u><span>had</span></u> <u><span>spoken</span></u> the truth.
										</span>
									</div>
								</div>
							</div>
							<!-- 2 -->
							<div class="row-m-0">
								<div class="question">
									<div class="number">
										6)
									</div>
									<div class="text-container">
										<span >
												Mr.  Wood <u><span>will</span></u> <u><span>travel</span></u> to Paris tomorrow.
										</span>
									</div>
								</div>
							</div>
							<!-- 3 -->
							<div class="row-m-0">
								<div class="question">
									<div class="number">
										7)
									</div>
									<div class="text-container">
										<span >
												The baby <u><span>can</span></u> <u><span>talk</span></u> in English.
										</span>
									</div>
								</div>
							</div>
							<!-- 4 -->
							<div class="row-m-0">
								<div class="question">
									<div class="number">
										8)
									</div>
									<div class="text-container">
										<span >
												The players <u><span>were</span></u> <u><span>standing</span></u> in a line.
										</span>
									</div>
								</div>
							</div>
							<!-- end -->
					</div>
					
					<!-- write answer here start -->
					<div class="col-12 col-sm-6 p-0 main-answer-container ">
						<!-- hide row in landscape -->
					
						<div class="row m-0 mb-1 hide-landscape mt-3">
							<div class="col-2 p-0"></div>
							<div class="col-4 p-0 text-center no-background">
								<div class="question-heading">
									Helping Verbs
								</div>
							</div>
							<div class="col-4 p-0 text-center no-background">
								<div class="question-heading">
									Action Verbs
								</div>
							</div>
							<div class="col-2 p-0"></div>
						</div>
						
					<!-- end hide -->
						<div class="row m-0">
							<div class="col-4 p-0 ">
								<div class="question helping-verb">
									<div class="number">
										1)
									</div>
									<div class="ans-container">
										<span class="input-span">
												<input type="text">
												<div class="ans-div-left ans">
													<span>are</span>
												</div>
										</span>
									</div>
								</div>
							</div>
							<div class="col-4 p-0 ">
								<div class="question action-verb">
									<div class="number">
										1)
									</div>
									<div class="ans-container">
										<span class="input-span">
												<input type="text">
												<div class="ans-div-right ans">
													<span>flying</span>
												</div>
										</span>
									</div>
									
								</div>
							</div>
						</div>
						<div class="row m-0">
							<div class="col-4 p-0 ">
								<div class="question helping-verb">
									<div class="number">
										2)
									</div>
									<div class="ans-container">
										<span class="input-span">
												<input type="text">
												<div class="ans-div-left ans">
													<span>was</span>
												</div>
										</span>
									</div>
								</div>
							</div>
							<div class="col-4 p-0 ">
								<div class="question action-verb">
									<div class="number">
										2)
									</div>
									<div class="ans-container">
										<span class="input-span">
												<input type="text">
												<div class="ans-div-right ans">
													<span>raining</span>
												</div>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row m-0">
							<div class="col-4 p-0 ">
								<div class="question helping-verb">
									<div class="number">
										3)
									</div>
									<div class="ans-container">
										<span class="input-span">
												<input type="text">
												<div class="ans-div-left ans">
													<span>did</span>
												</div>
										</span>
									</div>
								</div>
							</div>
							<div class="col-4 p-0 ">
								<div class="question action-verb">
									<div class="number">
										3)
									</div>
									<div class="ans-container">
										<span class="input-span">
												<input type="text">
												<div class="ans-div-right ans">
													<span>wake</span>
												</div>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row m-0">
							<div class="col-4 p-0 ">
								<div class="question helping-verb">
									<div class="number">
										4)
									</div>
									<div class="ans-container">
										<span class="input-span">
												<input type="text">
												<div class="ans-div-left ans">
													<span>is</span>
												</div>
										</span>
									</div>
								</div>
							</div>
							<div class="col-4 p-0 ">
								<div class="question action-verb">
									<div class="number">
										4)
									</div>
									<div class="ans-container">
										<span class="input-span">
												<input type="text">
												<div class="ans-div-right ans">
													<span>fixing</span>
												</div>
										</span>
									</div>
								</div>
							</div>
						</div>
						<!-- 5-8 -->
						<div class="row m-0">
							<div class="col-4 p-0 ">
								<div class="question helping-verb">
									<div class="number">
										5)
									</div>
									<div class="ans-container">
										<span class="input-span">
												<input type="text">
												<div class="ans-div-left ans">
													<span>had</span>
												</div>
										</span>
									</div>
								</div>
							</div>
							<div class="col-4 p-0 ">
								<div class="question action-verb">
									<div class="number">
										5)
									</div>
									<div class="ans-container">
										<span class="input-span">
												<input type="text">
												<div class="ans-div-right ans">
													<span>spoken</span>
												</div>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row m-0">
							<div class="col-4 p-0 ">
								<div class="question helping-verb">
									<div class="number">
										6)
									</div>
									<div class="ans-container">
										<span class="input-span">
												<input type="text">
												<div class="ans-div-left ans">
													<span>will</span>
												</div>
										</span>
									</div>
								</div>
							</div>
							<div class="col-4 p-0 ">
								<div class="question action-verb">
									<div class="number">
										6)
									</div>
									<div class="ans-container">
										<span class="input-span">
												<input type="text">
												<div class="ans-div-right ans">
													<span>travel</span>
												</div>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row m-0">
							<div class="col-4 p-0 ">
								<div class="question helping-verb">
									<div class="number">
										7)
									</div>
									<div class="ans-container">
										<span class="input-span">
												<input type="text">
												<div class="ans-div-left ans">
													<span>can</span>
												</div>
										</span>
									</div>
								</div>
							</div>
							<div class="col-4 p-0 ">
								<div class="question action-verb">
									<div class="number">
										7)
									</div>
									<div class="ans-container">
										<span class="input-span">
												<input type="text">
												<div class="ans-div-right ans">
													<span>talk</span>
												</div>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row m-0 eight_row">
							<div class="col-4 p-0 ">
								<div class="question helping-verb">
									<div class="number">
										8)
									</div>
									<div class="ans-container">
										<span class="input-span">
												<input type="text">
												<div class="ans-div-left ans">
													<span>were</span>
												</div>
										</span>
									</div>
								</div>
							</div>
							<div class="col-4 p-0 ">
								<div class="question action-verb">
									<div class="number">
										8)
									</div>
									<div class="ans-container">
										<span class="input-span">
												<input type="text">
												<div class="ans-div-right ans">
													<span>standing</span>
												</div>
										</span>
									</div>
								</div>
							</div>
						</div>
						<!-- end -->
					</div>
					<!-- write answer here end -->
				</div>
				
			<!--  -->
			
			</div>			
			<div class="btn-row col-12">
				<button class="button myButton">Submit</button>
			</div>
		</div>	
	</div>
</div>