<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text fabulous hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>

	<div class="loadingDiv">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 px-2 p-2 ml-3 mr-3 ml-sm-4 mr-sm-4 mt-2">
				<h2 class="font-weight-bold heading">
					Click in the boxes and then click on Exclamation Mark from the help box, to complete the punctuation of the sentences.
				</h2>
			</div>
		</div>
		<!-- <div class="row">
			<div class="help-box">
						<span><span>?</span>
						<span>.</span>
						<span>!</span></span>
			</div>
		</div> -->
		<div class="row m-0 ">
			<div class="helpbox text-center mb-2">
				<div class="row m-0">
					<div class="col-3 p-0">
						<div class="helpans">
							<span>?</span>
						</div>
					</div>
					<div class="col-3 p-0">
						<div class="helpans">
							<span>!</span>
						</div>
					</div>
					<div class="col-3 p-0">
						<div class="helpans">
							<span>.</span>
						</div>
					</div>
					<div class="col-3 p-0">
						<div class="helpans">
							<span>,</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="question-container">
				<div class="row m-0">
					<div class="col-12 col-sm-6 p-0">
						<div class="row m-0 black-line">
							<div class="question w-100">
								<div><span class="pl-3 pl-sm-2 pl-xl-5 pr-2">1)</span></div>
								<div><span>What a huge, black spider <span class="input-span"><input type="text"
												maxlength="1"></span>
										<span class="answer">!</span>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 black-line p-0">
						<div class="row m-0">
							<div class="question w-100">
								<div><span class="pl-3 pl-sm-2 pl-xl-5 pr-2">2)</span></div>
								<div><span>I love skiing
										<span class="input-span"><input type="text" maxlength="1"></span>
										<span class="answer">!</span>

									</span></div>
							</div>
						</div>
					</div>
				</div>
				<!-- 2 -->
				<div class="row m-0">
					<div class="col-12 col-sm-6 p-0 border-right-black">
						<div class="row m-0 black-line">
							<div class="question w-100">
								<div><span class="pl-3 pl-sm-2 pl-xl-5 pr-2">3)</span></div>
								<div><span>Wow
										<span class="input-span"><input type="text" maxlength="1"></span>
										<span class="answer answer-first">!</span>
										That’s a lovely dress <span class="input-span"><input type="text"
												maxlength="1"></span>
										<span class="answer">!</span>
									</span></div>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6  black-line p-0">
						<div class="row m-0">
							<div class="question w-100">
								<div><span class="pl-3 pl-sm-2 pl-xl-5 pr-2">4)</span></div>
								<div><span>How lovely the stars twinkle
										<span class="input-span"><input type="text" maxlength="1"></span>
										<span class="answer">!</span>
									</span></div>
							</div>
						</div>
					</div>
				</div>
				<!-- 3 -->
				<div class="row m-0">
					<div class="col-12 col-sm-6 p-0 border-right-black">
						<div class="row m-0 black-line">
							<div class="question w-100">
								<div><span class="pl-3 pl-sm-2 pl-xl-5 pr-2">5)</span></div>
								<div><span>Yippee
										<span class="input-span"><input type="text" maxlength="1"></span>
										<span class="answer answer-first">!</span>
										My exams are over
										<span class="input-span"><input type="text" maxlength="1"></span>
										<span class="answer">!</span>
									</span></div>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6  black-line p-0">
						<div class="row m-0">
							<div class="question w-100">
								<div><span class="pl-3 pl-sm-2 pl-xl-5 pr-2">6)</span></div>
								<div>
									<span>What an interesting book that was</span>
									<span class="input-span"><input type="text" maxlength="1"></span>
									<span class="answer">!</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 4 -->
				<div class="row m-0">
					<div class="col-12 col-sm-6 p-0 border-right-black">
						<div class="row m-0 black-line">
							<div class="question w-100">
								<div><span class="pl-3 pl-sm-2 pl-xl-5 pr-2">7)</span></div>
								<div><span>Ouch
										<span class="input-span"><input type="text" maxlength="1"></span>
										<span class="answer answer-first">!</span>
										The thorn pricked me
										<span class="input-span"><input type="text" maxlength="1"></span>
										<span class="answer">!</span>
									</span></div>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6  black-line p-0">
						<div class="row m-0">
							<div class="question w-100">
								<div><span class="pl-3 pl-sm-2 pl-xl-5 pr-2">8)</span></div>
								<div><span>
										Yay
										<span class="input-span"><input type="text" maxlength="1"></span>
										<span class="answer answer-first">!</span>
										The team scored a goal
										<span class="input-span"><input type="text" maxlength="1"></span>
										<span class="answer">!</span>

									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 5 -->
				<div class="row m-0">
					<div class="col-12 col-sm-6 p-0 border-right-black">
						<div class="row m-0 black-line">
							<div class="question w-100">
								<div><span class="pl-3 pl-sm-2 pl-xl-5 pr-2">9)</span></div>
								<div><span>
										Oops
										<span class="input-span"><input type="text" maxlength="1"></span>
										<span class="answer answer-first">!</span>
										I spilt the water
										<span class="input-span"><input type="text" maxlength="1"></span>
										<span class="answer">!</span>
									</span></div>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6  black-line p-0">
						<div class="row m-0">
							<div class="question w-100">
								<div><span class="pl-3 pl-sm-2 pl-xl-5 pr-2">10)</span></div>
								<div>
									<span>
										Alas
										<span class="input-span"><input type="text" maxlength="1"></span>
										<span class="answer answer-first">!</span>
										The man lost all his wealth
										<span class="input-span"><input type="text" maxlength="1"></span>
										<span class="answer shift-top">!</span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 6 -->
				<div class="row m-0">
					<div class="col-12 col-sm-6 p-0 border-right-black helpbox-conainer">
						<div class="row m-0 ">

						</div>
					</div>
					<div class="col-12 col-sm-6   p-0">
						<div class="row m-0 spider_row">
							<img src="assets/std02-exclamation-worksheet1/img/overlay-landscape.png" class="img-fluid img-por spider">
							<img src="assets/std02-exclamation-worksheet1/img/overlay.png" class="img-fluid img-por spider hide-landscape">
							<img src="assets/std02-exclamation-worksheet1/img/middle.png" class="img-fluid img-center">
						</div>
					</div>
				</div>
				<!-- 7 -->
			</div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
	</div>

</div>