<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 pt-3 mb-3">
        <div class="heading">
          <h2>Click on the blanks and then click on the correct Nouns from Column B, that can be used for the Adjectives
            given in Column A.</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="main-question-answer-container">
        <div class="main-question-answer heading-main-question-answer">
          <div class="columnA">
            <div class="cloud-container">
              <span>Column A</span>
            </div>
          </div>
          <div class="columnB">
            <div class="cloud-container">
              <span>Column B</span>
            </div>
          </div>
          <div class="main-input-answer">

          </div>
        </div>
        <!-- 1 -->
        <div class="main-question-answer">
          <div class="columnA">
            <div class="question">
              <div class="number">
                <span>1)</span>
              </div>
              <div class="text-container">
                brave
              </div>
            </div>
          </div>
          <div class="columnB">
            <div class="question">
              <div class="number">
                <span>A)</span>
              </div>
              <div class="text-container">
                yacht
              </div>
            </div>
          </div>
          <div class="main-input-answer">
            <div class="question_answer">
              <div class="number">
                <span>1)</span>
              </div>
              <div class="text-container">
                brave
              </div>
              <div class="input_div">
                <div class="input-container">
                  <input type="text">
                  <div class="correct-answer">
                    <span>captain</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="main-question-answer">
          <div class="columnA">
            <div class="question">
              <div class="number">
                <span>2)</span>
              </div>
              <div class="text-container">
                cozy
              </div>
            </div>
          </div>
          <div class="columnB">
            <div class="question">
              <div class="number">
                <span>B)</span>
              </div>
              <div class="text-container">
                menu
              </div>
            </div>
          </div>
          <div class="main-input-answer">
            <div class="question_answer">
              <div class="number">
                <span>2)</span>
              </div>
              <div class="text-container">
                cozy
              </div>
              <div class="input_div">
                <div class="input-container">
                  <input type="text">
                  <div class="correct-answer">
                    <span>blanket</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="main-question-answer">
          <div class="columnA">
            <div class="question">
              <div class="number">
                <span>3)</span>
              </div>
              <div class="text-container">
                massive
              </div>
            </div>
          </div>
          <div class="columnB">
            <div class="question">
              <div class="number">
                <span>C)</span>
              </div>
              <div class="text-container">
                blanket
              </div>
            </div>
          </div>
          <div class="main-input-answer">
            <div class="question_answer">
              <div class="number">
                <span>3)</span>
              </div>
              <div class="text-container">
                massive
              </div>
              <div class="input_div">
                <div class="input-container">
                  <input type="text">
                  <div class="correct-answer">
                    <span>factory</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="main-question-answer">
          <div class="columnA">
            <div class="question">
              <div class="number">
                <span>4)</span>
              </div>
              <div class="text-container">
                long
              </div>
            </div>
          </div>
          <div class="columnB">
            <div class="question">
              <div class="number">
                <span>D)</span>
              </div>
              <div class="text-container">
                perfume
              </div>
            </div>
          </div>
          <div class="main-input-answer">
            <div class="question_answer">
              <div class="number">
                <span>4)</span>
              </div>
              <div class="text-container">
                long
              </div>
              <div class="input_div">
                <div class="input-container">
                  <input type="text">
                  <div class="correct-answer">
                    <span>menu</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 5-->
        <div class="main-question-answer">
          <div class="columnA">
            <div class="question">
              <div class="number">
                <span>5)</span>
              </div>
              <div class="text-container">
                expensive
              </div>
            </div>
          </div>
          <div class="columnB">
            <div class="question">
              <div class="number">
                <span>E)</span>
              </div>
              <div class="text-container">
                captain
              </div>
            </div>
          </div>
          <div class="main-input-answer">
            <div class="question_answer">
              <div class="number">
                <span>5)</span>
              </div>
              <div class="text-container">
                expensive
              </div>
              <div class="input_div">
                <div class="input-container">
                  <input type="text">
                  <div class="correct-answer">
                    <span>perfume</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 6 -->
        <div class="main-question-answer">
          <div class="columnA">
            <div class="question">
              <div class="number">
                <span>6)</span>
              </div>
              <div class="text-container">
                magnificent
              </div>
            </div>
          </div>
          <div class="columnB">
            <div class="question">
              <div class="number">
                <span>F)</span>
              </div>
              <div class="text-container">
                napkin
              </div>
            </div>
          </div>
          <div class="main-input-answer">
            <div class="question_answer">
              <div class="number">
                <span>6)</span>
              </div>
              <div class="text-container">
                magnificent
              </div>
              <div class="input_div">
                <div class="input-container">
                  <input type="text">
                  <div class="correct-answer">
                    <span>yacht</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 7 -->
        <div class="main-question-answer">
          <div class="columnA">
            <div class="question">
              <div class="number">
                <span>7)</span>
              </div>
              <div class="text-container">
                colourful
              </div>
            </div>
          </div>
          <div class="columnB">
            <div class="question">
              <div class="number">
                <span>G)</span>
              </div>
              <div class="text-container">
                cushion
              </div>
            </div>
          </div>
          <div class="main-input-answer">
            <div class="question_answer">
              <div class="number">
                <span>7)</span>
              </div>
              <div class="text-container">
                colourful
              </div>
              <div class="input_div">
                <div class="input-container">
                  <input type="text">
                  <div class="correct-answer">
                    <span>napkin</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 8 -->
        <div class="main-question-answer">
          <div class="columnA">
            <div class="question">
              <div class="number">
                <span>8)</span>
              </div>
              <div class="text-container">
                comfortable
              </div>
            </div>
          </div>
          <div class="columnB">
            <div class="question">
              <div class="number">
                <span>H)</span>
              </div>
              <div class="text-container">
                factory
              </div>
            </div>
          </div>
          <div class="main-input-answer">
            <div class="question_answer">
              <div class="number">
                <span>8)</span>
              </div>
              <div class="text-container">
                comfortable
              </div>
              <div class="input_div">
                <div class="input-container">
                  <input type="text">
                  <div class="correct-answer">
                    <span>cushion</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end -->
      </div>
    </div>
    <div class="row btn-row">
      <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>
</div>