<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
		<div class="heading">
			<h1>Click on the blanks given in the cookies and then click on the correct Rhyming Words from the help box, of the given words.</h1>
		</div>
        <div class="row Main_Container">
            <div class="col-12 Option_Container">
                <div class="options">
                    <div class="option">blank</div>
                    <div class="option">ring</div>
                    <div class="option">luck</div>
                    <div class="option">truck</div>
                    <div class="option">feed</div>
                    <div class="option">core</div>
                    <div class="option">down</div>
                    <div class="option">more</div>
                    <div class="option">sing</div>
                    <div class="option">need</div>
                    <div class="option">brown</div>
                    <div class="option">tank</div>
                </div>
            </div>
            <div class="col-12 Question_Container">
                <!-- 1 -->
               <div class="Question_Row">
                   <div class="Question_Block">
                       <div class="Question">
                            <span class="number">1)</span>
                            <div class="imgBlock">
                                <img src="assets/std02-rhyming-words-worksheet8/img/seed.png" alt="">
                            </div>
                            <div class="content">seed</div>
                       </div>
                       <div class="Answer_div">
                           <div class="Answer_Block">
                                <img src="assets/std02-rhyming-words-worksheet8/img/cookie.png" alt="">
                                <div class="input_div">
                                    <input type="text"><div class="correct_answer"><span>feed</span></div>
                                </div>
                           </div>
                       </div>
                       <div class="Answer_div">
                           <div class="Answer_Block">
                                <img src="assets/std02-rhyming-words-worksheet8/img/cookie.png" alt="">
                                <div class="input_div">
                                    <input type="text"><div class="correct_answer"><span>need</span></div>
                                </div>
                           </div>
                       </div>
                   </div>
                   <div class="Question_Block">
                       <div class="Question">
                            <span class="number">2)</span>
                            <div class="imgBlock">
                                <img src="assets/std02-rhyming-words-worksheet8/img/shore.png" alt="">
                            </div>
                            <div class="content">shore</div>
                       </div>
                       <div class="Answer_div">
                           <div class="Answer_Block">
                                <img src="assets/std02-rhyming-words-worksheet8/img/cookie.png" alt="">
                                <div class="input_div">
                                    <input type="text"><div class="correct_answer"><span>core</span></div>
                                </div>
                           </div>
                       </div>
                       <div class="Answer_div">
                           <div class="Answer_Block">
                                <img src="assets/std02-rhyming-words-worksheet8/img/cookie.png" alt="">
                                <div class="input_div">
                                    <input type="text"><div class="correct_answer"><span>more</span></div>
                                </div>
                           </div>
                       </div>
                   </div>
               </div>
               <!-- 2 -->
              <div class="Question_Row">
                  <div class="Question_Block">
                      <div class="Question">
                           <span class="number">3)</span>
                           <div class="imgBlock">
                               <img src="assets/std02-rhyming-words-worksheet8/img/king.png" alt="">
                           </div>
                           <div class="content">king</div>
                      </div>
                      <div class="Answer_div">
                          <div class="Answer_Block">
                               <img src="assets/std02-rhyming-words-worksheet8/img/cookie.png" alt="">
                               <div class="input_div">
                                   <input type="text"><div class="correct_answer"><span>ring</span></div>
                               </div>
                          </div>
                      </div>
                      <div class="Answer_div">
                          <div class="Answer_Block">
                               <img src="assets/std02-rhyming-words-worksheet8/img/cookie.png" alt="">
                               <div class="input_div">
                                   <input type="text"><div class="correct_answer"><span>sing</span></div>
                               </div>
                          </div>
                      </div>
                  </div>
                  <div class="Question_Block">
                      <div class="Question">
                           <span class="number">4)</span>
                           <div class="imgBlock">
                               <img src="assets/std02-rhyming-words-worksheet8/img/duck.png" alt="">
                           </div>
                           <div class="content">duck</div>
                      </div>
                      <div class="Answer_div">
                          <div class="Answer_Block">
                               <img src="assets/std02-rhyming-words-worksheet8/img/cookie.png" alt="">
                               <div class="input_div">
                                   <input type="text"><div class="correct_answer"><span>luck</span></div>
                               </div>
                          </div>
                      </div>
                      <div class="Answer_div">
                          <div class="Answer_Block">
                               <img src="assets/std02-rhyming-words-worksheet8/img/cookie.png" alt="">
                               <div class="input_div">
                                   <input type="text"><div class="correct_answer"><span>truck</span></div>
                               </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- 3 -->
             <div class="Question_Row">
                 <div class="Question_Block">
                     <div class="Question">
                          <span class="number">5)</span>
                          <div class="imgBlock">
                              <img src="assets/std02-rhyming-words-worksheet8/img/bank.png" alt="">
                          </div>
                          <div class="content">bank</div>
                     </div>
                     <div class="Answer_div">
                         <div class="Answer_Block">
                              <img src="assets/std02-rhyming-words-worksheet8/img/cookie.png" alt="">
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>tank</span></div>
                              </div>
                         </div>
                     </div>
                     <div class="Answer_div">
                         <div class="Answer_Block">
                              <img src="assets/std02-rhyming-words-worksheet8/img/cookie.png" alt="">
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>blank</span></div>
                              </div>
                         </div>
                     </div>
                 </div>
                 <div class="Question_Block">
                     <div class="Question">
                          <span class="number">6)</span>
                          <div class="imgBlock">
                              <img src="assets/std02-rhyming-words-worksheet8/img/crown.png" alt="">
                          </div>
                          <div class="content">crown</div>
                     </div>
                     <div class="Answer_div">
                         <div class="Answer_Block">
                              <img src="assets/std02-rhyming-words-worksheet8/img/cookie.png" alt="">
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>brown</span></div>
                              </div>
                         </div>
                     </div>
                     <div class="Answer_div">
                         <div class="Answer_Block">
                              <img src="assets/std02-rhyming-words-worksheet8/img/cookie.png" alt="">
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>down</span></div>
                              </div>
                         </div>
                     </div>
                 </div>
             </div>
            </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
  </div>
</div>