<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-2  mt-lg-2 mb-2 mb-lg-3">
				<h2 class="font-weight-bold heading">
					Click in the boxes and then click on the correct Punctuation Marks from the help box, to complete the sentences.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="helpbox-container">
				<div class="helpbox">
					<span>!</span>
					<img src="assets/std03-mixed-punctuation-worksheet2/img/exclaimation_mark.png" alt="" class="img-fluid">
				</div>
				<div class="helpbox">
					<span>?</span>
					<img src="assets/std03-mixed-punctuation-worksheet2/img/question_mark.png" alt="" class="img-fluid">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<!-- 1 -->
				<div class="question">
					<div class="number"><span>1)</span></div>
					<div class="text-container">
						<span>Eeks</span>        
						<div class="input-container">
							<input type="text" name="" id="">
							<div class="correct-answer shift-top">
								<span>!</span>
							</div>
						</div>    
						<span>There is a cockroach on my plate</span>
						<div class="input-container">
							<input type="text" name="" id="">
							<div class="correct-answer">
								<span>!</span>
							</div>
						</div>
					</div>
				</div>
				<!-- 2 -->
				<div class="question">
					<div class="number"><span>2)</span></div>
					<div class="text-container">
						<span>Will you please buy bread on your way home</span>
						<div class="input-container">
							<input type="text" name="" id="">
							<div class="correct-answer">
								<span>?</span>
							</div>
						</div>
					</div>
				</div>
				<!-- 3 -->
				<div class="question">
					<div class="number"><span>3)</span></div>
					<div class="text-container">
						<span>Could you help me with my project</span>
						<div class="input-container">
							<input type="text" name="" id="">
							<div class="correct-answer">
								<span>?	</span>
							</div>
						</div>
					</div>
				</div>
				<!-- 4 -->
				<div class="question">
					<div class="number"><span>4)</span></div>
					<div class="text-container">
						<span>The office is on fire</span>
						<div class="input-container">
							<input type="text" name="" id="">
							<div class="correct-answer">
								<span>!</span>
							</div>
						</div>
					</div>
				</div>
				<!-- 5 -->
				<div class="question">
					<div class="number"><span>5)</span></div>
					<div class="text-container">
						<span>What a stylish outfit</span>
						<div class="input-container">
							<input type="text" name="" id="">
							<div class="correct-answer">
								<span>!</span>
							</div>
						</div>
					</div>
				</div>
				<!-- 6 -->
				<div class="question">
					<div class="number"><span>6)</span></div>
					<div class="text-container">
						<span>Were you at the concert last night</span>
						<div class="input-container">
							<input type="text" name="" id="">
							<div class="correct-answer">
								<span>?</span>
							</div>
						</div>
					</div>
				</div>
				<!-- 7 -->
				<div class="question">
					<div class="number"><span>7)</span></div>
					<div class="text-container">
						<span>That’s a really funny joke</span>
						<div class="input-container">
							<input type="text" name="" id="">
							<div class="correct-answer">
								<span>!</span>
							</div>
						</div>
					</div>
				</div>
				<!-- 8 -->
				<div class="question">
					<div class="number"><span>8)</span></div>
					<div class="text-container">
						<span>Oh my God</span>
						<div class="input-container">
							<input type="text" name="" id="">
							<div class="correct-answer shift-top">
								<span>!</span>
							</div>
						</div>
						<span>It’s so beautiful</span>
						<div class="input-container">
							<input type="text" name="" id="">
							<div class="correct-answer">
								<span>!</span>
							</div>
						</div>
					</div>
				</div>
				<!-- 9 -->
				<div class="question">
					<div class="number"><span>9)</span></div>
					<div class="text-container">
						<span>Tom asked, “May I go to the washroom</span>
						<div class="input-container">
							<input type="text" name="" id="">
							<div class="correct-answer ans9">
								<span>?</span>
							</div>
						</div>”
					</div>
				</div>
				<!-- 10 -->
				<div class="question">
					<div class="number"><span>10)</span></div>
					<div class="text-container">
						<span>Did he reach the airport on time</span>
						<div class="input-container">
							<input type="text" name="" id="">
							<div class="correct-answer">
								<span>?</span>
							</div>
						</div>
					</div>
				</div>
				<!-- end -->
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>