<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3 mb-2 mb-lg-3">
        <h2 class="font-weight-bold heading">
          Click in the boxes beside the alphabets and then click on
          the correct Homophones from Column B, of the words
          given in Column A.
        </h2>
      </div>
    </div>
    <div class="row mb-2 mb-lg-3">
      <div class="question-heading">
        <div class="columnAheading">
          <div class="columnA">
            <span>Column A</span>
          </div>
        </div>
        <div class="columnBheading">
          <div class="columnB">
            <span>Column B</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="main-question-container">
        <!-- 1 -->
        <div class="question">
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>7</span>
            </div>
          </div>
          <div class="alphabet"><span>A)</span></div>
          <div class="text-container"><span>foul</span></div>
        </div>
        <div class="answer">
          <div class="number"><span>1</span>)</div>
          <div class="text-container"><span>won</span></div>

        </div>
        <!-- 2 -->
        <div class="question">
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>4</span>
            </div>
          </div>
          <div class="alphabet"><span>B)</span></div>
          <div class="text-container"><span>eye</span></div>
        </div>
        <div class="answer">
          <div class="number"><span>2</span>)</div>
          <div class="text-container"><span>waist</span></div>
        </div>
        <!-- 3 -->
        <div class="question">
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>1</span>
            </div>
          </div>
          <div class="alphabet"><span>C)</span></div>
          <div class="text-container"><span>one</span></div>
        </div>
        <div class="answer">
          <div class="number"><span>3</span>)</div>
          <div class="text-container"><span>no</span></div>
        </div>
        <!-- 4 -->
        <div class="question">
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>8</span>
            </div>
          </div>
          <div class="alphabet"><span>D)</span></div>
          <div class="text-container"><span>sale</span></div>
        </div>
        <div class="answer">
          <div class="number"><span>4</span>)</div>
          <div class="text-container"><span>I</span></div>
        </div>
        <!-- 5 -->
        <div class="question">
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>6</span>
            </div>
          </div>
          <div class="alphabet"><span>E)</span></div>
          <div class="text-container"><span>tale</span></div>
        </div>
        <div class="answer">
          <div class="number"><span>5</span>)</div>
          <div class="text-container"><span>pear</span></div>
        </div>
        <!-- 6 -->
        <div class="question">
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>3</span>
            </div>
          </div>
          <div class="alphabet"><span>F)</span></div>
          <div class="text-container"><span>know</span></div>
        </div>
        <div class="answer">
          <div class="number"><span>6</span>)</div>
          <div class="text-container"><span>tail</span></div>
        </div>
        <!-- 7 -->
        <div class="question">
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>2</span>
            </div>
          </div>
          <div class="alphabet"><span>G)</span></div>
          <div class="text-container"><span>waste</span></div>
        </div>
        <div class="answer">
          <div class="number"><span>7</span>)</div>
          <div class="text-container"><span>fowl</span></div>
        </div>
        <!-- 8 -->
        <div class="question">
          <div class="input-container">
            <input type="text">
            <div class="correct-answer">
              <span>5</span>
            </div>
          </div>
          <div class="alphabet"><span>H)</span></div>
          <div class="text-container"><span>pair</span></div>
        </div>
        <div class="answer">
          <div class="number"><span>8</span>)</div>
          <div class="text-container"><span>sail</span></div>
        </div>
        <!-- end -->
      </div>
    </div>
    <div class="row btn-row">
      <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>

</div>