<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox-result">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="row">
      <div class="heading mt-3">
        <h1>
          Click in the correct boxes before the sentences to colour them, that
          uses the Prepositions correctly.
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 Question_Container">
        <div class="Questions">
          <div class="Question_Row">
            <div class="Question">
              <div class="number">1)</div>
              <div class="imgBox">
                <img src="assets/std03-prepositions-worksheet5/img/kite.png" alt="">
              </div>
            </div>
            <div class="options">
              <div class="option">
                <div class="alpha wrong">a</div>
                <div class="content">The kite is flying on the sky.</div>
              </div>
              <div class="option">
                <div class="alpha right">b</div>
                <div class="content">The kite is flying in the sky.</div>
              </div>
            </div>
          </div>
          <div class="Question_Row">
            <div class="Question">
              <div class="number">2)</div>
              <div class="imgBox">
                <img src="assets/std03-prepositions-worksheet5/img/tiger.png" alt="">
              </div>
            </div>
            <div class="options">
              <div class="option">
                <div class="alpha right">a</div>
                <div class="content">The tiger is in the cage.</div>
              </div>
              <div class="option">
                <div class="alpha wrong">b</div>
                <div class="content">The tiger is into the cage.</div>
              </div>
            </div>
          </div>
          <div class="Question_Row">
            <div class="Question">
              <div class="number">3)</div>
              <div class="imgBox">
                <img src="assets/std03-prepositions-worksheet5/img/bird.png" alt="">
              </div>
            </div>
            <div class="options">
              <div class="option">
                <div class="alpha wrong">a</div>
                <div class="content">The bird is flying in the tree.</div>
              </div>
              <div class="option">
                <div class="alpha right">b</div>
                <div class="content">The bird is flying above the tree.</div>
              </div>
            </div>
          </div>
          <div class="Question_Row">
            <div class="Question">
              <div class="number">4)</div>
              <div class="imgBox">
                <img src="assets/std03-prepositions-worksheet5/img/table.png" alt="">
              </div>
            </div>
            <div class="options">
              <div class="option">
                <div class="alpha wrong">a</div>
                <div class="content">The books are at the table.</div>
              </div>
              <div class="option">
                <div class="alpha right">b</div>
                <div class="content">The books are on the table.</div>
              </div>
            </div>
          </div>
          <div class="Question_Row">
            <div class="Question">
              <div class="number">5)</div>
              <div class="imgBox">
                <img src="assets/std03-prepositions-worksheet5/img/kate.png" alt="">
              </div>
            </div>
            <div class="options">
              <div class="option">
                <div class="alpha right">a</div>
                <div class="content">Kate is sitting beside her grandmother.</div>
              </div>
              <div class="option">
                <div class="alpha wrong">b</div>
                <div class="content">Kate is sitting besides her grandmother.</div>
              </div>
            </div>
          </div>
          <div class="Question_Row">
            <div class="Question">
              <div class="number">6)</div>
              <div class="imgBox">
                <img src="assets/std03-prepositions-worksheet5/img/bed.png" alt="">
              </div>
            </div>
            <div class="options">
              <div class="option">
                <div class="alpha right">a</div>
                <div class="content">The ball rolled under the bed.</div>
              </div>
              <div class="option">
                <div class="alpha wrong">b</div>
                <div class="content">The ball rolled near the bed.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-row">
          <button class="button myButton">Submit</button>
        </div>
      </div>

    </div>
  </div>
</div>