<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
      <div class="row">
          <div class="heading mt-3">
              <h1>Click on the blanks and then click on the correct Past Tense Verbs from the help box<span class="comma">,</span> of then given Verbs.</h1>
          </div>
      </div>
      <div class="row Main_Container">
          <div class="col-12 Option_Container">
              <div class="options">
                  <div class="option">cooked</div>
                  <div class="option">swam</div>
                  <div class="option">closed</div>
                  <div class="option">wrote</div>
                  <div class="option">laughed</div>
                  <div class="option">threw</div>
                  <div class="option">bought</div>
                  <div class="option">sold</div>
                  <div class="option">saved</div>
                  <div class="option">kicked</div>
                  <div class="option">ran</div>
                  <div class="option">jumped</div>
              </div>
          </div>
          <div class="col-12 Question_Container">
              <div class="Question">
                  <div class="number">1</div>
                  <div class="content">laugh</div>
                  <div class="input_div"><input type="text"><div class="correct_answer"><span>laughed</span></div></div>
              </div>
              <div class="Question">
                  <div class="number">2</div>
                  <div class="content">throw</div>
                  <div class="input_div"><input type="text"><div class="correct_answer"><span>threw</span></div></div>
              </div>
              <div class="Question">
                  <div class="number">3</div>
                  <div class="content">close</div>
                  <div class="input_div"><input type="text"><div class="correct_answer"><span>closed</span></div></div>
              </div>
              <div class="Question">
                  <div class="number">4</div>
                  <div class="content">run</div>
                  <div class="input_div"><input type="text"><div class="correct_answer"><span>ran</span></div></div>
              </div>
              <div class="Question">
                  <div class="number">5</div>
                  <div class="content">jump</div>
                  <div class="input_div"><input type="text"><div class="correct_answer"><span>jumped</span></div></div>
              </div>
              <div class="Question">
                  <div class="number">6</div>
                  <div class="content">save</div>
                  <div class="input_div"><input type="text"><div class="correct_answer"><span>saved</span></div></div>
              </div>
              <div class="Question">
                  <div class="number">7</div>
                  <div class="content">swim</div>
                  <div class="input_div"><input type="text"><div class="correct_answer"><span>swam</span></div></div>
              </div>
              <div class="Question">
                  <div class="number">8</div>
                  <div class="content">write</div>
                  <div class="input_div"><input type="text"><div class="correct_answer"><span>wrote</span></div></div>
              </div>
              <div class="Question">
                  <div class="number">9</div>
                  <div class="content">cook</div>
                  <div class="input_div"><input type="text"><div class="correct_answer"><span>cooked</span></div></div>
              </div>
              <div class="Question">
                  <div class="number">10</div>
                  <div class="content">sell</div>
                  <div class="input_div"><input type="text"><div class="correct_answer"><span>sold</span></div></div>
              </div>
              <div class="Question">
                  <div class="number">11</div>
                  <div class="content">kick</div>
                  <div class="input_div"><input type="text"><div class="correct_answer"><span>kicked</span></div></div>
              </div>
              <div class="Question">
                  <div class="number">12</div>
                  <div class="content">buy</div>
                  <div class="input_div"><input type="text"><div class="correct_answer"><span>bought</span></div></div>
              </div>
          </div>
  </div>
  <div class="btn-row">
    <button class="button myButton">Submit</button>
  </div>
      
  </div>
</div>