<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
	</div>
  <div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="heading mt-3">
					<h1>Click on the Adverbs in the following sentences.</h1>
				</div>
			</div>
		</div>
		
		<div class="col-xs-12 Question_Container">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-2"> <img src="assets/std02-adverbs-worksheet2/img/list-item-bg.png"/><span>1)</span></div>
					<div class="col-xs-6"><span>The</span> <span>music</span> <span>was</span> <span>playing</span> <span class="right">loudly</span> <span>from</span> <span>Ron<span class="comma">’</span>s</span> <span>room</span>.</div>
				</div>
				
				<div class="row">
					<div class="col-xs-2"> <img src="assets/std02-adverbs-worksheet2/img/list-item-bg.png"/><span>2)</span></div>
					<div class="col-xs-6">
						<span>This</span> <span>magazine</span> <span>is</span> <span>published</span> <span class="right">monthly</span>.
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-2"> <img src="assets/std02-adverbs-worksheet2/img/list-item-bg.png"/><span>3)</span></div>
					<div class="col-xs-6">
						<span>It</span> <span>was</span> <span>raining</span> <span class="right">heavily</span> <span>last</span> <span>weekend</span>.
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-2"> <img src="assets/std02-adverbs-worksheet2/img/list-item-bg.png"/><span>4)</span></div>
					<div class="col-xs-6">
						<span>The</span> <span>pupils</span> <span class="right">easily</span> <span>completed</span> <span>the</span> <span>test</span> <span>on</span> <span>time</span>.
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-2"> <img src="assets/std02-adverbs-worksheet2/img/list-item-bg.png"/><span>5)</span></div>
					<div class="col-xs-6">
						<span>Mom</span> <span>goes</span> <span class="right">twice</span> <span>a</span> <span>week</span> <span>for</span> <span>grocery</span> <span>shopping</span>.
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-2"> <img src="assets/std02-adverbs-worksheet2/img/list-item-bg.png"/><span>6)</span></div>
					<div class="col-xs-6">
						<span>Summer</span> <span>holidays</span> <span>are</span> <span>going</span> <span>to</span> <span>begin</span> <span class="right">soon</span>.
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-2"> <img src="assets/std02-adverbs-worksheet2/img/list-item-bg.png"/><span>7)</span></div>
					<div class="col-xs-6">
						<span>Mice</span> <span>entered</span> <span class="right">quietly</span> <span>into</span> <span>the</span> <span>kitchen</span>.
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-2"> <img src="assets/std02-adverbs-worksheet2/img/list-item-bg.png"/><span>8)</span></div>
					<div class="col-xs-6">
						<span>Children</span> <span>were</span> <span class="right">joyfully</span> <span>singing</span> <span>during</span> <span>the</span> <span>bus</span> <span>ride</span>.
					</div>
				</div>
				<div class="btn-row">
					<button class="button myButton">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>