<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="heading">
      <h1>Click in the boxes to colour the correct Punctuation Marks, that will be used at the end of the given
        sentences.</h1>
    </div>
    <div class="row Main_Container">
      <div class="col-12 Question_Container">
        <div class="Question_Row">
          <div class="Question_Block">
            <div class="Question">
              <div class="number">1)</div>
              <div class="content">How many goals did Ben score</div>
            </div>
            <div class="Option_Row">
              <div class="options">
                <div class="option"><span class="dot">.</span></div>
                <div class="option right"><span>?</span></div>
                <div class="option"><span>!</span></div>
              </div>
            </div>
          </div>
          <div class="Question_Block">
            <div class="Question">
              <div class="number">2)</div>
              <div class="content">What a performance the boy gave</div>
            </div>
            <div class="Option_Row">
              <div class="options">
                <div class="option"><span class="dot">.</span></div>
                <div class="option"><span>?</span></div>
                <div class="option right"><span>!</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="Question_Row">
          <div class="Question_Block">
            <div class="Question">
              <div class="number">3)</div>
              <div class="content">Wipe your feet on the mat</div>
            </div>
            <div class="Option_Row">
              <div class="options">
                <div class="option right"><span class="dot">.</span></div>
                <div class="option"><span>?</span></div>
                <div class="option"><span>!</span></div>
              </div>
            </div>
          </div>
          <div class="Question_Block">
            <div class="Question">
              <div class="number">4)</div>
              <div class="content">Which car is Sandy going to buy</div>
            </div>
            <div class="Option_Row">
              <div class="options">
                <div class="option"><span class="dot">.</span></div>
                <div class="option right"><span>?</span></div>
                <div class="option"><span>!</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="Question_Row">
          <div class="Question_Block">
            <div class="Question">
              <div class="number">5)</div>
              <div class="content">I have an appointment for my eye check-up</div>
            </div>
            <div class="Option_Row">
              <div class="options">
                <div class="option right"><span class="dot">.</span></div>
                <div class="option"><span>?</span></div>
                <div class="option"><span>!</span></div>
              </div>
            </div>
          </div>
          <div class="Question_Block">
            <div class="Question">
              <div class="number">6)</div>
              <div class="content">Look out, there’s a big truck coming</div>
            </div>
            <div class="Option_Row">
              <div class="options">
                <div class="option"><span class="dot">.</span></div>
                <div class="option"><span>?</span></div>
                <div class="option right"><span>!</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="Question_Row">
          <div class="Question_Block">
            <div class="Question">
              <div class="number">7)</div>
              <div class="content">Lily was exhausted after the basketball game</div>
            </div>
            <div class="Option_Row">
              <div class="options">
                <div class="option right"><span class="dot">.</span></div>
                <div class="option"><span>?</span></div>
                <div class="option"><span>!</span></div>
              </div>
            </div>
          </div>
          <div class="Question_Block">
            <div class="Question">
              <div class="number">8)</div>
              <div class="content">Why is Jason not coming for the field trip</div>
            </div>
            <div class="Option_Row">
              <div class="options">
                <div class="option"><span class="dot">.</span></div>
                <div class="option right"><span>?</span></div>
                <div class="option"><span>!</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>

  </div>
</div>