<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 px-2 p-2 ml-3 mr-3 ml-sm-4 mr-sm-4 mt-2">
        <h2 class="font-weight-bold heading">
          Click in the circles in the tshirts given at the end of the sentences and then click on the correct
          Punctuation Marks from the help box, to complete the punctuation of the sentences.
        </h2>
      </div>
    </div>
    <div class="row HelpBox_Row">
      <div class="help-box">
        <span><span>?</span>
          <span>.</span>
          <span>!</span></span>
      </div>
    </div>
    <div class="row">
      <div class="question-container">
        <div class="row m-0 black-line">
          <div class="col-1 offset-0 offset-sm-2">
            <span>1)</span>
          </div>
          <div class="col-9 col-sm-9 p-0">
            <span>Eat your breakfast before going to school</span>
            <span class="yellow-shirt">
              <span class="input-span"><input type="text" maxlength="1"><span class="answer">.</span></span>
            </span>
            <img src="assets/std02-mixed-punctuation-worksheet3/img/purple-birds.png" class="img-fluid img-1 bird" />
          </div>
        </div>
        <div class="row m-0 black-line">
          <div class="col-1 offset-0 offset-sm-2">
            <img src="assets/std02-mixed-punctuation-worksheet3/img/yellow-birds.png" class="img-fluid img-9-left1" />
            <span>2)</span>
          </div>
          <div class="col-9 col-sm-7 offset-sm-2 p-0">
            <span>Did you see those colourful birds</span>
            <span class="purple-shirt">
              <span class="input-span"><input type="text" maxlength="1"><span class="answer">?</span></span>
            </span>
            <img src="assets/std02-mixed-punctuation-worksheet3/img/red-birds.png" class="img-fluid img-2 bird" />
          </div>
        </div>
        <div class="row m-0 black-line">
          <div class="col-1 offset-0 offset-sm-2">
            <span>3)</span>
          </div>
          <div class="col-9 col-sm-6 offset-sm-3 p-0">
            <span>I am frightened</span>
            <span class="green-shirt">
              <span class="input-span"><input type="text" maxlength="1"><span class="answer">!</span></span>
            </span>
          </div>
        </div>
        <!-- 4-6 -->
        <div class="row m-0 black-line">
          <div class="col-1 offset-0 offset-sm-2">
            <span>4)</span>
          </div>
          <div class="col-9 col-sm-8 offset-sm-1 p-0">
            <span>How old is Tom</span>
            <span class="yellow-shirt">
              <span class="input-span"><input type="text" maxlength="1"><span class="answer">?</span></span>
            </span>
          </div>
        </div>
        <div class="row m-0 black-line">
          <div class="col-1 offset-0 offset-sm-2">
            <span>5)</span>
          </div>
          <div class="col-9 col-sm-7 question-5  p-0">
            <span>That sports car is my neighbour’s</span>
            <span class="purple-shirt">
              <span class="input-span"><input type="text" maxlength="1"><span class="answer">.</span></span>
            </span>
            <img src="assets/std02-mixed-punctuation-worksheet3/img/purple-birds.png" class="img-fluid img-5 bird" />
          </div>
        </div>
        <div class="row m-0 black-line">
          <div class="col-1 offset-0 offset-sm-2">
            <span>6)</span>
          </div>
          <div class="col-9 col-sm-6  question-6  p-0">
            <span> Hurray</span>
            <span class="green-shirt">
              <span class="input-span"><input type="text" maxlength="1" class="sixth"><span class="answer answer6">!</span></span>
            </span>
            <span class="shift-left">I won the first prize</span>
            <span class="green-shirt">
              <span class="input-span"><input type="text" maxlength="1" class="sixth"><span class="answer">!</span></span>
            </span>
          </div>
        </div>
        <!-- 46 -->
        <div class="row m-0 black-line">
          <div class="col-1 offset-0 offset-sm-2">
            <img src="assets/std02-mixed-punctuation-worksheet3/img/orange-right.png" class="img-fluid img-9-left1" />
            <span>7)</span>
          </div>
          <div class="col-9 col-sm-8 question-7  p-0">
            <span>Mrs. Crawford has grown tulips in her backyard</span>
            <span class="yellow-shirt">
              <span class="input-span"><input type="text" maxlength="1"><span class="answer">.</span></span>
            </span>
          </div>
        </div>
        <div class="row m-0 black-line">
          <div class="col-1 offset-0 offset-sm-2">
            <span>8)</span>
          </div>
          <div class="col-9 col-sm-7 question-8 p-0">
            <span>Can you solve this sudoku</span>
            <span class="purple-shirt">
              <span class="input-span"><input type="text" maxlength="1"><span class="answer">?</span></span>
            </span>
          </div>
        </div>
        <div class="row m-0 black-line">
          <div class="col-1 offset-0 offset-sm-2">
            <img src="assets/std02-mixed-punctuation-worksheet3/img/yellow-birds.png" class="img-fluid img-9-left1" />
            <img src="assets/std02-mixed-punctuation-worksheet3/img/purple-birds.png" class="img-fluid img-9-left bird" />
            <span>9)</span>
          </div>
          <div class="col-9 col-sm-6  question-9 p-0">
            <span> Don’t waste your time</span>
            <span class="green-shirt">
              <span class="input-span"><input type="text" maxlength="1"><span class="answer">.</span></span>
            </span>
            <img src="assets/std02-mixed-punctuation-worksheet3/img/red-birds.png" class="img-fluid img-9 bird" />
          </div>
        </div>
        <div class="row m-0 black-line line-last">
          <div class="col-1 offset-0 offset-sm-2">
            <span>10)</span>
          </div>
          <div class="col-9 col-sm-7 question-8 p-0">
            <span>Was it thundering last night</span>
            <span class="purple-shirt">
              <span class="input-span"><input type="text" maxlength="1"><span class="answer">?</span></span>
            </span>
          </div>
        </div>
        <!-- 7 9 -->
      </div>
    </div>
    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>
  </div>
</div>