    <body>
    <div class='result'>
          <div class="Box">
            <div class="imgBox">
              <!-- <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide"> -->
              <img src="" alt="" class="Text fabulous hide">
            </div>
            <div class="TextBox">
              <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
          </div>
        </div>
      
      
      <div class="loadingDiv">
          </div>
  
    <div class="container">
      <div class="row heading-container">
        <div class="col-xs-12 px-2 p-2 mt-3">
          <h2 class="font-weight-bold heading">
            Click on the hooks given in the help box and then click on the fishes, to join them and form Compound Words.
          </h2>
        </div>
      </div>
    <div class="row">
      <div class="helpbox-container ">
        <div class="row m-0">
          <!-- 1 -->
          <div class="helpans" data-help="water">
            <div>
              <span>water</span>
            </div>
          </div>
          <!-- 2 -->
          <div class="helpans" data-help="jelly">
            <div>
              <span>jelly</span>
            </div>
          </div>
          <!-- 3 -->
          <div class="helpans" data-help="grand">
            <div>
              <span>grand</span>
            </div>
          </div>
          <!-- 5 -->
          <div class="helpans" data-help="your">
            <div>
              <span>your</span>
            </div>
          </div>
          <!-- 1 -->
          <div class="helpans" data-help="stop">
            <div>
              <span>stop</span>
            </div>
          </div>
          <!-- <div class="col-2 p-0">
            <div>
              <span>
                
              </span>
            </div>
          </div> -->
          <!-- 2 -->
          <div class="helpans" data-help="bath">
            <div>
              <span>bath</span>
            </div>
          </div>
          <!-- 3 -->
          <div class="helpans" data-help="tea">
            <div>
              <span>tea</span>
            </div>
          </div>
          <!-- 5 -->
          <div class="helpans" data-help="flower">
            <div>
              <span>flower</span>
            </div>
          </div>
          <div class="helpans" data-help="play">
            <div>
              <span>play</span>
            </div>
          </div>
          <!-- 5 -->
          <div class="helpans" data-help="thumb">
            <div>
              <span>thumb</span>
            </div>
          </div>
          <!-- end -->
        </div>
      </div>
  
      
    </div>
  
  
      <div class="row">
       <div class="Question-container mt-5 w-100">
        <div class="row m-0">
          <div class="col-5 col-sm-3 p-0">
            <div class="fish-container" id="flower">
              
              <div class="hoock hoock-click" data-id="flower">
                <!-- <img src="Asset/img/hoock.png" alt="" class="img-fluid"> -->
                <span></span>
              </div>
              
              <div class="fish" data-fish="pot">
                <img src="assets/compound-words/Asset/img/pot.png" alt="" class="img-fluid" >
              </div>
            </div>	
            <div class="organswer"><span>flowerpot</span></div>
          </div>
          <!-- melon -->
          <div class="col-5 col-sm-3 p-0">
            <div class="fish-container" id="water">
              <div class="hoock hoock-click"  data-id="water">
                <!-- <img src="Asset/img/hoock.png" alt="" class="img-fluid"> -->
                <span></span>
              </div>
            
              <div class="fish" data-fish="melon">
                <img src="assets/compound-words/Asset/img/melon.png" alt="" class="img-fluid" >
              </div>
            </div>	
            <div class="organswer"><span>watermelon</span></div>
          </div>
          <!--room-->
          <div class="col-5 col-sm-3 p-0 offset-2 offset-sm-0">
            <div class="fish-container" id="bath">
              <div class="hoock hoock-click" data-id="bath">
                <!-- <img src="Asset/img/hoock.png" alt="" class="img-fluid"> -->
                <span></span>
              </div>
              <!-- <div class="organswer">Bathroom</div> -->
              <div class="fish"  data-fish="room">
                <img src="assets/compound-words/Asset/img/room.png" alt="" class="img-fluid">
              </div>
            </div>	
            <div class="organswer"><span>bathroom</span></div>
          </div>
          <!--watch-->
          <div class="col-5 col-sm-3 p-0">
            <div class="fish-container" id="stop">
              <div class="hoock hoock-click" data-id="stop">
                <!-- <img src="Asset/img/hoock.png" alt="" class="img-fluid"> -->
                <span></span>
              </div>
              
              <div class="fish" data-fish="watch">
                <img src="assets/compound-words/Asset/img/watch.png" alt="" class="img-fluid">
              </div>
            </div>	
            <div class="organswer"><span>stopwatch</span></div>
          </div>
          <!--  -->
          <!-- row 2 -->
          <div class="col-5 col-sm-3 p-0 offset-sm-1 mt-2 mb-2">
            <div class="fish-container" id="tooth">
              <div class="hoock hoock-click" data-id="tea">
                <!-- <img src="Asset/img/hoock.png" alt="" class="img-fluid"> -->
                <span></span>
              </div>
            
              <div class="fish" data-fish="spoon">
                <img src="assets/compound-words/Asset/img/spoon.png" alt="" class="img-fluid">
              </div>
            </div>	
            <div class="organswer"><span>teaspoon</span></div>
          </div>
          <!-- spacce -->
          <div class="col-5 col-sm-3 p-0 offset-sm-3 mt-2 mb-2">
            <div class="fish-container fish-top" id="jelly">
              <div class="hoock hoock-click" data-id="jelly">
                <!-- <img src="Asset/img/hoock.png" alt="" class="img-fluid"> -->
                <span></span>
              </div>
            
              <div class="fish" data-fish="fish">
                <img src="assets/compound-words/Asset/img/fish.png" alt="" class="img-fluid">
              </div>
            </div>	
            <div class="organswer"><span>jellyfish</span></div>
          </div>
          <!-- 
          end space
           -->
          <div class="col-5 col-sm-3 p-0 shift-top">
            <div class="fish-container" id="play">
              <div class="hoock hoock-click" data-id="play">
                <!-- <img src="Asset/img/hoock.png" alt="" class="img-fluid"> -->
                <span></span>
              </div>
              
              <div class="fish" data-fish="ground">
                <img src="assets/compound-words/Asset/img/ground.png" alt="" class="img-fluid">
              </div>
            </div>	
            <div class="organswer"><span>playground</span></div>
          </div>
          <!-- melon -->
          <div class="col-5 col-sm-3 p-0 offset-2 offset-sm-0 shift-top">
            <div class="fish-container" id="thumb">
              <div class="hoock hoock-click" data-id="thumb">
                <!-- <img src="Asset/img/hoock.png" alt="" class="img-fluid"> -->
                <span></span>
              </div>
            
              <div class="fish" data-fish="nail">
                <img src="assets/compound-words/Asset/img/nail.png" alt="" class="img-fluid">
              </div>
            </div>	
            <div class="organswer"><span>thumbnail</span></div>
          </div>
          <!--room-->
          <div class="col-5 col-sm-3 p-0 shift-top">
            <div class="fish-container" id="your">
              <div class="hoock hoock-click"  data-id="your">
                <!-- <img src="Asset/img/hoock.png" alt="" class="img-fluid"> -->
                <span></span>
              </div>
            
              <div class="fish" data-fish="self">
                <img src="assets/compound-words/Asset/img/self.png" alt="" class="img-fluid">
              </div>
            </div>	
            <div class="organswer"><span>yourself</span></div>
          </div>
          <!--watch-->
          <div class="col-6 col-sm-3 p-0 shift-top">
            <div class="fish-container" id="grand">
              <div class="hoock hoock-click" data-id="grand">
                <!-- <img src="Asset/img/hoock.png" alt="" class="img-fluid"> -->
                <span></span>
              </div>
              
              <div class="fish" data-fish="father">
                <img src="assets/compound-words/Asset/img/father.png" alt="" class="img-fluid">
              </div>
            </div>	
            <div class="organswer"><span>grandfather</span></div>
          </div>
          
       
        </div>
       </div>
      </div>	
      <div class="row ">
        <div class="col-12 text-center shift-top">
          <button class="button myButton">Submit</button>
          <button class="button playagain hide_btn">Play Again</button>
        </div>
      </div>
    </div>
    </body>