<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
  <div class="Box">
    <div class="imgBox">
      <img src="" alt="" class="Text keep-practicing hide">
      <img src="" alt="" class="Text outstanding hide">
      <img src="" alt="" class="Text brilliant hide">
      <img src="" alt="" class="Text good-work hide">
      <!-- <img src="" alt="" class="Text fabulous hide"> -->
    </div>
    <div class="TextBox">
      <h1></h1>
    </div>
    <img src="assets/images/close.png" alt="" class="close">
  </div>
</div>
  <div class="loadingDiv">
  </div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 px-2 p-2 mt-sm-2 mt-lg-3 ">
      <h2 class="font-weight-bold heading">
        Click in the correct boxes of Past, Present and Future Tenses to colour them; that identifies the underlined Verbs in the sentences.
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="main-question-container">
      <!-- 1 -->
      <div class="row m-0 shift-bottom">
        <div class="col-12 col-sm-6 pl-0">
          <div class="question">
            <div class="number">
              <span>1.</span>
            </div>
            <div class="text-container">
              <span>The spots on a giraffe’s body <u>act</u> as camouflage for protection against predators.</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 pr-0 m-auto">
          <div class="answer-container">
            <div class="past wrong">
              <span>Simple Past</span>
            </div>
            <div class="present right">
              <span>Simple Present</span>
            </div>
            <div class="future wrong">
              <span>Simple Future</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 2 -->
      <div class="row m-0 shift-bottom">
        <div class="col-12 col-sm-6 pl-0">
          <div class="question">
            <div class="number">
              <span>2.</span>
            </div>
            <div class="text-container">
              <span>Ms. Jones <u>taught</u> multiplication to the students yesterday.</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 pr-0 m-auto">
          <div class="answer-container">
            <div class="past right ">
              <span>Simple Past</span>
            </div>
            <div class="present wrong">
              <span>Simple Present</span>
            </div>
            <div class="future wrong">
              <span>Simple Future</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 3 -->
      <div class="row m-0 shift-bottom">
        <div class="col-12 col-sm-6 pl-0">
          <div class="question">
            <div class="number">
              <span>3.</span>
            </div>
            <div class="text-container">
              <span>Earth <u>experiences</u> four seasons due to its tilt and rotation.</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 pr-0 m-auto">
          <div class="answer-container">
            <div class="past wrong">
              <span>Simple Past</span>
            </div>
            <div class="present right">
              <span>Simple Present</span>
            </div>
            <div class="future wrong">
              <span>Simple Future</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 4 -->
      <div class="row m-0 shift-bottom">
        <div class="col-12 col-sm-6 pl-0">
          <div class="question">
            <div class="number">
              <span>4.</span>
            </div>
            <div class="text-container">
              <span>We <u>shall go</u> grocery shopping on Saturday.</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 pr-0 m-auto">
          <div class="answer-container">
            <div class="past wrong">
              <span>Simple Past</span>
            </div>
            <div class="present wrong">
              <span>Simple Present</span>
            </div>
            <div class="future right">
              <span>Simple Future</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 5-8 -->
      <div class="row m-0 shift-bottom">
        <div class="col-12 col-sm-6 pl-0">
          <div class="question">
            <div class="number">
              <span>5.</span>
            </div>
            <div class="text-container">
              <span>Please <u>hang</u> the painting on the wall.</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 pr-0 m-auto">
          <div class="answer-container">
            <div class="past wrong">
              <span>Simple Past</span>
            </div>
            <div class="present right">
              <span>Simple Present</span>
            </div>
            <div class="future wrong">
              <span>Simple Future</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 6 -->
      <div class="row m-0 shift-bottom">
        <div class="col-12 col-sm-6 pl-0">
          <div class="question">
            <div class="number">
              <span>6.</span>
            </div>
            <div class="text-container">
              <span>Mom <u>will pay</u> my school trip fees tomorrow.</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 pr-0 m-auto">
          <div class="answer-container">
            <div class="past wrong">
              <span>Simple Past</span>
            </div>
            <div class="present wrong">
              <span>Simple Present</span>
            </div>
            <div class="future right">
              <span>Simple Future</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 7 -->
      <div class="row m-0 shift-bottom">
        <div class="col-12 col-sm-6 pl-0">
          <div class="question">
            <div class="number">
              <span>7.</span>
            </div>
            <div class="text-container">
              <span>The siblings <u>fought</u> for the last slice of pizza.</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 pr-0 m-auto">
          <div class="answer-container">
            <div class="past right">
              <span>Simple Past</span>
            </div>
            <div class="present wrong">
              <span>Simple Present</span>
            </div>
            <div class="future wrong">
              <span>Simple Future</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 8 -->
      <div class="row m-0 shift-bottom">
        <div class="col-12 col-sm-6 pl-0">
          <div class="question">
            <div class="number">
              <span>8.</span>
            </div>
            <div class="text-container">
              <span>Everyone <u>loves</u> to relax on Sundays.</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 pr-0 m-auto">
          <div class="answer-container">
            <div class="past wrong">
              <span>Simple Past</span>
            </div>
            <div class="present right">
              <span>Simple Present</span>
            </div>
            <div class="future wrong">
              <span>Simple Future</span>
            </div>
          </div>
        </div>
      </div>
      <!-- end -->
      <div class="row m-0 pb-3 btn-row">
        <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
        </div>
      </div>
      <!-- btn end -->
    </div>
  </div>	
</div>
</div>