<div class="bg">
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
			<img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row px-2 p-2 pt-2 pt-lg-3 ">
      <div class="heading">
        <h2 class="font-weight-bold">
          Click on the blanks and then click on the correct Compound Words from the help box, that can be formed by
          using pictures as clues.
        </h2>
      </div>
    </div>
    <div class="row mb-3">
      <div class="helpbox-container mb-2 font-weight-bold">
        <div class="row m-0 font-weight-bold">
          <div class="helpbox">
            <span>ladybug</span>
          </div>
          <div class="helpbox">
            <span>butterfly</span>
          </div>
          <div class="helpbox">
            <span>houseboat</span>
          </div>
          <div class="helpbox">
            <span>sunflower</span>
          </div>
          <div class="helpbox">
            <span>seashell</span>
          </div>
          <div class="helpbox">
            <span>wallpaper</span>
          </div>
          <div class="helpbox">
            <span>football</span>
          </div>
          <div class="helpbox">
            <span>greenhouse</span>
          </div>
          <div class="helpbox">
            <span>catfish</span>
          </div>
          <div class="helpbox">
            <span>fireman</span>
          </div>
        </div>
      </div>
    </div>
    <div class="Main_Container mb-4 mt-sm-4 ">
      <div class="row margin-top-main Question-container text-center font-weight-bold">
        <div class="col-12 col-sm-6 p-0 mb-3 mb-lg-4">
          <div class="row m-0">
            <div class="col-1 p-0">1)</div>
            <div class="col-2 p-0"><img src="assets/std01-compound-word-worksheet1/img/cat.png" class="img-fluid"></div>
            <div class="col-1 p-1">+</div>
            <div class="col-2 p-0"><img src="assets/std01-compound-word-worksheet1/img/fish.png" class="img-fluid"></div>
            <div class="col-1 p-0">=</div>
            <div class="col-4 p-0"><span class="input-span"><input type="text"></span>
              <div class="answer-div"><span>catfish</span></div>
            </div>
          </div>
        </div>
        <div class="col-12  col-sm-6 p-0  mb-3 mb-lg-4 ">
          <div class="row m-0">
            <div class="col-1 p-0">2)</div>
            <div class="col-2 p-0"><img src="assets/std01-compound-word-worksheet1/img/sun.png" class="img-fluid"></div>
            <div class="col-1 p-1">+</div>
            <div class="col-2 p-0"><img src="assets/std01-compound-word-worksheet1/img/flower.png" class="img-fluid"></div>
            <div class="col-1 p-0">=</div>
            <div class="col-4 p-0"><span class="input-span"><input type="text"></span>
              <div class="answer-div"><span>sunflower</span></div>
            </div>
          </div>
        </div>
        <!-- 3 4 -->
        <div class="col-12 col-sm-6 p-0 mb-3 mb-lg-4">
          <div class="row m-0">
            <div class="col-1 p-0">3)</div>
            <div class="col-2 p-0"><img src="assets/std01-compound-word-worksheet1/img/butter.png" class="img-fluid"></div>
            <div class="col-1 p-0">+</div>
            <div class="col-2 p-0"><img src="assets/std01-compound-word-worksheet1/img/fly.png" class="img-fluid"></div>
            <div class="col-1 p-0">=</div>
            <div class="col-4 p-0"><span class="input-span"><input type="text"></span>
              <div class="answer-div"><span>butterfly</span></div>
            </div>
          </div>
        </div>
        <div class="col-12  col-sm-6 p-0  mb-3 mb-lg-4">
          <div class="row m-0">
            <div class="col-1 p-0">4)</div>
            <div class="col-2 p-0"><img src="assets/std01-compound-word-worksheet1/img/foot.png" class="img-fluid"></div>
            <div class="col-1 p-0">+</div>
            <div class="col-2 p-0"><img src="assets/std01-compound-word-worksheet1/img/ball.png" class="img-fluid"></div>
            <div class="col-1 p-0">=</div>
            <div class="col-4 p-0"><span class="input-span"><input type="text"></span>
              <div class="answer-div"><span>football</span></div>
            </div>
          </div>
        </div>
        <!-- 5 6 -->
        <div class="col-12 col-sm-6 p-0 mb-3 mb-lg-4">
          <div class="row m-0">
            <div class="col-1 p-0">5)</div>
            <div class="col-2 p-0"><img src="assets/std01-compound-word-worksheet1/img/house.png" class="img-fluid"></div>
            <div class="col-1 p-0">+</div>
            <div class="col-2 p-0"><img src="assets/std01-compound-word-worksheet1/img/boat.png" class="img-fluid"></div>
            <div class="col-1 p-0">=</div>
            <div class="col-4 p-0"><span class="input-span"><input type="text"></span>
              <div class="answer-div"><span>houseboat</span></div>
            </div>
          </div>
        </div>
        <div class="col-12  col-sm-6 p-0  mb-3 mb-lg-4">
          <div class="row m-0">
            <div class="col-1 p-0">6)</div>
            <div class="col-2 p-0"><img src="assets/std01-compound-word-worksheet1/img/sea.png" class="img-fluid"></div>
            <div class="col-1 p-0">+</div>
            <div class="col-2 p-0"><img src="assets/std01-compound-word-worksheet1/img/shell.png" class="img-fluid"></div>
            <div class="col-1 p-0">=</div>
            <div class="col-4 p-0"><span class="input-span"><input type="text"></span>
              <div class="answer-div"><span>seashell</span></div>
            </div>
          </div>
        </div>
        <!-- 7 8 -->
        <div class="col-12 col-sm-6 p-0 mb-3 mb-lg-4">
          <div class="row m-0">
            <div class="col-1 p-0">7)</div>
            <div class="col-2 p-0"><img src="assets/std01-compound-word-worksheet1/img/lady.png" class="img-fluid"></div>
            <div class="col-1 p-0">+</div>
            <div class="col-2 p-0"><img src="assets/std01-compound-word-worksheet1/img/bug.png" class="img-fluid"></div>
            <div class="col-1 p-0">=</div>
            <div class="col-4 p-0"><span class="input-span"><input type="text"></span>
              <div class="answer-div"><span>ladybug</span></div>
            </div>
          </div>
        </div>
        <div class="col-12  col-sm-6 p-0  mb-3 mb-lg-4">
          <div class="row m-0">
            <div class="col-1 p-0">8)</div>
            <div class="col-2 p-0"><img src="assets/std01-compound-word-worksheet1/img/fire.png" class="img-fluid"></div>
            <div class="col-1 p-0">+</div>
            <div class="col-2 p-0"><img src="assets/std01-compound-word-worksheet1/img/man.png" class="img-fluid"></div>
            <div class="col-1 p-0">=</div>
            <div class="col-4 p-0"><span class="input-span"><input type="text"></span>
              <div class="answer-div"><span>fireman</span></div>
            </div>
          </div>
        </div>
        <!-- 9 10 -->
        <div class="col-12 col-sm-6 p-0 mb-3 mb-lg-4">
          <div class="row m-0">
            <div class="col-1 p-0">9)</div>
            <div class="col-2 p-0"><img src="assets/std01-compound-word-worksheet1/img/wall.png" class="img-fluid"></div>
            <div class="col-1 p-0">+</div>
            <div class="col-2 p-0"><img src="assets/std01-compound-word-worksheet1/img/paper.png" class="img-fluid"></div>
            <div class="col-1 p-0">=</div>
            <div class="col-4 p-0"><span class="input-span"><input type="text"></span>
              <div class="answer-div"><span>wallpaper</span></div>
            </div>
          </div>
        </div>
        <div class="col-12  col-sm-6 p-0  mb-3 mb-lg-4">
          <div class="row m-0">
            <div class="col-1 p-0">10)</div>
            <div class="col-2 p-0"><img src="assets/std01-compound-word-worksheet1/img/color.png" class="img-fluid"></div>
            <div class="col-1 p-0">+</div>
            <div class="col-2 p-0"><img src="assets/std01-compound-word-worksheet1/img/greenhouse.png" class="img-fluid"></div>
            <div class="col-1 p-0">=</div>
            <div class="col-4 p-0"><span class="input-span"><input type="text"></span>
              <div class="answer-div"><span>greenhouse</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="btn-row">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>
</div>