<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="row">
      <div class="heading mt-3 one">
        <h1>Let us learn about animals and their sounds.</h1>
      </div>
      <div class="heading two">
        <h1>Click on the blanks and then click on the correct sounds from the help box of wagons, that the
          given animal makes.
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="Main_Container">
        <div class="col-12 Option_Container">
          <div class="options">
            <div class="option">roars</div>
            <div class="option">neighs</div>
            <div class="option">bleats</div>
            <div class="option">grunts</div>
            <div class="option">hoots</div>
            <div class="option">quacks</div>
            <div class="option">croaks</div>
            <div class="option">trumpets</div>
            <div class="option">crows</div>
            <div class="option">hisses</div>
            <img src="assets/std02-vocabulary-worksheet4/img/bottom-tyre.png" alt="">
          </div>
        </div>
        <div class="col-12 Question_Container">
          <div class="Question_Row">
            <div class="Question">
              <div class="number"><span>1</span></div>
              <div class="content">a duck <input type="text">
                <div class="correct_answer"><span>quacks</span></div>
              </div>
            </div>
            <div class="Question">
              <div class="number"><span>2</span></div>
              <div class="content">a sheep <input type="text">
                <div class="correct_answer"><span>bleats</span></div>
              </div>
            </div>
          </div>
          <div class="Question_Row">
            <div class="Question">
              <div class="number"><span>3</span></div>
              <div class="content">an elephant <input type="text">
                <div class="correct_answer"><span>trumpets</span></div>
              </div>
            </div>
            <div class="Question">
              <div class="number"><span>4</span></div>
              <div class="content">a lion <input type="text">
                <div class="correct_answer"><span>roars</span></div>
              </div>
            </div>
          </div>
          <div class="Question_Row">
            <div class="Question">
              <div class="number"><span>5</span></div>
              <div class="content">a snake <input type="text">
                <div class="correct_answer"><span>hisses</span></div>
              </div>
            </div>
            <div class="Question">
              <div class="number"><span>6</span></div>
              <div class="content">an owl <input type="text">
                <div class="correct_answer"><span>hoots</span></div>
              </div>
            </div>
          </div>
          <div class="Question_Row">
            <div class="Question">
              <div class="number"><span>7</span></div>
              <div class="content">a frog <input type="text">
                <div class="correct_answer"><span>croaks</span></div>
              </div>
            </div>
            <div class="Question">
              <div class="number"><span>8</span></div>
              <div class="content">a horse <input type="text">
                <div class="correct_answer"><span>neighs</span></div>
              </div>
            </div>
          </div>
          <div class="Question_Row">
            <div class="Question">
              <div class="number"><span>9</span></div>
              <div class="content">a rooster <input type="text">
                <div class="correct_answer"><span>crows</span></div>
              </div>
            </div>
            <div class="Question">
              <div class="number"><span>10</span></div>
              <div class="content">a pig <input type="text">
                <div class="correct_answer"><span>grunts</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>

  </div>
</div>