<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 mb-2 mb-lg-3">
				<h2 class="font-weight-bold heading">
					<!-- Click on the blanks and then click on the underlined words given in the sentences and classify them correctly as Helping and Action Verbs.  -->
					Click on the blanks and then click on the underlined words given in the sentences, to classify them correctly as Helping and Action Verbs.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<div class="left-side">
					<!-- 1 -->
					<div class="question">
						<div class="number"><span>1</span></div>
						<div class="text-container"><span>I <u>can</u> <u>ride</u> a horse at the farm.</span></div>
					</div>
					<!-- 2 -->
					<div class="question">
						<div class="number"><span>2</span></div>
						<div class="text-container"><span>My mother <u>is</u> <u>buying</u> me an ice-cream today.</span></div>
					</div>
					<!-- 3 -->
					<div class="question">
						<div class="number"><span>3</span></div>
						<div class="text-container"><span>Tom <u>was</u> <u>chasing</u> Jerry around the house.</span></div>
					</div>
					<!-- 4 -->
					<div class="question">
						<div class="number"><span>4</span></div>
						<div class="text-container"><span>Kate <u>had</u> <u>eaten</u> her lunch by 12 o’clock.</span></div>
					</div>
					<!-- 5 -->
					<div class="question">
						<div class="number"><span>5</span></div>
						<div class="text-container"><span>The boys <u>are</u> <u>practising</u> football on the ground.</span></div>
					</div>
					<!-- 6 -->
					<div class="question">
						<div class="number"><span>6</span></div>
						<div class="text-container"><span>Jake <u>has</u> <u>lost</u> his pencil.</span></div>
					</div>
					<!-- 7 -->
					<div class="question">
						<div class="number"><span>7</span></div>
						<div class="text-container"><span>The students <u>were</u> <u>thinking</u> of the answer.</span></div>
					</div>
					<!-- 8 -->
					<div class="question q8">
						<div class="number"><span>8</span></div>
						<div class="text-container"><span>They <u>have</u> <u>sold</u> all the cupcakes.</span></div>
					</div>
					<!-- end -->
				</div>
				<div class="right-side">
					<div class="helping-action-verb">
						<div class="helping-verb">
							<!-- heading -->
							<div class="answer-heading w-100  font-weight-bold">
								<span>Helping Verbs</span>
							</div>
							<!--  1-->
							<div class="answer">
								<div class="answer-number"><span>1)</span></div>
								<div class="answer-text">
									<div class="input-container">
										<input type="text">
										<div class="correct-answer">
											<span>can</span>
										</div>
									</div>
								</div>
							</div>
							<!-- 2 -->
							<div class="answer">
								<div class="answer-number"><span>2)</span></div>
								<div class="answer-text">
									<div class="input-container">
										<input type="text">
										<div class="correct-answer">
											<span>is</span>
										</div>
									</div>
								</div>
							</div>
							<!-- 3 -->
							<div class="answer">
								<div class="answer-number"><span>3)</span></div>
								<div class="answer-text">
									<div class="input-container">
										<input type="text" >
										<div class="correct-answer">
											<span>was</span>
										</div>
									</div>
								</div>
							</div>
							<!-- 4 -->
							<div class="answer">
								<div class="answer-number"><span>4)</span></div>
								<div class="answer-text">
									<div class="input-container">
										<input type="text">
										<div class="correct-answer">
											<span>had</span>
										</div>
									</div>
								</div>
							</div>
							<!-- 5 -->
							<div class="answer">
								<div class="answer-number"><span>5)</span></div>
								<div class="answer-text">
									<div class="input-container">
										<input type="text">
										<div class="correct-answer">
											<span>are</span>
										</div>
									</div>
								</div>
							</div>
							<!-- 6 -->
							<div class="answer">
								<div class="answer-number"><span>6)</span></div>
								<div class="answer-text">
									<div class="input-container">
										<input type="text">
										<div class="correct-answer">
											<span>has</span>
										</div>
									</div>
								</div>
							</div>
							<!-- 7 -->
							<div class="answer">
								<div class="answer-number"><span>7)</span></div>
								<div class="answer-text">
									<div class="input-container">
										<input type="text">
										<div class="correct-answer">
											<span>were</span>
										</div>
									</div>
								</div>
							</div>
							<!-- 8 -->
							<div class="answer">
								<div class="answer-number"><span>8)</span></div>
								<div class="answer-text">
									<div class="input-container">
										<input type="text">
										<div class="correct-answer">
											<span>have</span>
										</div>
									</div>
								</div>
							</div>
							<!-- end -->
						</div>
						<div class="action-verb">
							<!-- heading -->
							<div class="answer-heading w-100 font-weight-bold">
								<span>Action Verbs</span>
							</div>
							<!--  1-->
							<div class="answer">
								<div class="answer-number"><span>1)</span></div>
								<div class="answer-text">
									<div class="input-container">
										<input type="text" >
										<div class="correct-answer">
											<span>ride</span>
										</div>
									</div>
								</div>
							</div>
							<!-- 2 -->
							<div class="answer">
								<div class="answer-number"><span>2)</span></div>
								<div class="answer-text">
									<div class="input-container">
										<input type="text">
										<div class="correct-answer">
											<span>buying</span>
										</div>
									</div>
								</div>
							</div>
							<!-- 3 -->
							<div class="answer">
								<div class="answer-number"><span>3)</span></div>
								<div class="answer-text">
									<div class="input-container">
										<input type="text" >
										<div class="correct-answer">
											<span>chasing</span>
										</div>
									</div>
								</div>
							</div>
							<!-- 4 -->
							<div class="answer">
								<div class="answer-number"><span>4)</span></div>
								<div class="answer-text">
									<div class="input-container">
										<input type="text">
										<div class="correct-answer">
											<span>eaten</span>
										</div>
									</div>
								</div>
							</div>
							<!-- 5 -->
							<div class="answer">
								<div class="answer-number"><span>5)</span></div>
								<div class="answer-text">
									<div class="input-container">
										<input type="text">
										<div class="correct-answer">
											<span>practising</span>
										</div>
									</div>
								</div>
							</div>
							<!-- 6 -->
							<div class="answer">
								<div class="answer-number"><span>6)</span></div>
								<div class="answer-text">
									<div class="input-container">
										<input type="text">
										<div class="correct-answer">
											<span>lost</span>
										</div>
									</div>
								</div>
							</div>
							<!-- 7 -->
							<div class="answer">
								<div class="answer-number"><span>7)</span></div>
								<div class="answer-text">
									<div class="input-container">
										<input type="text">
										<div class="correct-answer">
											<span>thinking</span>
										</div>
									</div>
								</div>
							</div>
							<!-- 8 -->
							<div class="answer">
								<div class="answer-number"><span>8)</span></div>
								<div class="answer-text">
									<div class="input-container">
										<input type="text">
										<div class="correct-answer">
											<span>sold</span>
										</div>
									</div>
								</div>
							</div>
							<!-- end -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>