<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
              <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide">
              <!-- <img src="" alt="" class="Text fabulous hide"> -->
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
          <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
      <div class="row">
          <div class="heading mt-3">
              <h1>
                  Click on the blanks and then click on the correct words from the help box, to form Compound Words.
              </h1>
          </div>
      </div>
      <div class="row">
          <div class="col-12 Option_Container">
              <table class="table">
                  <tr>
                      <td>box</td>
                      <td>times</td>
                      <td>worm</td>
                      <td>time</td>
                      <td>snake</td>
                  </tr>
                  <tr>
                      <td>walk</td>
                      <td>food</td>
                      <td>out</td>
                      <td>shoe</td>
                      <td>port</td>
                  </tr>
              </table>

          </div>
      </div>
      <div class="row">
          <div class="Question_Container">
              <div class="row">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                      <div class="row Question">
                          <div class="col-3 content">1) earth</div>
                          <div class="col-1">+</div>
                          <div class="col-3"><input type="text" name="" id=""><div class="correct_answer first"><span>worm</span></div></div>
                          <div class="col-1">=</div>
                          <div class="col-4 Answer_Input"><input type="text" name="" id=""><div class="correct_answer second"><span>earthworm</span></div></div>
                          
                      </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                      <div class="row Question">
                              <div class="col-3 content">2) sand</div>
                              <div class="col-1">+</div>
                              <div class="col-3"><input type="text" name="" id=""><div class="correct_answer first"><span>box</span></div></div>
                              <div class="col-1">=</div>
                              <div class="col-4 Answer_Input"><input type="text" name="" id=""><div class="correct_answer second"><span>sandbox</span></div></div>
                              
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                      <div class="row Question">
                          <div class="col-3 content">3) bed</div>
                          <div class="col-1">+</div>
                          <div class="col-3"><input type="text" name="" id=""><div class="correct_answer first"><span>time</span></div></div>
                          <div class="col-1">=</div>
                          <div class="col-4 Answer_Input"><input type="text" name="" id=""><div class="correct_answer second"><span>bedtime</span></div></div>
                          
                      </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                      <div class="row Question">
                              <div class="col-3 content">4) sea</div>
                              <div class="col-1">+</div>
                              <div class="col-3"><input type="text" name="" id=""><div class="correct_answer first"><span>food</span></div></div>
                              <div class="col-1">=</div>
                              <div class="col-4 Answer_Input"><input type="text" name="" id=""><div class="correct_answer second"><span>seafood</span></div></div>
                              
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                      <div class="row Question">
                          <div class="col-3 content">5) horse</div>
                          <div class="col-1">+</div>
                          <div class="col-3"><input type="text" name="" id=""><div class="correct_answer first"><span>shoe</span></div></div>
                          <div class="col-1">=</div>
                          <div class="col-4 Answer_Input"><input type="text" name="" id=""><div class="correct_answer second"><span>horseshoe</span></div></div>
                          
                      </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                      <div class="row Question">
                              <div class="col-3 content">6) rattle</div>
                              <div class="col-1">+</div>
                              <div class="col-3"><input type="text" name="" id=""><div class="correct_answer first"><span>snake</span></div></div>
                              <div class="col-1">=</div>
                              <div class="col-4 Answer_Input"><input type="text" name="" id=""><div class="correct_answer second"><span>rattlesnake</span></div></div>
                              
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                      <div class="row Question">
                          <div class="col-3 content">7) side</div>
                          <div class="col-1">+</div>
                          <div class="col-3"><input type="text" name="" id=""><div class="correct_answer first"><span>walk</span></div></div>
                          <div class="col-1">=</div>
                          <div class="col-4 Answer_Input"><input type="text" name="" id=""><div class="correct_answer second"><span>sidewalk</span></div></div>
                          
                      </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                      <div class="row Question">
                              <div class="col-3 content">8) air</div>
                              <div class="col-1">+</div>
                              <div class="col-3"><input type="text" name="" id=""><div class="correct_answer first"><span>port</span></div></div>
                              <div class="col-1">=</div>
                              <div class="col-4 Answer_Input"><input type="text" name="" id=""><div class="correct_answer second"><span>airport</span></div></div>
                              
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                      <div class="row Question">
                          <div class="col-3 content">9) some</div>
                          <div class="col-1">+</div>
                          <div class="col-3"><input type="text" name="" id=""><div class="correct_answer first"><span>times</span></div></div>
                          <div class="col-1">=</div>
                          <div class="col-4 Answer_Input"><input type="text" name="" id=""><div class="correct_answer second"><span>sometimes</span></div></div>
                          
                      </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                      <div class="row Question">
                              <div class="col-3 content">10) with</div>
                              <div class="col-1">+</div>
                              <div class="col-3"><input type="text" name="" id=""><div class="correct_answer first"><span>out</span></div></div>
                              <div class="col-1">=</div>
                              <div class="col-4 Answer_Input"><input type="text" name="" id=""><div class="correct_answer second"><span>without</span></div></div>
                              
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="btn-row">
          <button class="button myButton">Submit</button>
      </div>
  </div>
</div>