<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 px-2 p-2 mt-3 mb-3">
        <h2 class="font-weight-bold heading">
          Click on the blanks given shapes and then click on the correct Articles from the help box,
          that will be used before the given Nouns.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 p-0">
        <div class="helpbox-container font-weight-bold">
          <div class="row m-0">
            <div class="col-6 p-0">
              <div>
                <span>a</span>
              </div>
            </div>
            <div class="col-6 p-0">
              <div>
                <span>an</span>
              </div>
            </div>
          </div>
        </div>
        <div class="mall-container mt-4 mb-5">
          <div class="clock">
            <img src="assets/std02-articles-worksheet3/img/clock.png" alt="" class="img-fluid">
            <span class="clock-input">
              <span class="input-span">
                <input type="text" maxlength="3">
                <div class="answer-div">
                  <span>a</span>
                </div>
              </span>
              <span class="font-weight-bold">clock</span>
            </span>
          </div>
          <!-- mall Image -->
          <img src="assets/std02-articles-worksheet3/img/Mall.png" alt="" class="img-fluid">
          <!-- mall Image -->
          <!-- book store -->
          <div class="bookstore">
            <img src="assets/std02-articles-worksheet3/img/bookstore.png" alt="" class="img-fluid">
            <span class="bookstore-input">
              <span class="input-span">
                <input type="text" maxlength="3">
                <div class="answer-div">
                  <span>a</span>
                </div>
              </span>
              <span class="font-weight-bold">book store</span>
            </span>
          </div>
          <!-- dress shop -->
          <div class="dress-shop">
            <img src="assets/std02-articles-worksheet3/img/dress-shop.png" alt="" class="img-fluid">
            <span class="dress-shop-input">
              <span class="input-span">
                <input type="text" maxlength="3">
                <div class="answer-div">
                  <span>a</span>
                </div>
              </span>
              <span class="font-weight-bold">dress shop</span>
            </span>
          </div>
          <!-- excalator -->
          <div class="excalator">
            <img src="assets/std02-articles-worksheet3/img/excalator.png" alt="" class="img-fluid">
            <span class="excalator-input">
              <span class="input-span">
                <input type="text" maxlength="3">
                <div class="answer-div">
                  <span>an</span>
                </div>
              </span>
              <span class="font-weight-bold escalator">escalator</span>
            </span>
          </div>
          <!-- family -->
          <div class="family">
            <img src="assets/std02-articles-worksheet3/img/family-1.png" alt="" class="img-fluid">
            <span class="family-input">
              <span class="input-span">
                <input type="text" maxlength="3">
                <div class="answer-div">
                  <span>a</span>
                </div>
              </span>
              <span class="font-weight-bold">family</span>
            </span>
          </div>
          <!-- bench -->
          <div class="bench">
            <img src="assets/std02-articles-worksheet3/img/bench.png" alt="" class="img-fluid">
            <span class="bench-input">
              <span class="input-span">
                <input type="text" maxlength="3">
                <div class="answer-div">
                  <span>a</span>
                </div>
              </span>
              <span class="font-weight-bold">bench</span>
            </span>
          </div>
          <!-- fountain -->
          <div class="fountain">
            <img src="assets/std02-articles-worksheet3/img/fountain-1.png" alt="" class="img-fluid">
            <span class="fountain-input">
              <span class="input-span">
                <input type="text" maxlength="3">
                <div class="answer-div">
                  <span>a</span>
                </div>
              </span>
              <span class="font-weight-bold">fountain</span>
            </span>
          </div>
          <!-- shopping cart -->
          <div class="shopping">
            <img src="assets/std02-articles-worksheet3/img/shopping-cart.png" alt="" class="img-fluid">
            <span class="shopping-input">
              <span class="input-span">
                <input type="text" maxlength="3">
                <div class="answer-div">
                  <span>a</span>
                </div>
              </span>
              <span class="font-weight-bold">shopping mall</span>
            </span>
          </div>
          <!-- end -->

          <!--  -->
        </div>
      </div>
      <div class="btn-row w-100">
        <div class="col-12 text-center">
          <button class="button myButton">Submit</button>

        </div>
      </div>
    </div>
  </div>
</div>