<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>

	<div class="loadingDiv">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 px-2 p-2 mt-3 mb-1 mb-sm-2">
				<h2 class="font-weight-bold heading">
					Click on the blanks and then click on the correct Helping Verbs from the help box, to complete
					the sentences. Use the jumbled alphabets in brackets as clues.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container font-weight-bold">
				<div class="row m-0">
					<div class="col-12 col-sm-8 p-0 order-2 order-sm-0">
						<div class="question-container">
							<div class="row m-0">
								<!-- 1 -->
								<div class="col-12 p-0">
									<div class="question d-flex">
										<div class="number">1)</div>
										<div class="text-container">
											<span>Dinosaurs</span>
											<span class="input-span">
												<input type="text">
											</span>
											<span class="answer-container">
												<span>
													were
												</span>
											</span>
											<span>( rewe ) huge, lizard-like animals
												that lived over 165 millions years ago.</span>
										</div>
									</div>
								</div>
								<!-- 2 -->
								<div class="col-12 p-0">
									<div class="question d-flex">
										<div class="number">2)</div>
										<div class="text-container">
											<span>Fred </span>
											<span class="input-span">
												<input type="text">
											</span>
											<span class="answer-container">
												<span>
													had
												</span>
											</span>
											<span>( adh ) already eaten his dinner
												by the time his dad came home.</span>
										</div>
									</div>
								</div>
								<!-- 3 -->
								<div class="col-12 p-0">
									<div class="question d-flex">
										<div class="number">3)</div>
										<div class="text-container">
											<span>Neil </span>
											<span class="input-span">
												<input type="text">
											</span>
											<span class="answer-container">
												<span>
													will
												</span>
											</span>
											<span>( liwl ) read his story to the class tomorrow.</span>
										</div>
									</div>
								</div>
								<!-- 4 -->
								<div class="col-12 p-0">
									<div class="question d-flex">
										<div class="number">4)</div>
										<div class="text-container">
											<span>What</span>
											<span class="input-span">
												<input type="text">
											</span>
											<span class="answer-container">
												<span>
													does
												</span>
											</span>
											<span>( seod ) the report say?</span>
										</div>
									</div>
								</div>
								<!-- 5 -->
								<div class="col-12 p-0">
									<div class="question d-flex">
										<div class="number">5)</div>
										<div class="text-container">
											<span>We</span>
											<span class="input-span">
												<input type="text">
											</span>
											<span class="answer-container">
												<span>
													shall
												</span>
											</span>
											<span>( lslha ) complete the assignment on time.</span>
										</div>
									</div>
								</div>
								<!-- 6 10 -->
								<!-- 1 -->
								<div class="col-12 p-0">
									<div class="question d-flex">
										<div class="number">6)</div>
										<div class="text-container">
											<span>Those boxes</span>
											<span class="input-span">
												<input type="text">
											</span>
											<span class="answer-container">
												<span>
													are
												</span>
											</span>
											<span> ( rae ) empty.</span>
										</div>
									</div>
								</div>
								<!-- 2 -->
								<div class="col-12 p-0">
									<div class="question d-flex">
										<div class="number">7)</div>
										<div class="text-container">
											<span>There</span>
											<span class="input-span">
												<input type="text">
											</span>
											<span class="answer-container">
												<span>
													was
												</span>
											</span>
											<span> ( swa ) an earthquake in Japan last year.
											</span>
										</div>
									</div>
								</div>
								<!-- 3 -->
								<div class="col-12 p-0">
									<div class="question d-flex">
										<div class="number">8)</div>
										<div class="text-container">
											<span>The teenagers </span>
											<span class="input-span">
												<input type="text">
											</span>
											<span class="answer-container">
												<span>
													have
												</span>
											</span>
											<span>( eahv ) gone dancing tonight.</span>
										</div>
									</div>
								</div>
								<!-- 4 -->
								<div class="col-12 p-0">
									<div class="question d-flex">
										<div class="number">9)</div>
										<div class="text-container">
											<span>I </span>
											<span class="input-span">
												<input type="text">
											</span>
											<span class="answer-container">
												<span>
													am
												</span>
											</span>
											<span>( ma ) going to visit my
												grandparents this weekend.</span>
										</div>
									</div>
								</div>
								<!-- 5 -->
								<div class="col-12 p-0">
									<div class="question d-flex">
										<div class="number">10)</div>
										<div class="text-container">
											<span>Erick</span>
											<span class="input-span">
												<input type="text">
											</span>
											<span class="answer-container">
												<span>
													has
												</span>
											</span>
											<span> ( sha ) just bought a new laptop.</span>
										</div>
									</div>
								</div>
								<!-- end -->
							</div>
						</div>


					</div>
					<div class="col-12 col-sm-4 p-0  order-1 order-sm-0 mb-3 mb-sm-0">
						<div class="helpbox-container">
							<div class="row m-0">
								<div class="col-4 col-sm-6 p-0">
									<div class="helpbox">
										<img src="assets/std03-helping-verbs-worksheet4/img/helpbox-bg.png" alt="" class="img-fluid">
										<div class="help-ans">
											<span>will</span>
										</div>
									</div>
								</div>
								<!--  -->
								<div class="col-4 col-sm-6 p-0">
									<div class="helpbox">
										<img src="assets/std03-helping-verbs-worksheet4/img/helpbox-bg.png" alt="" class="img-fluid">
										<div class="help-ans">
											<span>had</span>
										</div>
									</div>
								</div>
								<div class="col-4 col-sm-6 p-0">
									<div class="helpbox">
										<img src="assets/std03-helping-verbs-worksheet4/img/helpbox-bg.png" alt="" class="img-fluid">
										<div class="help-ans">
											<span>shall</span>
										</div>
									</div>
								</div>
								<div class="col-4 col-sm-6 p-0">
									<div class="helpbox">
										<img src="assets/std03-helping-verbs-worksheet4/img/helpbox-bg.png" alt="" class="img-fluid">
										<div class="help-ans">
											<span>were</span>
										</div>
									</div>
								</div>
								<div class="col-4 col-sm-6 p-0">
									<div class="helpbox">
										<img src="assets/std03-helping-verbs-worksheet4/img/helpbox-bg.png" alt="" class="img-fluid">
										<div class="help-ans">
											<span>does</span>
										</div>
									</div>
								</div>
								<div class="col-4 col-sm-6 p-0">
									<div class="helpbox">
										<img src="assets/std03-helping-verbs-worksheet4/img/helpbox-bg.png" alt="" class="img-fluid">
										<div class="help-ans">
											<span>are</span>
										</div>
									</div>
								</div>
								<div class="col-4 col-sm-6 p-0">
									<div class="helpbox">
										<img src="assets/std03-helping-verbs-worksheet4/img/helpbox-bg.png" alt="" class="img-fluid">
										<div class="help-ans">
											<span>was</span>
										</div>
									</div>
								</div>
								<div class="col-4 col-sm-6 p-0">
									<div class="helpbox">
										<img src="assets/std03-helping-verbs-worksheet4/img/helpbox-bg.png" alt="" class="img-fluid">
										<div class="help-ans">
											<span>am</span>
										</div>
									</div>
								</div>
								<div class="col-4 col-sm-6 p-0">
									<div class="helpbox has">
										<img src="assets/std03-helping-verbs-worksheet4/img/helpbox-bg.png" alt="" class="img-fluid">
										<div class="help-ans">
											<span>has</span>
										</div>
									</div>
								</div>
								<div class="col-4 col-sm-6 p-0 offset-4 offset-sm-0">
									<div class="helpbox have">
										<img src="assets/std03-helping-verbs-worksheet4/img/helpbox-bg.png" alt="" class="img-fluid">
										<div class="help-ans">
											<span>have</span>
										</div>
									</div>
								</div>
								<!-- end -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
	</div>
</div>