
<div class="bg"  ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <img src="" alt="" class="Text fabulous hide">
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row m-0">
            <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
                <h2 class="font-weight-bold heading">
                    Click on the blanks and then click on the correct Prepositions 
                    from the help box, to complete the sentences.
                    
                </h2>
            </div>
        </div>

        <div class="row mb-2">
            <div class="helpbox">
                    <div class="helpbox-ans"><span>behind</span></div>
                    <div class="helpbox-ans"><span>between</span></div>
                    <div class="helpbox-ans"><span>on</span></div>
                    <div class="helpbox-ans"><span>above</span></div>
                    <div class="helpbox-ans"><span>next to</span></div>
                    <div class="helpbox-ans"><span>beside</span></div>
            </div>
        </div>

        <div class="main-question-container">
   
                <!-- 1 -->
                    <div class="question">
                        <div class="number">
                            <span>1)</span>
                        </div>
                        <div class="text-container">
                            <span>Mr. Jones is sitting</span>
                            <div class="input-container">
                                <input type="text" data-text="first">
                                <div class="correct-answer">
                                    <span>on</span>
                                </div>
                            </div>
                            <span>the couch.</span>
                        </div>
                    </div>
                     <!-- 2 -->
                     <div class="question">
                        <div class="number">
                            <span>2)</span>
                        </div>
                        <div class="text-container">
                            <span>Sharon is sitting </span>
                            <div class="input-container">
                                <input type="text" data-text="first">
                                <div class="correct-answer">
                                    <span>between</span>
                                </div>
                            </div>
                            <span>her parents.</span>
                        </div>
                    </div>
                     <!-- 3 -->
                     <div class="question">
                        <div class="number">
                            <span>3)</span>
                        </div>
                        <div class="text-container">
                            <span>Mrs. Jones is sitting </span>
                            <div class="input-container">
                                <input type="text" data-text="first">
                                <div class="correct-answer">
                                    <span>beside</span>
                                </div>
                            </div>
                            <span>Sharon.</span>
                        </div>
                    </div>
                     <!-- 4 -->
                     <div class="question">
                        <div class="number">
                            <span>4)</span>
                        </div>
                        <div class="text-container">
                            <span> There is a table </span>
                            <div class="input-container">
                                <input type="text" data-text="first">
                                <div class="correct-answer">
                                    <span>next to</span>
                                </div>
                            </div>
                            <span>to the couch.</span>
                        </div>
                    </div>
                     <!-- 5 -->
                     <div class="question">
                        <div class="number">
                            <span>5)</span>
                        </div>
                        <div class="text-container">
                            <span>There is fan</span>
                            <div class="input-container">
                                <input type="text" data-text="first">
                                <div class="correct-answer">
                                    <span>above</span>
                                </div>
                            </div>
                            <span>them.</span>
                        </div>
                    </div>
                     <!-- 6 -->
                     <div class="question">
                        <div class="number">
                            <span>6)</span>
                        </div>
                        <div class="text-container">
                            <span>There is a lamp</span>
                            <div class="input-container">
                                <input type="text" data-text="first">
                                <div class="correct-answer">
                                    <span>behind</span>
                                </div>
                            </div>
                            <span>the couch.</span>
                        </div>
                    </div>
        </div>
        <div class="row btn-row">
            <div class="col-12 text-center">
                <button class="button myButton">Submit</button>
            </div>
        </div>
      
</div>
    