
@font-face {
    font-family: "CustomFont";
    src: url(http://completegrammar.com/assets/font/ntailu.ttf) format("truetype");
}
@font-face {
    font-family: "CustomFontBold";
    src: url(http://completegrammar.com/assets/font/ntailub.ttf) format("truetype");
}
@font-face {
    font-family: "rounded-mt-bold";
    src: url(http://completegrammar.com/assets/font/ARLRDBD.ttf) format("truetype");
}
.comma{
    font-family: rounded-mt-bold,'Microsoft New Tai Lue','Arial';
}
.bg{
    font-family: 'CustomFont','Microsoft New Tai Lue','Arial';
    color:#000;
    font-size:23px;
	background: url(/assets/std03-suffix-worksheet2/img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh !important;
    
}
.bd{
    background: #35b92c;
}
h2{
    color:#000;
}
.heading h1{
    padding: 20px 20px 70px 60px;
    font-size: 35px;
    line-height: 1.1;
    font-weight:normal;
}
.heading h1{
	background: url(/assets/std03-suffix-worksheet2/img/heading1.png) no-repeat 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    font-family: rounded-mt-bold,'Microsoft New Tai Lue','Arial';
}
.button{
    margin-top: 57% !important;
    margin-bottom: 10% !important;
}
.answer{
    visibility: hidden;
    position: absolute;
    width: 35px;
    height: 34px;
    margin-left: -40px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #fff;
    color: #35b92c;
    text-align: center;
    font-family: 'CustomFontBold','Microsoft New Tai Lue','Arial';
    -webkit-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	-moz-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.alphabet
{
    cursor: pointer;
}
/*.answer {
    border: 2px solid #000;
    border-radius: 5px;
    background: #fff;
    color: #35b92c;
    text-align: center;
    text-shadow: -1px 0px 0 #000, 0px 0px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding-left: 4%;
    padding-right: 4%;
}*/
.input-span{
    border-bottom: 1px solid #000;
}
input {
    border: 0;
    padding: 0;
    background: transparent;
    outline: 0;
     width:80%;
    text-align:center;
    margin: auto;
    cursor: pointer;
}

.background-image-container
{
    width: 750px;
    margin: auto;
}
.question-container
{
    width: 80%;
    margin: auto;
    margin-top: -555px;
}
.question{
    display: grid;
    grid-template-columns: 55px 45px auto;
    margin-bottom: 17px;
}
.answer-container{
    display: grid;
    grid-template-columns:40px auto;
    cursor: pointer;
}
.input-container
{
    background: url(http://completegrammar.com/assets/std03-suffix-worksheet2/img/input-bg.png) no-repeat;
    width: 42px;
    height: 42px;
    
    background-size: 100%;
    text-align: center;
}
.img-portrait{
    display: none;
}
@media (min-width:100px) and (max-width:639px){
	
    .bg {
        color:#000;
        font-size:14px;
        background: url(http://completegrammar.com/assets/std03-suffix-worksheet2/img/bg_portrait.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;}
    h2{
        font-size: 1.2rem;
    }
    /* .background-image-container > img{
        content: url(../img/question-bg-por.png);
    } */
    .img-portrait{
        display: block;
    }
    .img-landscape{
        display: none;
    }
    .background-image-container{
        width: 350px;
    }
    .question{
        grid-template-columns: 32px 32px auto;
        margin-bottom: 11px;
    }
    .question-container{
        width: 86%;
        margin-top: -365px;
    }
    .input-container{
        width: 30px;
        height: 30px;
    }
    .answer-container{
        grid-template-columns: 25px auto;
        margin-bottom: 4px;
    }
    .answer{
        width: 24px;
        height: 22px;
        margin-left: -25px;
    }
    .button{
        margin-top: 45% !important;
        margin-bottom: 8% !important;
    }
    .heading h1 {
        padding: 22px 10px 40px 30px;
        font-size: 22px;
    }
}
@media (min-width:100px) and (max-width:359px){
    .heading h1 {
        font-size: 20px;
    }
}
@media (min-width:100px) and (max-width:639px) and (orientation:landscape){
    .heading h1 {
        font-size: 20px;
        padding: 15px 10px 50px 30px;
    }
}

@media (min-width: 640px) and (max-width: 767px){
    h2{
        font-size: 1.5rem;
    }
    .container {
        max-width: unset;
    }
    .bg {   font-size: 15px;}
    .background-image-container{
        width: 520px;
    }
    .question{
        grid-template-columns: 38px 35px auto;
        margin-bottom: 8px;
    }
    .question-container{
        margin-top: -386px;
    }
    .input-container{
        width: 30px;
        height: 29px;
    }
    .answer-container{
        grid-template-columns: 25px auto;
        margin-bottom: 20px;
    }
    /* .number,.text-container{
        padding-top: 3px;
    } */
    .answer{
        width: 29px;
        height: 25px;
        margin-left: -33px;
    }
    .button{
        margin-top: 50% !important;
        margin-bottom: 8% !important;
    }
    .heading h1 {
        padding: 15px 20px 50px 35px;
        font-size: 22px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    h2{
        font-size: 1.6rem;
    }
    .container {
        max-width: unset;
    }
    .bg {   font-size: 18px;}
    .background-image-container{
        width: 630px;
    }
    .question{
        grid-template-columns: 40px 45px auto;
        margin-bottom: 15px;
    }
    .question-container{
        margin-top: -465px;
    }
    .input-container{
        width: 35px;
        height: 35px;
    }
    .answer-container{
        grid-template-columns: 25px auto;
        margin-bottom: 23px;
    }
    .answer{
        width: 30px;
        height: 28px;
        margin-left: -35px;
    }
    .button{
        margin-top: 54% !important;
        margin-bottom: 8% !important;
    }
    .heading h1 {
        padding: 16px 20px 60px 45px;
        font-size: 28px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {

    .container {
        max-width: unset;
    }
    .bg {   font-size: 22px;}
    .heading h1 {
        font-size: 30px;
    }
}
@media (min-width: 1200px){
	
	
}
@media (min-width: 992px){
}

@media only screen and (min-width: 768px) and (orientation: portrait) 
{
    .bg {
        color:#000;
        font-size:30px;
        background: url(http://completegrammar.com/assets/std03-suffix-worksheet2/img/bg_portrait.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;}
    h2{
        font-size: 1.2rem;
    }
    /* .background-image-container > img{
        content: url(../img/question-bg-por.png);
    } */
    .img-portrait{
        display: block;
    }
    .img-landscape{
        display: none;
    }
    .background-image-container{
        width: 680px;
    }
    .question{
        grid-template-columns: 45px 45px auto;
        margin-bottom: 11px;
    }
    .question-container{
        width: 86%;
        margin-top: -705px;
    }
    .input-container{
        width: 53px;
         height: 53px;
    }
    .answer-container{
        grid-template-columns: 50px auto;
        margin-bottom: 17px;
    }
    .answer{
        width: 45px;
        height: 40px;
        margin-left: -40px;
    }
    .heading h1 {
        padding: 30px 20px 60px 70px;
        font-size: 36px;
    }
	
}
@media only screen and (min-width: 1024px) and (orientation: portrait) 
{
    .bg {
        color:#000;
        font-size:33px;
        background: url(http://completegrammar.com/assets/std03-suffix-worksheet2/img/bg_portrait.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;}
    h2{
        font-size: 1.2rem;
    }
    /* .background-image-container > img{
        content: url(../img/question-bg-por.png);
    } */
    .img-portrait{
        display: block;
    }
    .img-landscape{
        display: none;
    }
    .background-image-container{
        width: 740px;
    }
    .question{
        grid-template-columns: 55px 55px auto;
        margin-bottom: 11px;
    }
    .question-container{
        width: 86%;
        margin-top: -765px;
    }
    .input-container{
        width: 58px;
         height: 53px;
    }
    .answer-container{
        grid-template-columns: 50px auto;
        margin-bottom: 19px;
    }
    .answer{
        width: 45px;
        height: 40px;
        margin-left: -40px;
    }
    .heading h1 {
        padding: 35px 25px 70px 100px;
        font-size: 45px;
    }
}
@media (max-width: 575px) and (min-width: 100px){
    .question-container {
        margin-top: -335px;
    }
    .background-image-container {
        width: 320px;
    }
    .question {
        margin-bottom: 5px;
    }
}

@media(min-width:1900px){
    .container{
        transform: scale(1.3);
        padding-top: 140px;
    }
    .heading h1 {
        padding: 30px 20px 90px 60px;
    }
    .bg{
        min-height: 118vh !important;
    }
}
@media(orientation:portrait){
    .heading h1{
        background-image: url(/assets/std03-suffix-worksheet2/img/heading_bg_portrait.png);
    }
}
@media(orientation:landscape){
    .heading h1{
        background-image: url(/assets/std03-suffix-worksheet2/img/heading1.png);
    }
}

.loadingDiv {
    position: fixed;;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.4);
    background-image:url('/assets/images/loader.gif');
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    background-size: 85px;
  }

.result{
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:rgba(0,0,0,.8);
    z-index:2147483647;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor:pointer;
}
.result .Box{
    position: relative;
    padding:45px 55px 30px 20px
}
.result .imgBox{
    display:none;
}
.result img{
    max-width:100%;
}
.result .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor:pointer;
}
.result .TextBox h1 {
    font-size: 2.5rem;
    font-family: 'rounded-mt-bold','Microsoft New Tai Lue','Arial';
    margin-top: 0;
	font-weight: normal;
    text-align:center;
    color:#fff;
    -webkit-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	-moz-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	padding:10%;
	max-width:800px;
}
@media(min-width:100px) and (max-width:575px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
    .result .close {
        right: 15px;
    }
}
@media(min-width:576px) and (max-width:767px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
}

.button.playAgain {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:inherit;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.button.playAgain:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.button.playAgain:active {
	position:relative;
	top:1px;
}


#toggle {
    display: block;
    right: 56px;
    top: 35px;
    background: #f3ecec;
    border-radius: 50%;
    border: 4px solid #3b7ee2;
    opacity: 0.7;
    text-align: center;
    padding: 10px;
    
  }

  #toggle:hover
  {
    opacity: 1;
    border: 4px solid #3b7ee2;
    
  }
  
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
  }
  #toggle span {
    position: relative;
    display: inline;
  }
  
  #toggle span
  {
    width: 50px;
    height: 50px;
    text-align: center;
    padding:0%;
  }

  #toggle span img
  {
    width:25px;
    height:25px;
    margin:0;
  }
  
  /* on activation */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
    -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  

  /* menu appearance*/
#menu {
    position: absolute;
    color: #000;
    width: 140px;
    padding: 10px;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0px 3px 11px 1px rgba(27, 24, 24, 0.24);
    font-size: 16px;
    left: -190%;
    z-index: 9;
    text-align: right;
    top: 145%;
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;  
}
.change{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1; 
}
.notchange{
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#menu:after {
    position: absolute;
    top: -20px;
    left: 107px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #ffffff;
}
ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
	white-space:nowrap;
}
li a {
    padding: 5px;
    color: #000;
    text-decoration: none;
    transition: all .2s;
}
li a:hover,
li a:focus {
    background: #1798dc;
    color: #fff;
    text-decoration: none;
}
.menu-block{
    position: fixed;
    right: 46px;
    top: 35px;
    z-index: 2147483646;
    height: 50px;
}
.up {
    transform: rotate(180deg) translateY(0%);
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
} 
@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
}
@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
} 

@media(min-width:100px) and (max-width:575px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:576px) and (max-width:767px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:768px) and (max-width:991px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .menu-block {
        right: 10px;
    }
    #menu:after {
        left: 140px;
    }
    #menu {
        font-size: 18px;
        left: -240%;
        top: 140%;
        width: 175px;
    }
    #toggle {
        height: 53px;
        width: 53px;
        line-height: 48px;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 26px;
    }
    #toggle{
        height: 60px;
        width: 60px;
        line-height: 55px;
        padding: 10px;
    }
    .menu-block {
        right: 20px;
    }
    #menu:after {
        left: 205px;
    }
    #toggle span img {
        width: 33px;
        height: 33px;
        margin: 0;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 30px;
    }
}
@media(min-width:1200px){
	#menu {
        top: 70px;
        left: -135px;
        width: 180px;
        font-size: 18px;
    }
    #menu:after {
        left: 145px;
    }
    #toggle{
        height: 55px;
        width: 55px;
        line-height: 50px;
    }
}





.myButton {
    -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
    -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
    background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437', GradientType=0);
    background-color: #c62d1f;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
    outline: 0 !important;
}

.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
    background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f', GradientType=0);
    background-color: #f24437;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.click {
    color: #3a91de;
}

.hide {
    display: none;
}
.btn-row{
    line-height: 1.18;
}