<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row m-0">
            <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
                <h2 class="font-weight-bold heading">
                    Click on the blanks and then click on the correct Prepositions
                    from the help box, to complete the questions and sentences.

                </h2>
            </div>
        </div>

        <div class="row mb-2">
            <div class="helpbox-container">
                <div class="helpbox-ans">
                    <span>at</span>
                </div>
                <div class="helpbox-ans">
                    <span>in</span>
                </div>
                <div class="helpbox-ans">
                    <span>on</span>
                </div>
            </div>
        </div>


        <div class="main-question-container">

            <!-- 1 -->
            <div class="Question_Container">
                <div class="question">
                    <div class="number">
                        <span>1</span>
                    </div>
                    <div class="text-container">
                        <span>There are four books</span>
                        <div class="input-container">
                            <input type="text">
                            <div class="correct-answer">
                                <span>in</span>
                            </div>
                        </div>
                        <span>her bag.</span>
                    </div>

                </div>
                <div class="img-container">
                    <img src="assets/std01-prepositions-worksheet6/img/p1.png">
                </div>
            </div>
            <!-- 2 -->
            <div class="Question_Container">
                <div class="question">
                    <div class="number">
                        <span>2</span>
                    </div>
                    <div class="text-container">
                        <span>They are going to the beach</span>
                        <div class="input-container">
                            <input type="text" data-text="first">
                            <div class="correct-answer">
                                <span>on</span>
                            </div>
                        </div>
                        <span>Sunday.</span>
                    </div>

                </div>
                <div class="img-container">
                    <img src="assets/std01-prepositions-worksheet6/img/p2.png">
                </div>
            </div>

            <!-- 3 -->
            <div class="Question_Container">
                <div class="question">
                    <div class="number">
                        <span>3</span>
                    </div>
                    <div class="text-container">
                        <span>Shall we meet</span>
                        <div class="input-container">
                            <input type="text" data-text="first">
                            <div class="correct-answer">
                                <span>at</span>
                            </div>
                        </div>
                        <span>the school gate?</span>
                    </div>

                </div>
                <div class="img-container">
                    <img src="assets/std01-prepositions-worksheet6/img/p3.png">
                </div>
            </div>
            <!-- 4 -->
            <div class="Question_Container">
                <div class="question">
                    <div class="number">
                        <span>4</span>
                    </div>
                    <div class="text-container">
                        <span>What time does Jane go for ballet class</span>
                        <div class="input-container">
                            <input type="text" data-text="first">
                            <div class="correct-answer correct-answer4">
                                <span>in</span>
                            </div>
                        </div>
                        <span>the evening?</span>
                    </div>

                </div>
                <div class="img-container">
                    <img src="assets/std01-prepositions-worksheet6/img/p4.png">
                </div>
            </div>
             <!-- 5 -->
             <div class="Question_Container">
                <div class="question">
                    <div class="number">
                        <span>5</span>
                    </div>
                    <div class="text-container">
                        <span>Bob will meet Chris </span>
                        <div class="input-container">
                            <input type="text" data-text="first">
                            <div class="correct-answer">
                                <span>at</span>
                            </div>
                        </div>
                        <span>four o’clock.</span>
                    </div>

                </div>
                <div class="img-container">
                    <img src="assets/std01-prepositions-worksheet6/img/p5.png">
                </div>
            </div>
             <!-- 6 -->
             <div class="Question_Container">
                <div class="question">
                    <div class="number">
                        <span>6</span>
                    </div>
                    <div class="text-container">
                        <span>Cindy’s baby brother is</span>
                        <div class="input-container">
                            <input type="text" data-text="first">
                            <div class="correct-answer">
                                <span>in</span>
                            </div>
                        </div>
                        <span>the cradle.</span>
                    </div>

                </div>
                <div class="img-container">
                    <img src="assets/std01-prepositions-worksheet6/img/p6.png" class="p6-img">
                </div>
            </div>
             <!-- 7 -->
             <div class="Question_Container">
                <div class="question">
                    <div class="number">
                        <span>7</span>
                    </div>
                    <div class="text-container">
                        <span>The florist shop is</span>
                        <div class="input-container">
                            <input type="text" data-text="first">
                            <div class="correct-answer">
                                <span>at</span>
                            </div>
                        </div>
                        <span>the end of the road.</span>
                    </div>

                </div>
                <div class="img-container">
                    <img src="assets/std01-prepositions-worksheet6/img/p7.png">
                </div>
            </div>
             <!-- 8 -->
             <div class="Question_Container">
                <div class="question">
                    <div class="number">
                        <span>8</span>
                    </div>
                    <div class="text-container">
                        <span>His birthday is</span>
                        <div class="input-container">
                            <input type="text" data-text="first">
                            <div class="correct-answer">
                                <span>on</span>
                            </div>
                        </div>
                        <span>Christmas Day.</span>
                    </div>
                    
                </div>
                <div class="img-container">
                    <img src="assets/std01-prepositions-worksheet6/img/p8.png">
                </div>
            </div>
          
        </div>
    </div>
    <div class="row btn-row">
        <div class="col-12 text-center">
            <button class="button myButton">Submit</button>
        </div>
    </div>
</div>
   
    