<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
      <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
		<div class="heading">
			<h1>Click on the blanks and then click on the correct Masculine Gender from the help box, of the given Feminine Gender. Use the jumbled alphabets in the brackets as clues.</h1>
		</div>
      <div class="Main_Container">
          <div class="Option_Container">
              <div class="HelpBox_Div">
                  <div class="helpbox pink">stag</div>
                  <div class="helpbox orange">leopard</div>
                  <div class="helpbox blue">actor</div>
                  <div class="helpbox pink">lad</div>
                  <div class="helpbox orange">drone</div>
                  <div class="helpbox blue">hero</div>
                  <div class="empty first"></div>
                  <div class="helpbox pink">daddy</div>
                  <div class="helpbox orange">uncle</div>
                  <div class="helpbox blue">ram</div>
                  <div class="helpbox pink">husband</div>
                  <div class="empty"></div>
              </div>
          </div>
          <div class="Question_Container">
              <img src="assets/std03-gender-nouns-worksheet5/img/girl.png" alt="" class="girl">
              <div class="Question_Block">
                  <div class="header_row">
                      <div class="header_div">
                          <div class="gender">Masculine Gender</div>
                      </div>
                      <div class="header_div">
                          <div class="gender">Feminine Gender</div>
                      </div>
                  </div>
                  <div class="Question_Row first">
                      <div class="Question_Div">
                          
                          <div class="Question">
                              <div class="number">1)</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>daddy</span></div></div>
                              <div class="content">(ydadd)</div>
                          </div>
                      </div>
                      <div class="option">
                          <div class="alpha">A)</div>
                          <div class="content">mummy</div>
                      </div>
                  </div>
                  <div class="Question_Row second">
                      <div class="Question_Div">
                          <div class="Question">
                              <div class="number">2)</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>leopard</span></div></div>
                              <div class="content">(peorlad)</div>
                          </div>
                      </div>
                      <div class="option">
                          <div class="alpha">B)</div>
                          <div class="content">leopardess</div>
                      </div>
                  </div>
                  <div class="Question_Row third">
                      <div class="Question_Div">
                          <div class="Question">
                              <div class="number">3)</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>uncle</span></div></div>
                              <div class="content">(ceuln)</div>
                          </div>
                      </div>
                      <div class="option">
                          <div class="alpha">C)</div>
                          <div class="content">aunt</div>
                      </div>
                  </div>
                  <div class="Question_Row fourth">
                      <div class="Question_Div">
                          <div class="Question">
                              <div class="number">4)</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>stag</span></div></div>
                              <div class="content">(gsat)</div>
                          </div>
                      </div>
                      <div class="option">
                          <div class="alpha">D)</div>
                          <div class="content">hind</div>
                      </div>
                  </div>
                  <div class="Question_Row fifth">
                      <div class="Question_Div">
                          <div class="Question">
                              <div class="number">5)</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>actor</span></div></div>
                              <div class="content">(rctoa)</div>
                          </div>
                      </div>
                      <div class="option">
                          <div class="alpha">E)</div>
                          <div class="content">actress</div>
                      </div>
                  </div>
                  <div class="Question_Row sixth">
                      <div class="Question_Div">
                          <div class="Question">
                              <div class="number">6)</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>ram</span></div></div>
                              <div class="content">(mra)</div>
                          </div>
                      </div>
                      <div class="option">
                          <div class="alpha">F)</div>
                          <div class="content">ewe</div>
                      </div>
                  </div>
                  <div class="Question_Row seventh">
                      <div class="Question_Div">
                          <div class="Question">
                              <div class="number">7)</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>lad</span></div></div>
                              <div class="content">(dla)</div>
                          </div>
                      </div>
                      <div class="option">
                          <div class="alpha">G)</div>
                          <div class="content">lass</div>
                      </div>
                  </div>
                  <div class="Question_Row eighth">
                      <div class="Question_Div">
                          <div class="Question">
                              <div class="number">8)</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>husband</span></div></div>
                              <div class="content">(sdahnub)</div>
                          </div>
                      </div>
                      <div class="option">
                          <div class="alpha">H)</div>
                          <div class="content">wife</div>
                      </div>
                  </div>
                  <div class="Question_Row nineth">
                      <div class="Question_Div">
                          <div class="Question">
                              <div class="number">9)</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>drone</span></div></div>
                              <div class="content">(rdeon)</div>
                          </div>
                      </div>
                      <div class="option">
                          <div class="alpha">I)</div>
                          <div class="content">bee</div>
                      </div>
                  </div>
                  <div class="Question_Row tenth">
                      <div class="Question_Div">
                          <div class="Question">
                              <div class="number">10)</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>hero</span></div></div>
                              <div class="content">(oher)</div>
                          </div>
                      </div>
                      <div class="option">
                          <div class="alpha">J)</div>
                          <div class="content">heroine</div>
                      </div>
                  </div>
              </div>
              <div class="btn-row">
                  <button class="button myButton">Submit</button>
              </div>
          </div>
      </div>
  </div>
</div>