<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text fabulous hide">
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>

    <div class="loadingDiv">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 Main_Container">
                <!-- start -->
                <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active">1</li>
                        <li data-target="#demo" data-slide-to="1">2</li>
                        <li data-target="#demo" data-slide-to="2">3</li>
                    </ul>
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item first active">
                            <div class="heading mt-4">
                                <h1>Read the given information carefully. Then answer the
                                    questions that follow.</h1>
                            </div>
                            <div class="Information_Block">
                                <div class="story_title">LET US LEARN ABOUT CANADA </div>
                                <div class="Text">
                                    <p>Canada is one the most popular tourist destinations in the world. There are many
                                        attractions
                                        for Canada visitors and kids will love to explore the amazing nature and
                                        wildlife.</p>
                                    <p>Families can go on great canoe trips in the national parks or enjoy skiing
                                        and
                                        snowboarding and other winter fun activities in the mountains. Big
                                        cities such as
                                        Toronto<span class="comma">,</span> Quebec and Vancouver have lots to offer to families travelling with
                                        kids with
                                        stunning museums and wonderful city parks for great outdoor activities such as
                                        cycling<span class="comma">,</span>
                                        climbing<span class="comma">,</span> sledging or iceskating.</p>
                                </div>
                                <div class="facts">Fun Facts About Canada for Kids </div>
                                <div class="About_Container">
                                    <div class="about_row">
                                        <div class="star">*</div>
                                        <div class="div">The capital city of Canada is Ottawa.</div>
                                    </div>
                                    <div class="about_row">
                                        <div class="star">*</div>
                                        <div class="div">Justin Trudeau is the current prime minister of Canada - since
                                            2015.</div>
                                    </div>
                                    <div class="about_row">
                                        <div class="star">*</div>
                                        <div class="div">Canada is the second largest country in the world. Russia is
                                            the largest.</div>
                                    </div>
                                    <div class="about_row">
                                        <div class="star">*</div>
                                        <div class="div">English and French are the official languages of Canada.</div>
                                    </div>
                                    <div class="about_row">
                                        <div class="star">*</div>
                                        <div class="div">83 percent of people are Christian.</div>
                                    </div>
                                    <div class="about_row">
                                        <div class="star">*</div>
                                        <div class="div">The Canadian dollar is the currency in Canada.</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item second ">
                            <div class="mt-4">
                                <div class="Information_Block">
                                    <div class="About_Container">
                                        <div class="about_row">
                                            <div class="star">*</div>
                                            <div class="div">99 percent of adults can read.</div>
                                        </div>
                                        <div class="about_row">
                                            <div class="star">*</div>
                                            <div class="div">People in Canada can expect to live 79 years.</div>
                                        </div>
                                        <div class="about_row">
                                            <div class="star">*</div>
                                            <div class="div">Mount Slogan is the tallest mountain in Canada (5<span class="comma">,</span>959m).
                                            </div>
                                        </div>
                                        <div class="about_row">
                                            <div class="star">*</div>
                                            <div class="div">The longest river in Canada is the Mackenzie River -
                                                1738km.</div>
                                        </div>
                                        <div class="about_row">
                                            <div class="star">*</div>
                                            <div class="div">Great Bear Lake is Canada<span class="comma">’</span>s largest lake.</div>
                                        </div>
                                        <div class="about_row">
                                            <div class="star">*</div>
                                            <div class="div">Canada has a luxury of wild and exotic animals such as the
                                                grizzly bears<span class="comma">,</span> bison<span class="comma">,</span> bobcats<span class="comma">,</span> polar bears<span class="comma">,</span> gray wolves<span class="comma">,</span> moose and many
                                                more.</div>
                                        </div>
                                    </div>
                                    <div class="instruction">Answer the following questions:</div>
                                    <div class="Question_Block one">
                                        <div class="Main_Question_Row">
                                            <div class="number">1)</div>
                                            <div class="content">Click on the blanks and then click on the main big
                                                cities of Canada<span class="comma">,</span> from the boxes. </div>
                                        </div>
                                        <div class="Question_Container">
                                            <div class="Questions">
                                                <div class="Answer_Row">
                                                    <div class="alphabet">a)</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>Toronto</span></div>
                                                    </div>
                                                </div>
                                                <div class="Answer_Row">
                                                    <div class="alphabet">b)</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>Quebec</span></div>
                                                    </div>
                                                </div>
                                                <div class="Answer_Row">
                                                    <div class="alphabet">c)</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>Vancouver</span></div>
                                                    </div>
                                                </div>
                                                <div class="Answer_Row">
                                                    <div class="alphabet">d)</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>Ottawa</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="Option_Container">
                                                <div class="options">
                                                    <div class="option">Ottawa</div>
                                                    <div class="option">Vancouver</div>
                                                    <div class="option">Toronto</div>
                                                    <div class="option">Quebec</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item third ">
                            <div class="mt-4">
                                <div class="Information_Block">
                                        <span>(Click on the blanks and then click on the correct answers from the help
                                                box.)</span>
                                    <div class="Question_Block two">
                                        <div class="Main_Question_Row">
                                            <div class="number">2)</div>
                                            <div class="content">Complete the following:</div>
                                        </div>
                                       
                                        <div class="Question_Container">
                                            <div class="Questions">
                                                <div class="Answer_Row">
                                                    <div class="alphabet">1)</div>
                                                    <div class="content">Capital of Canada</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>Ottawa</span></div>
                                                    </div>
                                                </div>
                                                <div class="Answer_Row">
                                                    <div class="alphabet">2)</div>
                                                    <div class="content">Largest lake of Canada</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>Great Bear Lake</span></div>
                                                    </div>
                                                </div>
                                                <div class="Answer_Row">
                                                    <div class="alphabet">3)</div>
                                                    <div class="content">Longest river of Canada</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>Mackenzie River</span></div>
                                                    </div>
                                                </div>
                                                <div class="Answer_Row">
                                                    <div class="alphabet">4)</div>
                                                    <div class="content">Tallest mountain of Canada</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>Mount Slogan</span></div>
                                                    </div>
                                                </div>
                                                <div class="Answer_Row">
                                                    <div class="alphabet">5)</div>
                                                    <div class="content">Currency of Canada</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>Canadian dollar</span></div>
                                                    </div>
                                                </div>
                                                <div class="Answer_Row">
                                                    <div class="alphabet">6)</div>
                                                    <div class="content">Official languages</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>English and French</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="Option_Container">
                                                <div class="options">
                                                    <div class="option"><span>Canadian</span> <span>dollar</span></div>
                                                    <div class="option"><span>English</span> <span>and French</span>
                                                    </div>
                                                    <div class="option"><span>Mount</span> <span>Slogan</span></div>
                                                    <div class="option"><span>Mackenzie</span> <span>River</span></div>
                                                    <div class="option"><span>Ottawa</span></div>
                                                    <div class="option"><span>Great Bear</span> <span>Lake</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Question_Block three">
                                        <div class="Main_Question_Row">
                                            <div class="number">3)</div>
                                            <div class="content">Write the Adjectives that describe the followings
                                                Nouns.</div>
                                        </div>
                                        <div class="Question_Container">
                                            <div class="Questions">
                                                <div class="Answer_Row">
                                                    <div class="alphabet">a)</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>stunning</span></div>
                                                    </div>
                                                    <div class="content">museums</div>
                                                </div>
                                                <div class="Answer_Row">
                                                    <div class="alphabet">b)</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>wonderful</span></div>
                                                    </div>
                                                    <div class="content">city parks</div>
                                                </div>
                                                <div class="Answer_Row">
                                                    <div class="alphabet">c)</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>exotic</span></div>
                                                    </div>
                                                    <div class="content">animals</div>
                                                </div>
                                            </div>
                                            <div class="Option_Container">
                                                <div class="options">
                                                    <div class="option">exotic</div>
                                                    <div class="option">stunning</div>
                                                    <div class="option">wonderful</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Question_Block four">
                                        <div class="Main_Question_Row">
                                            <div class="number">4)</div>
                                            <div class="content">List the outdoor activites that one can do in Canada.
                                            </div>
                                        </div>
                                        <div class="Question_Container">
                                            <div class="Questions">
                                                <div class="Answer_Row">
                                                    <div class="alphabet">a)</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>cycling</span></div>
                                                    </div>
                                                </div>
                                                <div class="Answer_Row">
                                                    <div class="alphabet">b)</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>climbing</span></div>
                                                    </div>
                                                </div>
                                                <div class="Answer_Row">
                                                    <div class="alphabet">c)</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>sledging</span></div>
                                                    </div>
                                                </div>
                                                <div class="Answer_Row">
                                                    <div class="alphabet">d)</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>ice-skating</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="Option_Container">
                                                <div class="options">
                                                    <div class="option">ice-skating</div>
                                                    <div class="option">sledging</div>
                                                    <div class="option">cycling</div>
                                                    <div class="option">climbing</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Question_Block five">
                                        <div class="Main_Question_Row">
                                            <div class="number">5)</div>
                                            <div class="content">Name the wild animals found in Canada.</div>
                                        </div>
                                        <div class="Question_Container">
                                            <div class="Questions">
                                                <div class="Answer_Row">
                                                    <div class="alphabet">a)</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>grizzly bear</span></div>
                                                    </div>
                                                </div>
                                                <div class="Answer_Row">
                                                    <div class="alphabet">d)</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>polar bear</span></div>
                                                    </div>
                                                </div>
                                                <div class="Answer_Row">
                                                    <div class="alphabet">b)</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>bison</span></div>
                                                    </div>
                                                </div>
                                                <div class="Answer_Row">
                                                    <div class="alphabet">f)</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>gray wolf</span></div>
                                                    </div>
                                                </div>
                                                <div class="Answer_Row">
                                                    <div class="alphabet">c)</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>bobcat</span></div>
                                                    </div>
                                                </div>
                                                <div class="Answer_Row">
                                                    <div class="alphabet">e)</div>
                                                    <div class="input_div"><input type="text">
                                                        <div class="correct_answer"><span>moose</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="Option_Container">
                                                <div class="options">
                                                    <div class="option">bobcat</div>
                                                    <div class="option"><span>grizzly</span> <span>bear</span></div>
                                                    <div class="option">moose</div>
                                                    <div class="option">polar bear</div>
                                                    <div class="option">bison</div>
                                                    <div class="option">gray wolf</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-row col-12">
                                <button class="button myButton">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="carousel-control-prev" data-target="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon arrow-size"></span>
                </a>
                <a class="carousel-control-next" data-target="#demo" data-slide="next">
                    <span class="carousel-control-next-icon arrow-size"></span>
                </a>
            </div>
            <!-- end -->
        </div>
    </div>
</div>