<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
      <div class="Box">
        <div class="imgBox">
          <img src="" alt="" class="Text keep-practicing hide">
          <img src="" alt="" class="Text outstanding hide">
          <img src="" alt="" class="Text brilliant hide">
          <img src="" alt="" class="Text good-work hide">
          <!-- <img src="" alt="" class="Text fabulous hide"> -->
        </div>
        <div class="TextBox">
          <h1></h1>
        </div>
        <img src="assets/images/close.png" alt="" class="close">
      </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 px-2 mb-1 mt-4">

          <h2 class="font-weight-bold">
            Click on the blanks and then click on the correct Interrogative Pronouns or Question Words from the help box,
            to complete the questions.
          </h2>
        </div>
      </div>
      <div class="Main_Container mb-3 mt-2 mt-sm-2">

        <div class="row">
          <div class="col-12 col-sm-1 p-0">
          </div>
          <div class="col-12 col-sm-4 p-1  Order1">
            <img src="assets/std01-interrogative-pronouns-worksheet3/img/helpbox.png" class="img-fluid helpbox-image">
            <div class="helpbox-container">

              <div class="row m-0 ">
                <div class="col-3 p-0">
                  <div class="helpbox">
                    <span>Who</span>
                  </div>
                </div>
                <div class="col-3 p-0">
                  <div class="helpbox">
                    <span>Whose</span>
                  </div>
                </div>
                <div class="col-3 p-0">
                  <div class="helpbox">
                    <span>What</span>
                  </div>
                </div>
                <div class="col-3 p-0">
                  <div class="helpbox">
                    <span>When</span>
                  </div>
                </div>
              </div>
              <div class="row m-0 ">
                <div class="col-3 p-0">
                  <div class="helpbox">
                    <span>Where</span>
                  </div>
                </div>
                <div class="col-3 p-0">
                  <div class="helpbox">
                    <span>Why</span>
                  </div>
                </div>
                <div class="col-3 p-0">
                  <div class="helpbox">
                    <span>Which</span>
                  </div>
                </div>
                <div class="col-3 p-0">
                  <div class="helpbox">
                    <span>How</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-7 Question_Container Order2">
            <div class="col-12 Question_Body ">

              <div class="Question">

                <span class="number-box"> <span>1)</span></span>

                <div class="input-span">
                  <input type="text" name="" id="">
                  <div class="correct-ans"><span>Where</span></div>
                </div>

                <div class="text-container">
                  <span>do you want to go for dinner?
                    I want to go to Pizza Hut.</span>
                </div>
              </div>



              <div class="Question">

                <span class="number-box"> <span>2)</span></span>

                <div class="input-span">
                  <input type="text" name="" id="">
                  <div class="correct-ans"><span>Why</span></div>
                </div>

                <div class="text-container">
                  <span>is Sam late for school? Sam woke up late so he his late for school.</span>
                </div>
              </div>


              <div class="Question">

                <span class="number-box"> <span>3)</span></span>

                <div class="input-span">
                  <input type="text" name="" id="">
                  <div class="correct-ans"><span>Who</span></div>
                </div>

                <div class="text-container">
                  <span>is not coming for the school trip? Anna is not coming for the school trip.</span>
                </div>
              </div>

              <div class="Question">

                <span class="number-box"> <span>4)</span></span>

                <div class="input-span">
                  <input type="text" name="" id="">
                  <div class="correct-ans"><span>How</span></div>
                </div>

                <div class="text-container">
                  <span>is Ben<span class="comma">’</span>s grandfather feeling? Ben<span class="comma">’</span>s
                    grandfather is better today.</span>
                </div>
              </div>

              <div class="Question">

                <span class="number-box"> <span>5)</span></span>

                <div class="input-span">
                  <input type="text" name="" id="">
                  <div class="correct-ans"><span>When</span></div>
                </div>

                <div class="text-container">
                  <span>do you go to play? I go to play at 5 o<span class="comma">’</span>clock.</span>
                </div>
              </div>

              <div class="Question">

                <span class="number-box"> <span>6)</span></span>

                <div class="input-span">
                  <input type="text" name="" id="">
                  <div class="correct-ans"><span>Which</span></div>
                </div>

                <div class="text-container">
                  <span>of these dresses do you like? I like the pink one.</span>
                </div>
              </div>

              <div class="Question">

                <span class="number-box"> <span>7)</span></span>

                <div class="input-span">
                  <input type="text" name="" id="">
                  <div class="correct-ans"><span>What</span></div>
                </div>

                <div class="text-container">
                  <span>is the time now? It is 10 o<span class="comma">’</span>clock.</span>
                </div>
              </div>
              <div class="Question">

                <span class="number-box"> <span>8)</span></span>

                <div class="input-span">
                  <input type="text" name="" id="">
                  <div class="correct-ans"><span>Whose</span></div>
                </div>

                <div class="text-container">
                  <span>is that brown bag on the floor? It is Jason<span class="comma">’</span>s brown bag.</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row btn-row">
        <div class="col-12 text-center">
          <button class="button myButton">Submit</button>
        </div>
      </div>
    </div>
</div>