<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
  </div>

  <div class="container">
      <div class="row">
          <div class="heading one mt-1 mt-lg-3">
              <h1>All days of the week are Proper Nouns.</h1>
          </div>
          <div class="heading two">
              <h1>
                  Click on the blanks and then click on the correct alphabets from the help box, to complete 
                  the Proper Nouns of days of the week.
              </h1>
          </div>
      </div>
      <div class="row">
          <div class="Option_Container col-12">
              <div class="options">
                  <div class="option" data-text=0>S</div>
                  <div class="option" data-text=1>M</div>
                  <div class="option" data-text=2>F</div>
                  <div class="option" data-text=3>T</div>
                  <div class="option" data-text=4>W</div>
                  <div class="option" data-text=5>S</div>
                  <div class="option" data-text=6>T</div>
              </div>
          </div>
          <div class="Question_Container col-12">
              <img src="assets/std01-proper-noun-worksheet2/img/animals.png" alt="" class="img-fluid img_landscape">
              <img src="assets/std01-proper-noun-worksheet2/img/animals_portrait.png" alt="" class="img-fluid d-none img_portrait">
              <div class="sunday day">
                  <input type="text" size=1 maxlength="1"><span>unday</span>
                  <div class="correct_answer">S</div>
              </div>
              <div class="monday day">
                  <input type="text" size=1 maxlength="1"><span>onday</span>
                  <div class="correct_answer">M</div>
              </div>
              <div class="tuesday day">
                  <input type="text" size=1 maxlength="1"><span>uesday</span>
                  <div class="correct_answer">T</div>
              </div>
              <div class="wednesday day">
                  <input type="text" size=1 maxlength="1"><span>ednesday</span>
                  <div class="correct_answer">W</div>
              </div>
              <div class="thursday day">
                  <input type="text" size=1 maxlength="1"><span>hursday</span>
                  <div class="correct_answer">T</div>
              </div>
              <div class="friday day">
                  <input type="text" size=1 maxlength="1"><span>riday</span>
                  <div class="correct_answer">F</div>
              </div>
              <div class="saturday day">
                  <input type="text" size=1 maxlength="1"><span>aturday</span>
                  <div class="correct_answer">S</div>
              </div>
          </div>
          <div class="btn-row col-12">
              <button class="button myButton">Submit</button>
          </div>
  </div>
  </div>
</div>