<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
    <div class="loadingDiv">
	</div>
	
    <div class="container">
		<div class="heading mt-3">
			<h1>Click on the blanks and then click on the correct Rhyming Words from the help box<span class="comma">,</span> to complete the poem.</h1>
		</div>
        <div class="row Main_Container">
            <div class="Option_Container">
                <div class="options">
                    <div class="option">out</div>
                    <div class="option">shout</div>
                    <div class="option">spout</div>
                    <div class="option">stout</div>
                </div>
            </div>
            <div class="Question_Container">
                <img src="assets/std01-rhyming-words-worksheet12/img/Question_bg.png" alt="" class="landscape">
                <img src="assets/std01-rhyming-words-worksheet12/img/Question_bg_portrait.png" alt="" class="portrait">
                <div class="header">Teapot</div>
                <div class="Question_Block">
                    <div class="line">I am a little teapot</div>
                    <div class="line">Short and <div class="input_div"><input type="text"><div class="correct_answer"><span>stout</span></div></div>.</div>
                    <div class="line">This is my handle.</div>
                    <div class="line">And this is my <div class="input_div"><input type="text"><div class="correct_answer"><span>spout</span></div></div>.</div>
                    <div class="line">When water is boiling.</div>
                    <div class="line">Hear me <div class="input_div"><input type="text"><div class="correct_answer"><span>shout</span></div></div>.</div>
                    <div class="line">“Just lift me up</div>
                    <div class="line">And pour me <div class="input_div"><input type="text"><div class="correct_answer"><span>out</span></div></div>.”</div>
                </div>
				<div class="btn-row">
					<button class="button myButton">Submit</button>
				</div>
            </div>
		</div>
       
    </div>
</div>
