<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
	
	<div class="loadingDiv">
	</div>
	
	<div class="container">
		<div class="row">
			<div class="heading">
				<h1>Click in the correct arrows of ‘Yes’ and ‘No’ to colour them, that identifies the given words as Antonyms.</h1>
			</div>
		</div>
		<div class="row Main_Container">
			<div class="col-12 Question_Container">
				<div class="Question_Block">
					<div class="Main_Row">
						<div class="Question_Row">
							<div class="Question">
								<div class="number"><span>1)</span></div>
								<div class="words">
									<div class="wordbox">
										<div class="word">borrow</div>
									</div>
									<div class="cross_div">
										<div class="cross"><img src="assets/std02-antonyms-worksheet2/img/cross.png" alt=""></div>
									</div>
									<div class="wordbox">
										<div class="word">lend</div>
									</div>
								</div>
							</div>
							<div class="Options">
								<div class="option_Block">
									<div class="option left_arrow correct">Yes</div>
									<div class="option right_arrow">No</div>
								</div>
							</div>
						</div>
						<div class="Question_Row">
							<div class="Question">
								<div class="number"><span>2)</span></div>
								<div class="words">
									<div class="wordbox">
										<div class="word">early</div>
									</div>
									<div class="cross_div">
										<div class="cross"><img src="assets/std02-antonyms-worksheet2/img/cross.png" alt=""></div>
									</div>
									<div class="wordbox">
										<div class="word">late</div>
									</div>
								</div>
							</div>
							<div class="Options">
								<div class="option_Block">
									<div class="option left_arrow correct">Yes</div>
									<div class="option right_arrow">No</div>
								</div>
							</div>
						</div>
					</div>
					<div class="Main_Row">
						<div class="Question_Row">
							<div class="Question">
								<div class="number"><span>3)</span></div>
								<div class="words">
									<div class="wordbox">
										<div class="word">fail</div>
									</div>
									<div class="cross_div">
										<div class="cross"><img src="assets/std02-antonyms-worksheet2/img/cross.png" alt=""></div>
									</div>
									<div class="wordbox">
										<div class="word">take</div>
									</div>
								</div>
							</div>
							<div class="Options">
								<div class="option_Block">
									<div class="option left_arrow">Yes</div>
									<div class="option right_arrow correct">No</div>
								</div>
							</div>
						</div>
						<div class="Question_Row">
							<div class="Question">
								<div class="number"><span>4)</span></div>
								<div class="words">
									<div class="wordbox">
										<div class="word">sunrise</div>
									</div>
									<div class="cross_div">
										<div class="cross"><img src="assets/std02-antonyms-worksheet2/img/cross.png" alt=""></div>
									</div>
									<div class="wordbox">
										<div class="word">sunset</div>
									</div>
								</div>
							</div>
							<div class="Options">
								<div class="option_Block">
									<div class="option left_arrow correct">Yes</div>
									<div class="option right_arrow">No</div>
								</div>
							</div>
						</div>
					</div>
					<div class="Main_Row">
						<div class="Question_Row">
							<div class="Question">
								<div class="number"><span>5)</span></div>
								<div class="words">
									<div class="wordbox">
										<div class="word">out</div>
									</div>
									<div class="cross_div">
										<div class="cross"><img src="assets/std02-antonyms-worksheet2/img/cross.png" alt=""></div>
									</div>
									<div class="wordbox">
										<div class="word">off</div>
									</div>
								</div>
							</div>
							<div class="Options">
								<div class="option_Block">
									<div class="option left_arrow">Yes</div>
									<div class="option right_arrow correct">No</div>
								</div>
							</div>
						</div>
						<div class="Question_Row">
							<div class="Question">
								<div class="number"><span>6)</span></div>
								<div class="words">
									<div class="wordbox">
										<div class="word">top</div>
									</div>
									<div class="cross_div">
										<div class="cross"><img src="assets/std02-antonyms-worksheet2/img/cross.png" alt=""></div>
									</div>
									<div class="wordbox">
										<div class="word">above</div>
									</div>
								</div>
							</div>
							<div class="Options">
								<div class="option_Block">
									<div class="option left_arrow">Yes</div>
									<div class="option right_arrow correct">No</div>
								</div>
							</div>
						</div>
					</div>
					<div class="Main_Row">
						<div class="Question_Row">
							<div class="Question">
								<div class="number"><span>7)</span></div>
								<div class="words">
									<div class="wordbox">
										<div class="word">kind</div>
									</div>
									<div class="cross_div">
										<div class="cross"><img src="assets/std02-antonyms-worksheet2/img/cross.png" alt=""></div>
									</div>
									<div class="wordbox">
										<div class="word">cruel</div>
									</div>
								</div>
							</div>
							<div class="Options">
								<div class="option_Block">
									<div class="option left_arrow correct">Yes</div>
									<div class="option right_arrow">No</div>
								</div>
							</div>
						</div>
						<div class="Question_Row">
							<div class="Question">
								<div class="number"><span>8)</span></div>
								<div class="words">
									<div class="wordbox">
										<div class="word">easy</div>
									</div>
									<div class="cross_div">
										<div class="cross"><img src="assets/std02-antonyms-worksheet2/img/cross.png" alt=""></div>
									</div>
									<div class="wordbox">
										<div class="word">below</div>
									</div>
								</div>
							</div>
							<div class="Options">
								<div class="option_Block">
									<div class="option left_arrow">Yes</div>
									<div class="option right_arrow correct">No</div>
								</div>
							</div>
						</div>
					</div>
					<div class="Main_Row">
						<div class="Question_Row">
							<div class="Question">
								<div class="number"><span>9)</span></div>
								<div class="words">
									<div class="wordbox">
										<div class="word">cold</div>
									</div>
									<div class="cross_div">
										<div class="cross"><img src="assets/std02-antonyms-worksheet2/img/cross.png" alt=""></div>
									</div>
									<div class="wordbox">
										<div class="word">warm</div>
									</div>
								</div>
							</div>
							<div class="Options">
								<div class="option_Block">
									<div class="option left_arrow">Yes</div>
									<div class="option right_arrow correct">No</div>
								</div>
							</div>
						</div>
						<div class="Question_Row">
							<div class="Question">
								<div class="number"><span>10)</span></div>
								<div class="words">
									<div class="wordbox">
										<div class="word">dead</div>
									</div>
									<div class="cross_div">
										<div class="cross"><img src="assets/std02-antonyms-worksheet2/img/cross.png" alt=""></div>
									</div>
									<div class="wordbox">
										<div class="word">alive</div>
									</div>
								</div>
							</div>
							<div class="Options">
								<div class="option_Block">
									<div class="option left_arrow correct">Yes</div>
									<div class="option right_arrow">No</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
		
	</div>
</div>