<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
<div class="imgBox">
<img src="" alt="" class="Text keep-practicing hide">
<img src="" alt="" class="Text outstanding hide">
<img src="" alt="" class="Text brilliant hide">
<img src="" alt="" class="Text good-work hide">
<!-- <img src="" alt="" class="Text fabulous hide"> -->
</div>
        <div class="TextBox">
            <h1></h1>
        </div>
        <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 px-2 mb-1 mb-sm-4 mt-3">

        <h2 class="font-weight-bold">
          Click in the boxes and then click on the correct Punctuation Marks from the help box, to complete the sentences.
        </h2>
      </div>
    </div>

    <div class="col-12 helpbox">
        <div class="row mb-2">
          <div class="col-4"><div class="helpbox-ans"><span>?</span></div></div>
          <div class="col-4"><div class="helpbox-ans"><span>.</span></div></div>
          <div class="col-4"><div class="helpbox-ans"><span>!</span></div></div>
        </div>
        
    </div>


    <div class="Main_Container mb-3">

      <div class="row">

      <div class="col-12 col-sm-6 p-3 form-contain">
              <span class="number-box">1)</span>
                <div class="text-container ml-2">
                    <span>It is snowing</span>
                    <span class="input-span"><input type="text" maxlength="1"></span>
                    <span class="answer-span"><span class="answer">!</span></span>							
                </div>		
          </div>

          <div class="col-12 col-sm-6 p-3 form-contain">
            <span class="number-box">2)</span>
              <div class="text-container ml-2">
                  <span>Alison is my best friend</span>							
                  <span class="input-span"><input type="text" maxlength="1"></span>
                  <span class="answer-span"><span class="answer">.</span></span>
            
              </div>		
          </div>

          <div class="col-12 col-sm-6 p-3 form-contain">
          <span class="number-box">3)</span>
            <div class="text-container ml-2">
                <span>Do I know you</span>
                
                <span class="input-span"><input type="text" maxlength="1"></span>
                <span class="answer-span"><span class="answer">?</span></span>
          
            </div>		
          </div>

          <div class="col-12 col-sm-6 p-3 form-contain">
        <span class="number-box">4)</span>
          <div class="text-container ml-2">
              <span>A cat is following Sam</span>
                  
              <span class="input-span"><input type="text" maxlength="1"></span>
              <span class="answer-span"><span class="answer">.</span></span>
              
        
          </div>		
          </div>

          <div class="col-12 col-sm-6 p-3 form-contain">
      <span class="number-box">5)</span>
        <div class="text-container ml-2">
            <span>What a lovely hat it is</span>
                    
            <span class="input-span"><input type="text" maxlength="1"></span>
            <span class="answer-span"><span class="answer">!</span></span>
      
        </div>		
          </div>

          <div class="col-12 col-sm-6 p-3 form-contain">
              <span class="number-box">6)</span>
                <div class="text-container ml-2">
                  <span>May I borrow a pencil</span>

                  <span class="input-span"><input type="text" maxlength="1"></span>
                  <span class="answer-span"><span class="answer">?</span></span>
    
          </div>		
          </div>



        <div class="col-12 col-sm-6 p-3 form-contain">
              <span class="number-box">7)</span>
                <div class="text-container ml-2">
                  <span>Yippee</span>
                  
                  <span class="input-span"><input type="text" maxlength="1"></span>
                  <span class="answer-span1 answer-span"><span class="answer">!</span></span>
                  <span>We are the champions</span>
                  
                  <span class="input-span"><input type="text" maxlength="1"></span>
                  <span class="answer-span"><span class="answer">!</span></span>
              
                </div>		
          </div>

          <div class="col-12 col-sm-6 p-3 form-contain">

              <span class="number-box">8)</span>
                <div class="text-container ml-2">		
                  <span>There are many volcanoes in Japan</span>										
                  <span class="input-span"><input type="text" maxlength="1"></span>
                  <span class="answer-span"><span class="answer">.</span></span>
                </div>	
            
          </div> 
  </div>



    </div>

    <div class="row mb-3">
      <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>
</div>
  

