<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
      <div class="Box">
              <div class="imgBox">
          <img src="" alt="" class="Text keep-practicing hide">
          <img src="" alt="" class="Text outstanding hide">
          <img src="" alt="" class="Text brilliant hide">
          <img src="" alt="" class="Text good-work hide">
          <!-- <img src="" alt="" class="Text fabulous hide"> -->
        </div>
        <div class="TextBox">
          <h1></h1>
        </div>
        <img src="assets/images/close.png" alt="" class="close">
      </div>
    </div>
    
    <div class="loadingDiv">
    </div>
	
    <div class="container">
      <div class="heading mt-3">
        <h1>Click in the boxes given beside the alphabets and then click on the correct Antonyms from Column B, of the words given in Column A.</h1>
      </div>
        <div class="Main_Container">
            <div class="Header_Row">
                <div class="header">Column A</div>
                <div class="header">Column B</div>
            </div>
            <div class="Question_Block">
                <div class="Main_Row">
                    <div class="Answer_Block">
                        <div class="Answer_div"><input type="text"></div>
                        <div class="correct_answer">2</div>
                    </div>
                    <div class="Question_div">
                        <div class="Question_Row">
                            <div class="Question">
                                <div class="list_item">
                                    <div class="alpha"><img src="assets/std02-antonyms-worksheet3/img/list_item_bg.png" alt=""> <span>A</span></div>
                                </div>
                                <div class="content">sink</div>
                            </div>
                            <div class="option">
                                <div class="list_item">
                                    <div class="number"><img src="assets/std02-antonyms-worksheet3/img/list_item_bg.png" alt=""> <span>1</span></div>
                                </div>
                                <div class="content">moon</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Main_Row">
                    <div class="Answer_Block">
                        <div class="Answer_div"><input type="text"></div>
                        <div class="correct_answer">6</div>
                    </div>
                    <div class="Question_div">
                        <div class="Question_Row">
                            <div class="Question">
                                <div class="list_item">
                                    <div class="alpha"><img src="assets/std02-antonyms-worksheet3/img/list_item_bg.png" alt=""> <span>B</span></div>
                                </div>
                                <div class="content">loose</div>
                            </div>
                            <div class="option">
                                <div class="list_item">
                                    <div class="number"><img src="assets/std02-antonyms-worksheet3/img/list_item_bg.png" alt=""> <span>2</span></div>
                                </div>
                                <div class="content">float</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Main_Row">
                    <div class="Answer_Block">
                        <div class="Answer_div"><input type="text"></div>
                        <div class="correct_answer">8</div>
                    </div>
                    <div class="Question_div">
                        <div class="Question_Row">
                            <div class="Question">
                                <div class="list_item">
                                    <div class="alpha"><img src="assets/std02-antonyms-worksheet3/img/list_item_bg.png" alt=""> <span>C</span></div>
                                </div>
                                <div class="content">awake</div>
                            </div>
                            <div class="option">
                                <div class="list_item">
                                    <div class="number"><img src="assets/std02-antonyms-worksheet3/img/list_item_bg.png" alt=""> <span>3</span></div>
                                </div>
                                <div class="content">over</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Main_Row">
                    <div class="Answer_Block">
                        <div class="Answer_div"><input type="text"></div>
                        <div class="correct_answer">7</div>
                    </div>
                    <div class="Question_div">
                        <div class="Question_Row">
                            <div class="Question">
                                <div class="list_item">
                                    <div class="alpha"><img src="assets/std02-antonyms-worksheet3/img/list_item_bg.png" alt=""> <span>D</span></div>
                                </div>
                                <div class="content">polite</div>
                            </div>
                            <div class="option">
                                <div class="list_item">
                                    <div class="number"><img src="assets/std02-antonyms-worksheet3/img/list_item_bg.png" alt=""> <span>4</span></div>
                                </div>
                                <div class="content">sell</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Main_Row">
                    <div class="Answer_Block">
                        <div class="Answer_div"><input type="text"></div>
                        <div class="correct_answer">3</div>
                    </div>
                    <div class="Question_div">
                        <div class="Question_Row">
                            <div class="Question">
                                <div class="list_item">
                                    <div class="alpha"><img src="assets/std02-antonyms-worksheet3/img/list_item_bg.png" alt=""> <span>E</span></div>
                                </div>
                                <div class="content">under</div>
                            </div>
                            <div class="option">
                                <div class="list_item">
                                    <div class="number"><img src="assets/std02-antonyms-worksheet3/img/list_item_bg.png" alt=""> <span>5</span></div>
                                </div>
                                <div class="content">found</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Main_Row">
                    <div class="Answer_Block">
                        <div class="Answer_div"><input type="text"></div>
                        <div class="correct_answer">4</div>
                    </div>
                    <div class="Question_div">
                        <div class="Question_Row">
                            <div class="Question">
                                <div class="list_item">
                                    <div class="alpha"><img src="assets/std02-antonyms-worksheet3/img/list_item_bg.png" alt=""> <span>F</span></div>
                                </div>
                                <div class="content">buy</div>
                            </div>
                            <div class="option">
                                <div class="list_item">
                                    <div class="number"><img src="assets/std02-antonyms-worksheet3/img/list_item_bg.png" alt=""> <span>6</span></div>
                                </div>
                                <div class="content">tight</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Main_Row">
                    <div class="Answer_Block">
                        <div class="Answer_div"><input type="text"></div>
                        <div class="correct_answer">1</div>
                    </div>
                    <div class="Question_div">
                        <div class="Question_Row">
                            <div class="Question">
                                <div class="list_item">
                                    <div class="alpha"><img src="assets/std02-antonyms-worksheet3/img/list_item_bg.png" alt=""> <span>G</span></div>
                                </div>
                                <div class="content">sun</div>
                            </div>
                            <div class="option">
                                <div class="list_item">
                                    <div class="number"><img src="assets/std02-antonyms-worksheet3/img/list_item_bg.png" alt=""> <span>7</span></div>
                                </div>
                                <div class="content">rude</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Main_Row">
                    <div class="Answer_Block">
                        <div class="Answer_div"><input type="text"></div>
                        <div class="correct_answer">5</div>
                    </div>
                    <div class="Question_div">
                        <div class="Question_Row">
                            <div class="Question">
                                <div class="list_item">
                                    <div class="alpha"><img src="assets/std02-antonyms-worksheet3/img/list_item_bg.png" alt=""> <span>H</span></div>
                                </div>
                                <div class="content">lost</div>
                            </div>
                            <div class="option">
                                <div class="list_item">
                                    <div class="number"><img src="assets/std02-antonyms-worksheet3/img/list_item_bg.png" alt=""> <span>8</span></div>
                                </div>
                                <div class="content">asleep</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="btn-row">
        <button class="button myButton">Submit</button>
      </div>
    </div>
</div>