.font-weight-bold {
    font-weight: normal !important;
}
@font-face {
    font-family: "mt-rounded-bold";
    src: url(/assets/font/ARLRDBD.ttf) format("truetype");
}
.comma{
    font-family: mt-rounded-bold,'Microsoft New Tai Lue','Arial';
}
.bg{
    font-family: 'mt-rounded-bold','Microsoft New Tai Lue','Arial';
    color:#000;
    font-size:24px;
    min-height: 100vh !important;
}
.hide{
    display: none;
}
h2{
    color:#000;
}
.heading{
    padding-left: 10px;
    padding-right: 10px;
    font-family: mt-rounded-bold,'Microsoft New Tai Lue','Arial';
}
.helpbox-container .col-12 div{
    text-align: center;
    border: 2px solid #000;
    border-radius: 30px;
    margin: auto;
    background: #fff;
    width: 75%;
    margin-top: 20px;
}
.number{
    width: 45px;
    text-align: center;
}

input {
    border: 0;
    padding: 0;
    background: transparent;
    outline: 0;
    width: 85px;
    text-align: center;
    margin: auto;
    cursor:pointer;
    border-bottom: 1px solid #000;
}

.answer-container
{
    position: absolute;
    margin-left: -85px;
    width: 85px;
    text-align: center;
    margin-top: -27px;
    font-size: 22px;
    display:none;
}
.answer-container span
{
    display: inline-block;
    line-height: 1;
    border: 2px solid #000;
    border-radius: 5px;
    background: #fff;
    color: #35b92c;
    text-align: center;
    /* text-shadow: -1px 0px 0 #000, 0px 0px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    -webkit-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	-moz-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    padding-left: 4px;
    padding-right: 4px;
}
/*.answer {
    border: 2px solid #000;
    border-radius: 5px;
    background: #fff;
    color: #35b92c;
    text-align: center;
    text-shadow: -1px 0px 0 #000, 0px 0px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding-left: 4%;
    padding-right: 4%;
}*/
.main-question-container{
    width: 100%;
    margin:auto;
    margin-bottom: 10px;
}


.question{
    margin-bottom: 27px;
}
.question-container,.heading{
    background: rgba(255,255,255,0.6);
}
.may{
    margin-top:10px;
}
.bd{
    border-bottom:2px solid #20bb15;
}
.btn-row{
    position: relative;
    margin-top:20px;
    padding-bottom:10px;
    text-align:center;
}
.option{
    cursor:pointer;
}
.click {
    color: #007bff;
}
input{
    line-height: 27px;
}
@media (min-width:100px) and (max-width:320px){
    
}

@media (min-width:100px) and (max-width:575px){
	
    .bg{ 
        color:#000;
        font-size:14px;
        height: 100%;}
    h2{
        font-size: 1.2rem;
    }
    .main-question-container{
        width: 96%;
    }
    .set-bg{
        background: rgba(255,255,255,0.6);
    }
    .number {
        width: 26px;
      
    }
    .question {
        margin-bottom: 22px;
    }
    .helpbox-container{
        margin-bottom: 20px;
    }
    .helpbox-container .col-12 div {
        margin-top: 25px;
        margin-bottom: unset;
    }
    input{
        width: 55px;
        line-height: 15px;
    }
    .answer-container
    {
        margin-left: -55px;
        width: 55px;
        margin-top: -20px;
        font-size: 14px;
    }
}
@media (min-width:550px) and (max-width:575px){
    .helpbox-container .col-12 div {
        margin-top: 17px;
        margin-bottom: unset;
        width: 65%;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    h2{
        font-size: 1.4rem;
    }
    .container {
        max-width: unset;
    }
    .bg {   font-size: 16px;}
    .question-container{
        width: 90%;
        float: right;
    }
    .number {
        width: 26px;
    }
    .question {
        margin-bottom: 21px;
    }
    .helpbox-container .col-12 div {
      
        margin-top: 15px;
        margin-bottom: unset;
    }
    input{
        width: 50px;
        line-height: 17px;
    }
    .answer-container
    {
        margin-left: -50px;
        width: 50px;
        margin-top: -20px;
        font-size: 15px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .container {
        max-width: unset;
    }
    h2{
        font-size: 1.5rem;
    }
    .bg {   font-size: 17px;}
    .question-container{
        width: 85%;
        float: right;
    }
    .number {
        width: 30px;
    }
    .question {
        margin-bottom: 24px;
    }
    .helpbox-container .col-12 div {
        margin-top: 17px;
        margin-bottom: unset;
    }
    input{
        width: 55px;
        line-height: 18px;
    }
    .answer-container
    {
        margin-left: -55px;
        width: 55px;
        margin-top: -23px;
        font-size: 16px;
    }

}
@media (min-width: 992px) and (max-width: 1199px) {
    h2{
        font-size: 1.7rem;
    }
    input{
        width: 65px;
        line-height: 21px;
    }
    .bg { font-size: 20px;}
    .container {
        max-width: unset;
    }
    .question-container{
        width: 90%;
        float: right;
    }
    .question {
        margin-bottom: 28px;
    }
    .answer-container
    {
        margin-left: -65px;
        width: 65px;
        margin-top: -25px;
        font-size: 18px;
    }
}
@media (min-width: 1200px){
	.question-container{
        width: 95%;
        float: right;
    }
    .heading {
        margin: 2vh 0 3vh;
    }
    .question {
        margin-bottom: 4.5vh;
    }
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
	.bg{
		font-size:27px;
    }
	h2 {
        font-size: 35px;
    }
    .myButton{
        font-size:30px;
    }
    .question-container {
        width: 98%;
        float: right;
    }
    .number {
        width: 50px;
    }
    input {
        width: 85px;
        line-height: 28px;
    }
    .helpbox-container .col-12 div {
        margin-top: 30px;
        margin-bottom: unset;
    }
    .answer-container {
        margin-left: -90px;
        width: 85px;
        margin-top: -27px;
        font-size: 25px;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	.bg{
        font-size:35px;
    }
    .heading h1{
        font-size:40px;
    }
    .myButton{
        font-size:35px;
    }
    input {
        line-height: 36px;
    }
}
@media(min-width:1900px){
    .bg{
        font-size: 30px;
    }
    .container{
        max-width: 1500px;
    }
     h2{
        font-size: 40px;
    }
    .answer-container {
        position: absolute;
        margin-left: -90px;
        width: 90px;
        text-align: center;
        margin-top: -32px;
        font-size: 27px;
    }
    input{
        width: 90px;
    }
    .helpbox-container .col-12 div {
        margin-top: 40px;
    }
}
.loadingDiv {
    position: fixed;;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.4);
    background-image:url('/assets/images/loader.gif');
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    background-size: 85px;
  }

.result{
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:rgba(0,0,0,.8);
    z-index:2147483647;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor:pointer;
}
.result .Box{
    position: relative;
    padding:45px 55px 30px 20px
}
.result .imgBox{
    display:none;
}
.result img{
    max-width:100%;
}
.result .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor:pointer;
}
.result .TextBox h1 {
    font-size: 2.5rem;
    font-family: 'mt-rounded-bold','Microsoft New Tai Lue','Arial';
    margin-top: 0;
	font-weight: normal;
    text-align:center;
    color:#fff;
    -webkit-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	-moz-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	padding:10%;
	max-width:800px;
}
@media(min-width:100px) and (max-width:575px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
    .result .close {
        right: 15px;
    }
}
@media(min-width:576px) and (max-width:767px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
}

.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:inherit;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	line-height: 1;
	outline:0 !important;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}
.button.playAgain {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:inherit;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.button.playAgain:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.button.playAgain:active {
	position:relative;
	top:1px;
}


#toggle {
    display: block;
    right: 56px;
    top: 35px;
    background: #f3ecec;
    border-radius: 50%;
    border: 4px solid #3b7ee2;
    opacity: 0.7;
    text-align: center;
    padding: 10px;
    
  }

  #toggle:hover
  {
    opacity: 1;
    border: 4px solid #3b7ee2;
    
  }
  
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
  }
  #toggle span {
    position: relative;
    display: inline;
  }
  
  #toggle span
  {
    width: 50px;
    height: 50px;
    text-align: center;
    padding:0%;
  }

  #toggle span img
  {
    width:25px;
    height:25px;
  }
  
  /* on activation */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
    -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  

  /* menu appearance*/
#menu {
    position: absolute;
    color: #000;
    width: 140px;
    padding: 10px;
    border-radius: 4px;
    background: #ffffffeb;
    box-shadow: 0px 3px 11px 1px rgba(27, 24, 24, 0.24);
    font-size: 16px;
    left: -190%;
    z-index: 9;
    text-align: right;
    top: 145%;
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;  
}
.change{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1; 
}
.notchange{
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#menu:after {
    position: absolute;
    top: -20px;
    left: 107px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #ffffffb3;
}
ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}
li a {
    padding: 5px;
    color: #000;
    text-decoration: none;
    transition: all .2s;
}
li a:hover,
li a:focus {
    background: #1798dc;
    color: #fff;
    text-decoration: none;
}
.menu-block{
    position: fixed;
    right: 46px;
    top: 35px;
    z-index: 2147483646;
    height: 50px;
}
.up {
    transform: rotate(180deg) translateY(0%);
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
} 
@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
}
@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
} 

@media(min-width:100px) and (max-width:575px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:576px) and (max-width:767px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:768px) and (max-width:991px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .menu-block {
        right: 10px;
    }
    #menu:after {
        left: 140px;
    }
    #menu {
        font-size: 18px;
        left: -240%;
        top: 140%;
        width: 175px;
    }
    #toggle {
        height: 53px;
        width: 53px;
        padding: 0;
        line-height: 48px;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 26px;
    }
    #toggle{
        height: 60px;
        width: 60px;
        padding:0;
        line-height: 55px;
    }
    .menu-block {
        right: 20px;
    }
    #menu:after {
        left: 205px;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 30px;
    }
}
@media(min-width:1200px){
	#menu {
        top: 70px;
        left: -135px;
        width: 180px;
        font-size: 18px;
    }
    #menu:after {
        left: 145px;
    }
    #toggle{
        height: 55px;
        width: 55px;
        padding:0;
        line-height: 50px;
    }
}
@media (orientation:landscape){
    .bg{
        background: url(/assets/std03-helping-verbs-worksheet5/img/bg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
@media (orientation:portrait){
    .bg{
        background: url(/assets/std03-helping-verbs-worksheet5/img/bg_portrait.jpg) no-repeat center bottom fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}