  <div class="bg">
      <div class='result'>
        <div class="Box">
                <div class="imgBox">
            <img src="" alt="" class="Text fabulous hide">
          </div>
          <div class="TextBox">
            <h1></h1>
          </div>
          <img src="assets/images/close.png" alt="" class="close">
        </div>
      </div>
        
      <div class="loadingDiv">
      </div>
      
      <div class="container">
          <div class="row">
              <div class="heading mt-3">
                  <h1>
                      <!-- Fill in the common nouns given in the help box under the correct gender column. Use pictures as clues. -->
                      Click in the leaves to colour them, if the words in them are Adjectives.
                  </h1>
              </div>
          </div>
      </div>
      <div class="Main_Container">
          <div class="TreeContainer">
              <img src="assets/std01-adjective-worksheet2/img/tree.png" alt="" class="tree">
              <div class="leaf white">
                  <span>white</span>
              </div>
              <div class="leaf happy">
                  <span>happy</span>
              </div>
              <div class="leaf road wrong">
                  <span>road</span>
              </div>
              <div class="leaf sweet">
                  <span>sweet</span>
              </div>
              <div class="leaf camp wrong">
                  <span>camp</span>
              </div>
              <div class="leaf actor wrong">
                  <span>actor</span>
              </div>
              <div class="leaf hungry">
                  <span>hungry</span>
              </div>
              <div class="leaf fat">
                  <span>fat</span>
              </div>
              <div class="leaf wide">
                  <span>wide</span>
              </div>
              <div class="leaf lazy">
                  <span>lazy</span>
              </div>
              <div class="leaf quite">
                  <span>quiet</span>
              </div>
              <div class="leaf lovely">
                  <span>lovely</span>
              </div>
              <div class="leaf eraser wrong">
                  <span>eraser</span>
              </div>
              <div class="leaf warm">
                  <span>warm</span>
              </div>
              <div class="leaf flute wrong">
                  <span>flute</span>
              </div>
              <div class="leaf fruit wrong">
                  <span>fruit</span>
              </div>
          </div>
          <img src="assets/std01-adjective-worksheet2/img/bottom.png" alt="" class="bottom">
      <div class="btn-row">
        <button class="button myButton">Submit</button>
      </div>
      </div>
  </div>
  
	