<div class="bg" ngPreserveWhitespaces>

  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <img src="" alt="" class="Text fabulous hide">
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="full-container">
      <div class="row m-0">
        <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
          <h2 class="font-weight-bold heading">
            Click on the blanks and then click on the Proper Nouns, in the
            following sentences.
          </h2>
        </div>
      </div>


      <div class="main-question-container">

        <div class="row m-0">
          <div class="question-container">
            <!-- 1 -->
            <div class="question">
              <div class="number">
                <span>1)</span>
              </div>
              <div class="text-container"><span>Margaret Brown</span> <span>has</span> <span>written</span> <span>many</span>
                <span>children’s</span> <span>books</span>.</div>
              <div class="input-container">
                <span class="input-span"><input type="text" data-text="first" readonly="readonly" style="cursor: pointer;"></span>
                <div class="correct-answer">
                  <span>Margaret Brown</span>
                </div>
              </div>

            </div>
            <!-- 2 -->
            <div class="question">
              <div class="number">
                <span>2)</span>
              </div>
              <div class="text-container"><span>They</span> <span>stayed</span> <span>at</span> <span>Ritz Hotel</span>
                <span>during</span> <span>their</span> <span>holidays</span>.</div>
              <div class="input-container">
                <span class="input-span"><input type="text" data-text="second" readonly="readonly" style="cursor: pointer;"></span>
                <div class="correct-answer">
                  <span>Ritz Hotel</span>
                </div>
              </div>
            </div>
            <!-- 3 -->
            <div class="question">
              <div class="number">
                <span>3)</span>
              </div>
              <div class="text-container"><span>Our</span> <span>new</span> <span>neighbour</span>, <span>Mr. Daniel</span>
                <span>is</span> <span>an</span> <span>engineer</span>.</div>
              <div class="input-container">
                <span class="input-span"><input type="text" data-text="third" readonly="readonly" style="cursor: pointer;"></span>
                <div class="correct-answer">
                  <span>Mr. Daniel</span>
                </div>
              </div>
            </div>
            <!-- 4 -->
            <div class="question">
              <div class="number">
                <span>4)</span>
              </div>
              <div class="text-container"><span>My</span> <span>cousins</span> <span>went</span> <span>to</span> <span>Yellowstone Park</span> <span>last</span> <span>summer</span>.</div>
              <div class="input-container">
                <span class="input-span"><input type="text" data-text="third" readonly="readonly" style="cursor: pointer;"></span>
                <div class="correct-answer">
                  <span>Yellowstone Park</span>
                </div>
              </div>
            </div>
            <!-- 5 -->
            <div class="question">
              <div class="number">
                <span>5)</span>
              </div>
              <div class="text-container"><span>A</span> <span>cute</span>, <span>little</span> <span>fairy</span>
                <span>named</span> <span>Tinker Bell</span> <span>flew</span> <span>around</span> <span>the</span>
                <span>palace</span>.</div>
              <div class="input-container">
                <span class="input-span"><input type="text" data-text="first" readonly="readonly" style="cursor: pointer;"></span>
                <div class="correct-answer">
                  <span>Tinker Bell</span>
                </div>
              </div>

            </div>
            <!-- 6 -->
            <div class="question">
              <div class="number">
                <span>6)</span>
              </div>
              <div class="text-container"><span>Mrs. Johnson</span> <span>is</span> <span>teaching</span> <span>music</span>
                <span>to</span> <span>the</span> <span>children</span>.</div>
              <div class="input-container">
                <span class="input-span"><input type="text" data-text="second" readonly="readonly" style="cursor: pointer;"></span>
                <div class="correct-answer">
                  <span>Mrs. Johnson</span>
                </div>
              </div>
            </div>
            <!-- 7 -->
            <div class="question">
              <div class="number">
                <span>7)</span>
              </div>
              <div class="text-container"><span>The</span> <span>family</span> <span>stopped</span> <span>at</span>
                <span>KFC</span> <span>to</span> <span>eat</span> <span>lunch</span>.</div>
              <div class="input-container">
                <span class="input-span"><input type="text" data-text="third" readonly="readonly" style="cursor: pointer;"></span>
                <div class="correct-answer">
                  <span>KFC</span>
                </div>
              </div>
            </div>
            <!-- 8 -->
            <div class="question">
              <div class="number">
                <span>8)</span>
              </div>
              <div class="text-container"><span>This</span> <span>book</span> <span>belongs</span> <span>to</span>
                <span>Kim</span>.</div>
              <div class="input-container">
                <span class="input-span"><input type="text" data-text="third" readonly="readonly" style="cursor: pointer;"></span>
                <div class="correct-answer">
                  <span>Kim</span>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row btn-row">
    <div class="col-12 text-center">
      <button class="button myButton">Submit</button>
    </div>
  </div>

</div>