<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text fabulous hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
	<div class="loadingDiv">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 mb-3 mb-xl-5">
				<div class="heading">
					<h2 class="font-weight-bold ">
						Click in the balloons to colour them, if there are Proper Nouns in them.
					</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<div class="river">
					<img src="assets/std03-proper-noun-worksheet1/img/river.png" alt="" class="img-fluid right" data-text="river">
				</div>
				<div class="june">
					<img src="assets/std03-proper-noun-worksheet1/img/june.png" alt="" class="img-fluid right" data-text="june">
				</div>
				<div class="helicopter">
					<img src="assets/std03-proper-noun-worksheet1/img/helicopter.png" alt="" class="img-fluid wrong" data-text="helicopter">
				</div>
				<div class="Germany">
					<img src="assets/std03-proper-noun-worksheet1/img/Germany.png" class="img-fluid right" data-text="Germany">
				</div>
				<div class="ruler">
					<img src="assets/std03-proper-noun-worksheet1/img/ruler.png" class="img-fluid wrong" data-text="ruler">
				</div>
				<!-- 2 -->
				<div class="guitar">
					<img src="assets/std03-proper-noun-worksheet1/img/guitar.png" class="img-fluid wrong" data-text="guitar">
				</div>
				<div class="Davis">
					<img src="assets/std03-proper-noun-worksheet1/img/Davis.png" class="img-fluid right" data-text="Davis">
				</div>
				<!-- 3 -->
				<div class="delhi">
					<img src="assets/std03-proper-noun-worksheet1/img/delhi.png" alt="" class="img-fluid right" data-text="delhi">
				</div>
				<div class="wednesday">
					<img src="assets/std03-proper-noun-worksheet1/img/wednesday.png" alt="" class="img-fluid right" data-text="wednesday">
				</div>
				<div class="sneakers">
					<img src="assets/std03-proper-noun-worksheet1/img/sneakers.png" alt="" class="img-fluid wrong" data-text="sneakers">
				</div>
				<div class="Lincoln">
					<img src="assets/std03-proper-noun-worksheet1/img/Lincoln.png" class="img-fluid right" data-text="Lincoln">
				</div>
				<div class="angel">
					<img src="assets/std03-proper-noun-worksheet1/img/angel.png" class="img-fluid right" data-text="angel">
				</div>
				<div class="submit-button">
					<div class="btn-row">
						<button class="button myButton">Submit</button>
					</div>
				</div>
				<!-- end -->
			</div>
		</div>
	</div>
</div>