<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
      <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
		<div class="heading">
			<h1>Click on the blanks and then click on the correct Articles from the help box, to complete the story.</h1>
		</div>
        <div class="Main_Container">
            <div class="Option_Container">
                <div class="options">
                    <div class="option">a</div>
                    <div class="option">an</div>
                    <div class="option">the</div>
                </div>
                <div class="title">The Fox without a Tail</div>
                <div class="author">- An Aesop’s Fable</div>
            </div>
            <div class="Question_Container">
                <div class="content">
                    <div class="paragraph">
                        It happened that <div class="input_div"><input type="text"><div class="correct_answer"><span>a</span></div></div> fox caught its tail in <div class="input_div"><input type="text"><div class="correct_answer"><span>a</span></div></div> trap, and in struggling to release himself lost all of it but <div class="input_div"><input type="text"><div class="correct_answer"><span>the</span></div></div> stump.
                    </div>
                    <div class="paragraph">
                        At first, he was ashamed to show himself among his fellow foxes. But at last, he was determined to put a bolder face upon his misfortune, and summoned all the foxes to <div class="input_div"><input type="text"><div class="correct_answer"><span>a</span></div></div> general meeting to consider <div class="input_div"><input type="text"><div class="correct_answer"><span>a</span></div></div> proposal which he had to place before them. When they had assembled together <div class="input_div"><input type="text"><div class="correct_answer"><span>the</span></div></div> fox proposed that they should all do away with their tails.
                    </div>
                    <div class="paragraph">
                        He pointed out how inconvenient <div class="input_div"><input type="text"><div class="correct_answer"><span>a</span></div></div> tail was when they were pursued by their enemies, the dogs; how much it was in the way when they desired to sit down and hold <div class="input_div"><input type="text"><div class="correct_answer"><span>a</span></div></div> friendly conversation with one another. He failed to see any advantage in carrying about such <div class="input_div"><input type="text"><div class="correct_answer"><span>a</span></div></div> useless encumbrance. “That is all very well,” said one of the older foxes; “but I do not think you would have recommended us to dispense with our chief ornament if you had not happened to lose it yourself.” 
                    </div>
                </div>
            </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
  </div>
</div>