<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>

	<div class="loadingDiv">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 px-2 p-2 mt-3 ">
				<h2 class="font-weight-bold heading">
					<!-- Form abstract nouns of the given words by adding suffixes from the help box of books. Suffixes will be used more than one. -->
					Click on the blanks and then click on the correct suffix given in the help box of books, to form Abstract Nouns with the given word.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<div class="img-container">
					<img src="assets/std03-abstract-noun-worksheet3/img/text-background.png" alt="" class="img-fluid text-background">
					<div class="question-container">
						<img src="assets/std03-abstract-noun-worksheet3/img/goggle.png" alt="" class="img-fluid goggle">
						<img src="assets/std03-abstract-noun-worksheet3/img/pen.png" alt="" class="img-fluid pen">
						<div class="row m-0">
							<!-- 1 -->
							<div class="col-12 col-sm-6 p-0">
								<div class="question d-flex">
									<div class="number number-right">
										1)
									</div>
									<div class="text-container">
										child
									</div>
									<div class="input-container">
										<span class="input-span">
											<input type="text" class="first" value="childhood"
												style="pointer-events:none;">
										</span>
									</div>
								</div>
							</div>
							<!-- 2 -->
							<div class="col-12 col-sm-6 p-0">
								<div class="question d-flex">
									<div class="number number-right">
										2)
									</div>
									<div class="text-container">
										weak
									</div>
									<div class="input-container">
										<span class="input-span">
											<input type="text">
											<div class="answer-div">
												<div class="text-center">
													<span class="answer">weakness</span>
												</div>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- 3 -->
							<div class="col-12 col-sm-6 p-0">
								<div class="question d-flex">
									<div class="number number-right">
										3)
									</div>
									<div class="text-container">
										move
									</div>
									<div class="input-container">
										<span class="input-span">
											<input type="text">
											<div class="answer-div">
												<div class="text-center">
													<span class="answer">movement</span>
												</div>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- 4 -->
							<div class="col-12 col-sm-6 p-0">
								<div class="question d-flex">
									<div class="number number-right">
										4)
									</div>
									<div class="text-container">
										friend
									</div>
									<div class="input-container">
										<span class="input-span">
											<input type="text">
											<div class="answer-div">
												<div class="text-center">
													<span class="answer">friendship</span>
												</div>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- 5-8 -->
							<!-- 5 -->
							<div class="col-12 col-sm-6 p-0">
								<div class="question d-flex">
									<div class="number number-right">
										5)
									</div>
									<div class="text-container">
										foolish
									</div>
									<div class="input-container">
										<span class="input-span">
											<input type="text">
											<div class="answer-div">
												<div class="text-center">
													<span class="answer">foolishness</span>
												</div>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- 6 -->
							<div class="col-12 col-sm-6 p-0">
								<div class="question d-flex">
									<div class="number number-right">
										6)
									</div>
									<div class="text-container">
										grow
									</div>
									<div class="input-container">
										<span class="input-span">
											<input type="text">
											<div class="answer-div">
												<div class="text-center">
													<span class="answer">growth</span>
												</div>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- 7 -->
							<div class="col-12 col-sm-6 p-0">
								<div class="question d-flex">
									<div class="number number-right">
										7)
									</div>
									<div class="text-container">
										disappoint
									</div>
									<div class="input-container">
										<span class="input-span">
											<input type="text">
											<div class="answer-div">
												<div class="text-center">
													<span class="answer">disappointment</span>
												</div>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- 8 -->
							<div class="col-12 col-sm-6 p-0">
								<div class="question d-flex">
									<div class="number number-right">
										8)
									</div>
									<div class="text-container">
										refresh
									</div>
									<div class="input-container">
										<span class="input-span">
											<input type="text">
											<div class="answer-div">
												<div class="text-center">
													<span class="answer">refreshment</span>
												</div>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- 9 16 -->
							<!-- 1 -->
							<div class="col-12 col-sm-6 p-0">
								<div class="question d-flex">
									<div class="number number-right">
										9)
									</div>
									<div class="text-container">
										sad
									</div>
									<div class="input-container">
										<span class="input-span">
											<input type="text">
											<div class="answer-div">
												<div class="text-center">
													<span class="answer">sadness</span>
												</div>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- 2 -->
							<div class="col-12 col-sm-6 p-0">
								<div class="question d-flex">
									<div class="number number-right">
										10)
									</div>
									<div class="text-container">
										warm
									</div>
									<div class="input-container">
										<span class="input-span">
											<input type="text">
											<div class="answer-div">
												<div class="text-center">
													<span class="answer">warmth</span>
												</div>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- 3 -->
							<div class="col-12 col-sm-6 p-0">
								<div class="question d-flex">
									<div class="number number-right">
										11)
									</div>
									<div class="text-container">
										mother
									</div>
									<div class="input-container">
										<span class="input-span">
											<input type="text">
											<div class="answer-div">
												<div class="text-center">
													<span class="answer">motherhood</span>
												</div>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- 4 -->
							<div class="col-12 col-sm-6 p-0">
								<div class="question d-flex">
									<div class="number number-right">
										12)
									</div>
									<div class="text-container">
										free
									</div>
									<div class="input-container">
										<span class="input-span">
											<input type="text">
											<div class="answer-div">
												<div class="text-center">
													<span class="answer">freedom</span>
												</div>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- 5-8 -->
							<!-- 5 -->
							<div class="col-12 col-sm-6 p-0">
								<div class="question d-flex">
									<div class="number number-right">
										13)
									</div>
									<div class="text-container">
										lazy
									</div>
									<div class="input-container">
										<span class="input-span">
											<input type="text">
											<div class="answer-div">
												<div class="text-center">
													<span class="answer">laziness</span>
												</div>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- 6 -->
							<div class="col-12 col-sm-6 p-0">
								<div class="question d-flex">
									<div class="number number-right">
										14)
									</div>
									<div class="text-container">
										champion
									</div>
									<div class="input-container">
										<span class="input-span">
											<input type="text">
											<div class="answer-div">
												<div class="text-center">
													<span class="answer">championship</span>
												</div>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- 7 -->
							<div class="col-12 col-sm-6 p-0">
								<div class="question d-flex">
									<div class="number number-right">
										15)
									</div>
									<div class="text-container">
										excite
									</div>
									<div class="input-container">
										<span class="input-span">
											<input type="text">
											<div class="answer-div">
												<div class="text-center">
													<span class="answer">excitement</span>
												</div>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- 8 -->
							<div class="col-12 col-sm-6 p-0">
								<div class="question d-flex">
									<div class="number number-right">
										16)
									</div>
									<div class="text-container">
										soft
									</div>
									<div class="input-container">
										<span class="input-span">
											<input type="text">
											<div class="answer-div">
												<div class="text-center">
													<span class="answer">softness</span>
												</div>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- end -->
						</div>
					</div>
					<div class="helpbox-container">
						<!-- ment -->
						<div class="ment">
							<span>
								ment
							</span>
						</div>
						<!-- ship -->
						<div class="ship">
							<span>
								ship
							</span>
						</div>
						<!-- dom -->
						<div class="dom">
							<span>
								dom
							</span>
						</div>
						<!-- ness -->
						<div class="ness">
							<span>
								ness
							</span>
						</div>
						<!-- hood -->
						<div class="hood">
							<span>
								hood
							</span>
						</div>
						<!-- th -->
						<div class="th">
							<span>
								th
							</span>
						</div>
						<!-- end -->
					</div>
				</div>
			</div>
		</div>

		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
	</div>
</div>