@font-face {
    font-family: "CustomFont";
    src: url(http://completegrammar.com/assets/font/ntailu.ttf) format("truetype");
}
@font-face {
    font-family: "CustomFontBold";
    src: url(http://completegrammar.com/assets/font/ntailub.ttf) format("truetype");
}
@font-face {
    font-family: mt-rounded-bold;
    src: url(http://completegrammar.com/assets/font/ARLRDBD.ttf) format("truetype");
}
.font-weight-bold{
    font-weight: normal !important;
}
.comma{
    font-family: mt-rounded-bold,'Microsoft New Tai Lue','Arial';
}
.bg{
    font-family: 'CustomFont','Microsoft New Tai Lue','Arial';
    color:#000;
    font-size:22px;
	background: url(/assets/std03-abstract-noun-worksheet3/img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    
}
.hide{
    display: none;
}
h2{
    color:#000;
}
.heading{
    font-family: mt-rounded-bold,'Microsoft New Tai Lue','Arial';
}
.helpbox-container{
    font-family: 'CustomFontBold','Microsoft New Tai Lue','Arial';
}
.main-question-container
{
    width: 98%;
    margin: auto;
}
.question-container .col-sm-6
{
    margin-bottom: 20px;
}
.answer-div
{
    position: absolute;
    width: 160px;
    font-size:18px;
    display:none;
}
.answer{
    padding:0 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #c08062;
    color: #20bb15 !important;
     -webkit-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	 -moz-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-family: 'CustomFontBold','Microsoft New Tai Lue','Arial';
}

/*.answer {
    border: 2px solid #000;
    border-radius: 5px;
    background: #fff;
    color: #35b92c;
    text-align: center;
    text-shadow: -1px 0px 0 #000, 0px 0px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding-left: 4%;
    padding-right: 4%;
}*/
.main-question-container img{
    width: 1140px;
}
.img-container
{
    width: fit-content;
    margin:auto;
}
.input-container
{
    width: -webkit-fill-available;
    width: -moz-available;
}
.input-span
{
    border-bottom: 1px solid #000;
    float: right;
    margin-right: 30px;
}
input {
    border: 0;
    padding: 0;
    background: transparent;
    outline: 0;
     width:160px;
    text-align:center;
    margin: auto;
    line-height: 0.4;
}

.number-right
{
    padding-right: 10px;
    padding-left: 10px;
}
.question-container{
    position: absolute;
    margin-top:-567px;
    margin-left: 375px;
    width: 695px;
}
.helpbox-container
{
    position: absolute;
    margin-top: -395px;
    margin-left: 180px;
}
.ment{
    width: 160px;
    transform: rotate(-16deg);
    text-align: center;
}
.ship{
    width: 160px;
    transform: rotate(-16deg);
    text-align: center;
    margin-top:22px;
}
.dom
{
    transform: rotate(-16deg);
    text-align: center;
    margin-top: 15px;
    width: 120px;
}
.ness
{
    transform: rotate(-16deg);
    text-align: center;
    margin-top: 7px;
    width: 120px; 
}
.hood
{
    transform: rotate(-16deg);
    text-align: center;
    width: 160px;
    margin-top: 22px;
}
.th{
    transform: rotate(-16deg);
    text-align: center;
    width: 160px;
    margin-top: 24px;
}
.input-span.bd{
    border-bottom:2px solid #20bb15;
}
.btn-row{
    position: relative;
    margin-top:10px;
    padding-bottom:15px;
    text-align:center;
}
.helpbox-container > div{
    cursor:pointer;
}
@media (min-width:100px) and (max-width:575px){
	
    .bg {
        color:#000;
        font-size:15px;
        background: url(http://completegrammar.com/assets/std03-abstract-noun-worksheet3/img/bg_portrait.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;}
    h2{
        font-size: 1.2rem;
    }
    .answer-div {
        position: absolute;
        width: 105px;
        font-size: 12px;
        margin-top: -38px;
    }
    input{
        width: 105px;
    }
    .input-span
    {
        border-bottom: 1px solid #000;
        float: right;
        margin-right: 20px;
    }
    .number-right {
        padding-left: 45px;
    }
    .question-container .col-sm-6 {
        margin-bottom: 17px;
    }
    .main-question-container img {
        /* content: url("/assets/std03-abstract-noun-worksheet3/img/text-background-por.png"); */
        width: 330px;
    }
    .main-question-container
    {
        width: 99%;
        margin: auto;
    }
    .question-container {
        /* background: url("/assets/std03-abstract-noun-worksheet3/img/portrait-board.png"); */
        margin-top: -698px;
        margin-left: 16px;
        width: 301px;
    }

    .helpbox-container {
        /* background: url("/assets/std03-abstract-noun-worksheet3/img/portrait-book.png"); */
        margin-top: -856px;
        margin-left: 109px;
    }
    .ment {
        width: 95px;
        margin-left: 45px;
    }
    .ship{
        width: 89px;
        margin-top: 15px;
    }
    .dom {
        margin-top: 9px;
        width: 93px;
    }
    .ness {
        margin-top: -66px;
        margin-left: 95px;
        width: 99px;
    }
    .hood {
        width: 95px;
        margin-top: 5px;
        margin-left: 88px;
    }
    .th {
        width: 98px;
        margin-top: -3px;
        margin-left: 91px;
    }
}
@media (min-width:100px) and (max-width:322px){
    .question-container {
        margin-top: -676px;
    }
    .helpbox-container {
        margin-top: -827px;
    }
    .main-question-container img{
        width: 317px;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    h2{
        font-size: 1.4rem;
    }
    .container {
        max-width: unset;
    }
    .bg {   font-size: 15px;}
    .main-question-container img {
        width: 610px;
    }
    .question-container
     {
        margin-top: -312px;
        margin-left: 198px;
        width: 392px;
        font-size: 14px;
    }
    .question-container .col-sm-6 {
        margin-bottom: 8px;
    }
    .answer-div {
        position: absolute;
        width: 95px;
        font-size: 11px;
        margin-top: -28px;
    }
    input{
        width: 95px;
    }
    .input-span{
        margin-right: 6px;
    }
    .number-right {
        padding-right: 5px;
        padding-left: 10px;
    }
    .helpbox-container{
        margin-top: -218px;
        margin-left: 96px;
    }
    .ment {
        width: 92px;
    }
    .ship {
        width: 92px;
        margin-top: 8px;
    }
    .dom {
        margin-top: 5px;
        width: 75px;
    }
    .ness{
        margin-top: 0px;
        width: 75px;
    }
    .hood{
        width: 93px;
        margin-top: 7px;
    }
    .th{
        width: 93px;
        margin-top: 10px;
    }
    .goggle,.pen{
        display: none;
    }
    .input-container{
        line-height: 1;
    }
    .answer {
        display: inline-block;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .container {
        max-width: unset;
    }
    .bg {   font-size: 17px;}
    h2{
        font-size: 1.6rem;
    }
    .answer-div {
        position: absolute;
        width: 115px;
        font-size: 12px;
        margin-top: -37px;
    }
    .main-question-container img {
        width: 750px;
    }
    .question-container
    {
        margin-top: -386px;
        margin-left: 247px;
        width: 475px;
   }
   .question-container .col-sm-6 {
        margin-bottom: 10px;
    }
   input{
       width: 115px;
   }
   .input-span {
        margin-right: 6px;
    }
   .number-right {
       padding-right: 5px;
       padding-left: 10px;
   }
   /* helpbox */
   .helpbox-container {
    margin-top: -266px;
    margin-left: 120px;
}
    .ment {
        width: 107px;
    }
    .ship {
        width: 107px;
        margin-top: 12px;
    }
    .dom {
        margin-top: 8px;
        width: 75px;
    }
    .ness{
        margin-top: 0px;
        width: 75px;
    }
    .hood{
        width: 110px;
        margin-top: 11px;
    }
    .th{
        width: 109px;
        margin-top: 16px;
    }
    .goggle,.pen{
        display: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    h2{
        font-size: 1.8rem;
    }
    .container {
        max-width: unset;
    }
    .bg {   font-size: 20px;}
    .main-question-container img {
        width: 970px;
    }
    .question-container {
        margin-top:-495px;
        margin-left: 321px;
        width: 611px;
    }
    .question-container .col-sm-6 {
        margin-bottom: 14px;
    }
    
   input{
       width: 140px;
   }
   .input-span{
       margin-right: 20px;
   }
   .number-right {
       padding-right: 5px;
       padding-left: 10px;
   }
      /* helpbox */
      .helpbox-container {
        margin-top: -342px;
        margin-left: 155px;
        line-height: 28px;
    }
        .ment {
            width: 138px;
        }
        .ship {
            width: 138px;
            margin-top: 19px;
        }
        .dom {
            margin-top: 15px;
            width: 106px;
        }
        .ness{
            margin-top: 5px;
            width: 106px;
        }
        .hood{
            width: 138px;
            margin-top: 20px;
        }
        .th{
            width: 140px;
            margin-top: 25px;
        }
        .answer-div {
            font-size: 15px;
            margin-top: -45px;
            margin-left: -10px;
        }
        .goggle,.pen{
            display: none;
        }
}
@media (min-width: 1200px){
	.answer-div {
        font-size: 16px;
        margin-top: -52px;
    }
    .goggle,.pen{
        display: none;
    }
	
}
 /* @media only screen and (min-width: 768px) and (orientation: portrait) {
	
    .bg {   font-family:Microsoft New Tai lue;
        color:#000;
        font-size:15px;
        background: url(http://completegrammar.com/assets/std03-abstract-noun-worksheet3/img/bg_portrait.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;}
    h2{
        font-size: 1.2rem;
    }
    .answer-div {
        position: absolute;
        width: 105px;
        font-size: 12px;
        margin-top: -38px;
    }
    input{
        width: 105px;
    }
    .input-span
    {
        border-bottom: 1px solid #000;
        float: right;
        margin-right: 20px;
    }
    .number-right {
        padding-left: 45px;
    }
    .question-container .col-sm-6 {
        margin-bottom: 17px;
    }
    .main-question-container img {
        content: url("/assets/std03-abstract-noun-worksheet3/img/text-background-por.png");
        width: 330px;
    }
    .main-question-container
    {
        width: 99%;
        margin: auto;
    }
    .question-container {
        margin-top: -698px;
        margin-left: 16px;
        width: 301px;
    }

    .helpbox-container {
        margin-top: -856px;
        margin-left: 109px;
    }
    .ment {
        width: 95px;
        margin-left: 45px;
    }
    .ship{
        width: 89px;
        margin-top: 15px;
    }
    .dom {
        margin-top: 9px;
        width: 93px;
		position: relative;
    }
    .ness {
        margin-top: -66px;
        margin-left: 95px;
        width: 99px;
    }
    .hood {
        width: 95px;
        margin-top: 5px;
        margin-left: 88px;
    }
    .th {
        width: 98px;
        margin-top: -3px;
        margin-left: 91px;
    }
    .col-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .img-container {
        margin: auto;
        transform: scale(1.8);
        margin-top:400px;
    }
    h2 {
        font-size: 35px;
    }
    .myButton{
        font-size: 35px !important;
    }
    .btn-row {
        margin-top: 300px;
    }
}  */

@media only screen and (min-width: 768px) and (orientation: portrait) {
	
    .bg {
        color:#000;
        font-size:15px;
        background: url(http://completegrammar.com/assets/std03-abstract-noun-worksheet3/img/bg_portrait.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;}
    h2{
        font-size: 1.2rem;
    }
    .answer-div {
        position: absolute;
        width: 105px;
        font-size: 12px;
        margin-top: -38px;
    }
    input{
        width: 105px;
    }
    .input-span
    {
        border-bottom: 1px solid #000;
        float: right;
        margin-right: 20px;
    }
    .number-right {
        padding-left: 45px;
    }
    .question-container .col-sm-6 {
        margin-bottom: 17px;
    }
    /* .main-question-container img {
        content: url("/assets/std03-abstract-noun-worksheet3/img/text-background-por.png");
        width: 330px;
    } */
    .main-question-container
    {
        width: 99%;
        margin: auto;
    }
    .question-container {
        margin-top: -698px;
        margin-left: 16px;
        width: 301px;
    }

    .helpbox-container {
        margin-top: -856px;
        margin-left: 109px;
    }
    .ment {
        width: 95px;
        margin-left: 45px;
    }
    .ship{
        width: 89px;
        margin-top: 15px;
    }
    .dom {
        margin-top: 9px;
        width: 93px;
		position: relative;
    }
    .ness {
        margin-top: -66px;
        margin-left: 95px;
        width: 99px;
    }
    .hood {
        width: 95px;
        margin-top: 5px;
        margin-left: 88px;
    }
    .th {
        width: 98px;
        margin-top: -3px;
        margin-left: 91px;
    }
    .col-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    /* .img-container {
        margin: auto;
        transform: scale(1.8);
        margin-top:400px;
    } */
    h2 {
        font-size: 35px;
    }
    .myButton{
        font-size: 35px !important;
    }
    /* .btn-row {
        margin-top: 300px;
    } */
    
    .input-container{
        line-height: 1.18;
    }
} 
@media only screen and (min-width: 1024px) and (orientation: portrait) {
    h2{
        font-size:40px;
    }
    .myButton{
        font-size:40px;
    }
    .ment {
        margin-top: -3px;
    }
    .ship {
        margin-top: 10px;
    }
    .ness {
        margin-top: -78px;
    }
    .hood {
        margin-top: -2px;
    }
    .th {
        margin-top: -10px;
    }
    .dom {
        top: -7px;
    }
}

/*     */


@media (min-width:100px) and (max-width:575px){

    .helpbox-container {
        background: url(http://completegrammar.com/assets/std03-abstract-noun-worksheet3/img/portrait-book.png) no-repeat;
        background-position: no repeat;
        background-size: 100%;
        height: 210px;
        width: 248px;
        /* z-index: 1; */
        margin-top: -990px;
        margin-left: 37px;
        position: fixed;
        z-index: 1;
    }
    .ment {
        width: 95px;
        margin-left: 96px;
        margin-top: 120px;
    }
    .ship {
        width: 89px;
        margin-top: 4px;
        margin-left: 75px;
    }
    .dom {
        margin-top: 1px;
        margin-left: 75px;
        width: 93px;
    }
    .ness {
        margin-top: -34px;
        margin-left: 136px;
        width: 99px;
    }
    .hood {
        width: 95px;
        margin-top: -7px;
        margin-left: 137px;
    }
    .th {
        width: 98px;
        margin-top: -56px;
        margin-left: 142px;
    }
    .question-container {
        background: url(http://completegrammar.com/assets/std03-abstract-noun-worksheet3/img/portrait-board.png);
        background-size: 100% 100%;
        margin-top: 174px;
        margin-left: 0;
        width: 301px;
        position: relative;
        padding-top: 20px;
        padding-bottom: 65px;
    }
    /* .img-container img{
        display: none;
    } */
    .text-background{
        display: none;
    }
    .question-container .col-sm-6 {
        margin-bottom: 17px;
    }
    .answer-div {
        position: absolute;
        width: 105px;
        font-size: 12px;
        margin-top: -38px;
    }
    .goggle{
        display: unset;
        width: 44%;
        position: absolute;
        margin-top: -62px;
    }
    .pen{
        display: unset;
        width: 45%;
        position: absolute;
        margin-top: -62px;
        margin-left: 145px;
    }
    .main-question-container img {
        width: 44%;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    .bg {
        color:#000;
        font-size:25px;
        background: url(http://completegrammar.com/assets/std03-abstract-noun-worksheet3/img/bg_portrait.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;}


        .helpbox-container {
            background: url(http://completegrammar.com/assets/std03-abstract-noun-worksheet3/img/portrait-book.png) no-repeat;
            background-position: no repeat;
            background-size: 100%;
            height: 325px;
            width: 383px;
            /* z-index: 1; */
            margin-top: -1596px;
            margin-left: 37px;
            position: fixed;
            z-index: 1;
        }
        .ment {
            width: 95px;
            margin-left: 181px;
            margin-top: 185px;
        }
        .ship {
            width: 89px;
            margin-top: 4px;
            margin-left: 140px;
        }
        .dom {
            margin-top: -4px;
            margin-left: 136px;
            width: 93px;
        }
        .ness {
            margin-top: -55px;
            margin-left: 231px;
            width: 99px;
        }
        .hood {
            width: 95px;
            margin-top: -13px;
            margin-left: 236px;
        }
        .th {
            width: 98px;
            margin-top: -90px;
            margin-left: 243px;
        }
        .question-container {
            background: url(http://completegrammar.com/assets/std03-abstract-noun-worksheet3/img/portrait-board.png);
            background-size: 100% 100%;
            height: 100%;
            margin-top: 280px;
            margin-left: 0;
            width: 518px;
            position: relative;
            padding-top: 20px;
            padding-bottom: 110px;
        }
        /* .img-container img{
            display: none;
        } */
        .question-container .col-sm-6 {
            margin-bottom: 28px;
        }
        input {
            width: 190px;
        }
        .answer-div {
            position: absolute;
            width: 190px;
            font-size: 21px;
            margin-top: -60px;
        }
        .text-background{
            display: none;
        }
        .question-container .goggle {
            display: unset;
            width: 44%;
            position: absolute;
            margin-top: -89px;
            margin-left: 288px;
        }
        .question-container .pen {
            display: unset;
            width: 45%;
            position: absolute;
            margin-top: -89px;
            margin-left: 38px;
        }
        /* .img-container {
            margin: auto;
            transform: scale(1.8);
            margin-top: 624px;
        } */
}

@media only screen and (min-width: 1024px) and (orientation: portrait) {
    .bg{
        font-size: 30px;
    }
    input {
        width: 230px;
    }
    .question-container .col-sm-6 {
        margin-bottom: 37px;
    }
    .answer-div {
        position: absolute;
        width: 230px;
        font-size: 25px;
        margin-top: -76px;
    }
    .input-span {
        border-bottom: 1px solid #000;
        float: right;
        margin-right: 50px;
    }
    .question-container {
        background: url(http://completegrammar.com/assets/std03-abstract-noun-worksheet3/img/portrait-board.png);
        background-size: 100% 100%;
        height: 100%;
        margin-top: 372px;
        margin-left: 0;
        width: 767px;
        position: relative;
        padding-top: 20px;
        padding-bottom: 153px;
    }
    .helpbox-container {
        background: url(http://completegrammar.com/assets/std03-abstract-noun-worksheet3/img/portrait-book.png) no-repeat;
        background-position: no repeat;
        background-size: 100%;
        height: 442px;
        width: 530px;
        /* z-index: 1; */
        margin-top: -2066px;
        margin-left: 132px;
        position: fixed;
        z-index: 1;
    }
    .ment {
        width: 95px;
        margin-left: 268px;
        margin-top: 267px;
    }
    .ship {
        width: 89px;
        margin-top: 30px;
        margin-left: 209px;
    }
    .dom {
        margin-top: 27px;
        margin-left: 204px;
        width: 93px;
    }
    .ness {
        margin-top: -62px;
        margin-left: 343px;
        width: 99px;
    }
    .hood {
        width: 95px;
        margin-top: 3px;
        margin-left: 350px;
    }
    .th {
        width: 98px;
        margin-top: -99px;
        margin-left: 351px;
    }
    .question-container .pen {
        display: unset;
        width: 45%;
        position: absolute;
        margin-top: -120px;
        margin-left: 38px;
    }
    .question-container .goggle {
        display: unset;
        width: 44%;
        position: absolute;
        margin-top: -125px;
        margin-left: 402px;
    }
}
@media(min-width:1900px){
    .container {
        transform: scale(1.3);
        padding-top: 126px;
    }
}
// External CSS End

// Common CSS Start
.loadingDiv {
    position: fixed;;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.4);
    background-image:url('/assets/images/loader.gif');
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    background-size: 85px;
  }

.result{
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:rgba(0,0,0,.8);
    z-index:2147483647;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor:pointer;
}
.result .Box{
    position: relative;
    padding:45px 55px 30px 20px
}
.result .imgBox{
    display:none;
}
.result img{
    max-width:100%;
}
.result .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor:pointer;
}
.result .TextBox h1 {
    font-size: 2.5rem;
    font-family: 'mt-rounded-bold','Microsoft New Tai Lue','Arial';
    margin-top: 0;
	font-weight: normal;
    text-align:center;
    color:#fff;
    -webkit-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	-moz-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	padding:10%;
	max-width:800px;
}
@media(min-width:100px) and (max-width:575px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
    .result .close {
        right: 15px;
    }
}
@media(min-width:576px) and (max-width:767px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
}

.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:inherit;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	line-height: 1;
	outline:0 !important;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}
.button.playAgain {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:inherit;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.button.playAgain:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.button.playAgain:active {
	position:relative;
	top:1px;
}


#toggle {
    display: block;
    right: 56px;
    top: 35px;
    background: #f3ecec;
    border-radius: 50%;
    border: 4px solid #3b7ee2;
    opacity: 0.7;
    text-align: center;
    padding: 10px;
    
  }

  #toggle:hover
  {
    opacity: 1;
    border: 4px solid #3b7ee2;
    
  }
  
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
  }
  #toggle span {
    position: relative;
    display: inline;
  }
  
  #toggle span
  {
    width: 50px;
    height: 50px;
    text-align: center;
    padding:0%;
  }

  #toggle span img
  {
    width:25px;
    height:25px;
  }
  
  /* on activation */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
    -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  

  /* menu appearance*/
#menu {
    position: absolute;
    color: #000;
    width: 140px;
    padding: 10px;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0px 3px 11px 1px rgba(27, 24, 24, 0.24);
    font-size: 16px;
    left: -190%;
    z-index: 9;
    text-align: right;
    top: 145%;
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;  
}
.change{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1; 
}
.notchange{
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#menu:after {
    position: absolute;
    top: -20px;
    left: 107px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #ffffff;
}
ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-weight: normal;
}
li a {
    padding: 5px;
    color: #000;
    text-decoration: none;
    transition: all .2s;
}
li a:hover,
li a:focus {
    background: #1798dc;
    color: #fff;
    text-decoration: none;
}
.menu-block{
    position: fixed;
    right: 46px;
    top: 35px;
    z-index: 2147483646;
    height: 50px;
}
.up {
    transform: rotate(180deg) translateY(0%);
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
} 
@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
}
@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
} 

@media(min-width:100px) and (max-width:575px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:576px) and (max-width:767px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:768px) and (max-width:991px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .menu-block {
        right: 10px;
    }
    #menu:after {
        left: 140px;
    }
    #menu {
        font-size: 18px;
        left: -240%;
        top: 140%;
        width: 175px;
    }
    #toggle {
        height: 53px;
        width: 53px;
        padding: 0;
        line-height: 48px;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 26px;
    }
    #toggle{
        height: 60px;
        width: 60px;
        padding:0;
        line-height: 55px;
    }
    .menu-block {
        right: 20px;
    }
    #menu:after {
        left: 205px;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 30px;
    }
}
@media(min-width:1200px){
	#menu {
        top: 70px;
        left: -135px;
        width: 180px;
        font-size: 18px;
    }
    #menu:after {
        left: 145px;
    }
    #toggle{
        height: 55px;
        width: 55px;
        padding:0;
        line-height: 50px;
    }
}