<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
        <div class="TextBox">
            <h1></h1>
        </div>
        <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="col-12 px-2 mb-1 mb-sm-1 mt-3">
				<h2 class="font-weight-bold">
					Click on the blanks and then click on the correct Demonstrative Pronouns from the help box, to complete the sentences.
				</h2>
			</div>
		</div>
		<div class="row m-0">
				<img src="assets/std01-demostrative-pronoun-worksheet2/img/airoplane.png" class="img-fluid airoplane">
				<img src="assets/std01-demostrative-pronoun-worksheet2/img/sun.png" class="img-fluid sun">
			<div class="helpbox mb-5">
			   <div class="row m-0">
				   
					<div class="col-6 p-1  helpbox-ans font-weight-bold"><div><span>This</span></div></div>
					<div class="col-6 p-1  helpbox-ans font-weight-bold"><div><span>That</span></div></div>
					
		   </div>
	   </div>
	   </div>
		<div class="Main_Container mb-3 mt-1 mt-sm-1">
			<div class="row mb-0">
				<div class="col-12 col-sm-6 p-0 d-flex Question">
				
					<div class="col-4">
						<img src="assets/std01-demostrative-pronoun-worksheet2/img/p1.png" class="img-fluid">
										
					</div>					
					<div class="col-1">						
							<span>1)</span>						
					</div>				
					<div class="col-7">											
							<div class="content"><input type="text" class="" id=""><span class="correct-ans"><span>This</span></span> <span>is a book.</span></div>						
					</div>
					

					
				</div>

				<div class="col-12 col-sm-6 p-0 d-flex Question">
				
					<div class="col-4">
						<img src="assets/std01-demostrative-pronoun-worksheet2/img/p2.png" class="img-fluid">
										
					</div>				
					<div class="col-1">				
							<span>2)</span>					
					</div>				
					<div class="col-7">										
							<div class="content"><input type="text" class="" id=""><span class="correct-ans"><span>That</span></span> <span>is the sun.</span></div>										
					</div>										
				</div>


			<div class="col-12 col-sm-6 p-0 d-flex Question">
					<div class="col-4">
						<img src="assets/std01-demostrative-pronoun-worksheet2/img/p3.png" class="img-fluid">				
					</div>					
					<div class="col-1">					
							<span>3)</span>					
					</div>				
					<div class="col-7">												
							<div class="content"><input type="text" class="" id=""><span class="correct-ans"><span>This</span></span> <span>is a computer.</span> </div>													
						</div>
				
				</div>

				<div class="col-12 col-sm-6 p-0 d-flex Question">
				
					<div class="col-4">
						<img src="assets/std01-demostrative-pronoun-worksheet2/img/p4.png" class="img-fluid">						
					</div>				
					<div class="col-1">					
						<span>4)</span>					
					</div>				
					<div class="col-7">				
							<div class="content"><input type="text" class="" id=""><span class="correct-ans"><span>That</span></span> <span>is a river.</span></div>					
					</div>					
					
				</div>

				<div class="col-12 col-sm-6 p-0 d-flex Question">
					<div class="col-4">
						<img src="assets/std01-demostrative-pronoun-worksheet2/img/p5.png" class="img-fluid">						
					</div>					
					<div class="col-1">						
							<span>5)</span>					
					</div>
				
					<div class="col-7">						
							<div class="content"><input type="text" class="" id=""><span class="correct-ans"><span>That</span></span> <span>is a aeroplane.</span></div>													
						</div>					
				</div>
				<div class="col-12 col-sm-6 p-0 d-flex Question">				
					<div class="col-4">
						<img src="assets/std01-demostrative-pronoun-worksheet2/img/p6.png" class="img-fluid">					
					</div>
				
					<div class="col-1">					
							<span>6)</span>						
					</div>
				
					<div class="col-7">					
							<div class="content"><input type="text" class="" id=""><span class="correct-ans"><span>This</span></span> <span>is a cupboard.</span></div>						
					</div>
				</div>

				</div>

				<div class="row btn-row mb-3">
					<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
					</div>
				</div>
		</div>

  </div>
</div>