<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text fabulous hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 mb-3 mt-lg-4">
				<h2 class="font-weight-bold heading">
						Click on the Common Nouns in the following sentences.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<div class="main-img-container">
					<div class="img-container">
						<img src="assets/std01-common-noun-worksheet2/img/left-img.png" alt="" class="img-fluid landscape">
						<img src="assets/std01-common-noun-worksheet2/img/portrait-img.png" alt="" class="img-fluid portrait">
					</div>
				</div>
				<div class="question-container">
					<!-- 1 -->
					<div class="question qf">
						<div class="number">
							<span>1)</span>
						</div>
						<div class="text-container">
							<span>An</span>
							<span class="right">apple</span>
							<span>a</span>
							<span class="right">day</span>
							<span>keeps</span>
							<span>the</span>
							<span class="right">doctor</span>
							<span>away</span>.
						</div>
					</div>
					<!-- 2 -->
					<div class="question">
						<div class="number">
							<span>2)</span>
						</div>
						<div class="text-container">
							<span>My</span>
							<span class="right">father</span>
							<span>is</span>
							<span>a</span>
							<span class="right">scientist</span>.
						</div>
					</div>
					<!-- 3 -->
					<div class="question">
						<div class="number">
							<span>3)</span>
						</div>
						<div class="text-container">
							<span>The</span>
							<span class="right">dentist</span>
							<span>examined</span>
							<span>the</span>
							<span>little</span>
							<span class="right">girl<span class="comma">’</span>s</span>
							<span class="right">teeth</span>.
						</div>
					</div>
					<!-- 4 -->
					<div class="question">
						<div class="number">
							<span>4)</span>
						</div>
						<div class="text-container">
							<span>Their</span>
							<span class="right">house</span>
							<span>is</span>
							<span>down</span>
							<span>the</span>
							<span class="right">street</span>.
						</div>
					</div>
					<!-- 5 -->
					<div class="question">
						<div class="number">
							<span>5)</span>
						</div>
						<div class="text-container">
							<span>Get</span>
							<span>the</span>
							<span class="right">letter</span>
							<span>from</span>
							<span>the</span>
							<span class="right">mailbox</span>.
						</div>
					</div>
					<!-- 6 -->
					<div class="question">
						<div class="number">
							<span>6)</span>
						</div>
						<div class="text-container">
							<span>The</span>
							<span class="right">plate</span>
							<span>has</span>
							<span>a</span>
							<span>pretty</span>
							<span class="right">colour</span>.
						</div>
					</div>
					<!-- 7 -->
					<div class="question">
						<div class="number">
							<span>7)</span>
						</div>
						<div class="text-container">
							<span>A</span>
							<span class="right">bird</span>
							<span>flew</span>
							<span>over</span>
							<span>the</span>
							<span class="right">building</span>.
						</div>
					</div>
					<!-- 8 -->
					<div class="question">
						<div class="number">
							<span>8)</span>
						</div>
						<div class="text-container">
							<span>That</span>
							<span class="right">knife</span>
							<span>is</span>
							<span>very</span>
							<span>sharp</span>.
						</div>
					</div>
					<!-- 9 -->
					<div class="question">
						<div class="number">
							<span>9)</span>
						</div>
						<div class="text-container">
							<span>He</span>
							<span>left</span>
							<span>his</span>
							<span class="right">bat</span>
							<span>and</span>
							<span class="right">ball</span>
							<span>in</span>
							<span>the</span>
							<span class="right">garden</span>.
						</div>
					</div>
					<!-- 10 -->
					<div class="question ql">
						<div class="number">
							<span>10)</span>
						</div>
						<div class="text-container">
							<span>The</span>
							<span class="right">children</span>
							<span>are</span>
							<span>going</span>
							<span>to</span>
							<span>the</span>
							<span class="right">zoo</span>.
						</div>
					</div>
					<!-- end -->
				</div>
			</div>
		</div>
	<div class="row btn-row">
		<div class="col-12 text-center">
			<button class="button myButton">Submit</button>
		</div>
	</div>
	</div>
</div>