<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <img src="assets/std02-adjectives-worksheet2/img/mechanic.png" alt="" class="mechanic">
    <div class="row">
      <div class="heading">
        <h1>Click on the Adjectives in the following sentences.</h1>
      </div>
    </div>
    <div class="row Main_Container">
      <div class="col-12 Question_Container">
        <div class="Question">
          <div class="number">1)</div>
          <div class="content"><span>The</span> <span>fruit-seller</span> <span>has</span> <span>a</span>
            <span>basket</span> <span>of</span> <span>fresh</span> <span>fruits</span>.</div>
        </div>
        <div class="Question">
          <div class="number">2)</div>
          <div class="content"><span>Please</span> <span>put</span> <span>the</span> <span>dirty</span>
            <span>towel</span> <span>for</span> <span>wash</span>.</div>
        </div>
        <div class="Question">
          <div class="number">3)</div>
          <div class="content"><span>My</span> <span>grandmother</span> <span>reads</span> <span>interesting</span>
            <span>stories</span> <span>to</span> <span>me</span> <span>at</span> <span>night</span>.</div>
        </div>
        <div class="Question">
          <div class="number">4)</div>
          <div class="content"><span>Susie’s</span> <span>classroom</span> <span>is</span> <span>on</span>
            <span>the</span> <span>second</span> <span>floor</span>.</div>
        </div>
        <div class="Question">
          <div class="number">5)</div>
          <div class="content"><span>A</span> <span>mechanic</span> <span>is</span> <span>fixing</span> <span>the</span>
            <span>broken</span> <span>car</span>.</div>
        </div>
        <div class="Question">
          <div class="number">6)</div>
          <div class="content"><span>The</span> <span>energetic</span> <span>children</span> <span>were</span>
            <span>ready</span> <span>for</span> <span>a</span> <span>hike</span>.</div>
        </div>
        <div class="Question">
          <div class="number">7)</div>
          <div class="content"><span>The</span> <span>confused</span> <span>man</span> <span>didn’t</span>
            <span>know</span> <span>which</span> <span>road</span> <span>to</span> <span>take</span>.</div>
        </div>
        <div class="Question">
          <div class="number">8)</div>
          <div class="content"><span>Dinner</span> <span>at</span> <span>this</span> <span>restaurant</span>
            <span>is</span> <span>excellent</span>!</div>
        </div>
        <div class="Question">
          <div class="number">9)</div>
          <div class="content"><span>The</span> <span>beggar</span> <span>was</span> <span>hungry</span>
            <span>and</span> <span>sleepy</span>.</div>
        </div>
        <div class="Question">
          <div class="number">10)</div>
          <div class="content"><span>Kate’s</span> <span>baby</span> <span>sister</span> <span>is</span>
            <span>very</span> <span>chubby</span>.</div>
        </div>
      </div>
    </div>
    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>

  </div>


</div>