<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
		<div class="row heading">
			<h1>Click on the correct Articles from the brackets, to complete the sentences.</h1>
		</div>
        <div class="row Main_Container">
            <div class="col-12 Question_Container">
                <div class="Question">
                    <div class="number">1</div>
                    <div class="content"> Mom made<div class="options">( <div class="option">a</div> / <div class="option right">an</div> )</div> aubergine pasta dish for dinner.</div>
                </div>
                <div class="Question">
                    <div class="number">2</div>
                    <div class="content">My cousin has <div class="options">( <div class="option">a</div> / <div class="option right">an</div> )</div> apple tree in his backyard.</div>
                </div>
                <div class="Question">
                    <div class="number">3</div>
                    <div class="content">There was <div class="options">( <div class="option right">a</div> / <div class="option">an</div> )</div> long queue at the ticket counter.</div>
                </div>
                <div class="Question">
                    <div class="number">4</div>
                    <div class="content">Peter lent <div class="options">( <div class="option right">a</div> / <div class="option">an</div> )</div> comic book to his friend.</div>
                </div>
                <div class="Question">
                    <div class="number">5</div>
                    <div class="content">Janet took <div class="options">( <div class="option">a</div> / <div class="option right">an</div> )</div> elevator to go to the top floor of The World Trade Center.</div>
                </div>
                <div class="Question">
                    <div class="number">6</div>
                    <div class="content">They went to <div class="options">( <div class="option right">a</div> / <div class="option">an</div> )</div> new restaurant for dinner.</div>
                </div>
                <div class="Question">
                    <div class="number">7</div>
                    <div class="content"><div class="options">( <div class="option">A</div> / <div class="option right">An</div> )</div> accident took place at the crossroads.</div>
                </div>
                <div class="Question">
                    <div class="number">8</div>
                    <div class="content">The principal gave <div class="options">( <div class="option right">a</div> / <div class="option">an</div> )</div> speech before the school started.</div>
                </div>
                <div class="Question">
                    <div class="number">9</div>
                    <div class="content">The pirates found <div class="options">( <div class="option right">a</div> / <div class="option">an</div> )</div> treasure chest on the island.</div>
                </div>
                <div class="Question">
                    <div class="number">10</div>
                    <div class="content">The teacher gave <div class="options">( <div class="option">a</div> / <div class="option right">an</div> )</div> assignment for homework.</div>
                </div>
            </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
  </div>
</div>