<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
		<div class="heading">
			<h1>Click on the blanks and then click on the correct Prepositions from the help box, to complete the sentences.</h1>
		</div>
        <div class="row Main_Container">
            <div class="col-12 Option_Container">
                <div class="options">
                    <div class="option">from</div>
                    <div class="option">down</div>
                    <div class="option">across</div>
                    <div class="option">against</div>
                    <div class="option">up</div>
                    <div class="option">along</div>
                    <div class="option">under</div>
                    <div class="option">through</div>
                </div>
            </div>
            <div class="col-12 Question_Container">
                <div class="Question_Div">
                    <div class="Question_Block">
                        <div class="imgBlock">
                            <img src="assets/std03-prepositions-worksheet2/img/up.png" alt="">
                        </div>
                        <div class="Question">
                            <div class="number">1)</div>
                            <div class="content">Sam is climbing <div class="input_div"><input type="text"><div class="correct_answer"><span>up</span></div></div> the stairs.</div>
                        </div>
                    </div>
                    <div class="Question_Block">
                        <div class="imgBlock">
                            <img src="assets/std03-prepositions-worksheet2/img/through.png" alt="">
                        </div>
                        <div class="Question">
                            <div class="number">2)</div>
                            <div class="content">Sam is walking <div class="input_div"><input type="text"><div class="correct_answer"><span>through</span></div></div> the tunnel.</div>
                        </div>
                    </div>
                    <div class="Question_Block">
                        <div class="imgBlock">
                            <img src="assets/std03-prepositions-worksheet2/img/from.png" alt="">
                        </div>
                        <div class="Question">
                            <div class="number">3)</div>
                            <div class="content">Sam is jumping <div class="input_div"><input type="text"><div class="correct_answer"><span>from</span></div></div> the bed.</div>
                        </div>
                    </div>
                    <div class="Question_Block">
                        <div class="imgBlock">
                            <img src="assets/std03-prepositions-worksheet2/img/down.png" alt="">
                        </div>
                        <div class="Question">
                            <div class="number">4)</div>
                            <div class="content">Sam is running <div class="input_div"><input type="text"><div class="correct_answer"><span>down</span></div></div> the stairs.</div>
                        </div>
                    </div>
                    <div class="Question_Block">
                        <div class="imgBlock">
                            <img src="assets/std03-prepositions-worksheet2/img/under.png" alt="">
                        </div>
                        <div class="Question">
                            <div class="number">5)</div>
                            <div class="content">Sam is walking <div class="input_div"><input type="text"><div class="correct_answer"><span>under</span></div></div> the bridge.</div>
                        </div>
                    </div>
                    <div class="Question_Block">
                        <div class="imgBlock">
                            <img src="assets/std03-prepositions-worksheet2/img/against.png" alt="">
                        </div>
                        <div class="Question">
                            <div class="number">6)</div>
                            <div class="content">Sam is leaning <div class="input_div"><input type="text"><div class="correct_answer"><span>against</span></div></div> the wall.</div>
                        </div>
                    </div>
                    <div class="Question_Block">
                        <div class="imgBlock">
                            <img src="assets/std03-prepositions-worksheet2/img/across.png" alt="">
                        </div>
                        <div class="Question">
                            <div class="number">7)</div>
                            <div class="content">Sam is swimming <div class="input_div"><input type="text"><div class="correct_answer"><span>across</span></div></div> the river.</div>
                        </div>
                    </div>
                    <div class="Question_Block">
                        <div class="imgBlock">
                            <img src="assets/std03-prepositions-worksheet2/img/along.png" alt="">
                        </div>
                        <div class="Question">
                            <div class="number">8)</div>
                            <div class="content">Sam is walking <div class="input_div"><input type="text"><div class="correct_answer"><span>along</span></div></div> the seashore.</div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
  </div>
</div>