<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="heading mt-3 row">
      <h1 clas="col-12">Click on the correct Adjectives from the shapes, to complete the sentences.</h1>
    </div>
    <div class="row Main_Container">
      <div class="col-12 Question_Container">
        <div class="Question">
          <div class="number"><span>1</span></div>
          <div class="content">
            Gracy has a <div class="options">
              <div class="option">triangular</div>, <div class="option right">rectangular</div>
            </div> table in the dining room.
          </div>
        </div>
        <div class="Question">
          <div class="number"><span>2</span></div>
          <div class="content">
            The <div class="options">
              <div class="option right">confident</div>, <div class="option">lazy</div>
            </div> boy raised his hand to answer the question.
          </div>
        </div>
        <div class="Question">
          <div class="number"><span>3</span></div>
          <div class="content">
            During the storm, <div class="options">
              <div class="option right">dark</div>, <div class="option">bright</div>
            </div> clouds covered the sky.
          </div>
        </div>
        <div class="Question">
          <div class="number"><span>4</span></div>
          <div class="content">
            The TV show had a <div class="options">
              <div class="option">short</div>, <div class="option right">mysterious</div>
            </div> ending.
          </div>
        </div>
        <div class="Question">
          <div class="number"><span>5</span></div>
          <div class="content">
            It was very <div class="options">
              <div class="option">hot</div>, <div class="option right">cold</div>
            </div> so grandpa was shivering.
          </div>
        </div>
        <div class="Question">
          <div class="number"><span>6</span></div>
          <div class="content">
            Draw a <div class="options">
              <div class="option right">straight</div>, <div class="option">crooked</div>
            </div> line in the middle of the page.
          </div>
        </div>
        <div class="Question">
          <div class="number"><span>7</span></div>
          <div class="content">
            David is an <div class="options">
              <div class="option right">enthusiastic</div>, <div class="option">kind</div>
            </div> boy, always willing to learn.
          </div>
        </div>
        <div class="Question">
          <div class="number"><span>8</span></div>
          <div class="content">
            There was <div class="options">
              <div class="option">peaceful</div>, <div class="option right">deafening</div>
            </div> music played at the concert.
          </div>
        </div>
      </div>
    </div>
    <div class="btn-row">
      <button class="button myButton">Submit</button>
    </div>

  </div>
</div>