<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
    <div class="loadingDiv">
	</div>
	
    <div class="container">
        <div class="row">
            <div class="heading mt-3">
                <h1>Click on the blanks and then click on the correct Demonstrative Pronouns from the help box, to complete the sentences.</h1>
            </div>
        </div>
        <div class="row Main_Container">
            <div class="col-12 Option_Container">
                <div class="options">
                    <div class="option">this</div>
                    <div class="option">that</div>
                    <div class="option">these</div>
                    <div class="option">those</div>
                </div>
            </div>
            <div class="col-12 Question_Container">
               <div class="Question_Row">
                   <div class="number">1)</div>
                   <div class="content">
                        <span class="text_container">Is <div class="input_div"><input type="text"><div class="correct_answer"><span>that</span></div></div> a python?</span>
                        <img src="assets/std02-demostrative-pronoun-worksheet5/img/p1.png" class="rounded" alt="Responsive image">
                   </div>
               </div>
               <div class="Question_Row">
                   <div class="number">2)</div>
                   <div class="content">
                        <span class="text_container"><div class="input_div"><input type="text" class="uppercase"><div class="correct_answer"><span>This</span></div></div> is Rohan, my best friend.</span>
                        <img src="assets/std02-demostrative-pronoun-worksheet5/img/p2.png" class="rounded" alt="Responsive image">
                   </div>
               </div>
               <div class="Question_Row">
                   <div class="number">3)</div>
                   <div class="content">
                        <span class="text_container"><div class="input_div"><input type="text" class="uppercase"><div class="correct_answer"><span>Those</span></div></div> policemen are trying to catch the robber.</span>
                        <img src="assets/std02-demostrative-pronoun-worksheet5/img/p3.png" class="rounded" alt="Responsive image">
                   </div>
               </div>
               <div class="Question_Row">
                   <div class="number">4)</div>
                   <div class="content">
                        <span class="text_container">Look at <div class="input_div"><input type="text"><div class="correct_answer"><span>these</span></div></div> cute, little bunnies!</span>
                        <img src="assets/std02-demostrative-pronoun-worksheet5/img/p4.png" class="rounded" alt="Responsive image">
                   </div>
               </div>
               <div class="Question_Row">
                   <div class="number">5)</div>
                   <div class="content">
                        <span class="text_container"><div class="input_div"><input type="text" class="uppercase"><div class="correct_answer"><span>These</span></div></div> are very light boxes. You can easily carry them.</span>
                        <img src="assets/std02-demostrative-pronoun-worksheet5/img/p5.png" class="rounded" alt="Responsive image">
                   </div>
               </div>
               <div class="Question_Row">
                   <div class="number">6)</div>
                   <div class="content">
                        <span class="text_container"><div class="input_div"><input type="text" class="uppercase"><div class="correct_answer"><span>That</span></div></div> is a truck.</span>
                        <img src="assets/std02-demostrative-pronoun-worksheet5/img/p6.png" class="rounded" alt="Responsive image">
                   </div>
               </div>
            </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
    </div>

</div>