<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
              <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide">
              <!-- <img src="" alt="" class="Text fabulous hide"> -->
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
    <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
      <div class="row m-0">
          <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
              <h2 class="font-weight-bold heading">
                  Click on the blanks and then click on the correct Synonyms
                  from the boxes, of the underlined words.
              </h2>
          </div>
      </div>



      <div class="main-question-container">

          <!-- 1 -->
          <div class="question">
              <div class="number">
                  <span>1)</span>
              </div>
              <div class="main-text-container">
                  <div class="text-container">
                      <span><u>begin</u> means to</span>
                      <div class="input-container">
                          <input type="text" data-text="first">
                          <div class="correct-answer">
                              <span>start</span>
                          </div>
                      </div>
                  </div>
                  <div class="option-container first">
                      <div class="option">
                          <span>go</span>
                      </div>
                      <div class="option">
                          <span>start</span>
                      </div>
                      <div class="option">
                          <span>end</span>
                      </div>
                      <div class="option">
                          <span>find</span>
                      </div>
                  </div>
              </div>
          </div>
           <!-- 2 -->
           <div class="question">
              <div class="number">
                  <span>2)</span>
              </div>
              <div class="main-text-container">
                  <div class="text-container">
                      <span><u>enemy</u> means</span>
                      <div class="input-container">
                          <input type="text" data-text="second">
                          <div class="correct-answer">
                              <span>foe</span>
                          </div>
                      </div>
                  </div>
                  <div class="option-container second">
                      <div class="option">
                          <span>foe</span>
                      </div>
                      <div class="option">
                          <span>friend</span>
                      </div>
                      <div class="option">
                          <span>person</span>
                      </div>
                      <div class="option">
                          <span>pal</span>
                      </div>
                  </div>
              </div>
          </div>
           <!-- 3 -->
           <div class="question">
              <div class="number">
                  <span>3)</span>
              </div>
              <div class="main-text-container">
                  <div class="text-container">
                      <span><u>foolish</u> means</span>
                      <div class="input-container">
                          <input type="text" data-text="third">
                          <div class="correct-answer">
                              <span>stupid</span>
                          </div>
                      </div>
                  </div>
                  <div class="option-container third">
                      <div class="option">
                          <span>uneducated</span>
                      </div>
                      <div class="option">
                          <span>wise</span>
                      </div>
                      <div class="option">
                          <span>stupid</span>
                      </div>
                      <div class="option">
                          <span>dumb</span>
                      </div>
                  </div>
              </div>
          </div>
           <!-- 4 -->
           <div class="question">
              <div class="number">
                  <span>4)</span>
              </div>
              <div class="main-text-container">
                  <div class="text-container">
                      <span><u>poor</u> means</span>
                      <div class="input-container">
                          <input type="text" data-text="fourth">
                          <div class="correct-answer">
                              <span>needy</span>
                          </div>
                      </div>
                  </div>
                  <div class="option-container fourth">
                      <div class="option">
                          <span>wealthy</span>
                      </div>
                      <div class="option">
                          <span>poverty</span>
                      </div>
                      <div class="option">
                          <span>rich</span>
                      </div>
                      <div class="option">
                          <span>needy</span>
                      </div>
                  </div>
              </div>
          </div>
           <!-- 5 -->
           <div class="question">
              <div class="number">
                  <span>5)</span>
              </div>
              <div class="main-text-container">
                  <div class="text-container">
                      <span><u>smelly</u> means</span>
                      <div class="input-container">
                          <input type="text" data-text="fifth">
                          <div class="correct-answer">
                              <span>stinky</span>
                          </div>
                      </div>
                  </div>
                  <div class="option-container fifth">
                      <div class="option">
                          <span>stinky</span>
                      </div>
                      <div class="option">
                          <span>aroma</span>
                      </div>
                      <div class="option">
                          <span>fragrance</span>
                      </div>
                      <div class="option">
                          <span>perfume</span>
                      </div>
                  </div>
              </div>
          </div>
           <!-- 6 -->
           <div class="question">
              <div class="number">
                  <span>6)</span>
              </div>
              <div class="main-text-container">
                  <div class="text-container">
                      <span><u>buy</u> means to</span>
                      <div class="input-container">
                          <input type="text" data-text="sixth">
                          <div class="correct-answer">
                              <span>purchase</span>
                          </div>
                      </div>
                  </div>
                  <div class="option-container sixth">
                      <div class="option">
                          <span>sell</span>
                      </div>
                      <div class="option">
                          <span>bought</span>
                      </div>
                      <div class="option">
                          <span>purchase</span>
                      </div>
                      <div class="option">
                          <span>give</span>
                      </div>
                  </div>
              </div>
          </div>
           <!-- 7 -->
           <div class="question">
              <div class="number">
                  <span>7)</span>
              </div>
              <div class="main-text-container">
                  <div class="text-container">
                      <span><u>print</u> means to</span>
                      <div class="input-container">
                          <input type="text" data-text="seventh">
                          <div class="correct-answer">
                              <span>publish</span>
                          </div>
                      </div>
                  </div>
                  <div class="option-container seventh">
                      <div class="option">
                          <span>write</span>
                      </div>
                      <div class="option">
                          <span>publish</span>
                      </div>
                      <div class="option">
                          <span>say</span>
                      </div>
                      <div class="option">
                          <span>draw</span>
                      </div>
                  </div>
              </div>
          </div>
           <!-- 8 -->
           <div class="question">
              <div class="number">
                  <span>8)</span>
              </div>
              <div class="main-text-container">
                  <div class="text-container">
                      <span><u>protect</u> means to</span>
                      <div class="input-container">
                          <input type="text" data-text="eighth">
                          <div class="correct-answer">
                              <span>defend</span>
                          </div>
                      </div>
                  </div>
                  <div class="option-container eighth">
                      <div class="option">
                          <span>defend</span>
                      </div>
                      <div class="option">
                          <span>save</span>
                      </div>
                      <div class="option">
                          <span>victory</span>
                      </div>
                      <div class="option">
                          <span>rescue</span>
                      </div>
                  </div>
              </div>
          </div>
          <!-- end -->



      </div>
  </div>
  <div class="row btn-row">
      <div class="col-12 text-center">
          <button class="button myButton">Submit</button>
      </div>
  </div>
</div>