<div class="bg"  ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    <div class="loadingDiv">
    </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 mb-3">
				<h2 class="font-weight-bold heading">
					Click on the blanks and then click on the correct Singular or Plural Nouns from the shapes, to complete the sentences.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<!-- 1 -->
				<div class="question">
					<div class="number"><span>1)</span></div>
					<div class="main-text-container">
						<div class="text-container">
							<span>A city has many tall</span>
							<div class="input-container">
								<input type="text" >.
								<div class="correct-answer">
									<span>buildings</span>
								</div>
							</div>
							<div class="options">
								<div class="option"><span>building</span></div>
								<div class="option"><span>buildings</span></div>
							</div>
							<div class="img-container">
								<img src="assets/std01-singular-plural-nouns-worksheet10/img/q1.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
				<!-- 2 -->
				<div class="question">
					<div class="number"><span>2)</span></div>
					<div class="main-text-container">
						<div class="text-container">
							<span>That lady is wearing a gold </span>
							<div class="input-container">
								<input type="text" > 
								<div class="correct-answer">
									<span>ring</span>
								</div>
							</div>
							<div class="options">
								<div class="option"><span>ring</span></div>
								<div class="option"><span>rings</span></div>
							</div>
							<span>in her finger.</span>
							<div class="img-container">
								<img src="assets/std01-singular-plural-nouns-worksheet10/img/q2.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
				<!-- 3 -->
				<div class="question">
					<div class="number"><span>3)</span></div>
					<div class="main-text-container">
						<div class="text-container">
							<span>Tom<span class="comma">’</span>s</span>
							<div class="input-container">
								<input type="text" > 
								<div class="correct-answer">
									<span>tooth</span>
								</div>
							</div>
							<div class="options">
								<div class="option"><span>tooth</span></div>
								<div class="option"><span>teeth</span></div>
							</div>
							<span>had a cavity.</span>
							<div class="img-container">
								<img src="assets/std01-singular-plural-nouns-worksheet10/img/q3.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
				<!-- 4 -->
				<div class="question">
					<div class="number"><span>4)</span></div>
					<div class="main-text-container">
						<div class="text-container">
							<span>The children went down the</span>
							<div class="input-container">
								<input type="text" > 
								<div class="correct-answer">
									<span>slides</span>
								</div>
							</div>
							<div class="options">
								<div class="option"><span>slide</span></div>
								<div class="option"><span>slides</span></div>
							</div>
							<span>in the park.</span>
							<div class="img-container">
								<img src="assets/std01-singular-plural-nouns-worksheet10/img/q4.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
				<!-- 5 -->
				<div class="question">
					<div class="number"><span>5)</span></div>
					<div class="main-text-container">
						<div class="text-container">
							<span>Kate<span class="comma">’</span>s</span>
							<div class="input-container">
								<input type="text" > 
								<div class="correct-answer">
									<span>crayons</span>
								</div>
							</div>
							<div class="options">
								<div class="option"><span>crayon</span></div>
								<div class="option"><span>crayons</span></div>
							</div>
							<span>were all over the floor.</span>
							<div class="img-container">
								<img src="assets/std01-singular-plural-nouns-worksheet10/img/q5.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
				<!-- 6 -->
				<div class="question">
					<div class="number"><span>6)</span></div>
					<div class="main-text-container">
						<div class="text-container">
							<span>A</span>
							<div class="input-container">
								<input type="text" > 
								<div class="correct-answer">
									<span>cat</span>
								</div>
							</div>
							<div class="options">
								<div class="option"><span>cat</span></div>
								<div class="option"><span>cats</span></div>
							</div>
							<span>ran across the street.</span>
							<div class="img-container">
								<img src="assets/std01-singular-plural-nouns-worksheet10/img/q6.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
				<!-- 7 -->
				<div class="question">
					<div class="number"><span>7)</span></div>
					<div class="main-text-container">
						<div class="text-container">
							<span>There were ten</span>
							<div class="input-container">
								<input type="text" > 
								<div class="correct-answer">
									<span>peas</span>
								</div>
							</div>
							<div class="options">
								<div class="option"><span>pea</span></div>
								<div class="option"><span>peas</span></div>
							</div>
							<span>in the pod.</span>
							<div class="img-container">
								<img src="assets/std01-singular-plural-nouns-worksheet10/img/q7.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
				<!-- 8 -->
				<div class="question">
					<div class="number"><span>8)</span></div>
					<div class="main-text-container">
						<div class="text-container">
							<span>I have long</span>
							<div class="input-container">
								<input type="text" >. 
								<div class="correct-answer">
									<span>hair</span>
								</div>
							</div>
							<div class="options">
								<div class="option"><span>hair</span></div>
								<div class="option"><span>hairs</span></div>
							</div>
							<!-- <span>.</span> -->
							<div class="img-container">
								<img src="assets/std01-singular-plural-nouns-worksheet10/img/q8.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
				<!-- 9 -->
				<div class="question">
					<div class="number"><span>9)</span></div>
					<div class="main-text-container">
						<div class="text-container">
							<span>The maid is washing the</span>
							<div class="input-container">
								<input type="text" >.
								<div class="correct-answer">
									<span>dishes</span>
								</div>
							</div>
							<div class="options">
								<div class="option"><span>dish</span></div>
								<div class="option"><span>dishes</span></div>
							</div>
							<!-- <span>.</span> -->
							<div class="img-container">
								<img src="assets/std01-singular-plural-nouns-worksheet10/img/q9.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
				<!-- 10 -->
				<div class="question">
					<div class="number"><span>10)</span></div>
					<div class="main-text-container">
						<div class="text-container">
							<span>May I have some</span>
							<div class="input-container">
								<input type="text" >
								<div class="correct-answer">
									<span>sugar</span>
								</div> 
							</div>
							<div class="options">
								<div class="option"><span>sugar</span></div>
								<div class="option"><span>sugars</span></div>
							</div>
							<span>in my tea?</span>
							<div class="img-container">
								<img src="assets/std01-singular-plural-nouns-worksheet10/img/q10.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
				<!-- end -->
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>

</div>
   