<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row m-0">
            <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
                <h2 class="font-weight-bold heading">
                    Click in the boxes given in the sentences and then click on the
                    correct Masculine Gender from the help box, to replace the
                    Feminine Gender.

                </h2>
            </div>
        </div>

        <div class="helpbox-container">
            <div class="helpbox-ans">
                <span>stallion</span>
            </div>
            <div class="helpbox-ans">
                <span>monk</span>
            </div>
            <div class="helpbox-ans">
                <span>baron</span>
            </div>
            <div class="helpbox-ans">
                <span>dad</span>
            </div>
            <div class="helpbox-ans">
                <span>tiger</span>
            </div>
            <div class="helpbox-ans">
                <span>milkman</span>
            </div>
            <div class="helpbox-ans">
                <span>king</span>
            </div>
            <div class="helpbox-ans">
                <span>brother</span>
            </div>

        </div>

        <div class="main-question-container">


            <!-- 1 -->
            <div class="question">
                <div class="number">
                    <span>1)</span>
                </div>
                <div class="text-container">
                    <span>My <div class="input-box" data-text="sister">sister</div> loves to play chess.</span>
                    <div class="correct-answer">
                        <span>brother</span>
                    </div>
                </div>
            </div>
            <!-- 2 -->
            <div class="question">
                <div class="number">
                    <span>2)</span>
                </div>
                <div class="text-container">
                    <span>The wounded <div class="input-box" data-text="tigress">tigress</div> was groaning in pain.</span>
                    <div class="correct-answer">
                        <span>tiger</span>
                    </div>
                </div>
            </div>
            <!-- 3 -->
            <div class="question">
                <div class="number">
                    <span>3)</span>
                </div>
                <div class="text-container">
                    <span><div class="input-box uppercase" data-text="Mom">Mom</div> asked me if I had finished my homework.</span>
                    <div class="correct-answer">
                        <span>Dad</span>
                    </div>
                </div>
            </div>
            <!-- 4 -->
            <div class="question">
                <div class="number">
                    <span>4)</span>
                </div>
                <div class="text-container">
                    <span>The <div class="input-box" data-text="queen">queen</div> was benevolent to the people.</span>
                    <div class="correct-answer">
                        <span>king</span>
                    </div>
                </div>
            </div>
            <!-- 5 -->
            <div class="question">
                <div class="number">
                    <span>5)</span>
                </div>
                <div class="text-container">
                    <span>He was riding his <div class="input-box" data-text="mare">mare</div> through the jungle.</span>
                    <div class="correct-answer">
                        <span>stallion</span>
                    </div>
                </div>
            </div>
            <!-- 6 -->
            <div class="question">
                <div class="number">
                    <span>6)</span>
                </div>
                <div class="text-container">
                    <span>The <div class="input-box" data-text="baroness">baroness</div> lived on a huge estate.</span>
                    <div class="correct-answer">
                        <span>baron</span>
                    </div>
                </div>
            </div>
            <!-- 7 -->
            <div class="question">
                <div class="number">
                    <span>7)</span>
                </div>
                <div class="text-container">
                    <span>The famous singer decided to become a <div class="input-box" data-text="nun">nun</div> .</span>
                    <div class="correct-answer">
                        <span>monk</span>
                    </div>
                </div>
            </div>
            <!-- 8 -->
            <div class="question">
                <div class="number">
                    <span>8)</span>
                </div>
                <div class="text-container">
                    <span>Our <div class="input-box" data-text="milkmaid">milkmaid</div> comes at 7 o’clock everyday.</span>
                    <div class="correct-answer">
                        <span>milkman</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row btn-row">
        <div class="col-12 text-center">
            <button class="button myButton">Submit</button>
        </div>
    </div>
</div>