<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="col-12 px-2 mb-1 mb-sm-4">	
				<h2 class="heading-line">
					Click in the correct boxes of Past, Present and Future to colour them, that the underlined Verb Tenses indicate for the sentences.
				</h2>
			</div>
		</div>
 		<div class=" Question_Body">
		<div class="container">
			<div class="row">
			
					<div class="col-1 col-sm-1 p-1">
							<div class="list-item">
								<span class="white-box">1)</span>
							</div>
						</div>
	
				<div class="col-11 col-sm-5">
				   <div class="content1">Tommy <u>showered</u> before swimming.</div> 
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question right-ans">Past</span>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question wrong-ans">Present</span>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question wrong-ans">Future</span>
				</div>
			</div>	

			<div class="row">
			
					<div class="col-1 col-sm-1 p-1">
							<div class="list-item">
								<span class="white-box">2)</span>
							</div>
						</div>
	
				<div class="col-11 col-sm-5">
						<div class="content1">The boy <u>coughs</u> all through the day.</div>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question wrong-ans clk-ans">Past</span>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question right-ans">Present</span>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question wrong-ans clk-ans">Future</span>
				</div>
			</div>

			<div class="row">
			
					<div class="col-1 col-sm-1 p-1">
							<div class="list-item">
								<span class="white-box">3)</span>
							</div>
						</div>
	
				<div class="col-11 col-sm-5">
						<div class="content1">An old lady <u>lit</u> a candle in the church.</div>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question right-ans">Past</span>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question wrong-ans">Present</span>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question wrong-ans">Future</span>
				</div>
			</div>

			<div class="row">
			
					<div class="col-1 col-sm-1 p-1">
							<div class="list-item">
								<span class="white-box">4)</span>
							</div>
						</div>
	
				<div class="col-11 col-sm-5">
						<div class="content1">All the students <u>will write</u> their name on the top of the page.</div>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question wrong-ans">Past</span>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question wrong-ans">Present</span>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question right-ans">Future</span>
				</div>
			</div>

			<div class="row">
			
					<div class="col-1 col-sm-1 p-1">
							<div class="list-item">
								<span class="white-box">5)</span>
							</div>
						</div>
	
				<div class="col-11 col-sm-5">
						<div class="content1">The sleepy man <u>drove</u> the car through a red signal.</div>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question right-ans">Past</span>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question wrong-ans">Present</span>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question wrong-ans">Future</span>
				</div>
			</div>

			<div class="row">
			
					<div class="col-1 col-sm-1 p-1">
							<div class="list-item">
								<span class="white-box">6)</span>
							</div>
						</div>
	
				<div class="col-11 col-sm-5">
						<div class="content1">The chef <u>will break</u> two eggs to make an omelette.</div>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question wrong-ans">Past</span>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question wrong-ans">Present</span>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question right-ans">Future</span>
				</div>
			</div>

			<div class="row">
			
					<div class="col-1 col-sm-1 p-1">
							<div class="list-item">
								<span class="white-box">7)</span>
							</div>
						</div>
	
				<div class="col-11 col-sm-5">
						<div class="content1">Ron <u>plays</u> the guitar for an hour everyday.</div>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question wrong-ans">Past</span>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question right-ans">Present</span>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question wrong-ans">Future</span>
				</div>
			</div>

			<div class="row">
			
					<div class="col-1 col-sm-1 p-1">
							<div class="list-item">
								<span class="white-box">8)</span>
							</div>
						</div>
	
				<div class="col-11 col-sm-5">
				   <div class="content1">The naughty boys <u>jump</u> on the bed before going to sleep.</div>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question wrong-ans">Past</span>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question right-ans">Present</span>
				</div>
				<div class="col-4 col-sm-2">
					<span class="Question wrong-ans">Future</span>
				</div>
			</div>

			</div>


		</div>

		<div class="row btn-row">
			<div class="col-12 text-center">
				<button class="button myButton">Submit</button>
			</div>
		</div>
 
	</div>
</div>