<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text fabulous hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
  </div>
	
	<div class="container">
		<div class="row heading-container">
			<div class="col-12 px-2 p-2 mt-3 ">
				<div class="heading-top">
					<h2 class="font-weight-bold heading text-center no-center">
						Let us learn some amazing facts!
					</h2>
				</div>
				<h2 class="font-weight-bold heading">
					Click on the Present Tense Verbs in the following sentences.
				</h2>
			</div>
		</div>
		<div class="row">
		 <div class="Question-container mt-2">
			<div class="row m-0">
				<!-- 1 -->
				<div class="col-12  p-0 mb-3 ">
					<div class="question">
						<div class="number"><span >1</span></div>
						<div class="text-container">
                <span>Kangaroos</span> <span>cannot</span> <span class="right">walk</span> <span>backwards</span>!
						</div>
					</div>
				</div>
				<!-- 2 -->
				<div class="col-12  p-0 mb-3 ">
					<div class="question">
						<div class="number"><span >2</span></div>
						<div class="text-container">
                <span>Venus</span> <span class="right">is</span> <span>the</span> <span>only</span> <span>planet</span> <span>that</span> <span class="right">rotates</span> <span>clockwise</span>.
						</div>
					</div>
				</div>	
				<!-- 3 -->
				<div class="col-12  p-0 mb-3 ">
					<div class="question">
						<div class="number"><span >3</span></div>
						<div class="text-container">
								<span>Apples</span> <span class="right">float</span> <span>on</span> <span>water</span>.
						</div>
					</div>
				</div>
				<!-- 4 -->
				<div class="col-12  p-0 mb-3 ">
					<div class="question">
						<div class="number"><span >4</span></div>
						<div class="text-container">
                <span>Australia</span> <span class="right">is</span> <span>the</span> <span>only</span> <span>continent</span> <span>in</span> <span>the</span> <span>world</span> <span>that</span> <span class="right">has</span> <span>no</span> <span>volcanoes</span>.
						</div>
					</div>
				</div>	
				<!-- 5-8  -->
				<!-- 5 -->
				<div class="col-12  p-0 mb-3 ">
					<div class="question">
						<div class="number"><span >5</span></div>
						<div class="text-container">
								<span>Rabbits</span> <span>and</span> <span>parrots</span> <span>can</span> <span class="right">see</span> <span>what</span> <span class="right">is</span> <span>behind</span> <span>them</span> <span>without</span> <span>turning</span> <span>their</span> <span>heads</span>.
						</div>
					</div>
				</div>
				<!-- 6 -->
				<div class="col-12  p-0 mb-3">
					<div class="question">
						<div class="number"><span >6</span></div>
						<div class="text-container">
                <span>Honey</span> <span class="right">has</span> <span>no</span> <span>expiry</span> <span>date</span>.
						</div>
					</div>
				</div>	
				<!-- 7 -->
				<div class="col-12  p-0 mb-3 ">
					<div class="question">
						<div class="number"><span >7</span></div>
						<div class="text-container">
                <span>Babies</span> <span class="right">yawn</span> <span>before</span> <span>they</span> <span class="right">are</span> <span>born</span>.
						</div>
					</div>
				</div>
				<!-- 8 -->
				<div class="col-12  p-0 mb-3 ">
					<div class="question">
						<div class="number"><span >8</span></div>
						<div class="text-container">
                <span>Crocodiles</span> <span>often</span> <span class="right">eat</span> <span>rocks</span>.
						</div>
					</div>
				</div>	
				<!-- 9 -->
				<div class="col-12  p-0 mb-3 ">
					<div class="question">
						<div class="number"><span >9</span></div>
						<div class="text-container">
								<span>Frogs</span> <span class="right">drink</span> <span>through</span> <span>their</span> <span>skin</span>.
						</div>
					</div>
				</div>
				<!-- 10 -->
				<div class="col-12  p-0 mb-3 ">
					<div class="question">
						<div class="number"><span >10</span></div>
						<div class="text-container">
                <span>Each</span> <span>rain</span> <span>drop</span> <span class="right">makes</span> <span>its</span> <span>own</span> <span>rainbow</span>.
						</div>
					</div>
				</div>	
				<!-- end -->
			</div>
		 </div>
		 
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
		</div>	
	</div>
</div>