<div class="bg"  ngPreserveWhitespaces>
<div class='result'>
    <div class="Box">
        <div class="imgBox">
            <img src="" alt="" class="Text keep-practicing hide">
            <img src="" alt="" class="Text outstanding hide">
            <img src="" alt="" class="Text brilliant hide">
            <img src="" alt="" class="Text good-work hide">
            <!-- <img src="" alt="" class="Text fabulous hide"> -->
        </div>
        <div class="TextBox">
            <h1></h1>
        </div>
        <img src="assets/images/close.png" alt="" class="close">
    </div>
</div>

<div class="loadingDiv">
</div>
<div class="container">
    <div class="row">
        <div class="heading mt-3">
            <h1>
                Click on the blanks and then click on the correct Rhyming Words from the help box, to complete the poem.
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-xl-5 Question_Container">
            <div class="row">
                <h3 class="header">Rudolph The Red-Nosed Reindeer</h3>
            </div>
           <div class="row">
               <div class="col-12 font-weight-bold">
                   <div class="div Questions">
                        <div>Rudolph The Red-Nosed Reindeer</div>
                        <div>Had a very shiny <input type="text"> <div class="correct_answer">nose</div> </div>
                        <div>And if you ever saw it </div>
                        <div>You would even say it <input type="text"> <div class="correct_answer">glows</div> </div>
                        <div>All of the other reindeer</div> 
                        <div>Used to laugh and call him <input type="text"> <div class="correct_answer">names</div> </div>
                        <div>They never let poor Rudolph</div>
                        <div>Join in any reindeer <input type="text"> <div class="correct_answer">games</div> </div>
                        <div>Then one foggy Christmas Eve,</div>
                        <div>Santa came to <input type="text"><span class="comma">,</span> <div class="correct_answer">say</div> </div>
                        <div>“Rudolph with your nose so bright<span class="comma">,</span> </div>
                        <div>Won't you guide my <input type="text">?<span class="comma">”</span> <div class="correct_answer">sleigh</div> </div>
                        <div>Then how all the reindeer loved him,</div>
                        <div>As they shouted out with <input type="text"> <div class="correct_answer">glee</div> </div>
                        <div>Rudolph the red-nose Reindeer</div>
                        <div>You<span class="comma">’</span>ll go down in <input type="text">. <div class="correct_answer">history</div> </div>
                    </div>
               </div>
                <div class="btn-row col-12">
                    <button class="button myButton">Submit</button>
                </div>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-6 Option_Container mx-auto">
            <div class="options d-inline-block">
                <table>
                    <tr>
                        <td>
                            <img src="assets/std01-rhyming-words-worksheet15/img/glows.png" alt="" class="img-fluid">
                            <div><span>glows</span></div>
                        </td>
                         <td>
                            <img src="assets/std01-rhyming-words-worksheet15/img/games.png" alt="" class="img-fluid">
                            <div><span>games</span></div> 
                        </td>
                         <td>
                            <img src="assets/std01-rhyming-words-worksheet15/img/nose.png" alt="" class="img-fluid">
                            <div><span>nose</span></div> 
                        </td>
                         <td>
                            <img src="assets/std01-rhyming-words-worksheet15/img/glee.png" alt="" class="img-fluid">
                            <div><span>glee</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/std01-rhyming-words-worksheet15/img/history.png" alt="" class="img-fluid">
                            <div><span>history</span></div>
                        </td>
                         <td>
                            <img src="assets/std01-rhyming-words-worksheet15/img/names.png" alt="" class="img-fluid">
                            <div><span>names</span></div>
                        </td>
                         <td>
                            <img src="assets/std01-rhyming-words-worksheet15/img/sleigh.png" alt="" class="img-fluid">
                            <div><span>sleigh</span></div>
                        </td>
                         <td>
                            <img src="assets/std01-rhyming-words-worksheet15/img/say.png" alt="" class="img-fluid">
                            <div><span>say</span></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
 
</div>

</div>
    