<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text fabulous hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
	<div class="loadingDiv">
	</div>
	<div class="container">
		<div class="row mb-3">
			<div class="col-xs-12 px-2  mt-3">
				<h2 class="font-weight-bold heading">
					Click in the boxes and click on the correct Quotation Marks from the help box, to complete the
					punctuation for the sentences.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="helpbox-container font-weight-bold">
				<div class="row m-0">
					<div class="col-6 p-0 text-center">
						<div>
							<div>
								<span>“</span>
							</div>

						</div>
					</div>
					<div class="col-6 p-0 text-center">
						<div>
							<div>
								<span>”</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="question-container">
				<div class="row m-0">
					<div class="col-12 p-0">
						<!-- 1 -->
						<div class="question mt-2">
							<div class="number">
								<span>1)</span>
							</div>
							<div class="text-container">
								<span>Abby said,</span>
								<span class="input-span">
									<input type="text" class="first">
								</span>
								<span class="answer-span">
									“
								</span>
								<span>The roller coaster ride was thrilling.</span>
								<span class="input-span">
									<input type="text" class="second">
								</span>
								<span class="answer-span answer-span-last">
									”
								</span>
							</div>
						</div>
						<!-- 2 -->
						<div class="question">
							<div class="number">
								<span>2)</span>
							</div>
							<div class="text-container">
								<span class="input-span">
									<input type="text" class="first">
								</span>
								<span class="answer-span">
									“
								</span>
								<span>I want a banana split sundae,</span>
								<span class="input-span">
									<input type="text" class="second">
								</span>
								<span class="answer-span ">
									”
								</span>
								<span>said Ted.</span>
							</div>
						</div>
						<!-- 3 -->
						<div class="question">
							<div class="number">
								<span>3)</span>
							</div>
							<div class="text-container">

								<span class="input-span">
									<input type="text" class="first">
								</span>
								<span class="answer-span">
									“
								</span>
								<span>It’s a goal!</span>
								<span class="input-span">
									<input type="text" class="second">
								</span>
								<span class="answer-span ">
									”
								</span>
								<span>shouted the cheerleaders.</span>
							</div>
						</div>
						<!-- 4 -->
						<div class="question">
							<div class="number">
								<span>4)</span>
							</div>
							<div class="text-container">
								<span>Mom asked,</span>
								<span class="input-span">
									<input type="text" class="first">
								</span>
								<span class="answer-span ">
									“
								</span>
								<span>When are you coming back from the party?</span>
								<span class="input-span">
									<input type="text" class="second">
								</span>
								<span class="answer-span answer-span-last">
									”
								</span>
							</div>
						</div>
						<!-- 5 -->
						<div class="question">
							<div class="number">
								<span>5)</span>
							</div>
							<div class="text-container">
								<span class="input-span">
									<input type="text" class="first">
								</span>
								<span class="answer-span">
									“
								</span>
								<span>Oh no!</span>
								<span class="input-span">
									<input type="text" class="second">
								</span>
								<span class="answer-span ">
									”
								</span>
								<span>said Janet,</span>
								<span class="input-span">
									<input type="text" class="first">
								</span>
								<span class="answer-span ">
									“
								</span>
								<span>I forgot to do my homework.</span>
								<span class="input-span">
									<input type="text" class="second">
								</span>
								<span class="answer-span answer-span-last">
									”
								</span>
							</div>
						</div>
						<!-- 6 -->
						<div class="question">
							<div class="number">
								<span>6)</span>
							</div>
							<div class="text-container">
								<span>Dan said,</span>
								<span class="input-span">
									<input type="text" class="first">
								</span>
								<span class="answer-span ">
									“
								</span>
								<span>The reality dance show begins at 8 o’clock.</span>
								<span class="input-span">
									<input type="text" class="second">
								</span>
								<span class="answer-span answer-span-last">
									”
								</span>
							</div>
						</div>
						<!-- 7 -->
						<div class="question">
							<div class="number">
								<span>7)</span>
							</div>
							<div class="text-container">

								<span class="input-span">
									<input type="text" class="first">
								</span>
								<span class="answer-span ">
									“
								</span>
								<span>Mom is making lasagna for dinner,</span>
								<span class="input-span">
									<input type="text" class="second">
								</span>
								<span class="answer-span down">
									”
								</span>
								<span>said Jessica.</span>
							</div>
						</div>
						<!-- 8 -->
						<div class="question">
							<div class="number">
								<span>8)</span>
							</div>
							<div class="text-container">
								<span> Clara asked,</span>
								<span class="input-span">
									<input type="text" class="first">
								</span>
								<span class="answer-span ">
									“
								</span>
								<span>Can I have some apple juice?</span>
								<span class="input-span">
									<input type="text" class="second">
								</span>
								<span class="answer-span answer-span-last">
									”
								</span>
							</div>
						</div>
						<!-- 9 -->
						<div class="question">
							<div class="number">
								<span>9)</span>
							</div>
							<div class="text-container">
								<span>The carpenter asked,</span>
								<span class="input-span">
									<input type="text" class="first">
								</span>
								<span class="answer-span ">
									“
								</span>
								<span>Where is the hammer?</span>

								<span class="input-span">
									<input type="text" class="second">
								</span>
								<span class="answer-span answer-span-last">
									”
								</span>
							</div>
						</div>
						<!-- 10 -->
						<div class="question">
							<div class="number">
								<span>10)</span>
							</div>
							<div class="text-container tx-10">
								<span>Mona said excitedly,</span>
								<span class="input-span">
									<input type="text" class="first">
								</span>
								<span class="answer-span ">
									“
								</span>
								<span> I found the missing book.</span>
								<span class="input-span">
									<input type="text" class="second">
								</span>
								<span class="answer-span answer-span-last">
									”
								</span>
							</div>
						</div>
						<!-- end -->

						<!--  -->
					</div>
				</div>
			</div>

		</div>
		<div class="row ">
			<div class="btn-div">
				<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>