<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
		<div class="heading">
			<h1>Click on the blanks given beside the numbers and then click on the correct Antonyms from Column B, of the words given in Column A.</h1>
		</div>
        <div class="Main_Container">
            <div class="Question_Container">
                <img src="assets/std03-antonyms-worksheet3/img/Question_bg.jpg" alt="" class="Question_bg">
                <img src="assets/std03-antonyms-worksheet3/img/Question_bg_portrait.jpg" alt="" class="Question_bg_portrait">
                <div class="Question_Block">
                    <div class="header_row">
                        <div class="header">Column A</div>
                        <div class="header">Column B</div>
                    </div>
                    <div class="Question_Row">
                        <div class="Question_Div">
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>H</span></div></div>
                            <div class="Question">
                                <div class="number">1)</div>
                                <div class="content">increase</div>
                            </div>
                        </div>
                        <div class="option">
                            <div class="alpha">A)</div>
                            <div class="content">freeze</div>
                        </div>
                    </div>
                    <div class="Question_Row">
                        <div class="Question_Div">
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>E</span></div></div>
                            <div class="Question">
                                <div class="number">2)</div>
                                <div class="content">vacant</div>
                            </div>
                        </div>
                        <div class="option">
                            <div class="alpha">B)</div>
                            <div class="content">expand</div>
                        </div>
                    </div>
                    <div class="Question_Row">
                        <div class="Question_Div">
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>J</span></div></div>
                            <div class="Question">
                                <div class="number">3)</div>
                                <div class="content">polite</div>
                            </div>
                        </div>
                        <div class="option">
                            <div class="alpha">C)</div>
                            <div class="content">cooked</div>
                        </div>
                    </div>
                    <div class="Question_Row">
                        <div class="Question_Div">
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>C</span></div></div>
                            <div class="Question">
                                <div class="number">4)</div>
                                <div class="content">raw</div>
                            </div>
                        </div>
                        <div class="option">
                            <div class="alpha">D)</div>
                            <div class="content">safe</div>
                        </div>
                    </div>
                    <div class="Question_Row">
                        <div class="Question_Div">
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>G</span></div></div>
                            <div class="Question">
                                <div class="number">5)</div>
                                <div class="content">exterior</div>
                            </div>
                        </div>
                        <div class="option">
                            <div class="alpha">E)</div>
                            <div class="content">occupied</div>
                        </div>
                    </div>
                    <div class="Question_Row">
                        <div class="Question_Div">
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>A</span></div></div>
                            <div class="Question">
                                <div class="number">6)</div>
                                <div class="content">thaw</div>
                            </div>
                        </div>
                        <div class="option">
                            <div class="alpha">F)</div>
                            <div class="content">innocent</div>
                        </div>
                    </div>
                    <div class="Question_Row">
                        <div class="Question_Div">
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>F</span></div></div>
                            <div class="Question">
                                <div class="number">7)</div>
                                <div class="content">guilty</div>
                            </div>
                        </div>
                        <div class="option">
                            <div class="alpha">G)</div>
                            <div class="content">interior</div>
                        </div>
                    </div>
                    <div class="Question_Row">
                        <div class="Question_Div">
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>B</span></div></div>
                            <div class="Question">
                                <div class="number">8)</div>
                                <div class="content">contract</div>
                            </div>
                        </div>
                        <div class="option">
                            <div class="alpha">H)</div>
                            <div class="content">decrease</div>
                        </div>
                    </div>
                    <div class="Question_Row">
                        <div class="Question_Div">
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>D</span></div></div>
                            <div class="Question">
                                <div class="number">9)</div>
                                <div class="content">dangerous</div>
                            </div>
                        </div>
                        <div class="option">
                            <div class="alpha">I)</div>
                            <div class="content">refuse</div>
                        </div>
                    </div>
                    <div class="Question_Row">
                        <div class="Question_Div">
                            <div class="input_div"><input type="text"><div class="correct_answer"><span>I</span></div></div>
                            <div class="Question">
                                <div class="number">10)</div>
                                <div class="content">accept</div>
                            </div>
                        </div>
                        <div class="option">
                            <div class="alpha">J)</div>
                            <div class="content">rude</div>
                        </div>
                    </div>
                </div>
                <div class="btn-row">
                    <button class="button myButton">Submit</button>
                </div>
            </div>
		</div>
       
  </div>
</div>