<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text fabulous hide">
			</div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    
    <div class="loadingDiv">
    </div>
            
    <div class="container">
        <div class="row">
            <div class="col-12 Main_Container">
                    <!-- start -->
                    <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#demo" data-slide-to="0" class="active">1</li>
                                <li data-target="#demo" data-slide-to="1">2</li>
                            </ul>
                            <!-- The slideshow -->
                                <div class="carousel-inner">
                                    <div class="carousel-item first active">
                                        <div class="heading">
                                            <h1>Read the story carefully. Then answer the questions that follow.</h1>
                                        </div>
                                        <div class="poem_title"><b> <span>The Monkey and the Dolphin</span></b></div> 
                                        <div class="Question_Block"> 
                                           <div class="story-container landscape">
                                               <img src="assets/std01-comprehensions-worksheet6/img/story.png" alt="" class="img-fluid">
                                           </div>
                                           <div class="story-container portrait">
                                                <img src="assets/std01-comprehensions-worksheet6/img/story-portrait.png" alt="" class="img-fluid">
                                            </div>
                                        </div>	
                                    </div>
                                    <div class="carousel-item second ">
                                            <div class="row px-2 p-2 mt-1 mt-lg-3">
                                                <div class="main-question-container">
                                                    <div class="poem_title"><b> <span>The Monkey and the Dolphin</span></b></div> 
                                                    <div class="questions-container">
                                                        <div class="left-question-container">
                                                            <u><span class="header-instruction">Answer the following questions:</span></u>
                                                            <span class="sub-instruction">(Click in the correct circles to colour them.)</span>
                                                            <div class="question one">
                                                                <div class="number">
                                                                    <span>1)</span>
                                                                </div>
                                                                <div class="text-container">
                                                                <span>Who saved the monkey?</span>
                                                                    <div class="option-container">
                                                                        <div class="option">
                                                                            <div class="circle"><span>a</span></div>
                                                                            <div class="option-text">a shark</div>
                                                                        </div>
                                                                        <div class="option">
                                                                            <div class="circle "><span>b</span></div>
                                                                            <div class="option-text">a whale</div>
                                                                        </div>
                                                                        <div class="option">
                                                                            <div class="circle"><span>c</span></div>
                                                                            <div class="option-text">a fish</div>
                                                                        </div>
                                                                        <div class="option">
                                                                            <div class="circle right"><span>d</span></div>
                                                                            <div class="option-text">a dolphin</div>
                                                                        </div>
                                                                    </div>   
                                                                </div>
                                                            </div>
                                                            <div class="question">
                                                                <div class="number">
                                                                    <span>2)</span>
                                                                </div>
                                                                <div class="text-container">
                                                                    <span>Where did the dolphin take the monkey?</span>
                                                                    <div class="option-container two">
                                                                        <div class="option">
                                                                            <div class="circle right"><span>a</span></div>
                                                                            <div class="option-text">an island	</div>
                                                                        </div>
                                                                        <div class="option">
                                                                            <div class="circle"><span>b</span></div>
                                                                            <div class="option-text">a beach</div>
                                                                        </div>
                                                                        <div class="option">
                                                                            <div class="circle"><span>c</span></div>
                                                                            <div class="option-text">a seashore</div>
                                                                        </div>
                                                                        <div class="option">
                                                                            <div class="circle"><span>d</span></div>
                                                                            <div class="option-text">a city</div>
                                                                        </div>
                                                                    </div>   
                                                                </div>
                                                            </div>
                                                            <!-- START -->
                                                            <div class="question">
                                                                <div class="number">
                                                                    <span>3)</span>
                                                                </div>
                                                                <div class="text-container">
                                                                    <span>Write the Feminine Gender of the following:</span>
                                                                    <div class="top-question-container">
                                                                        <div class="left-side">
                                                                            <div class="answer-container">
                                                                                <div class="answer-7">
                                                                                    <div class="alphabet"><span>a)</span></div>
                                                                                    <div class="main-text-container">
                                                                                        <span>king</span>
                                                                                    </div>
                                                                                    <div class="main-input-container">
                                                                                        <div class="input-container">
                                                                                            <input type="text">
                                                                                            <div class="correct-answer">
                                                                                                <span>queen</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="answer-7">
                                                                                    <div class="alphabet"><span>b)</span></div>
                                                                                    <div class="main-text-container">
                                                                                        <span> prince</span>
                                                                                    </div>
                                                                                    <div class="main-input-container">
                                                                                        <div class="input-container">
                                                                                            <input type="text">
                                                                                            <div class="correct-answer">
                                                                                                <span>princess</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>  
                                                                        </div>
                                                                        <div class="right-side">
                                                                            <div class="helpbox-container m-auto ">
                                                                                <div class="helpbox"><span>princess</span></div>
                                                                                <div class="helpbox"><span>queen</span></div>
                                                                            </div>
                                                                        </div>
                                                                    </div> 
                                                                </div>
                                                            </div>
                                                            <!--4  -->
                                                            <div class="question">
                                                                <div class="number">
                                                                    <span>4)</span>
                                                                </div>
                                                                <div class="text-container">
                                                                    <span>Write four Common Nouns that are a person, a place, an animal and a thing.</span>
                                                                    <div class="top-question-container">
                                                                        <div class="left-side">
                                                                            <div class="answer-container">
                                                                                <div class="answer-7">
                                                                                    <div class="alphabet"><span>a)</span></div>
                                                                                    <div class="main-text-container">
                                                                                        <span>person</span>
                                                                                    </div>
                                                                                    <div class="main-input-container">
                                                                                        <div class="input-container">
                                                                                            <input type="text">
                                                                                            <div class="correct-answer">
                                                                                                <span>sailor</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="answer-7">
                                                                                    <div class="alphabet"><span>b)</span></div>
                                                                                    <div class="main-text-container">
                                                                                        <span> place</span>
                                                                                    </div>
                                                                                    <div class="main-input-container">
                                                                                        <div class="input-container">
                                                                                            <input type="text">
                                                                                            <div class="correct-answer">
                                                                                                <span>island</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="answer-7">
                                                                                    <div class="alphabet"><span>c)</span></div>
                                                                                    <div class="main-text-container">
                                                                                        <span>animal</span>
                                                                                    </div>
                                                                                    <div class="main-input-container">
                                                                                        <div class="input-container">
                                                                                            <input type="text">
                                                                                            <div class="correct-answer">
                                                                                                <span>monkey</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="answer-7">
                                                                                    <div class="alphabet"><span>d)</span></div>
                                                                                    <div class="main-text-container">
                                                                                        <span> thing </span>
                                                                                    </div>
                                                                                    <div class="main-input-container">
                                                                                        <div class="input-container">
                                                                                            <input type="text">
                                                                                            <div class="correct-answer">
                                                                                                <span>ship</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>  
                                                                        </div>
                                                                        <div class="right-side">
                                                                            <div class="helpbox-container m-auto three">
                                                                                <div class="helpbox"><span>monkey</span></div>
                                                                                <div class="helpbox"><span>ship</span></div>
                                                                                <div class="helpbox"><span>island</span></div>
                                                                                <div class="helpbox"><span>sailor</span></div>
                                                                            </div>
                                                                        </div>
                                                                    </div> 
                                                                </div>
                                                            </div>
                                                            <!-- 4end -->
                                                            <div class="question">
                                                                <div class="number">
                                                                    <span>5)</span>
                                                                </div>
                                                                <div class="text-container">
                                                                    <span>What happened when the sailors were far out at sea? (Click in the correct box)</span> 
                                                                    <div class="color-helpbox-container">
                                                                        <div class="color-helpbox">
                                                                            <div class="alphabet">a)</div>
                                                                            <div class="helpbox-text right">
                                                                                <span>A terrible storm overturned their ship.</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="color-helpbox">
                                                                            <div class="alphabet">b)</div>
                                                                            <div class="helpbox-text">
                                                                                <span>They saw a dolphin near an island.</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>   
                                                                </div>
                                                            </div>
                                                            <div class="question">
                                                                <div class="number">
                                                                    <span>6)</span>
                                                                </div>
                                                                <div class="text-container">
                                                                    <span>What does the story teach you? (Click in the correct box)</span>    
                                                                    <div class="color-helpbox-container">
                                                                        <div class="color-helpbox">
                                                                            <div class="alphabet">a)</div>
                                                                            <div class="helpbox-text right">
                                                                                <span>Those who lie and boast may end up in trouble.</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="color-helpbox">
                                                                            <div class="alphabet">b)</div>
                                                                            <div class="helpbox-text ">
                                                                                <span>Those who lie become the king.</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>   
                                                                </div>
                                                            </div>
                                                            <!-- END -->

                                                        </div>
                                                    </div>
                                                </div>	
                                                <div class="btn-row col-12">
                                                    <button class="button myButton">Submit</button>
                                                </div>

                                            </div>
                                    </div>
                                   
                                    <!-- end -->
                                </div>
                            </div>
                            <!-- Left and right controls -->
                                <a class="carousel-control-prev" data-target="#demo" data-slide="prev">
                                    <span class="carousel-control-prev-icon arrow-size"></span>
                                </a>
                                <a class="carousel-control-next" data-target="#demo" data-slide="next">
                                    <span class="carousel-control-next-icon arrow-size"></span>
                                </a>
            </div>

            
				<!-- end -->
        </div>
    </div>
</div>