<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text fabulous hide">
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 Main_Container">
        <!-- start -->
        <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active">1</li>
            <li data-target="#demo" data-slide-to="1">2</li>
          </ul>
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item first active">
              <div class="heading">
                <h1>Read the poem carefully. Then answer the questions that follow.</h1>
              </div>
              <div class="Question_Block">
                <div class="Text">
                  <div class="poem_title"><b> <span>My Little Brother</span></b></div>
                  My baby brother is fat, <br>
                  As fat as any boy can be. <br>
                  And he is just the sweetest duck, <br>
                  That ever you did see. <br>
                  I count the dimples in his hands, <br>
                  A dozen times a day. <br>
                  And often wonder when he coos, <br>
                  What he would like to say. <br>
                  I comb the down upon his head, <br>
                  He hasn’t any hair. <br>
                  It must be cold without, <br>
                  And yet he never seems to care. <br>
                  It is so nice to see him kick, <br>
                  He has such pretty feet. <br>
                  I think if we might eat him up, <br>
                  It would be quite a treat. <br>
                  <div><span class="pull_right">-Anonymous</span></div>
                </div>
              </div>
            </div>
            <div class="carousel-item second ">
              <div class="row px-2 p-2 mt-3">
                <div class="main-question-container">
                  <div class="poem_title"><b> <span>My Little Brother</span></b></div>
                  <div class="questions-container">
                    <div class="left-side">
                      <div class="left-question-container">
                        <u><span class="ans_follow_question">Answer the following questions:</span></u><br>
                        <div class="click_heading_left">(Click in the correct circles to colour them.)</div>
                        <div class="question one">
                          <div class="number">
                            <span>1)</span>
                          </div>
                          <div class="text-container">
                            <span> What does the poet feel about her baby brother?</span>
                                <div class="option-container one">
                                  <div class="option">
                                    <div class="circle right"><span>a</span></div>
                                    <div class="option-text">The poet feels that her baby brother is the sweetest duck.
                                    </div>
                                  </div>
                                  <div class="option">
                                    <div class="circle"><span>b</span></div>
                                    <div class="option-text">The poet feels that her baby brother is cute.</div>
                                  </div>
                                  <div class="option">
                                    <div class="circle"><span>c</span></div>
                                    <div class="option-text">The poet loves her baby brother.</div>
                                  </div>
                                  <div class="option">
                                    <div class="circle"><span>d</span></div>
                                    <div class="option-text">The poet feels that her baby brother is very small.</div>
                                  </div>
                                </div>
                          </div>
                        </div>
                        <div class="question">
                          <div class="number">
                            <span>2)</span>
                          </div>
                          <div class="text-container">
                            <span>What does the poet count in her baby brother’s hands?</span>
                                <div class="option-container">
                                  <div class="option">
                                    <div class="circle"><span>a</span></div>
                                    <div class="option-text">fingers</div>
                                  </div>
                                  <div class="option">
                                    <div class="circle"><span>b</span></div>
                                    <div class="option-text">nails</div>
                                  </div>
                                  <div class="option">
                                    <div class="circle right"><span>c</span></div>
                                    <div class="option-text">dimples</div>
                                  </div>
                                  <div class="option">
                                    <div class="circle"><span>d</span></div>
                                    <div class="option-text">toys</div>
                                  </div>
                                </div>
                          </div>
                        </div>
                        <div class="question">
                          <div class="number">
                            <span>3)</span>
                          </div>
                          <div class="text-container">
                            <span>What does the word ‘dozen’ mean?</span>
                                <div class="option-container">
                                  <div class="option">
                                    <div class="circle"><span>a</span></div>
                                    <div class="option-text">ten</div>
                                  </div>
                                  <div class="option">
                                    <div class="circle right"><span>b</span></div>
                                    <div class="option-text">twelve</div>
                                  </div>
                                  <div class="option">
                                    <div class="circle"><span>c</span></div>
                                    <div class="option-text">twenty</div>
                                  </div>
                                  <div class="option">
                                    <div class="circle"><span>d</span></div>
                                    <div class="option-text">five</div>
                                  </div>
                                </div>
                          </div>
                        </div>
                        <div class="question">
                          <div class="number">
                            <span>4)</span>
                          </div>
                          <div class="text-container">
                            <span>What does the poet’s baby brother do with his feet?</span>
                                <div class="option-container">
                                  <div class="option">
                                    <div class="circle right"><span>a</span></div>
                                    <div class="option-text">kick</div>
                                  </div>
                                  <div class="option">
                                    <div class="circle"><span>b</span></div>
                                    <div class="option-text">walk</div>
                                  </div>
                                  <div class="option">
                                    <div class="circle"><span>c</span></div>
                                    <div class="option-text">run</div>
                                  </div>
                                  <div class="option">
                                    <div class="circle"><span>d</span></div>
                                    <div class="option-text">jump</div>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="right-side">
                      <div class="right-question-container">
                        <div class="click_heading_right">(Click on the blanks and then click in the correct boxes.)</div>
                        <div class="question one">
                          <div class="number">
                            <span>5)</span>
                          </div>
                          <div class="text-container">
                            <span>The poet thinks that her baby brother must be feeling</span>
                            <div class="input-container">
                              <input type="text">
                              <div class="correct-answer">
                                <span>cold</span>
                              </div>
                            </div>
                            <span> without hair on his head.</span>
                                <div class="helpbox-container">
                                  <div class="helpbox"><span>warm</span></div>
                                  <div class="helpbox"><span>hot</span></div>
                                  <div class="helpbox"><span>cool</span></div>
                                  <div class="helpbox"><span>cold</span></div>
                                </div>
                          </div>
                        </div>
                        <div class="question">
                          <div class="number">
                            <span>6)</span>
                          </div>
                          <div class="text-container">
                            <span> The poet wonders that when her baby brother
                              coos, what he would like to</span>
                            <div class="input-container">
                              <input type="text">.
                              <div class="correct-answer">
                                <span>say</span>
                              </div>
                            </div>
                            <div class="helpbox-container">
                              <div class="helpbox"><span>speak</span></div>
                              <div class="helpbox"><span>cry </span></div>
                              <div class="helpbox"><span>say</span></div>
                              <div class="helpbox"><span>weep</span></div>
                            </div>
                          </div>
                        </div>
                        <div class="question">
                          <div class="number">
                            <span>7)</span>
                          </div>
                          <div class="text-container">
                            <span>At the end of the poem, the poet would have a </span>
                            <div class="input-container">
                              <input type="text">
                              <div class="correct-answer">
                                <span>treat</span>
                              </div>
                            </div><span>, if they ate up her baby brother.</span>
                                <div class="helpbox-container">
                                  <div class="helpbox"><span>party</span></div>
                                  <div class="helpbox"><span>treat</span></div>
                                  <div class="helpbox"><span>delight</span></div>
                                  <div class="helpbox"><span>thrill</span></div>
                                </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="btn-row col-12">
                    <button class="button myButton">Submit</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end 2nd -->
          </div>
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" data-target="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon arrow-size"></span>
        </a>
        <a class="carousel-control-next" data-target="#demo" data-slide="next">
          <span class="carousel-control-next-icon arrow-size"></span>
        </a>
      </div>
      <!-- end -->
    </div>
  </div>
</div>