<div class="bg"  ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <img src="" alt="" class="Text fabulous hide">
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="/assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row m-0">
            <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
                <h2 class="font-weight-bold heading">
                    Click on the blanks and then click on the correct Conjunctions
                    from the help box, to complete the sentences.
                </h2>
            </div>
        </div>
        <div class="row mb-2">
            <div class="helpbox-container">
                <div class="helpbox-ans">
                    <span>and</span>
                </div>
                <div class="helpbox-ans">
                    <span>but</span>
                </div>
                <div class="helpbox-ans">
                    <span>or</span>
                </div>
                <div class="helpbox-ans">
                    <span>because</span>
                </div>
                <div class="helpbox-ans">
                    <span>before</span>
                </div>
                <div class="helpbox-ans">
                    <span>after</span>
                </div>
            </div>
        </div>

        <div class="main-question-container">

            <div class="row m-0">
                <div class="question-container">
                    <!-- 1 -->
                    <div class="question">
                        <div class="number">
                            <span>1)</span>
                        </div>
                        <div class="text-container">
                            <span>Do you want pasta</span>
                            <div class="input-container">
                                <input type="text" data-text="first">
                                <div class="correct-answer">
                                    <span>or</span>
                                </div>
                            </div>
                            <span>pizza for dinner?</span>
                        </div>
                        <div class="img-container">
                            <img src="assets/std01-conjunctions-worksheet3/img/p1.png" class="img-fluid">
                        </div>

                    </div>
                    <!-- 2 -->
                    <div class="question">
                        <div class="number">
                            <span>2)</span>
                        </div>
                        <div class="text-container">
                            <span>Spinach</span>
                            <div class="input-container">
                                <input type="text" data-text="second">
                                <div class="correct-answer">
                                    <span>and</span>
                                </div>
                            </div>
                            <span>lettuce are leafy green vegetables.</span>
                        </div>
                        <div class="img-container">
                            <img src="assets/std01-conjunctions-worksheet3/img/p2.png" class="img-fluid">
                        </div>
                    </div>
                    <!-- 3 -->
                    <div class="question">
                        <div class="number">
                            <span>3)</span>
                        </div>
                        <div class="text-container">
                            <span>I eat breakfast</span>
                            <div class="input-container">
                                <input type="text" data-text="third">
                                <div class="correct-answer">
                                    <span>before</span>
                                </div>
                            </div>
                            <span>going to school everyday.</span>
                        </div>
                        <div class="img-container">
                            <img src="assets/std01-conjunctions-worksheet3/img/p3.png" class="img-fluid">
                        </div>
                    </div>
                    <!-- 4 -->
                    <div class="question">
                        <div class="number">
                            <span>4)</span>
                        </div>
                        <div class="text-container">
                            <span>Jim has to hurry </span>
                            <div class="input-container">
                                <input type="text" data-text="fourth">
                                <div class="correct-answer">
                                    <span>because</span>
                                </div>
                            </div>
                            <span> he is late.</span>
                        </div>
                        <div class="img-container">
                            <img src="assets/std01-conjunctions-worksheet3/img/p4.png" class="img-fluid">
                        </div>
                    </div>
                    <!-- 5-->
                    <div class="question">
                        <div class="number">
                            <span>5)</span>
                        </div>
                        <div class="text-container">
                            <span>Susan found her book </span>
                            <div class="input-container">
                                <input type="text" data-text="fifth">
                                <div class="correct-answer">
                                    <span>but</span>
                                </div>
                            </div>
                            <span>she could not find her pencil.</span>
                        </div>
                        <div class="img-container">
                            <img src="assets/std01-conjunctions-worksheet3/img/p5.png" class="img-fluid">
                        </div>
                    </div>
                    <!-- 6 -->
                    <div class="question">
                        <div class="number">
                            <span>6)</span>
                        </div>
                        <div class="text-container">

                            <div class="input-container">
                                <input type="text" data-text="sixth" class="capital">
                                <div class="correct-answer">
                                    <span>After</span>
                                </div>
                            </div>
                            <span>playing with playdough<span class="comma">,</span> Billy washed his hands.</span>
                        </div>
                        <div class="img-container">
                            <img src="assets/std01-conjunctions-worksheet3/img/p6.png" class="img-fluid">
                        </div>
                    </div>
                    <!-- 7 -->
                    <div class="question">
                        <div class="number">
                            <span>7)</span>
                        </div>
                        <div class="text-container">
                            <span>The book is old </span>
                            <div class="input-container">
                                <input type="text" data-text="seventh">
                                <div class="correct-answer">
                                    <span>but</span>
                                </div>
                            </div>
                            <span>it still looks new.</span>
                        </div>
                        <div class="img-container">
                            <img src="assets/std01-conjunctions-worksheet3/img/p7.png" class="img-fluid">
                        </div>
                    </div>
                    <!-- 8 -->
                    <div class="question">
                        <div class="number">
                            <span>8)</span>
                        </div>
                        <div class="text-container">
                            <span>My friends </span>
                            <div class="input-container">
                                <input type="text" data-text="eighth">
                                <div class="correct-answer">
                                    <span>and</span>
                                </div>
                            </div>
                            <span>I love to play in the park.</span>
                        </div>

                    </div>


                    <!--end-->
                </div>
            </div>

        </div>
        <div class="row btn-row">
            <div class="col-12 text-center">
                <button class="button myButton">Submit</button>
            </div>
        </div>
</div>
</div>
  

        
