<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
		<div class="heading">
			<h1>Click in the boxes given beside the numbers and then click on the correct Feminine Gender from Column B, of the Masculine Gender given in Column A.</h1>
		</div>
  </div>
  <div class="Main_Container">
      <div class="Question_Container">
          <div class="Question_Main_Container">
              <img src="assets/std03-gender-nouns-worksheet4/img/Question_bg.jpg" alt="" class="Question_bg">
              <img src="assets/std03-gender-nouns-worksheet4/img/Question_bg_portrait.jpg" alt="" class="Question_bg_portrait">
              <div class="Question_Block">
                  <div class="header_row">
                      <div class="header_div">
                          <div class="header">Column A</div>
                          <div class="gender">Masculine Gender</div>
                      </div>
                      <div class="header_div">
                          <div class="header">Column B</div>
                          <div class="gender">Feminine Gender</div>
                      </div>
                  </div>
                  <div class="Question_Row first">
                      <div class="Question_Div">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>G</span></div></div>
                          <div class="Question">
                              <div class="number">1)</div>
                              <div class="content">grandson</div>
                          </div>
                      </div>
                      <div class="option">
                          <div class="alpha">A)</div>
                          <div class="content">usherette</div>
                      </div>
                  </div>
                  <div class="Question_Row second">
                      <div class="Question_Div">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>J</span></div></div>
                          <div class="Question">
                              <div class="number">2)</div>
                              <div class="content">sir</div>
                          </div>
                      </div>
                      <div class="option">
                          <div class="alpha">B)</div>
                          <div class="content">authoress</div>
                      </div>
                  </div>
                  <div class="Question_Row third">
                      <div class="Question_Div">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>E</span></div></div>
                          <div class="Question">
                              <div class="number">3)</div>
                              <div class="content">monk</div>
                          </div>
                      </div>
                      <div class="option">
                          <div class="alpha">C)</div>
                          <div class="content">duchess</div>
                      </div>
                  </div>
                  <div class="Question_Row fourth">
                      <div class="Question_Div">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>I</span></div></div>
                          <div class="Question">
                              <div class="number">4)</div>
                              <div class="content">emperor</div>
                          </div>
                      </div>
                      <div class="option">
                          <div class="alpha">D)</div>
                          <div class="content">hostess</div>
                      </div>
                  </div>
                  <div class="Question_Row fifth">
                      <div class="Question_Div">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>B</span></div></div>
                          <div class="Question">
                              <div class="number">5)</div>
                              <div class="content">author</div>
                          </div>
                      </div>
                      <div class="option">
                          <div class="alpha">E)</div>
                          <div class="content">nun</div>
                      </div>
                  </div>
                  <div class="Question_Row sixth">
                      <div class="Question_Div">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>D</span></div></div>
                          <div class="Question">
                              <div class="number">6)</div>
                              <div class="content">host</div>
                          </div>
                      </div>
                      <div class="option">
                          <div class="alpha">F)</div>
                          <div class="content">washerwoman</div>
                      </div>
                  </div>
                  <div class="Question_Row seventh">
                      <div class="Question_Div">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>A</span></div></div>
                          <div class="Question">
                              <div class="number">7)</div>
                              <div class="content">usher</div>
                          </div>
                      </div>
                      <div class="option">
                          <div class="alpha">G)</div>
                          <div class="content">granddaughter</div>
                      </div>
                  </div>
                  <div class="Question_Row eighth">
                      <div class="Question_Div">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>F</span></div></div>
                          <div class="Question">
                              <div class="number">8)</div>
                              <div class="content">washerman</div>
                          </div>
                      </div>
                      <div class="option">
                          <div class="alpha">H)</div>
                          <div class="content">goddess</div>
                      </div>
                  </div>
                  <div class="Question_Row nineth">
                      <div class="Question_Div">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>H</span></div></div>
                          <div class="Question">
                              <div class="number">9)</div>
                              <div class="content">god</div>
                          </div>
                      </div>
                      <div class="option">
                          <div class="alpha">I)</div>
                          <div class="content">empress</div>
                      </div>
                  </div>
                  <div class="Question_Row tenth">
                      <div class="Question_Div">
                          <div class="input_div"><input type="text"><div class="correct_answer"><span>C</span></div></div>
                          <div class="Question">
                              <div class="number">10)</div>
                              <div class="content">duke</div>
                          </div>
                      </div>
                      <div class="option">
                          <div class="alpha">J)</div>
                          <div class="content">madam</div>
                      </div>
                  </div>
              </div>
              <div class="btn-row">
                  <button class="button myButton">Submit</button>
              </div>
          </div>
          <img src="assets/std03-gender-nouns-worksheet4/img/bottom.png" alt="" class="bottom">
          <img src="assets/std03-gender-nouns-worksheet4/img/bottom_portrait.png" alt="" class="bottom_portrait">
      </div>
  </div>
</div>