<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
  <div class="Box">
    <div class="imgBox">
      <img src="" alt="" class="Text fabulous hide">
    </div>
    <div class="TextBox">
      <h1></h1>
    </div>
    <img src="assets/images/close.png" alt="" class="close">
  </div>
</div>
  <div class="loadingDiv">
  </div>
<div class="container">
  <div class="row">
    <div class="col-12 mt-3 mb-3">
      <h2 class="font-weight-bold heading">
        Click in the boxes to colour them, if the sentences have Simple Past Tense Verbs.
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="main-question-container">
      <!-- 1 -->
      <div class="question">
        <div class="number"><span>1</span></div>
        <div class="text-container right"><span>The bowl broke when it fell down.</span></div>
      </div>
      <!-- 2 -->
      <div class="question">
        <div class="number"><span>2</span></div>
        <div class="text-container wrong"><span>I know my poem by heart.</span></div>
      </div>
      <!-- 3 -->
      <div class="question">
        <div class="number"><span>3</span></div>
        <div class="text-container right"><span>Jenny ate a burger for dinner yesterday.</span></div>
      </div>
      <!-- 4 -->
      <div class="question">
        <div class="number"><span>4</span></div>
        <div class="text-container right"><span>Dad skipped his breakfast because he was late.</span></div>
      </div>
      <!-- 5 -->
      <div class="question">
        <div class="number"><span>5</span></div>
        <div class="text-container wrong"><span>Tim speaks German fluently.</span></div>
      </div>
      <!-- 6 -->
      <div class="question">
        <div class="number"><span>6</span></div>
        <div class="text-container right"><span> A policeman chased the burglar and eventually caught him.</span></div>
      </div>
      <!-- 7 -->
      <div class="question">
        <div class="number"><span>7</span></div>
        <div class="text-container right"><span>I bought a new pair of shoes last week.</span></div>
      </div>
      <!-- 8 -->
      <div class="question">
        <div class="number"><span>8</span></div>
        <div class="text-container wrong"><span>My little brother identifies the alphabets correctly.</span></div>
      </div>
      <!-- 9 -->
      <div class="question">
        <div class="number"><span>9</span></div>
        <div class="text-container wrong"><span>The maid soaks all the clothes in detergent water before 
            washing them.</span></div>
      </div>
      <!-- 10 -->
      <div class="question">
        <div class="number"><span>10</span></div>
        <div class="text-container right"><span>We rode on horses at our uncle’s farm.</span></div>
      </div>
      <!-- end -->
      <div class="row m-0 btn-row">
        <div class="col-12 text-center">
            <button class="button myButton">Submit</button>
        </div>
      </div>
    </div>
  </div>
  
</div>
</div>