<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
      <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
  </div>

  <div class="container">
      <div class="row">
          <div class="heading mt-3">
              <h1>Click on the blanks and then click on the correct Rhyming Words from the help boxes 
                  of windows given on the sides, for the given words. </h1>
          </div>
      </div>
      <div class="row">
          <div class="col-12 Main_Container">
              <div class="Question_Container">
                  <div class="Question first">
                      <div class="number">1)</div>
                      <div class="content">house</div>
                      <div class="input-div "><input type="text"><div class="correct_answer"><span>blouse</span></div></div>
                      <div class="input-div "><input type="text"><div class="correct_answer"><span>mouse</span></div></div>
                  </div>
                  <div class="Question second">
                      <div class="number">2)</div>
                      <div class="content">sheep</div>
                      <div class="input-div "><input type="text"><div class="correct_answer"><span>cheap</span></div></div>
                      <div class="input-div "><input type="text"><div class="correct_answer"><span>sweep</span></div></div>
                  </div>
                  <div class="Question third">
                      <div class="number">3)</div>
                      <div class="content">glove</div>
                      <div class="input-div "><input type="text"><div class="correct_answer"><span>above</span></div></div>
                      <div class="input-div "><input type="text"><div class="correct_answer"><span>shove</span></div></div>
                  </div>
                  <div class="Question fourth">
                      <div class="number">4)</div>
                      <div class="content">laugh</div>
                      <div class="input-div "><input type="text"><div class="correct_answer"><span>staff</span></div></div>
                      <div class="input-div "><input type="text"><div class="correct_answer"><span>graph</span></div></div>
                  </div>
                  <div class="Question fifth">
                      <div class="number">5)</div>
                      <div class="content">bench</div>
                      <div class="input-div "><input type="text"><div class="correct_answer"><span>drench</span></div></div>
                      <div class="input-div "><input type="text"><div class="correct_answer"><span>wrench</span></div></div>
                  </div>
                  <div class="Question sixth">
                      <div class="number">6)</div>
                      <div class="content">class</div>
                      <div class="input-div "><input type="text"><div class="correct_answer"><span>grass</span></div></div>
                      <div class="input-div "><input type="text"><div class="correct_answer"><span>pass</span></div></div>
                  </div>
                  <div class="Question seventh">
                      <div class="number">7)</div>
                      <div class="content">heart</div>
                      <div class="input-div "><input type="text"><div class="correct_answer"><span>smart</span></div></div>
                      <div class="input-div "><input type="text"><div class="correct_answer"><span>chart</span></div></div>
                  </div>
                  <div class="Question eighth">
                      <div class="number">8)</div>
                      <div class="content">pink</div>
                      <div class="input-div "><input type="text"><div class="correct_answer"><span>think</span></div></div>
                      <div class="input-div "><input type="text"><div class="correct_answer"><span>shrink</span></div></div>
                  </div>
              </div>

              <div class="Option_Block left">
                  <div class="option one">above</div>
                  <div class="option two">grass</div>
                  <div class="option three">cheap</div>
                  <div class="option four">think</div>
                  <div class="option five">staff</div>
                  <div class="option six">blouse</div>
                  <div class="option seven">smart</div>
                  <div class="option eight">drench</div>
              </div>

              <div class="Option_Block right">
                  <div class="option one">graph</div>
                  <div class="option two">chart</div>
                  <div class="option three">mouse</div>
                  <div class="option four">wrench</div>
                  <div class="option five">shrink</div>
                  <div class="option six">sweep</div>
                  <div class="option seven">pass</div>
                  <div class="option eight">shove</div>
              </div>
              <div class="btn-row">
                  <button class="button myButton">Submit</button>
                  <button class="button playAgain hide">Play Again</button>
              </div>

          </div>
      </div>
  </div>
</div>