<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
              <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide">
              <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
			<img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>

    <div class="loadingDiv">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 px-2 mb-1 mb-sm-4">
                <!--  <div class="heading my-3 p-2">
                        <h2 class="font-weight-bold mb-0">Under the correct noun from the brackets to complete each sentence. </h2>
                    </div> -->
                <h2 class="font-weight-bold">
                    Click on the blanks given in the clouds and then click on the words from the boxes that are not
                    Helping Verbs.
                </h2>
            </div>
        </div>
        <div class="Main_Container  mt-2 mt-sm-5">
            <div class="row">
                <div class="question-container">

                    <div class="row m-0">
                        <div class="col-12 col-sm-6 p-0 first">
                            <div class="row m-0">
                                <div class="col-1 p-1">
                                    <div class="list-item">
                                        <span class="number-color orange-box">1)</span>
                                    </div>
                                </div>
                                <div class="col-2 p-0">
                                    <div>
                                        <img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">is</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0 ">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">shoe</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">am</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0 ">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">are</div>
                                    </div>
                                </div>
                                <div class="col-3 col-sm-2 offset-1 offset-sm-0 p-0">
                                    <div class="cloud-bg">
                                        <img src="assets/std02-helping-verbs-worksheet1/img/cloud.png" class="img-fluid">
                                        <!-- <div class="text-content">
                                                <span class="input-span"> 
                                                    <input type="text" value="shoe">
                                                </span>
                                            </div> -->
                                        <div class="text-content">
                                            <div class="ans-div">
                                                <span>shoe</span>
                                            </div>
                                            <span class="input-span">
                                                <input type="text">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 p-0">
                            <div class="row m-0">
                                <div class="col-1 p-1">
                                    <div class="list-item">
                                        <span class="number-color orange-box">2)</span>
                                    </div>
                                </div>
                                <div class="col-2 p-0">
                                    <div>
                                        <img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">has</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0 ">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">have</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">happy</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0 ">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">had</div>
                                    </div>
                                </div>
                                <div class="col-3 col-sm-2 offset-1 offset-sm-0 p-0">
                                    <div class="cloud-bg">
                                        <img src="assets/std02-helping-verbs-worksheet1/img/cloud.png" class="img-fluid">
                                        <div class="text-content">
                                            <div class="ans-div">
                                                <span>happy</span>
                                            </div>
                                            <span class="input-span">
                                                <input type="text">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 p-0">
                            <div class="row m-0">
                                <div class="col-1 p-1">
                                    <div class="list-item">
                                        <span class="number-color orange-box">3)</span>
                                    </div>
                                </div>
                                <div class="col-2 p-0">
                                    <div>
                                        <img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">was</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0 ">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">were</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">will</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0 ">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">water</div>
                                    </div>
                                </div>
                                <div class="col-3 col-sm-2 offset-1 offset-sm-0 p-0">
                                    <div class="cloud-bg">
                                        <img src="assets/std02-helping-verbs-worksheet1/img/cloud.png" class="img-fluid">
                                        <div class="text-content">
                                            <div class="ans-div">
                                                <span>water</span>
                                            </div>
                                            <span class="input-span">
                                                <input type="text">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 p-0">
                            <div class="row m-0">
                                <div class="col-1 p-1">
                                    <div class="list-item">
                                        <span class="number-color orange-box">4)</span>
                                    </div>
                                </div>
                                <div class="col-2 p-0">
                                    <div>
                                        <img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">damp</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0 ">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">do</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">does</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0 ">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">did</div>
                                    </div>
                                </div>
                                <div class="col-3 col-sm-2 offset-1 offset-sm-0 p-0">
                                    <div class="cloud-bg">
                                        <img src="assets/std02-helping-verbs-worksheet1/img/cloud.png" class="img-fluid">
                                        <div class="text-content">
                                            <div class="ans-div">
                                                <span>damp</span>
                                            </div>
                                            <span class="input-span">
                                                <input type="text">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 p-0">
                            <div class="row m-0">
                                <div class="col-1 p-1">
                                    <div class="list-item">
                                        <span class="number-color orange-box">5)</span>
                                    </div>
                                </div>
                                <div class="col-2 p-0">
                                    <div>
                                        <img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">go</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0 ">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">goes</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">grape</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0 ">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">be</div>
                                    </div>
                                </div>
                                <div class="col-3 col-sm-2 offset-1 offset-sm-0 p-0">
                                    <div class="cloud-bg">
                                        <img src="assets/std02-helping-verbs-worksheet1/img/cloud.png" class="img-fluid">
                                        <div class="text-content">
                                            <div class="ans-div">
                                                <span>grape</span>
                                            </div>
                                            <span class="input-span">
                                                <input type="text">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 p-0">
                            <div class="row m-0">
                                <div class="col-1 p-1">
                                    <div class="list-item">
                                        <span class="number-color orange-box">6)</span>
                                    </div>
                                </div>
                                <div class="col-2 p-0">
                                    <div>
                                        <img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">shall</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0 ">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content smooth-text">smooth</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">should</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0 ">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">been</div>
                                    </div>
                                </div>
                                <div class="col-3 col-sm-2 offset-1 offset-sm-0 p-0">
                                    <div class="cloud-bg">
                                        <img src="assets/std02-helping-verbs-worksheet1/img/cloud.png" class="img-fluid">
                                        <div class="text-content">
                                            <div class="ans-div">
                                                <span>smooth</span>
                                            </div>
                                            <span class="input-span">
                                                <input type="text">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 p-0 last-div">
                            <div class="row m-0">
                                <div class="col-1 p-1">
                                    <div class="list-item">
                                        <span class="number-color orange-box">7)</span>
                                    </div>
                                </div>
                                <div class="col-2 p-0">
                                    <div>
                                        <img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">chalk</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0 ">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">can</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">could</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0 ">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">being</div>
                                    </div>
                                </div>
                                <div class="col-3 col-sm-2 offset-1 offset-sm-0 p-0">

                                    <div class="cloud-bg">
                                        <img src="assets/std02-helping-verbs-worksheet1/img/cloud.png" class="img-fluid">
                                        <div class="text-content">
                                            <div class="ans-div">
                                                <span>chalk</span>
                                            </div>
                                            <span class="input-span">
                                                <input type="text">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 p-0 last-div">
                            <div class="row m-0">
                                <div class="col-1 p-1">
                                    <div class="list-item">
                                        <span class="number-color orange-box">8)</span>
                                    </div>
                                </div>
                                <div class="col-2 p-0">
                                    <div>
                                        <img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">may</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0 ">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">might</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">would</div>
                                    </div>
                                </div>
                                <div class="col-2 p-0 ">
                                    <div><img src="assets/std02-helping-verbs-worksheet1/img/p3.png" class="img-fluid">
                                        <div class="text-content">movie</div>
                                    </div>
                                </div>
                                <div class="col-3 col-sm-2 offset-1 offset-sm-0 p-0">
                                    <div class="cloud-bg">
                                        <img src="assets/std02-helping-verbs-worksheet1/img/cloud.png" class="img-fluid">
                                        <div class="text-content">
                                            <div class="ans-div">
                                                <span>movie</span>
                                            </div>
                                            <span class="input-span">
                                                <input type="text">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-row">
            <button class="button myButton">Submit</button>
        </div>
    </div>
</div>