<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
  <div class="Box">
          <div class="imgBox">
      <img src="" alt="" class="Text fabulous hide">
    </div>
    <div class="TextBox">
      <h1></h1>
    </div>
    <img src="assets/images/close.png" alt="" class="close">
  </div>
</div>
  
  <div class="loadingDiv">
</div>

  <div class="container">
  <div class="heading">
    <h1>Click on the blanks and then click on the correct Subjects and Predicates from the help boxes, to form sentences.</h1>
  </div>
      <div class="row Main_Container">
          <div class="col-12 Option_Container">
              <div class="option_Block">
                  <div class="subject_Block">
                      <div class="header_block">
                          <div class="header">Subjects</div>
                      </div>
                      <div class="option_Div">
                          <div class="options subject">
                              <div class="option">Mrs. George</div>
                              <div class="option">Sam and Joe</div>
                              <div class="option">An ugly dragon</div>
                              <div class="option">Mom and dad</div>
                              <div class="option">Moscow</div>
                          </div>
                      </div>
                  </div>
                  <div class="predicate_Block">
                      <div class="header_block">
                          <div class="header">Predicates</div>
                      </div>
                      <div class="option_Div">
                          <div class="options predicate">
                              <div class="option">hissed at the creature.</div>
                              <div class="option">planted pink roses in her garden.</div>
                              <div class="option">cycled to school yesterday.</div>
                              <div class="option">is the capital city of Russia.</div>
                              <div class="option">decided to paint the house themselves.</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-12 Answer_Container">
              <div class="Answer_Block">
                  <div class="Answer_Row">
                      <div class="number">1)</div>
                      <div class="Answer">
                          <div class="correct_answer"><span>Mom and dad decided to paint the house themselves.</span></div>
                          <div class="input_div"><span class="prefixText"></span> <span class="rootText"></span></div>
                      </div>
                  </div>
                  <div class="Answer_Row">
                      <div class="number">2)</div>
                      <div class="Answer">
                          <div class="correct_answer"><span>Moscow is the capital city of Russia.</span></div>
                          <div class="input_div"><span class="prefixText"></span> <span class="rootText"></span></div>
                      </div>
                  </div>
                  <div class="Answer_Row">
                      <div class="number">3)</div>
                      <div class="Answer">
                          <div class="correct_answer"><span>Mrs. George planted pink roses in her garden.</span></div>
                          <div class="input_div"><span class="prefixText"></span> <span class="rootText"></span></div>
                      </div>
                  </div>
                  <div class="Answer_Row">
                      <div class="number">4)</div>
                      <div class="Answer">
                          <div class="correct_answer"><span>Sam and Joe cycled to school yesterday.</span></div>
                          <div class="input_div"><span class="prefixText"></span> <span class="rootText"></span></div>
                      </div>
                  </div>
                  <div class="Answer_Row fifth">
                      <div class="number">5)</div>
                      <div class="Answer">
                          <div class="correct_answer"><span>An ugly dragon hissed at the creature.</span></div>
                          <div class="input_div"><span class="prefixText"></span> <span class="rootText"></span></div>
                      </div>
                  </div>
              </div>
              <div class="btn-row">
                  <button class="button myButton">Submit</button>
              </div>
          </div>
  </div>
     
  </div>
</div>