<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text fabulous hide">
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3 mb-3">
        <h2 class="font-weight-bold heading">
          Click in the mugs to colour them, if both the words in them
          are Synonyms.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="main-question-container">
        <!-- 1 -->
        <div class="question cup-1">
          <div class="img-container">
            <img src="assets/std02-synonyms-worksheet1/img/cup1.png" alt="" class="img-fluid">
          </div>
          <div class="main-text-container">
            <div class="cuptext">
              <span>friend</span>
            </div>
            <div></div>
            <div class="cuptext">
              <span>pal</span>
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="question cup-2 wrong">
          <div class="img-container">
            <img src="assets/std02-synonyms-worksheet1/img/cup2.png" alt="" class="img-fluid">
          </div>
          <div class="main-text-container">
            <div class="cuptext">
              <span>flower</span>
            </div>
            <div></div>
            <div class="cuptext">
              <span>leaf</span>
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="question cup-3">
          <div class="img-container">
            <img src="assets/std02-synonyms-worksheet1/img/cup3.png" alt="" class="img-fluid">
          </div>
          <div class="main-text-container">
            <div class="cuptext">
              <span>permit</span>
            </div>
            <div></div>
            <div class="cuptext">
              <span>allow</span>
            </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="question cup-4 wrong">
          <div class="img-container">
            <img src="assets/std02-synonyms-worksheet1/img/cup5.png" alt="" class="img-fluid">
          </div>
          <div class="main-text-container">
            <div class="cuptext">
              <span>brave</span>
            </div>
            <div></div>
            <div class="cuptext">
              <span>help</span>
            </div>
          </div>
        </div>
        <!-- 5 -->
        <div class="question cup-5">
          <div class="img-container">
            <img src="assets/std02-synonyms-worksheet1/img/cup4.png" alt="" class="img-fluid">
          </div>
          <div class="main-text-container">
            <div class="cuptext">
              <span>get</span>
            </div>
            <div></div>
            <div class="cuptext">
              <span>receive</span>
            </div>
          </div>
        </div>
        <!--  6-->
        <div class="question cup-4">
          <div class="img-container">
            <img src="assets/std02-synonyms-worksheet1/img/cup5.png" alt="" class="img-fluid">
          </div>
          <div class="main-text-container">
            <div class="cuptext">
              <span>paste</span>
            </div>
            <div></div>
            <div class="cuptext">
              <span>glue</span>
            </div>
          </div>
        </div>
        <!-- 7 -->
        <div class="question cup-3">
          <div class="img-container">
            <img src="assets/std02-synonyms-worksheet1/img/cup3.png" alt="" class="img-fluid">
          </div>
          <div class="main-text-container">
            <div class="cuptext">
              <span>hope</span>
            </div>
            <div></div>
            <div class="cuptext">
              <span>wish</span>
            </div>
          </div>
        </div>
        <!-- 8 -->
        <div class="question cup-4">
          <div class="img-container">
            <img src="assets/std02-synonyms-worksheet1/img/cup5.png" alt="" class="img-fluid">
          </div>
          <div class="main-text-container">
            <div class="cuptext">
              <span>one</span>
            </div>
            <div></div>
            <div class="cuptext">
              <span>single</span>
            </div>
          </div>
        </div>
        <!-- 9 -->
        <div class="question cup-5 wrong">
          <div class="img-container">
            <img src="assets/std02-synonyms-worksheet1/img/cup4.png" alt="" class="img-fluid">
          </div>
          <div class="main-text-container">
            <div class="cuptext">
              <span>cry</span>
            </div>
            <div></div>
            <div class="cuptext">
              <span>grin</span>
            </div>
          </div>
        </div>
        <!-- 10 -->
        <div class="question cup-1">
          <div class="img-container">
            <img src="assets/std02-synonyms-worksheet1/img/cup1.png" alt="" class="img-fluid">
          </div>
          <div class="main-text-container">
            <div class="cuptext">
              <span>kind</span>
            </div>
            <div></div>
            <div class="cuptext">
              <span>nice</span>
            </div>
          </div>
        </div>
        <!-- 11 -->
        <div class="question cup-5">
          <div class="img-container">
            <img src="assets/std02-synonyms-worksheet1/img/cup4.png" alt="" class="img-fluid">
          </div>
          <div class="main-text-container">
            <div class="cuptext">
              <span>love</span>
            </div>
            <div></div>
            <div class="cuptext">
              <span>adore</span>
            </div>
          </div>
        </div>
        <!-- 12 -->
        <div class="question cup-2">
          <div class="img-container">
            <img src="assets/std02-synonyms-worksheet1/img/cup2.png" alt="" class="img-fluid">
          </div>
          <div class="main-text-container">
            <div class="cuptext">
              <span>children</span>
            </div>
            <div></div>
            <div class="cuptext">
              <span>kids</span>
            </div>
          </div>
        </div>
        <!-- end -->
      </div>
    </div>

    <div class="row btn-row">
      <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>

</div>