<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
  <div class="Box">
          <div class="imgBox">
      <img src="" alt="" class="Text keep-practicing hide">
      <img src="" alt="" class="Text outstanding hide">
      <img src="" alt="" class="Text brilliant hide">
      <img src="" alt="" class="Text good-work hide">
      <!-- <img src="" alt="" class="Text fabulous hide"> -->
    </div>
    <div class="TextBox">
      <h1></h1>
    </div>
    <img src="assets/images/close.png" alt="" class="close">
  </div>
</div>
  
  <div class="loadingDiv">
</div>

  <div class="container">
  <div class="heading">
          <!-- <h1>Click on the blanks and then click on the click on the words given in the help box; to classify them correctly as Simple Past, Present and Future Tense Verbs.</h1> -->
          <h1>Click on the blanks and then click on the words given in the help box; to classify them correctly as Simple Past, Present and Future Tense Verbs.</h1>
  </div>
      <div class="row Main_Container">
          <div class="col-12 Option_Container">
              <div class="option_Block">
                  <img src="assets/std03-mixed-tense-worksheet2/img/helpbox.png" alt="" class="helpbox">
                  <img src="assets/std03-mixed-tense-worksheet2/img/helpbox_portrait.png" alt="" class="helpbox_portrait">
                  <div class="options">
                      <div class="option">swallows</div>
                      <div class="option">notices</div>
                      <div class="option">will need</div>
                      <div class="option">shattered</div>
                      <div class="option">published</div>
                      <div class="option">will drive</div>
                      <div class="option">will know</div>
                      <div class="option">smashed</div>
                      <div class="option">chases</div>
                      <div class="option">will watch</div>
                      <div class="option">cried</div>
                      <div class="option">lets</div>
                      <div class="option">will read</div>
                      <div class="option">moves</div>
                      <div class="option">shook</div>
                      <div class="option">will look</div>
                      <div class="option">listens</div>
                      <div class="option">came</div>
                  </div>
              </div>
          </div>
          <div class="col-12 Question_Container">
              <div class="Question_Block">
                  <!-- Past Tense Block -->
                  <div class="Block past_tense_block">
                      <img src="assets/std03-mixed-tense-worksheet2/img/past_tense.png" alt="" class="past_tense tense">
                      <div class="header"><div>Simple Past</div><div>Tense Verbs</div></div>
                      <div class="Answer_Block">
                          <div class="answer_row">
                              <div class="number">1</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>published</span></div></div>
                          </div>
                          <div class="answer_row">
                              <div class="number">2</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>shattered</span></div></div>
                          </div>
                          <div class="answer_row">
                              <div class="number">3</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>cried</span></div></div>
                          </div>
                          <div class="answer_row">
                              <div class="number">4</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>smashed</span></div></div>
                          </div>
                          <div class="answer_row">
                              <div class="number">5</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>shook</span></div></div>
                          </div>
                          <div class="answer_row">
                              <div class="number">6</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>came</span></div></div>
                          </div>
                      </div>
                  </div>
                  <!-- Present Tense Block -->
                  <div class="Block present_tense_block">
                      <img src="assets/std03-mixed-tense-worksheet2/img/present_tense.png" alt="" class="present_tense tense">
                      <div class="header"><div>Simple Present</div><div>Tense Verbs</div></div>
                      <div class="Answer_Block">
                          <div class="answer_row">
                              <div class="number">1</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>swallows</span></div></div>
                          </div>
                          <div class="answer_row">
                              <div class="number">2</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>notices</span></div></div>
                          </div>
                          <div class="answer_row">
                              <div class="number">3</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>chases</span></div></div>
                          </div>
                          <div class="answer_row">
                              <div class="number">4</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>lets</span></div></div>
                          </div>
                          <div class="answer_row">
                              <div class="number">5</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>listens</span></div></div>
                          </div>
                          <div class="answer_row">
                              <div class="number">6</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>moves</span></div></div>
                          </div>
                      </div>
                  </div>
                  <!-- Future Tense Block -->
                  <div class="Block future_tense_block">
                      <img src="assets/std03-mixed-tense-worksheet2/img/future_tense.png" alt="" class="future_tense tense">
                      <div class="header"><div>Simple Future</div><div>Tense Verbs</div></div>
                      <div class="Answer_Block">
                          <div class="answer_row">
                              <div class="number">1</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>will need</span></div></div>
                          </div>
                          <div class="answer_row">
                              <div class="number">2</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>will drive</span></div></div>
                          </div>
                          <div class="answer_row">
                              <div class="number">3</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>will know</span></div></div>
                          </div>
                          <div class="answer_row">
                              <div class="number">4</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>will watch</span></div></div>
                          </div>
                          <div class="answer_row">
                              <div class="number">5</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>will read</span></div></div>
                          </div>
                          <div class="answer_row">
                              <div class="number">6</div>
                              <div class="input_div"><input type="text"><div class="correct_answer"><span>will look</span></div></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
  </div>
  <div class="btn-row">
    <button class="button myButton">Submit</button>
  </div>
     
  </div>
</div>