<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
  <div class="Box">
    <div class="imgBox">
      <img src="" alt="" class="Text keep-practicing hide">
      <img src="" alt="" class="Text outstanding hide">
      <img src="" alt="" class="Text brilliant hide">
      <img src="" alt="" class="Text good-work hide">
      <!-- <img src="" alt="" class="Text fabulous hide"> -->
    </div>
    <div class="TextBox">
      <h1></h1>
    </div>
    <img src="assets/images/close.png" alt="" class="close">
  </div>
</div>
  <div class="loadingDiv">
  </div>
<div class="container">
  <div class="row">
    <div class="col-12 mt-3 mb-3">
      <h2 class="font-weight-bold heading">
        Click on the blanks and then click on the underlined words, to classify them correctly as Verbs and Adverbs.
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="main-question-container">
      <!-- 1 -->
      <div class="question">
        <div class="number"><span>1)</span></div>
        <div class="main-text-container">
          <div class="text-container">
            <span>Jack <u>threw</u> the ball <u>upwards</u> in the sky.</span>
          </div>
          <div class="input-answer-container">
            <div class="main-input-container">
              <div class="Verb"><span>Verb</span></div>
              <div class="input-container"><input type="text" ></div>
              <div class="verb-correct-answer correct-answer portrait show-answer0"><span>threw</span></div>
              <div class="Adverb"><span>Adverb</span></div>
              <div class="input-container"><input type="text"></div>
              <div class="verb-correct-answer correct-answer portrait show-answer1"><span>upwards</span></div>
            </div>
            <div class="answer-container">
              <div class="answer-heading portrait">
                <div><span class="Verb">Verbs</span></div>
                <div><span class="Adverb">Adverbs</span></div>
              </div>
              <div class="verb-correct-answer correct-answer landscape show-answer0"><span>threw</span></div>
              <div class="verb-correct-answer correct-answer landscape show-answer1"><span>upwards</span></div>
            </div>
          </div>
        </div>
      </div>
      <!-- 2 -->
      <div class="question">
        <div class="number"><span>2)</span></div>
        <div class="main-text-container">
          <div class="text-container">
            <span> Amy <u>went</u> to her friend’s house <u>yesterday</u>.</span>
          </div>
          <div class="input-answer-container">
            <div class="main-input-container">
              <div class="Verb"><span>Verb</span></div>
              <div class="input-container"><input type="text"></div>
              <div class="verb-correct-answer correct-answer portrait show-answer2"><span>went</span></div>
              <div class="Adverb"><span>Adverb</span></div>
              <div class="input-container"><input type="text"></div>
              <div class="verb-correct-answer correct-answer portrait show-answer3"><span>yesterday</span></div>
            </div>
            <div class="answer-container">
              <div class="verb-correct-answer correct-answer landscape show-answer2"><span>went</span></div>
              <div class="verb-correct-answer correct-answer landscape show-answer3"><span>yesterday</span></div>
            </div>
          </div>
        </div>
      </div>
      <!-- 3 -->
      <div class="question">
        <div class="number"><span>3)</span></div>
        <div class="main-text-container">
          <div class="text-container">
            <span>Tony <u>accidently</u> <u>slipped</u> over a banana skin.</span>
          </div>
          <div class="input-answer-container">
            <div class="main-input-container">
              <div class="Verb"><span>Verb</span></div>
              <div class="input-container"><input type="text"></div>
              <div class="verb-correct-answer correct-answer portrait show-answer4"><span>slipped</span></div>
              <div class="Adverb"><span>Adverb</span></div>
              <div class="input-container"><input type="text"></div>
              <div class="verb-correct-answer correct-answer portrait show-answer5"><span>accidently</span></div>
            </div>
            <div class="answer-container">
              <div class="verb-correct-answer correct-answer landscape show-answer4"><span>slipped</span></div>
              <div class="verb-correct-answer correct-answer landscape show-answer5"><span>accidently</span></div>
            </div>
          </div>
        </div>
      </div>
      <!-- 4 -->
      <div class="question">
        <div class="number"><span>4)</span></div>
        <div class="main-text-container">
          <div class="text-container">
            <span>I <u>ran</u> <u>quickly</u> to the store.</span>
          </div>
          <div class="input-answer-container">
            <div class="main-input-container">
              <div class="Verb"><span>Verb</span></div>
              <div class="input-container"><input type="text"></div>
              <div class="verb-correct-answer correct-answer portrait show-answer6"><span>ran</span></div>
              <div class="Adverb"><span>Adverb</span></div>
              <div class="input-container"><input type="text"></div>
              <div class="verb-correct-answer correct-answer portrait show-answer7"><span>quickly</span></div>
            </div>
            <div class="answer-container">
              <div class="verb-correct-answer correct-answer landscape show-answer6"><span>ran</span></div>
              <div class="verb-correct-answer correct-answer landscape show-answer7"><span>quickly</span></div>
            </div>
          </div>
        </div>
      </div>
      <!-- 5 -->
      <div class="question">
        <div class="number"><span>5)</span></div>
        <div class="main-text-container">
          <div class="text-container">
            <span>My baby sister <u>slept</u> <u>quietly</u> in her cot.</span>
          </div>
          <div class="input-answer-container">
            <div class="main-input-container">
              <div class="Verb"><span>Verb</span></div>
              <div class="input-container"><input type="text"></div>
              <div class="verb-correct-answer correct-answer portrait show-answer8"><span>slept</span></div>
              <div class="Adverb"><span>Adverb</span></div>
              <div class="input-container"><input type="text"></div>
              <div class="verb-correct-answer correct-answer portrait show-answer9"><span>quietly</span></div>
            </div>
            <div class="answer-container">
              <div class="verb-correct-answer correct-answer landscape show-answer8"><span>slept</span></div>
              <div class="verb-correct-answer correct-answer landscape show-answer9"><span>quietly</span></div>
            </div>
          </div>
        </div>
      </div>
      <!-- 6 -->
      <div class="question">
        <div class="number"><span>6)</span></div>
        <div class="main-text-container">
          <div class="text-container">
            <span>The children <u>walked</u> <u>obediently</u> in a line.</span>
          </div>
          <div class="input-answer-container">
            <div class="main-input-container">
              <div class="Verb"><span>Verb</span></div>
              <div class="input-container"><input type="text"></div>
              <div class="verb-correct-answer correct-answer portrait show-answer10"><span>walked</span></div>
              <div class="Adverb"><span>Adverb</span></div>
              <div class="input-container"><input type="text"></div>
              <div class="verb-correct-answer correct-answer portrait show-answer11"><span>obediently</span></div>
            </div>
            <div class="answer-container">
              <div class="verb-correct-answer correct-answer landscape show-answer10"><span>walked</span></div>
              <div class="verb-correct-answer correct-answer landscape show-answer11"><span>obediently</span></div>
            </div>
          </div>
        </div>
      </div>
      <!-- 7 -->
      <div class="question">
        <div class="number"><span>7)</span></div>
        <div class="main-text-container">
          <div class="text-container">
            <span> The farmers <u>joyfully</u> <u>welcomed</u> the rain.	</span>
          </div>
          <div class="input-answer-container">
            <div class="main-input-container">
              <div class="Verb"><span>Verb</span></div>
              <div class="input-container"><input type="text"></div>
              <div class="verb-correct-answer correct-answer portrait show-answer12"><span>welcomed</span></div>
              <div class="Adverb"><span>Adverb</span></div>
              <div class="input-container"><input type="text"></div>
              <div class="verb-correct-answer correct-answer portrait show-answer13"><span>joyfully</span></div>
            </div>
            <div class="answer-container">
              <div class="verb-correct-answer correct-answer landscape show-answer12"><span>welcomed</span></div>
              <div class="verb-correct-answer correct-answer landscape show-answer13"><span>joyfully</span></div>
            </div>
          </div>
        </div>
      </div>
      <!-- 8 -->
      <div class="question">
        <div class="number"><span>8)</span></div>
        <div class="main-text-container">
          <div class="text-container">
            <span>He <u>proudly</u> <u>held</u> his trophy.</span>
          </div>
          <div class="input-answer-container">
            <div class="main-input-container">
              <div class="Verb"><span>Verb</span></div>
              <div class="input-container"><input type="text"></div>
              <div class="verb-correct-answer correct-answer portrait show-answer14"><span>held</span></div>
              <div class="Adverb"><span>Adverb</span></div>
              <div class="input-container"><input type="text"></div>
              <div class="verb-correct-answer correct-answer portrait show-answer15"><span>proudly</span></div>
            </div>
            <div class="answer-container">
              <div class="verb-correct-answer correct-answer landscape show-answer14"><span>held</span></div>
              <div class="verb-correct-answer correct-answer landscape show-answer15"><span>proudly</span></div>
            </div>
          </div>
        </div>
      </div>
      <!-- 9 -->
      <div class="question">
        <div class="number"><span>9)</span></div>
        <div class="main-text-container">
          <div class="text-container">
            <span>Mom <u>looked</u> <u>lovingly</u> at me.</span>
          </div>
          <div class="input-answer-container">
            <div class="main-input-container">
              <div class="Verb"><span>Verb</span></div>
              <div class="input-container"><input type="text"></div>
              <div class="verb-correct-answer correct-answer portrait show-answer16"><span>looked</span></div>
              <div class="Adverb"><span>Adverb</span></div>
              <div class="input-container"><input type="text"></div>
              <div class="verb-correct-answer correct-answer portrait show-answer17"><span>lovingly</span></div>
            </div>
            <div class="answer-container">
              <div class="verb-correct-answer correct-answer landscape show-answer16"><span>looked</span></div>
              <div class="verb-correct-answer correct-answer landscape show-answer17"><span>lovingly</span></div>
            </div>
          </div>
        </div>
      </div>
      <!-- 10 -->
      <div class="question">
        <div class="number"><span>10)</span></div>
        <div class="main-text-container">
          <div class="text-container">
            <span><u>Fortunately</u>, no one was <u>injured</u> in the accident.	</span>
          </div>
          <div class="input-answer-container">
            <div class="main-input-container">
              <div class="Verb"><span>Verb</span></div>
              <div class="input-container"><input type="text"></div>
              <div class="verb-correct-answer correct-answer portrait show-answer18"><span>injured</span></div>
              <div class="Adverb"><span>Adverb</span></div>
              <div class="input-container"><input type="text"></div>
              <div class="verb-correct-answer correct-answer portrait show-answer19"><span>Fortunately</span></div>
            </div>
            <div class="answer-container">
              <div class="verb-correct-answer correct-answer landscape show-answer18"><span>injured</span></div>
              <div class="verb-correct-answer correct-answer landscape show-answer19"><span>Fortunately</span></div>
            </div>
          </div>
        </div>
      </div>
      <!-- end -->
    </div>
  </div>
  <div class="btn-row">
    <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
    </div>
    <div class="main_character_container">
      <div class="character_container">
        <img src="assets/std03-adverbs-worksheet10/img/character.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>
</div>