<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    <div class="loadingDiv">
    </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 mb-2 mb-lg-3">
				<h2 class="font-weight-bold heading">
					Click on the Conjunctions in the following sentences.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="top-question-container">
				<div class="main-question-container">
					<!-- 1 -->
					<div class="question">
						<div class="number"><span>1)</span></div>
						<div class="text-container"><span>Would</span> <span>you</span> <span>like</span> <span>hot</span> <span>chocolate</span> <span class="right">or</span> <span>cold</span> <span>coffee</span>? </div>
					</div>
					<!-- 2 -->
					<div class="question">
						<div class="number"><span>2)</span></div>
						<div class="text-container"><span>My</span> <span>brother</span> <span>wanted</span> <span>a</span> <span>pet</span> <span>dog</span> <span class="right">but</span> <span>I</span> <span>wanted</span> <span>a</span> <span>pet</span> <span>cat</span>. </div>
					</div>
					<!-- 3 -->
					<div class="question">
						<div class="number"><span>3)</span></div>
						<div class="text-container"><span>Karen</span> <span>bought</span> <span>a</span> <span>polka</span> <span>dot</span> <span>dress</span> <span class="right">and</span> <span>a</span> <span>striped</span> <span>top</span> <span>from</span> <span>the</span> <span>sale</span>. </div>
					</div>
					<!-- 4 -->
					<div class="question">
						<div class="number"><span>4)</span></div>
						<div class="text-container"><span>We</span> <span>will</span> <span>go</span> <span>to</span> <span>the</span> <span>beach</span> <span>on</span> <span>Sunday,</span> <span class="right">if</span> <span>it</span> <span>does</span> <span>not</span> <span>rain</span>. </div>
					</div>
					<!-- 5 -->
					<div class="question">
						<div class="number"><span>5)</span></div>
						<div class="text-container"><span>The</span> <span>kids</span> <span>will</span> <span>wake</span> <span>up</span> <span>late</span> <span>today</span> <span class="right">because</span> <span>they</span> <span>don’t</span> <span>have</span> <span>to</span> <span>go</span> <span>to</span> <span>school</span>. </div>
					</div>
					<!-- 6 -->
					<div class="question">
						<div class="number"><span>6)</span></div>
						<div class="text-container"><span>I</span> <span>accidently</span> <span>dropped</span> <span>juice</span> <span>on</span> <span>the</span> <span>floor</span> <span class="right">so</span> <span>I</span> <span>mopped</span> <span>it</span> <span>clean</span>. </div>
					</div>
					<!-- 7 -->
					<div class="question">
						<div class="number"><span>7)</span></div>
						<div class="text-container"><span>Jake</span> <span>drank</span> <span>a</span> <span>lot</span> <span>water</span> <span class="right">yet</span> <span>he</span> <span>was</span> <span>thirsty</span>. </div>
					</div>
					<!-- 8 -->
					<div class="question">
						<div class="number"><span>8)</span></div>
						<div class="text-container"><span>The</span> <span>ballerinas</span> <span>continued</span> <span>their</span> <span>practice</span> <span class="right">although</span> <span>they</span> <span>were</span> <span>tired</span>. </div>
					</div>
					<!-- 9 -->
					<div class="question">
						<div class="number"><span>9)</span></div>
						<div class="text-container"><span>Please</span> <span>wait</span> <span>for</span> <span>me</span> <span class="right">until</span> <span>I</span> <span>reach</span> <span>the</span> <span>bus</span> <span>stop</span>. </div>
					</div>
					<!-- 10 -->
					<div class="question">
						<div class="number"><span>10)</span></div>
						<div class="text-container"><span class="right">Unless</span> <span>you</span> <span>work</span> <span>hard,</span> <span>you</span> <span>won’t</span> <span>pass</span> <span>the</span> <span>test</span>. </div>
					</div>
					<!-- end -->
				</div>
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>