<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Worksheet 4</title>
</head>

<body>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>

	<div class="loadingDiv">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12 px-2 py-3">
				<!--  <div class="heading my-3 p-2">
                        <h2 class="font-weight-bold mb-0">Under the correct noun from the brackets to complete each sentence. </h2>
                    </div> -->
				<h2 class="font-weight-bold">
					Click on the Adjectives in the following sentences.
				</h2>
			</div>
		</div>
		<div class="Main_Container mb-3 mt-2 mt-sm-2">

			<div class="row">
				<div class="row col-12 col-sm-6 p-3 ml-1">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color orange-box">1)</span>
						</div>
					</div>
					<div class="col-8">
						<div class="content" id="question0" ngPreserveWhitespaces>
							<span style="cursor:pointer">There</span>
							<span style="cursor:pointer">is</span>
							<span style="cursor:pointer">round</span>
							<span style="cursor:pointer">table</span>
							<span style="cursor:pointer">in</span>
							<span style="cursor:pointer">the</span>
							<span style="cursor:pointer">of</span>
							<span style="cursor:pointer">the</span>
							<span style="cursor:pointer">room</span>.
						</div>



					</div>
					<div class="col-3 p-1 p-sm-0 p-lg-1">
						<div class="p1-img"><img src="assets/std01-adjective-worksheet4/img/p1.png" class="img-fluid">
						</div>
					</div>
				</div>
				<div class="row  col-12 col-sm-6 p-3 ml-4">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color orange-box">2)</span>
						</div>
					</div>

					<div class="col-8">
						<div class="content" id="question1" ngPreserveWhitespaces>
							<span style="cursor:pointer">She</span> <span style="cursor:pointer">was</span> <span
								style="cursor:pointer">drinking</span> <span style="cursor:pointer">hot</span> <span
								style="cursor:pointer">chocolate</span> <span style="cursor:pointer">milk</span>.
						</div>
					</div>
					<div class="col-2 p-1 p-sm-0 p-lg-1">
						<div class="p22-img"><img src="assets/std01-adjective-worksheet4/img/p22.png" class="img-fluid">
						</div>

					</div>

				</div>

				<div class="row  col-12 col-sm-6 p-3 ml-1">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color orange-box">3)</span>
						</div>
					</div>
					<div class="col-8">
						<div class="content" id="question2" ngPreserveWhitespaces>
							<span style="cursor:pointer">That</span> <span style="cursor:pointer"></span> <span
								style="cursor:pointer">old</span> <span style="cursor:pointer">man</span> <span
								style="cursor:pointer">was</span> <span style="cursor:pointer"></span> <span
								style="cursor:pointer">greedy</span>.
						</div>
					</div>
					<div class="col-3 p-1 p-sm-0 p-lg-1">
						<div class="p3-img">
							<img src="assets/std01-adjective-worksheet4/img/p3.png" class="img-fluid">
						</div>
					</div>
				</div>
				<div class="row  col-12 col-sm-6 p-3 ml-4">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color orange-box">4)</span>
						</div>
					</div>
					<div class="col-8">
						<div class="content" id="question3" ngPreserveWhitespaces>
							<span style="cursor:pointer">Ants</span> <span style="cursor:pointer">are</span> <span
								style="cursor:pointer"></span> <span style="cursor:pointer">hardworking</span> <span
								style="cursor:pointer">insects</span>.
						</div>
					</div>
					<div class="col-2 p-1 p-sm-0 p-lg-1">
						<div class="p4-img">
							<img src="assets/std01-adjective-worksheet4/img/p4.png" class="img-fluid">
						</div>
					</div>
				</div>
				<div class="row  col-12 col-sm-6 p-3 ml-1">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color orange-box">5)</span>
						</div>
					</div>
					<div class="col-8">
						<div class="content" id="question4" ngPreserveWhitespaces>
							<span style="cursor:pointer">My</span> <span style="cursor:pointer">brother’s</span> <span
								style="cursor:pointer">room</span> <span style="cursor:pointer">is</span> <span
								style="cursor:pointer"></span> <span style="cursor:pointer">dirty</span>.
						</div>
					</div>
					<div class="col-3 p-1 p-sm-0 p-lg-1 pencil-content">
						<div class="p5-img">
							<img src="assets/std01-adjective-worksheet4/img/p5.png" class="img-fluid">
						</div>
					</div>
				</div>
				<div class="row  col-12 col-sm-6 p-3 ml-4">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color orange-box">6)</span>
						</div>
					</div>
					<div class="col-8">
						<div class="content" id="question5" ngPreserveWhitespaces>
							<span style="cursor:pointer">Betty</span> <span style="cursor:pointer">has</span> <span
								style="cursor:pointer"></span> <span style="cursor:pointer">shining</span>,<span
								style="cursor:pointer"></span> <span style="cursor:pointer">black</span> <span
								style="cursor:pointer">hair</span>.
						</div>
					</div>
					<div class="col-2 p-1 p-sm-0 p-lg-1">
						<div class="p6-img">
							<img src="assets/std01-adjective-worksheet4/img/p6.png" class="img-fluid">
						</div>
					</div>
				</div>
				<div class="row  col-12 col-sm-6 p-3 ml-1">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color orange-box">7)</span>
						</div>
					</div>

					<div class="col-8">
						<div class="content" id="question6" ngPreserveWhitespaces>
							<span style="cursor:pointer">Jack</span> <span style="cursor:pointer">is</span> <span
								style="cursor:pointer">a</span> <span style="cursor:pointer"></span> <span
								style="cursor:pointer">strong</span> <span style="cursor:pointer">boy</span>.
						</div>
					</div>
					<div class="col-3 p-1 p-sm-0 p-lg-1">
						<div class="p7-img">
							<img src="assets/std01-adjective-worksheet4/img/p7.png" class="img-fluid">
						</div>
					</div>
				</div>

				<div class="row  col-12 col-sm-6 p-3 ml-4">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color orange-box">8)</span>
						</div>
					</div>
					<div class="col-8">
						<div class="content" id="question7" ngPreserveWhitespaces>
							<span style="cursor:pointer">I</span> <span style="cursor:pointer">solved</span> <span
								style="cursor:pointer">a</span> <span style="cursor:pointer"></span> <span
								style="cursor:pointer">difficult</span> <span style="cursor:pointer">sum</span> <span
								style="cursor:pointer">in</span> <span style="cursor:pointer">the</span> <span
								style="cursor:pointer">Maths</span> <span style="cursor:pointer">class</span>.
						</div>
					</div>
					<div class="col-2 p-1 p-sm-0 p-lg-1">
						<div class="p8-img">
							<img src="assets/std01-adjective-worksheet4/img/p8.png" class="img-fluid">
						</div>
					</div>

				</div>

				<div class="row  col-12 col-sm-6 p-3 ml-1">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color orange-box">9)</span>
						</div>
					</div>
					<div class="col-8">
						<div class="content" id="question8" ngPreserveWhitespaces>
							<span style="cursor:pointer">Tom</span> <span style="cursor:pointer">ran</span> <span
								style="cursor:pointer">as</span> <span style="cursor:pointer">fast</span> <span
								style="cursor:pointer">as</span> <span style="cursor:pointer">he</span> <span
								style="cursor:pointer">could</span> <span style="cursor:pointer">in</span> <span
								style="cursor:pointer">the</span> <span style="cursor:pointer">race</span>.
						</div>
					</div>
					<div class="col-3 p-1 p-sm-0 p-lg-1">
						<div class="p9-img">
							<img src="assets/std01-adjective-worksheet4/img/p9.png" class="img-fluid">
						</div>
					</div>

				</div>
				<div class="row  col-12 col-sm-6 p-3 ml-4">
					<div class="col-1 p-1">
						<div class="list-item">
							<span class="number-color orange-box">10)</span>
						</div>
					</div>
					<div class="col-8">
						<div class="content" id="question9" ngPreserveWhitespaces>
							<span style="cursor:pointer">The</span> <span style="cursor:pointer">cupcake</span> <span
								style="cursor:pointer">was</span> <span style="cursor:pointer"></span> <span
								style="cursor:pointer">yummy</span>!
						</div>
					</div>
					<div class="col-2 p-1 p-sm-0 p-lg-1">
						<div class="p10-img">
							<img src="assets/std01-adjective-worksheet4/img/p10.png" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="btn-row mb-3">
			<div class="col-12 text-center">
				<button class="button myButton">Submit</button>
			</div>
		</div>

	</div>
</body>

</html>