<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text fabulous hide">
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="row">
      <div class="heading mt-3">
        <h1>Click on the alphabets in the word search to mark the Adverbs given in the help box.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-5 helpbox p-0">
        <div class="top-helpbox_container">
          <div class="helpbox-main-container">
            <div class="helpbox-div"><span class="angrily a">a</span><span class="angrily n">n</span><span
                class="angrily g">g</span><span class="angrily r">r</span><span class="angrily i">i</span><span
                class="angrily l">l</span><span class="angrily y">y</span></div>
            <div class="helpbox-div"><span class="well w">w</span><span class="well e">e</span><span
                class="well l l1">l</span><span class="well l l2">l</span></div>
            <div class="helpbox-div"><span class="there t">t</span><span class="there h">h</span><span
                class="there e1">e</span><span class="there r">r</span><span class="there e2">e</span></div>
            <div class="helpbox-div"><span class="proudly p">p</span><span class="proudly r">r</span><span
                class="proudly o">o</span><span class="proudly u">u</span><span class="proudly d">d</span><span
                class="proudly l">l</span><span class="proudly y">y</span></div>
            <div class="helpbox-div"><span class="outside o">o</span><span class="outside u">u</span><span
                class="outside t">t</span><span class="outside s">s</span><span class="outside i">i</span><span
                class="outside d">d</span><span class="outside e">e</span></div>
            <div class="helpbox-div"><span class="today t">t</span><span class="today o">o</span><span
                class="today d">d</span><span class="today a">a</span><span class="today y">y</span></div>
            <div class="helpbox-div"><span class="quite q">q</span><span class="quite u">u</span><span
                class="quite i">i</span><span class="quite t">t</span><span class="quite e">e</span></div>
            <div class="helpbox-div"><span class="greatly g">g</span><span class="greatly r">r</span><span
                class="greatly e">e</span><span class="greatly a">a</span><span class="greatly t">t</span><span
                class="greatly l">l</span><span class="greatly y">y</span></div>
          </div>
          <div class="shift-left">
            <img src="assets/std02-adverbs-worksheet6/img/lefthelpbox.png" alt="" class="img-fluid">
          </div>
          <div class="shift-right">
            <img src="assets/std02-adverbs-worksheet6/img/righthelpbox.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-7 p-0">
        <div class="puzzle_container position-relative ">
          <img src="assets/std02-adverbs-worksheet6/img/butterfly.png" alt="" class="img-fluid butterfly">
          <img src="assets/std02-adverbs-worksheet6/img/puzzle_bg.png" alt="" class="img-fluid puzzle">

          <div class="first_Row Row">
            <div class="letter first first_answer angrily" word-click="angrily" data-text="A"></div>
            <div class="letter second second_answer third_answer today there" word-click="today,there" data-text="T">
            </div>
            <div class="letter third second_answer today" word-click="today" data-text="O"></div>
            <div class="letter fourth second_answer today" word-click="today" data-text="D"></div>
            <div class="letter fifth second_answer today" word-click="today" data-text="A"></div>
            <div class="letter sixth second_answer today" word-click="today" data-text="Y"></div>
            <div class="letter seventh disabled" data-text="Z"></div>
            <div class="letter eighth fourth_answer greatly" word-click="greatly" data-text="G"></div>
          </div>
          <div class="second_Row Row">
            <div class="letter first first_answer angrily" word-click="angrily" data-text="N"></div>
            <div class="letter second third_answer there" word-click="there" data-text="H"></div>
            <div class="letter third disabled" data-text="B"></div>
            <div class="letter fourth fifth_answer quite" word-click="quite" data-text="Q"></div>
            <div class="letter fifth disabled" data-text="J"></div>
            <div class="letter sixth sixth_answer outside" word-click="outside" data-text="O"></div>
            <div class="letter seventh disabled" data-text="N"></div>
            <div class="letter eighth fourth_answer greatly" word-click="greatly" data-text="R"></div>
          </div>
          <div class="third_Row Row">
            <div class="letter first first_answer angrily" word-click="angrily" data-text="G"></div>
            <div class="letter second third_answer there e1" word-click="there" data-text="E"></div>
            <div class="letter third disabled" data-text="A"></div>
            <div class="letter fourth fifth_answer quite" word-click="quite" data-text="U"></div>
            <div class="letter fifth disabled" data-text="X"></div>
            <div class="letter sixth sixth_answer outside" word-click="outside" data-text="U"></div>
            <div class="letter seventh disabled" data-text="O"></div>
            <div class="letter eighth fourth_answer greatly" word-click="greatly" data-text="E"></div>
          </div>
          <div class="fourth_Row Row">
            <div class="letter first first_answer angrily" word-click="angrily" data-text="R"></div>
            <div class="letter second third_answer there" word-click="there" data-text="R"></div>
            <div class="letter third disabled" data-text="Y"></div>
            <div class="letter fourth fifth_answer quite" word-click="quite" data-text="I"></div>
            <div class="letter fifth disabled" data-text="I"></div>
            <div class="letter sixth sixth_answer outside" word-click="outside" data-text="T"></div>
            <div class="letter seventh disabled" data-text="L"></div>
            <div class="letter eighth fourth_answer greatly" word-click="greatly" data-text="A"></div>
          </div>
          <div class="fifth_Row Row">
            <div class="letter first first_answer angrily" word-click="angrily" data-text="I"></div>
            <div class="letter second third_answer there e2" word-click="there" data-text="E"></div>
            <div class="letter third disabled" data-text="U"></div>
            <div class="letter fourth fifth_answer quite" word-click="quite" data-text="T"></div>
            <div class="letter fifth disabled" data-text="R"></div>
            <div class="letter sixth sixth_answer outside" word-click="outside" data-text="S"></div>
            <div class="letter seventh disabled" data-text="U"></div>
            <div class="letter eighth fourth_answer greatly" word-click="greatly" data-text="T"></div>
          </div>
          <div class="sixth_Row Row">
            <div class="letter first first_answer angrily" word-click="angrily" data-text="L"></div>
            <div class="letter second disabled" data-text="M"></div>
            <div class="letter third disabled" data-text="O"></div>
            <div class="letter fourth fifth_answer quite" word-click="quite" data-text="E"></div>
            <div class="letter fifth disabled" data-text="D"></div>
            <div class="letter sixth sixth_answer outside" word-click="outside" data-text="I"></div>
            <div class="letter seventh disabled" data-text="Q"></div>
            <div class="letter eighth fourth_answer greatly" word-click="greatly" data-text="L"></div>
          </div>
          <div class="seventh_Row Row">
            <div class="letter first first_answer angrily" word-click="angrily" data-text="Y"></div>
            <div class="letter second seventh_answer proudly" word-click="proudly" data-text="P"></div>
            <div class="letter third seventh_answer proudly" word-click="proudly" data-text="R"></div>
            <div class="letter fourth seventh_answer proudly" word-click="proudly" data-text="O"></div>
            <div class="letter fifth seventh_answer proudly" word-click="proudly" data-text="U"></div>
            <div class="letter sixth sixth_answer seventh_answer proudly outside" word-click="proudly,outside"
              data-text="D"></div>
            <div class="letter seventh seventh_answer proudly" word-click="proudly" data-text="L"></div>
            <div class="letter eighth fourth_answer seventh_answer greatly proudly" word-click="greatly,proudly"
              data-text="Y"></div>
          </div>
          <div class="eight_Row Row">
            <div class="letter first eighth_answer well" word-click="well" data-text="W"></div>
            <div class="letter second eighth_answer well" word-click="well" data-text="E"></div>
            <div class="letter third eighth_answer well l1" word-click="well" data-text="L"></div>
            <div class="letter fourth eighth_answer well l2" word-click="well" data-text="L"></div>
            <div class="letter fifth disabled" data-text="P"></div>
            <div class="letter sixth sixth_answer outside" word-click="outside" data-text="E"></div>
            <div class="letter seventh disabled" data-text="Q"></div>
            <div class="letter eighth disabled" data-text="V"></div>
          </div>
          <div class="line today_line"></div>
          <div class="line well_line"></div>
          <div class="line proudly_line"></div>
          <div class="line angrily_line"></div>
          <div class="line there_line"></div>
          <div class="line quite_line"></div>
          <div class="line outside_line"></div>
          <div class="line greatly_line"></div>
        </div>
      </div>
    </div>

    <div class="row btn-row">
      <div class="col-12">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>

</div>