
<div class="bg"  ngPreserveWhitespaces>
    <div class="backbtn">
        <span><img src="assets/frontend_assets/img/back.png"></span>
    </div>
    <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
    <div class="loadingDiv">
	</div>
	
    <div class="container">
        <div class="row">
            <div class="heading mt-3">
                <h1>Click on the blanks and then click on the correct Feminine Gender from the help box, of the given Masculine Gender.</h1>
            </div>
        </div>
        <div class="Main_Container row">
            <div class="Option_Container col-12">
                <div class="options">
                    <div class="option_first_row">
                        <div class="option">niece</div>
                        <div class="option">wife</div>
                        <div class="option">nun</div>
                        <div class="option">headmistress</div>
                        <div class="option">empress</div>
                    </div>
                    <div class="option_second_row">
                        <div class="option">doe</div>
                        <div class="option">witch</div>
                        <div class="option">heroine</div>
                        <div class="option">peahen</div>
                        <div class="option">cow calf</div>
                    </div>
                </div>
            </div>
            <div class="Questions col-12">
                <div class="Question_Container">
                    <div class="Question_Block">
                        <div class="imgBlock">
                            <img src="assets/std01-gender-nouns-worksheet1/img/wife.png" alt="">
                        </div>
                        <div class="Question">
                            <div class="number">1)</div>
                            <div class="content">husband</div>
                        </div>
                        <div class="input_div">
                            <input type="text"><div class="correct_answer"><span>wife</span></div>
                        </div>
                    </div>
                    <div class="Question_Block">
                        <div class="imgBlock">
                            <img src="assets/std01-gender-nouns-worksheet1/img/heroin.png" alt="">
                        </div>
                        <div class="Question">
                            <div class="number">2)</div>
                            <div class="content">hero</div>
                        </div>
                        <div class="input_div">
                            <input type="text"><div class="correct_answer"><span>heroine</span></div>
                        </div>
                    </div>
                    <div class="Question_Block">
                        <div class="imgBlock">
                            <img src="assets/std01-gender-nouns-worksheet1/img/empress.png" alt="">
                        </div>
                        <div class="Question">
                            <div class="number">3)</div>
                            <div class="content">emperor</div>
                        </div>
                        <div class="input_div">
                            <input type="text"><div class="correct_answer"><span>empress</span></div>
                        </div>
                    </div>
                    <div class="Question_Block">
                        <div class="imgBlock">
                            <img src="assets/std01-gender-nouns-worksheet1/img/cow.png" alt="">
                        </div>
                        <div class="Question">
                            <div class="number">4)</div>
                            <div class="content">bull calf</div>
                        </div>
                        <div class="input_div">
                            <input type="text"><div class="correct_answer"><span>cow calf</span></div>
                        </div>
                    </div>
                    <div class="Question_Block">
                        <div class="imgBlock">
                            <img src="assets/std01-gender-nouns-worksheet1/img/witch.png" alt="">
                        </div>
                        <div class="Question">
                            <div class="number">5)</div>
                            <div class="content">wizard</div>
                        </div>
                        <div class="input_div">
                            <input type="text"><div class="correct_answer"><span>witch</span></div>
                        </div>
                    </div>
                    <div class="Question_Block">
                        <div class="imgBlock">
                            <img src="assets/std01-gender-nouns-worksheet1/img/niece.png" alt="">
                        </div>
                        <div class="Question">
                            <div class="number">6)</div>
                            <div class="content">nephew</div>
                        </div>
                        <div class="input_div">
                            <input type="text"><div class="correct_answer"><span>niece</span></div>
                        </div>
                    </div>
                    <div class="Question_Block">
                        <div class="imgBlock">
                            <img src="assets/std01-gender-nouns-worksheet1/img/doe.png" alt="">
                        </div>
                        <div class="Question">
                            <div class="number">7)</div>
                            <div class="content">hart</div>
                        </div>
                        <div class="input_div">
                            <input type="text"><div class="correct_answer"><span>doe</span></div>
                        </div>
                    </div>
                    <div class="Question_Block">
                        <div class="imgBlock">
                            <img src="assets/std01-gender-nouns-worksheet1/img/headmistress.png" alt="">
                        </div>
                        <div class="Question">
                            <div class="number">8)</div>
                            <div class="content">headmaster</div>
                        </div>
                        <div class="input_div">
                            <input type="text"><div class="correct_answer"><span>headmistress</span></div>
                        </div>
                    </div>
                    <div class="Question_Block">
                        <div class="imgBlock">
                            <img src="assets/std01-gender-nouns-worksheet1/img/peahen.png" alt="">
                        </div>
                        <div class="Question">
                            <div class="number">9)</div>
                            <div class="content">peacock</div>
                        </div>
                        <div class="input_div">
                            <input type="text"><div class="correct_answer"><span>peahen</span></div>
                        </div>
                    </div>
                    <div class="Question_Block">
                        <div class="imgBlock">
                            <img src="assets/std01-gender-nouns-worksheet1/img/nun.png" alt="">
                        </div>
                        <div class="Question">
                            <div class="number">10)</div>
                            <div class="content">monk</div>
                        </div>
                        <div class="input_div">
                            <input type="text"><div class="correct_answer"><span>nun</span></div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
    </div>
</div>

    