<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>

	<div class="loadingDiv">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 px-2 p-2 mt-3 ">
				<h2 class="font-weight-bold heading">
					<!-- Colour the box ‘Yes’ if the article has been correctly used.
					Colour the box ‘No’ if the article has been incorrectly used. -->
					Click in the  correct boxes to colour them, that states the correct use of Articles in the sentences.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="main-container">
				<div class="row m-0">
					<div class="book-container">
						<img src="assets/std03-articles-worksheet2/img/book-big.png" alt="" class="img-fluid img-landscape">
						<img src="assets/std03-articles-worksheet2/img/book-por.png" alt="" class="img-fluid img-portrait">
						<div class="question-container">
							<!-- 1 -->
							<div class="row m-0 Question_Row">
								<div class="col-9 col-sm-10  p-0">
									<div class="question d-flex">
										<div class="number">
											<span>1)</span>
										</div>
										<div class="text-container">
											<span>The baby was crying because of <u>an</u> ear ache.</span>
										</div>
									</div>
								</div>
								<div class="col-3 col-sm-2  p-0">
									<div class="ans-container d-flex">
										<div class="yes">
											<div class="helpbox-ans wrong">Yes</div>
										</div>
										<div class="no">
											<div class="helpbox-ans correct">No</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 2 -->
							<div class="row m-0 Question_Row">
								<div class="col-9 col-sm-10 p-0">
									<div class="question d-flex">
										<div class="number">
											<span>2)</span>
										</div>
										<div class="text-container">
											<span> Mrs. Jefferson wrote <u>an</u> example on the board.</span>
										</div>
									</div>
								</div>
								<div class="col-3 col-sm-2 p-0">
									<div class="ans-container d-flex">
										<div class="yes">
											<div class="helpbox-ans correct">Yes</div>
										</div>
										<div class="no">
											<div class="helpbox-ans wrong">No</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 3 -->
							<div class="row m-0 Question_Row">
								<div class="col-9 col-sm-10 p-0">
									<div class="question d-flex">
										<div class="number">
											<span>3)</span>
										</div>
										<div class="text-container">
											<span>There is <u>a</u> night market in the city of Taipei.</span>
										</div>
									</div>
								</div>
								<div class="col-3 col-sm-2 p-0">
									<div class="ans-container d-flex">
										<div class="yes">
											<div class="helpbox-ans correct">Yes</div>
										</div>
										<div class="no">
											<div class="helpbox-ans wrong">No</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 4 -->
							<div class="row m-0 Question_Row">
								<div class="col-9 col-sm-10 p-0">
									<div class="question d-flex">
										<div class="number">
											<span>4)</span>
										</div>
										<div class="text-container">
											<span> That taxi driver is <u>a</u> honest man.</span>
										</div>
									</div>
								</div>
								<div class="col-3 col-sm-2 p-0">
									<div class="ans-container d-flex">
										<div class="yes">
											<div class="helpbox-ans wrong">Yes</div>
										</div>
										<div class="no">
											<div class="helpbox-ans correct">No</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 5 -->
							<div class="row m-0 Question_Row">
								<div class="col-9 col-sm-10 p-0">
									<div class="question d-flex">
										<div class="number">
											<span>5)</span>
										</div>
										<div class="text-container">
											<span>David raised his hand to ask <u>a</u> question.</span>
										</div>
									</div>
								</div>
								<div class="col-3 col-sm-2 p-0">
									<div class="ans-container d-flex">
										<div class="yes">
											<div class="helpbox-ans correct">Yes</div>
										</div>
										<div class="no">
											<div class="helpbox-ans wrong">No</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 6 -->
							<div class="row m-0 Question_Row">
								<div class="col-9 col-sm-10 p-0">
									<div class="question d-flex">
										<div class="number">
											<span>6)</span>
										</div>
										<div class="text-container">
											<span>The boy ate <u>an</u> ice-cream on his way back from school.</span>
										</div>
									</div>
								</div>
								<div class="col-3 col-sm-2 p-0">
									<div class="ans-container d-flex">
										<div class="yes">
											<div class="helpbox-ans correct">Yes</div>
										</div>
										<div class="no">
											<div class="helpbox-ans wrong">No</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 7 -->
							<div class="row m-0 Question_Row">
								<div class="col-9 col-sm-10 p-0">
									<div class="question d-flex">
										<div class="number">
											<span>7)</span>
										</div>
										<div class="text-container">
											<span>There was <u>an</u> blue eraser on the table.</span>
										</div>
									</div>
								</div>
								<div class="col-3 col-sm-2 p-0">
									<div class="ans-container d-flex">
										<div class="yes">
											<div class="helpbox-ans wrong">Yes</div>
										</div>
										<div class="no">
											<div class="helpbox-ans correct">No</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 8 -->
							<div class="row m-0 Question_Row">
								<div class="col-9 col-sm-10 p-0">
									<div class="question d-flex">
										<div class="number">
											<span>8)</span>
										</div>
										<div class="text-container">
											<span><u>A</u> author is a person who writes a book.</span>
										</div>
									</div>
								</div>
								<div class="col-3 col-sm-2 p-0">
									<div class="ans-container d-flex">
										<div class="yes">
											<div class="helpbox-ans wrong">Yes</div>
										</div>
										<div class="no">
											<div class="helpbox-ans correct">No</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 9 -->
							<div class="row m-0 Question_Row">
								<div class="col-9 col-sm-10 p-0">
									<div class="question d-flex">
										<div class="number">
											<span>9)</span>
										</div>
										<div class="text-container">
											<span> The children made <u>a</u> chart on global warming.</span>
										</div>
									</div>
								</div>
								<div class="col-3 col-sm-2 p-0">
									<div class="ans-container d-flex">
										<div class="yes">
											<div class="helpbox-ans correct">Yes</div>
										</div>
										<div class="no">
											<div class="helpbox-ans wrong">No</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 10 -->
							<div class="row m-0 Question_Row">
								<div class="col-9 col-sm-10 p-0">
									<div class="question d-flex">
										<div class="number">
											<span>10)</span>
										</div>
										<div class="text-container">
											<span>Nick dreamt about <u>a</u> unicorn.</span>
										</div>
									</div>
								</div>
								<div class="col-3 col-sm-2 p-0">
									<div class="ans-container d-flex">
										<div class="yes">
											<div class=" helpbox-ans correct">Yes</div>
										</div>
										<div class="no">
											<div class="helpbox-ans wrong">No</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mb-3 btn-row">
			<div class="col-12 text-center">
				<button class="button myButton">Submit</button>
			</div>
		</div>

	</div>
</div>