<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
  <div class="Box">
    <div class="imgBox">
      <img src="" alt="" class="Text keep-practicing hide">
      <img src="" alt="" class="Text outstanding hide">
      <img src="" alt="" class="Text brilliant hide">
      <img src="" alt="" class="Text good-work hide">
      <!-- <img src="" alt="" class="Text fabulous hide"> -->
    </div>
    <div class="TextBox">
      <h1></h1>
    </div>
    <img src="assets/images/close.png" alt="" class="close">
  </div>
</div>
  <div class="loadingDiv">
  </div>
<div class="container">
  <div class="row">
    <div class="col-12 mt-3 mb-2 mb-lg-3">
      <h2 class="font-weight-bold heading">
        Click on the Action Verbs in the following sentences.
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="main-question-container">
      <!-- 1 -->
      <div class="question">
        <div class="number"><span>1)</span></div>
        <div class="text-container"><span>Tom</span> <span class="right">chased</span> <span>Jerry</span> <span>all</span> <span>over</span> <span>the</span> <span>house</span>. </div>
      </div>
      <!-- 2 -->
      <div class="question">
        <div class="number"><span>2)</span></div>
        <div class="text-container"><span>He</span> <span class="right">slammed</span> <span>the</span> <span>door</span> <span>angrily</span>. </div>
      </div>
      <!-- 3 -->
      <div class="question">
        <div class="number"><span>3)</span></div>
        <div class="text-container"><span>Mr</span>. <span>Johnson</span> <span class="right">quit</span> <span>his</span> <span>new</span> <span>job</span> <span>in</span> <span>a</span> <span>month</span>. </div>
      </div>
      <!-- 4 -->
      <div class="question">
        <div class="number"><span>4)</span></div>
        <div class="text-container"><span>The</span> <span>ship</span> <span class="right">wrecked</span> <span>after</span> <span>it</span> <span class="right">hit</span> <span>the</span> <span>rocks</span>. </div>
      </div>
      <!-- 5 -->
      <div class="question">
        <div class="number"><span>5)</span></div>
        <div class="text-container"><span>Megan</span> <span class="right">whispered</span> <span>into</span> <span>her</span> <span>best</span> <span>friend’s</span> <span>ears</span>. </div>
      </div>
      <!-- 6 -->
      <div class="question">
        <div class="number"><span>6)</span></div>
        <div class="text-container"><span>The</span> <span>old</span> <span>man</span> <span class="right">fumbled</span> <span>with</span> <span>the</span> <span>keys</span> <span>in</span> <span>his</span> <span>pocket</span>. </div>
      </div>
      <!-- 7 -->
      <div class="question">
        <div class="number"><span>7)</span></div>
        <div class="text-container"><span>The</span> <span>doctor</span> <span class="right">examined</span> <span>Jake</span> <span>with</span> <span>a</span> <span>stethoscope</span>. </div>
      </div>
      <!-- 8 -->
      <div class="question">
        <div class="number"><span>8)</span></div>
        <div class="text-container"><span>My</span> <span>baby</span> <span>brother</span> <span class="right">peeks</span> <span>from</span> <span>his</span> <span>crib</span> <span>when</span> <span>he</span> <span class="right">wakes</span> <span>up</span> <span>from</span> <span>his</span> <span>sleep</span>. </div>
      </div>
      <!-- 9 -->
      <div class="question">
        <div class="number"><span>9)</span></div>
        <div class="text-container"><span>The</span> <span>chef</span> <span class="right">creates</span> <span>a</span> <span>new</span> <span>recipe</span> <span>everyday</span>. </div>
      </div>
      <!-- 10 -->
      <div class="question">
        <div class="number"><span>10)</span></div>
        <div class="text-container"><span>Tina</span> <span class="right">crumpled</span> <span>the</span> <span>rough</span> <span>paper</span> <span>before</span> <span>she</span> <span class="right">threw</span> <span>it</span> <span>into</span> <span>the</span> <span>trash</span> <span>can</span>. </div>
      </div>
      <!-- end -->
    </div>
  </div>
  <div class="row btn-row">
    <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
    </div>
  </div>
</div>
</div>