<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox-result">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="row">
      <div class="heading mt-3  mb-lg-3">
        <h1>
          Click on the blanks and then click on the correct Articles from the help box, to complete
          the sentences.
        </h1>
      </div>
    </div>
    <div class="row position-relative">
      <div class="col-12">
        <div class="Option_Container">
          <div class="options">
            <div class="option"><span>a</span></div>
            <div class="option"><span>an</span></div>
            <div class="option"><span>the</span></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-8 col-md-9 col-xl-9 Question_Container">
        <div class="row">
          <div class="col-12 Question d-flex">
            <div class="number"> <img src="assets/std02-articles-worksheet9/img/blueStar.png" alt=""> <span>1</span></div>
            <div class="content">The story was about <input type="text" />
              <div class="correct_answer"><span>a</span></div> one-eyed gaint.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 Question d-flex">
            <div class="number"> <img src="assets/std02-articles-worksheet9/img/pinkStar.png" alt=""> <span>2</span></div>
            <div class="content">Mrs. Brown gave <input type="text" />
              <div class="correct_answer"><span>an</span></div> easy Maths test to her students.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 Question d-flex">
            <div class="number"> <img src="assets/std02-articles-worksheet9/img/blueStar.png" alt=""> <span>3</span></div>
            <div class="content">Please don<span class="comma">’</span>t sit on <input type="text" />
              <div class="correct_answer"><span>the</span></div> chair that is in <input type="text" />
              <div class="correct_answer"><span>the</span></div> corner.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 Question d-flex">
            <div class="number"> <img src="assets/std02-articles-worksheet9/img/pinkStar.png" alt=""> <span>4</span></div>
            <div class="content">Alia had <input type="text" />
              <div class="correct_answer"><span>an</span></div> excellent idea for the project.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 Question d-flex fifth">
            <div class="number"> <img src="assets/std02-articles-worksheet9/img/blueStar.png" alt=""> <span>5</span></div>
            <div class="content"><input type="text" />
              <div class="correct_answer"><span>The</span></div> little boy was naughty but very cute.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 Question d-flex">
            <div class="number"> <img src="assets/std02-articles-worksheet9/img/pinkStar.png" alt=""> <span>6</span></div>
            <div class="content">Ian is giving <input type="text" />
              <div class="correct_answer"><span>a</span></div> treat to his friends for his birthday.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 Question d-flex">
            <div class="number"> <img src="assets/std02-articles-worksheet9/img/blueStar.png" alt=""> <span>7</span></div>
            <div class="content">Can you give me <input type="text" />
              <div class="correct_answer"><span>an</span></div> eraser?
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 Question d-flex">
            <div class="number"> <img src="assets/std02-articles-worksheet9/img/pinkStar.png" alt=""> <span>8</span></div>
            <div class="content">Blow out <input type="text" />
              <div class="correct_answer"><span>the</span></div> candles on your birthday cake.
            </div>
          </div>
        </div>
        <div class="btn-row">
          <button class="button myButton">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>