<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <img src="" alt="" class="Text fabulous hide">
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row m-0">
            <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
                <h2 class="font-weight-bold heading">
                    Click on the blanks and then click on the words from the help box and classify them correctly as Past and Present
                    Tense Verbs.
                </h2>
            </div>
        </div>

        <div class="helpbox-container">
            <div class="helpbox-ans ha1 a1">
                <span>catch</span>
            </div>
            <div class="helpbox-ans ha2 a2">
                <span>brought</span>
            </div>
            <div class="helpbox-ans ha1 a1">
                <span>slept</span>
            </div>
            <div class="helpbox-ans ha2 a2">
                <span>float</span>
            </div>
            <div class="helpbox-ans ha2 a1">
                <span>clapped</span>
            </div>
            <div class="helpbox-ans ha1 a2">
                <span>imagine</span>
            </div>
            <div class="helpbox-ans ha2 a1">
                <span>forgot</span>
            </div>
            <div class="helpbox-ans ha1 a2">
                <span>drink</span>
            </div>
            <div class="helpbox-ans ha1 a1">
                <span>drop</span>
            </div>
            <div class="helpbox-ans ha2 a2">
                <span>continued</span>
            </div>
            <div class="helpbox-ans ha1 a1">
                <span>gathered</span>
            </div>
            <div class="helpbox-ans ha2 a2">
                <span>begin</span>
            </div>
        </div>




  
            <div class="main-container">
                <div class="main-question-container">
                <div class="heading-text text-center heading-past">
                    <span>Past Tense</span>
                </div>
                <div class="heading-text text-center heading-present">
                    <span>Present Tense</span>
                </div>

                <!-- 1 -->
                <div class="question past_tense">
                    <div class="number">
                        <span>1)</span>
                    </div>

                    <div class="input-container">
                        <span class="input-span"><input type="text" data-text="first"></span>
                        <div class="correct-answer">
                            <span>brought</span>
                        </div>
                    </div>

                </div>
                <!-- 1 -->
                <div class="question present_tense">
                    <div class="number">
                        <span>1)</span>
                    </div>
                    <div class="input-container">
                        <span class="input-span"><input type="text" data-text="second"></span>
                        <div class="correct-answer">
                            <span>catch</span>
                        </div>
                    </div>
                </div>
                <!-- 2 -->
                <div class="question past_tense">
                    <div class="number">
                        <span>2)</span>
                    </div>

                    <div class="input-container">
                        <span class="input-span"><input type="text" data-text="first"></span>
                        <div class="correct-answer">
                            <span>slept</span>
                        </div>
                    </div>

                </div>
                <!-- 2 -->
                <div class="question present_tense">
                    <div class="number">
                        <span>2)</span>
                    </div>
                    <div class="input-container">
                        <span class="input-span"><input type="text" data-text="second"></span>
                        <div class="correct-answer">
                            <span>float</span>
                        </div>
                    </div>
                </div>
                <!-- 3 -->
                <div class="question past_tense">
                    <div class="number">
                        <span>3)</span>
                    </div>

                    <div class="input-container">
                        <span class="input-span"><input type="text" data-text="first"></span>
                        <div class="correct-answer">
                            <span>clapped</span>
                        </div>
                    </div>

                </div>
                <!-- 3 -->
                <div class="question present_tense">
                    <div class="number">
                        <span>3)</span>
                    </div>
                    <div class="input-container">
                        <span class="input-span"><input type="text" data-text="second"></span>
                        <div class="correct-answer">
                            <span>imagine</span>
                        </div>
                    </div>
                </div>
                <!-- 4 -->
                <div class="question past_tense">
                    <div class="number">
                        <span>4)</span>
                    </div>

                    <div class="input-container">
                        <span class="input-span"><input type="text" data-text="first"></span>
                        <div class="correct-answer">
                            <span>forgot</span>
                        </div>
                    </div>

                </div>
                <!-- 4 -->
                <div class="question present_tense">
                    <div class="number">
                        <span>4)</span>
                    </div>
                    <div class="input-container">
                        <span class="input-span"><input type="text" data-text="second"></span>
                        <div class="correct-answer">
                            <span>drop</span>
                        </div>
                    </div>
                </div>
                <!-- 5 -->
                <div class="question past_tense">
                    <div class="number">
                        <span>5)</span>
                    </div>

                    <div class="input-container">
                        <span class="input-span"><input type="text" data-text="first"></span>
                        <div class="correct-answer">
                            <span>gathered</span>
                        </div>
                    </div>

                </div>
                <!-- 5 -->
                <div class="question present_tense">
                    <div class="number">
                        <span>5)</span>
                    </div>
                    <div class="input-container">
                        <span class="input-span"><input type="text" data-text="second"></span>
                        <div class="correct-answer">
                            <span>begin</span>
                        </div>
                    </div>
                </div>
                <!-- 6 -->
                <div class="question past_tense">
                    <div class="number">
                        <span>6)</span>
                    </div>

                    <div class="input-container">
                        <span class="input-span"><input type="text" data-text="first"></span>
                        <div class="correct-answer">
                            <span>continued</span>
                        </div>
                    </div>

                </div>
                <!-- 6 -->
                <div class="question present_tense">
                    <div class="number">
                        <span>6)</span>
                    </div>
                    <div class="input-container">
                        <span class="input-span"><input type="text" data-text="second"></span>
                        <div class="correct-answer">
                            <span>drink</span>
                        </div>
                    </div>
                </div>





            
            
            
            
            </div>

            </div>
        
       


        <div class="row btn-row">
            <div class="col-12 text-center">
                <button class="button myButton">Submit</button>
            </div>
        </div>

    </div>
</div>