<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>

	<div class="loadingDiv">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-12 px-2 mb-1 mb-sm-4 mt-3">
				<h2 class="font-weight-bold">
					Click on the blanks and then click on the correct Possessive Nouns from the given boxes, to complete the sentences.
				</h2>
			</div>
		</div>
		<div class="Main_Container">
			<div class="Question_Row">
				<div class="form-contain">
					<span class="number-box">1)</span>
					<div class="text-container">
						<span>The</span>
						<input type="text" class="">
						<span class="correct-ans"><span>chair’s</span></span>
						<span>leg was broken.</span>
					</div>
				</div>
				<div class="option-container">
					<span>chair</span>
					<span>chair’s</span>
					<span>chairs</span>
					<span>chairs’</span>
				</div>
			</div>
			<div class="Question_Row">
				<div class="form-contain">
					<span class="number-box">2)</span>
					<div class="text-container">
						<input type="text" class="">
						<span class="correct-ans"><span>Bruce’s</span></span>
						<span>shoes became dirty after the field trip.</span>
					</div>
				</div>
				<div class="option-container">
					<span>Bruce’s</span>
					<span>Bruce</span>
					<span>Bruces</span>
					<span>Bruces’</span>
				</div>
			</div>
			<div class="Question_Row">
				<div class="form-contain">
					<span class="number-box">3)</span>
					<div class="text-container">
						<span>Many</span>
						<input type="text" class="">
						<span class="correct-ans"><span>artists’</span></span>
						<span>paintings were displayed at the exhibition.</span>
					</div>
				</div>
				<div class="option-container">
					<span> artist</span>
					<span>artist’s</span>
					<span>artists</span>
					<span>artists’</span>
				</div>
			</div>
			<div class="Question_Row">
				<div class="form-contain">
					<span class="number-box">4)</span>
					<div class="text-container">
						<span>During autumn, the oak</span>
						<input type="text" class="input4">
						<span class="correct-ans correct-ans4"><span>tree’s</span></span>
						<span>leaves begin to fall.</span>
					</div>

				</div>
				<div class="option-container">
					<span>tree</span>
					<span>trees</span>
					<span>tree’s</span>
					<span>trees’</span>
				</div>
			</div>
			<div class="Question_Row">
				<div class="form-contain">
					<span class="number-box">5)</span>
					<div class="text-container">
						<span>The</span>
						<input type="text" class="">
						<span class="correct-ans"><span>animals’</span></span>
						<span>enclosures were cleaned at the zoo everyday.</span>
					</div>
				</div>
				<div class="option-container">
					<span>animals’</span>
					<span>animal’s</span>
					<span>animal</span>
					<span>animals</span>
				</div>
			</div>
			<div class="Question_Row">
				<div class="form-contain">
					<span class="number-box">6)</span>
					<div class="text-container">
						<span>My</span>
						<input type="text" class="">
						<span class="correct-ans"><span>neighbour’s</span></span>
						<span>car is parked in my drive way.</span>
					</div>
				</div>
				<div class="option-container">
					<span>neighbour</span>
					<span>neighbour’s</span>
					<span>neighbours’</span>
					<span>neighbours</span>
				</div>
			</div>
			<div class="Question_Row">
				<div class="form-contain">
					<span class="number-box">7)</span>
					<div class="text-container line7">
						<span>The department store closed down the</span>
						<input type="text" class="">
						<span class="correct-ans correct-ans7"><span>women’s</span></span>
						<span>section.</span>
					</div>
				</div>
				<div class="option-container">
					<span>women</span>
					<span>womens</span>
					<span>womens’</span>
					<span>women’s</span>
				</div>
			</div>
			<div class="Question_Row">
				<div class="form-contain">
					<span class="number-box">8)</span>
					<div class="text-container">
						<span>This</span>
						<input type="text" class="">
						<span class="correct-ans"><span>book’s</span></span>
						<span>pages look old and yellow.</span>
					</div>
				</div>
				<div class="option-container">
					<span>book’s</span>
					<span>books</span>
					<span>book</span>
					<span>books’</span>
				</div>
			</div>

			<div class="btn-row">
				<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>