<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
  </div>
	
  <div class="container">
      <div class="row">
          <div class="col-12 px-2 mb-1 mb-sm-4 headers">
              <!--  <div class="heading my-3 p-2">
                  <h2 class="font-weight-bold mb-0">Under the correct noun from the brackets to complete each sentence. </h2>
              </div> -->
              <h2 class="font-weight-bold">
                  Click on the blanks and then click on the correct Possesive Pronouns from the help box, 
                  to complete the sentences.
              </h2>
          </div>
      </div>
      <div class="row mx-0">
          <div class="helpbox">
          <div class="row m-0">
              <div class="col-2 p-0 helpbox-ans"><div><span>mine</span></div></div>
              <div class="col-2 p-0 helpbox-ans"><div><span>hers</span></div></div>
                  <div class="col-2 p-0 helpbox-ans"><div><span>yours</span></div></div>
                  <div class="col-2 p-0 helpbox-ans"><div><span>theirs</span></div></div>
                  <div class="col-2 p-0 helpbox-ans"><div><span>his</span></div></div>
                  <div class="col-2 p-0 helpbox-ans"><div><span>ours</span></div></div>
          </div>
      </div>
      </div>
      <div class="Main_Container">
          <div class="row">
              <div class="col-12 Question_Container">
                  
                  
                      <div class="col-12 Question_Body ">
                          
                              <div class="col-12 Question no-padding ">
                                  <div class="row">
                                      <div class="col-1">
                                          <div class="list-item">
                                              <span class="number-color">1)</span>
                                          </div>
                                      </div>
                                      <div class="col-11 text-left">
                                          <span>This is your laptop. This is <span class="main-input"><input type="text" name="" id=""><span class="correct-ans">yours</span>.</span></span>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-12 Question no-padding ">
                                  <div class="row">
                                      <div class="col-1">
                                          <div class="list-item">
                                              <span class="number-color">2)</span>
                                          </div>
                                      </div>
                                      <div class="col-11 text-left">
                                          <span>That is Roger<span class="comma">’</span>s jacket. The jacket is <span class="main-input"><input type="text" name="" id=""><span class="correct-ans">his</span>.</span></span>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-12 Question no-padding">
                                  <div class="row">
                                      <div class="col-1">
                                          <div class="list-item">
                                              <span class="number-color">3)</span>
                                          </div>
                                      </div>
                                      <div class="col-11 text-left">
                                          <span>These are our pet turtles. They are <span class="main-input"><input type="text" name="" id=""><span class="correct-ans">ours</span>.</span></span>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-12 Question no-padding">
                                  <div class="row">
                                      <div class="col-1">
                                          <div class="list-item">
                                              <span class="number-color">4)</span>
                                          </div>
                                      </div>
                                      <div class="col-11 text-left">
                                          <span>These are David<span class="comma">’</span>s and Mark<span class="comma">’</span>s gloves. They are <span class="main-input"><input type="text" name="" id=""><span class="correct-ans">theirs</span>.</span></span>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-12 Question no-padding">
                                  <div class="row">
                                      <div class="col-1">
                                          <div class="list-item">
                                              <span class="number-color" >5)</span>
                                          </div>
                                      </div>
                                      <div class="col-11 text-left">
                                          <span>This is Mrs. Johnson<span class="comma">’</span>s apron. It is <span class="main-input"><input type="text" name="" id=""><span class="correct-ans">hers</span>.</span></span>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-12 Question no-padding">
                                  <div class="row">
                                      <div class="col-1">
                                          <div class="list-item">
                                              <span class="number-color">6)</span>
                                          </div>
                                      </div>
                                      <div class="col-11 text-left">
                                          <span>I have three candies. They are <span class="main-input"><input type="text" name="" id=""><span class="correct-ans">mine</span>.</span></span>
                                      </div>
                                  </div>
                              </div>
                              
                          
                      </div>

                  
              </div>
              
          </div>
      </div>

      <div class="row btn-row mt-1 mb-3">
          <div class="col-12 text-center">
          <button class="button myButton">Submit</button>
          </div>
      </div>
  </div>
</div>