
<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
              
              <img src="" alt="" class="Text fabulous hide">
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
          <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  
  <div class="loadingDiv">
  </div>

  <div class="container">
      <div class="row">
          <div class="heading mt-3">
              <h1>Click in the boxes to colour them, that identifies the correct Homophones for the given pictures.</h1>
          </div>
      </div>
      <div class="row top-question">
          <div class="col-12 Question_Container text-center">
              <div class="first">
                  <div>
                      <img src="assets/std01-homophones-worksheet1/img/sun.png" alt="" class="">
                  </div>
                  <div class="Option_Container">
                      <div class="option sun right">sun</div>
                      <div class="option son wrong">son</div>
                  </div>
                  <div class="Option_Container">
                      <div class="option eye right">eye</div>
                      <div class="option I wrong">I</div>
                  </div>
                  <img src="assets/std01-homophones-worksheet1/img/left_arrow.png" alt="" class="left_arrow">
                  <img src="assets/std01-homophones-worksheet1/img/up_arrow.png" alt="" class="up_arrow">
              </div>
              <div class="second">
                  <div>
                      <img src="assets/std01-homophones-worksheet1/img/bee.png" alt="" class="">
                  </div>
                  <div class="Option_Container">
                      <div class="option be wrong">be</div>
                      <div class="option bee right">bee</div>
                  </div>
              </div>
            
            
          </div>
          <div class="third">
              <div>
                  <img src="assets/std01-homophones-worksheet1/img/male.png" alt="">
              </div>
              <div class="Option_Container">
                  <div class="option be wrong">mail</div>
                  <div class="option bee right">male</div>
              </div>
          </div>
          <div class="fourth">
              <div>
                  <img src="assets/std01-homophones-worksheet1/img/pail.png" alt="">
              </div>
              <div class="Option_Container">
                  <div class="option be  right">pail</div>
                  <div class="option bee wrong">pale</div>
              </div>
          </div>
          <div class="fifth">
              <div>
                  <img src="assets/std01-homophones-worksheet1/img/nun.png" alt="">
              </div>
              <div class="Option_Container">
                  <div class="option be wrong">none</div>
                  <div class="option bee right">nun</div>
              </div>
          </div>
          <div class="sixth">
              <div>
                  <img src="assets/std01-homophones-worksheet1/img/deer.png" alt="">
              </div>
              <div class="Option_Container">
                  <div class="option be right">deer</div>
                  <div class="option bee wrong">dear</div>
              </div>
          </div>
          <div class="seventh">
              <div>
                  <img src="assets/std01-homophones-worksheet1/img/wood.png" alt="">
              </div>
              <div class="Option_Container">
                  <div class="option would wrong">would</div>
                  <div class="option wood right">wood</div>
              </div>
          </div>
          <div class="eight">
              <div class="Option_Container sea">
                  <div class="option see wrong">see</div>
                  <div class="option sea right">sea</div>
              </div>
          </div>



      </div>
      <div class="row">
          <div class="btn-row  ">
              <button class="button myButton">Submit</button>
          </div>
      </div>
  </div>
</div>