<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Worksheet 1</title>
</head>
<body> -->
    <div class="bg">
        <div class='result'>
            <div class="Box">
                <div class="imgBox">
                    <img src="" alt="" class="Text fabulous hide">
                </div>
                <div class="TextBox">
                    <h1></h1>
                </div>
                <img src="assets/images/close.png" alt="" class="close">
            </div>
        </div>
        
        <div class="loadingDiv">
        </div>
        
        <div class="container">
            <div class="row">
                <div class="heading">
                    <h1>Click in the stars to colour them, if the words in them 
                        are Adjectives.</h1>
                </div>
            </div>
            <div class="row Main_Container">
                <div class="col-12 Question_Container">
                    <div class="Question_Block right">
                        <img src="assets/std01-adjective-worksheet1/img/star.png" alt="">
                        <span>cute</span>
                    </div>
                    <div class="Question_Block wrong">
                        <img src="assets/std01-adjective-worksheet1/img/star.png" alt="">
                        <span>squirrel</span>
                    </div>
                    <div class="Question_Block right">
                        <img src="assets/std01-adjective-worksheet1/img/star.png" alt="">
                        <span>hard</span>
                    </div>
                    <div class="Question_Block wrong">
                        <img src="assets/std01-adjective-worksheet1/img/star.png" alt="">
                        <span>umbrella</span>
                    </div>
    
                    <div class="Question_Block wrong">
                        <img src="assets/std01-adjective-worksheet1/img/star.png" alt="">
                        <span>coat</span>
                    </div>
                    <div class="Question_Block right">
                        <img src="assets/std01-adjective-worksheet1/img/star.png" alt="">
                        <span>fluffy</span>
                    </div>
                    <div class="Question_Block right">
                        <img src="assets/std01-adjective-worksheet1/img/star.png" alt="">
                        <span>good</span>
                    </div>
                    <div class="Question_Block right">
                        <img src="assets/std01-adjective-worksheet1/img/star.png" alt="">
                        <span>hot</span>
                    </div>
    
                    <div class="Question_Block right">
                        <img src="assets/std01-adjective-worksheet1/img/star.png" alt="">
                        <span>wise</span>
                    </div>
                    <div class="Question_Block wrong">
                        <img src="assets/std01-adjective-worksheet1/img/star.png" alt="">
                        <span>bottle</span>
                    </div>
                    <div class="Question_Block right">
                        <img src="assets/std01-adjective-worksheet1/img/star.png" alt="">
                        <span>wet</span>
                    </div>
                    <div class="Question_Block right">
                        <img src="assets/std01-adjective-worksheet1/img/star.png" alt="">
                        <span>soft</span>
                    </div>
                </div>
            </div>
            <div class="btn-row">
                <button class="button myButton">Submit</button>
            </div>
            
        </div>
    </div>
<!-- </body>
</html> -->