<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>

  <div class="container">
    <div class="row">
      <div class="heading mt-3 mt-lg-4">
        <h1>Click on the blanks and then click on the correct Homophones from the help box, of the given words.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-11 col-sm-8 col-lg-7 Question_Container text-white mt-3 mb-3 mb-sm-1">
        <div class="row Question_Row">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-sm-6 Question">
                <div class="row">
                  <div class="number">1)</div>
                  <div class="content">would</div>
                  <div class="arrow"><img src="assets/std02-homophones-worksheet4/img/arrow.png" alt="" class="img-fluid"></div>
                  <div class="answer">
                    <input type="text">
                    <div class="correct_answer"><span>wood</span></div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 Question">
                <div class="row">
                  <div class="number">2)</div>
                  <div class="content">board</div>
                  <div class="arrow"><img src="assets/std02-homophones-worksheet4/img/arrow.png" alt="" class="img-fluid"></div>
                  <div class="answer">
                    <input type="text">
                    <div class="correct_answer"><span>bored</span></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row Question_Row">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-sm-6 Question">
                <div class="row">
                  <div class="number">3)</div>
                  <div class="content">great</div>
                  <div class="arrow"><img src="assets/std02-homophones-worksheet4/img/arrow.png" alt="" class="img-fluid"></div>
                  <div class="answer">
                    <input type="text">
                    <div class="correct_answer"><span>grate</span></div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 Question">
                <div class="row">
                  <div class="number">4)</div>
                  <div class="content">night</div>
                  <div class="arrow"><img src="assets/std02-homophones-worksheet4/img/arrow.png" alt="" class="img-fluid"></div>
                  <div class="answer">
                    <input type="text">
                    <div class="correct_answer"><span>knight</span></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row Question_Row">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-sm-6 Question">
                <div class="row">
                  <div class="number">5)</div>
                  <div class="content">stake</div>
                  <div class="arrow"><img src="assets/std02-homophones-worksheet4/img/arrow.png" alt="" class="img-fluid"></div>
                  <div class="answer">
                    <input type="text">
                    <div class="correct_answer"><span>steak</span></div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 Question">
                <div class="row">
                  <div class="number">6)</div>
                  <div class="content">cereal</div>
                  <div class="arrow"><img src="assets/std02-homophones-worksheet4/img/arrow.png" alt="" class="img-fluid"></div>
                  <div class="answer">
                    <input type="text">
                    <div class="correct_answer"><span>serial</span></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row Question_Row">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-sm-6 Question">
                <div class="row">
                  <div class="number">7)</div>
                  <div class="content">steel</div>
                  <div class="arrow"><img src="assets/std02-homophones-worksheet4/img/arrow.png" alt="" class="img-fluid"></div>
                  <div class="answer">
                    <input type="text">
                    <div class="correct_answer"><span>steal</span></div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 Question">
                <div class="row">
                  <div class="number">8)</div>
                  <div class="content">which</div>
                  <div class="arrow"><img src="assets/std02-homophones-worksheet4/img/arrow.png" alt="" class="img-fluid"></div>
                  <div class="answer">
                    <input type="text">
                    <div class="correct_answer"><span>witch</span></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row Question_Row">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-sm-6 Question">
                <div class="row">
                  <div class="number">9)</div>
                  <div class="content">fairy</div>
                  <div class="arrow"><img src="assets/std02-homophones-worksheet4/img/arrow.png" alt="" class="img-fluid"></div>
                  <div class="answer">
                    <input type="text">
                    <div class="correct_answer"><span>ferry</span></div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 Question">
                <div class="row">
                  <div class="number">10)</div>
                  <div class="content">through</div>
                  <div class="arrow"><img src="assets/std02-homophones-worksheet4/img/arrow.png" alt="" class="img-fluid"></div>
                  <div class="answer">
                    <input type="text">
                    <div class="correct_answer"><span>threw</span></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row Question_Row">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-sm-6 Question">
                <div class="row">
                  <div class="number">11)</div>
                  <div class="content">route</div>
                  <div class="arrow"><img src="assets/std02-homophones-worksheet4/img/arrow.png" alt="" class="img-fluid"></div>
                  <div class="answer">
                    <input type="text">
                    <div class="correct_answer"><span>root</span></div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 Question">
                <div class="row">
                  <div class="number">12)</div>
                  <div class="content">sent</div>
                  <div class="arrow"><img src="assets/std02-homophones-worksheet4/img/arrow.png" alt="" class="img-fluid"></div>
                  <div class="answer">
                    <input type="text">
                    <div class="correct_answer"><span>scent</span></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row btn-row ">
          <div class="col-12">
            <button class="button myButton">Submit</button>
          </div>

        </div>


      </div>
      <div class="col-12 col-sm-4 col-lg-5 my-auto">
        <div class="row">
          <div class="col-6 col-sm-12 Option_Container">
            <div class="helpbox">
              <div class="option"><span>witch</span></div>
              <div class="line"></div>
              <div class="option"><span>grate</span></div>
            </div>
            <div class="helpbox">
              <div class="option"><span>wood</span></div>
              <div class="line"></div>
              <div class="option"><span>scent</span></div>
            </div>
            <div class="helpbox">
              <div class="option"><span>threw</span></div>
              <div class="line"></div>
              <div class="option"><span>steal</span></div>
            </div>
          </div>
          <div class="col-6 col-sm-12 Option_Container">
            <div class="helpbox">
              <div class="option"><span>serial</span></div>
              <div class="line"></div>
              <div class="option"><span>bored</span></div>
            </div>
            <div class="helpbox">
              <div class="option"><span>root</span></div>
              <div class="line"></div>
              <div class="option"><span>knight</span></div>
            </div>
            <div class="helpbox">
              <div class="option"><span>steak</span></div>
              <div class="line"></div>
              <div class="option"><span>ferry</span></div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>


</div>