<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
	<div class="loadingDiv">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="heading">
					<h1>Click on the blanks and then click on the correct Antonyms from the help box,
						that answers the given questions.
					</h1>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12 Main_Container">
				<div class="row">
					<div class="col-12">
						<div class="HelpBox_Container">
							<div class="helpbox"><span>hard</span></div>
							<div class="helpbox"><span>near</span></div>
							<div class="helpbox"><span>first</span></div>
							<div class="helpbox"><span>thick</span></div>
							<div class="helpbox"><span>take</span></div>
							<div class="helpbox"><span>find</span></div>
							<div class="helpbox"><span>easy</span></div>
							<div class="helpbox"><span>short</span></div>
							<div class="helpbox"><span>stand</span></div>
							<div class="helpbox"><span>young</span></div>
						</div>
					</div>
				</div>

				<div class="row shift-botttom">

					<div class="col-6">
						<div class="row">
							<div class="header">Across</div>
						</div>
						<div class="Question_Container Across">
							<div class="row">
								<div class="col-1">
									<div class="number"><span>1)</span></div>
								</div>
								<div class="col-10 Question first">
									<div>What is the antonym of thin?</div>
									<input type="text" name="first"/>
									<div class="Answer">thick</div>
								</div>
							</div>
							<div class="row">
								<div class="col-1">
									<div class="number"><span>2)</span></div>
								</div>
								<div class="col-10 Question second">
									<div>What is the antonym of difficult?</div>
									<input type="text" name="second" />
									<div class="Answer">easy</div>
								</div>
							</div>
							<div class="row">
								<div class="col-1">
									<div class="number"><span>3)</span></div>
								</div>
								<div class="col-10 Question third">
									<div>What is the antonym of lose?</div>
									<input type="text" name="third" />
									<div class="Answer">find</div>
								</div>
							</div>
							<div class="row">
								<div class="col-1">
									<div class="number"><span>4)</span></div>
								</div>
								<div class="col-10 Question fourth">
									<div>What is the antonym of far?</div>
									<input type="text" name="fourth" />
									<div class="Answer">near</div>
								</div>
							</div>
							<div class="row">
								<div class="col-1">
									<div class="number"><span>5)</span></div>
								</div>
								<div class="col-10 Question fifth">
									<div>What is the antonym of sit?</div>
									<input type="text" name="fifth" />
									<div class="Answer">stand</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="header">Down</div>
						</div>
						<div class="Question_Container Down">
							<div class="row">
								<div class="col-1">
									<div class="number"><span>1)</span></div>
								</div>
								<div class="col-10 Question first">
									<div>What is the antonym of give?</div>
									<input type="text" name="first" />
									<div class="Answer">take</div>
								</div>
							</div>
							<div class="row">
								<div class="col-1">
									<div class="number"><span>2)</span></div>
								</div>
								<div class="col-10 Question second">
									<div>What is the antonym of soft?</div>
									<input type="text" name="second" />
									<div class="Answer">hard</div>
								</div>
							</div>
							<div class="row">
								<div class="col-1">
									<div class="number"><span>3)</span></div>
								</div>
								<div class="col-10 Question third">
									<div>What is the antonym of old?</div>
									<input type="text" name="third" />
									<div class="Answer">young</div>
								</div>
							</div>
							<div class="row">
								<div class="col-1">
									<div class="number"><span>4)</span></div>
								</div>
								<div class="col-10 Question fourth">
									<div>What is the antonym of long?</div>
									<input type="text" name="fourth" />
									<div class="Answer">short</div>
								</div>
							</div>
							<div class="row">
								<div class="col-1">
									<div class="number"><span>5)</span></div>
								</div>
								<div class="col-10 Question fifth">
									<div>What is the antonym of last?</div>
									<input type="text" name="fifth" />
									<div class="Answer">first</div>
								</div>
							</div>
						</div>



					</div>

					<div class="col-6 Answer_Container">
						<img src="assets/std02-antonyms-worksheet9/img/puzzle.png" alt="" class="img-fluid puzzle">
						<img src="assets/std02-antonyms-worksheet9/img/puzzle-answer.png" alt="" class="img-fluid puzzle_answer">
					</div>
				</div>



			</div>
		</div>
		<div class="row top-bottom">
			<div class="btn-row">
				<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>