<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">

				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">

				<!-- <img src="" alt="" class="Text"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>

	<div class="loadingDiv">
	</div>
	<div class="container">
		<div class="row heading-container">
			<div class="col-12 p-0 mt-3 mb-2">
				<h2 class="font-weight-bold heading">
					<!-- Colour the correct boxes of Action or Helping Verbs, that the underlined verbs state in the following sentences. -->
					<!-- Click in the correct boxes of Action and Helping Verbs, that identifies the underlined verbs in the sentences. -->
					Click in the correct boxes of Action and Helping Verbs to colour them, that identifies the underlined Verbs in the sentences.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="Main-container">
				<div class="row m-0">
					<div class="col-12  p-0 mb-2 Question_Container">
						<div class="question d-flex">
							<div class="number"><span>1)</span></div>
							<div class="text-container">
								<span>Please <u>start</u> the washing machine.</span>
							</div>
						</div>

						<div class="helpbox-container">
							<div class="helpbox-ans right"><span>Action Verb</span></div>
							<div class="helpbox-ans wrong"><span>Helping Verb</span></div>

						</div>
					</div>

					<div class="col-12  p-0 mb-2 Question_Container">
						<div class="question d-flex">
							<div class="number"><span>2)</span></div>
							<div class="text-container">
								<span>The hawker <u>wanders</u> from street to street to sell his goods.</span>
							</div>
						</div>

						<div class="helpbox-container">
							<div class="helpbox-ans right"><span>Action Verb</span></div>
							<div class="helpbox-ans wrong"><span>Helping Verb</span></div>

						</div>
					</div>

					<div class="col-12  p-0 mb-2 Question_Container">
						<div class="question d-flex">
							<div class="number"><span>3)</span></div>
							<div class="text-container">
								<span>Mom <u>crushes</u> the ice cubes before putting them in the lemonade.</span>
							</div>
						</div>

						<div class="helpbox-container">
							<div class="helpbox-ans right"><span>Action Verb</span></div>
							<div class="helpbox-ans wrong"><span>Helping Verb</span></div>

						</div>
					</div>

					<div class="col-12  p-0 mb-2 Question_Container">
						<div class="question d-flex">
							<div class="number"><span>4)</span></div>
							<div class="text-container">
								<span>The coach <u>had</u> trained the team well for the tournament.</span>
							</div>
						</div>

						<div class="helpbox-container">
							<div class="helpbox-ans wrong"><span>Action Verb</span></div>
							<div class="helpbox-ans right"><span>Helping Verb</span></div>

						</div>
					</div>

					<div class="col-12  p-0 mb-2 Question_Container">
						<div class="question d-flex">
							<div class="number"><span>5)</span></div>
							<div class="text-container">
								<span>Jane <u>is</u> one of the best singers in the school.</span>
							</div>
						</div>

						<div class="helpbox-container">
							<div class="helpbox-ans wrong"><span>Action Verb</span></div>
							<div class="helpbox-ans right"><span>Helping Verb</span></div>

						</div>
					</div>

					<div class="col-12  p-0 mb-2 Question_Container">
						<div class="question d-flex">
							<div class="number"><span>6)</span></div>
							<div class="text-container">
								<span>Rohan <u>climbs</u> on a stool to get the cookie jar.</span>
							</div>
						</div>

						<div class="helpbox-container">
							<div class="helpbox-ans right"><span>Action Verb</span></div>
							<div class="helpbox-ans wrong"><span>Helping Verb</span></div>

						</div>
					</div>

					<div class="col-12  p-0 mb-2 Question_Container">
						<div class="question d-flex">
							<div class="number"><span>7)</span></div>
							<div class="text-container">
								<span>There <u>were</u> many spectators to watch the cricket match.</span>
							</div>
						</div>

						<div class="helpbox-container">
							<div class="helpbox-ans wrong"><span>Action Verb</span></div>
							<div class="helpbox-ans right"><span>Helping Verb</span></div>

						</div>
					</div>

					<div class="col-12  p-0 mb-2 Question_Container">
						<div class="question d-flex">
							<div class="number"><span>8)</span></div>
							<div class="text-container">
								<span>Tom <u>will</u> show me his penny collection on Thursday.</span>
							</div>
						</div>

						<div class="helpbox-container">
							<div class="helpbox-ans wrong"><span>Action Verb</span></div>
							<div class="helpbox-ans right"><span>Helping Verb</span></div>

						</div>
					</div>

					<div class="col-12  p-0 mb-2 Question_Container">
						<div class="question d-flex">
							<div class="number"><span>9)</span></div>
							<div class="text-container">
								<span>The moon <u>disappeared</u> behind the dark clouds.</span>
							</div>
						</div>

						<div class="helpbox-container">
							<div class="helpbox-ans right"><span>Action Verb</span></div>
							<div class="helpbox-ans wrong"><span>Helping Verb</span></div>

						</div>
					</div>

					<div class="col-12  p-0 mb-2 Question_Container">
						<div class="question d-flex">
							<div class="number"><span>10)</span></div>
							<div class="text-container">
								<span><u>Can</u> you help me to open this window?</span>
							</div>
						</div>

						<div class="helpbox-container">
							<div class="helpbox-ans wrong"><span>Action Verb</span></div>
							<div class="helpbox-ans right"><span>Helping Verb</span></div>

						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="row btn-row pb-3">
			<div class="col-12 text-center">
				<button class="button myButton">Submit</button>
			</div>
		</div>

	</div>
	<img src="assets/std03-mixed-verb-worksheet2/img/background.png" class="background">
</div>