.input-error{
    color:#FF0000 !important;
    font-weight: unset !important;
}
.change-password-block{
    font-size: 22px;
    min-height: 100vh;
    padding-top: 30px;
    background-color: #68bde3;
}
label,.form-control,.btn{
    font-size: 20px;
}
.btn_Container {
    max-width: 75%;
    padding-left: 10px;
    text-align: left;
}
.backtodashboard{
    color:#082a37;
    text-decoration:underline;
    float:right;
    line-height: 40px;
}
#step-5 form > div.col-md-10, #step-5 form > div.col-md-6 {
    flex-basis: 100%;
    max-width: 100%;
}
@media(min-width:100px) and (max-width:575px){
    .panel-heading h1 {
        font-size: 25px;
    }
    #step-5 form > div.col-md-10, #step-5 form > div.col-md-6 {
        max-width: 100%;
    }
    .change-password-block{
        font-size: 18px;
    }
    label,.form-control,.btn{
        font-size: 18px;
    }
    .btn_Container {
        max-width: 100%;
        text-align: center;
    }
    .backtodashboard{
        float:unset;
        display: block;
    }
    .Steps_Container {
        border-radius: 10px;
    }
    .Main_Container {
        justify-content: center;
    }
}
@media(min-width:576px) and (max-width:767px){
    .panel-heading h1 {
        font-size: 25px;
    }
    #step-5 form > div.col-md-10, #step-5 form > div.col-md-6 {
        max-width: 100%;
    }
    .change-password-block{
        font-size: 18px;
    }
    label,.form-control,.btn{
        font-size: 18px;
    }
    .btn_Container {
        max-width: 100%;
        text-align: center;
    }
    .backtodashboard{
        float:unset;
        display: block;
    }
}
@media(min-width:768px) and (max-width:991px){
    .panel-heading h1 {
        font-size: 32px;
        margin-left: 20px;
    }
    .change-password-block{
        font-size: 18px;
    }
    label,.form-control,.btn{
        font-size: 18px;
    }
    .btn_Container {
        max-width: 85%;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .btn_Container {
        max-width: 85%;
    }
}
@media(min-width:1200px){

}
@media(min-width:1900px){
    .change-password-block{
        font-size: 35px;
    }
    label,.form-control,.btn{
        font-size: 35px;
    }
    #step-5 form > div.col-md-10, #step-5 form > div.col-md-6 {
        max-width: 95%;
    }
    .btn_Container {
        max-width: 85%;
    }
    .backtodashboard {
        line-height: 60px;
    }
}
@media(min-width:768px) and (orientation:portrait){
    
    #step-5 form > div.col-md-10, #step-5 form > div.col-md-6 {
        max-width: 100%;
    }
    .change-password-block{
        font-size: 32px;
    }
    label,.form-control,.btn{
        font-size: 32px;
    }
    .btn_Container {
        max-width: 100%;
        text-align: center;
    }
    .backtodashboard{
        margin-top: 25px;
        float:unset;
        display: block;
    }
    .Steps_Container {
        border-radius: 10px;
    }
    .Main_Container {
        justify-content: center;
    }
    .col-md-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    #step-5 .panel-body {
        padding-bottom: 50px;
    }
}
@media(min-width:1024px) and (orientation:portrait){
    .change-password-block{
        font-size: 35px;
    }
    label,.form-control,.btn{
        font-size: 35px;
    }
    .Steps_Container {
        max-width: 800px;
    }
}