<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text fabulous hide">
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  
  <div class="loadingDiv">
  </div>
  
  <div class="container">
    <div class="row">
      <div class="heading mt-3">
        <h1>
          Click in the frames to colour them, if the words in them are Adjectives.
        </h1>
      </div>
    </div>
    <div class="row Main_Container">
      <div class="col-12 Question_Container">
        <div class="watch">
          <img src="/assets/std02-adjectives-worksheet1/img/watch.png" alt="">
        </div>
        <div class="friendly adjective">
          <img src="/assets/std02-adjectives-worksheet1/img/friendly.png" alt="" data-text="friendly">
        </div>
        <div class="printer adjective wrong">
          <img src="/assets/std02-adjectives-worksheet1/img/printer.png" alt="" data-text="printer">
        </div>
        <div class="painting">
          <img src="/assets/std02-adjectives-worksheet1/img/bookshelf.png" alt="">
        </div>
        <div class="diary adjective wrong">
          <img src="/assets/std02-adjectives-worksheet1/img/diary.png" alt="" data-text="diary">
        </div>
        <div class="precious adjective">
          <img src="/assets/std02-adjectives-worksheet1/img/precious.png" alt="" data-text="precious">
        </div>
        <div class="sticky adjective">
          <img src="/assets/std02-adjectives-worksheet1/img/sticky.png" alt="" data-text="sticky">
        </div>
        <div class="generous adjective">
          <img src="/assets/std02-adjectives-worksheet1/img/generous.png" alt="" data-text="generous">
        </div>
        <div class="jolly adjective">
          <img src="/assets/std02-adjectives-worksheet1/img/jolly.png" alt="" data-text="jolly">
        </div>
        <div class="enormous adjective">
          <img src="/assets/std02-adjectives-worksheet1/img/enormous.png" alt="" data-text="enormous">
        </div>
        <div class="smooth adjective">
          <img src="/assets/std02-adjectives-worksheet1/img/smooth.png" alt="" data-text="smooth">
        </div>
        <div class="amazing adjective">
          <img src="/assets/std02-adjectives-worksheet1/img/amazing.png" alt="" data-text="amazing">
        </div>
        <div class="scary adjective">
          <img src="/assets/std02-adjectives-worksheet1/img/scary.png" alt="" data-text="scary">
        </div>
        <div class="file adjective wrong">
          <img src="/assets/std02-adjectives-worksheet1/img/file.png" alt="" data-text="file">
        </div>
        <div class="btn-row">
          <button class="button myButton">Submit</button>
        </div>
      </div>
    </div>
  
  </div>
</div>
