<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
    <div class="loadingDiv">
	</div>
	
    <div class="container">
        <div class="row">
            <div class="heading mt-3 first">
                <h1>A proverb is saying that gives some advice.</h1>
            </div>
            <div class="heading">
                <h1>Match the proverbs given in column A to the meanings given in column B and write the alphabets in the circles provided in column A.</h1>
            </div>
        </div>
        <div class="row Main_Container">
            <div class="col-12 Question_Container">
               <div class="Column_row">
				   <div class="column">
					   <div class="column_header">Column A</div>
				   </div>
				   <div class="column">
					   <div class="column_header">Column B</div>
				   </div>
			   </div>
			   <div class="main_row">
				   <div class="columnA_row">
					   <div class="block first">
						   <div class="Question_Div">
							   <img src="assets/std03-vocabulary-worksheet1/img/columnA1.png" alt="">
							   <div class="Question">
								   <div class="number">1)</div>
								   <div class="content">All that glitters is not gold.</div>
							   </div>
							   <div class="input_div">
								   <input type="text"><div class="correct_answer"><span>C</span></div>
							   </div>
						   </div>
					   </div>
					   <div class="block second">
						   <div class="Question_Div">
							   <img src="assets/std03-vocabulary-worksheet1/img/columnA2.png" alt="">
							   <div class="Question">
								   <div class="number">2)</div>
								   <div class="content">Absence makes the heart grow fonder.</div>
							   </div>
							   <div class="input_div">
								   <input type="text"><div class="correct_answer"><span>F</span></div>
							   </div>
						   </div>
					   </div>
				   </div>
				   <div class="columnB_row">
					   <div class="block first">
						   <div class="Option_Div">
							   <img src="assets/std03-vocabulary-worksheet1/img/columnB1.png" alt="">
							   <div class="Option">
								   <div class="alpha">A)</div>
								   <div class="content">Your home is the most comfortable place in the world.</div>
							   </div>
						   </div>
					   </div>
					   <div class="block second">
						   <div class="Option_Div">
							   <img src="assets/std03-vocabulary-worksheet1/img/columnB2.png" alt="">
							   <div class="Option">
								   <div class="alpha">B)</div>
								   <div class="content">Don’t expect a positive result before you actually see it.</div>
							   </div>
						   </div>
					   </div>
				   </div>
			   </div>
			   <div class="main_row">
				   <div class="columnA_row">
					   <div class="block third">
						   <div class="Question_Div">
							   <img src="assets/std03-vocabulary-worksheet1/img/columnA3.png" alt="">
							   <div class="Question">
								   <div class="number">3)</div>
								   <div class="content">Don’t count your chickens before they hatch.</div>
							   </div>
							   <div class="input_div">
								   <input type="text"><div class="correct_answer"><span>B</span></div>
							   </div>
						   </div>
					   </div>
					   <div class="block fourth">
						   <div class="Question_Div">
							   <img src="assets/std03-vocabulary-worksheet1/img/columnA4.png" alt="">
							   <div class="Question">
								   <div class="number">4)</div>
								   <div class="content">Don’t judge a book by its cover.</div>
							   </div>
							   <div class="input_div">
								   <input type="text"><div class="correct_answer"><span>E</span></div>
							   </div>
						   </div>
					   </div>
				   </div>
				   <div class="columnB_row">
					   <div class="block third">
						   <div class="Option_Div">
							   <img src="assets/std03-vocabulary-worksheet1/img/columnB3.png" alt="">
							   <div class="Option">
								   <div class="alpha">C)</div>
								   <div class="content">Something that is good on the outside may not be good from inside.</div>
							   </div>
						   </div>
					   </div>
					   <div class="block fourth">
						   <div class="Option_Div">
							   <img src="assets/std03-vocabulary-worksheet1/img/columnB4.png" alt="">
							   <div class="Option">
								   <div class="alpha">D)</div>
								   <div class="content">It is easier to do something as a team than doing alone.</div>
							   </div>
						   </div>
					   </div>
				   </div>
			   </div>
			   <div class="main_row">
				   <div class="columnA_row">
					   <div class="block fifth">
						   <div class="Question_Div">
							   <img src="assets/std03-vocabulary-worksheet1/img/columnA5.png" alt="">
							   <div class="Question">
								   <div class="number">5)</div>
								   <div class="content">There is no place like home.</div>
							   </div>
							   <div class="input_div">
								   <input type="text"><div class="correct_answer"><span>A</span></div>
							   </div>
						   </div>
					   </div>
					   <div class="block sixth">
						   <div class="Question_Div">
							   <img src="assets/std03-vocabulary-worksheet1/img/columnA6.png" alt="">
							   <div class="Question">
								   <div class="number">6)</div>
								   <div class="content">Two heads are better than one.</div>
							   </div>
							   <div class="input_div">
								   <input type="text"><div class="correct_answer"><span>D</span></div>
							   </div>
						   </div>
					   </div>
				   </div>
				   <div class="columnB_row">
					   <div class="block fifth">
						   <div class="Option_Div">
							   <img src="assets/std03-vocabulary-worksheet1/img/columnB5.png" alt="">
							   <div class="Option">
								   <div class="alpha">E)</div>
								   <div class="content">Don’t judge someone or something by appearance alone.</div>
							   </div>
						   </div>
					   </div>
					   <div class="block sixth">
						   <div class="Option_Div">
							   <img src="assets/std03-vocabulary-worksheet1/img/columnB6.png" alt="">
							   <div class="Option">
								   <div class="alpha">F)</div>
								   <div class="content">Being away from someone for some time makes you like that person more.</div>
							   </div>
						   </div>
					   </div>
				   </div>
			   </div>
            </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
    </div>
</div>