<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    <div class="loadingDiv">
    </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 mb-1 mb-lg-3">
				<h2 class="font-weight-bold heading">
					Click on the blanks and then click on the correct Prepositions 
from the help box, to complete the sentences.

				</h2>
			</div>
		</div>
		<div class="row">
			<div class="helpbox-cotainer">
				<div class="helpbox"><span>before</span></div>
				<div class="helpbox"><span>under</span></div>
				<div class="helpbox"><span>behind</span></div>
				<div class="helpbox"><span>from</span></div>
				<div class="helpbox"><span>near</span></div>
				<div class="helpbox"><span>over</span></div>
				<div class="helpbox"><span>to</span></div>
				<div class="helpbox"><span>after</span></div>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<!-- 1 -->
				<div class="question">
					<div class="number"><span>1)</span></div>
					<div class="text-container">
						<span>The post office is</span>
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>near</span>
							</div>
						</div>
						<span>the station.</span>
					</div>
				</div>
				<!-- 2 -->
				<div class="question">
					<div class="number"><span>2)</span></div>
					<div class="text-container">
						<span>The little girl is running</span>
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>to</span>
							</div>
						</div>
						<span>her mother.</span>
					</div>
				</div>
				<!-- 3 -->
				<div class="question">
					<div class="number"><span>3)</span></div>
					<div class="text-container">
						<span>Alan’s dog is hiding </span>
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>under</span>
							</div>
						</div>
						<span>the bed.</span>
					</div>
				</div>
				<!-- 4 -->
				<div class="question">
					<div class="number"><span>4)</span></div>
					<div class="text-container">
						<span>Our neighbour buys vegetables</span>
						<div class="input-container">
							<input type="text">
							<div class="correct-answer shift-bottom">
								<span>from</span>
							</div>
						</div>
						<span>The Organic Farm.</span>
					</div>
				</div>
				<!-- 5 -->
				<div class="question">
					<div class="number"><span>5)</span></div>
					<div class="text-container">
						<span>A flock of birds flew</span>
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>over</span>
							</div>
						</div>
						<span>the lake.</span>
					</div>
				</div>
				<!-- 6 -->
				<div class="question">
					<div class="number"><span>6)</span></div>
					<div class="text-container">
						<span>I stood</span>
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>behind</span>
							</div>
						</div>
						<span>Mark in the queue.</span>
					</div>
				</div>
				<!-- 7 -->
				<div class="question">
					<div class="number"><span>7)</span></div>
					<div class="text-container">
						<span>Please complete your work </span>
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>before</span>
							</div>
						</div>
						<span>3 o’clock.</span>
					</div>
				</div>
				<!-- 8 -->
				<div class="question">
					<div class="number"><span>8)</span></div>
					<div class="text-container">
						<span>Mr. and Mrs. Peterson went for a walk</span>
						<div class="input-container">
							<input type="text">
							<div class="correct-answer shift-bottom">
								<span>after</span>
							</div>
						</div>
						<span>supper.</span>
					</div>
				</div>
				<!-- end -->
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
	
	</div>
