<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
	<div class="loadingDiv">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12  mt-3 mb-3 p-0">
				<div class="heading">
					<h2 class="font-weight-bold ">
						Click on the Past Continuous Tense Verbs in the following sentences.
					</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<div class="row m-0">
					<!-- 1 -->
					<div class="col-12 p-0">
						<div class="question">
							<div class="number">
								<div class="bg-container">
									<img src="assets/std03-past-tense-worksheet3/img/number-bg.png" alt="" class="img-fluid">
									<div>
										<span>1)</span>
									</div>
								</div>
							</div>
							<div class="text-container">
								<span>Karen</span>
								<span>was reading</span>
								<span>a</span>
								<span>book</span>
								<span>in</span>
								<span>the</span>
								<span>afternoon</span>.
							</div>
						</div>
					</div>
					<!-- 2 -->
					<div class="col-12 p-0">
						<div class="question ">
							<div class="number">
								<div class="bg-container">
									<img src="assets/std03-past-tense-worksheet3/img/number-bg.png" alt="" class="img-fluid">
									<div>
										<span>2)</span>
									</div>
								</div>
							</div>
							<div class="text-container">
								<span>Gardener</span>
								<span>Jack</span>
								<span>was watering</span>
								<span>the</span>
								<span>plants</span>
								<span>in</span>
								<span>the</span>
								<span>morning</span>.
							</div>
						</div>
					</div>
					<!-- 3 -->
					<div class="col-12 p-0">
						<div class="question ">
							<div class="number">
								<div class="bg-container">
									<img src="assets/std03-past-tense-worksheet3/img/number-bg.png" alt="" class="img-fluid">
									<div>
										<span>3)</span>
									</div>
								</div>
							</div>
							<div class="text-container">
								<span>My</span>
								<span>grandparents</span>
								<span>were sitting</span>
								<span>in</span>
								<span>the</span>
								<span>patio</span>
								<span>for</span>
								<span>their</span>
								<span>afternoon</span>
								<span>tea</span>.
							</div>
						</div>
					</div>
					<!-- 4 -->
					<div class="col-12 p-0">
						<div class="question ">
							<div class="number">
								<div class="bg-container">
									<img src="assets/std03-past-tense-worksheet3/img/number-bg.png" alt="" class="img-fluid">
									<div>
										<span>4)</span>
									</div>
								</div>
							</div>
							<div class="text-container">
								<span>Patrick</span>
								<span>and</span>
								<span>his</span>
								<span>brother</span>
								<span>were learning</span>
								<span>karate</span>
								<span>last</span>
								<span>year</span>.
							</div>
						</div>
					</div>
					<!-- 5 -->
					<div class="col-12 p-0">
						<div class="question ">
							<div class="number">
								<div class="bg-container">
									<img src="assets/std03-past-tense-worksheet3/img/number-bg.png" alt="" class="img-fluid">
									<div>
										<span>5)</span>
									</div>
								</div>
							</div>
							<div class="text-container">
								<span>The</span>
								<span>stars</span>
								<span>were twinkling</span>
								<span>brightly</span>
								<span>on</span>
								<span>a</span>
								<span>clear</span>
								<span>night</span>.
							</div>
						</div>
					</div>
					<!-- 6 -->
					<div class="col-12 p-0">
						<div class="question ">
							<div class="number">
								<div class="bg-container">
									<img src="assets/std03-past-tense-worksheet3/img/number-bg.png" alt="" class="img-fluid">
									<div>
										<span>6)</span>
									</div>
								</div>
							</div>
							<div class="text-container">
								<span>Sarah</span>
								<span>was watching</span>
								<span>cartoons</span>
								<span>on</span>
								<span>T.V.</span>
								<span>last</span>
								<span>night</span>.
							</div>
						</div>
					</div>
					<!-- 7 -->
					<div class="col-12 p-0">
						<div class="question ">
							<div class="number">
								<div class="bg-container">
									<img src="assets/std03-past-tense-worksheet3/img/number-bg.png" alt="" class="img-fluid">
									<div>
										<span>7)</span>
									</div>
								</div>
							</div>
							<div class="text-container">
								<span>Mom</span>
								<span>was working</span>
								<span>in</span>
								<span>the</span>
								<span>kitchen</span>
								<span>when</span>
								<span>she</span>
								<span>saw</span>
								<span>a</span>
								<span>bunny</span>
								<span>in</span>
								<span>the</span>
								<span>backyard</span>.
							</div>
						</div>
					</div>
					<!-- 8 -->
					<div class="col-12 p-0">
						<div class="question ">
							<div class="number">
								<div class="bg-container">
									<img src="assets/std03-past-tense-worksheet3/img/number-bg.png" alt="" class="img-fluid">
									<div>
										<span>8)</span>
									</div>
								</div>
							</div>
							<div class="text-container">
								<span>The</span>
								<span>litter</span>
								<span>of</span>
								<span>kittens</span>
								<span>were playing</span>
								<span>with</span>
								<span>a</span>
								<span>ball</span>
								<span>of</span>
								<span> wool</span>.
							</div>
						</div>
					</div>
					<!-- 9 -->
					<div class="col-12 p-0">
						<div class="question q-9">
							<div class="number">
								<div class="bg-container">
									<img src="assets/std03-past-tense-worksheet3/img/number-bg.png" alt="" class="img-fluid">
									<div>
										<span>9)</span>
									</div>
								</div>
							</div>
							<div class="text-container ">
								<span>It</span>
								<span>was raining</span>
								<span>cats</span>
								<span>and</span>
								<span>dogs</span>
								<span>on</span>
								<span>Sunday</span>.
							</div>
							<!-- <div class="text-container hide-landscape not-use">
									<span>It was raining cats and dogs on <br>Sunday.</span>
								</div>
								hide-portrait
							-->
						</div>
					</div>
					<!-- 10 -->
					<div class="col-12 p-0">
						<div class="question ">
							<div class="number">
								<div class="bg-container">
									<img src="assets/std03-past-tense-worksheet3/img/number-bg.png" alt="" class="img-fluid">
									<div>
										<span>10)</span>
									</div>
								</div>
							</div>
							<div class="text-container">
								<span>Alan</span>
								<span>was listening</span>
								<span>to</span>
								<span>music</span>
								<span>on</span>
								<span>his</span>
								<span>ipod</span><span class="disabled comma">,</span>
								<span>when</span>
								<span>his</span>
								<span>friend</span>
								<span>called</span>
								<span>him</span>
								<span>to</span>
								<span>play</span>.
							</div>
						</div>
					</div>
					<!-- button -->
					<div class="col-12 p-0">
						<div class="btn-row mb-3">
							<div class="col-12 text-center">
								<button class="button myButton">Submit</button>
							</div>
						</div>
					</div>
					<!-- end -->
				</div>
			</div>
		</div>
	</div>
</div>