<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
            <img src="" alt="" class="Text keep-practicing hide">
            <img src="" alt="" class="Text outstanding hide">
            <img src="" alt="" class="Text brilliant hide">
            <img src="" alt="" class="Text good-work hide">
            <!-- <img src="" alt="" class="Text fabulous hide"> -->
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
          <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
      <div class="row">
          <div class="heading mt-3">
              <h1>Click in the boxes and then click on the correct Homophones from the
                  help box of carrots, to complete the recipe of carrot cake.
              </h1>
          </div>
      </div>
      <div class="Main_Container">
          <div class="Option_Container">
              <div class="options">
                  <div class="option">
                      <img src="assets/std03-homophones-worksheet9/img/carrot.png" alt="">
                      <span>hour</span>
                  </div>
                  <div class="option">
                      <img src="assets/std03-homophones-worksheet9/img/carrot.png" alt="">
                      <span>flour</span>
                  </div>
                  <div class="option">
                      <img src="assets/std03-homophones-worksheet9/img/carrot.png" alt="">
                      <span>carrots</span>
                  </div>
                  <div class="option">
                      <img src="assets/std03-homophones-worksheet9/img/carrot.png" alt="">
                      <span>Break</span>
                  </div>
                  <div class="option">
                      <img src="assets/std03-homophones-worksheet9/img/carrot.png" alt="">
                      <span>piece</span>
                  </div>
                  <div class="option">
                      <img src="assets/std03-homophones-worksheet9/img/carrot.png" alt="">
                      <span>Beat</span>
                  </div>
                  <div class="option">
                      <img src="assets/std03-homophones-worksheet9/img/carrot.png" alt="">
                      <span>peel</span>
                  </div>
                  <div class="option">
                      <img src="assets/std03-homophones-worksheet9/img/carrot.png" alt="">
                      <span>grate</span>
                  </div>
              </div>
          </div>
          <div class="Question_Container">
              <div class="title text-center">
                  <h3>Recipe for Baking a Carrot Cake</h3>
              </div>
              <div class="Question">
                  <div class="number">1)</div>
                  <div class="content">Take six medium-sized
                      <div class="replace-word-container">
                          <span class="first right replace_word" data-text="carats">carats</span>
                          <div class="answer">carrots</div>
                      </div>.
                      Use a peeler to
                      <div class="replace-word-container">
                          <span class="second right replace_word" data-text="peal">peal</span>
                          <div class="answer">peel</div>
                      </div> them. Next
                      <div class="replace-word-container">
                          <span class="first right replace_word" data-text="great">great</span>
                          <div class="answer down">grate</div>
                      </div>
                      them so that you have three cups of it.</div>
              </div>
              <div class="Question">
                  <div class="number">2)</div>
                  <div class="content">
                      Take a large bowl.
                      <div class="replace-word-container">
                          <span class="fourth right replace_word" data-text="Brake">Brake</span>
                          <div class="answer">Break</div>
                      </div>
                      four eggs in it. Add two cups sugar,
                      one cup oil and two teaspoons vanilla extract to it.
                      <div class="replace-word-container">
                          <span class="fifth right replace_word" data-text="Beet">Beet</span>
                          <div class="answer down">Beat</div>
                      </div>

                      the mixture.
                  </div>
              </div>
              <div class="Question">
                  <div class="number">3)</div>
                  <div class="content">Add two cups of
                      <div class="replace-word-container">
                          <span class="sixth right replace_word" data-text="flower">flower</span>
                          <div class="answer">flour</div>
                      </div>, two teaspoons baking soda, two teaspoons baking powder, half a teaspoon salt, two
                      teaspoons cinnamon powder to the beaten eggs.</div>
              </div>
              <div class="Question">
                  <div class="number">4)</div>
                  <div class="content">Stir in the grated carrots. Fold in one cup chopped pecans.</div>
              </div>
              <div class="Question">
                  <div class="number">5)</div>
                  <div class="content">Pour the mixture into a baking dish. Bake in a preheated oven at 170 degrees
                      for an
                      <div class="replace-word-container">
                          <span class="seventh right replace_word" data-text="our">our</span>
                          <div class="answer down">hour</div>
                      </div>.
                  </div>
              </div>
              <div class="Question">
                  <div class="number">6)</div>
                  <div class="content">Take it out of the oven and let it cool for ten minutes.</div>
              </div>
              <div class="Question">
                  <div class="number">7)</div>
                  <div class="content">You can now cut a big
                      <div class="replace-word-container">
                          <span class="eighth right replace_word" data-text="peace">peace</span>
                          <div class="answer">piece</div>
                      </div> for yourself to eat.</div>
              </div>
          </div>
      </div>
      <div class="row pb-3 btn-row">
          <div class="col-12 text-center">
              <button class="button myButton">Submit</button>
          </div>
      </div>
  </div>
</div>