<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>
    <div class="loadingDiv">
    </div>
    <div class="container">
        <div class="row">
            <div class="heading mt-3">
                <h1>Click on the blanks and then click on the correct Personal Pronouns from the help box, that can be used for the given pictures and Nouns.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 Option_Container mx-auto">
                <img src="assets/std01-personal-pronouns-worksheet1/img/helpbox.png" class="img-fluid helpbox">
                <div class="options">
                    <div><span>He</span></div>
                    <div><span>She</span></div>
                    <div><span>They</span></div>
                    <div><span>We</span></div>
                    <div><span>I</span></div>
                    <div><span>It</span></div>
                    <div><span>You</span></div>
                    </div>
                </div>
    </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 Question_Container mx-auto">
              <div class="row">
                  <div class="col-6 col-sm-3 Question">
                        <div class="row">
                            <div class="col-1 p-0 my-auto">1)</div>
                            <div class="col-7 img_container text-center">
                                <img src="assets/std01-personal-pronouns-worksheet1/img/jack.png" class="img-fluid">
                                <div>Jack</div>
                            </div>
                            <div class="col-3 Answer p-0 my-auto">
                                <input type="text"> <div class="correct_answer"><span>He</span></div>
                            </div>
                        </div>
                  </div>
                  <div class="col-6 col-sm-3 Question">
                        <div class="row">
                            <div class="col-1 p-0 my-auto">2)</div>
                            <div class="col-7 img_container text-center">
                                <img src="assets/std01-personal-pronouns-worksheet1/img/parkar.png" class="img-fluid">
                                <div><span>Mr. Baker &</span> <span>Mr. Parker</span></div>
                            </div>
                            <div class="col-3 Answer p-0 my-auto">
                                <input type="text"> <div class="correct_answer"><span>They</span></div>
                            </div>
                        </div>
                  </div>
                  <div class="col-6 col-sm-3 Question">
                        <div class="row">
                            <div class="col-1 p-0 my-auto">3)</div>
                            <div class="col-7 img_container text-center">
                                <img src="assets/std01-personal-pronouns-worksheet1/img/susie.png" class="img-fluid">
                                <div>Susie</div>
                            </div>
                            <div class="col-3 Answer p-0 my-auto">
                                <input type="text"> <div class="correct_answer"><span>She</span></div>
                            </div>
                        </div>
                  </div>
                  <div class="col-6 col-sm-3 Question">
                        <div class="row">
                            <div class="col-1 p-0 my-auto">4)</div>
                            <div class="col-7 img_container text-center">
                                <img src="assets/std01-personal-pronouns-worksheet1/img/pillow.png" class="img-fluid pillow">
                                <div>pillow</div>
                            </div>
                            <div class="col-3 Answer p-0 my-auto">
                                <input type="text"> <div class="correct_answer"><span>It</span></div>
                            </div>
                        </div>
                  </div>
                  <div class="col-6 col-sm-3 Question fifth">
                        <div class="row">
                            <div class="col-1 p-0 my-auto">5)</div>
                            <div class="col-7 img_container text-center">
                                <img src="assets/std01-personal-pronouns-worksheet1/img/boy.png" class="img-fluid">
                                <div></div>
                            </div>
                            <div class="col-3 Answer p-0 my-auto">
                                <input type="text"> <div class="correct_answer"><span>I</span></div>
                            </div>
                        </div>
                  </div>
                  <div class="col-6 col-sm-3 Question">
                        <div class="row">
                            <div class="col-1 p-0 my-auto">6)</div>
                            <div class="col-7 img_container text-center">
                                <img src="assets/std01-personal-pronouns-worksheet1/img/family.png" class="img-fluid">
                                <div>family</div>
                            </div>
                            <div class="col-3 Answer p-0 my-auto">
                                <input type="text"> <div class="correct_answer"><span>We</span></div>
                            </div>
                        </div>
                  </div>
                  <div class="col-6 col-sm-3 Question">
                        <div class="row">
                            <div class="col-1 p-0 my-auto">7)</div>
                            <div class="col-7 img_container text-center">
                                <img src="assets/std01-personal-pronouns-worksheet1/img/girl.png" class="img-fluid">
                                <div></div>
                            </div>
                            <div class="col-3 Answer p-0 my-auto">
                                <input type="text"> <div class="correct_answer"><span>You</span></div>
                            </div>
                        </div>
                  </div>
              </div>
            </div>
        </div>
        
        <div class="btn-row">
            <button class="button myButton">Submit</button>
        </div>
    
    </div>
</div>
        

   