<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 mb-2 mb-lg-3">
				<h2 class="font-weight-bold heading">
					Click on the blanks and then click on another Collective Noun from the help box of clouds, of the given Common Nouns.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="main-helpbox-container">
				<div class="helpbox-container">
					<div class="helpbox photographs"><div><span>photographs</span></div> </div>
					 <div class="helpbox penguins"><div><span>penguins</span></div></div>
					<div class="helpbox seagulls"><div><span>seagulls</span></div></div>
					<div class="helpbox sharks"><div><span>sharks</span></div></div>
					 <div class="helpbox piglets"><div><span>piglets</span></div></div>
					<div class="helpbox actors"><div><span>actors</span></div></div>
					<div class="helpbox players"><div><span>players</span></div></div>
					<div class="helpbox stars"><div><span>stars</span></div></div>
					<div class="helpbox flowers"><div><span>flowers</span></div></div>
					<div class="helpbox rats"><div><span>rats</span></div></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<!-- 1 -->
				<div class="left-side">
					<div class="question">
						<div class="number"><span>1)</span></div>
						<div class="text-container"><span>a bed of <u>snakes</u></span></div>
					</div>
				</div>
				<div class="right-side">
					<div class="answer">
						<div class="text-container">
							<span>a bed of</span>
							<div class="input-container">
								<input type="text" >
								<div class="correct-answer">
									<span>flowers</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 2 -->
				<div class="left-side">
					<div class="question">
						<div class="number"><span>2)</span></div>
						<div class="text-container"><span>a cluster of <u>cats</u></span></div>
					</div>
				</div>
				<div class="right-side">
					<div class="answer">
						<div class="text-container">
							<span>a cluster of </span>
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>stars</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 3 -->
				<div class="left-side">
					<div class="question">
						<div class="number"><span>3)</span></div>
						<div class="text-container"><span>a flock of <u>geese</u></span></div>
					</div>
				</div>
				<div class="right-side">
					<div class="answer">
						<div class="text-container">
							<span>a flock of </span>
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>seagulls</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 4 -->
				<div class="left-side">
					<div class="question">
						<div class="number"><span>4)</span></div>
						<div class="text-container"><span>a pack of <u>dogs</u></span></div>
					</div>
				</div>
				<div class="right-side">
					<div class="answer">
						<div class="text-container">
							<span>a pack of </span>
							<div class="input-container">
								<input type="text">
								<div class="correct-answer">
									<span>rats</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 5 -->
				<div class="left-side">
						<div class="question">
								<div class="number"><span>5)</span></div>
								<div class="text-container"><span>  a litter of <u>puppies</u></span></div>
							</div>
				</div>
				<div class="right-side">
						<div class="answer">
								<div class="text-container">
									<span>a litter of </span>
									<div class="input-container">
										<input type="text">
										<div class="correct-answer">
											<span>piglets</span>
										</div>
									</div>
								</div>
							</div>
				</div>
				<!-- 6 -->
				<div class="left-side">
						<div class="question">
								<div class="number"><span>6)</span></div>
								<div class="text-container"><span> an album of <u>stamps</u></span></div>
							</div>
				</div>
				<div class="right-side">
						<div class="answer">
								<div class="text-container">
									<span> an album of</span>
									<div class="input-container">
										<input type="text">
										<div class="correct-answer">
											<span>photographs</span>
										</div>
									</div>
								</div>
							</div>
				</div>
				<!-- 7 -->
				<div class="left-side">
						<div class="question">
								<div class="number"><span>7)</span></div>
								<div class="text-container"><span> a host of <u>angels</u></span></div>
							</div>
				</div>
				<div class="right-side">
						<div class="answer">
								<div class="text-container">
									<span>a host of</span>
									<div class="input-container">
										<input type="text">
										<div class="correct-answer">
											<span>actors</span>
										</div>
									</div>
								</div>
							</div>
				</div>
				<!-- 8 -->
				<div class="left-side">
						<div class="question">
								<div class="number"><span>8)</span></div>
								<div class="text-container"><span> a school of <u>fish</u></span></div>
							</div>
				</div>
				<div class="right-side">
						<div class="answer">
								<div class="text-container">
									<span>a school of </span>
									<div class="input-container">
										<input type="text">
										<div class="correct-answer">
											<span>sharks</span>
										</div>
									</div>
								</div>
							</div>
				</div>
				<!-- 9 -->
				<div class="left-side">
						<div class="question">
								<div class="number"><span>9)</span></div>
								<div class="text-container"><span> a parade of <u>elephants</u></span></div>
							</div>
				</div>
				<div class="right-side">
						<div class="answer">
								<div class="text-container">
									<span>a parade of</span>
									<div class="input-container">
										<input type="text">
										<div class="correct-answer">
											<span>penguins</span>
										</div>
									</div>
								</div>
							</div>
				</div>
				<!-- 10 -->
				<div class="left-side">
						<div class="question">
								<div class="number"><span>10)</span></div>
								<div class="text-container"><span>a team of <u>horses</u></span></div>
							</div>
				</div>
				<div class="right-side">
						<div class="answer">
								<div class="text-container">
									<span>a team of</span>
									<div class="input-container">
										<input type="text">
										<div class="correct-answer">
											<span>players</span>
										</div>
									</div>
								</div>
							</div>
				</div>
				<!-- end -->
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>