<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row heading-container">
			<div class="col-12 p-0 mt-3">
				<!-- <h2 class="font-weight-bold heading">
					Colour the correct box of positive, comparative or superlative degree for the underlined adjectives in the sentences.
				</h2> -->
				<div class="heading_div">
					<img src="assets/std03-degress-of-comparison-worksheet3/img/honey.png" alt="" class="honey">
					<h2 class="font-weight-bold heading">
						Click on correct Degrees of Adjectives from the boxes, to complete the sentences.
					</h2>
				</div>
			</div>
		</div>
		<div class="row">
		 <div class="Question-container mt-2">
			<div class="row m-0">
				<div class="col-12  p-0  ">
					<div class="question">
						<div class="number"><span >1</span></div>
						<div class="text-container">
							<span>Prague Castle is the</span>
								<div class="helpbox-container">
									<span class="light-orange">bigger</span>/<span class="light-orange answer">biggest</span>
								</div> 
							<span>castle in the world.</span>
						</div>
					</div>
				</div>	
				<!-- 2 -->
				<div class="col-12  p-0  ">
					<div class="question">
						<div class="number"><span >2</span></div>
						<div class="text-container">
							<span>Today is</span>
							<div class="helpbox-container">
								<span class="light-orange">hot</span>/<span class="light-orange answer">hotter</span>
							</div> 
							<span>than yesterday.</span>
						</div>
					</div>
				</div>	
				<!-- 3 -->
				<div class="col-12  p-0  ">
					<div class="question">
						<div class="number"><span>3</span></div>
						<div class="text-container">
							<span>I am the</span>
							<div class="helpbox-container">
								<span class="light-orange answer">youngest</span>/<span class="light-orange">younger</span>
							</div> 
							<span>in the family.</span>
						</div>
					</div>
				</div>	
				<!-- 4 -->
				<div class="col-12  p-0  ">
					<div class="question">
						<div class="number"><span>4</span></div>
						<div class="text-container">
							<span> Being healthy is </span>
							<div class="helpbox-container">
								<span class="light-orange answer">more important </span>/<span class="light-orange">most important</span>
							</div> 
						<span>than being wealthy.</span>
						</div>
					</div>
				</div>	
				<!-- 5 -->
				<div class="col-12  p-0 ">
					<div class="question">
						<div class="number"><span >5</span></div>
						<div class="text-container">
							<span>The bear was </span>
							<div class="helpbox-container">
								<span class="light-orange answer">hungry</span>/<span class="light-orange">hungrier</span>
							</div>
							<span>so it ate up the pot of honey.</span>
						</div>
					</div>
				</div>	
				<!-- 6 -->
				<div class="col-12  p-0 ">
					<div class="question">
						<div class="number"><span >6</span></div>
						<div class="text-container">
							<span>
									The roads in Dubai are </span>
									<div class="helpbox-container">
										<span class="light-orange">smooth</span>/<span class="light-orange answer">smoother</span>
									</div> 
								<span>than in India.
							</span>
						</div>
					</div>
				</div>	
				<!-- 7 -->
				<div class="col-12  p-0 ">
					<div class="question">
						<div class="number"><span >7</span></div>
						<div class="text-container">
							<span>He was </span>
							<div class="helpbox-container">
								<span class="light-orange answer">lucky</span>/<span class="light-orange">luckiest</span>
							</div> 
						<span> to win the first prize.</span>
						</div>
					</div>
				</div>	
				<!-- 8 -->
				<div class="col-12  p-0">
					<div class="question">
						<div class="number"><span>8</span></div>
						<div class="text-container">
							<span>My mother bakes the </span>
							<div class="helpbox-container">
								<span class="light-orange"> more delicious</span>/<span class="light-orange answer"> most delicious</span>
							</div> 
						<span>cupcakes in the world.</span>
						</div>
					</div>
				</div>	
				<!-- 9 -->
				<div class="col-12  p-0 ">
					<div class="question">
						<div class="number"><span>9</span></div>
						<div class="text-container">
							<span>This pencil is  </span>
							<div class="helpbox-container">
								<span class="light-orange answer">sharper</span>/<span class="light-orange">sharpest</span>
							</div> 
						<span> than that one.</span>
						</div>
					</div>
				</div>	
				<!-- 10 -->
				<div class="col-12  p-0 ">
					<div class="question">
						<div class="number"><span>10</span></div>
						<div class="text-container">
							<span>That was a </span>
							<div class="helpbox-container">
								<span class="light-orange answer">difficult</span>/<span class="light-orange">more difficult</span>
							</div> 
						<span>Maths sum.</span>
						</div>
					</div>
				</div>	
				<!-- end -->
				
			</div>
		 </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>	
	</div>
</div>