<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
              <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide">
              <img src="" alt="" class="Text fabulous hide">
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
    <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
      <div class="row m-0">
          <div class="col-12 p-1 mt-2 mb-2 mt-lg-3 mb-lg-3">
              <h2 class="font-weight-bold heading">
                      Click on the blanks and then click on the correct Synonyms
                      from the help box, of the given clues.
              </h2>
          </div>
      </div>
   
      <div class="helpbox-container">
          <div class="helpbox-ans">
              <span>draw</span>
          </div>
          <div class="helpbox-ans">
              <span>above</span>
          </div>
          <div class="helpbox-ans">
              <span>chubby</span>
          </div>
          <div class="helpbox-ans">
              <span>teach</span>
          </div>
          <div class="helpbox-ans">
              <span>odd</span>
          </div>
          <div class="helpbox-ans">
              <span>forgive</span>
          </div>
          <div class="helpbox-ans">
              <span>astonish</span>
          </div>
          <div class="helpbox-ans">
              <span>notify</span>
          </div>
          <div class="helpbox-ans vi">
              
          </div>
          <div class="helpbox-ans vi">
              
          </div>
          <div class="helpbox-ans right">
              <span>hazardous</span>
          </div>
          <div class="helpbox-ans right">
              <span>exhausted</span>
          </div>
      </div>



      <div class="main-question-container">

          <div class="question-container">

              <div class="across">
                  <span class="font-weight-bold"><u>Across</u></span>

                  <!-- 1 -->
                  <div class="question">
                      <div class="number">
                          <span>1)</span>
                      </div>
                      <div class="text-container">
                          <span>dangerous</span>
                      </div>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>hazardous</span>
                          </div>
                      </div>
                  </div>
                  <!--2-->
                  <div class="question">
                      <div class="number">
                          <span>2)</span>
                      </div>
                      <div class="text-container">
                          <span>over</span>
                      </div>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>above</span>
                          </div>
                      </div>
                  </div>
                  <!--3-->
                  <div class="question">
                      <div class="number">
                          <span>3)</span>
                      </div>
                      <div class="text-container">
                          <span>inform</span>
                      </div>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>notify</span>
                          </div>
                      </div>
                  </div>
                  <!--4-->
                  <div class="question">
                      <div class="number">
                          <span>4)</span>
                      </div>
                      <div class="text-container">
                          <span>instruct</span>
                      </div>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>teach</span>
                          </div>
                      </div>
                  </div>
                      <!--5-->
                      <div class="question">
                      <div class="number">
                          <span>5)</span>
                      </div>
                      <div class="text-container">
                          <span>strange</span>
                      </div>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>odd</span>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="down">
                  <span class="font-weight-bold"><u>Down</u></span>
                  <!-- 1 -->
                  <div class="question">
                      <div class="number">
                          <span>1)</span>
                      </div>
                      <div class="text-container">
                          <span>tired</span>
                      </div>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>exhausted</span>
                          </div>
                      </div>
                  </div>
                  <!--2-->
                  <div class="question">
                      <div class="number">
                          <span>2)</span>
                      </div>
                      <div class="text-container">
                          <span>sketch</span>
                      </div>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>draw</span>
                          </div>
                      </div>
                  </div>
                  <!--3-->
                  <div class="question">
                      <div class="number">
                          <span>3)</span>
                      </div>
                      <div class="text-container">
                          <span>surprise</span>
                      </div>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>astonish</span>
                          </div>
                      </div>
                  </div>
                  <!--4-->
                  <div class="question">
                      <div class="number">
                          <span>4)</span>
                      </div>
                      <div class="text-container">
                          <span>pardon</span>
                      </div>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>forgive</span>
                          </div>
                      </div>
                  </div>
                      <!--5-->
                      <div class="question">
                      <div class="number">
                          <span>5)</span>
                      </div>
                      <div class="text-container">
                          <span>fat</span>
                      </div>
                      <div class="input-container">
                          <span class="input-span"><input type="text"></span>
                          <div class="correct-answer">
                              <span>chubby</span>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
          <div class="img-main-container">
              <div class="img-container">
                  <img src="assets/std03-synonyms-worksheet7/img/without-ans-img.png" class="img-fluid without-ans-img">
              </div>
              <img src="assets/std03-synonyms-worksheet7/img/ans-img.png" class="img-fluid ans-img">
          </div>


      </div>

   
      <div class="row btn-row">
          <div class="col-12 text-center">
              <button class="button myButton">Submit</button>
          </div>
      </div>
  </div>
</div>