<style>
@media(orientation: landscape)
{
.width-10{width:10%}
.width-20{width:20%}
.width-18{width:18%}
.width-8{width:8%}
.width-3{width:3%}
	
	.width-15{width:15%}
	.width-12{width:12%}
	 
	.mall{
	width: 20%;
    position: absolute;
    margin-top: 3%;
    margin-left: 82%;
	}
	.mall div{padding-top:10%;}
 
}
td span{
cursor: pointer;
}
.Greenfield span
{
margin-left: -4px;
}
</style>

<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row" style="margin:0">
      <div class="row">
        <h1 class="heading">Click on the blanks and then click on the correct Proper Nouns from the help box
          of clouds, that can be used for the underlined Common Nouns in the sentences.
        </h1>
      </div>
    </div>
    <div class="row helpbox-container" style="margin:0;">
      <div class="col-xs-12 no-padding margin-top-10">
        <table class="table-top width-100 margin-bottom-8">
          <tr>
            <td class="width-10 width-0"></td>
            <td class="width-18 width-35 park">
              <div class=""><span>Jogger’s Park</span></div>
            </td>
            <td class="width-10 width-3"></td>
            <td class="width-18 width-35 school grnfl">
              <div class="Greenfield"><span>Greenfield <br>Primary School</span></div>
            </td>
            <td class="width-10 width-3"></td>
            <td class="width-20 width-40 tunnel">
              <div class=""><span>Channel Tunnel</span></div>
            </td>
            <td class="width-8"></td>
          </tr>
        </table>
        <table class="table-bottom width-100 margin-top-10">
          <tr>
            <td class=" width-15 width-35">
              <div><span>Spiderman</span></div>
            </td>
            <td class="width-10">
              <div class=""><span></span></div>
            </td>
            <td class="width-18 circus width-30">
              <div class=""><span>Apollo Circus</span></div>
            </td>
            <td class="width-10">
            </td>
            <td class="width-15 italy">
              <div class=""><span>Italy</span></div>
            </td>
            <td>
            </td>
            <td class="width-15 pizza">
              <div class=""><span>Pizza Hut</span></div>
            </td>
          </tr>
        </table>
        <table class="width-100 table-mall ">
          <tr>
            <td class="mall">
              <div><span>Great Mall</span></div>
            </td>
          </tr>
        </table>
      </div>
    </div>



    <div class="row margin-0">
      <div class="main-question-container">
        <div class="row margin-0">
          <!-- 1 -->
          <div class="question">
            <div class="number">1)</div>
            <div class="text-container">
              <span>Andy said that he would like to visit</span>
              <span class="underline">a country</span>.
              <div class="display-inline">
                <span><input type="text"></span>
                <span class="correct-answer">Italy</span>
              </div>
            </div>
          </div>
          <!-- 2 -->
          <div class="question">
            <div class="number">2)</div>
            <div class="text-container">
              <span>The children went to see</span>
              <span class="underline">a movie</span>.
              <div class="display-inline">
                <span><input type="text"></span>
                <span class="correct-answer">Spiderman</span>
              </div>
            </div>
          </div>
          <!-- 3 -->
          <div class="question">
            <div class="number">3)</div>
            <div class="text-container">
              <span>The train goes from England to France through</span>
              <span class="underline">a tunnel</span>.
              <div class="display-inline">
                <span><input type="text"></span>
                <span class="correct-answer">Channel Tunnel</span>
              </div>
            </div>
          </div>
          <!-- 4 -->
          <div class="question">
            <div class="number">4)</div>
            <div class="text-container">
              <span>Mr. Jones and Mrs. Jones go for an evening walk to</span>
              <span class="underline">a park</span>.
              <div class="display-inline">
                <span><input type="text"></span>
                <span class="correct-answer">Jogger<span class="comma">’</span>s Park</span>
              </div>
            </div>
          </div>
          <!-- 5 -->
          <div class="question">
            <div class="number">5)</div>
            <div class="text-container">
              <span>Jack goes to</span>
              <span class="underline">a school</span>
              <span>every morning.</span>
              <div class="display-inline">
                <span><input type="text"></span>
                <span class="correct-answer">Greenfield Primary School</span>
              </div>
            </div>
          </div>
          <!-- 6 -->
          <div class="question">
            <div class="number">6)</div>
            <div class="text-container">
              <span>We ate dinner at</span>
              <span class="underline">a restaurant</span>.
              <div class="display-inline">
                <span><input type="text"></span>
                <span class="correct-answer">Pizza Hut</span>
              </div>
            </div>
          </div>
          <!-- 7 -->
          <div class="question">
            <div class="number">7)</div>
            <div class="text-container">
              <span>The</span>
              <span class="underline">mall</span>
              <span>is very huge.</span>
              <div class="display-inline">
                <span><input type="text"></span>
                <span class="correct-answer">Great Mall</span>
              </div>
            </div>
          </div>
          <!-- 8 -->
          <div class="question">
            <div class="number">8)</div>
            <div class="text-container">
              <span>Clara and her friends went for</span>
              <span class="underline">a circus</span>
              <span> show.</span>
              <div class="display-inline">
                <span><input type="text"></span>
                <span class="correct-answer">Apollo circus</span>
              </div>
            </div>
          </div>
          <!-- end -->

        </div>
      </div>
    </div>
    <div class="row margin-0 btn-row">
      <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
      </div>
    </div>
    <!-- btn end -->
  </div>

</div>