<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <img src="assets/std02-past-tense-worksheet2/img/baloon.png" alt="" class="baloon">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3 mb-3">
        <h2 class="font-weight-bold heading">
          <!-- Underline the correct past tense verb to complete the sentences. -->
          Click on the correct Past Tense Verbs from the brackets, to complete the sentences.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="main-question-container">
        <!-- 1 -->
        <div class="question">
          <div class="number"><span>1)</span></div>
          <div class="text-container">
            <span>The ballerinas</span>
            <div class="options">
              <div class="option">[<span>dances</span>,</div>
              <div class="option"><span class="right">danced</span>]</div>
            </div>
            <span>gracefully for the stage show.</span>
          </div>
        </div>
        <!-- 2 -->
        <div class="question">
          <div class="number"><span>2)</span></div>
          <div class="text-container"><span>Mrs. Smith</span>
            <div class="options">
              <div class="option">[<span class="right">cooked</span>,</div>
              <div class="option"><span>cooks</span>]</div>
            </div>
            <span>Italian food for dinner last night.</span>
          </div>
        </div>
        <!-- 3 -->
        <div class="question">
          <div class="number"><span>3)</span></div>
          <div class="text-container"><span>The courier was </span>
            <div class="options">
              <div class="option">[<span>delivers</span>,</div>
              <div class="option"><span class="right">delivered</span>]</div>
            </div>
            <span> at 10 o’clock in the morning.</span>
          </div>
        </div>
        <!-- 4 -->
        <div class="question">
          <div class="number"><span>4)</span></div>
          <div class="text-container"><span>A beautiful princess </span>
            <div class="options">
              <div class="option">[<span class="right">lived</span>,</div>
              <div class="option"><span>living</span>]</div>
            </div>
            <span>in the castle.</span>
          </div>
        </div>
        <!-- 5 -->
        <div class="question">
          <div class="number"><span>5)</span></div>
          <div class="text-container"><span>The children</span>
            <div class="options">
              <div class="option">[<span>splashing</span>,</div>
              <div class="option"><span class="right">splashed</span>]</div>
            </div>
            <span>water in the pool.</span>
          </div>
        </div>
        <!-- 6 -->
        <div class="question">
          <div class="number"><span>6)</span></div>
          <div class="text-container"><span>The baby </span>
            <div class="options">
              <div class="option">[<span class="right">looked</span>,</div>
              <div class="option"><span>looks</span>]</div>
            </div>
            <span>at its mother continuously.</span>
          </div>
        </div>
        <!-- 7 -->
        <div class="question">
          <div class="number"><span>7)</span></div>
          <div class="text-container"><span>Mom</span>
            <div class="options">
              <div class="option">[<span class="right">promised</span>,</div>
              <div class="option"><span>promises</span>]</div>
            </div>
            <span> to take us to the circus on Saturday.</span>
          </div>
        </div>
        <!-- 8 -->
        <div class="question">
          <div class="number"><span>8)</span></div>
          <div class="text-container"><span>Sally</span>
            <div class="options">
              <div class="option">[<span>builds</span>,</div>
              <div class="option"><span class="right">built</span>]</div>
            </div>
            <span> a sandcastle at the seashore.</span>
          </div>
        </div>
        <!-- end -->
      </div>
    </div>
    <div class="row btn-row">
      <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>
</div>