<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
	<div class="loadingDiv">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 px-2 p-2 mt-2">
				<h2 class="font-weight-bold heading">
					A simile is a comparison between two nouns using ‘as’ or ‘like’. A simile is a figure of speech.
				</h2>
			</div>
		</div>
		<div class="row m-0 mb-lg-2">
			<h2 class="font-weight-bold second-heading">
				Click in the hexagons next to the numbers and then click on the correct meanings given in 
				Column B, of the Similes given in Column A.
			</h2>
		</div>
		<div class="row">
			<div class="main-question-container">
				<div class="heading-container font-weight-bold w-100 text-center">
					<div class="row m-0">
						<div class="col-6 p-0">
							<span>Column A (Similes) </span>
						</div>
						<div class="col-6 p-0">
							<span>Column B (Meanings)</span>
						</div>
					</div>
				</div>
				<div class="question-container">
					<!-- 1 -->
					<div class="row m-0">
						<div class="col-6 p-0">
							<div class="row m-0">
								<!-- 1 -->
								<div class="col-12 p-0">
									<div class="question q1">
										<div class="input-container">
											<span class="answer">
												H
											</span>
											<span class="input-span"><input type="text" maxlength="1"></span>
										</div>
										<div class="number text-center">1)</div>
										<div class="text-container"><span>as big as an elephant</span></div>
									</div>
								</div>
								<!-- end -->
							</div>
						</div>
						<div class="col-6 p-0">
							<div class="row m-0">
								<div class="col-12 p-0">
									<div class="answer-container q1">
										<div></div>
										<div class="alphabet text-center"><span>A)</span></div>
										<div class="answer-text"><span>very cunning</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 2 -->
					<div class="row m-0">
						<div class="col-6 p-0">
							<div class="row m-0">
								<!-- 1 -->
								<div class="col-12 p-0">
									<div class="question">
										<div class="input-container">
											<span class="answer">
												E
											</span>
											<span class="input-span"><input type="text" maxlength="1"></span>
										</div>
										<div class="number text-center">2)</div>
										<div class="text-container"><span> as busy as a bee</span></div>
									</div>
								</div>
								<!-- end -->
							</div>
						</div>
						<div class="col-6 p-0">
							<div class="row m-0">
								<div class="col-12 p-0">
									<div class="answer-container">
										<div></div>
										<div class="alphabet text-center"><span>B)</span></div>
										<div class="answer-text"><span>something is straight</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 3 -->
					<div class="row m-0">
						<div class="col-6 p-0">
							<div class="row m-0">
								<!-- 1 -->
								<div class="col-12 p-0">
									<div class="question">
										<div class="input-container">
											<span class="answer">
												A
											</span>
											<span class="input-span"><input type="text" maxlength="1"></span>
										</div>
										<div class="number text-center">3)</div>
										<div class="text-container"><span>as cunning as a fox</span></div>
									</div>
								</div>
								<!-- end -->
							</div>
						</div>
						<div class="col-6 p-0">
							<div class="row m-0">
								<div class="col-12 p-0">
									<div class="answer-container">
										<div></div>
										<div class="alphabet text-center"><span>C)</span></div>
										<div class="answer-text"><span>something very flat in shape</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 4 -->
					<div class="row m-0">
						<div class="col-6 p-0">
							<div class="row m-0">
								<!-- 1 -->
								<div class="col-12 p-0">
									<div class="question">
										<div class="input-container">
											<span class="answer">
												J
											</span>
											<span class="input-span"><input type="text" maxlength="1"></span>
										</div>
										<div class="number text-center">4)</div>
										<div class="text-container"><span>as dead as a dodo</span></div>
									</div>
								</div>
								<!-- end -->
							</div>
						</div>
						<div class="col-6 p-0">
							<div class="row m-0">
								<div class="col-12 p-0">
									<div class="answer-container">
										<div></div>
										<div class="alphabet text-center"><span>D)</span></div>
										<div class="answer-text"><span>someone is very proud</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 5 -->
					<div class="row m-0">
						<div class="col-6 p-0">
							<div class="row m-0">
								<!-- 1 -->
								<div class="col-12 p-0">
									<div class="question">
										<div class="input-container">
											<span class="answer">
												C
											</span>
											<span class="input-span"><input type="text" maxlength="1"></span>
										</div>
										<div class="number text-center">5)</div>
										<div class="text-container"><span>as flat as a pancake</span></div>
									</div>
								</div>
								<!-- end -->
							</div>
						</div>
						<div class="col-6 p-0">
							<div class="row m-0">
								<div class="col-12 p-0">
									<div class="answer-container">
										<div></div>
										<div class="alphabet text-center"><span>E)</span></div>
										<div class="answer-text"><span>extremely busy</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 6-10 -->
					<!--6 -->
					<div class="row m-0">
						<div class="col-6 p-0">
							<div class="row m-0">
								<!-- 1 -->
								<div class="col-12 p-0">
									<div class="question">
										<div class="input-container">
											<span class="answer">
												G
											</span>
											<span class="input-span"><input type="text" maxlength="1"></span>
										</div>
										<div class="number text-center">6)</div>
										<div class="text-container"><span>as hungry as a bear</span></div>
									</div>
								</div>
								<!-- end -->
							</div>
						</div>
						<div class="col-6 p-0">
							<div class="row m-0">
								<div class="col-12 p-0">
									<div class="answer-container">
										<div></div>
										<div class="alphabet text-center"><span>F)</span></div>
										<div class="answer-text"><span>to be pure white in colour</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--7 -->
					<div class="row m-0">
						<div class="col-6 p-0">
							<div class="row m-0">
								<!-- 1 -->
								<div class="col-12 p-0">
									<div class="question">
										<div class="input-container">
											<span class="answer">
												D
											</span>
											<span class="input-span"><input type="text" maxlength="1"></span>
										</div>
										<div class="number text-center">7)</div>
										<div class="text-container"><span>as proud as a peacock</span></div>
									</div>
								</div>
								<!-- end -->
							</div>
						</div>
						<div class="col-6 p-0">
							<div class="row m-0">
								<div class="col-12 p-0">
									<div class="answer-container">
										<div></div>
										<div class="alphabet text-center"><span>G)</span></div>
										<div class="answer-text"><span>someone is very hungry</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 8 -->
					<div class="row m-0">
						<div class="col-6 p-0">
							<div class="row m-0">
								<!-- 1 -->
								<div class="col-12 p-0">
									<div class="question">
										<div class="input-container">
											<span class="answer">
												I
											</span>
											<span class="input-span"><input type="text" maxlength="1"></span>
										</div>
										<div class="number text-center">8)</div>
										<div class="text-container"><span>as slow as a tortoise</span></div>
									</div>
								</div>
								<!-- end -->
							</div>
						</div>
						<div class="col-6 p-0">
							<div class="row m-0">
								<div class="col-12 p-0">
									<div class="answer-container">
										<div></div>
										<div class="alphabet text-center"><span>H)</span></div>
										<div class="answer-text"><span>very big</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--9 -->
					<div class="row m-0">
						<div class="col-6 p-0">
							<div class="row m-0">
								<!-- 1 -->
								<div class="col-12 p-0">
									<div class="question">
										<div class="input-container">
											<span class="answer">
												B
											</span>
											<span class="input-span"><input type="text" maxlength="1"></span>
										</div>
										<div class="number text-center">9)</div>
										<div class="text-container"><span>as straight as an arrow</span></div>
									</div>
								</div>
								<!-- end -->
							</div>
						</div>
						<div class="col-6 p-0">
							<div class="row m-0">
								<div class="col-12 p-0">
									<div class="answer-container">
										<div></div>
										<div class="alphabet text-center"><span>I)</span></div>
										<div class="answer-text"><span>to be very slow</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 10 -->
					<div class="row m-0">
						<div class="col-6 p-0">
							<div class="row m-0">
								<!-- 1 -->
								<div class="col-12 p-0">
									<div class="question">
										<div class="input-container">
											<span class="answer">
												F
											</span>
											<span class="input-span"><input type="text" maxlength="1"></span>
										</div>
										<div class="number text-center">10)</div>
										<div class="text-container"><span>as white as snow</span></div>
									</div>
								</div>
								<!-- end -->
							</div>
						</div>
						<div class="col-6 p-0">
							<div class="row m-0">
								<div class="col-12 p-0">
									<div class="answer-container">
										<div></div>
										<div class="alphabet text-center"><span>J)</span></div>
										<div class="answer-text"><span>something that is extinct</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end -->
				</div>
				<div class="btn-row">
					<div class="m-auto pb-3">
						<button class="button myButton">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>