<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
              <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide">
              <!-- <img src="" alt="" class="Text fabulous hide"> -->
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
    <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
      <div class="row">
          <div class="heading">
              <h1>Click on the blanks and then click on the correct Reflexive Pronouns from the help box, 
                  that can be used for the given Personal Pronouns. </h1>
          </div>
      </div>
      <div class="row position-relative">


          <div class="col-12 Question_Container">
              <div class="Question_Row first">
                  <div class="Question one">
                      <div class="number">1)</div>
                      <div class="content">
                          I <input type="text">
                          <div class="correct_answer"><span>myself</span></div>
                      </div>
                  </div>
                  <div class="Question two">
                      <div class="number">2)</div>
                      <div class="content">
                          he <input type="text">
                          <div class="correct_answer"><span>himself</span></div>
                      </div>
                  </div>
              </div>
              <div class="Question_Row second">
                  <div class="Question three">
                      <div class="number">3)</div>
                      <div class="content">
                          she <input type="text">
                          <div class="correct_answer"><span>herself</span></div>
                      </div>
                  </div>
                  <div class="Question four">
                      <div class="number">4)</div>
                      <div class="content">
                          we <input type="text">
                          <div class="correct_answer"><span>ourselves</span></div>
                      </div>
                  </div>
              </div>
              <div class="Question_Row third">
                  <div class="Question five">
                      <div class="number">5)</div>
                      <div class="content">
                          you (singular) <input type="text">
                          <div class="correct_answer"><span>yourself</span></div>
                      </div>
                  </div>
                  <div class="Question six">
                      <div class="number">6)</div>
                      <div class="content">
                          you (plural) <input type="text">
                          <div class="correct_answer"><span>yourselves</span></div>
                      </div>
                  </div>
              </div>
              <div class="Question_Row fourth">
                  <div class="Question seven">
                      <div class="number">7)</div>
                      <div class="content">
                          they <input type="text">
                          <div class="correct_answer"><span>themselves</span></div>
                      </div>
                  </div>
                  <div class="Question eight">
                      <div class="number">8)</div>
                      <div class="content">
                          it <input type="text">
                          <div class="correct_answer"><span>itself</span></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="first_block left">
              <div class="option"><span>himself</span></div>
              <div class="option"><span>itself</span></div>
              <div class="option"><span>ourselves</span></div>
              <div class="option"><span>yourselves</span></div>
          </div>
          <div class="first_block right">
              <div class="option"><span>herself</span></div>
              <div class="option"><span>yourself</span></div>
              <div class="option"><span>myself</span></div>
              <div class="option"><span>themselves</span></div>
          </div>
      </div>
      <div class="btn-row col-12">
          <button class="button myButton">Submit</button>
      </div>

  </div>
</div>