<div class="bg"  ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text fabulous hide">
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
    <div class="loadingDiv">
	</div>
	
    <div class="container">
        <div class="row">
            <div class="heading mt-3">
                <!-- <h1>Click on the alphabets in the word search to mark the Masculine and Feminine Genders given with the pictures.</h1> -->
                <h1>Click on the alphabets in the word search to mark the Masculine and Feminine Gender given in the speech bubbles with the pictures.</h1>
            </div>
        </div>
        <div class="row Main_Container">
            <div class="col-12 Option_Container">
			
            </div>
            <div class="col-12 Puzzle_Container">
                <div class="picture aunt">
                    <img src="assets/std01-gender-nouns-worksheet6/img/aunt.png" alt="">
                    <div><span>a</span><span>u</span><span>n</span><span>t</span></div>
                </div>
                <div class="picture boy">
                    <img src="assets/std01-gender-nouns-worksheet6/img/boy.png" alt="">
                    <div><span>b</span><span>o</span><span>y</span></div>
                </div>
                <div class="picture hero">
                    <img src="assets/std01-gender-nouns-worksheet6/img/hero.png" alt="">
                    <div><span>h</span><span>e</span><span>r</span><span>o</span></div>
                </div>
                <div class="picture poet">
                    <img src="assets/std01-gender-nouns-worksheet6/img/poet.png" alt="">
                    <div><span>p</span><span>o</span><span>e</span><span>t</span></div>
                </div>
                <div class="picture monk">
                    <img src="assets/std01-gender-nouns-worksheet6/img/monk.png" alt="">
                    <div><span>m</span><span>o</span><span>n</span><span>k</span></div>
                </div>
                <div class="picture sister">
                    <img src="assets/std01-gender-nouns-worksheet6/img/sister.png" alt="">
                    <div><span class="firstletter">s</span><span>i</span><span class="secondletter">s</span><span>t</span><span>e</span><span>r</span></div>
                </div>
                <div class="picture prince">
                    <img src="assets/std01-gender-nouns-worksheet6/img/prince.png" alt="">
                    <div><span>p</span><span>r</span><span>i</span><span>n</span><span>c</span><span>e</span></div>
                </div>
                <div class="picture queen">
                    <img src="assets/std01-gender-nouns-worksheet6/img/queen.png" alt="">
                    <div><span>q</span><span>u</span><span class="firstletter">e</span><span class="secondletter">e</span><span>n</span></div>
                </div>
                <div class="picture lady">
                    <img src="assets/std01-gender-nouns-worksheet6/img/lady.png" alt="">
                    <div><span>l</span><span>a</span><span>d</span><span>y</span></div>
                </div>
                <div class="picture wife">
                    <img src="assets/std01-gender-nouns-worksheet6/img/wife.png" alt="">
                    <div><span>w</span><span>i</span><span>f</span><span>e</span></div>
                </div>
                <div class="puzzle_block">
                    <div class="puzzle_row">
                        <div class="puzzle active first" word-click="monk"><span>M</span></div>
                        <div class="puzzle"><span>S</span></div>
                        <div class="puzzle active second" word-click="queen"><span>Q</span></div>
                        <div class="puzzle active second" word-click="queen"><span>U</span></div>
                        <div class="puzzle active second" word-click="queen"><span class="firstletter">E</span></div>
                        <div class="puzzle active second" word-click="queen"><span class="secondletter">E</span></div>
                        <div class="puzzle active second" word-click="queen"><span>N</span></div>
                        <div class="puzzle"><span>T</span></div>
                        <div class="puzzle"><span>B</span></div>
                        <div class="puzzle active fourth" word-click="lady"><span>L</span></div>
                        <div class="line queen_line"></div>
                    </div>
                    <div class="puzzle_row">
                        <div class="puzzle active first" word-click="monk"><span>O</span></div>
                        <div class="puzzle"><span>Z</span></div>
                        <div class="puzzle active third" word-click="wife"><span>W</span></div>
                        <div class="puzzle"><span>O</span></div>
                        <div class="puzzle"><span>I</span></div>
                        <div class="puzzle"><span>J</span></div>
                        <div class="puzzle"><span>V</span></div>
                        <div class="puzzle"><span>A</span></div>
                        <div class="puzzle"><span>C</span></div>
                        <div class="puzzle active fourth" word-click="lady"><span>A</span></div>
                    </div>
                    <div class="puzzle_row">
                        <div class="puzzle active first" word-click="monk"><span>N</span></div>
                        <div class="puzzle"><span>U</span></div>
                        <div class="puzzle active third" word-click="wife"><span>I</span></div>
                        <div class="puzzle"><span>D</span></div>
                        <div class="puzzle active fifth" word-click="hero"><span>H</span></div>
                        <div class="puzzle active fifth" word-click="hero"><span>E</span></div>
                        <div class="puzzle active fifth" word-click="hero"><span>R</span></div>
                        <div class="puzzle active fifth" word-click="hero"><span>O</span></div>
                        <div class="puzzle"><span>T</span></div>
                        <div class="puzzle active fourth" word-click="lady"><span>D</span></div>
                        <div class="line hero_line"></div>
                    </div>
                    <div class="puzzle_row">
                        <div class="puzzle active first" word-click="monk"><span>K</span></div>
                        <div class="puzzle"><span>P</span></div>
                        <div class="puzzle active third" word-click="wife"><span>F</span></div>
                        <div class="puzzle active sixth" word-click="boy"><span>B</span></div>
                        <div class="puzzle active sixth" word-click="boy"><span>O</span></div>
                        <div class="puzzle active sixth" word-click="boy"><span>Y</span></div>
                        <div class="puzzle"><span>X</span></div>
                        <div class="puzzle"><span>F</span></div>
                        <div class="puzzle"><span>R</span></div>
                        <div class="puzzle active fourth" word-click="lady"><span>Y</span></div>
                        <div class="line boy_line"></div>
                    </div>
                    <div class="puzzle_row">
                        <div class="puzzle"><span>B</span></div>
                        <div class="puzzle"><span>N</span></div>
                        <div class="puzzle active third" word-click="wife"><span>E</span></div>
                        <div class="puzzle"><span>S</span></div>
                        <div class="puzzle"><span>E</span></div>
                        <div class="puzzle"><span>D</span></div>
                        <div class="puzzle"><span>F</span></div>
                        <div class="puzzle active eighth" word-click="aunt"><span>A</span></div>
                        <div class="puzzle"><span>Q</span></div>
                        <div class="puzzle"><span>J</span></div>
                    </div>
                    <div class="puzzle_row">
                        <div class="puzzle active seventh" word-click="sister"><span class="firstletter">S</span></div>
                        <div class="puzzle active seventh" word-click="sister"><span>I</span></div>
                        <div class="puzzle active seventh" word-click="sister"><span class="secondletter">S</span></div>
                        <div class="puzzle active seventh" word-click="sister"><span>T</span></div>
                        <div class="puzzle active seventh" word-click="sister"><span>E</span></div>
                        <div class="puzzle active seventh" word-click="sister"><span>R</span></div>
                        <div class="puzzle"><span>O</span></div>
                        <div class="puzzle active eighth" word-click="aunt"><span>U</span></div>
                        <div class="puzzle"><span>Y</span></div>
                        <div class="puzzle"><span>Z</span></div>
                        <div class="line sister_line"></div>
                    </div>
                    <div class="puzzle_row">
                        <div class="puzzle"><span>T</span></div>
                        <div class="puzzle"><span>H</span></div>
                        <div class="puzzle"><span>E</span></div>
                        <div class="puzzle"><span>R</span></div>
                        <div class="puzzle active nineth" word-click="prince"><span>P</span></div>
                        <div class="puzzle active nineth" word-click="prince"><span>R</span></div>
                        <div class="puzzle active nineth" word-click="prince"><span>I</span></div>
                        <div class="puzzle active eighth nineth" word-click="aunt,prince"><span>N</span></div>
                        <div class="puzzle active nineth" word-click="prince"><span>C</span></div>
                        <div class="puzzle active nineth" word-click="prince"><span>E</span></div>
                        <div class="line prince_line"></div>
                    </div>
                    <div class="puzzle_row">
                        <div class="puzzle"><span>G</span></div>
                        <div class="puzzle"><span>R</span></div>
                        <div class="puzzle"><span>L</span></div>
                        <div class="puzzle"><span>I</span></div>
                        <div class="puzzle active tenth" word-click="poet"><span>P</span></div>
                        <div class="puzzle active tenth" word-click="poet"><span>O</span></div>
                        <div class="puzzle active tenth" word-click="poet"><span>E</span></div>
                        <div class="puzzle active eighth tenth" word-click="aunt,poet"><span>T</span></div>
                        <div class="puzzle"><span>M</span></div>
                        <div class="puzzle"><span>Y</span></div>
                        <div class="line poet_line"></div>
                    </div>
                    <div class="line monk_line"></div>
                    <div class="line lady_line"></div>
                    <div class="line wife_line"></div>
                    <div class="line aunt_line"></div>
                </div>
            </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
    </div>
	
</div>
 
   