<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
      <img src="" alt="" class="Text keep-practicing hide">
      <img src="" alt="" class="Text outstanding hide">
      <img src="" alt="" class="Text brilliant hide">
      <img src="" alt="" class="Text good-work hide">
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
    <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>

  <div class="loadingDiv">
  </div>

  <div class="container">
      <div class="row">
          <div class="heading">
              <h1>Click on the Future Continuous Tense Verbs in the following sentences.</h1>
          </div>
      </div>
      <div class="row mob_margin">
          <div class="col-12 Main_Container">
              <div class="row mob_row">
                  <div class="col-12 Question_Container">
                      <div class="Question">
                          <div class="number">1)</div>
                          <div class="content">
                              <span>Alia</span> <span class="right">will be celebrating</span> <span>her</span>
                              <span>birthday</span> <span>next</span> <span>week</span>.
                          </div>
                      </div>
                      <div class="Question">
                          <div class="number">2)</div>
                          <div class="content">
                              <span>I</span> <span class="right">shall be sleeping</span> <span>by</span>
                              <span>the</span> <span>time</span> <span>Uncle</span> <span>John’s</span>
                              <span>flight</span> <span>arrives</span>.
                          </div>
                      </div>
                      <div class="Question">
                          <div class="number">3)</div>
                          <div class="content">
                              <span>You</span> <span class="right">will be playing</span> <span>tennis</span>
                              <span>with</span> <span>Peter</span> <span>in</span> <span>the</span>
                              <span>afternoon</span>.
                          </div>
                      </div>
                      <div class="Question">
                          <div class="number">4)</div>
                          <div class="content">
                              <span>Mr.</span> <span>Brown</span> <span class="right">will be buying</span>
                              <span>a</span> <span>new</span> <span>mobile</span> <span>phone</span> <span>for</span>
                              <span>his</span> <span>wife</span> <span>soon</span>.
                          </div>
                      </div>
                      <div class="Question">
                          <div class="number">5)</div>
                          <div class="content">
                              <span>We</span> <span class="right">shall be staying</span> <span>with</span>
                              <span>our</span> <span>grandparents</span> <span>during</span> <span>the</span>
                              <span>holidays</span>.
                          </div>
                      </div>
                      <div class="Question">
                          <div class="number">6)</div>
                          <div class="content">
                              <span>Mindy</span> <span>and</span> <span>Megan</span> <span class="right">will be
                                  going</span> <span>on</span> <span>a</span> <span>hiking</span> <span>trip</span>
                              <span>with</span> <span>the</span> <span>scouts</span> <span>group</span>.
                          </div>
                      </div>
                      <div class="Question">
                          <div class="number">7)</div>
                          <div class="content">
                              <span>Pat</span> <span class="right">will be feeling</span> <span>extremely</span>
                              <span>tired</span> <span>after</span> <span>the</span> <span>game</span> <span>of</span>
                              <span>squash</span>.
                          </div>
                      </div>
                      <div class="Question">
                          <div class="number">8)</div>
                          <div class="content">
                              <span>Environmentalists</span> <span>say</span> <span>that</span> <span>water</span>
                              <span>levels</span> <span>of</span> <span>the</span> <span>seas</span> <span
                                  class="right">will be rising</span> <span>in</span> <span>twenty</span>
                              <span>years</span>.
                          </div>
                      </div>
                      <div class="Question">
                          <div class="number">9)</div>
                          <div class="content">
                              <span>Grandma</span> <span class="right">will be bringing</span> <span>her</span>
                              <span>delicious-baked</span> <span>cookies</span> <span>for</span> <span>us</span>.
                          </div>
                      </div>
                      <div class="Question">
                          <div class="number">10)</div>
                          <div class="content">
                              <span>My</span> <span>cousins</span> <span class="right">will be skiing</span>
                              <span>in</span> <span>the</span> <span>Alps</span> <span>during</span>
                              <span>their</span> <span>Christmas</span> <span>holidays</span>.
                          </div>
                      </div>
                      <img src="assets/std03-future-tense-worksheet3/img/cap.png" alt="" class="cap">
                      <img src="assets/std03-future-tense-worksheet3/img/player.png" alt="" class="player">
                  </div>

              </div>

          </div>
      </div>
      <div class="btn-row">
          <button class="button myButton">Submit</button>
      </div>

  </div>
</div>