<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>

    <div class="loadingDiv">
    </div>

    <div class="container">
        <div class="row">
            <div class="heading mt-3">
                <h1>Click on the blanks and then click on the correct Prepositions from the help box,
                    to complete the sentences.
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 Option_Container">
                <div class="row">
                    <div class="option"><img src="assets/std01-prepositions-worksheet8/img/helpbox.png" class="img-fluid"><span>at</span></div>
                    <div class="option"><img src="assets/std01-prepositions-worksheet8/img/helpbox.png" class="img-fluid"><span>from</span></div>
                    <div class="option"><img src="assets/std01-prepositions-worksheet8/img/helpbox.png" class="img-fluid"><span>against</span></div>
                    <div class="option"><img src="assets/std01-prepositions-worksheet8/img/helpbox.png" class="img-fluid"><span>through</span></div>
                    <div class="option"><img src="assets/std01-prepositions-worksheet8/img/helpbox.png" class="img-fluid"><span>behind</span></div>
                    <div class="option"><img src="assets/std01-prepositions-worksheet8/img/helpbox.png" class="img-fluid"><span>beside</span></div>
                    <div class="option"><img src="assets/std01-prepositions-worksheet8/img/helpbox.png" class="img-fluid"><span>in</span></div>
                    <div class="option"><img src="assets/std01-prepositions-worksheet8/img/helpbox.png" class="img-fluid"><span>near</span></div>
                </div>
            </div>
        </div>
        <div class="Main_Container">
            <div class="row Main_Row">
                <div class="col-12 col-sm-7 Question_Container">
                    <div class="row">
                        <div class="col-12 header font-weight-bold">Across</div>
                    </div>
                    <div class="row Question">
                        <div class="col-1 p-0 text-center number">1)</div>
                        <div class="col-9 p-0 content">Our car went <input type="text">
                            <div class="correct_answer"><span>through</span></div> a tunnel. <img
                                src="assets/std01-prepositions-worksheet8/img/car.png" class="car">
                        </div>
                    </div>
                    <div class="row Question">
                        <div class="col-1 p-0 text-center number">2)</div>
                        <div class="col-9 p-0 content">Sarah lives <input type="text">
                            <div class="correct_answer"><span>in</span></div> Sydney. <img src="assets/std01-prepositions-worksheet8/img/sydney.png"
                                class="sydney">
                        </div>
                    </div>
                    <div class="row Question">
                        <div class="col-1 p-0 text-center number">3)</div>
                        <div class="col-9 p-0 content">My brother sat <input type="text">
                            <div class="correct_answer"><span>beside</span></div> me. <img src="assets/std01-prepositions-worksheet8/img/brother.png"
                                class="brother">
                        </div>
                    </div>
                    <div class="row Question">
                        <div class="col-1 p-0 text-center number">4)</div>
                        <div class="col-9 p-0 content">I will meet you <input type="text">
                            <div class="correct_answer"><span>at</span></div> four o’clock. <img
                                src="assets/std01-prepositions-worksheet8/img/clock.png" class="clock">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 header font-weight-bold">Down</div>
                    </div>
                    <div class="row Question">
                        <div class="col-1 p-0 text-center number">1)</div>
                        <div class="col-9 p-0 content">A cat jumped <input type="text">
                            <div class="correct_answer"><span>from</span></div> the tree branch. <img
                                src="assets/std01-prepositions-worksheet8/img/cat.png" class="cat">
                        </div>
                    </div>
                    <div class="row Question">
                        <div class="col-1 p-0 text-center number">2)</div>
                        <div class="col-9 p-0 content">The boy stood leaning <input type="text">
                            <div class="correct_answer"><span>against</span></div> the wall. <img
                                src="assets/std01-prepositions-worksheet8/img/wall.png" class="wall">
                        </div>
                    </div>
                    <div class="row Question">
                        <div class="col-1 p-0 text-center number">3)</div>
                        <div class="col-9 p-0 content">There was someone hiding <input type="text">
                            <div class="correct_answer"><span>behind</span></div> the curtain. <img
                                src="assets/std01-prepositions-worksheet8/img/curtain.png" class="curtain">
                        </div>
                    </div>
                    <div class="row Question">
                        <div class="col-1 p-0 text-center number">4)</div>
                        <div class="col-9 p-0 content">The park is <input type="text">
                            <div class="correct_answer"><span>near</span></div> the school. <img
                                src="assets/std01-prepositions-worksheet8/img/school.png" class="school">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-5 Answer_Container">
                    <img src="assets/std01-prepositions-worksheet8/img/puzzle.png" alt="" class="img-fluid puzzle">
                    <img src="assets/std01-prepositions-worksheet8/img/puzzle_answer.png" alt="" class="img-fluid puzzle_answer">
                </div>
            </div>
        </div>
        <div class="btn-row">
            <button class="button myButton">Submit</button>
        </div>
    </div>


</div>
   

    