
<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
      <img src="" alt="" class="Text fabulous hide">
    </div>
          <div class="TextBox">
              <h1></h1>
          </div>
          <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  
  <div class="loadingDiv">
  </div>
          
  <div class="container">
      <div class="row">
          <div class="col-12 Main_Container">
                  <!-- start -->
                  <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
                          <!-- Indicators -->
                          <ul class="carousel-indicators">
                              <li data-target="#demo" data-slide-to="0" class="active">1</li>
                              <li data-target="#demo" data-slide-to="1">2</li>
                              <li data-target="#demo" data-slide-to="2">3</li>
                          </ul>
                          <!-- The slideshow -->
                              <div class="carousel-inner">
                                  <div class="carousel-item active first">
                                      <div class="row px-2 p-2 mt-3 ">
                                          <div class="heading">
                                              <h2 class="font-weight-bold">
                                                  Read the story carefully. Then answer the questions that follow.
                                              </h2>
                                          </div>
                                      </div>
                                      <div class="row mb-1">
                                          <div class="title-top text-center m-auto story_title">
                                              <u><b><span>THE ANT AND THE GRASSHOPPER</span></b></u>
                                          </div>
                                      </div>
                                      <div class="row mt-sm-2 mt-lg-3">
                                          <div class="main-question-container">
                                              <div class="row m-0">
                                                  <p>
                                                      <span class="pl-5">Once</span> upon a time<span class="comma">,</span> there was a grasshopper who was hopping<span class="comma">,</span> chirping and singing to its heart<span class="comma">’</span>s
                                                      content in a field on a hot summer<span class="comma">’</span>s day. There was an ant staying nearby the grasshopper<span class="comma">’</span>s nest. They 
                                                      were good friends. It was springtime and the grasshopper was having a lot of fun playing<span class="comma">,</span> singing and 
                                                      dancing in the sun. But the ant was hard-working. It was collecting food grains and storing them in its 
                                                      house for the winter.
                                                  </p>
                                                  <p>
                                                      <span class="pl-5">The</span>  grasshopper did not understand why the ant was doing so much hard work and keeping for 
                                                      the winter. He asked<span class="comma">,</span> <span class="comma">“</span>Hey<span class="comma">,</span> ant! Why don<span class="comma">’</span>t you come outside and play with me?<span class="comma">”</span> The ant replied<span class="comma">,</span> <span class="comma">“</span>I 
                                                      cannot. I am storing food for the winter when there won<span class="comma">’</span>t be anything to eat!<span class="comma">”</span> The grasshopper only 
                                                      laughed at the ant and said<span class="comma">,</span> <span class="comma">“</span>Why are you worrying now? There is plenty of food!<span class="comma">”</span> and continued to play<span class="comma">,</span> 
                                                      while the ant worked hard.
                                                  </p>
                                                  <p><span class="pl-5">When</span>  winter came<span class="comma">,</span> the grasshopper did not find a single grain of food to eat. It began to starve 
                                                      and feel very weak. The grasshopper saw how the hard-working ant had plenty of food to eat and 
                                                      realized its foolishness.
                                                  </p>
                                                  
                                              </div>	
                                          </div>		
                                      </div>
                                  </div>
                                  <div class="carousel-item second">
                                      <div class="row px-2 p-2 mt-3">
                                          <div class="main-question-container">
                                              <div class="questions-container">
                                                  <div class="w-100 mb-2">
                                                      <span class="input-span1 ans_follow_quest"><span class="font-weight-bold"><u>Answer the following questions:</u></span></span>
                                                  </div>
                                                  <span>(Click in the circles to colour the correct answers.)</span>
                                                  <!-- 1-->
                                                  <div class="question mt-2 one">
                                                          <div class="number pr-2 font-weight-bold">
                                                              1)
                                                          </div>
                                                          <div class="content">
                                                              <span class="font-weight-bold">
                                                                  Which season has been mentioned in the beginning  of the story?
                                                              </span>
                                                             
                                                              <div class="row m-0">
                                                                  <!-- <div class="col-11  p-0">
                                                                      <div class="option-question">
                                                                          <div class="circle correct"><span>a</span></div>
                                                                          <div class="option-text">
                                                                              <span>Spring</span>
                                                                          </div>
                                                                      </div>
                                                                  </div> -->
                                                                  <div class="col-11 p-0">
                                                                      <div class="option-question">
                                                                          <div class="circle correct">
                                                                              <span>a</span>
                                                                          </div>
                                                                          <div class="option-text">
                                                                              <span>Summer</span>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-11   p-0">
                                                                      <div class="option-question">
                                                                          <div class="circle wrong">
                                                                              <span>b</span>
                                                                          </div>
                                                                          <div class="option-text">
                                                                              <span>Autumn</span>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-11  p-0">
                                                                      <div class="option-question">
                                                                          <div class="circle wrong">
                                                                              <span>c</span>
                                                                          </div>
                                                                          <div class="option-text">
                                                                              <span>Winter</span>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  <!-- end -->
                                                  <!--2-->
                                                  <div class="question mt-2 two">
                                                      <div class="number pr-2 font-weight-bold">
                                                          2)
                                                      </div>
                                                      <div class="content">
                                                          <span class="font-weight-bold">
                                                              How was the grasshopper having fun?
                                                          </span>
                                                          <div class="row m-0">
                                                              <div class="col-11  p-0">
                                                                  <div class="option-question">
                                                                      <div class="circle wrong"><span>a</span></div>
                                                                      <div class="option-text">
                                                                          <span>By singing in the rain.</span>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                              <div class="col-11  p-0">
                                                                  <div class="option-question">
                                                                      <div class="circle wrong">
                                                                          <span>b</span>
                                                                      </div>
                                                                      <div class="option-text">
                                                                          <span>By playing in the snow.</span>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                              <div class="col-11 p-0">
                                                                  <div class="option-question">
                                                                      <div class="circle correct">
                                                                          <span>c</span>
                                                                      </div>
                                                                      <div class="option-text">
                                                                          <span>By playing<span class="comma">,</span> singing and dancing in the sun. </span>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                              <div class="col-11   p-0">
                                                                  <div class="option-question">
                                                                      <div class="circle wrong">
                                                                          <span>d</span>
                                                                      </div>
                                                                      <div class="option-text">
                                                                          <span>By dancing in its house.</span>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <!-- end -->
                                                  <!--3-->
                                                  <div class="question mt-2 three">
                                                      <div class="number pr-2 font-weight-bold">
                                                          3)
                                                      </div>
                                                      <div class="content">
                                                          <span class="font-weight-bold">
                                                              Why was the ant described as hard-working? 
                                                          </span>
                                                          <div class="row m-0">
                                                              <div class="col-11  p-0">
                                                                  <div class="option-question">
                                                                      <div class="circle correct"><span>a</span></div>
                                                                      <div class="option-text">
                                                                          <span>Because it was collecting food grains and storing 
                                                                              them in its house for the winter.</span>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                              <div class="col-11  p-0">
                                                                  <div class="option-question">
                                                                      <div class="circle wrong">
                                                                          <span>b</span>
                                                                      </div>
                                                                      <div class="option-text">
                                                                          <span>Because it was making its house in the summer.</span>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                              
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <!-- end -->
                                                  
                                              </div>
                                          </div>	
                                      </div>
                                  </div>
                                  <div class="carousel-item third">
                                      <div class="row px-2 p-2 mt-3">
                                          <div class="main-question-container">
                                              <div class="questions-container">
                                                  <!-- 4-->
                                                  <div class="question mt-2 four">
                                                          <div class="number pr-2 font-weight-bold">
                                                              4)
                                                          </div>
                                                          <div class="content">
                                                              <span class="font-weight-bold">
                                                                  What happened to the grasshopper during winter?
                                                              </span>
                                                              <div class="row m-0">
                                                                  <div class="col-11  p-0">
                                                                      <div class="option-question">
                                                                          <div class="circle wrong"><span>a</span></div>
                                                                          <div class="option-text">
                                                                              <span>It had plenty of food to eat.</span>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-11 p-0">
                                                                      <div class="option-question">
                                                                          <div class="circle wrong">
                                                                              <span>b</span>
                                                                          </div>
                                                                          <div class="option-text">
                                                                              <span>It was very healthy and strong.</span>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-11   p-0">
                                                                      <div class="option-question">
                                                                          <div class="circle correct">
                                                                              <span>c</span>
                                                                          </div>
                                                                          <div class="option-text">
                                                                              <span>It began to starve and felt very weak.</span>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-11  p-0">
                                                                      <div class="option-question">
                                                                          <div class="circle wrong">
                                                                              <span>d</span>
                                                                          </div>
                                                                          <div class="option-text">
                                                                              <span>It had nothing to worry about.
                                                                              </span>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  <!-- end -->
                                                  <!--5-->
                                                  <div class="question mt-2 five">
                                                      <div class="number pr-2 font-weight-bold">
                                                          5)
                                                      </div>
                                                      <div class="content">
                                                          <span class="font-weight-bold">
                                                              Who do you think was wiser?
                                                          </span>
                                                          <div class="row m-0">
                                                              <div class="col-11  p-0">
                                                                  <div class="option-question">
                                                                      <div class="circle correct"><span>a</span></div>
                                                                      <div class="option-text">
                                                                          <span>ant</span>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                              <div class="col-11  p-0">
                                                                  <div class="option-question">
                                                                      <div class="circle wrong">
                                                                          <span>b</span>
                                                                      </div>
                                                                      <div class="option-text">
                                                                          <span>grasshopper</span>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <!-- end -->
                                                  <!--3-->
                                                  <div class="question mt-2 six">
                                                      <div class="number pr-2 font-weight-bold">
                                                          6)
                                                      </div>
                                                      <div class="content">
                                                          <span class="font-weight-bold">
                                                             Click on the blanks and then click on the Actions from the help box<span class="comma">,</span> 
                                                             that the grasshopper did during spring and summer. 
                                                          </span>
                                                          <div class="row m-0">
                                                              <div class="col-8 col-sm-6 p-0">
                                                                  <div class="row m-0 mb-1">
                                                                      <div class="col-1 p-0"><span class="pr-2">a)</span></div>
                                                                      <div class="col-11 p-0">
                                                                          <span class="input-span"><input type="text"></span>
                                                                          <span class="answer">hopping</span>
                                                                      </div>
                                                                  </div>
                                                                  <!-- b -->
                                                                  <div class="row m-0 mb-1">
                                                                      <div class="col-1 p-0"><span class="pr-2">b)</span></div>
                                                                      <div class="col-11 p-0">
                                                                          <span class="input-span"><input type="text"></span>
                                                                          <span class="answer">chirping</span>
                                                                      </div>
                                                                      
                                                                  </div>
                                                                  <!-- c -->
                                                                  <div class="row m-0 mb-1">
                                                                      <div class="col-1 p-0"><span class="pr-2">c)</span></div>
                                                                      <div class="col-11 p-0">
                                                                          <span class="input-span"><input type="text"></span>
                                                                          <span class="answer">singing</span>
                                                                      </div>
                                                                  </div>
                                                                  <!-- d -->
                                                                  <div class="row m-0 mb-1">
                                                                      <div class="col-1 p-0"><span class="pr-2">d)</span></div>
                                                                      <div class="col-11 p-0">
                                                                          <span class="input-span"><input type="text"></span>
                                                                          <span class="answer">playing</span>
                                                                      </div>
                                                                  </div>
                                                                  <!-- e -->
                                                                  <div class="row m-0 mb-1">
                                                                      <div class="col-1 p-0"><span class="pr-2">e)</span></div>
                                                                      <div class="col-11 p-0">
                                                                          <span class="input-span"><input type="text"></span>
                                                                          <span class="answer">dancing</span>
                                                                      </div>
                                                                  </div>
                                                                  <!-- end -->
                                                              </div>
                                                              <div class="col-4 col-sm-6 p-0">
                                                                  <div class="helpbox-container">
                                                                      <div class="row m-0">
                                                                          <div class="col-12 col-sm-4 p-0">
                                                                              <div>
                                                                                  singing
                                                                              </div>
                                                                          </div>
                                                                          <div class="col-12 col-sm-4 p-0">
                                                                              <div>
                                                                                  dancing
                                                                              </div>
                                                                          </div>
                                                                          <div class="col-12 col-sm-4 p-0">
                                                                              <div>
                                                                                  chirping
                                                                              </div>
                                                                          </div>
                                                                          <div class="col-12 col-sm-6 p-0">
                                                                              <div>
                                                                                  hopping
                                                                              </div>
                                                                          </div>
                                                                          <div class="col-12 col-sm-6 p-0">
                                                                              <div>
                                                                                  playing
                                                                              </div>
                                                                          </div>
                              
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <!-- end -->
                                                  
                                              </div>
                                          </div>	
                                          <div class="btn-row col-12">
                                              <button class="button myButton">Submit</button>
                                          </div>		
                                      </div>
                                  </div>
                              </div>
                          <!-- Left and right controls -->
                              <a class="carousel-control-prev" data-target="#demo" data-slide="prev">
                                  <span class="carousel-control-prev-icon arrow-size"></span>
                              </a>
                              <a class="carousel-control-next" data-target="#demo" data-slide="next">
                                  <span class="carousel-control-next-icon arrow-size"></span>
                              </a>
                  </div>
      <!-- end -->
          </div>
  </div>
     
  </div>
</div>
