<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
          <div class="imgBox">
            <img src="" alt="" class="Text keep-practicing hide">
            <img src="" alt="" class="Text outstanding hide">
            <img src="" alt="" class="Text brilliant hide">
            <img src="" alt="" class="Text good-work hide">
            <!-- <img src="" alt="" class="Text fabulous hide"> -->
          </div>
          <div class="TextBox">
            <h1></h1>
          </div>
          <img src="assets/images/close.png" alt="" class="close">
        </div>
      </div>
        <div class="loadingDiv">
        </div>
      <div class="container">
        <div class="row">
          <div class="col-12 mt-3 mb-3">
            <h2 class="font-weight-bold heading">
              Click on the blanks and then click on the correct Interrogative
              Pronouns or Question Words from the help box<span class="comma">,</span> to complete 
              the questions.
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="main-helpbox-container">
            <div class="helpbox-container">
              <div class="helpbox-img-container">
                <img src="assets/std01-interrogative-pronouns-worksheet1/img/helpbox-bg.png" alt="" class="img-fluid">
              </div>
              <div class="helpbox">
                <span>Who</span>
              </div>
            </div>
            <div class="helpbox-container">
              <div class="helpbox-img-container">
                <img src="assets/std01-interrogative-pronouns-worksheet1/img/helpbox-bg.png" alt="" class="img-fluid">
              </div>
              <div class="helpbox">
                <span>Whose</span>
              </div>
            </div>
            <div class="helpbox-container">
              <div class="helpbox-img-container">
                <img src="assets/std01-interrogative-pronouns-worksheet1/img/helpbox-bg.png" alt="" class="img-fluid">
              </div>
              <div class="helpbox">
                <span>What</span>
              </div>
            </div>
            <div class="helpbox-container">
              <div class="helpbox-img-container">
                <img src="assets/std01-interrogative-pronouns-worksheet1/img/helpbox-bg.png" alt="" class="img-fluid">
              </div>
              <div class="helpbox">
                <span>When</span>
              </div>
            </div>
            <div class="helpbox-container">
              <div class="helpbox-img-container">
                <img src="assets/std01-interrogative-pronouns-worksheet1/img/helpbox-bg.png" alt="" class="img-fluid">
              </div>
              <div class="helpbox">
                <span>Where</span>
              </div>
            </div>
            <div class="helpbox-container">
              <div class="helpbox-img-container">
                <img src="assets/std01-interrogative-pronouns-worksheet1/img/helpbox-bg.png" alt="" class="img-fluid">
              </div>
              <div class="helpbox">
                <span>Why</span>
              </div>
            </div>
            <div class="helpbox-container">
              <div class="helpbox-img-container">
                <img src="assets/std01-interrogative-pronouns-worksheet1/img/helpbox-bg.png" alt="" class="img-fluid">
              </div>
              <div class="helpbox">
                <span>Which</span>
              </div>
            </div>
            <div class="helpbox-container">
              <div class="helpbox-img-container">
                <img src="assets/std01-interrogative-pronouns-worksheet1/img/helpbox-bg.png" alt="" class="img-fluid">
              </div>
              <div class="helpbox">
                <span>How</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="main-question-container">
            <!-- 1 -->
            <div class="question-container">
              <div class="number"><span>1)</span></div>
              <div class="text-container">
                <div class="input-container">
                  <input type="text">
                  <div class="correct-answer">
                    <span>When</span>
                  </div>
                </div>
                <span>do your holidays begin?</span>
              </div>
              <div class="img-container">
                <img src="assets/std01-interrogative-pronouns-worksheet1/img/q1.png" alt="" class="img-fluid">
              </div>
            </div>
            <!-- 2 -->
            <div class="question-container">
              <div class="number"><span>2)</span></div>
              <div class="text-container">
                <div class="input-container">
                  <input type="text">
                  <div class="correct-answer">
                    <span>Who</span>
                  </div>
                </div>
                <span>stole your pencil?</span>
              </div>
              <div class="img-container">
                <img src="assets/std01-interrogative-pronouns-worksheet1/img/q2.png" alt="" class="img-fluid">
              </div>
            </div>
            <!-- 3 -->
            <div class="question-container">
              <div class="number"><span>3)</span></div>
              <div class="text-container">
                <div class="input-container">
                  <input type="text">
                  <div class="correct-answer">
                    <span>What</span>
                  </div>
                </div>
                <span>would you like to do on Sunday?</span>
              </div>
              <div class="img-container">
                <img src="assets/std01-interrogative-pronouns-worksheet1/img/q3.png" alt="" class="img-fluid">
              </div>
            </div>
            <!-- 4 -->
            <div class="question-container">
              <div class="number"><span>4)</span></div>
              <div class="text-container">
                <div class="input-container">
                  <input type="text">
                  <div class="correct-answer">
                    <span>How</span>
                  </div>
                </div>
                <span>do you go to school?</span>
              </div>
              <div class="img-container">
                <img src="assets/std01-interrogative-pronouns-worksheet1/img/q4.png" alt="" class="img-fluid">
              </div>
            </div>
            <!-- 5 -->
            <div class="question-container">
              <div class="number"><span>5)</span></div>
              <div class="text-container">
                <div class="input-container">
                  <input type="text">
                  <div class="correct-answer">
                    <span>Whose</span>
                  </div>
                </div>
                <span>is that big house? </span>
              </div>
              <div class="img-container">
                <img src="assets/std01-interrogative-pronouns-worksheet1/img/q5.png" alt="" class="img-fluid">
              </div>
            </div>
            <!-- 6 -->
            <div class="question-container">
              <div class="number"><span>6)</span></div>
              <div class="text-container">
                <div class="input-container">
                  <input type="text">
                  <div class="correct-answer">
                    <span>Why</span>
                  </div>
                </div>
                <span>is the music so loud?</span>
              </div>
              <div class="img-container">
                <img src="assets/std01-interrogative-pronouns-worksheet1/img/q6.png" alt="" class="img-fluid">
              </div>
            </div>
            <!-- 7 -->
            <div class="question-container">
              <div class="number"><span>7)</span></div>
              <div class="text-container">
                <div class="input-container">
                  <input type="text">
                  <div class="correct-answer">
                    <span>Which</span>
                  </div>
                </div>
                <span>of these books are yours? </span>
              </div>
              <div class="img-container">
                <img src="assets/std01-interrogative-pronouns-worksheet1/img/q7.png" alt="" class="img-fluid">
              </div>
            </div>
            <!-- 8 -->
            <div class="question-container">
              <div class="number"><span>8)</span></div>
              <div class="text-container">
                <div class="input-container">
                  <input type="text">
                  <div class="correct-answer">
                    <span>Where</span>
                  </div>
                </div>
                <span>did you see the movie?</span>
              </div>
              <div class="img-container">
                <img src="assets/std01-interrogative-pronouns-worksheet1/img/q8.png" alt="" class="img-fluid">
              </div>
            </div>
            <!-- end -->
          </div>
        </div>
        <!-- btn -->
        <div class="row btn-row">
          <div class="col-12 text-center">
              <button class="button myButton">Submit</button>
          </div>
        </div>
        <!-- btn end -->
      </div>
</div>

   
	