<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
      <div class="row">
          <div class="heading mt-3">
              <!-- <h1>Click on the blanks and then click on the underlined words from the sentences and classify them correctly as Proper and Common Nouns.</h1> -->
              <h1>Click on the blanks and then click on the underlined words from the sentences<span class="comma">,</span> to classify them correctly as Proper and Common Nouns.</h1>
          </div>
      </div>
      <div class="row Main_Container">
          <div class="col-12 Question_Container">
              <div class="Question_Row">
                  <div class="number">1</div>
                  <div class="content"><u>Jack</u> likes to eat <u>sandwiches</u> and chips.</div>
                  <div class="imgBlock"><img src="assets/std01-mixed-noun-worksheet4/img/sandwich.png" alt=""></div>
              </div>
              <div class="Question_Row">
                  <div class="number">2</div>
                  <div class="content"><u>Anna</u> does her <u>homework</u> in the afternoon.</div>
                  <div class="imgBlock"><img src="assets/std01-mixed-noun-worksheet4/img/homework.png" alt=""></div>
              </div>
              <div class="Question_Row">
                  <div class="number">3</div>
                  <div class="content">I met my <u>cousins</u> during my <u>holidays</u>.</div>
                  <div class="imgBlock"><img src="assets/std01-mixed-noun-worksheet4/img/cousin.png" alt=""></div>
              </div>
              <div class="Question_Row">
                  <div class="number">4</div>
                  <div class="content"><u>Jenna</u> chose a pink <u>dress</u> for her birthday.</div>
                  <div class="imgBlock"><img src="assets/std01-mixed-noun-worksheet4/img/dress.png" alt=""></div>
              </div>
              <div class="Question_Row">
                  <div class="number">5</div>
                  <div class="content"><u>The Statue of Liberty</u> is in <u>New York City</u>.</div>
                  <div class="imgBlock"><img src="assets/std01-mixed-noun-worksheet4/img/statue.png" alt=""></div>
              </div>
              <div class="Question_Row">
                  <div class="number">6</div>
                  <div class="content">Children love to read <u>books</u> by <u>Enid Blyton</u>.</div>
                  <div class="imgBlock"><img src="assets/std01-mixed-noun-worksheet4/img/book.png" alt=""></div>
              </div>
          </div>
          <div class="col-12 Answer_Container">
              <div class="Answer_Block">
                  <div class="header_row">
                      <div class="header">Proper Nouns</div>
                      <div class="header">Common Nouns</div>
                  </div>
                  <div class="Answers">
                      <div class="Answer_Row">
                          <div class="Answer">
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>Jack</span></div>
                              </div>
                          </div>
                          <div class="Answer">
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>sandwiches</span></div>
                              </div>
                          </div>
                      </div>
                      <div class="Answer_Row">
                          <div class="Answer">
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>Anna</span></div>
                              </div>
                          </div>
                          <div class="Answer">
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>homework</span></div>
                              </div>
                          </div>
                      </div>
                      <div class="Answer_Row">
                          <div class="Answer">
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>Jenna</span></div>
                              </div>
                          </div>
                          <div class="Answer">
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>cousins</span></div>
                              </div>
                          </div>
                      </div>
                      <div class="Answer_Row">
                          <div class="Answer">
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>The Statue of Liberty</span></div>
                              </div>
                          </div>
                          <div class="Answer">
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>holidays</span></div>
                              </div>
                          </div>
                      </div>
                      <div class="Answer_Row">
                          <div class="Answer">
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>New York City</span></div>
                              </div>
                          </div>
                          <div class="Answer">
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>books</span></div>
                              </div>
                          </div>
                      </div>
                      <div class="Answer_Row">
                          <div class="Answer">
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>Enid Blyton</span></div>
                              </div>
                          </div>
                          <div class="Answer">
                              <div class="input_div">
                                  <input type="text"><div class="correct_answer"><span>dress</span></div>
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
  </div>
  <div class="btn-row">
    <button class="button myButton">Submit</button>
  </div>

</div>