<div class="bg" ngPreserveWhitespaces>
    <div class='result'>
        <div class="Box">
            <div class="imgBox">
                <img src="" alt="" class="Text keep-practicing hide">
                <img src="" alt="" class="Text outstanding hide">
                <img src="" alt="" class="Text brilliant hide">
                <img src="" alt="" class="Text good-work hide">
                <!-- <img src="" alt="" class="Text fabulous hide"> -->
            </div>
            <div class="TextBox">
                <h1></h1>
            </div>
            <img src="assets/images/close.png" alt="" class="close">
        </div>
    </div>

    <div class="loadingDiv">
    </div>

    <div class="container">
        <div class="row">
            <div class="heading mt-3">
                <h1>Click in the blanks given in boxes under Masculine Gender and then click on the correct words from the help box, for the
                    given Feminine Gender.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 Option_Container">
                <div class="options">
                    <div class="option"><span>donkey</span></div>
                    <div class="option"><span>master</span></div>
                    <div class="option"><span>czar</span></div>
                    <div class="option"><span>son-in-law</span></div>
                    <div class="option"><span>wizard</span></div>
                    <div class="option"><span>count</span></div>
                    <div class="option seventh"><span>gander</span></div>
                    <div class="empty"><span></span></div>
                    <div class="option nineth"><span>postman</span></div>
                    <div class="option tenth"><span>widower</span></div>
                    <div class="empty"><span></span></div>
                    <div class="option twelveth"><span>peacock</span></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 Question_Container">
                <div class="Header_Row">
                    <div class="header">Feminine Gender <img src="assets/std03-gender-nouns-worksheet2/img/girl.png" alt="" class="girl"> </div>
                    <div class="header">Masculine Gender <img src="assets/std03-gender-nouns-worksheet2/img/boy.png" alt="" class="boy"> </div>
                </div>
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">1)</div>
                        <div class="content">czarina</div>
                    </div>
                    <div class="answer">
                        <div class="input_Container"><input type="text"></div>
                        <div class="correct_answer"><span>czar</span></div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">2)</div>
                        <div class="content">mistress</div>
                    </div>
                    <div class="answer">
                        <div class="input_Container"><input type="text"></div>
                        <div class="correct_answer"><span>master</span></div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">3)</div>
                        <div class="content">widow</div>
                    </div>
                    <div class="answer">
                        <div class="input_Container"><input type="text"></div>
                        <div class="correct_answer"><span>widower</span></div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">4)</div>
                        <div class="content">daughter-in-law</div>
                    </div>
                    <div class="answer">
                        <div class="input_Container"><input type="text"></div>
                        <div class="correct_answer"><span>son-in-law</span></div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">5)</div>
                        <div class="content">jenny</div>
                    </div>
                    <div class="answer">
                        <div class="input_Container"><input type="text"></div>
                        <div class="correct_answer"><span>donkey</span></div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">6)</div>
                        <div class="content">countess</div>
                    </div>
                    <div class="answer">
                        <div class="input_Container"><input type="text"></div>
                        <div class="correct_answer"><span>count</span></div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">7)</div>
                        <div class="content">postwoman</div>
                    </div>
                    <div class="answer">
                        <div class="input_Container"><input type="text"></div>
                        <div class="correct_answer"><span>postman</span></div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">8)</div>
                        <div class="content">peahen</div>
                    </div>
                    <div class="answer">
                        <div class="input_Container"><input type="text"></div>
                        <div class="correct_answer"><span>peacock</span></div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">9)</div>
                        <div class="content">witch</div>
                    </div>
                    <div class="answer">
                        <div class="input_Container"><input type="text"></div>
                        <div class="correct_answer"><span>wizard</span></div>
                    </div>
                </div>
                <div class="Question_Row">
                    <div class="Question">
                        <div class="number">10)</div>
                        <div class="content">goose</div>
                    </div>
                    <div class="answer">
                        <div class="input_Container"><input type="text"></div>
                        <div class="correct_answer"><span>gander</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-row">
            <button class="button myButton">Submit</button>
        </div>


    </div>
</div>