<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
      <div class="Box">
          <div class="imgBox">
              <img src="" alt="" class="Text keep-practicing hide">
              <img src="" alt="" class="Text outstanding hide">
              <img src="" alt="" class="Text brilliant hide">
              <img src="" alt="" class="Text good-work hide">
              <!-- <img src="" alt="" class="Text fabulous hide"> -->
          </div>
          <div class="TextBox">
              <h1></h1>
          </div>
          <img src="assets/images/close.png" alt="" class="close">
      </div>
  </div>
  <div class="loadingDiv">
  </div>
<div class="container">
  <div class="row m-0 shadow">
    <div class="col-12 px-2 p-2">
      <div class="heading">
        <h2 class="font-weight-bold ">
          Let us learn about animal idioms.
        </h2>
      </div>
    </div>
    <div class="col-12 p-0 p-1">
      <h2 class="font-weight-bold">
        Click on the blanks and then click on the correct words from the help box, to 
        complete the sentences with idioms. Use pictures given at the end of the sentences as clues.
      </h2>
    </div>
  </div>
  <div class="row mt-2 mb-4">
    <div class="helpbox-container font-weight-bold ">
      <!-- 1 -->
      <div class="helpbox">
        <span>lion’s</span>
      </div>
      <!-- 2 -->
      <div class="helpbox">
        <span>pigs</span>
      </div>
      <!-- 3 -->
      <div class="helpbox">
        <span>horses</span>
      </div>
      <!-- 4 -->
      <div class="helpbox">
        <span>butterflies</span>
      </div>
      <!-- 5 -->
      <div class="helpbox">
        <span>ants</span>
      </div>
      <!-- 6 -->
      <div class="helpbox">
        <span>cats</span>
      </div>
      <!-- 7 -->
      <div class="helpbox">
        <span>dogs</span>
      </div>
      <!-- 8 -->
      <div class="helpbox">
        <span>crocodile</span>
      </div>
      <!-- end -->
    </div>
  </div>
  <div class="row">
    <div class="main-question-container">
      <div class="row m-0">
        <div class="question-container">
          <div class="row m-0">
            <!-- 1 -->
            <div class="col-12 p-0">
              <div class="question one">
                <div class="number">
                  <span>1)</span>
                </div>
                <div class="text-container text-container1">
                  <div>
                    <span>Gary had</span>
                    <input type="text" class="" id="">
                    <span class="answer-div"><span>butterflies</span></span>
                  </div>
                  <div>
                    <span>in his stomach before his Maths test.</span>
                  </div>
                  
                </div>
                <div class="img-container">
                  <div>
                    <img src="assets/std03-vocabulary-worksheet4/img/q1.png" alt="" class="img-fluid q1">
                  </div>
                </div>
              </div>
            </div>
            <!-- 2 -->
            <div class="col-12 p-0">
              <div class="question two">
                <div class="number">
                  <span>2)</span>
                </div>
                <div class="text-container text-container2">
                  <div>
                    <span>Last night, it rained</span>
                    <input type="text" class="" id="">
                    <span class="answer-div"><span>cats</span></span>

                    <span>and</span>
                    <input type="text" class="" id="">
                    <span class="answer-div ans-down2"><span>dogs</span></span>
                    <span>.</span>
                  </div>
                  
                  <!-- <div class="img-container">
                    <div>
                      <img src="assets/std03-vocabulary-worksheet4/img/q3-2.png" alt="" class="img-fluid q3-2">
                    </div>
                  </div> -->

                </div>
                <div class="img-container">
                  <div>
                      <img src="assets/std03-vocabulary-worksheet4/img/q3-2.png" alt="" class="img-fluid q2">
                    <img src="assets/std03-vocabulary-worksheet4/img/q2.png" alt="" class="img-fluid q3-2">
                    
                  </div>
                </div>
              </div>
            </div>
            <!-- 3 -->
            <div class="col-12 p-0">
              <div class="question three">
                <div class="number">
                  <span>3)</span>
                </div>
                <div class="text-container text-container3">
                  <div>
                    <span>Ben ate the </span>
                    <input type="text" class="" id="">
                    <span class="answer-div"><span>lion’s</span></span>
                    <span>share of the pizza.</span>
                  </div>
                </div>
                <div class="img-container">
                  <div>
                    <img src="assets/std03-vocabulary-worksheet4/img/q3-1.png" alt="" class="img-fluid q3-1">
                  </div>
                </div>
              </div>
            </div>
            <!-- 4 -->
            <div class="col-12 p-0">
              <div class="question four">
                <div class="number">
                  <span>4)</span>
                </div>
                <div class="text-container text-container4">
                  <div>
                    <span>When Peter’s mom shouted at him for breaking the vase, he got</span>
                    <input type="text" class="" id="">
                    <span class="answer-div ans-down4"><span>crocodile</span></span>
                    <span>tears in his eyes.
                     </span>
                  </div>
                </div>
                <div class="img-container">
                  <div>
                    <img src="assets/std03-vocabulary-worksheet4/img/q4.png" alt="" class="img-fluid q4">
                  </div>
                </div>
              </div>
            </div>
            <!-- 5 -->
            <div class="col-12 p-0">
              <div class="question five">
                <div class="number">
                  <span>5)</span>
                </div>
                <div class="text-container text-container5">
                  <div>
                    <span>Billy told Sam to hurry up with the answer. At that time Sam said, “Hold your</span>
                    <input type="text" class="" id="">
                    <span class="answer-div ans-down5"><span>horses</span></span>
                    <span>.”</span>
                  </div>
                </div>
                <div class="img-container">
                  <div>
                    <img src="assets/std03-vocabulary-worksheet4/img/q5.png" alt="" class="img-fluid q5">
                  </div>
                </div>
              </div>
            </div>
            <!-- 6 -->
            <div class="col-12 p-0">
              <div class="question six">
                <div class="number">
                  <span>6)</span>
                </div>
                <div class="text-container text-container6">
                  <div>
                    <span>Mr. Brown says that he will clean the garage every weekend, but his wife thinks he will do it only 
                      when</span>
                    <input type="text" class="" id="">
                    <span class="answer-div ans-down6"><span>pigs</span></span>
                    <span>fly.</span>
                  </div>
                </div>
                <div class="img-container">
                  <div>
                    <img src="assets/std03-vocabulary-worksheet4/img/q6.png" alt="" class="img-fluid q6">
                  </div>
                </div>
              </div>
            </div>
            <!-- 7 -->
            <div class="col-12 p-0">
              <div class="question seven">
                <div class="number">
                  <span>7)</span>
                </div>
                <div class="text-container text-container7">
                  <div>
                    <span> Children had </span>
                    <input type="text" class="" id="">
                    <span class="answer-div"><span>ants</span></span>
                    <span>in their pants before the school field trip.</span>
                  </div>
                </div>
                <div class="img-container">
                  <div>
                    <img src="assets/std03-vocabulary-worksheet4/img/q7.png" alt="" class="img-fluid q7">
                  </div>
                </div>
              </div>
            </div>
            <!-- end -->
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row pb-3 btn-row">
      <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
      </div>
  </div>

</div>
</div>