<div class="bg" ngPreserveWhitespaces>
	<div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
	<div class="loadingDiv">
	</div>
	<div class="container " id="container">
		<div class="row heading-container">
			<div class="col-xs-12 px-2 p-2 mt-3">
				<h2 class="font-weight-bold heading">
				Click in the blanks given below the words and then click on the correct Homophones from the help box, of the given words.
				</h2>
			</div>
		</div>
		<div class="main-container">
			<div class="row">
				<div class="helpcontainer">
					<div class="helpbox text-center">
						<div class="row m-0">
							<div class="col-2 p-0 p1">
								<div>
									<span>red</span>
								</div>
							</div>
							<div class="col-2 p-0 p1">
								<div>
									<span>doe</span>
								</div>
							</div>
							<div class="col-2 p-0 p1">
								<div>
									<span>blue</span>
								</div>
							</div>
							<div class="col-2 p-0 p1">
								<div>
									<span>meat</span>
								</div>
							</div>
							<div class="col-2 p-0 p1">
								<div>
									<span>eight</span>
								</div>
							</div>
							<div class="col-2 p-0 p1">
								<div>
									<span>sail</span>
								</div>
							</div>
							<div class="col-2 p-0">
								<div>
									<span>flour</span>
								</div>
							</div>
							<div class="col-2 p-0">
								<div>
									<span>know</span>
								</div>
							</div>
							<div class="col-2 p-0">
								<div>
									<span>stare</span>
								</div>
							</div>
							<div class="col-2 p-0">
								<div>
									<span>waste</span>
								</div>
							</div>
							<div class="col-2 p-0">
								<div>
									<span>plane</span>
								</div>
							</div>
							<div class="col-2 p-0">
								<div>
									<span>roll</span>
								</div>
							</div>
						</div>
					</div>
					</div>

			</div>
			
			<div class="row">
			<div class="Question-container ">
				<div class="row m-0">
					<img src="assets/std01-homophones-worksheet4/img/bus.png" alt="" class="img-fluid bus">
					<div class="main-questions w-100">
						<div class="questions-row1">
							<div class="row m-0">
								<div class="col-2 p-0">
									<div class="width-100">
										dough
									</div>
									<div class="width-100 question">
											<div>
												<span class="input-span"><input type="text" value=""></span>
											<span class="answer"><span>doe</span></span></div>
									</div>
									<!-- <div class="answer-div">
										<span class="answer">
											roll
										</span>
									</div> -->
								</div>
								<!-- 2 -->
								<div class="col-2 p-0">
									<div class="width-100">
										role
									</div>
									<div class="width-100">
										<div><span class="input-span"><input type="text" value="" ></span>
										<span class="answer"><span>roll</span></span></div>
									</div>
								</div>
								<!-- 3 -->
								<div class="col-2 p-0">
									<div class="width-100">
										stair
									</div>
									<div class="width-100">
										<div><span class="input-span"><input type="text" value="" ></span>
										<span class="answer"><span>stare</span></span></div>
									</div>
								</div>
								<!-- 4 -->
								<div class="col-2 p-0">
									<div class="width-100">
										plain
									</div>
									<div class="width-100">
										<div><span class="input-span"><input type="text" value="" ></span>
										<span class="answer"><span>plane</span></span></div>
									</div>
								</div>
								<!-- 5-->
								
								<div class="col-2 p-0">
									<div class="width-100">
										sale 	
									</div>
									<div class="width-100">
										<div><span class="input-span"><input type="text" value="" ></span>
										<span class="answer"><span>sail</span></span></div>
									</div>
								</div>
								<!-- 5 -->
								<div class="col-2 p-0">
									<div class="width-100">
										no
									</div>
									<div class="width-100">
										<div><span class="input-span"><input type="text" value="" ></span>
										<span class="answer"><span>know</span></span></div>
									</div>
								</div>
								<!-- end -->
							</div>	
						</div>
						
						<div class="questions-row1 questions-row2">
							<div class="row m-0">
								<div class="col-2 p-0">
									<div class="width-100">
										blew 
									</div>
									<div class="width-100">
										<div><span class="input-span"><input type="text" value="" ></span>
										<span class="answer"><span>blue</span></span></div>
									</div>
								</div>
								<!-- 2 -->
								<div class="col-2 p-0">
									<div class="width-100">
										ate 
									</div>
									<div class="width-100">
										<div><span class="input-span"><input type="text" value="" ></span>
										<span class="answer"><span>eight</span></span></div>
									</div>
								</div>
								<!-- 3 -->
								<div class="col-2 p-0">
									<div class="width-100">
										flower 
									</div>
									<div class="width-100">
										<div><span class="input-span"><input type="text" value="" ></span>
										<span class="answer"><span>flour</span></span></div>
									</div>
								</div>
								<!-- 4 -->
								<div class="col-2 p-0">
									<div class="width-100">
										read 
									</div>
									<div class="width-100">
										<div><span class="input-span"><input type="text" value="" ></span>
										<span class="answer"><span>red</span></span></div>
									</div>
									
								</div>
								<!-- 5-->
								<div class="col-2 p-0">
									<div class="width-100">
										waist
									</div>
									<div class="width-100">
										<div><span class="input-span"><input type="text" value="" ></span>
										<span class="answer "><span>waste</span></span></div>
									</div>
								</div>
								<!-- 6 -->
								<div class="col-2 p-0">
									<div class="width-100">
										meet 
									</div>
									<div class="width-100">
										<div><span class="input-span"><input type="text" value="" ></span>
										<span class="answer"><span>meat</span></span></div>
									</div>
								</div>
								<!-- end -->
							</div>	
						</div>
						
					</div>
				</div>
			</div>
			</div>	

			<div class="row btn-row">
				<div class="col-12 text-center">
						<button class="button myButton">Submit</button>
				</div>
			</div>


		</div>
	</div>
  
</div>