@font-face {
    font-family: "CustomFont";
    src: url(http://completegrammar.com/assets/font/ntailu.ttf) format("truetype");
}
@font-face {
    font-family: "CustomFontBold";
    src: url(http://completegrammar.com/assets/font/ntailub.ttf) format("truetype");
}
   

@font-face {
    font-family: mt-rounded-bold;
    src: url(http://completegrammar.com/assets/font/ARLRDBD.ttf) format("truetype");
}
.comma{
    font-family: rounded-mt-bold,'Microsoft New Tai Lue','Arial';
}


.bg{
    font-family: CustomFont,'Microsoft New Tai Lue';
    color:#000;
    font-size:25px;
	background: url(/assets/std01-homophones-worksheet4/img/bg.jpg) no-repeat center bottom  #c6563e;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

/* button */

.myButton {
    -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
    -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
    background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
    background-color:#c62d1f;
    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    border-radius:18px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
    line-height: 1;
    outline:0 !important;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
    background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
    background-color:#f24437;
}
.myButton:active {
    position:relative;
    top:1px;
}
.btn-row{
    position: absolute;
    margin-top:150px !important;
    margin-bottom: 10px !important;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

/* end button */



h2{
    color:#000;
    font-family: mt-rounded-bold,'Microsoft New Tai Lue','Arial';
}
h2.heading{
    font-weight: normal !important;
}
 .answer
{
    font-family: CustomFontBold,'Microsoft New Tai Lue';
    text-align: center;
    text-shadow: -1px 0px 0 #000, 0px 0px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    margin-left: 2px;
    font-size:20px;
    font-weight: bold;
    width: 100%;
    left: 0;
    display: block;
    display: none;
}
.answer span{
    -webkit-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	-moz-text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    padding-left: 5px;
    padding-right: 5px;
    background: #fff;
    color: #35b92c;
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
}
/*.ans-div
{
    display: inline-block;
    font-weight: 500;
    display: none;
} */
.main-container
{
    width: 93%;
    margin: auto;
}

.helpcontainer
{
    background: url(http://completegrammar.com/assets/std01-homophones-worksheet4/img/helpbox.png) no-repeat;
    background-size: 100%;
    height: 150px;
   
}
.helpbox
{
    width: 90%;
    margin: auto;
    padding-top: 20px;
    cursor: pointer;
}
.helpbox .col-2:nth-child(1),.helpbox .col-2:nth-child(2),.helpbox .col-2:nth-child(3),.helpbox .col-2:nth-child(4),
.helpbox .col-2:nth-child(5),.helpbox .col-2:nth-child(6)
{
    border-bottom: 1px solid #fff;
}
.helpbox .col-2
{
    border-right: 1px solid #fff;
}
.helpbox .col-2:nth-child(6),.helpbox .col-2:nth-child(12)
{
    border-right: unset;
}
.helpbox .col-2:nth-child(7),.helpbox .col-2:nth-child(8),.helpbox .col-2:nth-child(9),.helpbox .col-2:nth-child(10),
.helpbox .col-2:nth-child(11),.helpbox .col-2:nth-child(12)
{
    padding-top:5px !important;

}

.Question-container{
    width: 100%;
    margin: auto;
    margin-bottom: 6%;
    color: #fff;
    position: relative;
}
.input-span{
    border-bottom: 1px solid #fff;
}
input {
    border: 0;
    outline: 0;
    background-color: transparent;
    padding: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.bus
{
    height: 400px;
    position: absolute;
}
.main-questions
{
    position: relative;
    /* top: 0; */
    top: 70px;
    text-align: center;
}
.questions-row1
{
    color: #fff;
    width: 83%;
    margin: auto
}
.questions-row1 .row .col-2:nth-child(2)
{
    padding-left: 10px !important;
}
.questions-row1 .row .col-2:nth-child(3)
{
    padding-left: 20px !important;
}
.questions-row1 .row .col-2:nth-child(4)
{
    padding-left: 33px !important;
}
.questions-row1 .row .col-2:nth-child(5)
{
    padding-left: 47px !important;
}
.questions-row1 .row .col-2:nth-child(6)
{
    padding-left: 60px !important;
}

.questions-row2
{
    color: #fff;
    margin-top:32px;
    width: 85%;
}
.questions-row1 .col-2 .width-100:nth-child(1)
{
    border-bottom: 1px solid #fff;
}
.questions-row1 .col-2 .width-100:nth-child(2) div
{
   display: inline-block;
   width: 85px;
   position: relative;
}

.questions-row1 .row .col-2:nth-child(1) .width-100
{
   width: 90% !important;
}
@media (min-width:100px) and (max-width:320px){
    
}

@media (min-width:100px) and (max-width:575px) and  (orientation:portrait){
    .bg {    
        font-family:Microsoft New Tai lue;
        color:#000;
        font-size:15px;
        background: url(http://completegrammar.com/assets/std01-homophones-worksheet4/img/bg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    div{
       display: none !important;
    }
}

@media (min-width:540px) and (max-width:575px)
{
    h2{
        font-size: 1.3rem;
    }
    .container {
        max-width: unset;
    }
    .bg {   font-size: 11px;}
    
    .Question-container,.heading-container  {
        width: 95%;
       
    }
    .helpbox
    {
        padding-top: 9px;
    }

    .bus {
        height: 230px;
    }
    .main-questions {
        top: 40px;
    }
    .helpcontainer{
        height: 100px;
    }

    .questions-row1 .row .col-2:nth-child(2)
    {
        padding-left: 6px !important;
    }
    .questions-row1 .row .col-2:nth-child(3)
    {
        padding-left: 10px !important;
    }
    .questions-row1 .row .col-2:nth-child(4)
    {
        padding-left: 16px !important;
    }
    .questions-row1 .row .col-2:nth-child(5)
    {
        padding-left: 27px !important;
    }
    .questions-row1 .row .col-2:nth-child(6)
    {
        padding-left: 28px !important;
    }

    .questions-row2 {
        margin-top: 22px;
        
    }
    .questions-row1 .col-2 .width-100:nth-child(2) div
    {
       width: 35px;
    }
    .questions-row2 .row .col-2:nth-child(5)
    {
        padding-left: 22px !important;
    }
    .answer{
        font-size: 10px;
    }
    .questions-row2 {
        margin-top: 35px;
    }
    .btn-row {
        margin-top: 100px !important;
    }

}






@media (min-width: 576px) and (max-width: 767px){
    h2{
        font-size: 1.3rem;
    }
    .container {
        max-width: unset;
    }
    .bg {   font-size: 15px;}
    
    .Question-container,.heading-container  {
        width: 95%;
       
    }
    .helpbox
    {
        padding-top: 15px;
    }
.Question-container {
    position: relative;
}
    .bus {
        height: 230px;
        position: absolute;
    }
    .main-questions{
        top: 40px;
    }
    .helpcontainer{
        height: 100px;
    }

    .questions-row1 .row .col-2:nth-child(2)
    {
        padding-left: 6px !important;
    }
    .questions-row1 .row .col-2:nth-child(3)
    {
        padding-left: 10px !important;
    }
    .questions-row1 .row .col-2:nth-child(4)
    {
        padding-left: 16px !important;
    }
    .questions-row1 .row .col-2:nth-child(5)
    {
        padding-left: 27px !important;
    }
    .questions-row1 .row .col-2:nth-child(6)
    {
        padding-left: 28px !important;
    }

    .questions-row2 {
        margin-top: 22px;
        
    }
    .questions-row1 .col-2 .width-100:nth-child(2) div
    {
        width: 46px;
    }
    .questions-row2 .row .col-2:nth-child(5)
    {
        padding-left: 22px !important;
    }
    .answer{
        font-size: 12px;
    }
    .shift-bootom
    {
        display: block;
        margin-left: 14px;
    }

    .btn{
        margin-top: -125px !important;
    }


    .btn-row {
        margin-top: 85px !important;
    }

}
@media (min-width: 768px) and (max-width: 991px){
    h2{
        font-size: 1.6rem;
    }
    .container {
        max-width: unset;
    }
    .bg {   font-size: 18px;}
    .text-container
    {
        margin-top: -15px;
        width: 103px;
        height: 109px;
        background-size: 103px;
        padding-top: 30px;
    }
    .Question-container,.heading-container  {
        width: 95%;
       
    }
    .bus{
        height: 300px;
    }
    .main-questions{
        top: 50px;
    }


    .questions-row1 .row .col-2:nth-child(2)
    {
        padding-left: 6px !important;
    }
    .questions-row1 .row .col-2:nth-child(3)
    {
        padding-left: 11px !important;
    }
    .questions-row1 .row .col-2:nth-child(4)
    {
        padding-left: 20px !important;
    }
    .questions-row1 .row .col-2:nth-child(5)
    {
        padding-left: 27px !important;
    }
    .questions-row1 .row .col-2:nth-child(6)
    {
        padding-left: 33px !important;
    }
    .questions-row1 .col-2 .width-100:nth-child(2) div
    {
        width: 57px;
    }
    .answer{
        font-size: 14px;
    }
    .shift-bootom
    {
        display: block;
        margin-left: 15px;
    }
    .btn-row {
        margin-top: 120px !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    h2{
        font-size: 1.9rem;
    }
    .container {
        max-width: unset;
    }
    .bg {   font-size: 22px;}
    .Question-container,.heading-container  {
        width: 95%;
       
    }
    .questions-row1 .row .col-2:nth-child(5) {
        padding-left: 38px !important;
    }
    .questions-row1 .row .col-2:nth-child(6) {
        padding-left: 45px !important;
    }
    .questions-row1 .col-2 .width-100:nth-child(2) div {
        display: inline-block;
        width: 65px;
    }

  .main-container{
    top: 75px;
  }
  .btn-row{
   margin-top: 180px !important
  }
}
@media (min-width: 1200px){
    .container {
        max-width: unset;
    }
    h2{
        font-size: 2rem;
    }
    .heading-container  {
        width: 1140px;
        margin: auto;
       
    }
    .Question-container{
        width: 70%;
    }
	
}
@media (min-width: 992px){
}

@media (min-width: 1900px)
{
    h2 {
        font-size: 2.5rem;
    }
    .container{
        max-width: 1400px;
    }
    .main-container{
        transform: scale(1.2);
        margin-top: 7%;
    }
    .Question-container{
        margin-top: 55px;
    }
    .helpcontainer {
        margin-left: 10%;
    }

}

// External CSS End

// Common CSS Start
.loadingDiv {
    position: fixed;;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.4);
    background-image:url('/assets/images/loader.gif');
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    background-size: 85px;
  }

.result{
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:rgba(0,0,0,.8);
    z-index:2147483647;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor:pointer;
}
.result .Box{
    position: relative;
    padding:45px 55px 30px 20px
}
.result .imgBox{
    display:none;
}
.result img{
    max-width:100%;
}
.result .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor:pointer;
}
.result .TextBox h1 {
    font-size: 2.5rem;
    margin-top: 0;
    font-family: 'mt-rounded-bold','Microsoft New Tai Lue','Arial';
    font-weight:bold;
    text-align:center;
    color:#fff;
    -webkit-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	-moz-text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	padding:10%;
	max-width:800px;
}
@media(min-width:100px) and (max-width:575px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
    .result .close {
        right: 15px;
    }
}
@media(min-width:576px) and (max-width:767px){
    .result .Box {
        padding: 45px 20px 30px 20px;
    }
}
.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:inherit;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	line-height: 1;
	outline:0 !important;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}

.button.playAgain {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:inherit;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.button.playAgain:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.button.playAgain:active {
	position:relative;
	top:1px;
}


#toggle {
    display: block;
    right: 56px;
    top: 35px;
    background: #f3ecec;
    border-radius: 50%;
    border: 4px solid #3b7ee2;
    opacity: 0.7;
    text-align: center;
    padding: 10px;
    
  }

  #toggle:hover
  {
    opacity: 1;
    border: 4px solid #3b7ee2;
    
  }
  
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
  }
  #toggle span {
    position: relative;
    display: inline;
  }
  
  #toggle span
  {
    width: 50px;
    height: 50px;
    text-align: center;
    padding:0%;
  }

  #toggle span img
  {
    width:25px;
    height:25px;
    margin:0;
  }
  
  /* on activation */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
    -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  

  /* menu appearance*/
#menu {
    position: absolute;
    color: #000;
    width: 140px;
    padding: 10px;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0px 3px 11px 1px rgba(27, 24, 24, 0.24);
    font-size: 16px;
    left: -190%;
    z-index: 9;
    text-align: right;
    top: 145%;
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;  
}
.change{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1; 
}
.notchange{
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#menu:after {
    position: absolute;
    top: -20px;
    left: 107px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #ffffff;
}
ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-weight: normal;
}
li a {
    padding: 5px;
    color: #000;
    text-decoration: none;
    transition: all .2s;
}
li a:hover,
li a:focus {
    background: #1798dc;
    color: #fff;
    text-decoration: none;
}
.menu-block{
    position: fixed;
    right: 46px;
    top: 35px;
    z-index: 2147483646;
    height: 50px;
}
.up {
    transform: rotate(180deg) translateY(0%);
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
} 
@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
}
@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,  -20%, 0);
        transform: translate3d(0,  -20%, 0);
        visibility: hidden;
    }
} 

@media(min-width:100px) and (max-width:575px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:576px) and (max-width:767px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:768px) and (max-width:991px){
    .menu-block {
        right: 10px;
    }
    #toggle {
        padding: 5px;
    }
    #menu{
        top: 123%;
        left: -235%;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .menu-block {
        right: 10px;
    }
    #menu:after {
        left: 140px;
    }
    #menu {
        font-size: 18px;
        left: -240%;
        top: 140%;
        width: 175px;
    }
    #toggle {
        height: 53px;
        width: 53px;
        line-height: 48px;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 26px;
    }
    #toggle{
        height: 60px;
        width: 60px;
        line-height: 55px;
        padding: 10px;
    }
    .menu-block {
        right: 20px;
    }
    #menu:after {
        left: 205px;
    }
    #toggle span img {
        width: 33px;
        height: 33px;
        margin: 0;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
	#menu {
        top: 70px;
        left: -190px;
        width: 250px;
        font-size: 30px;
    }
}
@media(min-width:1200px){
	#menu {
        top: 70px;
        left: -135px;
        width: 180px;
        font-size: 18px;
    }
    #menu:after {
        left: 145px;
    }
    #toggle{
        height: 55px;
        width: 55px;
        line-height: 50px;
    }
}


.click {
    color: #fff;
}

.bd {
    border-bottom: 2px solid #35b92c;
}

.hide {
    display: none;
}