<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
			<div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
  <div class="loadingDiv">
  </div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 mb-1 mb-lg-3">
				<h2 class="font-weight-bold heading">
					Click on the blanks and then click on the correct Conjunctions from the help box, to complete the sentences. Use the jumbled alphabets in the brackets as clues.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="helpbox-cotainer">
				<div class="helpbox"><span>unless</span></div>
				<div class="helpbox"><span>yet</span></div>
				<div class="helpbox"><span>and</span></div>
				<div class="helpbox"><span>until</span></div>
				<div class="helpbox"><span>or</span></div>
				<div class="helpbox"><span>before</span></div>
				<div class="helpbox"><span>so</span></div>
				<div class="helpbox"><span>since</span></div>
				<div class="helpbox"><span>after</span></div>
				<div class="helpbox"><span>but</span></div>
			</div>
		</div>
		<div class="row">
			<div class="main-question-container">
				<!-- 1 -->
				<div class="question">
					<div class="number"><span>1)</span></div>
					<div class="text-container">
						<span>Tara ate pancakes</span>
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>and</span>
							</div>
						</div>
						<div class="hit">
							<span>( nda )</span>
						</div>
						<span>maple syrup for breakfast.</span>
					</div>
				</div>
				<!-- 2 -->
				<div class="question">
					<div class="number"><span>2)</span></div>
					<div class="text-container">
						<span> We can go to the baseball</span>
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>or</span>
							</div>
						</div>
						<div class="hit">
							<span>( ro )</span>
						</div>
						<span>basketball game tonight.</span>
					</div>
				</div>
				<!-- 3 -->
				<div class="question">
					<div class="number"><span>3)</span></div>
					<div class="text-container">
						<span>It had stopped raining,</span>
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>so</span>
							</div>
						</div>
						<div class="hit">
							<span>( os )</span>
						</div>
						<span>Anna decided to go for a walk.</span>
					</div>
				</div>
				<!-- 4 -->
				<div class="question">
					<div class="number"><span>4)</span></div>
					<div class="text-container">
						<span>I will make a presentation for the class</span>
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>after</span>
							</div>
						</div>
						<div class="hit">
							<span>( efrat )</span>
						</div>
						<span>I complete my Maths homework. </span>
					</div>
				</div>
				<!-- 5 -->
				<div class="question">
					<div class="number"><span>5)</span></div>
					<div class="text-container">
						<span>Do not leave the school</span>
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>until</span>
							</div>
						</div>
						<div class="hit">
							<span>( nliut )</span>
						</div>
						<span>the bell rings.</span>
					</div>
				</div>
				<!-- 6 -->
				<div class="question">
					<div class="number"><span>6)</span></div>
					<div class="text-container">
						<span>Mom made lunch</span>
						<div class="input-container">
							<input type="text" >
							<div class="correct-answer">
								<span>before</span>
							</div>
						</div>
						<div class="hit">
							<span>( rbefoe )</span>
						</div>
						<span>she cleaned the house.</span>
					</div>
				</div>
				<!-- 7 -->
				<div class="question">
					<div class="number"><span>7)</span></div>
					<div class="text-container">
						<div class="input-container">
							<input type="text" style="text-transform: capitalize;">
							<div class="correct-answer">
								<span>Unless</span>
							</div>
						</div>
						<div class="hit">
							<span>( selusn )</span>
						</div>
						<span>you eat fruits and vegetables, you will not be healthy.</span>
					</div>
				</div>
				<!-- 8 -->
				<div class="question">
					<div class="number"><span>8)</span></div>
					<div class="text-container">
						<span>Peter was extremely tired</span>
						<div class="input-container">
							<input type="text">
							<div class="correct-answer">
								<span>but</span>
							</div>
						</div>
						<div class="hit">
							<span>( tbu )</span>
						</div>
						<span>he could not fall asleep.</span>
					</div>
				</div>
				<!-- 9 -->
				<div class="question">
					<div class="number"><span>9)</span></div>
					<div class="text-container">
						<div class="input-container">
							<input type="text" style="text-transform: capitalize;">
							<div class="correct-answer ">
								<span>Since</span>
							</div>
						</div>
						<div class="hit">
							<span>( nisce )</span>
						</div>
						<span>it is a holiday tomorrow, the kids decided to stay up late.</span>
					</div>
				</div>
				<!-- 10 -->
				<div class="question">
					<div class="number"><span>10)</span></div>
					<div class="text-container">
						<span>Sharon has enough pairs of shoes </span>
						<div class="input-container">
							<input type="text">
							<div class="correct-answer ">
								<span>yet</span>
							</div>
						</div>
						<div class="hit">
							<span>( ety )</span>
						</div>
						<span> she wants more.</span>
					</div>
				</div>
				<!-- end -->
			</div>
		</div>
		<div class="row btn-row">
			<div class="col-12 text-center">
					<button class="button myButton">Submit</button>
			</div>
		</div>
	</div>
</div>