<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
		<div class="Box">
            <div class="imgBox">
				<img src="" alt="" class="Text keep-practicing hide">
				<img src="" alt="" class="Text outstanding hide">
				<img src="" alt="" class="Text brilliant hide">
				<img src="" alt="" class="Text good-work hide">
				<!-- <img src="" alt="" class="Text fabulous hide"> -->
			</div>
			<div class="TextBox">
				<h1></h1>
			</div>
			<img src="assets/images/close.png" alt="" class="close">
		</div>
	</div>
    
  <div class="loadingDiv">
	</div>
	
  <div class="container">
		<div class="heading">
			<h1>Click in the boxes below the numbers and then click on the correct Rhyming Words from Column B, of the words given in Column A.</h1>
		</div>
        <div class="Main_Container">
            <div class="Question_Container">
                <div class="header_row">
                    <div class="header" style="box-shadow: none;
                    background: none;">Column  A</div>
                    <div class="header" style="box-shadow: none;
                    background: none;">Column  B</div>
                </div>
                <div class="Question_Block">
                    <div class="Question_row">
                        <div class="Question">
                            <div class="number">1</div>
                            <div class="content">side</div>
                        </div>
                        <div class="option">
                            <div class="alpha">A</div>
                            <div class="content">pill</div>
                        </div>
                    </div>
                    <div class="Question_row">
                        <div class="Question">
                            <div class="number">2</div>
                            <div class="content">bun</div>
                        </div>
                        <div class="option">
                            <div class="alpha">B</div>
                            <div class="content">tide</div>
                        </div>
                    </div>
                    <div class="Question_row">
                        <div class="Question">
                            <div class="number">3</div>
                            <div class="content">block</div>
                        </div>
                        <div class="option">
                            <div class="alpha">C</div>
                            <div class="content">tool</div>
                        </div>
                    </div>
                    <div class="Question_row">
                        <div class="Question">
                            <div class="number">4</div>
                            <div class="content">mill</div>
                        </div>
                        <div class="option">
                            <div class="alpha">D</div>
                            <div class="content">clock</div>
                        </div>
                    </div>
                    <div class="Question_row">
                        <div class="Question">
                            <div class="number">5</div>
                            <div class="content">freed</div>
                        </div>
                        <div class="option">
                            <div class="alpha">E</div>
                            <div class="content">grain</div>
                        </div>
                    </div>
                    <div class="Question_row">
                        <div class="Question">
                            <div class="number">6</div>
                            <div class="content">drain</div>
                        </div>
                        <div class="option">
                            <div class="alpha">F</div>
                            <div class="content">nun</div>
                        </div>
                    </div>
                    <div class="Question_row">
                        <div class="Question">
                            <div class="number">7</div>
                            <div class="content">pool</div>
                        </div>
                        <div class="option">
                            <div class="alpha">G</div>
                            <div class="content">slum</div>
                        </div>
                    </div>
                    <div class="Question_row">
                        <div class="Question">
                            <div class="number">8</div>
                            <div class="content">plum</div>
                        </div>
                        <div class="option">
                            <div class="alpha">H</div>
                            <div class="content">greed</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Answer_Container">
                <div class="Answer_Block">
                    <div class="Answers">
                        <div class="Answer">
                            <div class="answer_alpha">1</div>
                            <div class="input_div"><input type="text"></div>
                            <div class="correct_answer">B</div>
                        </div>
                        <div class="Answer">
                            <div class="answer_alpha">2</div>
                            <div class="input_div"><input type="text"></div>
                            <div class="correct_answer">F</div>
                        </div>
                        <div class="Answer">
                            <div class="answer_alpha">3</div>
                            <div class="input_div"><input type="text"></div>
                            <div class="correct_answer">D</div>
                        </div>
                        <div class="Answer">
                            <div class="answer_alpha">4</div>
                            <div class="input_div"><input type="text"></div>
                            <div class="correct_answer">A</div>
                        </div>
                        <div class="Answer">
                            <div class="answer_alpha">5</div>
                            <div class="input_div"><input type="text"></div>
                            <div class="correct_answer">H</div>
                        </div>
                        <div class="Answer">
                            <div class="answer_alpha">6</div>
                            <div class="input_div"><input type="text"></div>
                            <div class="correct_answer">E</div>
                        </div>
                        <div class="Answer">
                            <div class="answer_alpha">7</div>
                            <div class="input_div"><input type="text"></div>
                            <div class="correct_answer">C</div>
                        </div>
                        <div class="Answer">
                            <div class="answer_alpha">8</div>
                            <div class="input_div"><input type="text"></div>
                            <div class="correct_answer">G</div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<div class="btn-row">
			<button class="button myButton">Submit</button>
		</div>
       
  </div>

</div>