<div class="bg" ngPreserveWhitespaces>
  <div class='result'>
    <div class="Box">
      <div class="imgBox">
        <img src="" alt="" class="Text keep-practicing hide">
        <img src="" alt="" class="Text outstanding hide">
        <img src="" alt="" class="Text brilliant hide">
        <img src="" alt="" class="Text good-work hide">
        <!-- <img src="" alt="" class="Text fabulous hide"> -->
      </div>
      <div class="TextBox">
        <h1></h1>
      </div>
      <img src="assets/images/close.png" alt="" class="close">
    </div>
  </div>
  <div class="loadingDiv">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3 mb-3">
        <h2 class="font-weight-bold heading">
          <!-- Click on the blanks and then click on the correct Synonyms from the help box, of the given words on the treasure boxes.  -->
          Click on the blanks given in the treasure chests and then click on the correct Synonyms from the help box, of
          the given words.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="helpbox-container">
        <div class="helpbox">
          <div class="img-container"><img src="assets/std02-synonyms-worksheet8/img/helpbox.png" alt="" class="img-fluid"></div>
          <div class="helpbox-text"><span>error</span></div>
        </div>
        <div class="helpbox">
          <div class="img-container"><img src="assets/std02-synonyms-worksheet8/img/helpbox.png" alt="" class="img-fluid"></div>
          <div class="helpbox-text"><span>silly</span></div>
        </div>
        <div class="helpbox">
          <div class="img-container"><img src="assets/std02-synonyms-worksheet8/img/helpbox.png" alt="" class="img-fluid"></div>
          <div class="helpbox-text"><span>untrue</span></div>
        </div>
        <div class="helpbox">
          <div class="img-container"><img src="assets/std02-synonyms-worksheet8/img/helpbox.png" alt="" class="img-fluid"></div>
          <div class="helpbox-text"><span>baby</span></div>
        </div>
        <div class="helpbox">
          <div class="img-container"><img src="assets/std02-synonyms-worksheet8/img/helpbox.png" alt="" class="img-fluid"></div>
          <div class="helpbox-text"><span>odd</span></div>
        </div>
        <div class="helpbox">
          <div class="img-container"><img src="assets/std02-synonyms-worksheet8/img/helpbox.png" alt="" class="img-fluid"></div>
          <div class="helpbox-text"><span>bag</span></div>
        </div>
        <div class="helpbox">
          <div class="img-container"><img src="assets/std02-synonyms-worksheet8/img/helpbox.png" alt="" class="img-fluid"></div>
          <div class="helpbox-text"><span>tardy</span></div>
        </div>
        <div class="helpbox">
          <div class="img-container"><img src="assets/std02-synonyms-worksheet8/img/helpbox.png" alt="" class="img-fluid"></div>
          <div class="helpbox-text"><span>question</span></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="main-question-container">
        <!-- 1 -->
        <div class="question-container">
          <div class="question-img-container">
            <img src="assets/std02-synonyms-worksheet8/img/locker.png" alt="" class="img-fluid">
          </div>
          <div class="question">
            <div class="number"><span>1</span></div>
            <div class="text-container"><span>late</span></div>
          </div>
          <div class="main-input-container">
            <div class="input-container">
              <input type="text">
              <div class="correct-answer">
                <span>tardy</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="question-container">
          <div class="question-img-container">
            <img src="assets/std02-synonyms-worksheet8/img/locker.png" alt="" class="img-fluid">
          </div>
          <div class="question">
            <div class="number"><span>2</span></div>
            <div class="text-container"><span>ask</span></div>
          </div>
          <div class="main-input-container">
            <div class="input-container">
              <input type="text">
              <div class="correct-answer">
                <span>question</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="question-container">
          <div class="question-img-container">
            <img src="assets/std02-synonyms-worksheet8/img/locker.png" alt="" class="img-fluid">
          </div>
          <div class="question">
            <div class="number"><span>3</span></div>
            <div class="text-container"><span>mistake</span></div>
          </div>
          <div class="main-input-container">
            <div class="input-container">
              <input type="text">
              <div class="correct-answer">
                <span>error</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="question-container">
          <div class="question-img-container">
            <img src="assets/std02-synonyms-worksheet8/img/locker.png" alt="" class="img-fluid">
          </div>
          <div class="question">
            <div class="number"><span>4</span></div>
            <div class="text-container"><span>sack</span></div>
          </div>
          <div class="main-input-container">
            <div class="input-container">
              <input type="text">
              <div class="correct-answer">
                <span>bag</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 5 -->
        <div class="question-container">
          <div class="question-img-container">
            <img src="assets/std02-synonyms-worksheet8/img/locker.png" alt="" class="img-fluid">
          </div>
          <div class="question">
            <div class="number"><span>5</span></div>
            <div class="text-container"><span>infant</span></div>
          </div>
          <div class="main-input-container">
            <div class="input-container">
              <input type="text">
              <div class="correct-answer">
                <span>baby</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 6 -->
        <div class="question-container">
          <div class="question-img-container">
            <img src="assets/std02-synonyms-worksheet8/img/locker.png" alt="" class="img-fluid">
          </div>
          <div class="question">
            <div class="number"><span>6</span></div>
            <div class="text-container"><span>funny</span></div>
          </div>
          <div class="main-input-container">
            <div class="input-container">
              <input type="text">
              <div class="correct-answer">
                <span>silly</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 7 -->
        <div class="question-container">
          <div class="question-img-container">
            <img src="assets/std02-synonyms-worksheet8/img/locker.png" alt="" class="img-fluid">
          </div>
          <div class="question">
            <div class="number"><span>7</span></div>
            <div class="text-container"><span>strange</span></div>
          </div>
          <div class="main-input-container">
            <div class="input-container">
              <input type="text">
              <div class="correct-answer">
                <span>odd</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 8 -->
        <div class="question-container">
          <div class="question-img-container">
            <img src="assets/std02-synonyms-worksheet8/img/locker.png" alt="" class="img-fluid">
          </div>
          <div class="question">
            <div class="number"><span>8</span></div>
            <div class="text-container"><span>false</span></div>
          </div>
          <div class="main-input-container">
            <div class="input-container">
              <input type="text">
              <div class="correct-answer">
                <span>untrue</span>
              </div>
            </div>
          </div>
        </div>
        <!-- end -->
      </div>
    </div>
    <div class="row btn-row">
      <div class="col-12 text-center">
        <button class="button myButton">Submit</button>
      </div>
    </div>
  </div>

</div>